<div class="msg alert">
	<p><strong>É essencial</strong>:</p>
	<ol>
		<li>Manter sempre seu endereço e contatos (telefone/email) atualizados no setor Serviço Social do seu campus.</li>
		<li>Lembrar-se de ler com atenção todo o edital (no portal do {% get_valor_por_chave "comum" "instituicao_sigla" %}) e esse formulário de inscrição preenchendo corretamente todos os campos.</li>
		<li>Entregar, no período estipulado no edital, toda a documentação que comprove as informações prestadas nesse formulário de inscrição.</li>
		<li>Estar ciente de que o preenchimento desta inscrição não significa deferimento de qualquer benefício.</li>
        <li>Antes de iniciar a inscrição reúna toda a documentação que você irá precisar de todos os membros do seu grupo familiar, conforme item 6 do edital.</li>
	</ol>
</div>

{% if edital %}
    {% box 'Dados do Edital' %}
        <table class="info">
            <tr>
                <td>Descrição</td>
                <td>{{ edital.descricao }}</td>
            </tr>
            <tr>
                <td>Período do Edital</td>
                <td>{{ edital.data_inicio|format }} à {{ edital.data_termino|format }}</td>
            </tr>
            <tr>
                <td>Link do Edital</td>
                <td>{{ edital.link_edital|format }}</td>
            </tr>
            {% if edital.arquivo_instrucoes %}
                <tr>
                    <td>Instruções Gerais</td>
                    <td><a href="{% media_private edital.arquivo_instrucoes %}">Ver Arquivo</a></td>
                </tr>
            {% endif %}
        </table>
    {% endbox %}
{% endif %}
