

{% autopaginate demais_contribuicoes 100 %}
{% box 'Contribuições da Comunidade' %}
    <div class="search-and-filters">
        {% render_form filtro_form %}
    </div>
    {% if demais_contribuicoes %}
        {% paginate %}
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Usuário</th>
                    <th>Campus</th>
                    <th>Eixo do PDI</th>
                    <th>Contribuição</th>
                    <th>Situação</th>
                    <th>Avaliações</th>
                    <th>Suas Avaliações</th>
                </tr>
            </thead>
            <tbody>
                {% for contribuicao in demais_contribuicoes %}
                    <tr id="contribuicao-{{ contribuicao.id }}">
                        <td>{{ contribuicao.id }}</td>
                        <td>
                            {% if contribuicao.anonima %}
                                Anônimo
                            {% else %}
                                {{ contribuicao.cadastrada_por.get_profile.nome|format }}
                            {% endif %}
                        </td>
                        <td>{{ contribuicao.campus|format }} </td>
                        <td>{{ contribuicao.secao_pdi|format }}</td>
                        <td>{{ contribuicao.texto|urlizetrunc:30 }}</td>
                        <td>
                            {% if contribuicao.analisada %}
                                <span class="status status-success">Analisada</span>
                            {% else %}
                                <span class="status status-alert">Em análise</span>
                            {% endif %}
                        </td>
                        <td>
                            <span class="status status-success" id="qtd-concordaram-{{ contribuicao.id }}">
                                {% with total=contribuicao.concordam.count %}
                                    {{ total }} pessoa{{ total|pluralize }} concord{{ total|pluralize:"ou,aram" }}
                                {% endwith %}
                            </span>
                            <span class="status status-error" id="qtd-discordaram-{{ contribuicao.id }}">
                                {% with total=contribuicao.discordam.count %}
                                    {{ total }} pessoa{{ total|pluralize }} não concord{{ total|pluralize:"ou,aram" }}
                                {% endwith %}
                            </span>
                        </td>
                        <td id="contribuicao-suas-avaliacoes-{{ contribuicao.id }}">
                            {% if  contribuicao.cadastrada_por != request.user or contribuicao.anonima == True %}
                                <ul class="action-bar">
                                    {% with concordou=contribuicao|method:"concordou"|call:request.user discordou=contribuicao|method:"discordou"|call:request.user %}
                                        <li><a href="javascript:void(0)" id="concordar-{{ contribuicao.id }}" data-id="{{ contribuicao.id }}" class="btn concordar success {% if concordou %}checked{% endif %}{% if discordou %}unchecked{% endif %}">Concordo</a></li>
                                        <li><a href="javascript:void(0)" id="discordar-{{ contribuicao.id }}" data-id="{{ contribuicao.id }}" class="btn discordar danger no-confirm {% if discordou %}checked{% endif %}{% if concordou %}unchecked{% endif %}">Não concordo</a></li>
                                    {% endwith %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% paginate %}
    {% else %}
        <p class="msg alert">Nenhuma contribuição encontrada.</p>
    {% endif %}
{% endbox %}