{% extends super_template %}

{% block content %}
    {% if avaliacoes %}
        {% box '{{ processo.avaliado }} | Processo: {{ processo.get_tipo_display|format }}' %}
            <table>
                <thead>
                    <tr>
                        <th>Assinaturas Pendentes</th>
                        <th>Período</th>
                        <th>Setor</th>
                        <th>Avaliado com Função Gratificada</th>
                        <th>Avaliador</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for avaliacao in avaliacoes %}
                        <tr>
                            <td>
                                {% if avaliacao in avaliacoes_avaliado %}
                                    &nbsp;<span class="status status-pendente inline">Avaliado</span>
                                {% endif %}
                                {% if avaliacao in avaliacoes_avaliador %}
                                    &nbsp;<span class="status status-pendente inline">Avaliador</span>
                                {% endif %}
                                {% if avaliacao in avaliacoes_chefe %}
                                    &nbsp;<span class="status status-pendente inline">Chefe Imediato</span>
                                {% endif %}
                            </td>
                            <td>{{ avaliacao.periodo.data_inicio|format }} à {{ avaliacao.periodo.data_fim|format }}</td>
                            <td>{{ avaliacao.periodo.setor }}</td>
                            <td>{{ avaliacao.periodo.funcao_gratificada|format }}</td>
                            <td>
                                {% if avaliacao.avaliador == usuario_logado %}
                                    <strong>{{ avaliacao.avaliador }}</strong>
                                {% else %}
                                    {{ avaliacao.avaliador }}
                                {% endif %}
                            </td>
                            <td class="no-print"><a class="btn" href="/progressoes/abrir_avaliacao/{{ avaliacao.id_encoded }}/">Abrir Avaliação</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <span class="obs">{{ avaliacoes | length  }} avaliações a serem assinadas.</span>
        {% endbox %}
        {% render_form form_assinante %}
    {% else %}
        <p class="msg alert">Nenhuma avaliação pendente de assinatura referente ao processo.</p>
    {% endif %}
{% endblock %}