{% extends super_template %}

{% block content %}
    {% if avaliacao_avaliada %}
        {% box 'Assinatura do Avaliador: {{ form_assinatura_avaliador.get_assinante }}' %}
            {% if not form_assinatura_avaliador.senha_assinante_field_exibir %}
                <form>{% render_form form_assinatura_avaliador render_full=False %}</form>
            {% else %}
                {% render_form form_assinatura_avaliador %}
            {% endif %}
        {% endbox %}
    {% else %}
        <p class="msg alert">A avaliação ainda não foi realizada.</p>
    {% endif %}
{% endblock %}