{% extends super_template %}

{% block content %}
	{% box 'Modelo de Avaliação '%}
	    <table class="info">
	        <tbody>
		        <tr>
		            <td>Descrição do modelo</td>
		            <td>{{ avaliacao.nome }}</td>
		        </tr>
		        <tr>
		            <td>Avaliação para Servidores com Função Gratificada</td>
		            <td>{{ avaliacao.funcao_gratificada|format }}</td>
		        </tr>
	        </tbody>
	    </table>
	{% endbox %}

    {% box 'Critérios Avaliados '%}
	    <table>
	        <tbody>
	        	{% for item_avaliado in avaliacao.itens_avaliados.all %}
			        <tr>
			            <td>{{ item_avaliado.descricao_questao }}</td>
			        </tr>
		        {% endfor %}
	        </tbody>
	    </table>
    {% endbox %}
{% endblock %}
