{% extends super_template %}

{% block content %}
    {% if novos_processos %}
    	{% box 'Listagem de Novos Processos de Progressão' %}
			    <table>
					<thead>
						<tr>
                            <th>Servidor</th>
							<th>Data Início da Contagem</th>
							<th>Data Fim da Contagem</th>
							<th>Padrão Anterior</th>
							<th>Padrão Novo</th>
                            <th>Opções</th>
						</tr>
					</thead>
					<tbody>
					  	{% for processo in novos_processos %}
						    <tr>
                                <td><a target="_blank" href="/rh/servidor/{{ processo.avaliado.matricula }}/">{{ processo.avaliado }}</a></td>
								<td>{{ processo.data_inicio_contagem_progressao }}</td>
								<td>{{ processo.data_fim_contagem_progressao }}</td>
								<td>{{ processo.padrao_anterior }}</td>
								<td>{{ processo.padrao_novo }}</td>
                                <td>&nbsp;</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
    	{% endbox %}
    {% else %}
        <p class="msg alert">Nenhum novo processo identificado.</p>
    {% endif %}
{% endblock %}