{% extends super_template %}

{% block content %}
	{% box 'Processos de {{ avaliado }}' %}
		{% if lista_processos %}
			    <table>
					<thead>
						<tr>
							<th class="no-print">Ações</th>
                            <th>Tipo de Processo</th>
							<th>Data Início da Contagem</th>
							<th>Data Fim da Contagem</th>
							<th>Padrão Anterior</th>
							<th>Padrão Novo</th>
							<th>Situação</th>
							<th>Resultado Final</th>
                            <th class="no-print">Opções</th>
						</tr>
					</thead>
					<tbody>
					  	{% for processo in lista_processos %}
						    <tr>
								<td class="no-print">{% icon "view" "/progressoes/detalhes_processo/{{ processo.id }}/" %}</td>
                                <td>{{ processo.get_tipo_display }}</td>
								<td>{{ processo.data_inicio_contagem_progressao }}</td>
								<td>{{ processo.data_fim_contagem_progressao }}</td>
								<td>{% if processo.is_tipo_progressao_merito %}{{ processo.padrao_anterior }}{% else %}-{% endif %}</td>
                                <td>{% if processo.is_tipo_progressao_merito %}{{ processo.padrao_novo }}{% else %}-{% endif %}</td>
								<td>
									{% if processo.is_a_iniciar %}
										<span class="status status-error text-nowrap-normal">{{ processo.get_status_display }}</span>
									{% elif processo.is_em_tramite %}
										<span class="status status-em-tramite text-nowrap-normal">{{ processo.get_status_display }}</span>
									{% elif processo.is_finalizado %}
										<span class="status status-aceito text-nowrap-normal">{{ processo.get_status_display }}</span>
									{% endif %}
								</td>
								<td>
									{% if processo.is_aprovado %}
										<span class="status status-aceito text-nowrap-normal">{{ processo.obter_situacao_final_processo_as_text }}</span>
									{% elif processo.is_reprovado %}
										<span class="status status-error text-nowrap-normal">{{ processo.obter_situacao_final_processo_as_text }}</span>
									{% else %}
										<span class="status status-em-progresso text-nowrap-normal">{{ processo.obter_situacao_final_processo_as_text }}</span>
									{% endif %}
								</td>
								<td class="no-print">
                                    {% if processo.status == processo.STATUS_FINALIZADO %}
                                        <ul class="action-bar">
                                            <li><a class="btn" href="/progressoes/imprimir_processo/{{ processo.id }}/"><span class="fas fa-print" aria-hidden="true"></span> Imprimir Processo</a></li>
                                        </ul>
                                    {% endif %}
                                </td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
		{% else %}
			<p class="msg alert">Nenhum processo encontrado.</p>
		{% endif %}
	{% endbox %}
{% endblock %}