{% extends super_template %}

{% block content %}

	<div class="tab-container" data-title="Pendentes de Avaliação" data-counter="{{ lista_avaliacoes_pendentes_avaliar|length }}" data-hide-tab-on-counter-zero="true">
		{% if lista_avaliacoes_pendentes_avaliar %}
		    <table>
		        <thead>
		            <tr>
                        <th class="no-print">Ações</th>
                        <th>Processo</th>
		                <th>Avaliado</th>
		                <th>Período</th>
		                <th>Setor</th>
                        <th>Avaliado com Função Gratificada</th>
		                <th>Relação com o Avaliado</th>
		            </tr>
		        </thead>
		        <tbody>
		            {% for avaliacao in lista_avaliacoes_pendentes_avaliar %}
			            <tr>
                            <td class="no-print">{% icon "view" "/progressoes/abrir_avaliacao/{{ avaliacao.id_encoded }}/" "Abrir Avaliação" %}</td>
                            <td>{{ avaliacao.processo.get_tipo_display|format }}</td>
			                <td>
                                {% if avaliacao.processo.avaliado == usuario_logado %}
                                    <strong>{{ avaliacao.processo.avaliado }}</strong>
                                {% else %}
                                    {{ avaliacao.processo.avaliado }}
                                {% endif %}
                            </td>
                            <td>{{ avaliacao.periodo.data_inicio|format }} a {{ avaliacao.periodo.data_fim|format }}</td>
			                <td>{{ avaliacao.periodo.setor }}</td>
                            <td>{{ avaliacao.periodo.funcao_gratificada|format }}</td>
			                <td>{{ avaliacao.get_tipo_avaliador_display }}</td>
			            </tr>
		            {% endfor %}
		        </tbody>
		    </table>
		{% else %}
			<p class="msg alert">Nenhuma avaliação pendente.</p>
		{% endif %}
	</div>
	
	<div class="tab-container" data-title="Avaliadas" data-counter="{{ lista_avaliacoes_avaliadas|length }}">
		{% if lista_avaliacoes_avaliadas %}
		    <table>
		        <thead>
		            <tr>
                        <th class="no-print">Ações</th>
                        <th>Data da Avaliação</th>
                        <th>Processo</th>
		                <th>Avaliado</th>
		                <th>Período</th>
		                <th>Setor</th>
                        <th>Avaliado com Função Gratificada</th>
		                <th>Relação com o Avaliado</th>
		            </tr>
		        </thead>
		        <tbody>
		            {% for avaliacao in lista_avaliacoes_avaliadas %}
			            <tr>
                            <td class="no-print">{% icon "view" "/progressoes/abrir_avaliacao/{{ avaliacao.id_encoded }}/" "Abrir Avaliação" %}</td>
                            <td>{{ avaliacao.data_avaliacao|format }}</td>
                            <td>{{ avaliacao.processo.get_tipo_display|format }}</td>
			                <td>
                                {% if avaliacao.processo.avaliado == usuario_logado %}
                                    <strong>{{ avaliacao.processo.avaliado }}</strong>
                                {% else %}
                                    {{ avaliacao.processo.avaliado }}
                                {% endif %}
                            </td>
			                <td>{{ avaliacao.periodo.data_inicio|format }} a {{ avaliacao.periodo.data_fim|format }}</td>
			                <td>{{ avaliacao.periodo.setor }}</td>
                            <td>{{ avaliacao.periodo.funcao_gratificada|format }}</td>
			                <td>{{ avaliacao.get_tipo_avaliador_display }}</td>
			            </tr>
		            {% endfor %}
		        </tbody>
		    </table>
		{% else %}
			<p class="msg alert">Nenhuma avaliação avaliada.</p>
		{% endif %}
	</div>

	<div class="tab-container" data-title="Pendentes de Assinatura" data-counter="{{ lista_avaliacoes_pendentes_assinar|length }}" data-hide-tab-on-counter-zero="true">
		{% if lista_avaliacoes_pendentes_assinar %}
            {% for processo_avaliacoes in lista_avaliacoes_pendentes_assinar_por_processo.values %}
                {% box '{{ processo_avaliacoes.0.avaliado }} | Processo: {{ processo_avaliacoes.0.get_tipo_display|format }}' %}
                    <ul class="action-bar">
                        <li><a class="btn" href="/progressoes/assinar_processo/{{ processo_avaliacoes.0.id }}/">Assinar Processo</a></li>
                    </ul>
                    <table>
                        <thead>
                            <tr>
                                <th class="no-print">Ações</th>
                                <th>Assinaturas Pendentes</th>
                                <th>Período</th>
                                <th>Setor</th>
                                <th>Avaliado com Função Gratificada</th>
                                <th>Avaliador</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for avaliacao in processo_avaliacoes.1 %}
                                <tr>
                                    <td class="no-print">{% icon "view" "/progressoes/abrir_avaliacao/{{ avaliacao.id_encoded }}/" "Abrir Avaliação" %}</td>
                                    <td>
                                        {% if avaliacao in lista_avaliacoes_pendentes_assinar_como_avaliado %}
                                            &nbsp;<span class="status status-pendente inline">Avaliado</span>
                                        {% endif %}
                                        {% if avaliacao in lista_avaliacoes_pendentes_assinar_como_avaliador %}
                                            &nbsp;<span class="status status-pendente inline">Avaliador</span>
                                        {% endif %}
                                        {% if avaliacao in lista_avaliacoes_pendentes_assinar_como_chefe %}
                                            &nbsp;<span class="status status-pendente inline">Chefe Imediato</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ avaliacao.periodo.data_inicio|format }} a {{ avaliacao.periodo.data_fim|format }}</td>
                                    <td>{{ avaliacao.periodo.setor }} </td>
                                    <td>{{ avaliacao.periodo.funcao_gratificada|format }}</td>
                                    <td>
                                        {% if avaliacao.avaliador == usuario_logado %}
                                            <strong>{{ avaliacao.avaliador }}</strong>
                                        {% else %}
                                            {{ avaliacao.avaliador }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <span class="obs">{{ processo_avaliacoes.1|length  }} avaliações.</span>
                {% endbox %}
            {% endfor %}
		{% else %}
			<p class="msg alert">Nenhuma avaliação pendente de assinatura.</p>
		{% endif %}
	</div>

	<div class="tab-container" data-title="Assinadas" data-counter="{{ lista_avaliacoes_assinadas|length }}">
	    {% if lista_avaliacoes_assinadas %}
            <table>
                <thead>
                    <tr>
                        <th class="no-print">Ações</th>
                        <th>Data da Assinatura</th>
                        <th>Assinaturas</th>
                        <th>Processo</th>
                        <th>Avaliado</th>
                        <th>Período</th>
                        <th>Setor</th>
                        <th>Avaliado com Função Gratificada</th>
                        <th>Avaliador</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data_assinatura, avaliacao in lista_avaliacoes_assinadas %}
                        <tr>
                            <td class="no-print">{% icon "view" "/progressoes/abrir_avaliacao/{{ avaliacao.id_encoded }}/" "Abrir Avaliação" %}</td>
                            <td>{{ data_assinatura|format }}</td>
                            <td>
                                {% if avaliacao in lista_avaliacoes_assinadas_como_avaliado %}
                                    <span class="status status-success inline">Avaliado</span>
                                {% endif %}
                                {% if avaliacao in lista_avaliacoes_assinadas_como_avaliador %}
                                    <span class="status status-success inline">Avaliador</span>
                                {% endif %}
                                {% if avaliacao in lista_avaliacoes_assinadas_como_chefe %}
                                    <span class="status status-success inline">Chefe Imediato</span>
                                {% endif %}
                            </td>
                            <td>{{ avaliacao.processo.get_tipo_display|format }}</td>
                            <td>
                                {% if avaliacao.processo.avaliado == usuario_logado %}
                                    <strong>{{ avaliacao.processo.avaliado }}</strong>
                                {% else %}
                                    {{ avaliacao.processo.avaliado }}
                                {% endif %}
                            </td>
                            <td>{{ avaliacao.periodo.data_inicio|format }} a {{ avaliacao.periodo.data_fim|format }}</td>
                            <td>{{ avaliacao.periodo.setor }}</td>
                            <td>{{ avaliacao.periodo.funcao_gratificada|format }}</td>
                            <td>
                                {% if avaliacao.avaliador == usuario_logado %}
                                    <strong>{{ avaliacao.avaliador }}</strong>
                                {% else %}
                                    {{ avaliacao.avaliador }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
		{% else %}
			<p class="msg alert">Nenhuma avaliação assinada.</p>
		{% endif %}
	</div>
{% endblock %}