{% extends super_template %}

{% block content %}

{% if arquivo_pendente and perms.arquivo.pode_identificar_arquivo or perms.arquivo.pode_validar_arquivo %}
    <ul class="action-bar">
        <li><a href="/arquivo/tipos_arquivos/" class="btn default popup">Visualizar Tipos de Arquivos</a></li>
    </ul>
    {% box 'Identificação do Arquivo' %}
        {% render_form form %}
    {% endbox %}
    {% box 'Visualização Arquivo' %}
        <iframe src="/arquivo/visualizar_arquivo_pdf/{{arquivo_pendente.encrypted_pk}}" width="100%" height="500"  allowfullscreen webkitallowfullscreen></iframe>
    {% endbox %}
{% else %}
    <p class="msg errornote"><strong>Atenção:</strong> Você não possui permissão para acessar essa página.</p>
{% endif %}

{% endblock %}
