{% extends super_template %}

{% block content %}
	{% box 'Filtrar' %}
 		{% render_form form %}
 	{% endbox %}
	{% if servidores %}
	
		{% box 'Servidores Com Arquivos Pendentes de Validação' %}
			<table>
					<thead>
						<tr>
							<th class="no-print">Ações</th>
							<th>Servidor</th>
							<th>Setor</th>
							<th>Campus</th>
						</tr>
					</thead>
					<tbody>
					{% for servidor in servidores %}
						<tr>
							<td class="no-print">{% icon "view" "/arquivo/arquivos_pendentes_servidor/{{ servidor.matricula }}" %}</td>
							<td>{{ servidor }} </td>
							<td>{{ servidor.setor }}</td>
							<td>{{ servidor.campus }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endbox %}
	{% endif %}
{% endblock %}
