{% extends super_template %}

{% block content %}
{% for funcoes, dados_processos in dados_funcoes.items %}
<ul>
    <li>
        {{ funcoes }}:
        <ul>
            {% for processo, dicionario_processo in dados_processos.items %}
            <li>
                {{ processo }}
                {% if dicionario_processo|getkey:"tipos_arquivos" %}
                <ul>
                    {% for tipos_arquivos in dicionario_processo|getkey:"tipos_arquivos"%}
                    <li>
                        <b>{{ tipos_arquivos.descricao }}</b>
                    </li>
                    {%endfor%}
                </ul>
                {% endif %}
                {% if dicionario_processo|getkey:"filhos" %}
                <ul>
                    {% for filho in dicionario_processo|get_value_dict:"filhos"%}
                        <li>
                        {{ filho }}
                        <ul>
                            {% for tipo_arquivo in dicionario_processo.filhos|get_value_dict:filho|get_value_dict:"tipos_arquivos" %}
                            <li>
                                <b>{{ tipo_arquivo.descricao }}</b>
                            </li>
                            {%endfor%}
                        </ul>
                        {%endfor%}
                    </li>
                </ul>
                {% endif %}
            </li>
            {%endfor%}
        </ul>
    </li>
</ul>
{% endfor %}
{% endblock %}
