{% extends "ldap_backend/templates/search.html" %}
{% load tags %}

{% block content_subtitle %}
    <h2>Procurar Usuários em {{ group }} </h2>
{% endblock %}
{% block result %}
    {% box 'Resultado da Busca' %}
    {% if form.is_valid %}
        {% if users_list %}
            <table>
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Matricula</th>
                    <th>Membro do Grupo</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users_list %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.sAMAccountName }}</td>
                    <td>{{ user.is_member | format_bool}}</td>
                    <td>
                        {% if not user.is_member %}
                            <span>
                                <a class="btn success" href="{% url 'labvirtual:adicionar_membro' object.id user.uid %}">
                                    Adicionar Membero
                                </a>
                            </span>
                        {% else %}
                            <span>
                                <a class="btn danger" href="{% url 'labvirtualremover_membro' object.id user.uid %}">
                                    Remover Membro
                                </a>
                            </span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="msg alert">Nenhum registro encontrado.</p>
        {% endif %}
    {% endif %}
    {% endbox %}
{% endblock %}
