{% extends super_template %}

{% block content %}
    {% box "Dados do Laboratório Físico" %}
        <table class="info">
            <tr>
                <td>Laboratório</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td>Descrição</td>
                <td>
                    {{object.description}}
                </td>
            </tr>
        </table>
    {% endbox %}
    <div class="tab-container" data-title="Sumário" data-tab="tab_sumario">
        {% box "General" %}
            <table class="info">
                <tr>
                    <td>Nome</td>
                    <td><a href="#">{{desktop_pool.name}}</a></td>
                    <td>Tipo</td>
                    <td>{{desktop_pool.type}}</td>
                    <td>User Assignment</td>
                    <td>{{desktop_pool.user_assignment}}</td>
                </tr>
            </table>
        {% endbox %}
        {% box "Status das Máquinas" %}
            <table class="info">
                <tr>
                    <td>Número Máximo de Máquinas</td>
                    <td>{{desktop_pool.pattern_naming_settings.max_number_of_machines}}</td>
                    <td>Número Mínimo de Máquinas</td>
                    <td>{{desktop_pool.pattern_naming_settings.min_number_of_machines}}</td>
                    <td>Número de Máquinas Sobressalentes</td>
                    <td>{{desktop_pool.pattern_naming_settings.number_of_spare_machines}}</td>
                </tr>
                <tr>
                    <td>Padrão de Nome</td>
                    <td>{{desktop_pool.pattern_naming_settings.naming_pattern}}</td>
                    <td>Esquema de Provisionamento</td>
                    <td colspan="3">{{desktop_pool.pattern_naming_settings.provisioning_time}}</td>
                </tr>
            </table>
        {% endbox %}
        {% box "AD Groups informations" %}
            <table class="info">
                <thead>
                    <tr>
                        <th class="no-print">Name</th>
                        <th>Domain</th>
                        <th>AD Distinguished Name</th>
                    </tr>
                </thead>    
                <tbody>
                {%for group in groups%}
                    <tr>
                        <td>{{group.name}}</td>
                        <td>{{group.domain}}</td>
                        <td>{{group.distinguished_name}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>     
        {% endbox %}
    </div>
    
    <div class="tab-container" data-title="Máquinas" data-tab="tab_maquinas">
        {% box "Máquinas" %}
            <table class="info">
                <thead>
                    <tr>
                        <th class="no-print">Máquina</th>
                        <th>Host</th>
                        <th>Operating System</th>
                        <th>DSN Name</th>
                        <th>Agent Version</th>
                        <th>Status</th>
                    </tr>
                </thead>    
                <tbody>
                {% for machine in machines %}
                <tr>
                    <td class="no-print"> {{ machine.name }}</td>
                    <td>{{machine.managed_machine_data.host_name}}</td>
                    <td>{{machine.operating_system}}</td>
                    <td>{{machine.dns_name}}</td>
                    <td>{{machine.agent_version}}.{{machine.agent_build_number}}</td>
                    <td>{{machine.state}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endbox %}
    </div>
{% endblock %}
 
