{% extends super_template %}

{% block content %}

{% comment %}
<ul class="action-bar">
    {% if not calculo.documento or not calculo.documento.tem_assinaturas  %}
        {% if not calculo.pagamentos.exists %}
            <li><a class="btn primary" href="/admin/calculos_pagamentos/calculosubstituicao/{{ calculo.id }}/change/">Editar {{ calculo|getattr:"_meta"|getattr:"verbose_name" }}</a></li>
        {% endif %}
    {% endif %}
    {% if perms.calculos_pagamentos.add_pagamento %}
        {% if not calculo.pagamentos.exists %}
            <li><a class="btn" href="/calculos_pagamentos/criar_pagamento_substituicao/{{ calculo.id }}/">Enviar para módulo de Pagamento</a></li>
            <li><a class="btn" href="/calculos_pagamentos/lancado_manualmente_substituicao/?calculo_id={{ calculo.id }}">Pagamento lançado manualmente no SIAPE</a></li>
        {% else %}
            <li><a class="btn default" href="/admin/calculos_pagamentos/pagamento/?calculo__id={{ calculo.id }}">Ver Pagamentos</a></li>
        {% endif %}
    {% endif %}
    {% if calculo.portaria.processo_eletronico %}
         <li><a class="btn default" href="/calculos_pagamentos/gerar_documentocalculosubstituicao/{{ calculo.id }}/">Visualizar Documento Eletrônico</a></li>
    {% endif %}
</ul>
{% endcomment %}

{% if not relatorio %}
    <ul class="action-bar">
        <li>
            <a class="btn" href="/admin/calculos_pagamentos/{{ calculo|getattr:"_meta"|getattr:"label_lower"|getextfrompath|cpf_sem_caracteres }}/add">
                Novo {{ calculo|getattr:"_meta"|getattr:"verbose_name" }}
            </a>
        </li>
        {% if calculo.pode_editar %}
            <li>
                <a class="btn primary"
                   href="/admin/calculos_pagamentos/calculosubstituicao/{{ calculo.id }}/change/">
                    Editar {{ calculo|getattr:"_meta"|getattr:"verbose_name" }}</a>
            </li>
        {% endif %}

        {% if calculo.pode_excluir %}
            <li><a class="btn danger confirm" href="/calculos_pagamentos/excluir_calculo/?calculo_id={{ calculo.id }}">Remover</a></li>
        {% endif %}

        {% if calculo.pode_editar and perms.calculos_pagamentos.add_pagamento %}
            <li class="has-child">
                <a class="btn primary" href="#"> <i class="fas" aria-hidden="true"></i> Enviar para pagamento</a>
                <ul>
                    <li>
                        <a title="Enviar para módulo Pagamento como Lançado Manualmente No SIAPE"
                           href="/calculos_pagamentos/lancado_manualmente_substituicao/?calculo_id={{ calculo.id }}">
                            Enviar para Pagamento como Lançado Manualmente no SIAPE
                        </a>
                    </li>
                    <li>
                        <a title="Enviar Pagamento"
                           href="/calculos_pagamentos/criar_pagamento_substituicao/{{ calculo.id }}">
                            Enviar para Pagamento como Não Processado
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}

        {% if calculo.pagamentos.exists %}
            <li>
                <a class="btn" href="/admin/calculos_pagamentos/pagamento/?calculo__id={{ calculo.id }}">
                    Ver Pagamentos
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
























{% if simultaneidade %}
    <div class="msg alert">
        <p>Atenção! O servidor {{ calculo.servidor.nome|format }} tem cadastrada outra substituição simultânea a esta.</p>
        <p>Substituições simultâneas:</p>
        <ul>
            {% for id in simul_ids %}
                <li><a href="/calculos_pagamentos/calculosubstituicao/{{ id }}/">{{ id }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% box "Dados do Cálculo de Pagamento" %}
	<table class="info">
        <tr>
            <td>Processo</td>
            <td>
                {% if calculo.portaria.processo %}
                    <a href="{{ calculo.portaria.processo.get_absolute_url }}">{{ calculo.portaria.processo|format }}</a>
                {% endif %}
                {% if calculo.portaria.processo_eletronico %}
                    <a href="{{ calculo.portaria.processo_eletronico.get_absolute_url }}">{{ calculo.portaria.processo_eletronico|format }}</a>
                {% endif %}
            </td>
			<td>Campus</td>
            <td>{{ calculo.campus|format }}</td>
        </tr>
		<tr>
            <td>Portaria</td>
            <td>{{ calculo.portaria.numero|format }}</td>
			<td>Data da Portaria</td>
            <td>{{ calculo.portaria.data_portaria|format }}</td>
        </tr>
        <tr>
            <td>Motivo do Afastamento</td>
            <td>{{ calculo.get_motivo_substituicao_display|format }}</td>
            <td>Campus da Portaria</td>
            <td>{{ calculo.portaria.campus|format }}</td>
        </tr>
        <tr>
            <td>Servidor Substituto</td>
            <td><a href="{{ calculo.servidor.get_absolute_url }}">{{ calculo.servidor.nome|format }} ({{ calculo.servidor.matricula|format }})</a></td>
            <td>Função do Substituto</td>
            <td>{{ calculo.funcao_servidor_substituto|format }}</td>
        </tr>
        {% if calculo.data_inicio_funcao_servidor_substituto %}
            <tr>
                <td>Data Inicial da Função do Substituto</td>
                <td>{{ calculo.data_inicio_funcao_servidor_substituto|format }}</td>
                <td>Data Final da Função do Substituto</td>
                <td>{{ calculo.data_fim_funcao_servidor_substituto|format }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>Servidor Titular</td>
            <td>
                {% if calculo.titular %}
                    <a href="{{ calculo.titular.get_absolute_url }}">{{ calculo.titular.nome|format }} ({{ calculo.titular.matricula|format }})</a></td>
                {% else %}
                    -
                {% endif %}
			<td>Função do Titular</td>
            <td>{{ calculo.funcao_servidor_titular|format }}</td>
        </tr>
		<tr>
            <td>Usuário atestador</td>
            <td>{{ calculo.atestador|format }}</td>
            <td>Data de Cadastro</td>
            <td>{{ calculo.data_criacao|format }}</td>
        </tr>
        <tr>
            <td>Enviado para o módulo de Pagamento</td>
            <td>{{ calculo.pagamentos.exists|format }}</td>
        </tr>
    </table>
{% endbox %}

{% box "Períodos de Substituição" %}

	{% if calculo.periodosubstituicao_set.exists %}
		<table>
		    <thead>
		        <tr>
					<th>Nº</th>
					<th>Data Inicial</th>
					<th>Data Final</th>
		        </tr>
		    </thead>
		    <tbody>
		        {% for periodo in calculo.periodosubstituicao_set.all %}
                    <tr>
                        <td>{{ forloop.counter }}°</td>
                        <td>{{ periodo.data_inicio|format }}</td>
                        <td>{{ periodo.data_fim|format }}</td>
                    </tr>
		        {% endfor %}
		    </tbody>
		</table>
	{% else %}
		<p class="msg alert">Não foi encontrado nenhum Período de Substituição.</p>
	{% endif %}
{% endbox %}

{% box "Detalhamento Mensal" %}

	{% if detalhamentos %}
		<table>
		    <thead>
		        <tr>
					<th>Mês/Ano</th>
					<th>Período</th>
					<th>Quantidade de Dias</th>
					<th>Valor de pagamento</th>
		        </tr>
		    </thead>
		    <tbody>
		        {% for detalhamento in detalhamentos %}
                    <tr>
                        <td>{{ detalhamento.data_inicio.month|format }}/{{ detalhamento.data_inicio.year|format }}</td>
                        <td>{{ detalhamento.data_inicio|format }} a {{ detalhamento.data_fim|format }}</td>
                        <td>{{ detalhamento.quant_dias|format }}</td>
                        <td>R${{ detalhamento.valor_grat|format }}</td>
                    </tr>
		        {% endfor %}
                {% for gratificacao in gratificacoes %}
                    <tr>
                        <td>Gratificação Natalina</td>
                        <td>{{ gratificacao.data_inicio|format }} a {{ gratificacao.data_fim|format }}</td>
                        <td>{{ gratificacao.quant_dias|format }}</td>
                        <td>R${{ gratificacao.valor_grat|format }}</td>
                    </tr>
                {% endfor %}
		    </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total a Receber</td>
                    <td>R$ {{ calculo.total|format }}</td>
                </tr>
            </tfoot>
		</table>
	{% else %}
		<p class="msg alert">Não foi encontrado nenhum Detalhamento Mensal.</p>
	{% endif %}
{% endbox %}

{% if consolidacao %}
    {% box "Consolidação de Exercícios Anteriores" %}
        <table>
            <thead>
                <tr>
                    <th>Ano</th>
                    <th>Total Anual</th>
                </tr>
            </thead>
            <tbody>
                {% for ano_detalhamentos in anos_detalhamentos %}
                    {% if ano_detalhamentos.ano < calculo.data_criacao.year %}
                        <tr>
                            <td>{{ ano_detalhamentos.ano|format }}</td>
                            <td>R${{ ano_detalhamentos.total_grat|format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Total a Receber</td>
                    <td>R$ {{ consolidacao|format }}</td>
                </tr>
            </tfoot>
        </table>
    {% endbox %}
{% endif %}

{% endblock %}
