{% extends super_template %}

{% block object-status %}
    {% if calculo.excluido %}
        <span class="status status-error">Excluído</span>
    {% endif %}
{% endblock %}

{% block action-bar %}
    {% if not relatorio %}
        <ul class="action-bar">
            <li>
                <a href="/admin/calculos_pagamentos/{{ calculo|getattr:'_meta'|getattr:'label_lower'|getextfrompath|cpf_sem_caracteres }}/add" class="btn success">
                    Novo {{ calculo|getattr:"_meta"|getattr:"verbose_name" }}
                </a>
            </li>
            {% if calculo.pode_editar %}
                <li>
                    <a class="btn primary"
                    href="/admin/calculos_pagamentos/{{ tipo_calculo }}/{{ calculo.id }}/change/">
                        Editar {{ calculo|getattr:"_meta"|getattr:"verbose_name" }}
                    </a>
                </li>
            {% endif %}

            {% if calculo.pode_editar and perms.calculos_pagamentos.add_pagamento %}
                <li class="has-child">
                    <a class="btn" href="#">Enviar para Pagamento</a>
                    <ul>
                        <li>
                            <a title="Enviar para módulo Pagamento como Lançado Manualmente No SIAPE"
                            href="/calculos_pagamentos/lancar_pagamento_manualmente/{{ calculo.id }}/{{ calculo.tipo }}">
                                Enviar para Pagamento como Lançado Manualmente no SIAPE
                            </a>
                        </li>
                        <li>
                            <a href="/calculos_pagamentos/criar_pagamento/{{ calculo.id }}/{{ calculo.tipo }}">
                                Enviar para Pagamento como Não Processado
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            {% if calculo.pagamentos.exists %}
                <li>
                    <a href="/admin/calculos_pagamentos/pagamento/?calculo__id={{ calculo.id }}" class="btn default">
                        Ver Pagamentos
                    </a>
                </li>
            {% endif %}

            {% block actionBar %}{% endblock %}

            {% if calculo.pode_excluir %}
                <li><a class="btn danger confirm" href="/calculos_pagamentos/excluir_calculo/?calculo_id={{ calculo.id }}">Remover</a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}

{% block content %}

{% box "Dados do {{ calculo|getattr:"_meta"|getattr:"verbose_name" }}" %}
    {% block dados_calculo %}
        <dl class="definition-list flex">
            <div class="list-item flex-basis-50">
                <dt>Servidor Interessado</dt>
                <dd><a href="{{ calculo.servidor.get_absolute_url }}">{{ calculo.servidor.nome|format }} ({{ calculo.servidor.matricula|format }})</a></dd>
            </div>
            <div class="list-item">
                <dt>Categoria</dt>
                <dd>{{ calculo.servidor.categoria_display|format }}</dd>
            </div>
            {% if calculo.justificativa %}
                <div class="list-item flex-basis-100">
                    <dt>Justificativa</dt>
                    <dd>{{ calculo.justificativa|safe }}</dd>
                </div>
            {% endif %}
            {% if calculo.observacoes %}
                <div class="list-item flex-basis-100">
                    <dt>Observações</dt>
                    <dd>{{ calculo.observacoes|safe }}</dd>
                </div>
            {% endif %}
            <div class="list-item">
                <dt>Último Atestador</dt>
                <dd>{{ calculo.atestador|format }}</dd>
            </div>
            <div class="list-item">
                <dt>Data de Cadastro</dt>
                <dd>{{ calculo.data_criacao|format }}</dd>
            </div>
        </dl>
    {% endblock %}
{% endbox %}

{% if calculo.portariafisica_set.exists %}
    {% box "Portarias Físicas" %}
		<table>
		    <thead>
		        <tr>
					<th>Nº</th>
					<th>Data</th>
					<th>Campus</th>
                    <th>Processo</th>
		        </tr>
		    </thead>
		    <tbody>
		        {% for portaria in calculo.portariafisica_set.all %}
                    <tr>
                        <td>{{ portaria.numero|format }}</td>
                        <td>{{ portaria.data_portaria|format }}</td>
                        <td>{{ portaria.campus|format }}</td>
                        <td>
                            {% if portaria.processo %}
                                <a href="{{ portaria.processo.get_absolute_url }}">{{ portaria.processo|format }}</a>
                            {% endif %}
                            {% if portaria.processo_eletronico %}
                                <a href="{{ portaria.processo_eletronico.get_absolute_url }}">{{ portaria.processo_eletronico|format }}</a>
                            {% endif %}
                        </td>
                    </tr>
		        {% endfor %}
		    </tbody>
		</table>
	{% endbox %}
{% endif %}

{% block periodos %}{% endblock %}

{% block detalhamentos %}
    {% for ano_detalhamentos in anos_detalhamentos %}
        {% if ano_detalhamentos %}
            {% box "Detalhamento - {{ ano_detalhamentos.ano }}" %}
                <table>
                    <thead>
                        <tr>
                            <th>Mês/Ano</th>
                            <th>Período</th>
                            <th>Quantidade de Dias {% if calculo.total_aux %}Úteis{% endif %}</th>

                            {% if calculo.total_venc %}
                                {% if relatorio %}
                                    <th>Vencimento Devido</th>
                                    <th>Vencimento Recebido</th>
                                {% endif %}
                                <th>Vencimento - Diferença a Receber</th>
                            {% endif %}
                            {% if calculo.total_rt %}
                                {% if relatorio %}
                                    <th>Retribuição Por Titulação Devida</th>
                                    <th>Retribuição Por Titulação Recebida</th>
                                {% endif %}
                                <th>Retribuição Por Titulação - Diferença a Receber</th>
                            {% endif %}
                            {% if calculo.total_anuenio %}
                                <th>Anuênio a Receber</th>
                            {% endif %}
                            {% if calculo.total_per %}
                                <th>Ad. de Periculosidade a Receber</th>
                            {% endif %}
                            {% if calculo.total_ins %}
                                <th>Ad. de Insalubridade a Receber</th>
                            {% endif %}
                            {% if calculo.total_iq %}
                                <th>Inc. à Qualificação {% if calculo.total_venc %}a Receber{% else %}- Diferença a Receber{% endif %}</th>
                            {% endif %}
                            {% if calculo.total_aux %}
                                <th>Auxílio Transporte a Receber</th>
                            {% endif %}
                            {% if calculo.total_abono %}
                                <th>{{ ano_detalhamentos.detalhamentos.0|verbose:"valor_abono" }}</th>
                            {% endif %}
                            {% if num_col_total > 2 %}
                                <th>Total da Parcela</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalhamento in ano_detalhamentos.detalhamentos %}
                            <tr>
                                <td>
                                    {% if detalhamento.gratificacao == True %}
                                        {% if detalhamento.data_inicio.year < calculo.data_criacao.year %}
                                            {{ detalhamento.data_inicio.month|format }}/{{ detalhamento.data_inicio.year|format }} + Gratificação Natalina
                                        {% else %}
                                            Gratificação Natalina
                                        {% endif %}
                                    {% else %}
                                        {{ detalhamento.data_inicio.month|format }}/{{ detalhamento.data_inicio.year|format }}
                                    {% endif %}
                                    {% if detalhamento.tem_ferias %}
                                        + Férias {{ detalhamento.tem_ferias }}
                                    {% endif %}
                                </td>
                                <td>{{ detalhamento.data_inicio|format }} a {{ detalhamento.data_fim|format }}</td>
                                <td>{{ detalhamento.quant_dias|format }}</td>
                                {% if calculo.total_venc %}
                                    {% if relatorio %}
                                        <td>R${{ detalhamento.valor_venc_devido|format }}</td>
                                        <td>R${{ detalhamento.valor_venc_recebido|format }}</td>
                                    {% endif %}
                                    <td>R${{ detalhamento.valor_venc|format }}</td>
                                {% endif %}
                                {% if calculo.total_rt %}
                                    {% if relatorio %}
                                        <td>R${{ detalhamento.valor_rt_devido|format }}</td>
                                        <td>R${{ detalhamento.valor_rt_recebido|format }}</td>
                                    {% endif %}
                                    <td>R${{ detalhamento.valor_rt|format }}</td>
                                {% endif %}
                                {% if calculo.total_anuenio %}
                                    <td>R${{ detalhamento.valor_anuenio|format }}</td>
                                {% endif %}
                                {% if calculo.total_per %}
                                    <td {% if not calculo.total_venc and detalhamento.valor_venc %}title="Vencimento Recebido: R${{ detalhamento.valor_venc|format }}" {% endif %}>
                                        R${{ detalhamento.valor_per|format }}
                                    </td>
                                {% endif %}
                                {% if calculo.total_ins %}
                                    <td {% if not calculo.total_venc and detalhamento.valor_venc %}title="Vencimento Recebido: R${{ detalhamento.valor_venc|format }}" {% endif %}>
                                        R${{ detalhamento.valor_ins|format }}
                                    </td>
                                {% endif %}
                                {% if calculo.total_iq %}
                                    <td>R${{ detalhamento.valor_iq|format }}</td>
                                {% endif %}
                                {% if calculo.total_aux %}
                                    {% if detalhamento.valor_aux > 0%}
                                        <td>R${{ detalhamento.valor_aux|format }}</td>
                                    {% else %}
                                        <td>R$0,00 (Calculado: R${{ detalhamento.valor_aux|format }})</td>
                                    {% endif %}
                                {% endif %}
                                {% if calculo.total_abono %}
                                    <td>R${{ detalhamento.valor_abono|format }}</td>
                                {% endif %}
                                {% if num_col_total > 2 %}
                                    <td>R${{ detalhamento.total|format }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% if not relatorio %}
                            {% if num_col_total > 2 %}
                                <tr>
                                    <td colspan="3"><b>SUBTOTAL</b></td>
                                    {% if calculo.total_venc %}
                                        <td><b>R${{ ano_detalhamentos.total_venc|format }}</b></td>
                                    {% endif %}
                                    {% if calculo.total_rt %}
                                        <td><b>R${{ ano_detalhamentos.total_rt|format }}</b></td>
                                    {% endif %}
                                    {% if calculo.total_anuenio %}
                                        <td><b>R${{ ano_detalhamentos.total_anuenio|format }}</b></td>
                                    {% endif %}
                                    {% if calculo.total_per %}
                                        <td><b>R${{ ano_detalhamentos.total_per|format }}</b></td>
                                    {% endif %}
                                    {% if calculo.total_ins %}
                                        <td><b>R${{ ano_detalhamentos.total_ins|format }}</b></td>
                                    {% endif %}
                                    {% if calculo.total_iq %}
                                        <td><b>R${{ ano_detalhamentos.total_iq|format }}</b></td>
                                    {% endif %}
                                    {% if calculo.total_aux %}
                                        {% if ano_detalhamentos.total_aux > 0%}
                                            <td>R${{ ano_detalhamentos.total_aux|format }}</td>
                                        {% else %}
                                            <td>R$0,00 (Calculado: R${{ ano_detalhamentos.total_aux|format }})</td>
                                        {% endif %}
                                    {% endif %}
                                    {% if calculo.total_abono %}
                                        <td><b>R${{ ano_detalhamentos.total_abono|format }}</b></td>
                                    {% endif %}
                                    <td></td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td colspan="2"><b>TOTAL A RECEBER</b></td>
                                <td colspan="{{ num_col_total }}" style="text-align: center">
                                    <b>
                                        {% if not ano_detalhamentos.total_aux or ano_detalhamentos.total > 0 %}
                                            R${{ ano_detalhamentos.total|format }}
                                        {% else %}
                                            R$0,00 (Calculado: R${{ ano_detalhamentos.total|format }})
                                        {% endif %}
                                    </b>
                                </td>
                                {% if num_col_total > 2 %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            {% endbox %}
            {# FÉRIAS DO ANO CORRENTE #}
            {% if ano_detalhamentos.ferias and ano_detalhamentos.ano >= calculo.data_criacao.year %}
                {% box "Férias - {{ ano_detalhamentos.ano }}" %}
                    <table>
                        <thead>
                            <tr>
                                <th>Ano de Exercício/Referência - Usufruto</th>
                                {% if calculo.total_venc %}
                                    {% if relatorio %}
                                        <th>Vencimento Devido</th>
                                        <th>Vencimento Recebido</th>
                                    {% endif %}
                                    <th>Vencimento - Diferença a Receber</th>
                                {% endif %}
                                {% if calculo.total_rt %}
                                    {% if relatorio %}
                                        <th>Retribuição Por Titulação Devida</th>
                                        <th>Retribuição Por Titulação Recebida</th>
                                    {% endif %}
                                    <th>Retribuição Por Titulação - Diferença a Receber</th>
                                {% endif %}
                                {% if calculo.total_anuenio %}
                                    <th>Anuênio a Receber</th>
                                {% endif %}
                                {% if calculo.total_per %}
                                    <th>Ad. de Periculosidade a Receber</th>
                                {% endif %}
                                {% if calculo.total_ins %}
                                    <th>Ad. de Insalubridade a Receber</th>
                                {% endif %}
                                {% if calculo.total_iq %}
                                    <th>Inc. à Qualificação {% if calculo.total_venc %}a Receber{% else %}- Diferença a Receber{% endif %}</th>
                                {% endif %}
                                {% if num_col_total > 2 %}
                                    <th>Total da Parcela</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for ferias in ano_detalhamentos.ferias %}
                                {% with f=ferias %}
                                    <tr>
                                        <td> Férias de {{ f.ano_referencia|format }} - {{ f.data_inicio.month|format }}/{{ f.data_inicio.year|format }} </td>
                                        {% if calculo.total_venc %}
                                            {% if relatorio %}
                                                <td>R${{ f.valor_venc_devido|format }}</td>
                                                <td>R${{ f.valor_venc_recebido|format }}</td>
                                            {% endif %}
                                            <td>R${{ f.valor_venc|format }}</td>
                                        {% endif %}
                                        {% if calculo.total_rt %}
                                            {% if relatorio %}
                                                <td>R${{ f.valor_rt_devido|format }}</td>
                                                <td>R${{ f.valor_rt_recebido|format }}</td>
                                            {% endif %}
                                            <td>R${{ f.valor_rt|format }}</td>
                                        {% endif %}
                                        {% if calculo.total_anuenio %}
                                            <td>R${{ f.valor_anuenio|format }}</td>
                                        {% endif %}
                                        {% if calculo.total_per %}
                                            <td {% if not calculo.total_venc and f.valor_venc %}title="Vencimento Recebido: R${{ f.valor_venc|format }}" {% endif %}>
                                                R${{ f.valor_per|format }}
                                            </td>
                                        {% endif %}
                                        {% if calculo.total_ins %}
                                            <td {% if not calculo.total_venc and f.valor_venc %}title="Vencimento Recebido: R${{ f.valor_venc|format }}" {% endif %}>
                                                R${{ f.valor_ins|format }}
                                            </td>
                                        {% endif %}
                                        {% if calculo.total_iq %}
                                            <td>R${{ f.valor_iq|format }}</td>
                                        {% endif %}
                                        {% if num_col_total > 2 %}
                                            <td>R${{ f.total|format }}</td>
                                        {% endif %}
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endbox %}
            {% endif %}
        {% else %}
            <p class="msg alert">OPS! Houve um erro ao buscar o detalhamento.</p>
        {% endif %}
    {% endfor %}
{% endblock %}

{% if consolidacao and not relatorio %}
    {% box "Consolidação de Exercícios Anteriores" %}
        <table>
            <thead>
                <tr>
                    <th>Ano</th>
                    <th>Total Anual</th>
                </tr>
            </thead>
            <tbody>
                {% for ano_detalhamentos in anos_detalhamentos %}
                    {% if ano_detalhamentos.ano < calculo.data_criacao.year %}
                        <tr>
                            <td>{{ ano_detalhamentos.ano|format }}</td>
                            <td>R${{ ano_detalhamentos.total|format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td><b>TOTAL A RECEBER</b></td>
                    <td><b>R${{ consolidacao|format }}</b></td>
                </tr>
            </tbody>
        </table>
    {% endbox %}
{% endif %}

{% if not relatorio %}
    {% block totalizacao %}
        {% box "Totalização" %}
            <table>
                <thead>
                    <tr>
                        <th></th>
                        {% if calculo.total_venc %}
                            <th style="text-align: center">Vencimento - Diferença a Receber</th>
                        {% endif %}
                        {% if calculo.total_rt %}
                            <th style="text-align: center">Retribuição Por Titulação - Diferença a Receber</th>
                        {% endif %}
                        {% if calculo.total_anuenio %}
                            <th style="text-align: center">Anuênio a Receber</th>
                        {% endif %}
                        {% if calculo.total_per %}
                            <th style="text-align: center">Ad. de Periculosidade a Receber</th>
                        {% endif %}
                        {% if calculo.total_ins %}
                            <th style="text-align: center">Ad. de Insalubridade a Receber</th>
                        {% endif %}
                        {% if calculo.total_iq %}
                            <th style="text-align: center">Inc. à Qualificação {% if calculo.total_venc %}a Receber{% else %}- Diferença a Receber{% endif %}</th>
                        {% endif %}
                        {% if calculo.total_aux %}
                            <th style="text-align: center">Auxílio Transporte a Receber</th>
                        {% endif %}
                        {% if calculo.total_abono %}
                            <th style="text-align: center">Abono de Permanência a Receber</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if num_col_total > 2 %}
                        <tr>
                            <td><b>SUBTOTAL</b></td>
                            {% if calculo.total_venc %}
                                <td style="text-align: center"><b>R${{ calculo.total_venc|format }}</b></td>
                            {% endif %}
                            {% if calculo.total_rt %}
                                <td style="text-align: center"><b>R${{ calculo.total_rt|format }}</b></td>
                            {% endif %}
                            {% if calculo.total_anuenio %}
                                <td style="text-align: center"><b>R${{ calculo.total_anuenio|format }}</b></td>
                            {% endif %}
                            {% if calculo.total_per %}
                                <td style="text-align: center"><b>R${{ calculo.total_per|format }}</b></td>
                            {% endif %}
                            {% if calculo.total_ins %}
                                <td style="text-align: center"><b>R${{ calculo.total_ins|format }}</b></td>
                            {% endif %}
                            {% if calculo.total_iq %}
                                <td style="text-align: center"><b>R${{ calculo.total_iq|format }}</b></td>
                            {% endif %}
                            {% if calculo.total_aux %}
                                <td style="text-align: center"><b>
                                    {% if calculo.total_aux > 0%}
                                        <td>R${{ calculo.total_aux|format }}</td>
                                    {% else %}
                                        <td>R$0,00 (Calculado: R${{ calculo.total_aux|format }})</td>
                                    {% endif %}
                                </b></td>
                            {% endif %}
                            {% if calculo.total_abono %}
                                <td style="text-align: center"><b>R${{ calculo.total_abono|format }}</b></td>
                            {% endif %}
                        </tr>
                    {% endif %}
                    <tr>
                        <td><b>TOTAL A RECEBER</b></td>
                        <td colspan="{{ num_col_total|add:-1 }}" style="text-align: center"><b>
                            {% if not calculo.total_aux or calculo.total > 0%}
                                R${{ calculo.total|format }}
                            {% else %}
                                R$0,00 (Calculado: R${{ calculo.total|format }})
                            {% endif %}
                        </b></td>
                    </tr>
                </tbody>
            </table>
        {% endbox %}
    {% endblock %}
{% endif %}

{% endblock %}

