{% extends "calculos_pagamentos/templates/calculo.html" %}

{% block actionBar %}
    {% if not relatorio %}
        <li><a href="/calculos_pagamentos/relatorio_detalhado/{{ calculo.id }}/" class="btn default">Relatório Detalhado</a></li>
    {% endif %}
{% endblock %}

{% block periodos %}

{% box "Períodos do Cálculo" %}

	{% if calculo.periodocalculoprogressao_set.exists %}
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Período</th>
                        <th {% if calculo.servidor.eh_docente %}colspan="3"{% else %}colspan="2"{% endif %}>Anterior</th>
                        <th {% if calculo.servidor.eh_docente %}colspan="3"{% else %}colspan="2"{% endif %}>Novo</th>
                        <th colspan="5">Configurações</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Data Inicial</th>
                        <th>Data Final</th>
                        <th>{% if calculo.servidor.eh_docente %}Nível{% else %}Padrão{% endif %} de Vencimento</th>
                        <th>Jornada de Trabalho</th>
                        {% if calculo.servidor.eh_docente %}
                            <th>Titulação</th>
                        {% endif %}
                        <th>{% if calculo.servidor.eh_docente %}Nível{% else %}Padrão{% endif %} de Vencimento</th>
                        <th>Jornada de Trabalho</th>
                        {% if calculo.servidor.eh_docente %}
                            <th>Titulação</th>
                        {% endif %}
                        <th>Anuênio</th>
                        <th>Ad. de Periculosidade</th>
                        <th>Ad. de Insalubridade</th>
                        {% if not calculo.servidor.eh_docente %}
                            <th>Inc. à Qualificação</th>
                        {% endif %}
                        <th>Férias</th>
                    </tr>
                </thead>
                <tbody>
                    {% for periodo in calculo.periodocalculoprogressao_set.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ periodo.data_inicio|format }}</td>
                            <td>{{ periodo.data_fim|format }}</td>
                            {% if calculo.servidor.eh_docente %}
                                <td>{{ periodo.nivel_passado|format }}</td>
                            {% else %}
                                <td>{{ calculo.servidor.cargo_classe }} - {{ periodo.padrao_vencimento_passado|format }}<br>({{ periodo.nivel_passado|format }})</td>
                            {% endif %}
                            <td>{{ periodo.jornada_passada|format }}</td>
                            {% if calculo.servidor.eh_docente %}
                                <td>{{ periodo.titulacao_passada|format|title }}</td>
                            {% endif %}
                            {% if calculo.servidor.eh_docente %}
                                <td>{{ periodo.nivel|format }}</td>
                            {% else %}
                                <td>{{ calculo.servidor.cargo_classe }} - {{ periodo.padrao_vencimento_novo|format }}<br>({{ periodo.nivel|format }})</td>
                            {% endif %}
                            <td>{{ periodo.jornada|format }}</td>
                            {% if calculo.servidor.eh_docente %}
                                <td>{{ periodo.titulacao_nova|format|title }}</td>
                            {% endif %}
                            <td>{{ periodo.anuenio|format }}%</td>
                            <td>{{ periodo.periculosidade|yesno:"10%,0%"|format }}</td>
                            <td>{{ periodo.insalubridade|format }}%</td>
                            {% if not calculo.servidor.eh_docente %}
                                <td>{{ periodo.iq|format }}%</td>
                            {% endif %}
                            <td>
                                {% if calculo.pode_editar %}
                                    <a class="btn primary" href="/admin/calculos_pagamentos/periodocalculoprogressao/{{ periodo.id }}/change/">Escolher Férias</a>
                                {% endif %}
                                <div class="clear"></div>
                                <dl>
                                    <dt>Férias Cadastradas:</dt>
                                    {% if periodo.feriascalculoprogressao_set.exists %}
                                        {% for ferias in periodo.feriascalculoprogressao_set.all %}
                                            <dd>{{ ferias.ano_referencia|format }}: {{ ferias.data_inicio.month|format }}/{{ ferias.data_inicio.year|format }}</dd>
                                        {% endfor %}
                                    {% else %}
                                        <dd>Nenhuma</dd>
                                    {% endif %}
                                </dl>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
	{% else %}
		<p class="msg alert">Não foi encontrado nenhum Período de Cálculo.</p>
	{% endif %}
{% endbox %}

{% endblock %}
