{% extends super_template %}

{% block content %}


	
<p>Esta página destina-se à especificação dos materiais de consumo cujo controle de estoque deve ser realizado.
<br/>Para adicionar um novo material, selecione o mesmo e informe seu intervalo e tempo de aquisição. Caso deseje configurar todos os materiais de um elemento de despesa, 
	informe o elemento de despesa (Categoria) ao invés do material.
<br/>Para excluir um material da lista de materiais sob controle, selecione o mesmo na tabela abaixo e pressione o botão "Excluir Selecionados". 
	A aquisição de novos materiais deve ser realizada através da indicação do sistema a partir da página de <a href="/almoxarifado/situacao_estoque/">Situação de Estoque</a>.</p>

{% render_form form %}

<h3>Materiais Sob Controle</h3>
<script>
	function selecionar_todos(checkbox){
		var inputs = document.getElementsByTagName("input");
		var i = 0;
		for(i =0; i<inputs.length; i++){
			input = inputs[i];
			if(input.type.toUpperCase()=='CHECKBOX'){
				input.checked=checkbox.checked;
			}
		}
	}
</script>
<form id="form2" name="form2" action="" method="POST">
	{% csrf_token %}
	<table class="results suap-table">
    	<thead>
            <tr>
                <th><input type="checkbox" onclick="selecionar_todos(this);"/></th>
                <th>Material de Consumo</th>
                <th>Elemento de Despesa</th>
                <th>Consumo Mensal</th>
                <th>Tempo de Aquisição</th>
                <th>Intervalo de Aquisição</th>
                <th>Estoque Mínimo</th>
                <th>Estoque Máximo</th>
                <th>Ponto de Pedido</th>
                <!--<th>Qtd Suprimir</th>-->
            </tr>
        </thead>
        <tbody>
        {% autopaginate configuracaoes 50 %}
        {% paginate %}
        {% for configuracao in configuracaoes %}
        <!--{{ configuracao.calcular_previsao_estoque }}-->
             <tr>
            	<td><input name="ids" type="checkbox" value="{{ configuracao.id }}"/></td>
                <td><a href="/admin/almoxarifado/materialconsumo/{{ configuracao.material.id }}">{{ configuracao.material }}</a></td>
                <td>{{ configuracao.material.categoria }} meses</td>
                <td><b>{{ configuracao.consumo_medio_mensal|floatformat }}</b></td>
                <td>{{ configuracao.tempo_aquisicao }} meses</td>
                <td>{{ configuracao.intervalo_aquisicao }} Meses</td>
                <td>{{ configuracao.estoque_minimo|floatformat }}</td>
                <td>{{ configuracao.estoque_maximo|floatformat }}</td>
                <td>{{ configuracao.ponto_pedido|floatformat }}</td>
                <!--<td><b>{{ configuracao.qtd_ressuprimir|floatformat }}</b></td>-->
            </tr>
         {% endfor %}   
        </tbody>
    </table>
	<div class="submit-row">
		<input value="Excluir Selecionados" type="submit" class="btn danger" />
	</div>
</form>

{% endblock %}
