{% extends super_template %}

{% block content %}

{% if requisicoes %}
	<ul class="action-bar">
		<li><a href="/almoxarifado/relatorio/nota_fornecimento_pdf/{{ requisicao.vinculo_solicitante.id}}/{{ data_inicio|date:"Y-m-d" }}/{{ data_fim|date:"Y-m-d" }}/" class="btn">Gerar PDF</a></li>
	</ul>
{% endif %}

<div class="form">
    {% render_form form %}
</div>

{% if form.is_bound %}
    {% if requisicoes %}
        <dl class="lista-simples">
            <dt>Itens aceitos:</dt>
            <dd>{{ contador_itens }}</dd>
        </dl>

        <table>
            <thead>
                <tr>
                    <th>ED</th>
                    <th>Cód</th>
                    <th>Material</th>
                    <th>Unidade Fornecedora</th>
                    {% if requisicao.tipo == "user" %}
                        <th>Setor</th>
                    {% else %}
                        <th>Unidade Solicitante</th>
                    {% endif %}
                    <th>Data</th>
                    <th>Qtd. Solicitada</th>
                    <th>Qtd. Aceita</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for requisicao in requisicoes %}
                    {% for item in requisicao.get_itens_aceitos %}
                        <tr>
                            <td align="center">{{ item.material.categoria.codigo }}</td>
                            <td>{{ item.material.codigo }}</td>
                            <td>{{ item.material }}</td>
                            <td>{{ requisicao.uo_fornecedora.setor.sigla }}</td>
                            {% if requisicao.tipo == "user" %}
                                <td>{{ requisicao.setor_solicitante.sigla }}</td>
                            {% else %}
                                <td>{{ requisicao.uo_solicitante.setor.sigla }}</td>
                            {% endif %}
                            <td align="right">{{ requisicao.data }}</td>
                            <td align="right">{{ item.qtd }}</td>
                            <td align="right">{{ item.saida.qtd|format }}</td>
                            <td align="right">R$ {{ item.valor_unitario|format }}</td>
                        </tr>
                   {% endfor %}
               {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">Total:</td>
                    <td>R$ {{ total_requisicoes|mascara_dinheiro }}</td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p class="msg alert">Nenhum resultado encontrado.</p>
    {% endif %}
{% else %}
    <p class="msg alert">Preencha os filtros para geração do relatório.</p>
{% endif %}

{% endblock %}
