{% extends super_template %}

{% block content %}
        <div class="search-and-filters">
            <form class="pesquisa_campus" method="post">
                <div class="filter filter-large-select">
                    {% csrf_token %}
                    {{ form}}
                </div>
            </form>

        </div>
        {% if lista_ed %}
            <p class="msg info">Este Relatório não contabiliza materiais com valores e estoques inconsistentes.</p>
            {% box "Saldo Atual por ED" %}
                    <table>
                        <thead>
                            <tr>
                                <th>Categoria</th>
                                <th>Saldo</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for i in lista_ed %}
                                     <tr>
                                         <td align="left">{{ i.categoria}}</td>
                                         <td align="right">{{ i.saldo|format }} </td>
                                     </tr>
                                {% endfor %}
                                <tr>
                                         <td align="left">Total</td>
                                         <td align="right">{{ total_geral|format }} </td>
                                </tr>
                         </tbody>
                    </table>
            {% endbox %}
        {% endif %}
{% endblock %}
