{% extends super_template %}

{% block content %}

<ul class="action-bar">
    <li><a href="/materiais/materialcotacao/{{ material.pk }}/" class="btn success">Adicionar Cotação</a></li>
</ul>

{% box 'Informações' %}
<table class="info">
    <tr>
        <td>Material</td>
        <td>{{ material.descricao }}</td>
    </tr>
    <tr>
        <td>Código CATMAT</td>
        <td>{{ material.codigo_catmat }}</td>
    </tr>
    <tr>
        <td>Categoria</td>
        <td>{{ material.categoria }}</td>
    </tr>
    <tr>
        <td>Valor Médio</td>
        <td>{{ material.valor_medio|format }}</td>
    </tr>
</table>
{% endbox %}

{% if materialcotacao %}
	{% box 'Cotações' %}
		<table>
			<thead>
				<tr>
					<th class="no-print">Ações</th>
					<th>Fornecedor/UASG</th>
					<th>Valor</th>
					{% if cotacao.pode_editar %}
						<th class="no-print">Opções</th>
					{% endif %}
			    </tr>
		    </thead>
			<tbody>
		        {% for cotacao in materialcotacao %}
		        <tr>
		        	{% if cotacao.pode_editar %}
		        		<td class="no-print">{% icon "edit" "/materiais/editar_materialcotacao/{{ material.pk }}/{{ cotacao.pk }}/" %}</td>
		        	{% else %}
		        		<td class="no-print"> - </td>
		        	{% endif %}
		        	{% if cotacao.fornecedor %}
						<td>{{ cotacao.fornecedor|format }}</td>
					{% else %}
						<td>{{ cotacao.uasg|format }}</td>
					{% endif %}
					<td>{{ cotacao.valor|format }}</td>
					{% if cotacao.pode_editar %}
						<td class="no-print">
							<ul class="action-bar">
								{% if cotacao.arquivo %}
									<li><a class="btn" href="/materiais/visualizar_arquivo_pdf/{{ cotacao.pk }}/">Baixar Anexo</a></li>
								{% endif %}
								{% if cotacao.ativo %}
									<li><a href="/materiais/inativar_cotacao/{{ cotacao.pk }}/" class="btn danger">Inativar Cotação</a></li>
								{% else %}
									<li><a href="/materiais/ativar_cotacao/{{ cotacao.pk }}/" class="btn success popup">Ativar Cotação</a></li>
								{% endif %}
							</ul>
						</td>
					{% endif %}
		        </tr>
		        {% endfor %}
		    </tbody>
		</table>
	{% endbox %}
{% else %}
	<p class="msg alert">Não existem cotações cadastradas para este material.</p>
{% endif %}
{% endblock %}
