.cx_unidade_administrativa {
	margin-top:20px;
	padding:1px 1px;
	border:1px solid #aaa;
}
.unidade_administrativa {
	padding:2px 3px;
	color:white;
	font-weight:bold;
	text-transform:uppercase;
}
.unidade_administrativa {
	font-size:1.5em;
	background-color:#194E84;
	border:1px solid #334433;
}
.cx_acoes {
	margin-top:2px;
	padding:0;
}
.cx_acoes .cx_tabela {
	padding:0 1px;
}
.cx_acoes .cx_tabela table {
	margin-bottom:1px;
}
