.comentario {
	display:none;
	margin:0;
	margin-bottom:5px;
	padding:5px 8px 2px 8px;
	width:500px;
}
.lbl_comentario {
	display:block;
	padding:2px 5px;
	margin-bottom:5px;
	color:#000;
	font-weight:bold;
	background-color:#cfdff0;
	padding:2px;
}
.comentario p {
	margin:5px 8px 20px 8px;
	width:480px;
}
.txt_comentario {
	width:492px;
	height:80px;
}
.ico_comentario {
	cursor:pointer;
}
