fieldset {
	margin-bottom: 10px;
}
.cx_objetivo_estrategico {
	margin-top:15px;
	margin-bottom:15px;
	padding:1px 1px;
	border:1px solid #aaa;
}
.cx_objetivo_estrategico .cx_tabela {
	padding:0 1px;
	margin-top:3px;
}
.cx_objetivo_estrategico .cx_tabela table {
	margin-bottom:1px;
}
.objetivo_estrategico {
	padding:2px 3px;
	color:white;
	font-weight:bold;
	text-transform:uppercase;
	font-size:1.3em;
	background-color:#6699cc;
	border:1px solid #3c3b63;
}
.meta {
	margin-top:2px;
	color:#000;
	font-size:1.2em;
	background-color:#EAE1C0;
	border:1px solid #483A3A;
}
.msg {
	margin:2px 0 0 0;
}
