fieldset {
	margin-bottom: 10px;
}
.cx_meta {
	padding:0;
	margin-bottom:15px;
	padding:1px 1px;
	border:1px solid #aaa;
}
.cx_meta .cx_tabela {
	padding:0 1px;
	margin-top:3px;
}
.cx_meta .cx_tabela table {
	margin-bottom:1px;
}
.titulo_meta {
	padding:2px 3px;
	color:white;
	font-weight:bold;
	text-transform:uppercase;	
	color:#000;
	font-size:1.2em;
	background-color:#EAE1C0;
	border:1px solid #483A3A;
}
.titulo_acao {
	margin-top:2px;
	padding:2px 3px;
	color:#000;
	font-size:1.2em;
	background-color:#cfe7df;
	border:1px solid #94aca4;
}
.msg {
	margin:2px 0 0 0;
}
