#validacao_acoes tr td input {
	margin:0;
}
.comentario {
	display:none;
	margin:0;
	width:500px;
}
.comentario table {
	outline:none;
	width:100%;
}
.comentario table tr td {
	border:none;
	padding:3px 2px;
	text-justify:auto;
}
.lbl_rotulo {
	font-weight:bold;
	background-color:#cfdff0;
	padding:2px;
}
.txt_comentario {
	width:100%;
	max-width:100%;
	height:80px;
}
.comentario .botoes_acao {
	padding:5px 0;
	text-align:right;
}
.comentario .botoes_acao input {
	margin:0;
	padding:4px 10px;
	cursor:pointer;
	min-width:120px;
}
.comentario .botoes_acao input:hover {
	padding:4px 10px;
	border:1px solid #AAA;
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
	cursor:pointer;
}
#botoes #btn_salvar {
	position:absolute;
	right:7px;
	color:white;
	font-weight:bold;
	border:1px solid #5B80B2;
}
#botoes #btn_salvar:hover {
	color:#5B80B2;
}
.ico_comentario {
	cursor:pointer;
}
