.rel_dimensao_recurso {
	margin-top:20px;
	padding:1px 1px;
	border:1px solid #aaa;
}
.rel_dimensao_recurso .cx_tabela {
	padding:0 1px;
}
.rel_dimensao_recurso .cx_tabela table {
	margin-top:2px;
	margin-bottom:1px;
}
.marcador {
	display:block;
	text-align:justify;
}
.dimensao_recurso {
	padding:2px 3px;
	color:white;
	font-weight:bold;
	text-transform:uppercase;
}
.dimensao_recurso {
	font-size:1.5em;
	background-color:#194E84;
	border:1px solid #334433;
}