.graficos {
	margin:auto;
	text-align:center;
	padding:25px 0;
	width:920px;
}
#gastos_metaunidades, #acoes_validadas {
	margin:auto auto;
	text-align:center;
	float:left;
}
#acoes_validadas {
	margin-left:12px;
	border-left:1px dashed #ccc;
}
