#titulo_relatorio {
	display:block;
	margin:0;
	margin-top:15px;
	font-size:1.8em;
	text-align:center;
	text-transform:uppercase;
}
.obs_relatorio {
	margin:10px 0;
	padding:5px;
	text-align:center;
	color:#666;
	border:1px solid #666;
	background:#eee;
}
.cabecalho_impressao {
	display:none;
}
.msg_cadastro_inexistente {
	clear:left;
	text-align:center;
	margin:0;
	padding:3px;
	font-size:1.1em;
	font-weight:normal;
	color:#ba8e31;
	background-color:#fffdda;
	border:1px solid #ba8e31;
}
.rel_dimensao {
	margin-top:20px;
	padding:1px 1px;
	border:1px solid #aaa;
}
.rel_dimensao .cx_tabela {
	padding:0 1px;
}
.rel_dimensao .cx_tabela table {
	margin-bottom:2px;
}
.marcador {
	display:block;
	text-align:justify;
}
.dimensao, .orgao_sistemico, .obj_estrategico, .meta, .acao, .atividade {
	padding:2px 3px;
	color:white;
	font-weight:bold;
	text-transform:uppercase;
}
.dimensao {
	font-size:1.5em;
	background-color:#194E84;
	border:1px solid #334433;
}
.orgao_sistemico {
	margin-top:3px;
	color:#000;
	font-size:1.3em;
	background-color:white;
}
.obj_estrategico {
	margin-top:2px;
	font-size:1.3em;
	background-color:#6699cc;
	border:1px solid #3c3b63;
}
.meta {
	margin-top:2px;
	color:#000;
	font-size:1.2em;
	background-color:#EAE1C0;
	border:1px solid #483A3A;
}
.acao {
	margin-top:2px;
	color:#000;
	font-size:1.2em;
	background-color:#cfe7df;
	border:1px solid #94aca4;
}
.atividade {
	margin:3px 0;
	color:#000;
	font-weight:bold;
	background-color:#eee;
	border:1px solid #aaa;
}
.justificativa, .detalhamento {
	margin-top:5px;
}
.justificativa label, .detalhamento label{
	margin:3px;
	color:#000;
	font-weight:bold;
}
.justificativa p, .detalhamento p {
	margin:0;
	margin-top:2px;
	padding:5px;
	text-align:justify;
	border:1px solid #ddd;
}
.atributos_meta, .atributos_acao, .unidades_admin {
	margin-top:4px;
}
/* relatorio de acoes */
#acoes_informadas {
	margin-top:2px;
}
.tipo_acao {
	margin-bottom:3px;
	padding:2px 3px;
	font-weight:bold;
	text-transform:uppercase;
	color:#000;
	font-size:1.2em;
	background-color:#cfe7df;
	border:1px solid #94aca4;
}
.rel_acoes {
	margin-top:20px;
	padding:1px 1px;
	border:1px solid #aaa;
}
.rel_acoes .cx_tabela {
	padding:0 1px;
}
.rel_acoes .cx_tabela table {
	margin-bottom:1px;
}
/* relatorio de metas */
.rel_metas {
	margin-top:20px;
	padding:1px 1px;
	border:1px solid #aaa;
}
.rel_metas .cx_tabela {
	padding:0 1px;
}
.rel_metas .cx_tabela table {
	margin-bottom:1px;
}
.rel_metas .dimensao {
	margin-bottom:3px;
	padding:2px 3px;
	font-weight:bold;
	text-transform:uppercase;
	color:#000;
	font-size:1.2em;
	background-color:#EAE1C0;
	border:1px solid #483A3A;
}

.rel_titulo {
	margin-top:20px;
	padding:1px 1px;
	border:1px solid #aaa;
}
.rel_titulo .cx_tabela {
	padding:0 1px;
}
.rel_titulo .cx_tabela table {
	margin-top:2px;
	margin-bottom:1px;
}

.marcador {
	display:block;
	text-align:justify;
}
.label {
	padding:2px 3px;
	color:white;
	font-weight:bold;
	text-transform:uppercase;
}
.label {
	font-size:1.3em;
	background-color:#194E84;
	border:1px solid #334433;
}

.titulo {
	display:block;
	margin:5px 0 10px 0;
	font-size:1.3em;
	padding:3px;
	font-weight:bold;
	text-align:justify;
}
.label_titulo {
	display:block;
	font-size:1.1em;
	padding:3px;
	font-weight:bold;
	background:#eee;
	text-align:justify;
}
.italico {
	text-align:justify;
	font-style:italic;
}
.obj_titulo {
	text-align:justify;
	font-size:1.0em;
	padding-left: 10px;
	font-style:italic;
}

.meta_titulo {
	text-align:justify;
	font-size:1.0em;
	padding-left: 15px;
	font-style:italic;
}
.acao_titulo {
	text-align:justify;
	font-size:1.0em;
	padding-left: 10px;
	font-style:italic;
}
/* relatorio de despesas por tipo de recurso */
.rel_despesas_recurso {
	margin-top:20px;
	padding:1px 1px;
	border:1px solid #aaa;
}
.rel_despesas_recurso .cx_tabela {
	padding:0 1px;
}
.rel_despesas_recurso .cx_tabela table {
	margin-bottom:1px;
}
.rel_despesas_recurso .tipo_recurso {
	margin-bottom:3px;
	padding:2px 3px;
	font-weight:bold;
	text-transform:uppercase;
	color:#000;
	font-size:1.2em;
	font-weight:bold;
	background-color:#eee;
	border:1px solid #aaa;;
}