/* remover o estilo do cabeçalho e menu */
header {
	display:none;
}
footer {
	display:none;
}
.filtros_pesquisa {
	display:none;
}
.cabecalho_impressao {
	display:block;
}
/* a observação é omitida para que seja adicionada em quadro específico no cabecalho de impressao */
.obs_relatorio {
	display:none;
}
