.rel_geral_dimensao * {
	font-size:12px;
	color:black;
}
.rel_geral_dimensao {
	margin-top:20px;
	padding:1px 1px;
	font-size:12px;
}
.rel_geral_dimensao p {
	margin:10px 0;
	font-size:12px;
	text-indent:5px;
}
.rel_geral_dimensao .cx_tabela {
	padding:0 1px;
	margin-bottom:10px;	
}
.rel_geral_dimensao .cx_tabela table {
	outline:0;
	border:0;	
}
.rel_geral_dimensao .cx_tabela table tr {
	border:1px solid #000;	
}
.rel_geral_dimensao .cx_tabela table tr th {
	background:#fff;
	border:1px solid #000;	
	vertical-align:middle;
}
.rel_geral_dimensao .cx_tabela table tr td {
	border:1px solid #000;	
}
.rel_geral_dimensao .tbl_linha1 {
	background:#eee;
}
.titulo_dimensao {
	display:block;
	font-size:1.8em;
	font-weight:bold;
	text-transform:uppercase;
	border-bottom:1px solid black;
}
.titulo {
	display:block;
	margin:5px 0 10px 0;
	font-size:1.3em;
	font-weight:bold;
	text-align:justify;
}
.label_titulo {
	display:block;
	font-size:1.1em;
	padding:3px;
	font-weight:bold;
	background:#eee;
	text-align:justify;
}
.titulo_obj_estrategico {
	display:block;
	margin:5px 0 8px 0;
	padding:2px 0px;
	font-size:13px;
	font-weight:bold;
	font-weight:normal;
	text-align:justify;
	background:#eee;
}
.titulo_meta {
	margin:5px 0;
	font-size:13px;
	text-align:justify;
}
.rel_geral_dimensao p.justificativa {
	text-align:justify;
	font-style:italic;
}
/* relatorio geral por acao do orcamento */
.rel_geral_acaoorcamento .titulo_acaoorcamento {
	font-size:16px;
	color:black;
	margin-bottom:5px;
	border-bottom:1px solid #aaa;
	display:block;
}
.rel_geral_acaoorcamento table.info {
	outline:0;
	border:0;
	margin:0;
}
.rel_geral_acaoorcamento table.info * {
	border:0;
}
.rel_geral_acaoorcamento .cx_tabela {
	padding:0 1px;
	margin:5px 0;	
}
