<span id="tabelas_e_listas-1" aria-hidden="true"></span>
{% box "Tabelas" %}
    <dl class="definition-list">
        <dt>Formatação Comum</dt>
        <dd>
            <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th><div class="text hint" data-hint="Lorem Ipsum dolor sit">Lorem ipsum</div></th>
                        <th>Dolor sit</th>
                        <th>Consectetur</th>
                        <th>Adipiscing <span class="info">Total: 450</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Adipiscing</td>
                        <td>Elit</td>
                        <td>Maecenas</td>
                        <td class="text-end">250</td>
                    </tr>
                    <tr class="highlight">
                        <td>2</td>
                        <td>Est elit</td>
                        <td>Convallis</td>
                        <td>Nunc luctus</td>
                        <td class="text-end">100</td>
                    </tr>
                    <tr class="error">
                        <td>3</td>
                        <td>In bibendum</td>
                        <td>Malesuada</td>
                        <td>Integer mollis</td>
                        <td class="text-end">50</td>
                    </tr>
                    <tr class="extra">
                        <td>4</td>
                        <td>In bibendum</td>
                        <td>Malesuada</td>
                        <td>Integer mollis</td>
                        <td class="text-end">50</td>
                    </tr>
                    <tr class="disabled">
                        <td>5</td>
                        <td>In bibendum</td>
                        <td>Malesuada</td>
                        <td>Integer mollis</td>
                        <td class="text-end">0</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">Total:</td>
                        <td>450</td>
                    </tr>
                </tfoot>
            </table>
            </div>
        </dd>

        <dt>Código HTML</dt>
        <dd>
<pre>
&lt;div class="table-responsive"&gt;
    &lt;table&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;#&lt;/th&gt;
                &lt;th&gt;
                    &lt;div class="text hint" data-hint="Lorem Ipsum dolor sit"&gt;Lorem ipsum&lt;/div&gt;
                &lt;/th&gt;
                &lt;th&gt;Dolor sit&lt;/th&gt;
                &lt;th&gt;Consectetur&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td&gt;1&lt;/td&gt;
                &lt;td&gt;Adipiscing&lt;/td&gt;
                &lt;td&gt;Elit&lt;/td&gt;
                &lt;td&gt;Maecenas&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr class="highlight"&gt;
                &lt;td&gt;2&lt;/td&gt;
                &lt;td&gt;Adipiscing&lt;/td&gt;
                &lt;td&gt;Elit&lt;/td&gt;
                &lt;td&gt;Maecenas&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr class="error"&gt;
                &lt;td&gt;3&lt;/td&gt;
                &lt;td&gt;Est elit&lt;/td&gt;
                &lt;td&gt;Convallis&lt;/td&gt;
                &lt;td&gt;Nunc luctus&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr class="extra"&gt;
                &lt;td&gt;4&lt;/td&gt;
                &lt;td&gt;Est elit&lt;/td&gt;
                &lt;td&gt;Convallis&lt;/td&gt;
                &lt;td&gt;Nunc luctus&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr class="disabled"&gt;
                &lt;td&gt;5&lt;/td&gt;
                &lt;td&gt;Est elit&lt;/td&gt;
                &lt;td&gt;Convallis&lt;/td&gt;
                &lt;td&gt;Nunc luctus&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;
</pre>
        </dd>

        <dt>Regras</dt>
        <dd>
            <ol>
                <li>A tag <code>tfoot</code> automaticamente estiliza o conteúdo de suas células com fonte negrito e alinhamento à direita.</li>
                <li>Para inserir um comentário a respeito de uma célula de cabeçalho de tabela (<code>th</code>), basta adicionar as classes <code>text hint</code> à tag e o atributo <code>data-hint</code> contendo o comentário.</li>
            </ol>
        </dd>
    </dl>
{% endbox %}

<span id="tabelas_e_listas-2" aria-hidden="true"></span>
{% box "Lista de Definições" %}
    {% include "includes/guia_lista_definicoes.html" %}
{% endbox %}

<span id="tabelas_e_listas-3" aria-hidden="true"></span>
{% box "Lista de Links Ordenados" %}
    <dl class="definition-list">
        <dt>Exibição</dt>
        <dd>
            <ol class="counter-container">
                <li class="counter-item"><a href="#">Item a</a></li>
                <li class="counter-item"><a href="#">Item x</a></li>
                <li class="counter-item"><a href="#">Item c</a></li>
                <li class="counter-item"><a href="#">Item b</a></li>
                <li class="counter-item"><a href="#">Item y</a></li>
            </ol>
        </dd>

        <dt>Código HTML</dt>
        <dd>
<pre>
&lt;ol class="counter-container"&gt;
    &lt;li class="counter-item"&gt;&lt;a href="#"&gt;Item&lt;/a&gt;&lt;/li&gt;
&lt;/ol&gt;
</pre>
        </dd>
    </dl>
{% endbox %}

<span id="tabelas_e_listas-4" aria-hidden="true"></span>
{% box "Lista Numerada com Ícones" %}
    <dl class="definition-list">
        <dt>Exibição</dt>
        <dd>
            <ol class="numbered-list">
                <li class="list-item"><a href="#">{% icone "file-alt" %} Item a</a></li>
                <li class="list-item"><a href="#">{% icone "file-alt" %} Item x</a></li>
                <li class="list-item"><a href="#">{% icone "file-alt" %} Item c</a></li>
                <li class="list-item"><a href="#">{% icone "file-alt" %} Item b</a></li>
                <li class="list-item"><a href="#">{% icone "file-alt" %} Item y</a></li>
            </ol>
        </dd>

        <dt>Código HTML</dt>
        <dd>
<pre>
&lt;ol class="numbered-list"&gt;
    &lt;li class="list-item"&gt;&lt;a href="#"&gt;&#123;% icone "file-alt" %&#125; Item&lt;/a&gt;&lt;/li&gt;
&lt;/ol&gt;
</pre>
        </dd>
    </dl>
{% endbox %}
