{% if tem_permissao_realizar_procedimentos_etep and obj.get_situacao != 2 %}
    <div class="action-bar">
        <a class="btn popup" href="/etep/adicionar_registro/{{ obj.pk }}/">
            Adicionar Registro
        </a>
    </div>
{% endif %}
{% box 'Registro' %}
    {% if registros %}
        <table>
        <thead>
            <tr>
                {% if tem_permissao_realizar_procedimentos_etep and obj.get_situacao != 2 %}
                    <th>Ações</th>
                {% endif %}
                <th>Anexo</th>
            </tr>
        </thead>
        <tbody>
            {% for registro_acompanhamento in anexos %}
                <tr>
                    {% if tem_permissao_realizar_procedimentos_etep and obj.get_situacao != 2 %}
                        <td>
                            {% if request.user == registro_acompanhamento.usuario %}
                                {% icon "delete" "/comum/excluir/etep/registroacompanhamento/{{ registro_acompanhamento.pk }}/" "Remover" "no-confirm popup" %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endif %}
                    <td><a href="{{ registro_acompanhamento.anexo.url }}">{{ registro_acompanhamento.anexo|filename }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="msg alert">
            O aluno não possui nenhum encaminhamento neste acompanhamento.
        </p>
    {% endif %}
{% endbox %}