{% extends super_template %}

{% block content %}
    {% box 'Dados Gerais' %}
        <table class="info">
            <tr>
                <td>Título</td>
                <td>{{ obj.titulo }}</td>
            </tr>
            <tr>
                <td>Descrição</td>
                <td>{{ obj.descricao }}</td>
            </tr>
            <tr>
                <td>Data de Envio</td>
                <td>{{ obj.data_inclusao }}</td>
            </tr>
            <tr>
                <td>Data da Início da Atividade</td>
                <td>{{ obj.data_inicio_atividade }}</td>
            </tr>
            <tr>
                <td>Data da Fim da Atividade</td>
                <td>{{ obj.data_fim_atividade }}</td>
            </tr>
            <tr>
                <td>Visibilidade</td>
                <td>{{ obj.get_visibilidade|format|safe }}</td>
            </tr>
            <tr>
                <td>Autor</td>
                <td>{{ obj.usuario|format }}</td>
            </tr>
            <tr>
                <td>Tipo</td>
                <td>{{ obj.tipo }}</td>
            </tr>
        </table>
    {% endbox %}

    {% box 'Arquivos' %}
        {% if tem_permissao_alterar_documentos_etep %}
            <ul class="action-bar">
                <li><a class="btn success popup" href="/etep/adicionar_documento/{{ obj.pk }}/">Adicionar Documento</a></li>
            </ul>
        {% endif %}

        {% if obj.documento_set.exists and tem_permissao_ver_documentos_etep %}
            <table>
                <thead>
                    <tr>
                        {% if tem_permissao_alterar_documentos_etep %}
                            <th class="no-print">Ações</th>
                        {% endif %}
                        <th class="text-center">Arquivo</th>
                        <th class="text-center">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for documento in obj.documento_set.all %}
                        <tr>
                            {% if tem_permissao_alterar_documentos_etep %}
                                <td class="no-print">
                                    {% icon "edit" "/etep/alterar_documento/{{ documento.pk }}/" "Editar" "popup" %}
                                    {% icon "delete" "/comum/excluir/etep/documento/{{ documento.pk }}/" "Editar" "no-confirm popup" %}
                                </td>
                            {% endif %}
                            <td><a href="{{ documento.arquivo.url }}">{{ documento.arquivo|filename }}</a></td>
                            <td>{{ documento.tipo|format }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="msg alert">A atividade ainda não possui nenhum documento.</p>
        {% endif %}
    {% endbox %}
{% endblock %}