{% load filters %}
<table>
    <thead>
    <tr>
        <th><strong>{{ objects.0.pergunta.conteudo }}</strong></th>
    </tr>
    </thead>
    <tbody>

    {% for group, options, index in widget.optgroups %}
        {% for option in options %}
            {% if option.value != "" %}
            <tr>
                <td>
                    {% with widget=option %}
                        <input type="{{ widget.type }}" name="{{ widget.name }}" value="{{ widget.value|stringformat:'s' }}"{% include "django/forms/widgets/attrs.html" %} />
                    {% endwith %}
                {{ option.label }} </td>
            </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>