<table>
    <thead>
    <tr>
        <th>-</th>
        <th>Categoria</th>
        <th>Pergunta</th>
        <th>Opções de Resposta</th>
    </tr>
    </thead>
    <tbody>
    {% if objects %}
        {% for obj in objects %}
            <tr>
                <td>{{ obj.widget }}</td>
                <td>{{ obj.categoria.titulo }}</td>
                <td>{{ obj.conteudo }}</td>
                <td>
                    <ul>
                        {% for opcao in obj.opcao_set.all %}
                            <li>{{ opcao }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4"><p class="msg alert">Nenhuma pergunta encontrada.</p></td>
        </tr>
    {% endif %}
    </tbody>
</table>