{% extends super_template %}
{% load i18n %}

{% block content %}
{% if perms_lacking or protected %}
    {% if perms_lacking %}
        <p>{% blocktrans with object as escaped_object %}Deleting the {{ object_name }} '{{ escaped_object }}' would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
        <ul>
        {% for obj in perms_lacking %}
            <li>{{ obj }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if protected %}
        <p>{% blocktrans with object as escaped_object %}Deleting the {{ object_name }} '{{ escaped_object }}' would require deleting the following protected related objects:{% endblocktrans %}</p>
        <ul>
        {% for obj in protected %}
            <li>{{ obj }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% else %}
    <p>{% blocktrans with object as escaped_object %}Are you sure you want to delete the {{ object_name }} "{{ escaped_object }}"? All of the following related items will be deleted:{% endblocktrans %}</p>
    <ul>{{ deleted_objects|unordered_list }}</ul>
    <form action="" method="post" id="delete_form">{% csrf_token %}
        <h3>Informe sua senha para confirmar a remoção:</h3>
        <fieldset class="module aligned">
            <div class="form-row">
                <div class="field-box-first required">
                    <label for="password" class="required" title="Preenchimento obrigatório">{% blocktrans %}Password{% endblocktrans %}:</label>
                    <div class="field-box password-container">
                        <input type="password" class="password-input" id="id_password" name="password" />
                        <button class="input-group-addon" type="button" role="button" id="view-password" title="Exibir a senha">
                            <span class="fa fa-eye fa-fw" aria-hidden="true"></span>
                            <span class="sr-only">Exibir a senha</span>
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="submit-row">
            <input type="hidden" name="post" value="yes" />
            <input class="btn danger" type="submit" value="Sim, remova" />
            <input class="btn default" type="button" onclick="javascript:history.back(-1)" value="Cancelar" />
        </div>
    </form>
    <script>
        toggle_password_view('password');
    </script>
{% endif %}
{% endblock %}
