{% extends super_template %}

{% block content %}

{% if eventos %}
<table>
	<thead>
		<tr>
			<th class="no-print">Ações</th>
			<th>Código</th>
			<th>Nome</th>
			<th>Descrição</th>
		</tr>
	</thead>
	<tbody>
		{% for evento in eventos %}
		<tr>
			<td class="no-print">{% icon "edit" "/admin/financeiro/evento/{{ evento.id }}/" %}</td>
			<td style="text-align:center">{{ evento.codigo }}</td>
			<td>{{ evento.nome }}</td>
			<td>{{ evento.descricao|default:"Não informada" }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p class="msg alert">Não foram encontrados eventos nos registros importados.</p>
{% endif %}

{% endblock %}