{% extends super_template %}

{% block content %}

{% box 'Dados Gerais' %}
<table>
	<tr>
		<td>Unidade Gestora</td>
		<td>{{ ug }}</td>
	</tr>
	<tr>
		<td>Unidade Gestora Resp.</td>
		<td>{{ ugr }}</td>
	</tr>
	<tr>
		<td>Natureza de Despesa</td>
		<td>{{ nt }}</td>
	</tr>
</table>
{% endbox %}

{% regroup despesas by natureza_despesa_id as lista_despesas %}

<div class="cx_tabela">
<table>
	<thead>
		<tr>
			<th width="50px">Código</th>
			<th>Natureza de Depesa/Fonte de Recurso</th>
			<th width="130px" style="text-align:center">Valor Descentralizado</th>
			<th width="130px" style="text-align:center">Valor Gasto</th>
			<th width="130px" style="text-align:center">Saldo</th>
		</tr>
	</thead>
	<tbody>
		{% for despesas in lista_despesas %}
		{% for despesa in despesas.list %}
		<tr>
			<td style="text-align:center;">{{ despesa.fonte_recurso_id }}</td>
			<td>{{ despesa.fonte_recurso_nome }}</td>
			<td style="text-align:right;">{{ despesa.descentralizado|mascara_dinheiro }}</td>
			<td style="text-align:right;">{{ despesa.gasto|mascara_dinheiro }}</td>
			<td style="text-align:right;">{{ despesa.saldo|mascara_dinheiro }}</td>
		</tr>
		{% endfor %}
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">Total</td>
			<td>{{ despesas|sum_values_by_key:"descentralizado"|mascara_dinheiro }}</td>
			<td>{{ despesas|sum_values_by_key:"gasto"|mascara_dinheiro }}</td>
			<td>{{ despesas|sum_values_by_key:"saldo"|mascara_dinheiro }}</td>
		</tr>
	</tfoot>
</table>
</div>

<div id="botoes" class="botoes" >
	<a class="lnk_botao voltar">Voltar</a>
	</div>

{% endblock %}