{% extends super_template %}

{% block content %}
    <h2>Nota de Dotação</h2>

	{% box 'Dados Gerais' %}
	<table>
		<tr>
			<td>Número da Nota</td>
			<td>{{ nota.numero }}</td>
			<td>Data de Emissão</td>
			<td>{{ nota.datahora_emissao|date:"d/m/Y" }}</td>
		</tr>
		<tr>
			<td>UG Emitente</td>
			<td>{{ nota.emitente_ug }}</td>
		</tr>
		<tr>
			<td>Obs</td>
			<td>{{ nota.observacao }}</td>
		</tr>
	</table>
	{% endbox %}

	{% box 'Itens' %}
	<table>
		<thead>
			<tr>
				<th>UG Responsável</th>
				<th width="70px">Evento</th>
				<th width="150px">Esfera Orçamentária</th>
				<th width="70px">PTRES</th>
				<th width="70px">Fonte</th>
				<th width="110px">Nat. de Despesa</th>
				<th width="120px">Plano Interno</th>
				<th width="110px">Valor</th>
			</tr>
		</thead>
		<tbody>
			{% for item in nota.notadotacaoitem_set.all %}
			<tr>
				<td>{{ item.ugr|default:nota.emitente_ug }}</td>
				<td style="text-align:center;">{{ item.evento.codigo }}</td>
				<td style="text-align:center;">{{ item.esfera.nome }}</td>
				<td style="text-align:center;">{{ item.ptres }}</td>
				<td style="text-align:center;">{{ item.fonte_recurso.codigo }}</td>
				<td style="text-align:center;">{{ item.natureza_despesa.codigo }}</td>
				<td style="text-align:center;">{{ item.plano_interno.codigo }}</td>
				<td style="text-align:right;font-weight:bold;">
					{% if item.evento.is_credito == None %}
					{{ item.valor|mascara_dinheiro }}
					{% else %}
					{% if item.evento.is_credito %}
					<span style="color:green;">{{ item.valor|mascara_dinheiro }}</span>
					{% else %}
					<span style="color:red;">- {{ item.valor|mascara_dinheiro }}</span>
					{% endif %}
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endbox %}
	
	<div id="botoes" class="botoes" >
		<a class="lnk_botao voltar">Voltar</a>
   	</div>

{% endblock %}