{% extends super_template %}

{% block content %}
<h2>Notas de Crédito</h2>

{% box 'Dados Gerais' %}
<table>
	<tr>
		<td>UG Emitente</td>
		<td>{{ uge }}</td>
	</tr>
	<tr>
		<td>UG Favorecida</td>
		<td>{{ ugf }}</td>
	</tr>
</table>
{% endbox %}

<div class="cx_tabela">
	<table>
		<thead>
			<tr>
				<th width="18px"></th>
				<th width="90px" style="text-align:center;">Número</th>
				<th width="90px" style="text-align:center;">Emissão</th>
				<th>Observação</th>
				<th width="100px" style="text-align:center;">Crédito</th>
				<th width="100px" style="text-align:center;">Débito</th>
			</tr>
		</thead>
		<tbody>
			{% for nota in notas %}
			<tr>
				<td>{% icon "view" "/orcamento/notacredito/{{ nota.id }}/item/" %}</td>
				<td style="text-align:center;">{{ nota.numero }}</td>
				<td style="text-align:center;">{{ nota.datahora_emissao|date:"d/m/Y" }}</td>
				<td>{{ nota.observacao|truncatechars:120 }}...</td>
				<td style="text-align:right;font-weight:bold;color:green;">{{ nota.valor_credito|mascara_dinheiro }}</td>
				<td style="text-align:right;font-weight:bold;color:red;">{% if nota.valor_debito %}- {% endif %}{{ nota.valor_debito|mascara_dinheiro }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div id="botoes" class="botoes" >
	<a class="lnk_botao voltar">Voltar</a>
</div>

{% endblock %}