{% extends super_template %}

{% block extrahead %}
	{{ form.media }}
{% endblock %}

{% block content %}
<h2>Detalhamento da execução orçamentária</h2>

{% box 'Dados Gerais' %}
<table>
	<tr>
		<td>Unidade Gestora</td>
		<td>{{ ug }}</td>
	</tr>
	<tr>
		<td>Unidade Gestora Resp.</td>
		<td>{% if ug != ugr %}{{ ugr }}{% else %}-{% endif %}</td>
	</tr>
	<tr>
		<td>{{ form.tipo_nota.label }}</td>
		<td>
			<form method="post">
				{% csrf_token %}
				{{ form.tipo_nota }}
			</form>
		</td>
	</tr>
</table>
{% endbox %}

<div id="tipo_notas" class="cx_tabela">
	<div id="tbl_nc">
		{% if notas_credito %}
		<table>
			<thead>
				<tr>
					<th width="18px"></th>
					<th width="90px">Número</th>
					<th>Observação</th>
					<th width="90px">Crédito</th>
					<th width="90px">Débito</th>
				</tr>
			</thead>
			<tbody>
				{% for nota in notas_credito %}
				<tr>
					<td>{% icon "view" "/orcamento/notacredito/{{ nota.id }}/item/" %}</td>
					<td style="text-align:center;">{{ nota.numero }}</td>
					<td>{{ nota.observacao }}</td>
					<td style="text-align:right;font-weight:bold;color:green;">{{ nota.valor_credito|mascara_dinheiro }}</td>
					<td style="text-align:right;font-weight:bold;color:red;">{% if nota.valor_debito %}- {% endif %}{{ nota.valor_debito|mascara_dinheiro }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p class="msg alert">Não foram encontradas notas de crédito.</p>
		{% endif %}
	</div>
	<div id="tbl_nd" style="display:none;">
		{% if notas_dotacao %}
		<table>
			<thead>
				<tr>
					<th width="18px"></th>
					<th width="90px">Número</th>
					<th>Observação</th>
					<th width="90px">Valor</th>
				</tr>
			</thead>
			<tbody>
				{% for nota in notas_dotacao %}
				<tr>
					<td>{% icon "view" "/orcamento/notadotacao/{{ nota.id }}/item/" %}</td>
					<td style="text-align:center;">{{ nota.numero }}</td>
					<td>{{ nota.observacao }}</td>
					<td style="text-align:right;font-weight:bold;">{{ nota.valor|mascara_dinheiro }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p class="msg alert">Não foram encontradas notas de dotação.</p>
		{% endif %}
	</div>
</div>

<div id="botoes" class="botoes" >
	<a class="lnk_botao voltar">Voltar</a>
</div>

{% endblock %}