{% extends super_template %}

{% block action-bar %}
<ul class="action-bar">
    <li><a class="btn success" href="/admin/rh/pessoajuridica/add/">Adicionar Instituição Conveniada</a></li>
</ul>
{% endblock %}

{% block content %}

    <div class="search-and-filters">
		{% render_form form %}
	</div>

    {% if form.is_bound %}
        {% if campi %}
            {% for uo in campi %}
                {% box 'Campus {{ uo }}' %}
                    {% if uo.parceiros %}
                        <table>
                            <thead>
                                <tr>
                                    <th>CNPJ</th>
                                    <th>Nome</th>
                                    <th>E-mail</th>
                                    <th>Telefones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for parceiro in uo.parceiros %}
                                     <tr>
                                        <td>{{ parceiro.pessoa.pessoajuridica.cnpj }}</td>
                                        <td>{{ parceiro.pessoa.nome }}</td>
                                        <td>{{ parceiro.pessoa.email }}</td>
                                        <td>{{ parceiro.pessoa.telefones }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="msg alert"> Nenhuma instituição conveniada encontrada.</p>
                    {% endif %}
                {% endbox %}
            {% endfor %}
        {% else %}
            <p class="msg alert"> Nenhuma instituição conveniada encontrada.</p>
        {% endif %}
    {% else %}
        <p class="msg alert">Selecione um campus para visualizar as instituições conveniadas.</p>
    {% endif %}
{% endblock %}
