{% extends super_template %}

{% block content %}
    
    {% box 'Informações Gerais' %}
        {% if is_operador %}
        <ul class="action-bar">
            <li><a class="btn primary" href="/admin/convenios/convenio/{{ convenio.pk }}/">Editar Convênio</a></li>
        </ul>
        {% endif %}
        <table class="info">
            <tr>
                <td>Campus</td>
                <td>{{ convenio.uo }}</td>
            </tr>
            <tr>
                <td>Tipo do Convênio</td>
                <td>{{ convenio.tipo }}</td>
            </tr>
            
            <tr>
                <td>Situação</td>
                <td>{{ convenio.get_situacao }} </td>
            </tr>
            
            <tr>
                <td>Data de Início</td>
                <td>{{ convenio.data_inicio|date:"d/m/Y" }}</td>
            </tr>
            <tr>
                <td>Data de Vencimento</td>
                <td>{{ convenio.get_data_vencimento|date:"d/m/Y" }}</td>
            </tr>
            <tr>
                <td>Conveniadas</td>
                <td>
                    {{ convenio.get_conveniadas_as_string|format }}
                </td>
            </tr>
            <tr>
            <tr>
                <td>Objeto</td>
                <td>{{ convenio.objeto }}</td>
            </tr>
            <tr>
                <td>Usa Recurso Financeiro</td>
                <td> {% if convenio.financeiro %} <span class="status status-success">Sim</span> {% else %}  <span class="status status-error">Não</span> {% endif %}</td>
            </tr>
            <tr>
                <td>Continuado</td>
                <td> {% if convenio.continuado %} <span class="status status-success">Sim</span> {% else %}  <span class="status status-error">Não</span>  {% endif %}</td>
            </tr>
            
            
            <tr>
                <td>Interveniente</td>
                <td>{{ convenio.interveniente|format }}</td>
            </tr>
            
        </table>
    <br/>

    {% endbox %}
    {% box 'Aditivos' %}
        {% if is_operador %}
            <ul class="action-bar">
                <li><a class="btn success" href="/convenios/adicionar_aditivo/{{ convenio.pk }}/">Adicionar Aditivo</a></li>
            </ul>
        {% endif %}
        {%  if aditivos %}
            <table>
                <thead>
                    <tr>
                        {% if is_operador %}
                            <th class="no-print">Ações</th>
                        {% endif %}
                        <th>Ordem</th>
                        <th>Número</th>
                        <th>Objeto</th>
                        <th>Nova Vigência</th>
                    </tr>
                </thead>
                <tbody>
                    {%  for termo in aditivos %}
                        <tr>
                            {% if is_operador %}
                                <td class="no-print">
                                    {% icon "edit" "/convenios/atualizar_aditivo/{{ termo.id }}/" %}
                                    {% icon "delete" "/convenios/excluir_aditivo/{{ termo.id }}/" %}
                                </td>
                            {% endif %}
                            <td>{{ termo.ordem }}º Termo</td>
                            <td>{{ termo.numero }}</td>
                            <td>{{ termo.objeto }}</td>
                            {% if termo.data_inicio %}
                                <td>{{ termo.data_inicio|date:"d/m/Y" }} - {{ termo.data_fim|date:"d/m/Y" }}</td>
                            {% else %}    
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="msg alert">Nenhum aditivo encontrado.</p>
        {% endif %}


    {% endbox %}
    {% box 'Anexos' %}
        {% if is_operador %}
            <ul class="action-bar">
                   <li><a class="btn success" href="/convenios/adicionar_anexo/{{ convenio.pk }}/">Adicionar Anexo</a></li>
            </ul>
        {% endif %}
        {%  if convenio.anexos_set.all %}
            <table>
                <thead>
                    <tr>
                        {% if is_operador %}
                            <th class="no-print">Ações</th>
                        {% endif %}
                        <th>Tipo</th>
                        <th>Descrição</th>
                        <th>Arquivo Digitalizado</th>
                        <th class="no-print">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {%  for anexo in convenio.anexos_set.all %}
                        <tr>
                            {% if is_operador %}
                                <td class="no-print">
                                    {% icon "edit" "/convenios/atualizar_anexo/{{ anexo.id }}/" %}
                                    {% icon "delete" "/convenios/excluir_anexo/{{ anexo.id }}/" %}
                                </td>
                            {% endif %}
                            <td>{{ anexo.tipo }}</td>
                            <td>{{ anexo.descricao }}</td>
                            <td>
                            {% if anexo.arquivo %}
                                <a href="/convenios/visualizar_arquivo/{{ anexo.arquivo.id }}/">{{ anexo.arquivo.nome }}</a>
                            {% else %}
                                <p class="msg alert">Aguardando submissão do arquivo.</p>
                            {% endif %}
                            </td>
                            <td>
                                <a class="btn" href="/convenios/upload_anexo/{{ anexo.id }}/">Carregar Arquivo</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="msg alert"> Nenhum anexo encontrado.</p>
        {% endif %}
    {% endbox %}

{% endblock %}
