{% box "Pedidos de Matrícula" %}
    {% if pedidos_matricula %}
        <div class="table-responsive">
        <table>
            <thead>
            <tr>
                <th class="no-print">Ações</th>
                <th>Código</th>
                <th>Ano/Período</th>
                <th>Descrição</th>
                <th>Turma</th>
                <th>Situação</th>
            </tr>
            </thead>
            <tbody>
            {% for pedido_matricula in pedidos_matricula %}
                <tr>
                    <td class="no-print">
                        <a class="popup icon icon-view" data-reload-on-close="false"
                           href='/edu/meu_pedido_matricula/{{ pedido_matricula.id }}/' title="Acompanhar o status do seu pedido"><span class="sr-only">Acompanhar o status do seu pedido</span></a>
                        {% if is_admin %}
                            {% icon "delete" "/comum/excluir/edu/pedidomatricula/{{ pedido_matricula.id }}/" "Remover" "popup" %}
                        {% endif %}
                    </td>
                    <td>{{ pedido_matricula.configuracao_pedido_matricula.pk }}</td>
                    <td>{{ pedido_matricula.matricula_periodo.ano_letivo }}/{{ pedido_matricula.matricula_periodo.periodo_letivo }}</td>
                    <td>{{ pedido_matricula.configuracao_pedido_matricula.descricao|format }}</td>
                    <td>{{ pedido_matricula.turma|format }}</td>
                    <td><span
                            class="status {{ pedido_matricula.configuracao_pedido_matricula.get_status.1 }}">{{ pedido_matricula.configuracao_pedido_matricula.get_status.0|format }}</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
        <p class="msg alert">Nenhuma disciplina foi solicitada nesse pedido de renovação de matrícula.</p>
    {% endif %}
{% endbox %}