{% box "Premiações" %}

    {% if pode_realizar_procedimentos and not obj.is_cancelado %}
        <ul class="action-bar">
            <li>
                <a href="/edu/adicionar_premiacao/{{ obj.pk }}/" class="btn popup success">Adicionar Premiação</a>
            </li>
        </ul>
    {% endif %}

    {% if premiacoes.exists %}
        <table>
            <thead>
            <tr>
                {% if pode_realizar_procedimentos and not obj.is_cancelado %}
                    <th class="no-print">Ações</th>
                {% endif %}
                <th>Data</th>
                <th>Tipo</th>
                <th>Observação</th>
            </tr>
            </thead>
            <tbody>
            {% for premiacao in premiacoes %}
                <tr>
                    {% if pode_realizar_procedimentos and not obj.is_cancelado %}
                        <td class="no-print">
                            {% icon "edit" "/edu/adicionar_premiacao/{{ obj.pk }}/{{ premiacao.pk }}/" "Editar Premiação" %}
                            {% icon "delete" "/comum/excluir/edu/premiacao/{{ premiacao.pk }}/" "Remover Premiação" "no-confirm popup" %}
                        </td>
                    {% endif %}
                    <td>{{ premiacao.data|format }}</td>
                    <td>{{ premiacao.tipo|format }}</td>
                    <td>{{ premiacao.observacao|format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="msg alert">Não há premiações para esse aluno.</p>
    {% endif %}
{% endbox %}

{% box "Medidas Disciplinares" %}

    {% if pode_realizar_procedimentos and not obj.is_cancelado %}
        <ul class="action-bar">
            <li>
                <a href="/edu/adicionar_medida_disciplinar/{{ obj.pk }}/" class="btn popup success">Adicionar Medida
                    Disciplinar</a>
            </li>
        </ul>
    {% endif %}

    {% if medidas_disciplinares.exists %}
        <table>
            <thead>
            <tr>
                {% if pode_realizar_procedimentos and not obj.is_cancelado %}
                    <th class="no-print">Ações</th>
                {% endif %}
                <th>Data de Início</th>
                <th>Data de Fim</th>
                <th>Tipo</th>
                <th>Observação</th>
            </tr>
            </thead>
            <tbody>
            {% for medida in medidas_disciplinares %}
                <tr>
                    {% if pode_realizar_procedimentos and not obj.is_cancelado %}
                        <td class="no-print">
                            {% icon "edit" "/edu/adicionar_medida_disciplinar/{{ obj.pk }}/{{ medida.pk }}/" "Editar Medida Disciplinar" %}
                            {% icon "delete" "/comum/excluir/edu/medidadisciplinar/{{ medida.pk }}/" "Remover Medida Disciplinar" "no-confirm popup" %}
                        </td>
                    {% endif %}
                    <td>{{ medida.data_inicio|format }}</td>
                    <td>{{ medida.data_fim|format }}</td>
                    <td>{{ medida.tipo|format }}</td>
                    <td>{{ medida.observacao|format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="msg alert">Não há medidas disciplinares para esse aluno.</p>
    {% endif %}
{% endbox %}