{% box 'Documentos Eletrônicos' %}
    <table>
        <thead>
            <tr>
                <th class="no-print">Ações</th>
                <th>Documento</th>
            </tr>
        </thead>
        <tbody>
            {% for documento in documentos_eletronicos %}
                <tr>
                    <td class="no-print">
                        {% icon "view" "{{ documento.get_absolute_url }}" "Visualizar Documento" "popup" %}
                    </td>
                    <td>{{ documento }}</td>
                </tr>
            {% empty %}
            <tr>
                <td class="no-print" colspan="2">Nenhum documento eletrônico a exibir.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endbox %}

{% box 'Processos Eletrônicos' %}
    {% if processos_eletronicos %}
    <table>
        <thead>
            <tr>
                <th class="no-print">Ações</th>
                <th>Processo</th>
                <th>Assunto</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            {% for processo in processos_eletronicos %}
                <tr>
                    <td class="no-print">
                        {% icon "view" "{{ processo.get_absolute_url }}" "Visualizar Processo" "popup" %}
                    </td>
                    <td>{{ processo }}</td>
                    <td>{{ processo.assunto }}</td>
                    <td>{{ processo.get_status_display|status  }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td class="no-print" colspan="2">Nenhum documento eletrônico a exibir.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="msg alert">Nenhum processo eletrônico a exibir.</p>
    {% endif %}
{% endbox %}

{% box 'Processos Físicos' %}
    <table>
        <thead>
            <tr>
                <th class="no-print">Ações</th>
                <th>Protocolo</th>
            </tr>
        </thead>
        <tbody>
            {% for protocolo in processos_fisicos %}
                <tr>
                    <td class="no-print">
                        {% icon "view" "{{ protocolo.get_absolute_url }}" "Visualizar Protocolo" "popup" %}
                    </td>
                    <td>{{ protocolo }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td class="no-print" colspan="2">Nenhum documento eletrônico a exibir.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endbox %}
