{% if participacoes_eventos %}
    <div class="tab-container" data-title="Participações em Eventos/Palestras" data-counter="{{ participacoes_eventos.count }}" data-hide-tab-on-counter-zero="true" data-tab="eventos">
        {% box 'Eventos/Palestras' %}
            <table>
                    <thead>
                    <tr>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Tipo de Evento</th>
                        <th>Campus</th>
                        <th>Data de Realização</th>
                        <th>Tipo de Participação</th>
                        <th class="no-print">Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for participacao in participacoes_eventos %}
                        <tr>
                            <td>{{ participacao.evento.titulo }}</td>
                            <td>{{ participacao.evento.descricao }}</td>
                            <td>{{ participacao.evento.get_tipo }}</td>
                            <td>{{ participacao.evento.uo }}</td>
                            <td>{{ participacao.evento.data|format }}</td>
                            <td>{{ participacao.tipo_participacao }}</td>
                            <td class="no-print">
                                <a class="btn" href="/edu/imprimir_certificado_participacao_evento/{{ participacao.pk }}/">Imprimir Certificado</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% endbox %}
    </div>
{% endif %}
