.assinaturas {
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: block;
    font-size: 80%;
    margin: 50px 0 0;
    overflow: hidden;
    padding: 17px;
    page-break-inside: avoid !important;
    width: calc(100% - 34px);
}
.assinaturas > div:first-child {
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
    padding-bottom: 16px;
}
.assinaturas dl {
    padding: 0;
}
.assinaturas dt {
    clear: left;
    float: left;
    font-weight: 600;
    margin: 0 5px 0 0;
}
.assinaturas h3 {
    font-size: 100%;
    font-weight: 300;
    margin: 0 0 2px;
    text-align: left;
}
.assinaturas img {
    float: right;
    height: 95px;
    width: 95px;
}
.assinaturas p {
    margin: 0 115px 0 0;
    text-align: justify;
}
.assinaturas ul {
    margin: 0;
    padding: 0 0 0 12px;
}
.assinaturas ul li {
    list-style: square;
    padding: 2px 0 0;
}
