{% extends super_template %}

{% block content %}
    {% box "Informações do Grupo Atual" %}
        <table class="info">
            <tr>
                <td>Grupo</td>
                <td>{{ grupo.nome }}</td>
            </tr>
            <tr>
                <td>Sentença</td>
                <td>{{ grupo.sentenca }}</td>
            </tr>
            <tr>
                <td>Unidade</td>
                <td>{{ grupo.unidade }}</td>
            </tr>
        </table>
    {% endbox %}

    {% box "Escolha do Novo Grupo" %}
        {% render_form form %}
    {% endbox %}

    {% box "Materiais Selecionados" %}
        <table>
            <thead>
                <tr>
                    <th>CatMat</th>
                    <th>Código</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                {% for material in materiais %}
                <tr>
                    <td>{{ material.material.catmat|format }}</td>
                    <td>{{ material.material.codigo }}</td>
                    <td>{{ material.nome_original }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endbox %}

{% endblock %}
