{% extends super_template %}

{% block content %}
    {% box "Informações do Material" %}
        <table class="info">
            <tr>
                <td>Campus</td>
                <td>{{ material.uo }}</td>
            </tr>
            <tr>
                <td>Entrada</td>
                <td>
                    <div>
                        <div>
                            {{ material.entrada.descricao }}
                        </div>
                        <span>
                            <a class="btn default" 
                               href="/almoxarifado/entrada/{obj.entrada.entrada_id}/">
                               Acessar
                            </a>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Validado?</td>
                <td>{{ material.validado|format }}</td>
            </tr>
        </table>
    {% endbox %}
    <div>
        {% render_form form %}
    </div>

{% endblock %}
