{% if ferias %}
    <div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th class="text-center" colspan="6">Exercício {{ ferias.ano }}</th>
            </tr>
            <tr>
                <th>Parcela</th>
                <th>Data Início</th>
                <th>Dias</th>
                <th>Data Fim</th>
                <th>Adiantamento 13º</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            {% if ferias.parcelaferias_set.all.exists %}
                {% for parcela in ferias.parcelaferias_set.all %}
                    <tr>
                        <td>{{ parcela.numero_parcela }}</td>
                        <td>{{ parcela.data_inicio }}</td>
                        <td>{{ parcela.dias }}</td>
                        <td>{{ parcela.data_fim }}</td>
                        <td>{{ parcela.adiantamento_gratificacao_natalina|format }}</td>
                        <td>{{ parcela.situacao }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>1</td>
                    <td>{{ ferias.data_inicio_periodo1 }}</td>
                    <td>{{ ferias.dias_ferias_periodo1 }}</td>
                    <td>{{ ferias.get_fim_periodo1 }}</td>
                    <td>{% if ferias.gratificacao_natalina == 1 %} <span class="status status-success">Sim</span> {% else %} - {% endif %}</td>
                    <td>{{ ferias.get_situacao_periodo1 }}</td>
                </tr>
                {% for i in ferias.get_interrupcoes_ferias_periodo_1 %}
                    <tr>
                        <td>1.{{ forloop.counter }}</td>
                        <td>{{ i.data_inicio_continuacao_periodo }}</td>
                        <td>{{ i.dias_ferias }}</td>
                        <td>{{ i.get_data_fim }}</td>
                        <td> - </td>
                        <td>{{ i.get_situacao }}</td>
                    </tr>
                {% endfor %}

                {% if ferias.data_inicio_periodo2 %}
                    <tr>
                        <td>2</td>
                        <td>{{ ferias.data_inicio_periodo2 }}</td>
                        <td>{{ ferias.dias_ferias_periodo2 }}</td>
                        <td>{{ ferias.get_fim_periodo2 }}</td>
                        <td>{% if ferias.gratificacao_natalina == 2 %} <span class="status status-success">Sim</span> {% else %} - {% endif %}</td>
                        <td>{{ ferias.get_situacao_periodo2 }}</td>
                    </tr>
                    {% for i in ferias.get_interrupcoes_ferias_periodo_2 %}
                        <tr>
                            <td>2.{{ forloop.counter }}</td>
                            <td>{{ i.data_inicio_continuacao_periodo }}</td>
                            <td>{{ i.dias_ferias }}</td>
                            <td>{{ i.get_data_fim }}</td>
                            <td> - </td>
                            <td>{{ i.get_situacao }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}

                {% if ferias.data_inicio_periodo3 %}
                    <tr>
                        <td>3</td>
                        <td>{{ ferias.data_inicio_periodo3 }}</td>
                        <td>{{ ferias.dias_ferias_periodo3 }}</td>
                        <td>{{ ferias.get_fim_periodo3 }}</td>
                        <td>{% if ferias.gratificacao_natalina == 3 %} <span class="status status-success">Sim</span> {% else %} - {% endif %}</td>
                        <td>{{ ferias.get_situacao_periodo3 }}</td>
                    </tr>
                    {% for i in ferias.get_interrupcoes_ferias_periodo_3 %}
                        <tr>
                            <td>3.{{ forloop.counter }}</td>
                            <td>{{ i.data_inicio_continuacao_periodo }}</td>
                            <td>{{ i.dias_ferias }}</td>
                            <td>{{ i.get_data_fim }}</td>
                            <td> - </td>
                            <td>{{ i.get_situacao }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </tbody>
    </table>
    </div>
{% else %}
    <p class="msg alert">Não foram encontradas férias cadastradas.</p>
{% endif %}