{% extends super_template %}



{% block extrahead %}
<script>
$(document).ready(function() {
    $(".pills a").click(function(e) {
        e.preventDefault();
        var secao = $(this).attr("data-pdi");
        $(".pills a").parent().removeClass("active");
        $(this).parent().addClass("active");
        $(".secao-pdi").addClass("d-none");
        $("#" + secao).removeClass("d-none");
    });
    $(".action-bar a").on('click', function() {
        var id = $(this).data("id");
        if ($(this).hasClass('concordar')) {
            var link = "/pdi/concordar_contribuicao/";
        } else {
            var link = "/pdi/discordar_contribuicao/";
        }
        $.get(link + id + "/", function(data) {
            atualizar_contribuicao(id, data);
        });
    });
});
function atualizar_contribuicao(id, data){
    $('#qtd-concordaram-'+id).html(data.qtd_concordaram);
    $('#qtd-discordaram-'+id).html(data.qtd_discordaram);
    $('#discordar-'+id).removeClass("checked unchecked");
    $('#concordar-'+id).removeClass("checked unchecked");
    if (data.concordou != null) {
	    atualizar_contribuicao_concordou(id, data);
    }
    if (data.discordou != null) {
	    atualizar_contribuicao_discordou(id, data);
    }
    $("#contribuicao-"+id).fadeOut().fadeIn();
}
function atualizar_contribuicao_concordou(id, data){
    if(data.concordou){
        $('#concordar-'+id).addClass("checked");
        $('#discordar-'+id).addClass("unchecked");
    } else {
        $('#concordar-'+id).removeClass("checked");
        $('#discordar-'+id).removeClass("unchecked");
    }
}
function atualizar_contribuicao_discordou(id, data){
    if(data.discordou){
        $('#discordar-'+id).addClass("checked");
        $('#concordar-'+id).addClass("unchecked");
    } else {
        $('#discordar-'+id).removeClass("checked");
        $('#concordar-'+id).removeClass("unchecked");
    }
}
</script>

<style>
.msg.help {
    overflow: hidden;
}
.container-pdi {
    max-width: calc(100% - 180px);
}
.img-pdi {
    max-width: 170px;
}
</style>
{% endblock %}

{% block content %}

<div class="msg help">
    <div class="float-start container-pdi">
        <p><strong>Resumo:</strong> O Plano de Desenvolvimento Institucional (PDI) do Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte ({% get_valor_por_chave "comum" "instituicao_sigla" %}) é o documento norteador da gestão
        com a formulação de objetivos, que favorecerem o cumprimento da missão institucional. Considera-se como premissa básica que todo o processo tenha a participação da
        comunidade acadêmica.</p>
        <p>O PDI estabelece um horizonte em relação ao qual o {% get_valor_por_chave "comum" "instituicao_sigla" %} se guiará pelos próximos 5 anos e orientará a Instituição  na construção de um plano de gestão anual,
        voltado para o alcance de metas e objetivos estabelecidos no PDI.</p>
        <p>Você poderá colaborar com a construção do PDI do {% get_valor_por_chave "comum" "instituicao_sigla" %} para o quinquênio 2019-2023 enviando sugestões de ações de melhoria ou quaisquer questões
        relevantes para o Instituto concernentes a um dos quatro eixos temáticos, através desta ferramenta selecionando-os abaixo, a(s) qual(is) apresenta (m) uma descrição
        básica para orientar você a definir o eixo adequado ao assunto que você deseja contribuir.</p>
        <p>Planejando juntos continuaremos avançando!</p>
    </div>

    <img src="/static/comum/img/logo-pdi.png" alt="Logo do PDI" class="img-pdi float-end" />
</div>

{% box 'Conheça os Eixos do PDI' %}
    <p class="msg info">Saiba mais sobre o Plano de Desenvolvimento Institucional - PDI em <a href="http://portal.ifrn.edu.br/campus/reitoria/noticias/pro-reitoria-de-planejamento-divulga-metodologia-de-construcao-do-pdi/">http://portal.ifrn.edu.br/institucional/pdi/</a>.</p>
    <ul class="pills">
        {% for secao in secoes %}
            <li {% if forloop.first %}class="active"{% endif %}><a href="#" data-pdi="secao-pdi-{{ secao.pk }}">{{ secao.nome }}</a></li>
        {% endfor %}
    </ul>
    {% for secao in secoes %}
        <div class="secao-pdi {% if not forloop.first %}d-none{% endif %}" id="secao-pdi-{{ secao.pk }}">
            <h4>{{ secao.nome }}</h4>
            <p>{{ secao.descricao }}</p>
        </div>
    {% endfor %}
{% endbox %}

{% include "includes/contribuicoes.html" %}

{% endblock %}
