{% extends super_template %}



{% block extrahead %}
<script>
    jQuery(document).ready(function() {
        $("#id_secao_pdi" ).change(function() {
			window.location = '/pdi/redigir_tematica/'+$("#id_secao_pdi" ).val();
		});
    });
</script>
{% endblock %}

{% block content %}
	{% box 'Formulário' %}
		{% render_form form %}
	{% endbox %}
	{% box 'Redações das Comissões Locais' %}
		{% if secoes_locais %}
			<table>
				<thead>
					<tr>
						<th>Seção</th>
						<th>Campus</th>
						<th>Redação</th>
					</tr>
				</thead>
				<tbody>
					{% for secao_local in secoes_locais %}
						<tr>
							<td>{{ secao_local.secao_pdi|format }}</td>
							<td>{{ secao_local.campus|format }}</td>
							<td>{{ secao_local.texto|format }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p class="msg alert">Não existem redações.</p>
		{% endif %}
	{% endbox %}
{% endblock %}
