{% extends super_template %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th class="no-print">
                        <input type="checkbox" value="0" onclick="marcar_todos(this);" />
                    </th>
                    <th>Chave</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% for chave in chaves_campus %}
                    <tr>
                        <td class="no-print">
                            <input type="checkbox" value="{{ chave.id }}" name="chaves[]" />
                        </td>
                        <td class="negrito">{{ chave }}</td>
                    </tr>
                {% endfor %}
                {% for chave in outras_chaves %}
                    <tr>
                        <td class="no-print"></td>
                        <td class="negrito">{{ chave }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <script>
            function marcar_todos(input){
                var inputs = document.getElementById('tbody').getElementsByTagName('input');
                for(var i=0; i<inputs.length; i++){
                    if(input.checked){
                        inputs[i].checked = true;
                    } else {
                        inputs[i].checked = false;
                    }
                }
            }
        </script>

        <p class="deletelink-box">
            <input type="submit" class="deletelink danger" value="Remover" />
        </p>
    </form>
{% endblock %}