{% extends super_template %}

{% block content %}
    <div class="search-and-filters">
        {% render_form form %}
    </div>
    {% if usuarios.exists %}
        {% autopaginate usuarios 30 %}
        {% paginate %}
        <div class="card-container">
            {% for usuario in usuarios %}
                <div class="card">
                    <div class="photo"><img alt="{{ usuario.get_profile.nome_usual }}" src="{{ usuario.get_profile.get_foto_75x100_url }}" /></div>
                    <h4>
                        {% if usuario.get_profile %}
                            {% if usuario.get_profile.nome_usual %}
                                {{ usuario.get_profile.nome_usual }}
                            {% elif usuario.get_profile.nome %}
                                {{ usuario.get_profile.nome }}
                            {% endif %}
                        {% endif %}
                    </h4>
                    <dl>
                        <dt>Matrícula:</dt>
                        <dd><a href="{{ usuario.get_relacionamento.get_absolute_url }}">{{ usuario.username }}</a></dd>
                    </dl>
                    <div class="content">
                        <ul class="action-bar">
                            <li><a class="btn success" href="/chaves/adicionar_chave/{{ usuario.get_profile.pk }}/">Adicionar Chave</a></li>
                            {% if usuario.get_profile.chave_set.exists %}
                                <li><a class="btn popup" href="/chaves/chaves_pessoa/{{ usuario.get_profile.pk }}/">Chaves Associadas</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% paginate %}
    {% else %}
        <p class="msg alert">Nenhuma pessoa encontrada.</p>
    {% endif %}
{% endblock %}