{% extends "relatorio_pdf.html" %}

{% block page_settings %}
    @page {
        size: a4 {% block page_orientation %}portrait{% endblock %};
        background-image: url(/static/comum/img/logo_if_portrait.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        margin-top: 0.5cm; /* HeaderHeight */
        margin-bottom: 1cm; /* FooterHeight */
        margin-left: 0.5cm;
        margin-right: 0.5cm;
        @bottom-right {
            content: "Página " counter(page) " de " counter(pages);
        }
    }
    header{
        top: -2cm; /* -HeaderHeight */
        height: 2cm; /* HeaderHeight */
        position: fixed;
        width:98%;
        padding-top: 0.5cm;
    }
    main{

    }
    footer{
        bottom: 0cm; /* -FooterHeight */
        height: 1cm; /* FooterHeight */
        position: fixed;
        width: 100%;
        text-align: center;
    }
{% endblock %}

{% block style %}
    td, th {
        font-size: 8pt !important;
    }
    h2 {
        text-align: center;
        color: white;
        background-color: black;
        padding-top: 6px;
        margin-bottom: 2px;
    }
{% endblock %}


{% block cabecalho %}
    <table>
        <tr>
            <td rowspan="2" style="width: 80px"><img style="height: 60px" src="/static/comum/img/logo_instituicao_icone.jpg" alt="Logo do {% get_valor_por_chave "comum" "instituicao_sigla" %}"></td>
            <td class="titulo">INSTITUTO FEDERAL DE EDUCAÇÃO, CIÊNCIA E TECNOLOGIA DO RIO GRANDE DO NORTE</td>
        </tr>
        <tr>
            <td class="titulo">
                <h1>RELATÓRIO</h1>
            </td>
        </tr>
    </table>
{% endblock %}

{% block content %}

    <div class="corpo">
        <h2>DECLARAÇÃO DE ACÚMULO DE CARGOS</h2>


        {% for declaracao in declaracoes %}
        <table class="borda">
            <tr>
                <td style="width: 100px;">Servidor</td>
                <td>{{ declaracao.servidor|format }}</td>
            </tr>
            <tr>
                <td>Cargo/Função</td>
                <td>{{ declaracao.servidor.cargo_emprego|format }} - {{ declaracao.servidor.funcao_display|format }}</td>
            </tr>
            <tr>
                <td>Jornada de Trabalho</td>
                <td>{{ declaracao.servidor.jornada_trabalho|format }}</td>
            </tr>
            <tr>
                <td>Situação</td>
                <td>{{ declaracao.servidor.situacao|format }}</td>
            </tr>
            <tr>
                <td>Início Exercício</td>
                <td>{{ declaracao.servidor.data_inicio_exercicio_na_instituicao|format }}</td>
            </tr>

            <tr>
                <td>Declaro que:</td>
                <td>
                <ul style="margin-left: 12px; padding-left: 0px;">
                    {% if declaracao.nao_possui_outro_vinculo %}
                        <li>
                            {{ declaracao|verbose:'nao_possui_outro_vinculo' }}
                        </li>
                    {% endif %}
                    {% if declaracao.tem_outro_cargo_acumulavel %}
                    <li>
                        {{ declaracao|verbose:'tem_outro_cargo_acumulavel' }}
                    </li>
                    {% endif %}
                    {% if declaracao.tem_aposentadoria %}
                    <li>
                        {{ declaracao|verbose:'tem_aposentadoria' }}
                    </li>
                    {% endif %}
                    {% if declaracao.tem_pensao %}
                    <li>
                        {{ declaracao|verbose:'tem_pensao' }}
                    </li>
                    {% endif %}

                    {% if declaracao.tem_atuacao_gerencial %}
                        <li>{{ declaracao|verbose:'tem_atuacao_gerencial' }}</li>
                    {% endif %}

                    {% if declaracao.exerco_atividade_remunerada_privada %}
                        <li>{{ declaracao|verbose:'exerco_atividade_remunerada_privada' }}</li>
                    {% endif %}

                    {% if not declaracao.tem_atuacao_gerencial and atuacoes_gerenciais %}
                        {% for atuacao in atuacoes_gerenciais %}
                            <li>{{ atuacao|verbose:'nao_exerco_atuacao_gerencial' }}</li>
                            <li>{{ atuacao|verbose:'nao_exerco_comercio' }}</li>
                        {% endfor %}
                    {% endif %}

                    {% if not declaracao.exerco_atividade_remunerada_privada and atividades_remuneradas %}
                        {% for atividade in atividades_remuneradas %}
                            <li>{{ atividade|verbose:'nao_exerco_atividade_remunerada' }}</li>
                        {% endfor %}
                    {% endif %}
                </ul></td>
            </tr>
        </table>
        <br />

        {% if not declaracao.nao_possui_outro_vinculo %}

            {% if cargos_acumulaveis %}
                {% box 'Anexo I - Informações de Cargo/Emprego/Função ocupado em outro órgão' %}
                    {% for cargo in cargos_acumulaveis %}
                        <table class="info">
                            <tr>
                                <td><strong>{{ cargo|verbose:'orgao_lotacao' }}:</strong></td>
                                <td>{{ cargo.orgao_lotacao }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ cargo|verbose:'uf' }}:</strong></td>
                                <td>{{ cargo.uf }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ cargo|verbose:'cargo_que_ocupa' }}:</strong></td>
                                <td>{{ cargo.cargo_que_ocupa }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ cargo|verbose:'jornada_trabalho' }}:</strong></td>
                                <td>{{ cargo.jornada_trabalho }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ cargo|verbose:'nivel_escolaridade' }}:</strong></td>
                                <td>{{ cargo.nivel_escolaridade }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ cargo|verbose:'data_ingresso_orgao' }}:</strong></td>
                                <td>{{ cargo.data_ingresso_orgao }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ cargo|verbose:'situacao' }}:</strong></td>
                                <td>{{ cargo.situacao }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ cargo|verbose:'remuneracao' }}:</strong></td>
                                <td>{{ cargo.remuneracao }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ cargo|verbose:'natureza_orgao' }}:</strong></td>
                                <td>{{ cargo.natureza_orgao }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ cargo|verbose:'subordinacao' }}:</strong></td>
                                <td>{{ cargo.subordinacao }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ cargo|verbose:'esfera_governo' }}:</strong></td>
                                <td>{{ cargo.esfera_governo }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ cargo|verbose:'area_atuacao_cargo' }}:</strong></td>
                                <td>{{ cargo.area_atuacao_cargo }}</td>
                            </tr>
                        </table>
                        {% if not forloop.last %}<hr />{% endif %}
                    {% endfor %}
                {% endbox %}
            {% endif %}

            {% if aposentadorias %}
                {% box 'Anexo II - Informações de Aposentadoria em outro órgão' %}
                    {% for aposentadoria in aposentadorias %}
                        <table class="info">
                            <tr>
                                <td><strong>{{ aposentadoria|verbose:'cargo_origem_aposentadoria' }}:</strong></td>
                                <td>{{ aposentadoria.cargo_origem_aposentadoria }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ aposentadoria|verbose:'uf' }}:</strong></td>
                                <td>{{ aposentadoria.uf }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ aposentadoria|verbose:'fundamento_legal' }}:</strong></td>
                                <td>{{ aposentadoria.fundamento_legal }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ aposentadoria|verbose:'ato_legal' }}:</strong></td>
                                <td>{{ aposentadoria.ato_legal }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ aposentadoria|verbose:'jornada_trabalho' }}:</strong></td>
                                <td>{{ aposentadoria.jornada_trabalho }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ aposentadoria|verbose:'nivel_escolaridade' }}:</strong></td>
                                <td>{{ aposentadoria.nivel_escolaridade }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ aposentadoria|verbose:'data_vigencia' }}:</strong></td>
                                <td>{{ aposentadoria.data_vigencia }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ aposentadoria|verbose:'area_atuacao_cargo' }}:</strong></td>
                                <td>{{ aposentadoria.area_atuacao_cargo }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ aposentadoria|verbose:'natureza_orgao' }}:</strong></td>
                                <td>{{ aposentadoria.natureza_orgao }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ aposentadoria|verbose:'subordinacao' }}:</strong></td>
                                <td>{{ aposentadoria.subordinacao }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ aposentadoria|verbose:'esfera_governo' }}:</strong></td>
                                <td>{{ aposentadoria.esfera_governo }}</td>
                            </tr>
                        </table>
                        {% if not forloop.last %}<hr />{% endif %}
                    {% endfor %}
                {% endbox %}
            {% endif %}

            {% if pensoes %}
                {% box 'Anexo III - Informações sobre Pensão Civil em outro órgão' %}
                    {% for pensao in pensoes %}
                        <table class="info">
                            <tr>
                                <td><strong>{{ pensao|verbose:'tipo_pensao' }}:</strong></td>
                                <td>{{ pensao.tipo_pensao }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ pensao|verbose:'fundamento_legal' }}:</strong></td>
                                <td>{{ pensao.fundamento_legal }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ pensao|verbose:'grau_parentesco' }}:</strong></td>
                                <td>{{ pensao.grau_parentesco }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ pensao|verbose:'data_inicio_concessao' }}:</strong></td>
                                <td>{{ pensao.data_inicio_concessao }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ pensao|verbose:'dependencia_economica' }}:</strong></td>
                                <td>{{ pensao.dependencia_economica }}</td>
                            </tr>
                        </table>
                        {% if not forloop.last %}<hr />{% endif %}
                    {% endfor %}
                {% endbox %}
            {% endif %}

            {% if atuacoes_gerenciais and mostrar_atuacoes_gerenciais %}
                {% box 'Anexo IV - Informações sobre atuação gerencial em atividades mercantil' %}
                    {% for atuacao in atuacoes_gerenciais %}
                        <table class="info">
                            <tr>
                                <td><strong>{{ atuacao|verbose:'tipo_atuacao_gerencial' }}:</strong></td>
                                <td>{{ atuacao.tipo_atuacao_gerencial }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ atuacao|verbose:'tipo_sociedade_mercantil' }}:</strong></td>
                                <td>{{ atuacao.tipo_sociedade_mercantil }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ atuacao|verbose:'descricao_atividade_exercida' }}:</strong></td>
                                <td>{{ atuacao.descricao_atividade_exercida }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ atuacao|verbose:'qual_participacao_societaria' }}:</strong></td>
                                <td>{{ atuacao.qual_participacao_societaria }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ atuacao|verbose:'data_inicio_atuacao' }}:</strong></td>
                                <td>{{ atuacao.data_inicio_atuacao }}</td>
                            </tr>
                        </table>
                        {% if not forloop.last %}<hr />{% endif %}
                    {% endfor %}
                {% endbox %}
            {% endif %}

            {% if atividades_remuneradas and mostrar_atividades_remuneradas %}
                {% box 'Anexo V - Informações sobre atividade remunerada privada' %}
                    {% for atividade in atividades_remuneradas %}
                        <table class="info">
                            <tr>
                                <td><strong>{{ atividade|verbose:'nome_empresa_trabalha' }}:</strong></td>
                                <td>{{ atividade.nome_empresa_trabalha }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ atividade|verbose:'funcao_emprego_ocupado' }}:</strong></td>
                                <td>{{ atividade.funcao_emprego_ocupado }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ atividade|verbose:'jornada_trabalho' }}:</strong></td>
                                <td>{{ atividade.jornada_trabalho }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ atividade|verbose:'nivel_escolaridade_funcao' }}:</strong></td>
                                <td>{{ atividade.nivel_escolaridade_funcao }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ atividade|verbose:'data_inicio_atividade' }}:</strong></td>
                                <td>{{ atividade.data_inicio_atividade }}</td>
                            </tr>
                        </table>
                        {% if not forloop.last %}<hr />{% endif %}
                    {% endfor %}
                {% endbox %}
            {% endif %}


        {% endif %}
        {% endfor %}


    </div>
{% endblock %}

{% block footer %}
{% endblock %}
