{% extends super_template %}

{% block content %}

    {% box 'Declaração de Acumulação de Cargos' %}
        <dl class="definition-list flex">
            <div class="list-item">
                <dt>Servidor</dt>
                <dd>{{ servidor|format }}</dd>
            </div>
            <div class="list-item flex-basis-50">
                <dt>Cargo/Função</dt>
                <dd>{{ servidor.cargo_emprego|format }} - {{ servidor.funcao_display|format }}</dd>
            </div>
            <div class="list-item">
                <dt>Jornada de Trabalho</dt>
                <dd>{{ servidor.jornada_trabalho|format }}</dd>
            </div>
            <div class="list-item">
                <dt>Situação</dt>
                <dd>{{ servidor.situacao|format }}</dd>
            </div>
            <div class="list-item">
                <dt>Início de Exercício</dt>
                <dd>{{ servidor.data_inicio_exercicio_na_instituicao|format }}</dd>
            </div>
            <div class="list-item flex-basis-100">
                <dt>Declaro que</dt>
                {% if declaracao.nao_possui_outro_vinculo %}
                    <dd>{{ declaracao|verbose:'nao_possui_outro_vinculo' }}</dd>
                {% endif %}
                {% if declaracao.tem_outro_cargo_acumulavel %}
                    <dd>{{ declaracao|verbose:'tem_outro_cargo_acumulavel' }}</dd>
                {% endif %}
                {% if declaracao.tem_aposentadoria %}
                    <dd>{{ declaracao|verbose:'tem_aposentadoria' }}</dd>
                {% endif %}
                {% if declaracao.tem_pensao %}
                    <dd>{{ declaracao|verbose:'tem_pensao' }}</dd>
                {% endif %}
                {% if declaracao.tem_atuacao_gerencial %}
                    <dd>{{ declaracao|verbose:'tem_atuacao_gerencial' }}</dd>
                {% endif %}
                {% if declaracao.exerco_atividade_remunerada_privada %}
                    <dd>{{ declaracao|verbose:'exerco_atividade_remunerada_privada' }}</dd>
                {% endif %}
                {% if not declaracao.tem_atuacao_gerencial and atuacoes_gerenciais %}
                    {% for atuacao in atuacoes_gerenciais %}
                        <dd>{{ atuacao|verbose:'nao_exerco_atuacao_gerencial' }}</dd>
                        <dd>{{ atuacao|verbose:'nao_exerco_comercio' }}</dd>
                    {% endfor %}
                {% endif %}
                {% if not declaracao.exerco_atividade_remunerada_privada and atividades_remuneradas %}
                    {% for atividade in atividades_remuneradas %}
                        <dd>{{ atividade|verbose:'nao_exerco_atividade_remunerada' }}</dd>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="list-item flex-basis-100">
                <dt>Data de cadastro da declaração</dt>
                <dd>{{ declaracao.data_cadastro|format }}</dd>
            </div>
        </dl>
    {% endbox %}

    {% if not declaracao.nao_possui_outro_vinculo %}

        {% if cargos_acumulaveis %}
            {% box 'Anexo I - Informações de Cargo/Emprego/Função ocupado em outro órgão' %}
                {% for cargo in cargos_acumulaveis %}
                    <dl class="definition-list flex">
                        <div class="list-item">
                            <dt>{{ cargo|verbose:'orgao_lotacao' }}</dt>
                            <dd>{{ cargo.orgao_lotacao }}</dd>
                        </div>
                        <div class="list-item">
                            <dt>{{ cargo|verbose:'uf' }}</dt>
                            <dd>{{ cargo.uf }}</dd>
                        </div>
                        <div class="list-item">
                            <dt>{{ cargo|verbose:'cargo_que_ocupa' }}</dt>
                            <dd>{{ cargo.cargo_que_ocupa }}</dd>
                        </div>
                        <div class="list-item">
                            <dt>{{ cargo|verbose:'jornada_trabalho' }}</dt>
                            <dd>{{ cargo.jornada_trabalho }}</dd>
                        </tr>
                        <div class="list-item">
                            <dt>{{ cargo|verbose:'nivel_escolaridade' }}</dt>
                            <dd>{{ cargo.nivel_escolaridade }}</dd>
                        </div>
                        <div class="list-item">
                            <dt>{{ cargo|verbose:'data_ingresso_orgao' }}</dt>
                            <dd>{{ cargo.data_ingresso_orgao }}</dd>
                        </div>
                        <div class="list-item">
                            <dt>{{ cargo|verbose:'situacao' }}</dt>
                            <dd>{{ cargo.situacao }}</dd>
                        </div>
                        <div class="list-item">
                            <dt>{{ cargo|verbose:'remuneracao' }}</dt>
                            <dd>{{ cargo.remuneracao }}</dd>
                        </div>
                        <div class="list-item">
                            <dt>{{ cargo|verbose:'natureza_orgao' }}:</dt>
                            <dd>{{ cargo.natureza_orgao }}</dd>
                        </div>
                        <div class="list-item">
                            <dt>{{ cargo|verbose:'subordinacao' }}</dt>
                            <dd>{{ cargo.subordinacao }}</dd>
                        </div>
                        <div class="list-item">
                            <dt>{{ cargo|verbose:'esfera_governo' }}</dt>
                            <dd>{{ cargo.esfera_governo }}</dd>
                        </div>
                        <div class="list-item">
                            <dt>{{ cargo|verbose:'area_atuacao_cargo' }}</dt>
                            <dd>{{ cargo.area_atuacao_cargo }}</dd>
                        </div>
                    </dl>
                    {% if not forloop.last %}<hr />{% endif %}
                {% endfor %}
            {% endbox %}
        {% endif %}

        {% if aposentadorias %}
            {% box 'Anexo II - Informações de Aposentadoria em outro órgão' %}
                {% for aposentadoria in aposentadorias %}
                    <table class="info">
                        <tr>
                            <td><strong>{{ aposentadoria|verbose:'cargo_origem_aposentadoria' }}:</strong></td>
                            <td>{{ aposentadoria.cargo_origem_aposentadoria }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ aposentadoria|verbose:'uf' }}:</strong></td>
                            <td>{{ aposentadoria.uf }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ aposentadoria|verbose:'fundamento_legal' }}:</strong></td>
                            <td>{{ aposentadoria.fundamento_legal }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ aposentadoria|verbose:'ato_legal' }}:</strong></td>
                            <td>{{ aposentadoria.ato_legal }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ aposentadoria|verbose:'jornada_trabalho' }}:</strong></td>
                            <td>{{ aposentadoria.jornada_trabalho }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ aposentadoria|verbose:'nivel_escolaridade' }}:</strong></td>
                            <td>{{ aposentadoria.nivel_escolaridade }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ aposentadoria|verbose:'data_vigencia' }}:</strong></td>
                            <td>{{ aposentadoria.data_vigencia }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ aposentadoria|verbose:'area_atuacao_cargo' }}:</strong></td>
                            <td>{{ aposentadoria.area_atuacao_cargo }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ aposentadoria|verbose:'natureza_orgao' }}:</strong></td>
                            <td>{{ aposentadoria.natureza_orgao }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ aposentadoria|verbose:'subordinacao' }}:</strong></td>
                            <td>{{ aposentadoria.subordinacao }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ aposentadoria|verbose:'esfera_governo' }}:</strong></td>
                            <td>{{ aposentadoria.esfera_governo }}</td>
                        </tr>
                    </table>
                    {% if not forloop.last %}<hr />{% endif %}
                {% endfor %}
            {% endbox %}
        {% endif %}

        {% if pensoes %}
            {% box 'Anexo III - Informações sobre Pensão Civil em outro órgão' %}
                {% for pensao in pensoes %}
                    <table class="info">
                        <tr>
                            <td><strong>{{ pensao|verbose:'tipo_pensao' }}:</strong></td>
                            <td>{{ pensao.tipo_pensao }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ pensao|verbose:'fundamento_legal' }}:</strong></td>
                            <td>{{ pensao.fundamento_legal }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ pensao|verbose:'grau_parentesco' }}:</strong></td>
                            <td>{{ pensao.grau_parentesco }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ pensao|verbose:'data_inicio_concessao' }}:</strong></td>
                            <td>{{ pensao.data_inicio_concessao }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ pensao|verbose:'dependencia_economica' }}:</strong></td>
                            <td>{{ pensao.dependencia_economica }}</td>
                        </tr>
                    </table>
                    {% if not forloop.last %}<hr />{% endif %}
                {% endfor %}
            {% endbox %}
        {% endif %}

        {% if atuacoes_gerenciais and mostrar_atuacoes_gerenciais %}
            {% box 'Anexo IV - Informações sobre atuação gerencial em atividades mercantil' %}
                {% for atuacao in atuacoes_gerenciais %}
                    <table class="info">
                        <tr>
                            <td><strong>{{ atuacao|verbose:'tipo_atuacao_gerencial' }}:</strong></td>
                            <td>{{ atuacao.tipo_atuacao_gerencial }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ atuacao|verbose:'tipo_sociedade_mercantil' }}:</strong></td>
                            <td>{{ atuacao.tipo_sociedade_mercantil }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ atuacao|verbose:'descricao_atividade_exercida' }}:</strong></td>
                            <td>{{ atuacao.descricao_atividade_exercida }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ atuacao|verbose:'qual_participacao_societaria' }}:</strong></td>
                            <td>{{ atuacao.qual_participacao_societaria }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ atuacao|verbose:'data_inicio_atuacao' }}:</strong></td>
                            <td>{{ atuacao.data_inicio_atuacao }}</td>
                        </tr>
                    </table>
                    {% if not forloop.last %}<hr />{% endif %}
                {% endfor %}
            {% endbox %}
        {% endif %}

        {% if atividades_remuneradas and mostrar_atividades_remuneradas %}
            {% box 'Anexo V - Informações sobre atividade remunerada privada' %}
                {% for atividade in atividades_remuneradas %}
                    <table class="info">
                        <tr>
                            <td><strong>{{ atividade|verbose:'nome_empresa_trabalha' }}:</strong></td>
                            <td>{{ atividade.nome_empresa_trabalha }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ atividade|verbose:'funcao_emprego_ocupado' }}:</strong></td>
                            <td>{{ atividade.funcao_emprego_ocupado }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ atividade|verbose:'jornada_trabalho' }}:</strong></td>
                            <td>{{ atividade.jornada_trabalho }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ atividade|verbose:'nivel_escolaridade_funcao' }}:</strong></td>
                            <td>{{ atividade.nivel_escolaridade_funcao }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ atividade|verbose:'data_inicio_atividade' }}:</strong></td>
                            <td>{{ atividade.data_inicio_atividade }}</td>
                        </tr>
                    </table>
                    {% if not forloop.last %}<hr />{% endif %}
                {% endfor %}
            {% endbox %}
        {% endif %}

    {% endif %}

{% endblock %}