{% extends super_template %}

{% block content %}

    <table class="info">
        <tr>
            <td>Sigla do Tipo de Documento:</td>
            <td>{{ identificador_tipo_documento_sigla }}</td>
            <td>Número:</td>
            <td>{{ identificador_numero }}</td>
        </tr>
        <tr>
            <td>Ano:</td>
            <td>{{ identificador_ano }}</td>
            <td>Vínculo:</td>
            <td>{{ identificador_dono_documento }}</td>
        </tr>
    </table>

    {% render_form form %}

{% endblock %}
