{% extends "relatorio_pdf.html" %}

{% block style %}
main {
    display: inline-block;
    width: 100%;
}
#watermark {
  color: #d0d0d0;
  font-size: 200pt;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -1;
  left:-100px;
  top:-200px;
}
{% endblock %}

{% block content %}
    <h1>Documento {% if documento.arquivo %}Digitalizado{% endif %} {{ documento.get_nivel_acesso_display }}</h1>
    <h2>{{ documento }}</h2>
    <table>
        <tr>
            <td width="30%" class="text-end"><strong>Assunto:</strong></td>
            <td>{{ documento.assunto }}</td>
        </tr>
        {% if documento.numero %}
            <tr>
                <td class="text-end"><strong>Número:</strong></td>
                <td>{{ documento.numero }}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="text-end"><strong>Assinado por:</strong></td>
            <td>{{ documento.assinado_por|format|safe }}</td>
        </tr>
        <tr>
            <td class="text-end"><strong>Tipo do Documento:</strong></td>
            <td>{{ documento.tipo }}</td>
        </tr>
        <tr>
        <td class="text-end"><strong>Situação:</strong></td>
        {% if documento.status %}
            <td>{{ documento.get_status_display|status }}</td>
        {% else %}
            <td><span class="status status-success">Finalizado</span></td>
        {% endif %}
        </tr>
        <tr>
            <td class="text-end"><strong>Nível de Acesso:</strong></td>
            <td>{{ documento.get_nivel_acesso_display }}</td>
        </tr>
        {% if documento.hipotese_legal %}
            <tr>
                <td class="text-end"><strong>Hipótese Legal:</strong></td>
                <td>{{ documento.hipotese_legal }}</td>
            </tr>
        {% endif %}
        {% if documento.tipo_conferencia %}
            <tr>
                <td class="text-end"><strong>Tipo do Conferência:</strong></td>
                <td>{{ documento.tipo_conferencia }}</td>
            </tr>
        {% endif %}
    </table>
    <main>
        {% if documento.possui_assinatura %}
            <div class="assinaturas">
                <div>
                    <h3>Documento assinado eletronicamente por:</h3>
                    <ul>
                    {% for assinatura_digital in documento.assinaturas %}
                        <li>
                            <strong>{{ assinatura_digital.assinatura.pessoa.nome|format }}</strong>,
                            <strong>{{ assinatura_digital.assinatura.nome_papel|format }}</strong>,
                            em {{ assinatura_digital.assinatura.data_assinatura|format }}.
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                {% if documento.qrcode %}
                    <div class="qrcode">
                        <img src="{{ documento.qrcode_base64image }}" alt="QR code do documento" />
                        {{ codigo_verificador }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </main>
{% endblock %}
