<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/ckeditor/ckeditor/contents.css?t=FB9E">
        <style>
            header {
                display: inline-block;
                width: 100%;
            }
            .note {
                border-bottom: 1px solid #eee;
                color: #555;
                font-size: 12px;
                {#background-color: #00cc66;#}
                {#margin: 0 0 10px;#}
                padding: 15px 0 5px;
            }
            {% block style %}
            {% endblock %}
        </style>
    </head>
    <body class="cke_editable cke_editable_themed cke_contents_ltr cke_show_borders">
        <p class="note">
            Cópia de documento digital impresso
            {% if eh_consulta_publica %}
                na Consulta Pública por usuário anônimo em {{ agora }}.
            {% else %}
                 por {{ user }} em {{ agora }}.
            {% endif %}
        </p>

        {% if previa %}
            <div id="watermark">
                <p>Rascunho</p>
            </div>
        {% endif %}
{#        {% include 'documento_eletronico/cabecalho_include.html' with documento=documento %}#}
    </body>
</html>