{% extends super_template %}

{% block extrahead %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock %}

{% block content %}

<ul class="action-bar">
    <li><a class="btn success" href="/admin/documento_eletronico/documentotexto/add/">Adicionar Documento</a></li>
    <li><a class="btn popup primary" href="/documento_eletronico/gerenciar_compartilhamento_setor/">Compartilhamento Geral do Setor ({{ setor }})</a></li>
</ul>

<ul class="pills">
    <li {% if setores_param == "todos" %}class="active"{% endif %}>
        <a href="?setores=todos">Qualquer Setor</a>
    </li>
    <li {% if setores_param == "todos_setores_usuario" %}class="active"{% endif %}>
        <a href="?setores=todos_setores_usuario">Meus Setores</a>
    </li>
    {% for setor in setores_visiveis %}
        <li {% if setor in setores_escolhidos and not setores_param == "todos_setores_usuario" %}class="active"{% endif %}>
            <a href="?setores={{ setor.id }}">{{ setor }}</a>
        </li>
    {% endfor %}
</ul>

<div class="search-and-filters">
    {% render_form form %}
</div>

<div class="tab-container" data-title="Documentos" data-counter="">
    {% include 'listar_documentos_include.html' with documentos=documentos eh_documentos_compartilhados=False  requisicao=False  solicitacao=False%}
</div>
<div class="tab-container" data-title="Meus Favoritos" data-counter="{{ documentos_favoritos.count }}">
    {% include 'listar_documentos_include.html' with documentos=documentos_favoritos eh_documentos_compartilhados=False  requisicao=False  solicitacao=False%}

</div>
{% if documentos_a_assinar.exists %}
    <div class="tab-container" data-title="Documentos Esperando Minha Assinatura" data-counter="{{ documentos_a_assinar.count }}">
        {% include 'listar_documentos_include.html' with documentos=documentos_a_assinar eh_documentos_compartilhados=False requisicao=False  solicitacao=True%}
    </div>
{% endif %}
{% if documentos_assinados.exists %}
    <div class="tab-container" data-title="Documentos Assinados Por Mim" data-counter="{{ documentos_assinados.count }}">
        {% include 'listar_documentos_include.html' with documentos=documentos_assinados eh_documentos_compartilhados=False requisicao=False  solicitacao=False%}
    </div>
{% endif %}
{% if documentos_requisicoes_de_assinaturas.exists %}
     <div class="tab-container" data-title="Minhas Requisições de Assinatura" data-counter="{{ documentos_requisicoes_de_assinaturas.count }}">
        {% include 'listar_documentos_include.html' with documentos=documentos_requisicoes_de_assinaturas eh_documentos_compartilhados=False requisicao=True  solicitacao=False%}
    </div>
{% endif %}
{% if documentos_a_revisar.exists %}
    <div class="tab-container" data-title="Documentos Esperando Minha Revisão" data-counter="{{ documentos_a_revisar.count }}">
        {% include 'listar_documentos_include.html' with documentos=documentos_a_revisar eh_documentos_compartilhados=False requisicao=False  solicitacao=True%}
    </div>
{% endif %}
{% if documentos_revisados.exists %}
    <div class="tab-container" data-title="Documentos Revisados" data-counter="{{ documentos_revisados.count }}">
        {% include 'listar_documentos_include.html' with documentos=documentos_revisados eh_documentos_compartilhados=False requisicao=False  solicitacao=False%}
    </div>
{% endif %}
{% if documentos_requisicoes_de_revisoes.exists %}
     <div class="tab-container" data-title="Minhas Requisições de Revisões" data-counter="{{ documentos_requisicoes_de_revisoes.count }}">
        {% include 'listar_documentos_include.html' with documentos=documentos_requisicoes_de_revisoes eh_documentos_compartilhados=False requisicao=False  solicitacao=False%}
    </div>
{% endif %}

{% if documentos_compartilhados.exists %}
    <div class="tab-container" data-title="Documentos Compartilhados Comigo" data-counter="{{ documentos_compartilhados.count }}">
        {% include 'listar_documentos_include.html' with documentos=documentos_compartilhados eh_documentos_compartilhados=True requisicao=False  solicitacao=False%}
    </div>
{% endif %}

{% endblock %}