
<div class="tab-container" data-title="Portarias" data-counter="{{ portarias.count }}" data-hide-tab-on-counter-zero="true" data-tab="portarias">
    {% box 'Portarias' %}
        {% autopaginate portarias 50 %}
        {% paginate %}
        <table>
            <thead>
            <tr>
                <th>Documento</th>
                <th>Assunto</th>
                <th>Nível de Acesso</th>
                <th>Assinado por</th>
            </tr>
            </thead>
            <tbody>
            {% for documento in portarias %}
                <tr>
                    <td>
                        <a href="{% url 'visualizar_documento' documento.id %}">{{ documento.identificador }}</a>
                    </td>
                    <td>{{ documento.assunto }}</td>
                    <td>{{ documento.get_nivel_acesso|safe }}</td>
                    <td>{{ documento.get_assinado_por|format|safe }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% paginate %}
    {% endbox %}
</div>

