{% extends super_template %}

{% load tags %}

{% block content %}

    {% render_form form %}

    {% if request.GET %}

    <ul class="action-bar">
        <li><a class="btn" href="?{{ request.META.QUERY_STRING }}&xls=1">Exportar para XLS</a></li>
    </ul>

    {% if pits.exists %}
        <table>
            <thead>
            <tr>
                <th class="no-print">Ações</th>
                <th>Ano/Período</th>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Setor de Lotação SUAP</th>
                <th>Setor de Exercício SIAPE</th>
                <th>Setor de Lotação SIAPE</th>
                <th>Disciplina de Ingresso</th>
                <th>Jornada de Trabalho</th>
                <th>CH Sala de Aula</th>
                <th>CH Total</th>
                <th>Campus</th>
            </tr>
            </thead>
            <tbody>
            {% autopaginate pits 40 %}
            {% for plano in pits %}
                {% with servidor=plano.servidor %}
                <tr>
                    <td class="no-print">{% icon "view" "/pit_rit/plano_atividade_docente_pdf/{{ plano.pk }}/" %}</td>
                    <td>{{ plano.ano_letivo|format }}/{{ plano.periodo_letivo|format }}</td>
                    <td>{{ servidor.matricula|format }}</td>
                    <td>{{ servidor.nome|format }}</td>
                    <th>{{ servidor.setor }}</th>
                    <th>{{ servidor.setor_exercicio }}</th>
                    <th>{{ servidor.setor_lotacao }}</th>
                    <th>{{ servidor.disciplina_ingresso }}</th>
                    <th>{{ servidor.jornada_trabalho }}</th>
                    <th>{{ plano.get_ch_diarios }}</th>
                    <th>{{ plano.get_ch_semanal_total }}</th>
                    <td>{{ servidor.setor.uo|format }}</td>
                </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
        {% paginate %}
    {% else %}
        <p class="msg alert">Nenhum plano individual de trabalho publicado até o momento.</p>
    {% endif %}
    {% endif %}
{% endblock %}
