{% extends super_template %}


{% block content %}
    {% box "Resultado da Pesquisa ({{ qs_professores_com_atividades_a_deferir.count }} professores)" %}
        {% if qs_professores_com_atividades_a_deferir.exists %}
            <table>
                <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Professor</th>
                </tr>
                </thead>
                <tbody>
                {% for professor in qs_professores_com_atividades_a_deferir %}
                    <tr>
                        <td>
                            <a href="/edu/professor/{{ professor.pk }}/?tab=planoatividades">{{ professor.get_matricula }}</a>
                        </td>
                        <td>
                            {{ professor.get_nome }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endbox %}
{% endblock %}