{% if turnos %}
    {% if turnos.as_form %}
        <form action="" method="post">
        {% csrf_token %}
    {% endif %}
{% for turno in turnos %}
    {% if not turno.vazio %}
        <table>
            <thead>
            <tr>
                <th width="10%">{{ turno }}</th>
                {% for dia_semana in turno.dias_semana %}
                    {% if forloop.counter < 6 %}
                        <th width="10%">{{ dia_semana.1 }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for horario_aula in turno.horarios_aula %}
                {% if not horario_aula.vazio %}
                    <tr>
                        <td><strong>{{ horario_aula }}</strong></td>
                        {% for dia_semana in horario_aula.dias_semana %}
                            {% if forloop.counter < 6 %}
                                {% if turnos.as_form %}
                                    <td align="center">
                                        {% if not dia_semana.desabilitado %}
                                            <input value="{{ horario_aula.pk }};{{ dia_semana.numero }}" type="checkbox"
                                                   name="horario" class="pq" {% if dia_semana.marcado %}
                                                   checked="checked" {% endif %} />
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endfor %}
{% if turnos.as_form %}
    <div class="submit-row">
        <input type="submit" value="Salvar"/>
    </div>
    </form>
{% endif %}
{% else %}
    <p class="msg alert">Nenhum horário de aula definido no período selecionado.</p>
{% endif %}