{% extends super_template %}

{% block extrahead %}
<script src="/static/djtools/graficos/highcharts.js"></script>
<script src="/static/djtools/graficos/exporting.js"></script>
{% endblock %}

{% block content %}
    {% box "Dados Gerais" %}
    <table class="info">
        <tr>
            <td>Universo:</td>
            <td>{{ qtd_respondentes }}</td>
            <td>Respondentes: </td>
            <td>{{ qtd_respostas }} ({{ percentual_respostas|format }}%)</td>
        </tr>
    </table>
    {% endbox %}

    {% box "Filtros" %}
        {% if exibir_mensagem %}
            <p class="msg alert">Para exibir o detalhamento do indicador você precisa selecionar pelo menos um Iterador.</p>
        {% endif %}

        {% render_form form %}
    {% endbox %}

    {% if distribuicao_frequencia %}
        {% box 'Distribuição de Frequência das Respostas' %}
            <table>
                <thead>
                    <tr>
                        <th>Valor</th>
                        <th>Frequência</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resposta in distribuicao_frequencia %}
                    <tr>
                        <td>
                            {% if resposta.valor == 0 %}
                                Desconheço
                            {% elif resposta.valor == 9 %}
                                Não se aplica
                            {% else %}
                                {{ resposta.valor }}
                            {% endif %}
                        </td>
                        <td>{{ resposta.qtd }}</td>
                        <td>{{ resposta.percentual|format }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endbox %}

        {% box 'Ranking de Frequência das Respostas - Gráficos' %}
            <script>
                {{ grafico|safe }}
            </script>
            <div class="grafico50" id="{{ grafico.id }}"></div>

            <script>
                {{ grafico2|safe }}
            </script>
            <div class="grafico50" id="{{ grafico2.id }}"></div>
        {% endbox %}

        {% box 'Medidas Resumo' %}
            <table>
                <thead>
                    <tr>
                        <th>Média</th>
                        <th>Mediana</th>
                        <th>Moda</th>
                        <th>Desvio-padrão</th>
                        <th>Variância</th>
                        <th>Coeficiente de variação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ media|format }}</td>
                        <td>{{ mediana|format }}</td>
                        <td>{{ moda }}</td>
                        <td>{{ desvio_padrao|format }}</td>
                        <td>{{ variancia|format }}</td>
                        <td>{{ coeficiente_variacao|format }}</td>
                    </tr>
                </tbody>
            </table>
        {% endbox %}
    {% endif %}

    {% if ranking_frequencia %}
        {% box 'Ranking de Frequência das Respostas - Tabela' %}
            <table>
                <thead>
                    <tr>
                        <th>Valor</th>
                        <th>Frequência</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resposta, qtd, percentual in ranking_frequencia_com_percentual %}
                    <tr>
                        <td>{{ resposta }}</td>
                        <td>{{ qtd }}</td>
                        <td>{{ percentual|format }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endbox %}

        <h4>Ranking de Frequência das Respostas - Gráfico</h4>
        <script>
            {{ grafico| safe }}
        </script>
        <div class="grafico" id="{{ grafico.id }}" style="height:{{ grafico.div_height }}px;"></div>
    {% endif %}

    {% if conjunto_respostas %}
        {% if not obj.automatico %}
            {% box 'Conjunto de Respostas' %}
                <table>
                    <thead>
                        <tr>
                            <th>Resposta</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for resposta in conjunto_respostas %}
                        <tr>
                            <td>{{ resposta }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endbox %}
        {% else %}
            {% box 'Distribuição de Frequência das Respostas' %}
                {% if not distribuicao_por_faixa %}
                    <table>
                        <thead>
                            <tr>
                                <th>Valor</th>
                                <th>Frequência</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for resposta in conjunto_respostas %}
                            <tr>
                                <td>
                                    {{ resposta.valor }}
                                </td>
                                <td>{{ resposta.qtd }}</td>
                                <td>{{ resposta.percentual|format }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <h4>Ranking de Frequência das Respostas - Gráfico</h4>
                    <script>
                        {{ grafico| safe }}
                    </script>
                    <div class="grafico" id="{{ grafico.id }}"></div>
                {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>Valor</th>
                                <th>Frequência</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for resposta in distribuicao_por_faixa %}
                            <tr>
                                <td>
                                    {{ resposta.inicio }} a {{ resposta.final }}
                                </td>
                                <td>{{ resposta.total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endbox %}
        {% endif %}
    {% endif %}
{% endblock %}