{% extends super_template %}

{% block action-bar %}
    {% if not indicadores %}
        <ul class="action-bar">
            <li><a href="/avaliacao_integrada/relatorio_xlsx/" class="btn">Exportar respostas para Excel</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    {% if not indicadores %}
        <div id="formbox">
            {% render_form form %}
        </div>
    {% else %}
        {% regroup indicadores by macroprocesso.dimensao.eixo as lista_indicadores_por_eixo %}

        {% for indicadores_por_eixo in lista_indicadores_por_eixo %}
            <div class="tab-container" data-title="{{ indicadores_por_eixo.grouper }}" data-tab="tab{{ forloop.counter }}">
                {% regroup indicadores_por_eixo.list by macroprocesso.dimensao as lista_indicadores_por_dimensao %}
                {% for indicadores_por_dimensao in lista_indicadores_por_dimensao %}
                    {% box '{{ indicadores_por_dimensao.grouper }}' %}
                        {% regroup indicadores_por_dimensao.list by macroprocesso as lista_indicadores_por_macroprocesso %}
                        {% for indicadores_por_macroprocesso in lista_indicadores_por_macroprocesso %}
                            <h4>{{ indicadores_por_macroprocesso.grouper }}</h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th class="no-print">Ações</th>
                                        <th>Indicador</th>
                                        <th>Tipo do Indicador</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for indicador in indicadores_por_macroprocesso.list %}
                                        <tr>
                                            <td class="no-print">{% icon "view" "/avaliacao_integrada/relatorio/{{ indicador.pk }}/{{ form.data.avaliacao }}/" %}</td>
                                            <td>{{ indicador.aspecto }}</td>
                                            <td>{{ indicador.get_tipo_resposta_display }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    {% endbox %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}