<div class="password-container">
    <input type="{{ widget.type }}" class="password-input" autocomplete="off" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value }}"{% endif %}{% include "django/forms/widgets/attrs.html" %} />

    <button class="input-group-addon" type="button" role="button" id="view-{{ widget.name }}" title="Exibir a senha">
        <span class="fa fa-eye fa-fw" aria-hidden="true"></span>
        <span class="sr-only">Exibir a senha</span>
    </button>
</div>

<script>
    toggle_password_view('{{ widget.name }}');
</script>