{% extends super_template %}

{% block content %}

{% box 'Dados Pessoais/Acadêmicos' %}
	<div class="photo-circle big">
		<img src="{% if inscricao.aluno.foto %} {{ inscricao.aluno.foto.url }} {% else %} /static/comum/img/default.jpg {% endif %}" alt="Foto de {{ inscricao.aluno.pessoa_fisica.nome }}">
	</div>
	<dl class="definition-list flex">
		<div class="list-item">
			<dt>Nome</dt>
			<dd>{{ inscricao.aluno.pessoa_fisica.nome }}</dd>
		</div>
		<div class="list-item">
			<dt>Nascimento</dt>
			<dd>{{ inscricao.aluno.pessoa_fisica.nascimento_data|format|format }}</dd>
		</div>
		<div class="list-item">
			<dt>Sexo</dt>
			<dd>{{ inscricao.aluno.pessoa_fisica.get_sexo_display|format }}</dd>
		</div>
		<div class="list-item">
			<dt>CPF</dt>
			<dd>{{ inscricao.aluno.pessoa_fisica.cpf|format }}</dd>
		</div>
		<div class="list-item flex-basis-50">
			<dt>Nome da Mãe</dt>
			<dd>{{ inscricao.aluno.nome_mae|format }}</dd>
		</div>
		<div class="list-item flex-basis-50">
			<dt>Nome do Pai</dt>
			<dd>{{ inscricao.aluno.nome_pai|format }}</dd>
		</div>
		<div class="list-item">
			<dt>Identidade</dt>
			<dd>{{ inscricao.aluno.pessoa_fisica.rg|format }}</dd>
		</div>
		<div class="list-item">
			<dt>Órgão Expedidor</dt>
			<dd>{{ inscricao.aluno.pessoa_fisica.rg_orgao|format }} / {{ inscricao.aluno.pessoa_fisica.rg_uf|format }}</dd>
		</div>
		<div class="list-item">
			<dt>Data Expedição</dt>
			<dd>{{ inscricao.aluno.pessoa_fisica.rg_data|format|format }}</dd>
		</div>
		<div class="list-item flex-basis-50">
			<dt>Endereço</dt>
			<dd>{{ inscricao.aluno.get_endereco|format }}</dd>
		</div>
		<div class="list-item flex-basis-50">
			<dt>Telefones</dt>
			<dd>{{ inscricao.aluno.get_telefones|format }}</dd>
		</div>
		<div class="list-item flex-basis-100">
			<dt>Curso</dt>
			<dd>{{ inscricao.aluno.curso_campus }}</dd>
		</div>
		<div class="list-item">
			<dt>Matrícula</dt>
			<dd>{{ inscricao.aluno.matricula }}</dd>
		</div>
		<div class="list-item">
			<dt>Situação</dt>
			<dd>{{ inscricao.aluno.situacao }}</dd>
		</div>
		<div class="list-item">
			<dt>Período</dt>
			<dd>{{ inscricao.aluno.periodo_atual }}</dd>
		</div>
	</dl>
{% endbox %}

{% box 'Caracterização Socioeconômica e Educacional' %}
	<h4>Dados Pessoais</h4>
	<dl class="definition-list flex">
		<div class="list-item">
			<dt>Etnia/Raça/Cor</dt>
			<dd>{{ inscricao.aluno.caracterizacao.raca }}</dd>
		</div>
		<div class="list-item">
			<dt>Deficiências/Necessidades Educacionais Especiais</dt>
			<dd>{{ inscricao.aluno.caracterizacao.possui_necessidade_especial|yesno|title }}</dd>
		</div>
		<div class="list-item">
			<dt>Estado Civil</dt>
			<dd>{{ inscricao.aluno.caracterizacao.estado_civil }}</dd>
		</div>
		<div class="list-item">
			<dt>Quantidade de Filhos</dt>
			<dd>{{ inscricao.aluno.caracterizacao.qtd_filhos }}</dd>
		</div>
		<div class="list-item">
			<dt>Serviço de Saúde que você mais utiliza</dt>
			<dd>{{ inscricao.aluno.caracterizacao.tipo_servico_saude|format }}</dd>
		</div>
	</dl>

	<h4>Dados Educacionais</h4>
	<dl class="definition-list flex">
		<div class="list-item">
			<dt>Ano de Conclusão do Ensino Fundamental</dt>
			<dd>{{ inscricao.aluno.caracterizacao.ensino_fundamental_conclusao }}</dd>
		</div>
		<div class="list-item">
			<dt>Tipo de Escola que cursou o Ensino Fundamental</dt>
			<dd>{{ inscricao.aluno.caracterizacao.escola_ensino_fundamental|format }}</dd>
		</div>
		<div class="list-item">
			<dt>Nome da Escola que cursou o Ensino Fundamental</dt>
			<dd>{{ inscricao.aluno.caracterizacao.nome_escola_ensino_fundamental|format }}</dd>
		</div>
	</dl>
	<dl class="definition-list flex">
		<div class="list-item">
			<dt>Ano de Conclusão do Ensino Médio</dt>
			<dd>{{ inscricao.aluno.caracterizacao.ensino_medio_conclusao|format }}</dd>
		</div>
		<div class="list-item">
			<dt>Tipo de Escola que cursou o Ensino Médio</dt>
			<dd>{{ inscricao.aluno.caracterizacao.escola_ensino_medio|format }}</dd>
		</div>
		<div class="list-item">
			<dt>Nome da Escola que cursou o Ensino Médio</dt>
			<dd>{{ inscricao.aluno.caracterizacao.nome_escola_ensino_medio|format }}</dd>
		</div>
	</dl>
	<dl class="definition-list flex">
		{% if inscricao.aluno.caracterizacao.tempo_sem_estudar %}
			<div class="list-item">
				<dt>Ausência Escolar</dt>
				<dd>{{ inscricao.aluno.caracterizacao.tempo_sem_estudar|format }}</dd>
			</div>
		{% endif %}
		<div class="list-item">
			<dt>Conhecimento em Idiomas</dt>
			<dd>{{ inscricao.aluno.caracterizacao.possui_conhecimento_idiomas|yesno|title }}</dd>
		</div>
		<div class="list-item">
			<dt>Idiomas Conhecidos</dt>
			<dd>{{ inscricao.aluno.caracterizacao.idiomas_conhecidos.all|format }}</dd>
		</div>
		<div class="list-item">
			<dt>Conhecimento em Informática</dt>
			<dd>{{ inscricao.aluno.caracterizacao.possui_conhecimento_informatica|yesno|title }}</dd>
		</div>
	</dl>

	<h4>Situação Familiar e Socioeconômica</h4>
	<dl class="definition-list flex">
		<div class="list-item">
			<dt>Situação de Trabalho</dt>
			<dd>{{ inscricao.aluno.caracterizacao.trabalho_situacao }}</dd>
		</div>
		<div class="list-item">
			<dt>Meio de Transporte</dt>
			<dd>{{ inscricao.aluno.caracterizacao.meio_transporte_utilizado.all|format }}</dd>
		</div>
		<div class="list-item">
			<dt>Contribuintes da Renda Familiar</dt>
			<dd>{{ inscricao.aluno.caracterizacao.contribuintes_renda_familiar.all|format }}</dd>
		</div>
	</dl>
	<dl class="definition-list flex">
		<div class="list-item">
			<dt>Principal Responsável Financeiro</dt>
			<dd>{{ inscricao.aluno.caracterizacao.responsavel_financeiro }}</dd>
		</div>
		<div class="list-item">
			<dt>Situação de Trabalho do Principal Responsável Financeiro</dt>
			<dd>{{ inscricao.aluno.caracterizacao.responsavel_financeir_trabalho_situacao }}</dd>
		</div>
		<div class="list-item">
			<dt>Nível de Escolaridade do Principal Responsável Financeiro</dt>
			<dd>{{ inscricao.aluno.caracterizacao.responsavel_financeiro_nivel_escolaridade }}</dd>
		</div>
	</dl>
	<dl class="definition-list flex">
		<div class="list-item flex-basis-50">
			<dt>Nível de Escolaridade do Pai</dt>
			<dd>{{ inscricao.aluno.caracterizacao.pai_nivel_escolaridade }}</dd>
		</div>
		<div class="list-item flex-basis-50">
			<dt>Nível de Escolaridade da Mãe</dt>
			<dd>{{ inscricao.aluno.caracterizacao.mae_nivel_escolaridade }}</dd>
		</div>
		<div class="list-item">
			<dt>Renda Bruta Familiar (R$)</dt>
			<dd>{{ inscricao.aluno.caracterizacao.renda_bruta_familiar }}</dd>
		</div>
		<div class="list-item">
			<dt>Companhia domiciliar</dt>
			<dd>{{ inscricao.aluno.caracterizacao.companhia_domiciliar }}</dd>
		</div>
		<div class="list-item">
			<dt>Número de Pessoas no domicílio</dt>
			<dd>{{ inscricao.aluno.caracterizacao.qtd_pessoas_domicilio }}</dd>
		</div>
	</dl>
	<dl class="definition-list flex">
		<div class="list-item">
			<dt>Tipo de Imóvel</dt>
			<dd>{{ inscricao.aluno.caracterizacao.tipo_imovel_residencial }}</dd>
		</div>
		<div class="list-item">
			<dt>Tipo de Área Residencial</dt>
			<dd>{{ inscricao.aluno.caracterizacao.tipo_area_residencial }}</dd>
		</div>
		<div class="list-item">
			<dt>Programas sociais que é beneficiário</dt>
			<dd>{{ inscricao.aluno.caracterizacao.beneficiario_programa_social.all|format }}</dd>
		</div>
	</dl>

	<h4>Acesso às Tecnologias da Informação e Comunicação</h4>
	<dl class="definition-list flex">
		<div class="list-item flex-basis-50">
			<dt>Frequência de Acesso à Internet</dt>
			<dd>{{ inscricao.aluno.caracterizacao.frequencia_acesso_internet|format }}</dd>
		</div>
		<div class="list-item flex-basis-50">
			<dt>Local de Acesso à Internet</dt>
			<dd>{{ inscricao.aluno.caracterizacao.local_acesso_internet|format }}</dd>
		</div>
		<div class="list-item">
			<dt>Quantidade de Computadores Desktop que possui</dt>
			<dd>{{ inscricao.aluno.caracterizacao.quantidade_computadores|format }}</dd>
		</div>
		<div class="list-item">
			<dt>Quantidade de Notebooks que possui</dt>
			<dd>{{ inscricao.aluno.caracterizacao.quantidade_notebooks|format }}</dd>
		</div>
		<div class="list-item">
			<dt>Quantidade de Netbooks que possui</dt>
			<dd>{{ inscricao.aluno.caracterizacao.quantidade_netbooks|format }}</dd>
		</div>
		<div class="list-item">
			<dt>Quantidade de Smartphones que possui</dt>
			<dd>{{ inscricao.aluno.caracterizacao.quantidade_smartphones|format }}</dd>
		</div>
	</dl>
{% endbox %}

{% box 'Inscrição Socioeconômica' %}
	<dl class="definition-list flex">
		<div class="list-item flex-basis-50">
			<dt>Situação de moradia do responsável financeiro</dt>
			<dd>{{ inscricao_caracterizacao.moradia_responsavel_financeiro }}</dd>
		</div>
		{% if inscricao_caracterizacao.moradia_responsavel_financeiro.descricao == 'Outro' %}
			<div class="list-item flex-basis-50">
				<dt>Especificação da moradia</dt>
				<dd>{{ inscricao_caracterizacao.moradia_especificacao|format }}</dd>
			</div>
		{% endif %}
		<div class="list-item flex-basis-50">
			<dt>Possui algum membro da família com doença crônica ou que utiliza continuamente algum tipo de medicamento</dt>
			<dd>{{ inscricao_caracterizacao.familiar_doente_cronico|format }}</dd>
		</div>
		{% if inscricao_caracterizacao.familiar_doente_cronico %}
			<div class="list-item flex-basis-50">
				<dt>Membro(s) da família doente(s) crônico(s)</dt>
				<dd>{{ inscricao_caracterizacao.familiar_doente_cronico_nome }}</dd>
			</div>
		{% endif %}
		<div class="list-item flex-basis-100">
			<dt>Composição familiar</dt>
			{% for integrante in integrantes_familiares %}
				<dd>{{ integrante.get_integrantes|format }}</dd>
			{% endfor %}
		</div>
		<div class="list-item">
			<dt>Valor gasto com transporte por dia</dt>
			<dd>R$ {{ inscricao_caracterizacao.valor_transporte|format }}</dd>
		</div>
		<div class="list-item">
			<dt>Remuneração de trabalho</dt>
			<dd>R$ {{ inscricao_caracterizacao.remuneracao_trabalho|format }}</dd>
		</div>
		{% if inscricao_caracterizacao.rendimento_mesada %}
			<div class="list-item">
				<dt>Rendimento de mesada</dt>
				<dd>R$ {{ inscricao_caracterizacao.rendimento_mesada|format }}</dd>
			</div>
		{% endif %}
		{% if inscricao_caracterizacao.rendimento_aux_parentes %}
			<div class="list-item">
				<dt>Rendimento de auxílio de parentes</dt>
				<dd>R$ {{ inscricao_caracterizacao.rendimento_aux_parentes|format }}</dd>
			</div>
		{% endif %}
		{% if inscricao_caracterizacao.rendimento_aluguel %}
			<div class="list-item">
				<dt>Rendimento de aluguel(is)</dt>
				<dd>R$ {{ inscricao_caracterizacao.rendimento_aluguel|format }}</dd>
			</div>
		{% endif %}
		{% if inscricao_caracterizacao.rendimento_outro %}
			<div class="list-item">
				<dt>Outros rendimentos</dt>
				<dd>R$ {{ inscricao_caracterizacao.rendimento_outro|format }}</dd>
			</div>
		{% endif %}
		{% if inscricao_caracterizacao.informacoes_complementares %}
			<div class="list-item flex-basis-100">
				<dt>Informações complementares</dt>
				<dd>{{ inscricao_caracterizacao.informacoes_complementares }}</dd>
			</div>
		{% endif %}
    </dl>
{% endbox %}

{% box 'Dados da Inscrição' %}
    <dl class="definition-list flex">
		<div class="list-item">
			<dt>Programa</dt>
			<dd>{{ inscricao.programa }}</dd>
		</div>
		<div class="list-item">
			<dt>Inscrito em</dt>
			<dd>{{ inscricao.data_cadastro|format|format }}</dd>
		</div>
		<div class="list-item flex-basis-100">
			<dt>Motivo da solicitação</dt>
			<dd>{{ inscricao.motivo|linebreaks }}</dd>
		</div>
		{% if inscricao.programa.get_tipo == inscricao.programa.TIPO_ALIMENTACAO %}
			<div class="list-item">
				<dt>Café da manhã</dt>
				<dd>{{ inscricao.sub_instance.solicitacao_cafe|format }}</dd>
			</div>
			<div class="list-item">
				<dt>Almoço</dt>
				<dd>{{ inscricao.sub_instance.solicitacao_almoco|format }}</dd>
			</div>
			<div class="list-item">
				<dt>Jantar</dt>
				<dd>{{ inscricao.sub_instance.solicitacao_janta|format }}</dd>
			</div>
		{% endif %}
		{% if inscricao.programa.get_tipo == inscricao.programa.TIPO_IDIOMA %}
			<div class="list-item">
				<dt>Primeira Opção</dt>
				<dd>{{ inscricao.sub_instance.primeira_opcao|format }}</dd>
			</div>
			<div class="list-item">
				<dt>Segunda Opção</dt>
				<dd>{{ inscricao.sub_instance.segunda_opcao|format }}</dd>
			</div>
		{% endif %}
		{% if inscricao.programa.get_tipo == inscricao.programa.TIPO_TRABALHO %}
			<div class="list-item">
				<dt>Setor Preferencial</dt>
				<dd>{{ inscricao.sub_instance.setor_preferencia.nome|format }}</dd>
			</div>
			<div class="list-item">
				<dt>Turno</dt>
				<dd>{{ inscricao.sub_instance.get_turno_display|format }}</dd>
			</div>
			<div class="list-item">
				<dt>Habilidades</dt>
				<dd>{{ inscricao.sub_instance.habilidades|format }}</dd>
			</div>
			{% if inscricao.sub_instance.dados_bancarios.numero_agencia and inscricao.sub_instance.dados_bancarios.numero_conta %}
				</dl>
				<dl class="definition-list flex">
					<div class="list-item">
						<dt>Banco</dt>
						<dd>{{ inscricao.sub_instance.dados_bancarios.banco|format }}</dd>
					</div>
					<div class="list-item">
						<dt>Agência</dt>
						<dd>{{ inscricao.sub_instance.dados_bancarios.numero_agencia|format }}</dd>
					</div>
					<div class="list-item">
						<dt>Operação</dt>
						<dd>{{ inscricao.sub_instance.dados_bancarios.operacao|format }}</dd>
					</div>
					<div class="list-item">
						<dt>Conta</dt>
						<dd>{{ inscricao.sub_instance.dados_bancarios.numero_conta|format }}</dd>
					</div>
				</dl>
				<dl class="definition-list flex">
			{% endif %}
		{% endif %}
		{% if inscricao.programa.get_tipo == inscricao.programa.TIPO_TRANSPORTE %}
			<div class="list-item">
				<dt>Tipo de Passe</dt>
				<dd>{{ inscricao.sub_instance.get_tipo_passe_display|format }}</dd>
			</div>
			{% if inscricao.sub_instance.dados_bancarios.numero_agencia and inscricao.sub_instance.dados_bancarios.numero_conta %}
				</dl>
				<dl class="definition-list flex">
					<div class="list-item">
						<dt>Banco</dt>
						<dd>{{ inscricao.sub_instance.dados_bancarios.banco|format }}</dd>
					</div>
					<div class="list-item">
						<dt>Agência</dt>
						<dd>{{ inscricao.sub_instance.dados_bancarios.numero_agencia|format }}</dd>
					</div>
					<div class="list-item">
						<dt>Operação</dt>
						<dd>{{ inscricao.sub_instance.dados_bancarios.operacao|format }}</dd>
					</div>
					<div class="list-item">
						<dt>Conta</dt>
						<dd>{{ inscricao.sub_instance.dados_bancarios.numero_conta|format }}</dd>
					</div>
				</dl>
				<dl class="definition-list flex">
			{% endif %}
		{% endif %}
		{% if not inscricao.programa.get_tipo %}
			{% for resposta in respostas %}
				<div class="list-item">
					<dt>{{ resposta.pergunta }}</dt>
					<dd>{{ resposta.get_resposta }}</dd>
				</div>
			{% endfor %}
		{% endif %}
	</dl>
{% endbox %}

{% box 'Parecer do Serviço Social' %}

	{% if inscricao.parecer %}

		<dl class="definition-list flex">
			<div class="list-item flex-basis-100">
				<dt>Parecer</dt>
				<dd>{{ inscricao.parecer|format }}</dd>
			</div>
			<div class="list-item">
				<dt>Data</dt>
				<dd>{{ inscricao.parecer_data|format }}</dd>
			</div>
			<div class="list-item">
				<dt>Autor</dt>
				<dd>{{ inscricao.parecer_autor_vinculo.pessoa.nome|format }}</dd>
			</div>
		</dl>

	{% else %}

		<p>PARECER: ___________________________________________________________________________________________</p>
		<p>____________________________________________________________________________________________________</p>
		<p>____________________________________________________________________________________________________</p>
		<p>ASSISTENTE SOCIAL: __________________________________________________________________________________</p>
		<p>DATA:  _____/______/___________</p>

	{% endif %}

{% endbox %}

{% endblock %}
