{% extends super_template %}

{% block content %}

    {% include "includes/inscricao_steps.html" with active="caracterizacao" %}

    {% include "includes/inscricao_dados.html" %}

    {% if form %}
        {% box 'Caracterização Socioeconômica' %}
            {% render_form form %}
        {% endbox %}
    {% endif %}

    <script>
        function configuraCheckboxNecessidadeEspeciais(){
            var elem = document.getElementById('id_necessidade_especial_0');
            var parent = elem.parentNode.parentNode.parentNode.parentNode;
            if(parent.style.visibility=="hidden") parent.style.visibility="visible";
            else parent.style.visibility="hidden";
        }
        var c1 = document.getElementById('id_possui_necessidade_especial');
        c1.onclick = configuraCheckboxNecessidadeEspeciais;
        if (!c1.checked) configuraCheckboxNecessidadeEspeciais();

        function configuraCheckboxIdiomasConhecidos(){
            var elem = document.getElementById('id_idiomas_conhecidos_0');
            var parent = elem.parentNode.parentNode.parentNode.parentNode;
            if(parent.style.visibility=="hidden") parent.style.visibility="visible";
            else parent.style.visibility="hidden";
        }
        var c2 = document.getElementById('id_possui_conhecimento_idiomas');
        c2.onclick = configuraCheckboxIdiomasConhecidos;
        if (!c2.checked) configuraCheckboxIdiomasConhecidos();

        function configuraRazaoAusenciaEscolar(){
            var elem = document.getElementById('id_tempo_sem_estudar');
            var parent = elem.parentNode;
            if(parent.style.visibility=="hidden") parent.style.visibility="visible";
            else parent.style.visibility="hidden";

            elem = document.getElementById('id_razao_ausencia_educacional');
            parent = elem.parentNode;
            if(parent.style.visibility=="hidden") parent.style.visibility="visible";
            else parent.style.visibility="hidden";
        }
        var c3 = document.getElementById('id_ficou_tempo_sem_estudar');
        c3.onclick = configuraRazaoAusenciaEscolar;
        if (!c3.checked) configuraRazaoAusenciaEscolar();

    </script>
{% endblock %}


