{% extends super_template %}

{% block content %}

    {% include "includes/inscricao_steps.html" with active="identificacao" %}

    {% box "Inscrições Abertas" %}
        {% if programas.exists %}
            {% if form %}
                {% render_form form %}
            {% endif %}
        {% else %}
            {% if not inscricoes_ativas %}
                <p class="msg alert">Não há programas com inscrições abertas.</p>
            {% endif %}
        {% endif %}
    {% endbox %}

    {% if inscricoes_ativas %}
        {% box "Atualizar Inscrições" %}
            <table>
                <thead>
                    <tr>
                    <th>Programa</th>
                    <th>Data da Inscrição</th>
                    <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                {% for inscricao in inscricoes_ativas %}
                    <tr>
                        <td>{{ inscricao.programa }}</td>
                        <td>{{ inscricao.data_cadastro }}</td>
                        <td><a href="{{ inscricao.link }}" class="btn primary">Atualizar Inscrição</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endbox %}
    {% endif %}

{% endblock %}
