{% extends super_template %}

{% block extrahead %}
    {{ form_comprovantes.media }}
{% endblock %}

{% block content %}
    
    {% include "includes/inscricao_steps.html" with active="documentacao" %}

    {% include "includes/inscricao_dados.html" %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if not documento_aluno_ja_informado %}
            {% box "Documentação do Aluno" %}
                <div class="msg alert">
                    <p><strong>Sobre a Documentação</strong>:</p>
                    <ul>
                        <li>O Comprovante de Renda do Aluno ou dos Membros do Grupo Familiar só será solicitado a maiores de 18 anos se for informado um valor de renda maior que 0 ou se  o valor da renda tiver sido modificado desde a última inscrição.</li>
                        <li>O Comprovante de Residência do Aluno só será solicitado na primeira inscrição ou se o último comprovante tiver sido informado há mais de 12 meses.</li>
                        <li>Enquanto houver período de inscrição aberto, a Documentação pode ser atualizada diretamente na aba 'Atividades Estudantis' da tela do aluno.</li>
                    </ul>
                </div>
                {% render_form form render_full=False submit_label=False %}
            {% endbox %}
        {% endif %}

        {% if falta_comprovante_renda %}
            {% box "Adicionar Documentos" %}
                {% render_form form_comprovantes render_full=False submit_label=False %}
            {% endbox %}
        {% endif %}

        <div class="submit-row">
            <input class="btn success" type="submit" value="Continuar" />
            <a class="btn default" href="/ae/inscricao_grupo_familiar/{{ aluno_id }}/{{ periodo_id }}/{{ programa_id }}/{{ data_cadastro }}/">Voltar</a>
        </div>
    </form>

{% endblock %}
