{% extends super_template %}



{% block content %}

<div class="search-and-filters">
    {% render_form form %}
</div>

{% if alunos %}
    {% paginate %}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Alunos</th>
            </tr>
        </thead>
        <tbody>
            {% autopaginate alunos 100 %}
            {% for aluno in alunos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        {{ aluno.pessoa_fisica.nome }}
                        {% if perms.academico.view_aluno %}
                            <a href="{{ aluno.get_absolute_url }}">({{ aluno.matricula }})</a>
                        {% else %}
                            ({{ aluno.matricula }})
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% paginate %}
{% else %}
    <p class="msg alert">Não foi encontrado nenhum aluno.</p>
{% endif %}

{% endblock %}