{% extends super_template %}



{% block content %}

    <div class="search-and-filters">
        {% render_form form %}
    </div>

    {% if form.is_bound %}
        {% if demandas.exists %}
            <table>
                <thead>
                    <tr>
                        <th>Campus</th>
                        <th>Tipo de Atendimento</th>
                        <th>Aluno</th>
                        <th>Data</th>
                        <th>Quantidade</th>
                        <th>Observação</th>
                        <th>Responsável</th>
                    </tr>
                </thead>
                <tbody>
                    {% autopaginate demandas 100 %}
                    {% paginate %}
                    {% for demanda in demandas %}
                        <tr>
                            <td>{{ demanda.campus }}</td>
                            <td>{{ demanda.demanda }}</td>
                            <td>{{ demanda.aluno }}</td>
                            <td>{{ demanda.data }}</td>
                            <td>{{ demanda.quantidade }}</td>
                            <td>{{ demanda.observacao }}</td>
                            <td>{{ demanda.responsavel_vinculo.user|format }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% paginate %}
        {% else %}
            <p class="msg alert">Não foi encontrado nenhum aluno.</p>
        {% endif %}
    {% else %}
        <p class="msg alert">Utilize os filtros para gerar o relatório.</p>
    {% endif %}

{% endblock %}