{% extends super_template %}



{% block content %}

<div class="search-and-filters">
    {% render_form form %}
</div>
    
{% if relatorio_bolsa %}
    <table>
        <thead>
            <tr>
                <th>Campus</th>
                <th>Período</th>
                <th class="text-end">Recurso Planejado (R$)</th>
                <th class="text-end">Recurso Gasto (R$)</th>
                <th class="text-end">Saldo (R$)</th>
                <th class="text-end">Quantidade de Participações</th>
            </tr>             
        </thead>
        <tbody>
            {% for opcao in relatorio_bolsa %}
                <tr>
                    <td>{{ opcao.campus }}</td>
                    <td>De {{ opcao.data_inicio }} a {{ opcao.data_termino }}</td>
                    <td class="text-end">{{ opcao.planejado|format }}</td>
                    <td class="text-end">{{ opcao.somatorio|format }}</td>
                    <td class="text-end{% if opcao.saldo >= 0 %} true{% else %} false{% endif %}">{{ opcao.saldo|format }}</td>
                    <td class="text-end">{{ opcao.quantidade }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Total</td>
                <td class="text-end">{{ total_planejado|format }}</td>
                <td class="text-end">{{ total_gasto|format }}</td>
                <td class="text-end{% if total_saldo >= 0 %} true{% else %} false{% endif %}">{{ total_saldo|format }}</td>
                <td class="text-end">{{ total_participacoes }}</td>
            </tr>
        </tfoot>
    </table>
{% else %}
    {% if escolheu_ano_e_campus %}
        {% if not valor_total_bolsa %}
            <p class="msg alert">Nenhum <strong>Recurso Planejado para Bolsas</strong> foi cadastrado pelo Coordenador de Atividades Estudantis para o campus, ano e categoria escolhidos.</p>
        {% elif not valores_bolsa %}
            <p class="msg alert">Não existe <strong>Valor de Bolsas</strong> cadastrado para o campus escolhido no período planejado.</p>
        {% elif not achou_bolsas %}
            <p class="msg alert">Nenhuma bolsa desta <strong>categoria</strong> foi concedida para o <strong>campus</strong> escolhido no <strong>ano</strong> informado.</p>
        {% endif %} 
    {% else %}
        <p class="msg alert">Selecione um <strong>ano</strong> e uma <strong>categoria</strong> para visualizar o relatório.</p>
    {% endif %}
{% endif %}

{% endblock %}
