{% extends super_template %}



{% block content %}

<div class="search-and-filters">
    {% render_form form %}
</div>

{% if auxilios %}
    <table>
        <thead>
            <tr>
                <th>Campus</th>
                <th>Tipo de Auxílio</th>
                <th>Período</th>
                <th class="text-end">Recurso Planejado (R$)</th>
                <th class="text-end">Recurso Gasto (R$)</th>
                <th class="text-end">Saldo (R$)</th>
            </tr>
        </thead>
        <tbody>
            {% for auxilio in auxilios %}
                <tr>
                    <td>{{ auxilio.campus }}</td>
                    <td>{{ auxilio.tipoatendimentosetor }}</td>
                    <td>De {{ auxilio.inicio|format }} a {{ auxilio.termino|format }}</td>
                    <td class="text-end">{{ auxilio.planejado|format }}</td>
                    <td class="text-end">{{ auxilio.gasto|format }}</td>
                    <td class="text-end {% if auxilio.saldo >= 0 %}true{% else %} false {% endif %}">{{ auxilio.saldo|format }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total</td>
                <td class="text-end">{{ total_planejado|format }}</td>
                <td class="text-end">{{ total_gasto|format }}</td>
                <td class="text-end {% if total_saldo >= 0 %}true{% else %} false {% endif %}">{{ total_saldo|format }}</td>
            </tr>
        </tfoot>
    </table>
{% else %}
    <p class="msg alert">Não há valores totais de auxílios cadastrados para esta consulta.</p>
{% endif %}

{% endblock %}
