{% extends super_template %}

{% block content %}

<div class="search-and-filters">
    {% render_form form %}
</div>

{% if relatorio_por_periodo %}
<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th rowspan="2">Campus</th>
                <th rowspan="2">Período</th>
                <th rowspan="2" class="text-end">Valor da Refeição (R$)</th>
                <th colspan="2">Café</th>
                <th colspan="2">Almoço</th>
                <th colspan="2">Jantar</th>
                <th rowspan="2" class="text-end">Total (R$)</th>
            </tr>
            <tr>
                <th class="text-end">Qtd</th>
                <th class="text-end">Recurso Gasto (R$)</th>
                <th class="text-end">Qtd</th>
                <th class="text-end">Recurso Gasto (R$)</th>
                <th class="text-end">Qtd</th>
                <th class="text-end">Recurso Gasto (R$)</th>
            </tr>
        </thead>
        <tbody>
            {% for opcao in relatorio_por_periodo %}
                <tr>
                    <td>{{ opcao.campus }}</td>
                    <td>De {{ opcao.data_inicio}} a {{ opcao.data_termino}} </td>
                    <td class="text-end">{{ opcao.valor|format_money }}</td>
                    <td class="text-end">{{ opcao.quantidade_cafe|default:"-" }}</td>
                    <td class="text-end">{{ opcao.gasto_cafe|format|default:"-" }}</td>
                    <td class="text-end">{{ opcao.quantidade_almoco|default:"-" }}</td>
                    <td class="text-end">{{ opcao.gasto_almoco|format|default:"-" }}</td>
                    <td class="text-end">{{ opcao.quantidade_jantar|default:"-" }}</td>
                    <td class="text-end">{{ opcao.gasto_jantar|format|default:"-" }}</td>
                    <td class="text-end ">{{ opcao.total|format}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    {% if escolheu_ano_e_campus %}
        {% if not campus_tem_valor_refeicao %}
            <p class="msg alert">Nenhum Recurso Planejado para Refeições foi cadastrado pelo Coordenador de Atividades Estudantis para o campus escolhido no ano informado.</p>
        {% elif not valor_total_refeicoes %}
            <p class="msg alert">Nenhum auxílio foi concedido para o campus escolhido no ano informado.</p>
        {% endif %}
    {% elif nao_eh_usuario_sistemico %}
        <p class="msg alert">Selecione um <strong>ano</strong> para visualizar o relatório.</p>
    {% else %}
        <p class="msg alert">Selecione um <strong>campus</strong> e um <strong>ano</strong> para visualizar o relatório.</p>
    {% endif %}
{% endif %}

{% endblock %}
