{% extends super_template %}

{% block content %}

    {% if form.is_bound %}
        <ul class="action-bar">
            <li><a class="btn default" href="{{ request.get_full_path }}&xls=1">Relação de Beneficiários</a></li>
        </ul>
    {% endif %}

    <div class="search-and-filters">
        {% render_form form %}
    </div>

    {% if form.is_bound %}
        {% box 'Alimentação - Refeitório' %}
            <div class="flex-container boxes indicators">
                <div class="box-item">
                    <p class="indicator">{{ alunos_beneficiados_alimentacao }}</p>
                    <p class="description">Alunos Beneficiados</p>
                </div>
                <div class="box-item">
                    <p class="indicator">{{ qtd_media_almoco }}</p>
                    <p class="description">Refeições servidas no almoço/dia (em média)</p>
                </div>
                <div class="box-item">
                    <p class="indicator">{{ refeicoes.count }}</p>
                    <p class="description">Refeições servidas/ano</p>
                </div>
                <div class="box-item">
                    <p class="indicator"><small>R$</small> {{ total_orcamento_alimentacao|format }}</p>
                    <p class="description">Orçamento total executado com alimentação/ano</p>
                </div>
            </div>
        {% endbox %}

        {% box 'Transporte' %}
            <div class="flex-container boxes indicators">
                <div class="box-item">
                    <p class="indicator">{{ alunos_beneficiados_transporte }}</p>
                    <p class="description">Alunos beneficiados</p>
                </div>
                <div class="box-item">
                    <p class="indicator"><small>R$</small> {{ total_orcamento_transporte|format }}</p>
                    <p class="description">Orçamento total executado com transporte/ano</p>
                </div>
            </div>
        {% endbox %}

        {% box 'Auxílios' %}
            {% if resultado.items %}
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Auxílio</th>
                                <th>Quantidade média de público participante por atividade</th>
                                <th>Quantidade de atividades realizadas/apoiadas</th>
                                <th>Orçamento total executado com as atividades</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for auxilio, itens in resultado.items %}
                                <tr>
                                    <td>{{ auxilio }}</td>
                                    <td>{{ itens.qtd_participantes }}</td>
                                    <td>{{ itens.qtd_atividades }}</td>
                                    <td>R$ {{ itens.valor_total|format }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="msg alert">Não há auxílios cadastrados para este período.</p>
            {% endif %}
        {% endbox %}

    {% else %}
        <p class="msg alert">Selecione o ano para visualizar o relatório.</p>
    {% endif %}

{% endblock %}