{% extends 'admin/base_site.html' %}

{% block content %}
    {{ block.super }}
    <ul class="tabs with-content">
        {% for uo in uos %}
            <li {% if uo_escolhida == uo %}class="active"{% endif %}>
                <a href="?uo={{ uo.pk }}">{{ uo.sigla }}
                    <span class="badge">{{ contador_dict|getkey:uo.pk}}</span>
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-container" data-titled-tab="true">
        <ul class="action-bar">
            <li><a class="btn success popup"
                   href="{% url 'adicionar_usuario_gerente_equipe_local_servico_catalogo' servico.pk uo_escolhida.pk %}">Adicionar
                Usuário como Gerente Local</a></li>
        </ul>
        {% box 'Usuários Equipe' %}
            {% autopaginate vinculos 32 %}
            {% paginate %}
            <div class="card-container">
                {% for vinculo in vinculos %}
                    <div class="card {% if not vinculo.user.last_login %}error{% endif %}">
                        <div class="photo">
                            <img alt="{{ vinculo.user.get_profile.nome_usual }}"
                                 src="{{ vinculo.user.get_profile.get_foto_75x100_url }}"/>
                        </div>
                        {% if vinculo.user.get_profile.nome_usual or vinculo.user.get_profile.nome %}
                            <h5>
                                {{ vinculo.user.get_profile.nome_usual|default:vinculo.user.get_profile.nome }}</h5>
                        {% endif %}
                        <dl>
                            <dt>Cargo/Setor:</dt>
                            <dd>{{ vinculo.user.get_relacionamento_title }} <span
                                    title="{{ vinculo.setor.nome }}">({{ vinculo.setor|format }})</span>
                            </dd>
                            {% if vinculo.eh_prestador %}
                                <dt>CPF:</dt>
                                <dd>{{ vinculo.user.username }}</dd>
                            {% else %}
                                <dt>Matrícula:</dt>
                                <dd>
                                    <a href="{{ vinculo.user.get_relacionamento.get_absolute_url }}">{{ vinculo.user.username }}</a>
                                </dd>
                            {% endif %}
                        </dl>
                        <ul class="action-bar">
                            <li>
                                <a class="btn danger"
                                   href="{% url "remover_usuario_gerente_equipe_local_servico_catalogo" servico.pk vinculo.pk uo_escolhida.pk %}">{% icone "trash" %}
                                    Remover desta equipe</a>
                            </li>
                        </ul>
                    </div>
                    {% empty %}
                    <p class="msg alert">Não existem usuários cadastrados como gerentes locais desse serviço na Unidade
                        Organizacional escolhida.</p>
                {% endfor %}
            </div>
            {% paginate %}
        {% endbox %}
    </div>
{% endblock %}
