{% extends super_template %}

{% block extrahead %}
<link rel="stylesheet" href="/static/planejamento/css/planejamento.css" />
<link rel="stylesheet" href="/static/comum/deprecated/css/ui-lightness/jquery-ui-1.8.4.custom.css" />
<link rel="stylesheet" href="/static/planejamento/css/relatorio.css">
{% endblock %}

{% block content %}

{% render_form form %}
	
{% if acoes %}
	<h3>Ações Cadastradas</h3>
	<table>
		<thead>
			{% if gerente_campus or administrador %}
				<th>-</th>
			{% endif %}
			<th>Código</th>
			<th>Ano Base</th>
			<th>Título</th>
			{% if not gerente_campus %}
				<th>Unidade Adm.</th>
			{% endif %}
			<th>Unidade de Medida</th>
			<th>Valor</th>
			<th>Situação</th>
		</thead>
		<tbody>
		{% for a in acoes|dictsort:"codigo" %}
			<tr>
			    {% if gerente_campus or administrador %}
					<td>{% icon "view" "/planejamento/metaunidade/{{ a.meta_unidade.id }}/" %}</td>
				{% endif %}
				<td>{{ a.get_codigo_completo }}</td>
				<td>{{a.meta_unidade.unidade.configuracao}} </td>
				<td>{{ a }}</td>
				{% if not gerente_campus %}
					<td style="text-align:center;">{{ a.meta_unidade.unidade.setor_equivalente.sigla }}</td>
				{% endif %}
				<td style="text-align:center;">{{ a.unidade_medida }}</td>
				<td style="text-align:right;">{{ a.get_valor_total|mascara_dinheiro }}</td>
				<td>
					{% if a.acao_indutora %}
						<span class="status status-success">Importada</span>
					{% else %}
						<span class="status status-error">Não importada</span>
					{% endif %}
				</td>
		    </tr>
		{% endfor %}
		</tbody>
	</table>
{% else %}
	{% if form.is_valid %}
   	<p class="msg alert">Não existem informações cadastradas para o filtro de pesquisa utilizado.</p>
	{% endif %}
{% endif %}


{% endblock %}
