{% extends super_template %}

{% block content %}

{% box 'Dados Gerais' %}
<table>
	{% if not user|in_group:"Coordenador de Planejamento" %}
	<tr>
		<td>Unidade Administrativa</td>
		<td>{{ unidade_administrativa }}</td>
	</tr>
	{% endif %}
	<tr>
		<td>Objetivo Estratégico</td>
		<td>{{ acao.meta_unidade.meta.objetivo_estrategico.get_codigo_completo }} - {{ acao.meta_unidade.meta.objetivo_estrategico }}</td>
	</tr>
	<tr>
		<td>Meta</td>
		<td>{{ acao.meta_unidade.meta.get_codigo_completo }} - {{ acao.meta_unidade.meta }}</td>
	</tr>
	<tr>
		<td>Ação</td>
		<td>{{ acao.get_codigo_completo }} - {{ acao }}</td>
	</tr>
</table>
{% endbox %}

{% if acompanhamentos %}
{% box 'Histórico de Acompanhamentos' %}
<table>
	<thead>
		<tr>
			<th style="text-align:left;">Descrição</th>
			<th style="width:200px;">Data de Cadastro</th>
			<th style="width:70px;">Conclusão</th>
		</tr>
	</thead>
	<tbody>
		{% for acompanhamento in acompanhamentos %}
		<tr>
			<td>{{ acompanhamento.texto }}</td>
			<td style="text-align:center;">{{ acompanhamento.data|date:"j \de F \de Y (H:i:s)"|format }}</td>
			<td style="text-align:center;">{{ acompanhamento.percentual }}%</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endbox %}
{% endif %}

<div {% if not form.instance.pk and not form.errors %} class="invisivel" {% endif %}>
	{{ form.errors }}
	{% render_form form %}
</div>
{% endblock %}
