{% extends super_template %}

{% block extracss %}
<link rel="stylesheet" href="/static/planejamento/css/planejamento.css" />
<link rel="stylesheet" href="/static/planejamento/css/graficos.css" />
{% endblock %}

{% block extrahead %}
<script src="/static/djtools/graficos/highcharts.js"></script>
{% endblock %}

{% block content %}

<div class="graficos">
	{% if not gp_gastos and not gp_acoes %}
	<p class="msg">Até o momento não existem informações suficientes para a geração dos gráficos</p>
	{% else %}
	{{ gp_gastos }}
	{{ gp_acoes }}
	{% endif %}
</div>

{% endblock %}
