{% extends super_template %}

{% block extracss %}
<link rel="stylesheet" href="/static/planejamento/css/planejamento.css" />
<link rel="stylesheet" href="/static/comum/deprecated/css/ui-lightness/jquery-ui-1.8.4.custom.css" />
{% endblock %}

{% block content %}

    <h2>{{ form.TITLE }}</h2>

	{% box 'Dados Gerais' %}
    <table>
        <tr>
            <td>Objetivo Estratégico</td>
			<td>{{ meta.objetivo_estrategico.get_codigo_completo }} - {{ meta.objetivo_estrategico }}</td>
		</tr>
		<tr>
			<td>Meta</td>
			<td>{{ meta.get_codigo_completo }} - {{ meta.titulo }}</td>
		</tr>
		<tr>
            <td>Justificativa</td>
			<td>{{ meta.justificativa }}</td>
		</tr>
		<tr>
            <td>Unidade de Medida</td>
			<td>{{ meta.unidade_medida }}</td>
		</tr>
		<tr>
            <td>Execução</td>
			<td>de {{ meta.data_inicial|date:"F" }} à {{ meta.data_final|date:"F" }}</td>
        </tr>
    </table>
	{% endbox %}
	
	{% if meta.acaoproposta_set.all %}
	{% box 'Ações Propostas Cadastradas' %}
	<table>
        <thead>
            <tr>
            	{% if meta.objetivo_estrategico.configuracao.periodo_sistemico %}
                	<th>Ações</th>
                {% endif %}
                <th>Código</th>
				<th>Título</th>
				<th width="200px" style="text-align:center;">Unidade de Medida</th>
            </tr>
        </thead>
        <tbody>
            {% for acao in meta.acaoproposta_set.all|dictsort:"codigo" %}
            <tr>
            	{% if meta.objetivo_estrategico.configuracao.periodo_sistemico %}
                    <td>
                    	<a id="lnk_editar_meta_unidade" href="/planejamento/meta/{{ meta.id }}/acaoproposta/{{ acao.id }}/#fcad" class="icon icon-edit" title="Editar Unidade"><span class="sr-only">Editar</span></a>
						{% icon "delete" "/planejamento/meta/{{ meta.id }}/acaoproposta/{{ acao.id }}/remover/" %}
					</td>
				{% endif %}
				<td class="icon_column" style="text-align:center;">{{ acao.codigo|format }}</td>
				<td>{{ acao.titulo }}</td>
                <td style="text-align:center;">{{ acao.unidade_medida }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
	{% endbox %}
	{% endif %}

	<a name="fcad" />
	
	<div id="botoes" class="botoes" >
		<a id="btn_cadastrar" href="#fcad" class="lnk_botao{% if form.instance.pk or not meta.objetivo_estrategico.configuracao.periodo_sistemico %} invisivel{% endif %}">Adicionar Ação</a>
		<a id="btn_reset_forms" href="#fcad" class="lnk_botao{% if not form.instance.pk or meta.objetivo_estrategico.configuracao.periodo_sistemico %} invisivel{% endif %}">Cancelar</a>
   	</div>
	
	<div {% if not form.instance.pk and not form.errors %}class="invisivel"{% endif %}>
		{% render_form form %}
	</div>
{% endblock %}
