{% extends super_template %}

{% block content %}
{% if user|in_group:"Administrador de Planejamento" %}
	<ul class="action-bar">
		<li><a class="btn primary" href="/admin/planejamento/origemrecurso/{{ origem_recurso.id }}/">Editar</a></li>
	</ul>
{% endif %}

{% box "Informações Gerais" %}
	<table class="info">
		        <tr>
		        	<td>Origem Recurso:</td>
		        	<td>{{origem_recurso.nome}}</td>
		        	<td>Valor Capital:</td>
		        	<td>{{ origem_recurso.valor_capital|mascara_dinheiro }}</td>
		        </tr>
		        <tbody>
			    <tr>
			    	<td>Valor Custeio:</td>
			    	<td>{{ origem_recurso.valor_custeio|mascara_dinheiro }}</td>
		            <td>Orçamento:</td>
					<td>{{ orcamento|mascara_dinheiro }}</td>
			    </tr>
				</tbody>
		</table>
{% endbox %}

{% box " Origem Recurso Unidade Administrativa" %}
{% if not user|in_group:"Auditor" %}
    <ul class="action-bar">
        <li><a class="btn success" href="/admin/planejamento/origemrecursoua/add/?origem_recurso={{ origem_recurso.pk}}">Adicionar Origem Recurso Unidade Administrativa</a></li>
    </ul>
{% endif %}
{% if origem_recursoua %}
	<table>
		<thead>
	        <tr>
	        	<th>Unid. Administrativa</th>
				<th>Valor Capital</th>
	            <th>Valor Custeio</th>
                {% if not user|in_group:"Auditor" %}
	                <th>Ações </th>
                {% endif %}
	        </tr>
	    </thead>
	    {% for origem_recursoua in origem_recursoua %}
			<tbody>
		        <tr>
					<td>{{  origem_recursoua.unidade  }}</td>
		            <td>{{  origem_recursoua.valor_capital|mascara_dinheiro  }}</td>
		            <td>{{  origem_recursoua.valor_custeio|mascara_dinheiro  }}</td>
                    {% if not user|in_group:"Auditor" %}
		                <td><a class="btn primary" href="/admin/planejamento/origemrecursoua/{{ origem_recursoua.pk }}/">Editar</a></td>
                    {% endif %}
		        </tr>
			</tbody>
	    {% endfor %}
	</table>
{% else %}
	<p class="msg alert">Não existem Origem de Recurso Unidade Administrativa cadastrada.</p>
{% endif %}
{% endbox %}
{% endblock %}