<div id="popup-user-container-{{ profile.id }}" class="popup-user-container">
    {% if eh_pessoafisica %}
        <h4>{{ nome|normalizar }}</h4>
        <div class="photo-circle">
            <img alt="{{ nome|normalizar }}" src="{{ foto }}"/>
        </div>
        <dl>
            {% if vinculos.exists %}
                {% for vinculo in vinculos %}
                    <dt>{{ vinculo.tipo_relacionamento }}:</dt>
                    <dd>
                        {% if not requisitante_eh_aluno %}
                            <a href="{{ vinculo.relacionamento.get_absolute_url }}">{{ vinculo.relacionamento.matricula }}</a>
                        {% else %}
                            {{ vinculo.relacionamento.matricula }}
                        {% endif %}
                    </dd>
                {% endfor %}
            {% endif %}
            {% if email and not requisitante_eh_aluno %}
                <dt><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">E-mail</span></dt>
                <dd><a href="mailto:{{ email }}">{{ email }}</a></dd>
            {% endif %}
        </dl>
    {% else %}
        <h4>{{ nome }}</h4>
        <dl>
            <dt>Categoria:</dt>
            <dd>Pessoa Jurídica</dd>
            <dt>CNPJ:</dt>
            <dd>
                {% if not requisitante_eh_aluno %}
                    <a href="{{ profile.get_absolute_url }}">{{ cnpj }}</a>
                {% else %}
                    {{ cnpj }}
                {% endif %}
            </dd>
        </dl>
    {% endif %}
</div>