{% extends super_template %}
{% load crispy_forms_tags %}

{% block extrahead %}
<script src="/static/documento_eletronico/js/hwcrypto-legacy.js"></script>
<script src="/static/documento_eletronico/js/hwcrypto.js"></script>
<script src="/static/documento_eletronico/js/hex2base.js"></script>
<script src="/static/processo_eletronico/js/hwsign.js"></script>
<script src="/static/djtools/jquery/jquery.autocomplete.js"></script>
<script src="/static/djtools/jquery/jquery.bgiframe.min.js"></script>
<script type="text/javascript">

        function GetFileSize(field) {
            var max_file_upload_size = "{{ max_file_upload_size }}";
            var button = document.getElementById(field);
            // Check for the various File API support.
            if (window.File && window.FileReader && window.FileList && window.Blob)
            {
                // Great success! All the File APIs are supported.
                var files = button.files;
                if (files.length > 0) {
                    //get the file size and file type from file input field
                    var fsize = files[0].size;
                    var ftype = files[0].type;
                    var fname = files[0].name;
                    //
                    if (fsize > max_file_upload_size || fsize < 0) {
                        alert("O arquivo que esta sendo submetido possui um tamanho maior do que o permitido pelo SUAP!");
                        button.value = "";          // Cleanning the value
                        window.location.reload();   // Reload the page
                        return false;
                    }
                }
            }
            // No chrome não estava funcionando colocar o código de desabilitar o botão no mesmo momento
            setTimeout( desabilitar_botao, 1 );
            return true;
        }

        function desabilitar_botao(){
            var input_submit = $('#submit-id-submit');
            input_submit.attr("disabled", "disabled");
            input_submit.val("Aguarde...");
        }

</script>
{% endblock %}

{% block content %}
<p class="msg alert">
    Somente serão carregados arquivos com extensão: <strong>{{ extensoes|join:', ' }}</strong>.
</p>

<p>Passos {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</p>
<form id="wizard_form" action name="wizard_form" enctype="multipart/form-data" method="post">{% csrf_token %}

    {{ wizard.management_form }}
    {{ wizard.form.media }}
    {% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
    {% render_form form %}
    {% endfor %}
    {% else %}
    {% with form=wizard.form %}
    {% render_form form %}
    {% endwith %}
    {% endif %}

    {% if wizard.steps.prev %}
    <div class="submit-row">
        <input name="_addanother" type="submit" value="Primeiro passo" />
        <input name="_continue" type="submit" value="Anterior" />
    </div>
    {% endif %}
</form>

<script>
    jQuery(document).ready(function() {

        var assinatura_senha = ("{{tipo_assinatura}}"  == "senha");
        var form = jQuery("#wizard_form");
        jQuery("#wizard_form").submit(function (event) {
            if( !assinatura_senha  && jQuery("#id_papel" ).length == 1)
            {
                var btn_txt = jQuery('#wizard_form > div.submit-row > input.default').val();
                if (jQuery('#id_papel').val() == "") {
                    jQuery('#wizard_form > div.submit-row > input.default').prop('disabled', false);
                    jQuery('#wizard_form > div.submit-row > input.default').val(btn_txt);
                    jQuery('#wizard_form > div:nth-child(2) > fieldset > div').find('.errorlist').remove();
                    jQuery('#wizard_form > div:nth-child(2) > fieldset > div').find('div').prepend('<ul class="errorlist"><li>Este campo é obrigatório.</li></ul>');
                    return false;
                }
                event.preventDefault();
                var role = document.getElementById("id_papel").value;
                sign("{{ hash_conteudo }}", role, form, form.context.URL);

            }
            return true;
        });
    });
</script>
{% endblock %}
