{% extends super_template %}

{% block action-bar %}
    <ul class="action-bar">
        <li>
            <a class="btn" href="/processo_eletronico/visualizar_processo/{{ processo_id }}/">
                {% icone "undo" %} Voltar para Visualizar Processo
            </a>
            <a class="btn" href="/processo_eletronico/processo/{{ processo_id }}/">
                {% icone "undo" %} Voltar para Processo
            </a>
        </li>
    </ul>
{% endblock %}

{% block object-status %}
    {{ processo.get_status_display|status }}
{% endblock %}

{% block content %}


    <dd>
        <ul class="timeline">
            {% for grupo_data in eventos_organizados.items %}
                <li>
                    <div class="timeline-date">{{ grupo_data.0 }}</div>
                    <div class="timeline-icon"></div>
                    <div class="timeline-content">
                        {% for dados in grupo_data.1 %}
                            {% if dados.iniciado %}
                                <div class="success">
                            {% elif dados.finalizado %}
                                <div class="error">
                            {% else %}
                                <div>
                            {% endif %}
                                <h4>{{ dados.titulo }}</h4>
                                {% if dados.detalhes %}
                                    <p>{{ dados.detalhes }}</p>
                                {% endif %}
                                <p>Em {{ dados.data_hora }}</p>
                                {% if dados.usuario %}
                                    <p>Por {{ dados.usuario }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </dd>


{% endblock %}
