{% extends super_template %}

{% block content %}

    <ul class="pills">
        <li {% if tipo_visualizacao == 'pp' %}class="active"{% endif %}><a href="?v=pp">Por permissão</a></li>
        <li {% if tipo_visualizacao == 'ps' %}class="active"{% endif %}><a href="?v=ps">Por setor</a></li>
    </ul>

    {% if request.user.is_superuser and user_su %}
        <div class="msg info">Permissões de {{ user_permissoes|format }}</div>
    {% endif %}

    {% if tipo_visualizacao == 'pp' %}
        {% if lista_setores_que_tenho_poder_de_chefe_oficio or lista_setores_que_tenho_poder_de_chefe or lista_processo_setores_pessoa_operar or lista_processo_setores_pessoa_operar_criar or lista_documentos_setores_pessoa_ler or lista_documentos_setores_pessoa_editar_ler %}
            <div class="tab-container" data-title="Permissões Concedidas de Forma Individual">

                {% if lista_setores_que_tenho_poder_de_chefe_oficio %}
                    {% box "Setores que Sou Chefe de Ofício" %}
                        <table>
                            <thead>
                            <tr>
                                <th>Setor</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for setor in lista_setores_que_tenho_poder_de_chefe_oficio %}
                                <tr>
                                    <td>{{ setor.setor_dono }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endbox %}
                {% endif %}

                {% if lista_setores_que_tenho_poder_de_chefe %}
                    {% box "Setores que Tenho Poder de Chefe" %}
                        <table>
                            <thead>
                            <tr>
                                <th>Setor</th>
                                <th>Atribuição</th>
                                <th class="no-print">Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for lista in lista_setores_que_tenho_poder_de_chefe %}
                                <tr>
                                    <td>{{ lista.setor_dono }} - {{ lista.setor_dono.nome }}</td>
                                    <td>{{ lista.usuario_criacao|format }} em {{ lista.data_criacao|format }}</td>
                                    <td class="no-print">
                                        <a href="/processo_eletronico/remover_permissao_processo_documento/?idp={{ lista.id }}&tp=pdc"
                                           class="btn danger">Remover Permissão</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endbox %}
                {% endif %}

                {% if lista_processo_setores_pessoa_operar %}
                    {% box "Setores que Posso Operar Processos Eletrônicos" %}
                        <table>
                            <thead>
                            <tr>
                                <th>Setor</th>
                                <th>Atribuição</th>
                                <th class="no-print">Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for lista in lista_processo_setores_pessoa_operar %}
                                <tr>
                                    <td>{{ lista.setor_dono }} - {{ lista.setor_dono.nome }}</td>
                                    <td>{{ lista.usuario_criacao|format }} em {{ lista.data_criacao|format }}</td>
                                    <td class="no-print">
                                        <a href="/processo_eletronico/remover_permissao_processo_documento/?idp={{ lista.id }}&tp=psp"
                                           class="btn danger">Remover Permissão</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endbox %}
                {% endif %}

                {% if lista_processo_setores_pessoa_operar_criar %}
                    {% box "Setores que Posso Adicionar e Operar Processos Eletrônicos" %}
                        <table>
                            <thead>
                            <tr>
                                <th>Setor</th>
                                <th>Atribuição</th>
                                <th class="no-print">Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for lista in lista_processo_setores_pessoa_operar_criar %}
                                <tr>
                                    <td>{{ lista.setor_dono }} - {{ lista.setor_dono.nome }}</td>
                                    <td>{{ lista.usuario_criacao|format }} em {{ lista.data_criacao|format }}</td>
                                    <td class="no-print">
                                        <a href="/processo_eletronico/remover_permissao_processo_documento/?idp={{ lista.id }}&tp=psp"
                                           class="btn danger">Remover Permissão</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endbox %}
                {% endif %}

                {% if lista_documentos_setores_pessoa_ler %}
                    {% box "Setores que Posso Ler Documentos Eletrônicos" %}
                        <table>
                            <thead>
                            <tr>
                                <th>Setor</th>
                                <th>Atribuição</th>
                                <th class="no-print">Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for lista in lista_documentos_setores_pessoa_ler %}
                                <tr>
                                    <td>{{ lista.setor_dono }} - {{ lista.setor_dono.nome }}</td>
                                    <td>{{ lista.usuario_criacao|format }} em {{ lista.data_criacao|format }}</td>
                                    <td class="no-print" style="width: 30%">
                                        <a href="/processo_eletronico/remover_permissao_processo_documento/?idp={{ lista.id }}&tp=dsp"
                                           class="btn danger">Remover Permissão</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endbox %}
                {% endif %}

                {% if lista_documentos_setores_pessoa_editar_ler %}
                    {% box "Setores que Posso Adicionar, Operar e Ler Documentos Eletrônicos" %}
                        <table>
                            <thead>
                            <tr>
                                <th>Setor</th>
                                <th>Atribuição</th>
                                <th class="no-print">Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for lista in lista_documentos_setores_pessoa_editar_ler %}
                                <tr>
                                    <td>{{ lista.setor_dono }} - {{ lista.setor_dono.nome }}</td>
                                    <td>{{ lista.usuario_criacao|format }} em {{ lista.data_criacao|format }}</td>
                                    <td class="no-print">
                                        <a href="/processo_eletronico/remover_permissao_processo_documento/?idp={{ lista.id }}&tp=dsp"
                                           class="btn danger">Remover Permissão</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endbox %}
                {% endif %}

            </div>
        {% endif %}

        {% if lista_processo_setores_setor_operar or lista_processo_setores_setor_operar_criar or lista_documentos_setores_setor_ler or lista_documentos_setores_setor_editar_ler %}
            <div class="tab-container" data-title="Permissões Concedidas de Forma Coletiva">

                {% if lista_processo_setores_setor_operar %}
                    {% box "Setores que Posso Operar Processos Eletrônicos" %}
                        <table>
                            <thead>
                            <tr>
                                <th>Setor</th>
                                <th>Atribuição</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for lista in lista_processo_setores_setor_operar %}
                                <tr>
                                    <td>{{ lista.setor_dono }} - {{ lista.setor_dono.nome }}</td>
                                    <td>{{ lista.usuario_criacao|format }} em {{ lista.data_criacao|format }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endbox %}
                {% endif %}

                {% if lista_processo_setores_setor_operar_criar %}
                    {% box "Setores que Posso Adicionar e Operar Processos Eletrônicos" %}
                        <table>
                            <thead>
                            <tr>
                                <th>Setor</th>
                                <th>Atribuição</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for lista in lista_processo_setores_setor_operar_criar %}
                                <tr>
                                    <td>{{ lista.setor_dono }} - {{ lista.setor_dono.nome }}</td>
                                    <td>{{ lista.usuario_criacao|format }} em {{ lista.data_criacao|format }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endbox %}
                {% endif %}

                {% if lista_documentos_setores_setor_ler %}
                    {% box "Setores que Posso Ler Documentos Eletrônicos" %}
                        <table>
                            <thead>
                            <tr>
                                <th>Setor</th>
                                <th>Atribuição</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for lista in lista_documentos_setores_setor_ler %}
                                <tr>
                                    <td>{{ lista.setor_dono }} - {{ lista.setor_dono.nome }}</td>
                                    <td>{{ lista.usuario_criacao|format }} em {{ lista.data_criacao|format }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endbox %}
                {% endif %}

                {% if lista_documentos_setores_setor_editar_ler %}
                    {% box "Setores que Posso Adicionar, Operar e Ler Documentos Eletrônicos" %}
                        <table>
                            <thead>
                            <tr>
                                <th>Setor</th>
                                <th>Atribuição</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for lista in lista_documentos_setores_setor_editar_ler %}
                                <tr>
                                    <td>{{ lista.setor_dono }} - {{ lista.setor_dono.nome }}</td>
                                    <td>{{ lista.usuario_criacao|format }} em {{ lista.data_criacao|format }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endbox %}
                {% endif %}

            </div>
        {% endif %}
    {% else %}
        {% if lista_permissoes_por_setor %}
            {% for setor in lista_permissoes_por_setor %}
                {% box "{{ setor.setor }} - {{ setor.setor.nome }}" %}
                    <table>
                        <thead>
                            <tr>
                                <th>Permissão</th>
                                <th>Atribuição</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for permissao in setor.permissoes %}
                                <tr>
                                    <td>
                                        {{ permissao.descricao_permissao }}
                                    </td>
                                    <td>
                                        {{ permissao.quem_concedeu|format }} em {{ permissao.quem_concedeu_quando|format }} ({{ permissao.descricao_atribuicao }})
                                    </td>
                                    <td class="no-print">
                                        {{ permissao.link_excluir }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endbox %}
            {% endfor %}
        {% endif %}
    {% endif %}

{% endblock %}
