{% if documentos_do_processo %}
    <div class="document">
        <div id="capa_processo" class="page-break-after">
            <h3 id="__capa_processo" class="no-print">Capa do Processo</h3>
            <iframe src="/processo_eletronico/visualizar_capa_processo/{{ processo_id }}/" data-load="true"></iframe>
        </div>
        {% for documento in documentos_do_processo %}
            <div id="doc_{{ forloop.counter0 }}" data-documento="{{ forloop.counter0 }}" class="page-break">
                <h3 id="__doc_{{ forloop.counter0 }}" class="no-print">{{ documento.get_titulo }}</h3>
                {% if documento.get_data_inclusao %}
                    <p class="obs no-print">{{ documento.get_data_inclusao }}</p>
                {% endif %}
                <div id="content_doc_{{ forloop.counter0 }}" class="loader" data-documento="{{ forloop.counter0 }}">
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="msg alert">Não existem documentos neste processo.</p>
{% endif %}
