{% extends super_template %}

{% block object-status %}
{% if agendamento.viagem_finalizada %}
    <span class="status status-success">Viagem finalizada</span>
{% elif agendamento.viagem_em_andamento %}
    <span class="status status-alert">Viagem em andamento</span>
{% else %}
    <span class="status status-error">Viagem não realizada</span>
{% endif %}
{% endblock %}

{% block action-bar %}
<ul class="action-bar">
    {% if not agendamento.avaliado_em and eh_o_chefe and not agendamento.viagemagendamentoresposta %}
        <li><a class="btn confirm success"  href="/frota/autorizar_agendamento/{{ agendamento.pk }}/1/">Autorizar</a></li>
        <li><a class="btn confirm danger" href="/frota/autorizar_agendamento/{{ agendamento.pk }}/2/">Não Autorizar</a></li>
    {% endif %}
    <li><a class="btn" href="/admin/frota/viagemagendamento/">Retornar para os Agendamentos</a></li>
</ul>
{% endblock %}

{% block content %}

{% include 'agendamento_dados.html' with agendamento=agendamento %}

{% endblock %}
