{% extends super_template %}

{% block content %}


    <div class="search-and-filters">
        {% render_form form %}
    </div>
    {% if viaturas.exists %}
        <div class="legenda">
            <p>Legenda:</p>
            <ul>
                <li class="error">Revisão em Atraso</li>
                <li class="alert">Revisão prevista para os próximos 30 dias</li>
                <li class="extra">Odômetro perto de completar mais 10 mil Km</li>
            </ul>
        </div>
        <table>
            <thead>
                <tr>
                    <th class="no-print">#</th>
                    <th>Campus</th>
                    <th>Viatura</th>
                    <th>Odômetro Atual (Km)</th>
                    <th>Odômetro na Última Revisão (Km)</th>
                    <th>Data da Última Revisão</th>
                    <th>Data da Próxima Revisão</th>
                </tr>
            </thead>
            <tbody>
                {% for viatura in viaturas %}
                    <tr {% if viatura.tem_revisao_prevista  %}class="highlight"{% elif viatura.tem_revisao_atraso %}class="error"{% elif viatura.tem_odometro_perto_10k %}class="extra"{% endif %}>

                        <td class="no-print">
                            {% icon "edit" "/frota/editar_proxima_revisao_viatura/{{ viatura.id }}/" %}
                        </td>
                        <td>{{ viatura.campus }}</td>
                        <td>{{ viatura }}</td>
                        <td>{{ viatura.odometro }}</td>
                        <td>{% if viatura.get_odometro_ultima_revisao %}{{ viatura.get_odometro_ultima_revisao }}{% else %}-{% endif %}</td>
                        <td>{% if viatura.get_data_ultima_revisao %}{{ viatura.get_data_ultima_revisao }}{% else %}-{% endif %}</td>
                        <td>{% if viatura.get_data_proxima_revisao %}{{ viatura.get_data_proxima_revisao }}{% else %}-{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="msg alert">Nenhuma viatura cadastrada.</p>
    {% endif %}

{% endblock %}