{% extends super_template %}



{% block content %}

    {% if viaturas %}
        <ul class="action-bar">
            <li><a class="btn default" href="javascript:document.location.href=document.location.href+'&pdf=1'"> Gerar PDF</a></li>
        </ul>
    {% endif %}

    <div class="search-and-filters">
        {% render_form form %}
    </div>

    {% if viaturas %}
        {% box 'Frota Atual' %}
            <table>
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>Placa</th>
                        <th>Campus</th>
                        <th>Lotação</th>
                        <th>Combustível</th>
                        <th>Cor</th>
                    </tr>
                </thead>
                {% autopaginate viaturas 20 %}
                {% paginate %}
                    {% for registro in viaturas %}
                        <tr>
                            <td>{{ registro.modelo.nome }}</td>
                            <td>{{ registro.placa_codigo_atual }}</td>
                            <td>{{ registro.get_uo }}</td>
                            <td>{{ registro.lotacao }}</td>
                            <td>{{ registro.get_combustiveis }}</td>
                            <td>{{ registro.cor }}</td>
                        </tr>
                    {% endfor %}
            </table>
            {% paginate %}
        {% endbox %}
    {% elif buscou %}
          <p class="msg alert">Nenhum registro encontrado.</p>
    {% else %}
        <p class="msg alert">Selecione o <strong>campus</strong> e o <strong>grupo de viaturas</strong> para visualizar o relatório.</p>
    {% endif %}
{% endblock %}
