{% extends super_template %}



{% block content %}

    <div class="search-and-filters">
        {% render_form form %}
    </div>

    {% if form.is_bound %}
        {% if viagens.exists %}
            <ul class="action-bar">
                <li><a class="btn default" href="javascript:document.location.href=document.location.href+'&pdf=1'">Gerar PDF</a></li>
            </ul>
            <table>
                <thead>
                    <tr>
                        <th>Campus</th>
                        <th>ID da Viagem</th>
                        <th>Viatura</th>
                        <th>Solicitante</th>
                        <th>Motorista</th>
                        <th>Situação</th>
                        <th>Data de Saída</th>
                        <th>Data de Chegada</th>
                        <th>Itinerário:</th>
                    </tr>
                </thead>
                <tbody>
                    {% autopaginate viagens 50 %}
                    {% paginate %}
                    {% for viagem in viagens %}
                        <tr>
                            <td>{{ viagem.viatura.campus }}</td>
                            <td>{{ viagem.agendamento_resposta.agendamento.id }}</td>
                            <td>{{ viagem.viatura }}</td>
                            <td>{{ viagem.agendamento_resposta.agendamento.vinculo_solicitante.pessoa.nome }}</td>
                            <td>{{ viagem.get_motoristas }}</td>
                            {% if viagem.chegada_data == None %}
                                <td><span class="status status-alert">Em andamento</span></td>
                            {% else %}
                                <td><span class="status status-success">Concluída</span></td>
                            {% endif %}
                            <td>{{ viagem.saida_data|format }}</td>
                            <td>{{ viagem.chegada_data|format }}</td>
                            <td>{{ viagem.agendamento_resposta.agendamento.intinerario|format }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


        {% else %}
            <p class="msg alert">Nenhum registro encontrado.</p>
        {% endif %}
    {% else %}
        <p class="msg alert">Selecione o <strong>período</strong> e o <strong>motorista</strong> para visualizar o relatório.</p>
    {% endif %}
{% endblock %}
