{% extends super_template %}

{% block media %}
    {{ form.media }}
{% endblock %}

{% block content %}

    {% if maquinas %}
        <ul class="action-bar">
            <li><a href="javascript:document.location.href=document.location.href+'&pdf=1'" class="btn default">Gerar PDF</a></li>
        </ul>
    {% endif %}

    <div class="search-and-filters">
        {% render_form form %}
    </div>

    {% if maquinas %}

        {% box 'Consumo Estimado das Máquinas - Total: {{ maquinas.count }}' %}
            <table>
                {% if forloop.counter == 1 %}
                    <thead>
                        <tr>
                            <th>{{ registro.0 }}</th>
                            <th>{{ registro.1 }}</th>
                            <th>{{ registro.2 }}</th>
                            <th>{{ registro.3 }}</th>

                        </tr>
                    </thead>
                    <tbody>
                {% endif %}

                {% for registro in dados %}
                    {% if forloop.counter == maquinas %}
                        <tfoot>
                        <td colspan="3">{{ registro.0 }}</td>
                            <td>{{ registro.3 }}</td>
                        </tfoot>
                    {% else %}
                        <tr>
                            <td>{{ registro.0 }}</td>
                            <td>{{ registro.1 }}</td>
                            <td>{{ registro.2 }}</td>
                            <td>{{ registro.3 }}</td>

                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endbox %}
    {% elif buscou %}
          <p class="msg alert">Nenhum registro encontrado.</p>
    {% else %}
        <p class="msg alert">Selecione o <strong>período</strong>, o <strong>campus</strong> e a <strong>máquina</strong> para visualizar o relatório.</p>
    {% endif %}

{% endblock %}
