{% extends super_template %}



{% block content %}
    {% if is_gerente %}
        <ul class="pills">
            <li {% if not request.GET.all %} class="active" {% endif %}><a href="?">Viaturas do Campus</a></li>
            <li {% if request.GET.all %} class="active" {% endif %}><a href="?all=1">Todas as Viaturas</a></li>
        </ul>
    {% endif %}

    {% if resp_agendamentos.exists %}
        {% autopaginate resp_agendamentos 20 %}
        {% paginate %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Solicitante</th>
                    <th>Campus do Solicitante</th>
                    <th>Viatura</th>
                    <th>Data de Saída</th>
                    <th>Data de Chegada</th>
                    <th class="no-print">Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for resp_agendamento in resp_agendamentos %}
                    <tr>
                        <td>{{ resp_agendamento.agendamento.id }}</td>
                        <td>{{ resp_agendamento.agendamento.vinculo_solicitante.pessoa.nome }}</td>
                        <td>{{ resp_agendamento.agendamento.vinculo_solicitante.setor.uo  }}</td>
                        <td>{{ resp_agendamento.viatura }} ({{ resp_agendamento.viatura.campus }})</td>
                        <td>{{ resp_agendamento.agendamento.data_saida|date:"d/m/Y H:i" }}</td>
                        <td>{{ resp_agendamento.agendamento.data_chegada|date:"d/m/Y H:i" }}</td>
                        <td class="no-print">
                            <ul class="action-bar">
                                <li><a href="/frota/saida_viagem/{{ resp_agendamento.id }}/" class="btn success">Registrar Saída</a></li>
                                <li><a class="btn" href="/frota/pdf_requisicao/{{ resp_agendamento.pk }}/">Requisição de Transporte</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% paginate %}
    {% else %}
        <p class="msg alert">Não existe nenhuma viagem agendada.</p>
    {% endif %}

{% endblock %}