{% extends super_template %}



{% block content %}
    {% if is_gerente %}
        <ul class="pills">
            <li {% if not request.GET.all %} class="active" {% endif %}><a href="?">Viaturas do Campus</a></li>
            <li {% if request.GET.all %} class="active" {% endif %}><a href="?all=1">Todas as Viaturas</a></li>
        </ul>
    {% endif %}

    {% if viagens.exists %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Solicitante</th>
                    <th>Campus do Solicitante</th>
                    <th>Motoristas</th>
                    <th>Viatura</th>
                    <th>Data de Saída</th>
                    <th class="no-print">Opções</th>
                </tr>
            </thead>
            <tbody>
                {% autopaginate viagens 20 %}
                {% paginate %}
                {% for viagem in viagens %}
                    <tr>
                        <td>{{ viagem.agendamento_resposta.agendamento.id }}</td>
                        <td>{{ viagem.agendamento_resposta.agendamento.vinculo_solicitante.pessoa.nome }}</td>
                        <td>{{ viagem.agendamento_resposta.agendamento.vinculo_solicitante.setor.uo }}</td>
                        <td>{{ viagem.get_motoristas }}</td>
                        <td>{{ viagem.viatura }} ({{ viagem.viatura.campus }})</td>
                        <td>{{ viagem.saida_data|format }}</td>
                        <td class="no-print"><a href="/frota/chegada_viagem/{{ viagem.id }}" class="btn success">Registrar Chegada</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% paginate %}
    {% else %}
        <p class="msg alert">Não existe nenhuma viagem iniciada.</p>
    {% endif %}

{% endblock %}
