{% extends "relatorio_pdf.html" %}

{% block content %}

    <h1>{{ title }}</h1>

    <table class="definicoes sem-borda">
        <tr>
            <td><strong>Área:</strong> {% if area %}{{ area }} {% else %}Todas{% endif %}</td>
            <td><strong>Período:</strong> {{ inicio | format }} à {{ final | format}}</td>
        </tr>
    </table>

    <div class="clear small"></div>

    {% if demandas_concluidas %}
        <h2>{{ demandas_concluidas.count }} Demandas Concluídas no Período</h2>
        {% for demanda in demandas_concluidas %}
            <div class="box-info">
                <p>Demanda {{ demanda.pk }} {% if not area %} - {{ demanda.area }} {% endif %}</p>
                <h3>{{ demanda.titulo }}</h3>
                <ul>
                    <li>Concluída em: <span class="status status-success">{{ demanda.get_ultimo_historico_situacao.data_hora }}</span></li>
                </ul>
            </div>
        {% endfor %}

        <div class="clear small"></div>
    {% endif %}

    {% if demandas_prioritarias %}
        <h2>Demandas Prioritárias ({{ demandas_prioritarias.count }})</h2>
        {% for demanda in demandas_prioritarias %}
            <div class="box-info">
                <p>{{ demanda.pk }}</p>
                <h3>{{ demanda.titulo }}</h3>
                <ul>
                    <li>Prioridade: <strong>{{ demanda.prioridade }}</strong></li>
                    <li>Situação: {{ demanda.get_situacao_acompanhamento|safe }}</li>
                </ul>
            </div>
        {% endfor %}
    {% endif %}

    {% if demandas_nao_prioritarias > 0 %}
        {% if demandas_nao_prioritarias == 1 %}
            <p class="right"><small>Há ainda 1 demanda não-prioritária.</small></p>
        {% else %}
            <p class="right"><small>Há ainda {{ demandas_nao_prioritarias }} demandas não-prioritárias.</small></p>
        {% endif %}
    {% endif %}

{% endblock %}
