{% extends "admin/base_anonima.html" %}

{% block content %}

    {% autopaginate atualizacoes %}
    {% paginate %}
    {% for atualizacao in atualizacoes %}
        <div class="general-box">
            <div class="primary-info">
                {{ atualizacao.tipo|status }}
                <h3 class="title">{{ atualizacao.descricao }}</h3>
                {% if atualizacao.demanda or atualizacao.detalhamento %}
                    <div class="extra-info">
                        {% if atualizacao.detalhamento %}
                            <p>{{ atualizacao.detalhamento|linebreaksbr }}</p>
                        {% endif %}
                        {% if atualizacao.demanda %}
                            {% for especificacao in atualizacao.demanda.get_dod.especificacao_set.all %}
                                {% if especificacao.atividades %}
                                    <h5>{{ especificacao.nome }}</h5>
                                    <p class="richtext">{{ especificacao.atividades|safe }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <dl class="secondary-info">
                <div class="list-item">
                    <dt>{% icone "calendar" %} Data de Implantação:</dt>
                    <dd>{{ atualizacao.data }}</dd>
                </div>
                {% if atualizacao.grupos.exists %}
                    <div class="list-item">
                        <dt>{% icone "users" %} Grupos de Usuários Envolvidos:</dt>
                        {% for grupo in atualizacao.grupos.all %}
                            <dd>{{ grupo }}</dd>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="list-item">
                    <dt>{% icone "tag" %} Tags:</dt>
                    <dd>
                        <ul class="tags">
                            {% for tag in atualizacao.tags.all %}
                                <li>{{ tag }}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                </div>
            </dl>
        </div>
    {% endfor %}
    {% paginate %}

{% endblock %}
