<div class="person {% if classname %}smallest{% else %}small{% endif %}{% if usuario == request.user %} success{% endif %}">
    <div class="photo-circle {% if classname %}smallest{% else %}small{% endif %}">
        <img alt="{{ usuario.get_profile.nome_usual }}" src="{{ usuario.get_profile.get_foto_75x100_url }}" />
    </div>
    <dl>
        <dt class="sr-only">Usuário</dt>
        <dd>{{ usuario|format }}</dd>
        {% if usuario.get_profile.funcionario and not classname %}
            <dt>Setor:</dt>
            <dd>
                <a href="/rh/setor/{{ usuarioget_profile.funcionario.setor.pk }}/">
                {{ usuario.get_profile.funcionario.servidor.setor_lotacao.uo.equivalente }} -
                {{ usuario.get_profile.funcionario.setor|format }}
                </a>
            </dd>
            {% if usuario.get_profile.funcionario.servidor.setor_lotacao.uo.telefone %}
                <dt>Telefone:</dt>
                <dd>{{ usuario.get_profile.funcionario.servidor.setor_lotacao.uo.telefone|format }}</dd>
            {% endif %}
        {% endif %}
    </dl>
</div>
