[Unit]
Description=Celery SUAP
After=network.target

[Service]
Type=forking
User=www-data
Group=www-data
WorkingDirectory=/opt/suap/
ExecStart=/bin/bash -c '/usr/local/bin/celery -A djtools.assincrono.async_app multi start worker -l INFO --logfile="/var/log/celery/%n%I.log" --pidfile="/var/run/celery/%n.pid" -Q geral -c 4'
ExecStop=/bin/bash -c '/usr/local/bin/celery -A djtools.assincrono.async_app multi stopwait worker -l INFO --logfile="/var/log/celery/%n%I.log" --pidfile="/var/run/celery/%n.pid" -Q geral -c 4'
Restart=on-failure

[Install]
WantedBy=multi-user.target