{% if obj.componente_curricular.matriz.estrutura.limitar_ch_por_tipo_aula %}
    {% if obj.componente_curricular.ch_pratica or obj.componente_curricular.ch_extensao or obj.componente_curricular.ch_pcc or obj.componente_curricular.ch_visita_tecnica %}
        <h4>Quadro Resumo</h4>
        <table>
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Ministrada</th>
                    <th>Máxima Considerada</th>
                    <th>Contabilizada</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Aula Teórica</th>
                    <td>{{ obj.get_carga_horaria_teorica_ministrada }} aula(s)</td>
                    <td>{{ obj.get_carga_horaria_maxima_teorica|format }} aula(s)</td>
                    <td>{{ obj.get_carga_horaria_teorica_contabilizada }} aula(s)</td>
                </tr>
                {% if obj.componente_curricular.ch_pratica %}
                <tr>
                    <th>Aula Prática</th>
                    <td>{{ obj.get_carga_horaria_pratica_ministrada }} aula(s)</td>
                    <td>{{ obj.get_carga_horaria_maxima_pratica|format }} aula(s)</td>
                    <td>{{ obj.get_carga_horaria_pratica_contabilizada }} aula(s)</td>
                </tr>
                {% endif %}
                {% if obj.componente_curricular.ch_extensao %}
                <tr>
                    <th>Atividade de Extensão</th>
                    <td>{{ obj.get_carga_horaria_extensao_ministrada }} aula(s)</td>
                    <td>{{ obj.get_carga_horaria_maxima_extensao|format }} aula(s)</td>
                    <td>{{ obj.get_carga_horaria_extensao_contabilizada }} aula(s)</td>
                </tr>
                {% endif %}
                {% if obj.componente_curricular.ch_pcc %}
                <tr>
                    <th>Prática como Componente Curricular</th>
                    <td>{{ obj.get_carga_horaria_pcc_ministrada }} aula(s)</td>
                    <td>{{ obj.get_carga_horaria_maxima_pcc|format }} aula(s)</td>
                    <td>{{ obj.get_carga_horaria_pcc_contabilizada }} aula(s)</td>
                </tr>
                {% endif %}
                {% if obj.componente_curricular.ch_visita_tecnica %}
                <tr>
                    <th>Visita Técnica / Aula de Campo</th>
                    <td>{{ obj.get_carga_horaria_visita_tecnica_ministrada }} aula(s)</td>
                    <td>{{ obj.get_carga_horaria_maxima_visita_tecnica|format }} aula(s)</td>
                    <td>{{ obj.get_carga_horaria_visita_tecnica_contabilizada }} aula(s)</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <div style="margin-bottom:15px"></div>
    {% endif %}
{% endif %}
