{% if objects %}
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" onchange="var is = this.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByTagName('input');for(var i=0; i<is.length; i++) is[i].checked = this.checked"/></th>
                <th>Macroprojeto</th>
                <th>Objetivo Estratégico</th>
            </tr>
        </thead>
        <tbody>
        {% for ri in objects %}
            <tr>
                <td>{{ ri.widget }}</td>
                <td>{{ ri.pdi_macroprocesso }}</td>
                <td>{{ ri.descricao }}</td>
            </tr>
        {% endfor%}
        </tbody>
    </table>
{% endif %}