{% if objects %}
    <table>
        <thead>
            <tr>
                <th class="no-print"><input type="checkbox" onchange="var is = this.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByTagName('input');for(var i=0; i<is.length; i++) is[i].checked = this.checked"/></th>
                <th>Macroprocesso</th>
                <th>Detalhamento</th>
                <th>Ativa Plano Ação Vigente</th>
            </tr>
        </thead>
        <tbody>
        {% for ri in objects %}
            <tr>
                <td class="no-print">{{ ri.widget }}</td>
                <td>{{ ri.acao.macroprocesso.nome }}</td>
                <td>{{ ri.acao.detalhamento }}</td>
                <td>{{ ri.ativa_planoacao|format }}</td>
            </tr>
        {% endfor%}
        </tbody>
    </table>
{% endif %}