{% if objects %}
    <table>
        <thead>
            <tr>
                <th width="5%"><input type="checkbox" onchange="var is = this.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByTagName('input');for(var i=0; i<is.length; i++) is[i].checked = this.checked"/></th>
                <th width="30%">Tipo</th>
                <th>Unidade</th>
            </tr>
        </thead>
        <tbody>
        {% for ri in objects %}
            <tr>
                <td>{{ ri.widget }}</td>
                <td>{{ ri.tipo }}</td>
                <td>{{ ri.setor_equivalente.sigla }}</td>
            </tr>
        {% endfor%}
        </tbody>
    </table>
{% endif %}