<div class="tab-container no-print" data-tab="notas_internas" data-title="Notas Internas" data-counter="{{ notas_internas.count }}">
    <ul class="timeline">
        {% if pode_comentar_nota_interna %}
            <li>
                <div class="timeline-photo">
                    <img alt="{{ request.user.get_profile.nome_usual }}" src="{{ request.user.get_profile.get_foto_75x100_url }}" />
                </div>
                <div class="timeline-content">
                    <h4>Adicionar Nota Interna:</h4>
                    <form method="POST" action="?tab=notas_internas">
                        {% csrf_token %}
                        <input type="hidden" name="tipo" value="nota_interna">
                        {{ form.non_field_errors }}
                        {{ form.descricao.errors }}
                        {{ form.descricao }}
                        {{ form.descricao.help_text }}
                        <div class="submit-row">
                            <input class="btn success" type="submit" value="Adicionar Nota Interna" id="btn_adicionar_nota_interna"/>
                        </div>
                    </form>
                </div>
            </li>
        {% endif %}
        {% for nota in notas_internas %}
            {% if not nota.automatico %}
                <li>
                    <div class="timeline-date">{{ nota.data_alteracao }}</div>
                    <div class="timeline-photo" title="{{ nota.vinculo.pessoa.pessoafisica.nome_usual }}">
                        <img alt="{{ nota.vinculo.pessoa.pessoafisica.nome_usual }}"
                             src="{{ nota.vinculo.pessoa.pessoafisica.get_foto_75x100_url }}" />
                    </div>
                    <div class="timeline-content">
                        <h4>{{ nota.vinculo.user|format }} <small>comentou:</small></h4>
                            {{ nota.descricao|linebreaks }}
                    </div>
                </li>
            {% else %}
                <li class="obs">
                    <div class="timeline-date">{{ nota.data_alteracao }}</div>
                    {% if comentario.vinculo %}
                        <div class="timeline-photo" title="{{ nota.vinculo.pessoa.pessoafisica.nome_usual }}">
                            <img alt="{{ nota.vinculo.pessoa.pessoafisica.nome_usual }}"
                                 src="{{ nota.vinculo.pessoa.pessoafisica.get_foto_75x100_url }}" />
                        </div>
                    {% endif %}
                    <div class="timeline-content">
                        {% if nota.vinculo %}{{ nota.vinculo.user|format }}{% endif %} {{ nota.descricao|safe }}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
