<summary>{{ titulo }}</summary>
<div class="details-container">
{% for usuario in usuarios %}
    <div class="person smallest {% if usuario == context.user %}success{% endif %}">
        <div class="photo-circle smallest">
            <img alt="{{ usuario.get_profile.nome_usual }}"
                 src="{{ usuario.get_profile.get_foto_75x100_url }}" />
        </div>
        <dl>
            <dt class="sr-only">Nome:</dt>
            <dd>{{ usuario|format }} ({{ usuario.username }})</dd>
        </dl>
    </div>
{% endfor %}
</div>