{# Template criado para apagar estilos do Django (bloco extrastyle) e limpar bloco object-tools #}

{% extends "admin/change_form.html" %}
{% load admin_modify %}

{% block object-tools %}
    <ul class="action-bar">
        {% help_button %}
    </ul>
{% endblock %}

{% block form_top %}
    {% if info_extra %}
        {{ info_extra|safe }}
    {% endif %}

    {% if texto_politica_utilizacao %}
        <div class="general-box marginBottom40">
            <div class="primary-info">
                {{ texto_politica_utilizacao|safe }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block bodyclass %}{% if readonly %}readonly{% endif %}{% endblock %}

{% block submit_buttons_top %}
    {% if not readonly %}
        {% submit_row %}
    {% endif %}
{% endblock %}
{% block submit_buttons_bottom %}
    {% if not readonly  %}
        {% submit_row %}
    {% endif %}
{% endblock %}

