{% extends super_template %}


{% block content %}
    {{ block.super }}

    {% if user|in_group:"Administrador de Planejamento Estratégico" %}
        <ul class="action-bar">
            <li><a href="/admin/plan_estrategico/pdi/{{ pdi.pk }}/" class="btn primary">Editar</a></li>
        </ul>
    {% endif %}

    {% box "Composição do PDI" %}
        <div class="tab-container ajax-rendered" data-title="Perspectivas" data-tab="perspectivas">
            {% include "pdi_perspectiva.html" %}
        </div>

         <div class="tab-container ajax-rendered" data-title="Objetivos Estratégicos" data-tab="objetivo_estrategico">
            {% include "pdi_objetivo.html" %}
        </div>

        <div class="tab-container ajax-rendered" data-title="Projetos Estratégicos" data-tab="projeto_estrategico">
            {% include "pdi_projeto_estrategico.html" %}
        </div>

        <div class="tab-container ajax-rendered" data-title="Unidades Gestoras" data-tab="unidade_gestora">
            {% include "pdi_unidadegestora.html" %}
        </div>
    {% endbox %}

    {% box "Plano de Atividades do PDI" %}

        {% if user|in_group:"Administrador de Planejamento Estratégico" %}
        <ul class="action-bar">
            <li><a href="/admin/plan_estrategico/planoatividade/add/?pdi={{ pdi.pk }}" class="btn success">Adicionar Plano de Atividades</a></li>
        </ul>
        {% endif %}

        {% if plano_atividades %}
            <table>
                <thead>
                    <tr>
                        {% if user|in_group:"Administrador de Planejamento Estratégico" %}
                           <th class="no-print">Ações</th>
                        {% endif %}
                        <th>Ano Base</th>
                        <th>Início da Vigência</th>
                        <th>Fim da Vigência</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                        {% for plano in plano_atividades %}
                            <tr>
                                {% if user|in_group:"Administrador de Planejamento Estratégico" %}
                                    <td class="no-print">
                                        {% icon "edit" "/admin/plan_estrategico/planoatividade/{{ plano.id }}/" "Editar" %}
                                    </td>
                                {% endif %}
                                <td>{{ plano.ano_base }}</td>
                                <td>{{ plano.data_geral_inicial }}</td>
                                <td>{{ plano.data_geral_final }}</td>
                                {% if plano.concluido %}
                                    <td>
                                       <a href="{% url 'ver_resumo_plano' plano.pk %}" class="btn default">Ver Plano de Atividades</a></li>
                                    </td>
                                {% else %}
                                    {% if pode_ver_planoatividade %}
                                        <td>
                                           <a href="/plan_estrategico/ver_plano_atividade/{{ plano.pk }}/" class="btn default">Ver Plano de Atividades</a>
                                        </td>
                                    {% else %}
                                        <td> - </td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="msg alert">Nenhum plano de atividades cadastrado.</p>
        {% endif %}
    {% endbox %}
{% endblock %}
