{% extends super_template %}



{% block extrahead %}
<script src="/static/djtools/graficos/highcharts.js"></script>
<script src="/static/djtools/graficos/exporting.js"></script>


{% endblock %}

{% block content %}

    <table class="info">
        <tr>
            <td>Variável</td>
            <td>{{ variavelcampus.variavel.sigla }}</td>
            <td>Ano</td>
            <td>{{ variavelcampus.ano }}</td>
            <td>Unidade Administrativa</td>
            <td>{{ variavelcampus.uo }} </td>
        </tr>
    </table>

    <table>
    <thead>
    <tr>
        <th>1º Trimestre</th>
        <th>2º Trimestre</th>
        <th>3º Trimestre</th>
        <th>4º Trimestre</th>
    </tr>
    </thead>
    <tbody>
            <tr>
            <td align="right">{{ tri1.valor|format }}</td>
            <td align="right">{{ tri2.valor|format }}</td>
            <td align="right">{{ tri3.valor|format }}</td>
            <td align="right">{{ tri4.valor|format }}</td>
            </tr>
    </tbody>
    </table>

{% endblock %}