{% extends super_template %}

{% block content %}
    {% if objetivo %}
        <dl class="definition-list">
            <dt>Indicador</dt>
            <dd>{{ objetivo.indicador }}</dd>
            <dt>Finalidade</dt>
            <dd>{{ objetivo.indicador.indicador.finalidade }}</dd>
            <dt>Fórmula</dt>
            <dd>{{ objetivo.indicador.indicador.forma_calculo }}</dd>
            <dt>Relevância</dt>
            <dd>{{ objetivo.relevancia }}%</dd>
            <dt>Tendência</dt>
            <dd>{{ objetivo.indicador.indicador.tendencia }}</dd>
        </dl>
    {% else %}
        <p class="msg alert">Nenhuma descrição foi cadastrada para este indicador.</p>
    {% endif %}
{% endblock %}
