{% extends super_template %}

{% block content %}
    <h4>Unidade: {{ unidade }} </h4>

    {% if or_especial %}
        <table>
            <thead>
                <tr>
                    <th>Desmonstrativo</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                     <tr>
                         <td>Valor Reserva Técnica</td>
                         <td align="right" class="true">{{ valor_reserva_tecnica_unidade|format_money }}</td>
                     </tr>
                     <tr>
                         <td>Reserva Distribuída</td>
                         <td align="right" class="false">{{ total_atividades_reserva|format_money }}</td>
                     </tr>
                     <tr>
                         <td><strong>Saldo a Distribuir</strong></td>
                         <td align="right"><strong>{{ saldo_reserva_tecnica|format_money }}</strong></td>
                     </tr>
             </tbody>
        </table>
        <h4>Atividades com valores de Reserva Técnica</h4>
        {% if atividades_reserva  or atividades_projeto_especial %}
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th >Valor alocado da Reserva Técnica</th>
                    </tr>
                </thead>
                <tbody>
                    {% for atividade in atividades_reserva %}
                         <tr>
                             <td>{{ atividade.nome }}</td>
                             <td align="right">{{ atividade.valor_reserva_tecnica|format_money }}</td>
                         </tr>
                    {% endfor %}
                    {% for atividade in atividades_projeto_especial %}
                         <tr>
                             <td>{{ atividade.nome }}</td>
                             <td align="right">{{ atividade.valor_rateio|format_money }}</td>
                         </tr>
                    {% endfor %}
                 </tbody>
            </table>
        {% else %}
            <p class="msg alert">Nenhum recurso da reserva técnica foi alocado em atividades.</p>
        {% endif %}
    {% else %}
        <p class="msg alert">Nenhuma reserva técnica para esta unidade.</p>
    {% endif %}

{% endblock %}