{% load tags  %}
{% if contador %}
    {% if contador > 25 %}
    {% autopaginate caixa 25 %}
    {% paginate 25 %}
    {% endif %}
    {% for processo in caixa %}
        <div class="general-box">
            <div class="primary-info">
                <h4>
                    <small>{{ forloop.counter }}</small> <a href="{{ processo.get_absolute_url }}"><strong>{{ processo }}</strong></a> -
                    {{ processo.assunto }}
                </h4>
                {% if processo.pode_editar %}
                    <ul class="action-bar">
                        <li><a class="btn success" href="/processo_eletronico/processo/finalizar/{{ processo.id }}/"><i class="fas fa-lock" aria-hidden="true"></i> Finalizar</a></li>
                        <li><a class="btn primary"
                               href="/processo_eletronico/processo/encaminhar/{{ processo.id }}/"><i class="fas fa-share" aria-hidden="true"></i>
                            Encaminhar</a></li>
                        <li><a class="btn popup" href="/processo_eletronico/adicionar_comentario/{{ processo.pk }}/"><i class="fas fa-plus" aria-hidden="true"></i>  Comentário</a></li>
                    </ul>
                {% endif %}
                {% for processo in processo.get_processos_apensados %}
                    <div class="extra-info">
                        <p>
                            <a href="{{ processo.get_absolute_url }}">{{ processo }}</a> -
                            {{ processo.assunto }}
                        </p>
                    </div>
                {% endfor %}
            </div>
            <dl class="secondary-info">
                <div class="list-item">
                    <dt>Interessado(s):</dt>
                    {% for interessado in processo.interessados.all %}
                        <dd>
                            {% if interessado.pessoafisica %}
                                <div class="photo-circle smallest">
                                    <img src="{{ interessado.pessoafisica.get_foto_75x100_url }}" alt="{{ interessado }}" />
                                </div>
                            {% endif %}
                            {{ interessado|format }}
                        </dd>
                    {% endfor %}
                </div>
                <div class="list-item">
                    <dt>Criação:</dt>
                    <dd>{{ processo.data_hora_criacao|format}}</dd>
                </div>
                <div class="list-item">
                    <dt>Tempo de Inatividade:</dt>
                    <dd>
                        {% if tramite.atrasado %}
                            <span class="false" title="Processo atrasado">
                                {{ processo.data_hora_criacao|timesince }}
                            </span>
                        {% else %}
                            {{ processo.data_hora_criacao|timesince }}
                        {% endif %}
                    </dd>
                </div>
                {% if processo.get_ultimo_comentario %}
                    <div class="list-item">
                        <dt>Último Comentário por {{ processo.get_ultimo_comentario.pessoa|format }} em {{ processo.get_ultimo_comentario.data }}:</dt>
                        <dd>{{ processo.get_ultimo_comentario.comentario|truncatewords:10 }}</dd>
                    </div>
                {% endif %}
            </dl>
        </div>
    {% endfor %}
{% else %}
    <p class="msg alert">Nenhum processo encontrado.</p>
{% endif %}
