{% extends super_template %}

{% block content %}
    {% if processo and processo.get_processos_apensados.exists %}
        <dl>
            <dt>Processos Apensados:</dt>
            {% for processo in processo.get_processos_apensados %}
                <dd>
                    <a href="{{ processo.get_absolute_url }}">{{ processo }}</a> -
                    {{ processo.assunto }}
                </dd>
            {% endfor %}
        </dl>
    {% endif %}


    {% if documento %}
        <h3>Documento: {{ documento.identificador }}" - "{{ documento.assunto }}</h3>
    {% endif %}

    {% render_form form %}

{% endblock %}