{% extends super_template %}

{% block object-status %}
{{ processo.get_status_display|status }}
{% endblock %}

{% block content %}

{% include 'processo_eletronico/include_dados_processo.html' %}

{% box 'Registro de Ações' %}
    {% with registros_acoes=processo.get_registros_acoes %}
        {% autopaginate registros_acoes 20 %}
        {% paginate %}
        <ul class="timeline">
            {% for registro_acao in registros_acoes %}
                <li>
                    <div class="timeline-date">{{ registro_acao.data|format }}</div>
                    <div class="timeline-icon"></div>
                    <div class="timeline-content">
                        <h4>{{ registro_acao.user|format }}</h4>
                        <p>{{ registro_acao|format }} {{ registro_acao.observacao }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% paginate %}
    {% endwith %}
{% endbox %}

{% endblock %}
