{% extends "relatorio_pdf.html" %}
{% load static %}

{% block page_settings %}
    @page {
    size: a4 {% block page_orientation %}portrait{% endblock %};
    background-image: url(/static/comum/img/logo_if_portrait.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    margin-top: 2cm; /* HeaderHeight */
    margin-bottom: 1cm; /* FooterHeight */
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    }
    header{
    top: -2cm; /* -HeaderHeight */
    height: 2cm; /* HeaderHeight */
    position: fixed;
    width:98%;
    padding-top: 0.5cm;
    }
    main{

    }
    footer{
    bottom: -1cm; /* -FooterHeight */
    height: 1cm; /* FooterHeight */
    position: fixed;
    width: 100%;
    text-align: center;
    }
{% endblock %}

{% block style %}
    table {
    text-align: left;
    padding: 2px;
    font-size: 12px;

    }
    td, th {
    font-size: 10pt;
    padding: 2px;
    line-height: 1em;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    border-width: 1px;
    }
    th {
    padding: 3px 0px 3px 0px;
    }
    .assinatura_aluno {
    text-align: center;
    border-bottom: 1px solid black;
    }
    .cabecalho {
    text-align: left;
    font-size: 12px;
    }
    .bold {
    font-weight: bold;
    }
    .borda {
    border-width: 1px;
    }
{% endblock %}

{% block cabecalho %}
    <table class="cabecalho">
        <tr>
            <td width="10%" class="cabecalho">
                <img src="{% static 'comum/img/brazao_colorido.jpg' %}" alt="Brasão do Brasil"/>
            </td>
            <td class="cabecalho">
                <p><b>SERVIÇO PÚBLICO FEDERAL</b></p>
                <p>{{ instituicao|upper }}</p>
            </td>
            <td width="10%" class="cabecalho">
                <img src="{% static 'comum/img/logo_instituicao_icone.jpg' %}"/>
            </td>
        </tr>
    </table>

{% endblock %}

{% block content %}

    <div class="corpo">
        <h1>REQUERIMENTO DE PROCESSO</h1>

        <h2>DADOS DO REQUERENTE</h2>
        <table class="info">
            <tr class="borda">
                <td>
                    <table>
                        <tr>
                            <td width="15%" class="bold">Nome:</td>
                            <td>{{ requerente_nome|format }}</td>
                        </tr>

                        {% if requerente_matricula_siap %}
                            <tr>
                                <td class="bold">Matrícula SIAPE:</td>
                                <td>{{ requerente_matricula_siap|format }}</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td class="bold">Telefone:</td>
                            <td>{{ requerente_telefone|format }}</td>
                        </tr>

                        <tr>
                            <td class="bold">E-mail:</td>
                            <td>{{ requerente_email|format }}</td>
                        </tr>

                        {% if requerente_cargo %}
                            <tr>
                                <td class="bold">Cargo:</td>
                                <td>{{ requerente_cargo|format }}</td>
                            </tr>
                        {% endif %}

                        {% if requerente_lotacao %}
                        <tr>
                            <td class="bold">Lotação:</td>
                            <td>{{ requerente_lotacao|format }}</td>
                        </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
        </table>

        <h2>DADOS DO REQUERIMENTO</h2>
        <table class="info">
            <tr class="borda">
                <td>
                    <table>
                        <tr>
                            <td width="20%" class="bold">Setor Destino:</td>
                            <td>{{ requerimento_destinatario_setor|format }}</td>
                        </tr>
                        <tr>
                            <td class="bold">Tipo de Solicitação:</td>
                            <td>{{ requerimento_tipo_processo|format }}</td>
                        </tr>
                        <tr>
                            <td class="bold">Assunto:</td>
                            <td>{{ requerimento_assunto|format }}</td>
                        </tr>

                        <tr>
                            <td class="bold">Descrição:</td>
                            <td>{{ requerimento_descricao|format }}</td>
                        </tr>
                        <tr>
                            <td class="bold"> Data da Emissão:</td>
                            <td>{{ requerimento_data_hora_emissao|format }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}