{% extends super_template %}



{% block content %}

    {% render_form form %}

    {% if form.is_bound %}
        {% if registros.exists %}
            <ul class="action-bar">
                <li><a href="{{request.get_full_path }}&xls=1" class="btn">Exportar para XLS</a></li>
            </ul>

<!--            <div class="msg info">-->
<!--                <p>O cálculo da Folha de Pagamento  é realizado considerando:</p>-->
<!--                <ul>-->
<!--                    <li>as datas de assinatura do termo de compromisso e encerramento do pagamento do aluno.</li>-->
<!--                    <li>a base de {{ dias_do_mes }} dias.</li>-->
<!--                </ul>-->
<!--            </div>-->

            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        {% if ver_nome %}
                            <th>Nome</th>
                        {% endif %}
                        {% if ver_matricula %}
                            <th>Matrícula</th>
                        {% endif %}
                        {% if ver_cpf %}
                            <th>CPF</th>
                        {% endif %}
                        {% if ver_banco %}
                            <th>Banco</th>
                        {% endif %}
                        {% if ver_agencia %}
                            <th>Agência</th>
                        {% endif %}
                        {% if ver_operacao %}
                            <th>Operação</th>
                        {% endif %}
                        {% if ver_conta %}
                            <th>Número da Conta</th>
                        {% endif %}
                        {% if ver_valor_pagar %}
                            <th class="text-end">Valor a Pagar (R$)</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for participante, valor in lista %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% if ver_nome %}
                                <td>{{ participante.aluno.pessoa_fisica.nome }}</td>
                            {% endif %}
                            {% if ver_matricula %}
                                <td>{{ participante.aluno.matricula }}</td>
                            {% endif %}
                            {% if ver_cpf %}
                                <td>{{ participante.get_inscricao_aluno.cpf }}</td>
                            {% endif %}
                            {% if ver_banco %}
                                <td>{{  participante.get_inscricao_aluno.banco|format }}</td>
                            {% endif %}
                            {% if ver_agencia %}
                                <td>{{  participante.get_inscricao_aluno.numero_agencia|format }}</td>
                            {% endif %}
                            {% if ver_operacao %}
                                <td>{{  participante.get_inscricao_aluno.operacao|format }}</td>
                            {% endif %}
                            {% if ver_conta %}
                                <td>{{  participante.get_inscricao_aluno.numero_conta|format }}  ({{  participante.get_inscricao_aluno.tipo_conta|format }})</td>
                            {% endif %}
                            {% if ver_valor_pagar %}
                                <td class="text-end">{{ valor|format }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        {% if programa.get_tipo == programa.TIPO_TRANSPORTE %}
                            {% if ver_valor_pagar %}
                                <td>Total:</td>
                                <td colspan="100%">R$ {{ total|format }}</td>
                            {% endif %}
                        {% else %}
                        <td>Total:</td>
                        <td colspan="100%">R$ {{ total|format }}</td>
                        {% endif %}
                    </tr>
                </tfoot>
            </table>
        {% else %}
            <p class="msg alert">Nenhum participante cadastrado no período informado.</p>
        {% endif %}
    {% else %}
        <p class="msg alert">Informe o mês e o ano para gerar a folha de pagamento.</p>
    {% endif %}

{% endblock %}
