{% extends super_template %}

{% block content %}

{% include "includes/inscricao_dados_edital.html" %}

<ul class="tabs disabled">
    <li><a href="#">Caracterização</a></li>
    <li><a href="#">Dados Adicionais</a></li>
    <li><a href="#">Composição Familiar</a></li>
    <li><a href="#">Documentação</a></li>
    <li class="active"><a href="#">Solicitação</a></li>
    <li><a href="#">Confirmação</a></li>
</ul>

{% if auxilio_pk == '1' %}
    <div class="msg alert">
        <ol>
            <li>Serão considerados público-alvo prioritário os(as) estudantes que NÃO possuam acesso à serviços de internet adequados para acompanhar/realizar as atividades propostas durante o ensino remoto;</li>
            <li>Somente serão consideradas as inscrições concluídas;</li>
            <li>A declaração de qualquer informação inconsistente pelo(a) estudante ou familiar, ou a anexação de qualquer documento inverídico, apurada mesmo posteriormente à seleção, em procedimento que lhe assegure o contraditório e a ampla defesa, poderá ensejar o cancelamento de sua participação no Auxílio e a obrigação de ressarcir o poder público através de Guia de Recolhimento da União (GRU).</li>
        </ol>
    </div>
{% elif auxilio_pk == '2' %}
    <div class="msg alert">
        <ol>
            <li>É VEDADA a compra de SMARTPHONES com o recurso do auxílio para aquisição de dispositivo eletrônico. O valor deverá ser utilizado para compra de equipamentos eletrônicos: computadores, notebooks ou tablets;</li>
            <li>O valor do auxílio também poderá ser destinado à compra de acessórios ou componentes necessários EXCLUSIVAMENTE ao funcionamento do(s) equipamento(s) eletrônico(s) listado(s) acima (ver lista de equipamentos que não podem ser comprados com o auxílio disponível no edital);</li>
            <li>O estudante que for contemplado com esse auxílio tem o dever de prestar contas após a compra do equipamento mediante a apresentação de nota ou cupom fiscal emitida no nome do estudante. Não serão aceitos recibos de compra, declaração de compra ou qualquer outro documento que não seja NOTA OU CUPOM FISCAL, conforme orientações disponíveis no item 9.2 do edital;</li>
            <li>Somente serão aceitas notas fiscais emitidas com a data de compra posterior a divulgação do resultado final do processo seletivo;</li>
            <li>A declaração de qualquer informação inconsistente pelo(a) estudante ou familiar, ou a anexação de qualquer documento inverídico, apurada mesmo posteriormente à seleção, em procedimento que lhe assegure o contraditório e a ampla defesa, poderá ensejar o cancelamento de sua participação no Auxílio e a obrigação de ressarcir o poder público através de Guia de Recolhimento da União (GRU);</li>
            <li>Somente serão consideradas as inscrições concluídas.</li>
        </ol>
    </div>
{% elif auxilio_pk == '3' %}
    <p class="msg alert">Este auxílio só poderá ser solicitado uma única vez. Verifique se sua demanda pode ser contemplada através do Programa de Auxílio Eventual antes de solicitar.</p>
{% endif %}

{% if form %}
    {% render_form form %}
{% endif %}
    		
{% endblock %}
