{% extends super_template %}

{% block content %}

{% if form.errors or formset.errors %}
    <p class="errornote">Por favor, corrija os erros abaixo.</p>
{% endif %}

{% include "includes/inscricao_dados_edital.html" %}

<ul class="tabs disabled">
    <li><a href="#">Caracterização</a></li>
    <li class="active"><a href="#"> Dados Adicionais</a>
    <li><a href="#">Composição Familiar</a></li>
    <li><a href="#">Documentação</a></li>
    <li><a href="#">Solicitação</a></li>
    <li><a href="#">Confirmação</a></li>
</ul>

{% box "Dados Adicionais" %}
    {% render_form form %}
{% endbox %}

{% endblock %}
