{% extends super_template %}

{% block content %}

    {% include "includes/inscricao_dados_edital.html" %}

    <ul class="tabs disabled">
        <li><a href="#">Caracterização</a></li>
        <li><a href="#">Dados Adicionais</a></li>
        <li><a href="#">Composição Familiar</a></li>
        <li class="active"><a href="#">Dados Sobre Ausência de Renda</a></li>
        <li><a href="#">Documentação</a></li>
        <li><a href="#">Solicitação</a></li>
        <li><a href="#">Confirmação</a></li>
    </ul>

    <p class="msg alert"><strong>Aviso</strong>: para a situação na qual <strong>todo</strong> o grupo familiar do aluno <strong>não possua renda, de qualquer natureza</strong>, serão exigidos mais alguns dados abaixo e <a href="/static/modelos/declaracao_ausencia_de_renda_da_familia.pdf">anexação da declaração de ausência de renda da família</a>. Se esse não for o seu caso, volte, faça a correção do quadro com as informações dos membros da sua família, e verifique no edital a documentação que se encaixa na situação da sua família.</p>

    {% render_form form %}

{% endblock %}
