<table>
    <thead>
    <tr>
        <th class="text-center"><input type="checkbox"
                                        onchange="var is = this.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByTagName('input');for(var i=0; i<is.length; i++) is[i].checked = this.checked"/>
        </th>
        <th>Tipo</th>
        <th>Atividade</th>
        <th>Data/Hora</th>
        <th>Carga Horária</th>
        <th>Vagas</th>
        <th>Inscritos</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
        <tr>
            <td class="text-center">{{ obj.widget }}</td>
            <td>{{ obj.tipo }}</td>
            <td>{{ obj.descricao }}</td>
            <td class="text-center">
                {% if obj.data %} {{ obj.data|format }}{% endif %}
                {% if obj.hora %} {{ obj.hora|date:'H:i'}}{% endif %}
            </td>
            <td class="text-center">{{ obj.get_ch }} hora(s)</td>
            <td class="text-center">
                {% if obj.limite_inscricoes %}
                    {{ obj.limite_inscricoes }} vagas
                {% else %}
                    -
                {% endif %}
            </td>
            <td class="text-center">{{ obj.participantes.count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>