{% extends "relatorio_pdf.html" %}

{% block content %}
 <main>
    <h1 class="title">CERTIFICADO DE CONCLUSÃO</h1>
    <div class="corpo">
        <table>
            <tr>
                <td width="30px">&nbsp;</td>
                <td>
                    <p style='text-align: justify; text-indent: 80px; font-size:16px; line-height:170%; margin: 0px; padding: 0px;'>
                        Certificamos para os fins que se fizerem necessários, e por nos haver sido solicitado, que
                        <strong>{{ trabalhador_educando.get_nome_social_composto|normalizar }}</strong>,
                        matrícula <strong>{{ trabalhador_educando.matricula }}</strong>, cumpriu a carga horária de
                        <strong>{{ mct.curso_turma.curso_formacao.get_carga_horaria_total|format }} h</strong>,
                        referentes ao curso <strong>{{ mct.curso_turma.curso_formacao.curso.descricao|format }}<strong>
                        do <strong>{{ mct.curso_turma.curso_formacao.formacao_ppe }}</strong>,
                        nesta Fundação Estatal de Saúde da Família – FESFSUS. O referido curso foi realizado no período de
                        <strong>{{ mct.curso_turma.data_inicio_etapa_1|format }} a
                        {{ mct.curso_turma.data_fim_etapa_1|format }}</strong>.
                    </p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div align='right' style='font-size:14px'>
                        Salvador, {{ hoje|date:'d' }} de
                        {{ hoje|date:'F'|lower }} de {{ hoje.year }}.
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    {% comment %} <p style='text-align: justify; text-indent: 80px; font-size:16px; line-height:170%; margin: 0px; padding: 0px;'>
                        <strong>Responsável pela
                            informação:</strong> {{ aluno.curso_campus.diretoria.setor.nome|format|normalizar }} do
                        {{ aluno.curso_campus.diretoria.setor.uo.nome|format|normalizar }}.
                    </p> {% endcomment %}

                </td>
                <td width="30px">&nbsp;</td>
            </tr>
        </table>
    </div>
 </main>
{% endblock %}

