{% extends super_template %}

{% block content %}

    <dl class="definition-list">
        <div class="list-item">
            <dt>Nome Completo</dt>
            <dd>{{ obj.nome|format }}</dd>
        </div>
        <div class="list-item">
            <dt>CPF</dt>
            <dd>{{ obj.cpf|format }}</dd>
        </div>
        <div class="list-item flex-basis-100">
            <dt>E-mail</dt>
            <dd>{{ obj.email|format }}</dd>
        </div>
        <div class="list-item">
            <dt>RG</dt>
            <dd>{{ obj.pessoa_fisica.rg }}</dd>
        </div>
        <div class="list-item">
            <dt>Orgão Emissor</dt>
            <dd>{{ obj.pessoa_fisica.rg_orgao|format }}</dd>
        </div>
        <div class="list-item">
            <dt>UF de Emissão</dt>
            <dd>{{ obj.pessoa_fisica.rg_uf|format }}</dd>
        </div>
        <div class="list-item">
            <dt>Data de Emissão</dt>
            <dd>{{ obj.pessoa_fisica.rg_data|format }}</dd>
        </div>
        <div class="list-item flex-basis-100">
            <dt>Ativo</dt>
            <dd>{{ obj.ativo|format }}</dd>
        </div>
    </dl>

{#    <div class="tab-container" data-title="Documentos Assinados" data-counter="{{ obj.documentos_assinados.count }}">#}
{#        {% if obj.documentos_assinados.exists %}#}
{#            <div class="table-responsive">#}
{#                <table>#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th>Documento</th>#}
{#                        <th>Assunto</th>#}
{#                        <th>Situação</th>#}
{#                        <th class="no-print">Opções</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for documento in obj.documentos_assinados %}#}
{#                        <tr>#}
{#                            <td>{{ documento.modelo.tipo_documento_texto.nome }}</td>#}
{#                            <td>{{ documento.assunto }}</td>#}
{#                            <td>{{ documento.get_status }}</td>#}
{#                            <td class="no-print"><a href="{{ documento.get_absolute_url }}" class="btn default">Visualizar#}
{#                                Documento</a></td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#        {% else %}#}
{#            <p class="msg alert">Não há documentos eletrônicos assinados por este usuário externo.</p>#}
{#        {% endif %}#}
{#    </div>#}



{% endblock %}