{% extends super_template %}

{% block content %}
    {% box 'Tutores'%}
        {{ diario.get_professores_display|format }}
    {% endbox %}

    {% box 'Detalhamento das Notas' %}
        {% regroup notas_avaliacoes by item_configuracao_avaliacao.configuracao_avaliacao.etapa as notas_avaliacoes_por_etapa %}

        {% for notas_avaliacoes_etapa in notas_avaliacoes_por_etapa %}
            {% if notas_avaliacoes_etapa.grouper == 5 %}
                <h4>Etapa Final
                    - {{ notas_avaliacoes_etapa.list.0.item_configuracao_avaliacao.configuracao_avaliacao.get_forma_calculo_display }}</h4>
            {% else %}
                <h4>Etapa {{ notas_avaliacoes_etapa.grouper }}
                    - {{ notas_avaliacoes_etapa.list.0.item_configuracao_avaliacao.configuracao_avaliacao.get_forma_calculo_display }}</h4>
            {% endif %}

            <div class="legenda mt-1">
                <ul>
                    {% if notas_avaliacoes_etapa.list.0.item_configuracao_avaliacao.configuracao_avaliacao.divisor %}
                        <li class="info">
                            Divisor: {{ notas_avaliacoes_etapa.list.0.item_configuracao_avaliacao.configuracao_avaliacao.divisor }}</li>
                    {% endif %}
                    {% if notas_avaliacoes_etapa.list.0.item_configuracao_avaliacao.configuracao_avaliacao.maior_nota %}
                        <li class="info">Ignorar Menor Nota</li>
                    {% endif %}

                    {% if notas_avaliacoes_etapa.list.0.item_configuracao_avaliacao.configuracao_avaliacao.menor_nota %}
                        <li class="info">Ignorar Menor Nota</li>
                    {% endif %}
                </ul>
            </div>

            <table class="borda">
                <thead>
                <tr>
                    <th>Sigla</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                    <th>Peso</th>
                    <th>Nota Obtida</th>
                </tr>
                </thead>
                <tbody>
                {% for nota_avaliacao in notas_avaliacoes_etapa.list %}
                    <tr>
                        <td>{{ nota_avaliacao.item_configuracao_avaliacao.sigla }}</td>
                        <td>{{ nota_avaliacao.item_configuracao_avaliacao.get_tipo }}</td>
                        <td>{{ nota_avaliacao.item_configuracao_avaliacao.descricao|format }}</td>
                        {% if nota_avaliacao.pode_exibir_nota %}
                            <td>{{ nota_avaliacao.item_configuracao_avaliacao.peso|format }}</td>
                            <td>{{ nota_avaliacao.nota|formatar_nota }}</td>
                        {% else %}
                            <td>-</td>
                            <td>-</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% endbox %}
{% endblock %}
