{% extends super_template %}

{% block content %}

    {% box 'Selecione os diários' 'box_diarios' %}
        {% render_form form %}
    {% endbox %}

    {% if form.is_valid %}
        {% for chave_etapa, etapa in etapas.items %}
            <script>
                $('.box_diarios').addClass('hidden');
            </script>

            <div class="tab-container" data-title="{{ etapa }}" data-tab="dados_{{ chave_etapa }}">

                <ul class="action-bar">
                    <li><a href="javascript:;"
                           onclick="$('<input>').attr({type: 'hidden', id: 'xls', name: 'xls', value: '{{ etapa }}'}).appendTo('#mapaturma_form'); $('#mapaturma_form').submit();"
                           class="btn">Exportar para Excel</a></li>
                </ul>

                {% box "Mapa da Turma {{ etapa }}" %}
                    <table>
                        <thead>
                         <tr>
                            <th></th>
                            {% for diario in diarios %}
                                <th class="text-center" colspan="2">
                                    {{diario.curso_formacao}}
                                </th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Trabalhador Educando</th>
                            {% for diario in diarios %}
                                <th class="text-center">N</th>
                                <th class="text-center">Sit.</th>
                            {% endfor %}
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in tabela_mapa %}
                            <tr>
                                <td>{{ item.0.trabalhador_educando.get_nome }} (<a
                                        href="{{ item.0.trabalhador_educando.get_absolute_url }}">{{ item.0.trabalhador_educando.matricula }}</a>)
                                </td>

                                {% for value in item.1 %}
                                    {% if etapa == "Etapa 1" %}
                                        {% if value.md %}
                                            <td> {{ value.md.nota_1|formatar_nota }} </td>
                                            <td> {{ value.rotulo }} </td>
                                        {% else %}
                                            <td> -</td>
                                            <td> -</td>
                                        {% endif %}
                                    {% elif etapa == "Etapa 2" %}
                                        {% if value.md %}
                                            <td> {{ value.md.nota_2|formatar_nota }} </td>
                                            <td> {{ value.rotulo }} </td>
                                        {% else %}
                                            <td> -</td>
                                            <td> -</td>
                                        {% endif %}
                                    {% elif etapa == "Etapa 3" %}
                                        {% if value.md %}
                                            <td> {{ value.md.nota_3|formatar_nota }} </td>
                                            <td> {{ value.rotulo }} </td>
                                        {% else %}
                                            <td> -</td>                                 d>
                                            <td> -</td>
                                        {% endif %}
                                    {% elif etapa == "Etapa 4" %}
                                        {% if value.md %}
                                            <td> {{ value.md.nota_4|formatar_nota }} </td>                         >
                                            <td> {{ value.rotulo }} </td>
                                        {% else %}
                                            <td> -</td>
                                            <td> -</td>
                                        {% endif %}
                                    {% else %}
                                        {% if value.md %}
                                            <td> {{ value.md.nota_final|format }} </td>
                                            <td> {{ value.rotulo }} </td>
                                        {% else %}
                                            <td> -</td>                              d>
                                            <td> -</td>
                                        {% endif %}
                                    {% endif %}

                                {% endfor %}


                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                {% endbox %}
            </div>
        {% endfor %}

        {% if etapas %}
            {% box 'Legenda da Situação' %}
                <table>
                    <thead>
                    <th>Abreviação</th>
                    <th>Definição</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>APR</td>
                        <td>Aprovado</td>
                    </tr>
                    <tr>
                        <td>REP</td>
                        <td>Reprovado</td>
                    </tr>
                    <tr>
                        <td>RF</td>
                        <td>Reprovado por falta</td>
                    </tr>
                    <tr>
                        <td>PF</td>
                        <td>Prova final</td>
                    </tr>
                    <tr>
                        <td>CUR</td>
                        <td>Cursando</td>
                    </tr>
                    <tr>
                        <td>TRA</td>
                        <td>Trancado</td>
                    </tr>
                    <tr>
                        <td>CAN</td>
                        <td>Cancelado</td>
                    </tr>
                    </tbody>
                </table>
            {% endbox %}

            {% box 'Legenda de siglas dos componentes' %}
                <table>
                    <thead>
                    <th>Sigla</th>
                    <th>Componente</th>
                    </thead>
                    <tbody>
                    {% for diario in diarios %}
                        <tr>
                            <td>{{ diario.componente_curricular.componente.sigla }}</td>
                            <td>{{ diario.componente_curricular.componente.descricao }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endbox %}
        {% endif %}
    {% endif %}
{% endblock %}