{% extends super_template %}
{% block content %}


    <div id="formbox">

        {% render_form form %}

    </div>
    <div id="resultadobox">
        {% if turma or curso_turma or trabalhador_educando%}

            {% box "Resultado da Pesquisa" %}

                <script>
                    $('#formbox').hide();
                </script>

                <ul class="action-bar">
                    <li><a class="btn primary" href="#"
                           onclick="javascript:$('#formbox').toggle();javascript:$('#resultadobox').toggle();">Alterar
                        Filtros</a></li>
                    <li><a class="btn default" href="/ppe/relatorio_faltas/">Limpar Filtros</a></li>
                    <li><a class="btn" onclick="javascript:$('#result').submit();">Exportar</a></li>
                </ul>


                {% if qs_aulas.exists %}
                    <div class="legenda">
                        <p>Legenda:</p>
                        <ul>
                            <li class="info">Quantidade de Aulas</li>
                            <li class="error">Quantidade de Faltas</li>
                            <li class="success">Quantidade de Justificativas</li>
                        </ul>
                    </div>
                    <div>
                        <form name="result" id="result"
                              action="/ppe/relatorio_faltas/?exportar=1&{{ request.META.QUERY_STRING }}" method="post">
                            {% csrf_token %}
                            <table>
                                <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox"
                                               onchange="var is = this.parentNode.parentNode.parentNode.parentNode.getElementsByTagName('input');for(var i=0; i<is.length; i++){ is[i].checked = this.checked;}">
                                    </th>
                                    <th>Matrícula</th>
                                    <th>Trabalhador educando</th>
                                    <th>Curso</th>

{#                                    {% if trabalhador_educando %}#}
{#                                        <th>Período Letivo</th>#}
{#                                    {% endif %}#}

                                    {% for ano, mes, descricao in lista1 %}
                                        <th colspan="3" class="text-center">{{ descricao }}/{{ ano }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for matricula_curso_turma in matriculas_curso_turmas %}
                                    <tr>
                                        <td><input value="{{ matricula_curso_turma.pk }}" name="select_trabalhador_educando"
                                                   type="checkbox"/></td>
                                        <td>
                                            <a href="{{ matricula_curso_turma.trabalhador_educando.get_absolute_url }}">{{ matricula_curso_turma.trabalhador_educando.matricula }}</a>
                                        </td>
                                        <td>
                                            {{ matricula_curso_turma.trabalhador_educando.get_nome_social_composto|normalizar }}
                                        </td>
                                        <td>
                                            {{ matricula_curso_turma.curso_turma }}
                                        </td>
{#                                        {% if trabalhador_educando %}#}
{#                                            <td>{{ matricula_curso_turma.ano_letivo.ano }}/{{ matricula_curso_turma.periodo_letivo }}</td>#}
{#                                        {% endif %}#}
                                        {% for n in matricula_curso_turma.aulas_faltas_abonos %}
                                            <td><span class="text-center status status-info">{{ n.aula }}</span></td>
                                            <td><span class="text-center status status-error">{{ n.falta }}</span></td>
                                            <td><span class="text-center status status-success">{{ n.abono }}</span>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                {% else %}
                    <p class="msg alert">Nenhuma aula registrada.</p>
                {% endif %}
            {% endbox %}
        {% endif %}
    </div>
{% endblock %}