{% extends super_template %}
{% load tags %}
{% block extrahead %}
    <style>
        .nav-button {
            background-color: #22a6b3 !important;
            
        }
        .msg.info:not(#feedback_message) {
            background-color:transparent; 
            padding-left: 40px;
            position: relative;
        }
    </style>
{% endblock %}
{% block content %}
    <form id="wizard_form" action name="wizard_form" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ wizard.form.media }}
            <div class="submit-row">
                <h4 class="msg info"> Passo <strong>{{ wizard.steps.current|add:"1"}}</strong> de <strong>{{ wizard.steps.count }}</strong></h4>
                {% if wizard.steps.prev %}
                    <button  class="btn nav-button" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}"> Primeiro passo</button>
                    <button class="btn nav-button" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Anterior</button>
                {% endif %}
            </div>
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {% render_form form %}
            {% endfor %}
        {% else %}
            {% with form=wizard.form %}
                {% render_form form %}
            {% endwith %}
        {% endif %}

    </form>
{% endblock %}