{% if objects %}
<table>
    <thead>
        <tr>
            <th><input type="checkbox" onchange="var is = this.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByTagName('input');for(var i=0; i<is.length; i++) is[i].checked = this.checked"/></th>
			<th>Nome {{ projeto.id }}</th>
        </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
		<tr>
			<td align="center">{{ obj.widget }}</td>
      		<td>{{ obj.pessoa.nome }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endif %}
