{% extends super_template %}

{% block action-bar %}
    <ul class="action-bar">
        {% include "acoes_visualizacao.html" %}
    </ul>
{% endblock %}

{% block object-status %}
    {{ projeto.get_situacao_display|status }}
{% endblock %}

{% block content %}

    <div class="search-and-filters">
        {% render_form form %}
    </div>

    <dl>
        <dt>Descrição:</dt>
        <dd>{{ projeto.descricao|linebreaksbr }}</dd>
    </dl>

    {% include "includes/progresso.html" %}

    {% if historico %}
        <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Tarefa</th>
                    <th>Registrado</th>
                    <th>Comentário</th>
                </tr>
            </thead>
            <tbody>
                {% for tarefa in historico %}
                    <tr>
                        <td>
                            {{ tarefa.tarefa }}
                        </td>
                        <td>
                            {{ tarefa.registrado_por|format }} em {{ tarefa.data_hora|date }}
                        </td>
                        <td>
                            {{ tarefa.comentario|safe|format }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
        <p class="msg alert">Não há tarefas cadastradas para esse projeto.</p>
    {% endif %}

{% endblock %}

