{% extends super_template %}
{% load gerenciador_projetos_templatetags %}

{% block content %}
    <div class="search-and-filters">
        {% render_form form_filtros %}
    </div>

    <div class="flex-container boards flex-nowrap">
        <div class="board-container" data-lista-id="0">
            <h3 class="title">Em andamento</h3>
            {% tarefas_para_dashboard tarefas_andamento user %}
        </div>

        <div class="board-container" data-lista-id="1">
            <h3 class="title">Concluída</h3>
            {% tarefas_para_dashboard tarefas_concluidas user %}
        </div>
    </div>
{% endblock %}

