{% extends super_template %}

{% block content %}
<div class="search-and-filters">
        {% render_form form %}
</div>

{% if categorias %}
    {% box 'Relatório de Totalização Atual' %}
    <table>
    	<thead>
    	    <tr>
    			<th>Código</th>
                <th>Conta Contábil</th>
    			<th>Descrição</th>
    			<th>Total</th>
    	    </tr>
    	</thead>
    	<tbody>
    	    {% for categoria in categorias %}
    		<tr>
    		    <td class="text-center">{{ categoria.codigo }}</td>
                <td class="text-center">{{ categoria.plano_contas}}</td>
    		    {% if campus %}
    		    	<td><a href="/patrimonio/detalhamento_categoria/{{ categoria.id }}/{{ campus.id }}/{{ data_final|date:"Y-m-d" }}/">{{ categoria.nome }}</a></td>
    		    {% else %}
    		    	<td><a href="/patrimonio/detalhamento_categoria/{{ categoria.id }}/{{ data_final|date:"Y-m-d" }}/">{{ categoria.nome }}</a></td>
    		    {% endif %}
    		    <td class="text-end">{{ categoria.total|format }}</td>
    		</tr>
    	    {% endfor %}
    	</tbody>
    	<tfoot>
    	    <tr>
                <td colspan="4">Campus do Responsável: {{ campus|format }}</td>
            </tr>
    	    <tr>
                <td></td>
                <td></td>
                <td>Todas as Categorias</td>
                <td>{{ total_geral|format }}</td>
            </tr>
    	</tfoot>
    </table>
    {% endbox %}
{% else %}
    <p class="msg alert">Nenhum item encontrado.</p>
{% endif %}

{% endblock %}
