{% extends super_template %}

{% block content %}

<ul class="action-bar">
    <li><a class="btn" href="/patrimonio/totalizacao_periodo_pdf/">Gerar PDF</a></li>
</ul>

<h3>Ano: {{ ano.nome }}</h3>

<table>
	<thead>
		<tr>
			<th>Período de {{ ano.nome }}</th>
			<th>Total Entrada</th>
			<th>Total Saída</th>
			<th colspan="2">Acumulado</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td>Ano de {{ ano.nome }}</td>
			<td>{{ ano.entrada }}</td>
			<td>{{ ano.saida }}</td>
			<td>{{ ano.acumulado }}</td>
			<td><a href="/patrimonio/total_ed_acumulado_ateh_periodo/12/{{ ano.nome }}/">Detalhamento por ED</a></td>
		</tr>
	</tfoot>
	<tbody>
		{% for mes in meses %}
    		<tr>
        		<td>{{ mes.nome }}</td>
    		    <td align="right">{{ mes.entrada }}</td>
    		    <td align="right">{{ mes.saida }}</td>
    		    <td align="right">{{ mes.acumulado }}</td>
    		    <td><a href="/patrimonio/total_ed_acumulado_ateh_periodo/{{ forloop.counter }}/{{ ano.nome }}/">Detalhamento por ED</a></td>
    		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}