{% extends super_template %}

{% block content %}
    <ul class="action-bar">
        <li>
            <a href="/ponto/detalhar_compensacao/{{ compensacao.funcionario.matricula }}/{{ compensacao.data_compensacao|date:'dmY' }}" class="btn popup">
                Detalhar dia do Saldo ({{ compensacao.data_compensacao }})
            </a>
        </li>
        <li>
            <a href="/ponto/detalhar_compensacao/{{ compensacao.funcionario.matricula }}/{{ compensacao.data_aplicacao|date:'dmY' }}" class="btn popup">
                Detalhar dia do Débito ({{ compensacao.data_aplicacao }})
            </a>
        </li>
        {% if usuario_logado_is_informante %}
            {% if not compensacao.situacao == compensacao.SITUACAO_INVALIDO %}
                <li><a class="btn primary popup" href="/ponto/editar_obs_compensacao_horario/{{ compensacao.id }}/">Editar as Observações</a></li>
            {% endif %}
            <li><a class="btn danger no-confirm" href="/admin/ponto/horariocompensacao/{{ compensacao.id }}/delete/">Remover</a></li>
        {% endif %}
    </ul>

    {% box 'Detalhes' %}
        <table class="info">
            <tbody>
                <tr>
                    <td>Servidor</td>
                    <td>{{ compensacao.funcionario }}</td>
                </tr>
                <tr>
                    <td>Data da Compensação/Saldo</td>
                    <td>
                        {{ compensacao.data_compensacao }}
                    </td>
                </tr>
                <tr>
                    <td>Data da Aplicação/Débito</td>
                    <td>
                        {{ compensacao.data_aplicacao }}
                        {% if compensacao.opcoes_compensacao_envolvidas.exists %}
                            {% for opcao_compensacao in compensacao.opcoes_compensacao_envolvidas %}
                                <span class="status status-em-tramite inline">
                                   {{ opcao_compensacao }}
                                </span>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Carga Horária Compensada</td>
                    <td>
                        {{ compensacao.ch_compensada|date:"H:i:s" }}
                    </td>
                </tr>
                <tr>
                    <td>Observações</td>
                    <td>{{ compensacao.observacoes|format }}</td>
                </tr>
                <tr>
                    <td>Situação</td>
                    <td>
                        <span class='status
                            {% if compensacao.situacao == compensacao.SITUACAO_VALIDO %}
                                status-finalizado
                            {% elif compensacao.situacao == compensacao.SITUACAO_INVALIDO %}
                                status-rejeitado
                            {% endif %}
                            text-nowrap-normal'>
                            {{ compensacao.get_situacao }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endbox %}
{% endblock %}