{% extends super_template %}

{% block action-bar %}
<ul class="action-bar">
    <li><a href="/ponto/adicionar_compensacao/" class="btn default">Informar Compensação</a></li>
    <li><a href="/admin/ponto/recessoopcaoescolhida/?tab=meus_recessos" class="btn default">Acompanhamentos de Compensações</a></li>
    <li><a href="/ponto/frequencia_funcionario/" class="btn default">Relatório de Frequências</a></li>
</ul>
{% endblock %}

{% block content %}

    <table class="info">
        <tbody>
            <tr>
                <td>Servidor</td>
                <td>{{ servidor }}</td>
            </tr>
        </tbody>
    </table>

    {% if relatorio.dias %}
        {% include "includes/frequencias_funcionario.html" %}
    {% else %}
        <p class="msg alert">Nenhuma frequência encontrada.</p>
    {% endif %}
{% endblock %}


{% block footer %}
    <script>
        $(document).ready(function () {
            $("div.progress.debito").each(function () {
                var progress = $(this).attr("data-progress");
                $(this).attr("title", progress.substring(1) + " do Débito foi reposto");
            });
        })
    </script>
{% endblock %}
