{% extends super_template %}

{% block content %}

	{% box 'Cotações' %}
		<table>
			<thead>
				<tr>
					<th> Fornecedor/UASG</th>
					<th>Valor</th>
					{% if cotacao.arquivo %}
						<th class="no-print">Opções</th>
					{% endif %}
			    </tr>
		    </thead>
			<tbody>
		        {% for cotacao in cotacao %}
			        <tr>
			        	{% if cotacao.fornecedor %}
							<td>{{ cotacao.id|format }}</td>
						{% else %}
							<td>{{ cotacao.uasg|format }}</td>
						{% endif %}
					<td>{{ cotacao.valor|format }}</td>
						{% if cotacao.arquivo %}
							<td class="no-print">
								<a href="/materiais/visualizar_arquivo_pdf/{{ cotacao.pk }}/" class="btn">Baixar Anexo</a>
							</td>
						{% endif %}
		        </tr>
		        {% endfor %}
		    </tbody>
		</table>
	{% endbox %}
{% endblock %}