{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}

    <ul class="action-bar">
        <li><a class="btn" href="{{ history_url }}">Voltar</a></li>
        {% include "documento_eletronico/reversion-compare/compare_links_partial.html"  %}
    </ul>

    <p class="msg info">
        {% blocktrans with date1=version1.revision.date_created|date:_("DATETIME_FORMAT") date2=version2.revision.date_created|date:_("DATETIME_FORMAT") %}
            Comparando <strong>{{ date1 }}</strong> com <strong>{{ date2 }}</strong>:
        {% endblocktrans %}
    </p>

    {% include "documento_eletronico/reversion-compare/compare_partial.html"  %}

{% endblock %}
