{% load rsc_tags %}

 {% box 'Diploma de graduação para ingresso no cargo de professor de EBTT' %}
                <p title="Deve ser considerada como data de referência a data de homologação da defesa da monografia ou a data da emissão do diploma (o que for mais antigo).">
                    Data da Homologação do Diploma : {{ processo_form.data_graduacao_EBTT }}
                    {% if ultima_validacao and ultima_validacao.data_graduacao_ebtt_validada %}
            			<span class="status status-info">Data validada pela CPPD: {{ ultima_validacao.data_graduacao_ebtt_validada }}</span>
        			{% endif %}
                </p>
                {% if processo.avaliado_pode_editar and processo.avaliado_pode_ajustar %}
	                <div class="msg alert" title="Anexe cópia do certificado ou diploma.">
	                    <p>Anexe cópia do certificado ou diploma. Deve ser considerada como data de referência a data de homologação da defesa do doutorado ou a data da emissão do diploma (o que for mais antigo).</p>
	                    <p>Somente serão carregados arquivos com extensão <strong>pdf</strong>.</p>
	                </div>
                {% endif %}

                {% if processo.avaliado_pode_editar and processo.servidor.id == user.get_relacionamento.id %}
                    {% render_form data_graduacao_ingresso_ebtt_form False %}
                {% endif %}
                <table id="arquivos_selecionados_data_graduacao_ingresso_ebtt">
                    <thead>
                        <tr>
                            <th>Arquivo</th>
                            <th>Documento</th>
                            <th>Tamanho</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% if processo_form.arquivo_graduacao_ingresso_ebtt %}
                        <tr id="linha-{{ processo_form.arquivo_graduacao_ingresso_ebtt.encrypted_id }}" class="linha-{{ processo_form.arquivo_graduacao_ingresso_ebtt.encrypted_id }}">
                            <td>
                                {% icon "view" "professor_titular/visualizar_arquivo_exigido_pdf/{{ processo_form.arquivo_graduacao_ingresso_ebtt.encrypted_id }}" %}
                                {% if processo.avaliado_pode_editar and processo.servidor.id == user.get_relacionamento.id%}
                                    <a class="icon icon-delete no-confirm" href="javascript:void(0);" onclick="Excluir('{{ processo_form.arquivo_graduacao_ingresso_ebtt.encrypted_id }}', 'Deseja continuar?', '/professor_titular/excluir_arquivo_exigido_pdf/{{processo_form.arquivo_graduacao_ingresso_ebtt.encrypted_id}}/', '{{ processo.id }}',true)"><span class="sr-only">Remover</span></a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="/professor_titular/visualizar_arquivo_exigido_pdf/{{ processo_form.arquivo_graduacao_ingresso_ebtt.encrypted_id }}">
                                    {{ processo_form.arquivo_graduacao_ingresso_ebtt.nome }}
                                </a>
                            </td>
                            <td>{{ processo_form.arquivo_graduacao_ingresso_ebtt.tamanho|human_file_size }}</td>
                        </tr>
                    	{% endif %}
                    </tbody>
                </table>
            {% endbox %}

            {% box 'Título que habilita a classe titular (Doutorado)' %}
                <p title="Deve ser considerada como data de referência a data de homologação da defesa do doutorado ou a data da emissão do diploma (o que for mais antigo).">
                    Data da Titulação : {{ processo_form.data_concessao_titulacao_doutor }}
                    {% if ultima_validacao and ultima_validacao.data_conclusao_titulacao_validada %}
            			<span class="status status-info">Data validada pela CPPD: {{ ultima_validacao.data_conclusao_titulacao_validada }}</span>
        			{% endif %}
                </p>
               	{% if processo.avaliado_pode_editar and processo.avaliado_pode_ajustar %}
	                <div class="msg alert" title="Anexe cópia do diploma.">
	                	<p>Anexe cópia do diploma. Deve ser considerada como data de referência a data de homologação da defesa do doutorado ou a data da emissão do diploma (o que for mais antigo).</p>
	                    <p>Somente serão carregados arquivos com extensão <strong>pdf</strong>.</p>
	                </div>
	            {% endif %}
                {% if processo.avaliado_pode_editar and processo.servidor.id == user.get_relacionamento.id %}
                    {% render_form data_concessao_titulacao_doutor_form False %}
                {% endif %}
                <table id="arquivos_selecionados_data_conclusao_titulacao_doutor">
                    <thead>
                        <tr>
                            <th>Arquivo</th>
                            <th>Documento</th>
                            <th>Tamanho</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if processo_form.arquivo_conclusao_titulacao_titular_pretendido %}
                        <tr id="linha-{{ processo_form.arquivo_conclusao_titulacao_titular_pretendido.encrypted_id }}" class="linha-{{ processo_form.arquivo_conclusao_titulacao_titular_pretendido.encrypted_id }}">
                            <td>
                                {% icon "view" "/professor_titular/visualizar_arquivo_exigido_pdf/{{ processo_form.arquivo_conclusao_titulacao_titular_pretendido.encrypted_id }}" %}
                                {% if processo.avaliado_pode_editar and processo.servidor.id == user.get_relacionamento.id %}
                                    <a class="icon icon-delete no-confirm" href="javascript:void(0);" onclick="Excluir('{{ processo_form.arquivo_conclusao_titulacao_titular_pretendido.encrypted_id }}', 'Deseja continuar?', '/professor_titular/excluir_arquivo_exigido_pdf/{{processo_form.arquivo_conclusao_titulacao_titular_pretendido.encrypted_id}}/', '{{ processo.id }}',true)"><span class="sr-only">Remover</span></a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="/professor_titular/visualizar_arquivo_exigido_pdf/{{ processo_form.arquivo_conclusao_titulacao_titular_pretendido.encrypted_id }}">
                                    {{ processo_form.arquivo_conclusao_titulacao_titular_pretendido.nome }}
                                </a>
                            </td>
                            <td>{{ processo_form.arquivo_conclusao_titulacao_titular_pretendido.tamanho|human_file_size }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            {% endbox %}

            {% box 'Progressão ou Enquadramento no nível D-IV-4' %}
                <p title="Devem ser consideradas como data de referência: a  data de conclusão de cursos de graduação, capacitação, especialização ou aperfeiçoamento; e data de homologação da defesa, de cursos de mestrado ou doutorado.">
                    Data da progressão/enquadramento : {{ processo_form.data_progressaoD404 }}
                    {% if ultima_validacao and ultima_validacao.data_progressao_validada %}
            			<span class="status status-info">Data validada pela CPPD: {{ ultima_validacao.data_progressao_validada }}</span>
        			{% endif %}
                </p>
                {% if processo.avaliado_pode_editar and processo.avaliado_pode_ajustar %}
	                <div class="msg alert">
	                    <p>Anexe cópia de declaração do órgão de gestão de pessoas de lotação (docentes com ingresso anterior a 1º/03/2013) ou cópia da portaria de progressão para D-IV-4.</p>
	                    <p>Somente serão carregados arquivos com extensão <strong>pdf</strong>.</p>
	                </div>
                {% endif %}
                {% if processo.avaliado_pode_editar and processo.servidor.id == user.get_relacionamento.id %}
                    {% render_form declaracao_DIGPE_form False %}
                {% endif %}
                <table id="arquivos_selecionados_Declaracao_DIGPE">
                    <thead>
                        <th>Arquivo</th>
                        <th>Documento</th>
                        <th>Tamanho</th>
                        </thead>
                    <tbody>
                    {% if processo_form.arquivo_declarao_DIGPE %}
                        <tr id="linha-{{ processo_form.arquivo_declarao_DIGPE.encrypted_id }}" class="linha-{{ processo_form.arquivo_declarao_DIGPE.encrypted_id }}">
                            <td>
                                {% icon "view" "/professor_titular/visualizar_arquivo_exigido_pdf/{{ processo_form.arquivo_declarao_DIGPE.encrypted_id }}" %}
                                {% if processo.avaliado_pode_editar and processo.servidor.id == user.get_relacionamento.id%}
                                    <a class="icon icon-delete no-confirm" href="javascript:void(0);" onclick="Excluir('{{ processo_form.arquivo_declarao_DIGPE.encrypted_id }}', 'Deseja continuar?', '/professor_titular/excluir_arquivo_exigido_pdf/{{processo_form.arquivo_declarao_DIGPE.encrypted_id}}/', '{{ processo.id }}',true)"><span class="sr-only">Remover</span></a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="/professor_titular/visualizar_arquivo_exigido_pdf/{{ processo_form.arquivo_declarao_DIGPE.encrypted_id }}">
                                    {{ processo_form.arquivo_declarao_DIGPE.nome }}
                                </a>
                            </td>
                            <td>{{ processo_form.arquivo_declarao_DIGPE.tamanho|human_file_size }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            {% endbox %}

            {% box 'Termo de Avaliação de Desempenho' %}
                <p>
                    Data de avaliação de desempenho : {{ processo_form.data_avaliacao_desempenho }}
                    {% if ultima_validacao and ultima_validacao.data_avaliacao_desempenho_validada %}
            			<span class="status status-info">Data validada pela CPPD: {{ ultima_validacao.data_avaliacao_desempenho_validada }}</span>
        			{% endif %}
                </p>
                {% if processo.avaliado_pode_editar and processo.avaliado_pode_ajustar %}
	                <div class="msg alert">
	                    <p>Anexe cópia do termo de avaliação de desempenho para fins de progressão para a Classe Titular, com resultado positivo, expedido pelo órgão de gestão de pessoas da unidade de lotação.</p>
	                    <p>Somente serão carregados arquivos com extensão <strong>pdf</strong>.</p>
	                </div>
                {% endif %}
                {% if processo.avaliado_pode_editar and processo.servidor.id == user.get_relacionamento.id %}
                    {% render_form termo_avaliacao_desempenho_form False %}
                {% endif %}
                <table id="arquivos_selecionados_data_termo_avaliacao_desempenho">
                    <thead>
	                    <th>Arquivo</th>
	                    <th>Documento</th>
	                    <th>Tamanho</th>
                    </thead>
                    <tbody>
                    {% if processo_form.arquivo_termo_avaliacao_desempenho %}
                        <tr id="linha-{{ processo_form.arquivo_termo_avaliacao_desempenho.encrypted_id }}" class="linha-{{ processo_form.arquivo_termo_avaliacao_desempenho.encrypted_id }}">
                            <td>
                                {% icon "view" "/professor_titular/visualizar_arquivo_exigido_pdf/{{ processo_form.arquivo_termo_avaliacao_desempenho.encrypted_id }}" %}
                                {% if processo.avaliado_pode_editar and processo.servidor.id == user.get_relacionamento.id %}
                                    <a class="icon icon-delete no-confirm" href="javascript:void(0);" onclick="Excluir('{{ processo_form.arquivo_termo_avaliacao_desempenho.encrypted_id }}', 'Deseja continuar?', '/professor_titular/excluir_arquivo_exigido_pdf/{{processo_form.arquivo_termo_avaliacao_desempenho.encrypted_id}}/','{{ processo.id }}',true)"><span class="sr-only">Remover</span></a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="/professor_titular/visualizar_arquivo_exigido_pdf/{{ processo_form.arquivo_termo_avaliacao_desempenho.encrypted_id }}">
                                    {{ processo_form.arquivo_termo_avaliacao_desempenho.nome }}
                                </a>
                            </td>
                            <td>{{ processo_form.arquivo_termo_avaliacao_desempenho.tamanho }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
     {% endbox %}
