{% extends "relatorio_pdf.html" %}

{% block cabecalho %}
{% endblock %}

{% load rsc_tags %}

{% block page_settings %}
    size: a4 portrait;
{% endblock %}

{% block content_frame %}
    top: 40;
    left: 40;
    right: 40;
    bottom: 30;
{% endblock %}

{% block style %}
    td, th {
        font-size: 8pt;
        padding: 3px;
        line-height: 1em;
        font-family: "Lucida Grande", Verdana, Arial, sans-serif;
        padding: 1px;
    }
    h2 {
        text-align: center;
        color: white;
        background-color: black;
        padding-top: 6px;
        margin-bottom: 0px;
    }
{% endblock %}

{% block content %}
	<table class="titulo_pdf">
        <tr>
            <td rowspan="3" width="100px"><img src="/static/comum/img/brazao_colorido.jpg" alt="Brasão do Brasil" /></td>
            <td class="titulo">SERVIÇO PÚBLICO FEDERAL</td>
            <td rowspan="3" width="200px"><img src={{ logo_instituicao_media_url }} alt="Logotipo do {% get_valor_por_chave "comum" "instituicao_sigla" %}" /></td>
        </tr>
        <tr>
            <td>INSTITUTO FEDERAL DE EDUCAÇÃO, CIÊNCIA E TECNOLOGIA DO RIO GRANDE DO NORTE</td>
        </tr>
        <tr>
            <td class="titulo">LISTAGEM DE DOCUMENTOS ANEXADOS</td>
       </tr>
    </table>

    <div class="corpo">
        <h2>DADOS DO REQUERENTE</h2>
        <table class="info">
            <tbody>
                <tr>
                    <td colspan="3">Nome: {{ processo.servidor.nome }}</td>
                    <td>Matrícula SIAPE: {{ processo.servidor.matricula }}</td>
                </tr>
            </tbody>
        </table>

		{% if arquivos_grupo_A.exists %}
        <h2>INDICADORES DO GRUPO A</h2>
        <table class="info" border="0.25px">
            <tbody>
                <tr>
                    <td class="negrito" align="center" width="5%">Nº</td>
                    <td class="negrito" align="center" width="55%">Critério</td>
                    <td class="negrito" align="center" width="30%">Nome</td>
                    <td class="negrito" align="center" width="10%">Tamanho</td>
                </tr>
                {% for arquivo_grupo_A in arquivos_grupo_A %}
                <tr>
                    <td align="right">{{ forloop.counter }}</td>
                    <td>{{ arquivo_grupo_A.criterio.nome}}</td>
                    <td>{{ arquivo_grupo_A.nome}}</td>
                    <td align="center">{{ arquivo_grupo_A.tamanho|human_file_size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
		{% endif %}
		{% if arquivos_grupo_B.exists %}
        <h2>INDICADORES DO GRUPO B</h2>
        <table class="info" border="0.25px">
            <tbody>
                <tr>
                    <td class="negrito" align="center" width="5%">Nº</td>
                    <td class="negrito" align="center" width="55%">Critério</td>
                    <td class="negrito" align="center" width="30%">Nome</td>
                    <td class="negrito" align="center" width="10%">Tamanho</td>
                </tr>
                {% for arquivo_grupo_B in arquivos_grupo_B %}
                <tr>
                    <td align="right">{{ forloop.counter }}</td>
                    <td>{{ arquivo_grupo_B.criterio.nome}}</td>
                    <td>{{ arquivo_grupo_B.nome}}</td>
                    <td align="center">{{ arquivo_grupo_B.tamanho|human_file_size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
		{% endif %}
		{% if arquivos_grupo_C.exists %}
        <h2>INDICADORES DO GRUPO C</h2>
        <table class="info" border="0.25px">
            <tbody>
                <tr>
                    <td class="negrito" align="center" width="5%">Nº</td>
                    <td class="negrito" align="center" width="55%">Critério</td>
                    <td class="negrito" align="center" width="30%">Nome</td>
                    <td class="negrito" align="center" width="10%">Tamanho</td>
                </tr>
                {% for arquivo_grupo_C in arquivos_grupo_C %}
                <tr>
                    <td align="right">{{ forloop.counter }}</td>
                    <td>{{ arquivo_grupo_C.criterio.nome}}</td>
                    <td>{{ arquivo_grupo_C.nome}}</td>
                    <td align="center">{{ arquivo_grupo_C.tamanho|human_file_size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
		{% endif %}
		{% if arquivos_grupo_D.exists %}
        <h2>INDICADORES DO GRUPO D</h2>
        <table class="info" border="0.25px">
            <tbody>
                <tr>
                    <td class="negrito" align="center" width="5%">Nº</td>
                    <td class="negrito" align="center" width="55%">Critério</td>
                    <td class="negrito" align="center" width="30%">Nome</td>
                    <td class="negrito" align="center" width="10%">Tamanho</td>
                </tr>
                {% for arquivo_grupo_D in arquivos_grupo_D %}
                <tr>
                    <td align="right">{{ forloop.counter }}</td>
                    <td>{{ arquivo_grupo_D.criterio.nome}}</td>
                    <td>{{ arquivo_grupo_D.nome}}</td>
                    <td align="center">{{ arquivo_grupo_D.tamanho|human_file_size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
		{% endif %}
		{% if arquivos_grupo_E.exists %}
        <h2>INDICADORES DO GRUPO E</h2>
        <table class="info" border="0.25px">
            <tbody>
                <tr>
                    <td class="negrito" align="center" width="5%">Nº</td>
                    <td class="negrito" align="center" width="55%">Critério</td>
                    <td class="negrito" align="center" width="30%">Nome</td>
                    <td class="negrito" align="center" width="10%">Tamanho</td>
                </tr>
                {% for arquivo_grupo_E in arquivos_grupo_E %}
                <tr>
                    <td align="right">{{ forloop.counter }}</td>
                    <td>{{ arquivo_grupo_E.criterio.nome}}</td>
                    <td>{{ arquivo_grupo_E.nome}}</td>
                    <td align="center">{{ arquivo_grupo_E.tamanho|human_file_size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
		{% if arquivos_grupo_F.exists %}
        <h2>INDICADORES DO GRUPO F</h2>
        <table class="info" border="0.25px">
            <tbody>
                <tr>
                    <td class="negrito" align="center" width="5%">Nº</td>
                    <td class="negrito" align="center" width="55%">Critério</td>
                    <td class="negrito" align="center" width="30%">Nome</td>
                    <td class="negrito" align="center" width="10%">Tamanho</td>
                </tr>
                {% for arquivo_grupo_F in arquivos_grupo_F %}
                <tr>
                    <td align="right">{{ forloop.counter }}</td>
                    <td>{{ arquivo_grupo_F.criterio.nome}}</td>
                    <td>{{ arquivo_grupo_F.nome}}</td>
                    <td align="center">{{ arquivo_grupo_F.tamanho|human_file_size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
		{% if arquivos_grupo_G.exists %}
        <h2>INDICADORES DO GRUPO G</h2>
        <table class="info" border="0.25px">
            <tbody>
                <tr>
                    <td class="negrito" align="center" width="5%">Nº</td>
                    <td class="negrito" align="center" width="55%">Critério</td>
                    <td class="negrito" align="center" width="30%">Nome</td>
                    <td class="negrito" align="center" width="10%">Tamanho</td>
                </tr>
                {% for arquivo_grupo_G in arquivos_grupo_G %}
                <tr>
                    <td align="right">{{ forloop.counter }}</td>
                    <td>{{ arquivo_grupo_G.criterio.nome}}</td>
                    <td>{{ arquivo_grupo_G.nome}}</td>
                    <td align="center">{{ arquivo_grupo_G.tamanho|human_file_size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
		{% if arquivos_grupo_H.exists %}
        <h2>INDICADORES DO GRUPO H</h2>
        <table class="info" border="0.25px">
            <tbody>
                <tr>
                    <td class="negrito" align="center" width="5%">Nº</td>
                    <td class="negrito" align="center" width="55%">Critério</td>
                    <td class="negrito" align="center" width="30%">Nome</td>
                    <td class="negrito" align="center" width="10%">Tamanho</td>
                </tr>
                {% for arquivo_grupo_H in arquivos_grupo_H %}
                <tr>
                    <td align="right">{{ forloop.counter }}</td>
                    <td>{{ arquivo_grupo_H.criterio.nome}}</td>
                    <td>{{ arquivo_grupo_H.nome}}</td>
                    <td align="center">{{ arquivo_grupo_H.tamanho|human_file_size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
		{% endif %}

        <br/>
        <table>
            <tbody>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">______________________________________, ____/____/______</td>
                    <td colspan="2">_________________________________________________________</td>
                </tr>
                <tr>
                    <td align="center">Local</td>
                    <td align="center">Data</td>
                    <td colspan="2" align="center">Assinatura do Requerente</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
