{% extends super_template %}



{% block content %}

    <div id="formbox">
        {% render_form form %}
    </div>

	{% if avaliacoes %}
    {% autopaginate avaliacoes 30 %}
        {% paginate %}
	    <table>
	        <thead>
	            <tr>
	                <th>Avaliador Interno</th>
                    <th>Qtde. Avaliações Pagas</th>
                    <th>Valor Bruto Pago</th>
                    <th>INSS (11%)</th>
                    <th>ISS (5%)</th>
                    <th>Valor Liquido Pago</th>
                    <th>Qtde. Avaliações NÃO Pagas</th>
                    <th>Valor Bruto NÃO Pago</th>
                    <th>INSS (11%)</th>
                    <th>ISS (5%)</th>
                    <th>Valor Liquido NÃO Pago</th>
	                <th>Ação</th>
	            </tr>
	        </thead>
	        <tbody>
	            {% for avaliacao in avaliacoes %}
	            <tr{% if avaliacao.qtd_avaliacoes_nao_pagas > 0 %} class="error"{% endif %}>
	                <td>{{ avaliacao.avaliador.eh_externo.nome }}</td>

                    <td align="center">{{ avaliacao.qtd_avaliacoes_pagas }}</td>
                    <td align="center">{{ avaliacao.valor_bruto_pago|format_money }}</td>
                    <td align="center">{{ avaliacao.desconto_inss_pago|format_money }}</td>
                    <td align="center">{{ avaliacao.desconto_iss_pago|format_money }}</td>
                    <td align="center">{{ avaliacao.valor_liquido_pago|format_money }}</td>

                    <td align="center">{{ avaliacao.qtd_avaliacoes_nao_pagas }}</td>
                    <td align="center">{{ avaliacao.valor_bruto_a_pagar|format_money }}</td>
                    <td align="center">{{ avaliacao.desconto_inss_a_pagar|format_money }}</td>
                    <td align="center">{{ avaliacao.desconto_iss_a_pagar|format_money }}</td>
                    <td align="center">{{ avaliacao.valor_liquido_a_pagar|format_money }}</td>

	                <td align="center">
	                   <ul class="action-bar">
                           <li><a class="btn success popup" href="/professor_titular/popup_avaliacao_pagamento_avaliador/{{ avaliacao.avaliador.id }}/">Verificar Processos</a></li>
                       </ul>
	                </td>
	            </tr>
	            {% endfor %}
	        </tbody>
	    </table>
	    {% paginate %}
	{% else %}
		<p class="msg alert">Nenhum processo encontrado. </p>
	{% endif %}

{% endblock %}