<tr>
    <td rowspan="5">OPTIONAL_CLASS_CHILD</td>
    <td><code>.flex</code></td>
    <td>Para aplicar <code>display:flex</code> à caixa, permitindo que os elementos possam ser organizados verticalmente (<code>flex-direction:column</code>).</td>
</tr>
<tr>
    <td><code>.error</code></td>
    <td>Para exibir a caixa com destaque de Erro.</td>
</tr>
<tr>
    <td><code>.info</code></td>
    <td>Para exibir a caixa com destaque de Informação.</td>
</tr>
<tr>
    <td><code>.success</code></td>
    <td>Para exibir a caixa com destaque de Sucesso.</td>
</tr>
<tr>
    <td><code>.warning</code></td>
    <td>Para exibir a caixa com destaque de Alerta.</td>
</tr>