<dl class="definition-list">
    <dt>Exibição</dt>
    <dd>
        <ul class="stars">
            <li><a href="#"><span class="fas fa-star"></span></a></li>
            <li><a href="#"><span class="fas fa-star"></span></a></li>
            <li><a href="#"><span class="fas fa-star"></span></a></li>
            <li><a href="#"><span class="fas fa-star disabled"></span></a></li>
            <li><a href="#"><span class="fas fa-star disabled"></span></a></li>
        </ul>
    </dd>

    <dt>Código HTML</dt>
    <dd>
<pre>
&lt;ul class="stars">
    &lt;li>&lt;a href="#">&lt;span class="fas fa-star">&lt;/span>&lt;/a>&lt;/li>
    &lt;li>&lt;a href="#">&lt;span class="fas fa-star">&lt;/span>&lt;/a>&lt;/li>
    &lt;li>&lt;a href="#">&lt;span class="fas fa-star">&lt;/span>&lt;/a>&lt;/li>
    &lt;li>&lt;a href="#">&lt;span class="fas fa-star disabled">&lt;/span>&lt;/a>&lt;/li>
    &lt;li>&lt;a href="#">&lt;span class="fas fa-star disabled">&lt;/span>&lt;/a>&lt;/li>
&lt;/ul>
</pre>
    </dd>

</dl>
