<dl class="definition-list">
    <dt>Formato: Foto</dt>
    <dd>
        <div class="photo-circle">
            <img src="/static/comum/img/default.jpg" alt="Nome da Pessoa" />
        </div>
    </dd>

    <dt>Código HTML:</dt>
    <dd>
<pre>
&lt;div class="photo-circle OPTIONAL_CLASS_PARENT"&gt;
    &lt;img src="/static/comum/img/default.jpg" alt="Nome da Pessoa"&gt;
&lt;/div&gt;
</pre>
    </dd>

    <dt>Tabela de Referência</dt>
    <dd>
        <table>
            <thead>
                <tr>
                    <th>Parâmetro</th>
                    <th>Código</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="5">OPTIONAL_CLASS_PARENT</td>
                    <td><code>.big</code></td>
                    <td>Aumenta a dimensão da foto para 150px/150px.</td>
                </tr>
                <tr>
                    <td><code>.large</code></td>
                    <td>Aumenta a dimensão da foto para 300px/300px.</td>
                </tr>
                <tr>
                    <td><code>.responsive</code></td>
                    <td>Usada para diminuir a dimensão da foto conforme resolução da tela.</td>
                </tr>
                <tr>
                    <td><code>.small</code></td>
                    <td>Diminui a dimensão da foto para 40px/40px.</td>
                </tr>
                <tr>
                    <td><code>.smallest</code></td>
                    <td>Diminui a dimensão da foto para 20px/20px.</td>
                </tr>
            </tbody>
        </table>
    </dd>

    <dt>Formato: Pessoa</dt>
    <dd>
        <div class="person">
            <div class="photo-circle"><img src="/static/comum/img/default.jpg" alt="Nome da Pessoa"></div>
            <dl>
                <dt>Nome</dt>
                <dd>Nome da Pessoa</dd>
            </dl>
        </div>
    </dd>

    <dt>Código HTML</dt>
    <dd>
<pre>
&lt;div class="person OPTIONAL_CLASS_PARENT"&gt;
    &lt;div class="photo-circle"&gt;&lt;img src="/static/comum/img/default.jpg" alt="Nome da Pessoa"&gt;&lt;/div&gt;
    &lt;dl&gt;
        &lt;dt&gt;Nome da Pessoa&lt;/dt&gt;
        &lt;dd&gt;Nome da Pessoa&lt;/dd&gt;
    &lt;/dl&gt;
&lt;/div&gt;
</pre>
    </dd>

    <dt>Tabela de Referência</dt>
    <dd>
        <table>
            <thead>
                <tr>
                    <th>Parâmetro</th>
                    <th>Código</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="3">OPTIONAL_CLASS_PARENT</td>
                    <td><code>.small</code></td>
                    <td>Diminui a área da foto para 47px.</td>
                </tr>
                <tr>
                    <td><code>.smallest</code></td>
                    <td>Diminui a área da foto para 30px.</td>
                </tr>
                <tr>
                    <td><code>.success</code></td>
                    <td>Exibe a caixa em verde.</td>
                </tr>
            </tbody>
        </table>
    </dd>
</dl>
