<table>
    <thead>
        <tr>
            <th>Filter</th>
            <th>Descrição</th>
            <th>Código</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>format</td>
            <td>Formata a variável se for data ou usuário.</td>
            <td><code>&#123;&#123; variavel|format &#125;&#125;</code></td>
        </tr>
        <tr>
            <td>status</td>
            <td>Engloba a variável com uma <code>span</code> com as classes <code>span span-"variavel"</code>, aplicando <code>slugify</code> no nome da variável.</td>
            <td><code>&#123;&#123; variavel|status &#125;&#125;</code></td>
        </tr>
        <tr>
            <td>text_small</td>
            <td>Engloba a variável com a tag <code>small</code> que customiza o texto de forma a diferenciá-lo do texto inline, como forma de comentário lateral.</td>
            <td><code>&#123;&#123; variavel|text_small &#125;&#125;</code></td>
        </tr>
    </tbody>
</table>
