<dl class="definition-list">
    <dt>Formato: Anual</dt>
    <dd>
        <div class="container">
            <div class="legenda">
                <p>Legenda:</p>
                <ul>
                    <li class="hoje">Hoje</li>
                    <li class="error">error</li>
                    <li class="success">success</li>
                    <li class="alert">alert</li>
                    <li class="info">info</li>
                    <li class="extra">extra</li>
                    <li class="extra2">extra2</li>
                    <li class="extra3">extra3</li>
                    <li class="conflito_leve">conflito_leve</li>
                    <li class="conflito">conflito</li>
                </ul>
            </div>
            <div class="calendario">
                <table class="calendario-dias">
                    <caption>Julho</caption>
                    <thead>
                        <tr>
                            <th id="domingo" class="semana">Dom</th>
                            <th id="segunda" class="semana">Seg</th>
                            <th id="terca" class="semana">Ter</th>
                            <th id="quarta" class="semana">Qua</th>
                            <th id="quinta" class="semana">Qui</th>
                            <th id="sexta" class="semana">Sex</th>
                            <th id="sabado" class="semana">Sáb</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td headers="domingo">&nbsp;</td>
                            <td headers="segunda">&nbsp;</td>
                            <td headers="terca">&nbsp;</td>
                            <td headers="quarta">&nbsp;</td>
                            <td headers="quinta">&nbsp;</td>
                            <td headers="sexta">&nbsp;</td>
                            <td headers="sabado" class="fds">1</td>
                        </tr>
                        <tr>
                            <td headers="domingo" class="fds">2</td>
                            <td headers="segunda" class="evento">3</td>
                            <td headers="terca" class="evento">4</td>
                            <td headers="quarta" class="evento">5</td>
                            <td headers="quinta" class="recesso">6</td>
                            <td headers="sexta" class="feriado">7</td>
                            <td headers="sabado" class="fds">8</td>
                        </tr>
                        <tr>
                            <td headers="domingo" class="fds">9</td>
                            <td headers="segunda" class="extra">10</td>
                            <td headers="terca">11</td>
                            <td>12</td>
                            <td class="hoje">13</td>
                            <td>14</td>
                            <td class="fds">15</td>
                        </tr>
                        <tr>
                            <td headers="domingo" class="fds">16</td>
                            <td headers="segunda" class="extra3">17</td>
                            <td headers="terca">18</td>
                            <td>19</td>
                            <td>20</td>
                            <td>21</td>
                            <td class="fds">22</td>
                        </tr>
                        <tr>
                            <td headers="domingo" class="fds">23</td>
                            <td headers="segunda">24</td>
                            <td class="feriado">25</td>
                            <td>26</td>
                            <td>27</td>
                            <td class="ferias">28</td>
                            <td class="fds ferias">29</td>
                        </tr>
                        <tr>
                            <td headers="domingo" class="fds ferias">30</td>
                            <td headers="segunda" class="ferias">31</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <ul class="calendario-referencia">
                    <li class="evento">03 a 05/07: Evento</li>
                    <li class="recesso">06: Recesso</li>
                    <li class="feriado">07: Feriado</li>
                    <li class="extra">10: Liberação Por Documento Legal</li>
                    <li class="evento">17: Evento</li>
                    <li class="feriado">25: Feriado</li>
                    <li class="ferias">28 a 31/07: Férias</li>
                </ul>
            </div>
        </div>
    </dd>

    <dt>Código HTML</dt>
    <dd>
<pre>
&lt;div class="legenda"&gt;
    &lt;p&gt;Legenda:&lt;/p&gt;
    &lt;ul&gt;
        &lt;li class="error"&gt;Feriado&lt;/li&gt;
        &lt;li class="alert"&gt;Recesso&lt;/li&gt;
        &lt;li class="info"&gt;Evento&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
&lt;div class="calendario"&gt;
    &lt;table class="calendario-dias"&gt;
    &lt;caption&gt;Janeiro&lt;/caption&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th class="semana"&gt;S&lt;/th&gt;
                &lt;th class="semana"&gt;T&lt;/th&gt;
                &lt;th class="semana"&gt;Q&lt;/th&gt;
                &lt;th class="semana"&gt;Q&lt;/th&gt;
                &lt;th class="semana"&gt;S&lt;/th&gt;
                &lt;th class="semana"&gt;S&lt;/th&gt;
                &lt;th class="semana"&gt;D&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td&gt;&amp;nbsp;&lt;/td&gt;
                &lt;td&gt;1&lt;/td&gt;
                &lt;td&gt;2&lt;/td&gt;
                &lt;td&gt;3&lt;/td&gt;
                &lt;td class="feriado"&gt;4&lt;/td&gt;
                &lt;td class="recesso evento"&gt;5&lt;/td&gt;
                &lt;td class="evento"&gt;6&lt;/td&gt;
                &lt;td&gt;(...)&lt;/td&gt;
                &lt;td class="fds"&gt;28&lt;/td&gt;
                &lt;td class="fds"&gt;29&lt;/td&gt;
                &lt;td&gt;30&lt;/td&gt;
                &lt;td&gt;31&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
    &lt;ul class="calendario-referencia"&gt;
        &lt;li class="feriado"&gt;4&lt;/li&gt;
        &lt;li class="recesso"&gt;5&lt;/li&gt;
        &lt;li class="evento"&gt;5&lt;/li&gt;
        &lt;li class="evento"&gt;6&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</pre>
    </dd>

    <dt>Formato: Mensal</dt>
    <dd>
        <div class="container">
            <div class="calendario calendario-mensal">
                <table>
                    <caption>Julho</caption>
                    <thead>
                        <tr>
                            <th id="domingo" class="semana">Dom</th>
                            <th id="segunda" class="semana">Seg</th>
                            <th id="terca" class="semana">Ter</th>
                            <th id="quarta" class="semana">Qua</th>
                            <th id="quinta" class="semana">Qui</th>
                            <th id="sexta" class="semana">Sex</th>
                            <th id="sabado" class="semana">Sáb</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td headers="domingo" class="vazio">&nbsp;</td>
                            <td headers="segunda" class="vazio">&nbsp;</td>
                            <td headers="terca" class="vazio">&nbsp;</td>
                            <td headers="quarta" class="vazio">&nbsp;</td>
                            <td headers="quinta" class="vazio">&nbsp;</td>
                            <td headers="sexta" class="vazio">&nbsp;</td>
                            <td headers="sabado" class="fds">
                                <span>1</span>
                             </td>
                        </tr>
                        <tr>
                            <td headers="domingo" class="fds">
                                <span>2</span>
                             </td>
                            <td headers="segunda">
                                <span>3</span>
                                <ul class="calendario-eventos">
                                    <li class="success"><strong>08:00</strong> Eu sou um evento deferido</li>
                                    <li class="error"><strong>10:00</strong> Eu sou um evento cancelado</li>
                                    <li class="info"><strong>19:00</strong> Eu sou um evento normal</li>
                                </ul>
                             </td>
                            <td headers="terca">
                                <span>4</span>
                                <ul class="calendario-eventos">
                                    <li class="success"><strong>08:00</strong> Eu sou um evento deferido</li>
                                    <li class="alert"><strong>18:00</strong> Eu sou um evento pendente</li>
                                    <li class="info"><strong>19:00</strong> Eu sou um evento normal</li>
                                </ul>
                              </td>
                            <td headers="quarta">
                                <span>5</span>
                                <ul class="calendario-eventos">
                                    <li class="alert"><strong>18:00</strong> Eu sou um evento pendente</li>
                                </ul>
                             </td>
                            <td headers="quinta">
                                <span>3</span>
                            </td>
                            <td headers="sexta">
                                <span>7</span>
                                <ul class="calendario-eventos">
                                    <li class="success"><strong>08:00</strong> Eu sou um evento deferido</li>
                                    <li class="error"><strong>10:00</strong> Eu sou um evento cancelado</li>
                                    <li class="alert"><strong>18:00</strong> Eu sou um evento pendente</li>
                                    <li class="info"><strong>19:00</strong> Eu sou um evento normal</li>
                                </ul>
                              </td>
                            <td headers="sabado" class="fds">
                                <span>8</span>
                             </td>
                        </tr>
                        <tr>
                            <td headers="domingo" class="fds">
                                <span>9</span>
                            </td>
                            <td headers="segunda">
                                <span>10</span>
                                <ul class="calendario-eventos">
                                    <li class="success"><strong>08:00</strong> Eu sou um evento deferido com uma descrição muito grande, muito grande mesmo</li>
                                    <li class="error"><strong>10:00</strong> Eu sou um evento cancelado</li>
                                    <li class="alert"><strong>18:00</strong> Eu sou um evento pendente</li>
                                    <li class="info"><strong>19:00</strong> Eu sou um evento normal</li>
                                </ul>
                            </td>
                            <td headers="terca">
                                <span>11</span>
                                <ul class="calendario-eventos">
                                    <li class="success"><strong>08:00</strong> Eu sou um evento deferido</li>
                                    <li class="error"><strong>10:00</strong> Eu sou um evento cancelado</li>
                                    <li class="alert"><strong>18:00</strong> Eu sou um evento pendente</li>
                                    <li class="info"><strong>19:00</strong> Eu sou um evento normal</li>
                                </ul>
                             </td>
                            <td>
                                <span>12</span>
                                <ul class="calendario-eventos">
                                    <li class="success"><strong>08:00</strong> Eu sou um evento deferido</li>
                                    <li class="error"><strong>10:00</strong> Eu sou um evento cancelado</li>
                                    <li class="alert"><strong>18:00</strong> Eu sou um evento pendente</li>
                                    <li class="info"><strong>19:00</strong> Eu sou um evento normal</li>
                                </ul>
                             </td>
                            <td class="hoje">
                                <span>13</span>
                                <ul class="calendario-eventos">
                                    <li class="error"><strong>10:00</strong> Eu sou um evento cancelado</li>
                                </ul>
                            </td>
                            <td>
                                <span>14</span>
                                <ul class="calendario-eventos">
                                    <li class="success"><strong>08:00</strong> Eu sou um evento deferido</li>
                                    <li class="error"><strong>10:00</strong> Eu sou um evento cancelado</li>
                                    <li class="alert"><strong>18:00</strong> Eu sou um evento pendente</li>
                                    <li class="info"><strong>19:00</strong> Eu sou um evento normal</li>
                                </ul>
                            </td>
                            <td class="fds">
                                <span>15</span>
                                <ul class="calendario-eventos">
                                    <li class="alert"><strong>18:00</strong> Eu sou um evento pendente</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td headers="domingo" class="fds">
                                <span>16</span>
                             </td>
                            <td headers="segunda">
                                <span>17</span>
                                <ul class="calendario-eventos">
                                    <li class="success"><strong>08:00</strong> Eu sou um evento deferido com uma descrição muito grande</li>
                                    <li class="error"><strong>10:00</strong> Eu sou um evento cancelado</li>
                                    <li class="alert"><strong>18:00</strong> Eu sou um evento pendente</li>
                                    <li class="info"><strong>19:00</strong> Eu sou um evento normal</li>
                                </ul>
                             </td>
                            <td headers="terca">
                                <span>18</span>
                                <ul class="calendario-eventos">
                                    <li class="success"><strong>08:00</strong> Eu sou um evento deferido com uma descrição muito grande</li>
                                    <li class="error"><strong>10:00</strong> Eu sou um evento cancelado</li>
                                    <li class="alert"><strong>18:00</strong> Eu sou um evento pendente</li>
                                    <li class="info"><strong>19:00</strong> Eu sou um evento normal</li>
                                </ul>
                            </td>
                            <td>
                                <span>19</span>
                                <ul class="calendario-eventos">
                                    <li class="success"><strong>08:00</strong> Eu sou um evento deferido com uma descrição muito grande</li>
                                    <li class="error"><strong>10:00</strong> Eu sou um evento cancelado</li>
                                    <li class="alert"><strong>18:00</strong> Eu sou um evento pendente</li>
                                    <li class="info"><strong>19:00</strong> Eu sou um evento normal</li>
                                </ul>
                            </td>
                            <td>
                                <span>20</span>
                                <ul class="calendario-eventos">
                                    <li class="success"><strong>08:00</strong> Eu sou um evento deferido com uma descrição muito grande</li>
                                    <li class="error"><strong>10:00</strong> Eu sou um evento cancelado</li>
                                    <li class="alert"><strong>18:00</strong> Eu sou um evento pendente</li>
                                    <li class="info"><strong>19:00</strong> Eu sou um evento normal</li>
                                </ul>
                            </td>
                            <td>
                                <span>21</span>
                                <ul class="calendario-eventos">
                                    <li class="success"><strong>08:00</strong> Eu sou um evento deferido com uma descrição muito grande</li>
                                    <li class="error"><strong>10:00</strong> Eu sou um evento cancelado</li>
                                    <li class="alert"><strong>18:00</strong> Eu sou um evento pendente</li>
                                    <li class="info"><strong>19:00</strong> Eu sou um evento normal</li>
                                </ul>
                            </td>
                            <td class="fds">
                                <span>22</span>
                            </td>
                        </tr>
                        <tr>
                            <td headers="domingo" class="fds">
                                <span>23</span>
                            </td>
                            <td headers="segunda">
                                <span>24</span>
                                <ul class="calendario-eventos">
                                    <li class="error"><strong>10:00</strong> Eu sou um evento cancelado</li>
                                    <li class="info"><strong>19:00</strong> Eu sou um evento normal</li>
                                </ul>
                            </td>
                            <td>
                                <span>25</span>
                                <ul class="calendario-eventos">
                                    <li class="success"><strong>08:00</strong> Eu sou um evento deferido</li>
                                    <li class="error"><strong>10:00</strong> Eu sou um evento cancelado</li>
                                </ul>
                             </td>
                            <td>
                                <span>26</span>
                                <ul class="calendario-eventos">
                                    <li class="alert"><strong>18:00</strong> Eu sou um evento pendente</li>
                                    <li class="info"><strong>19:00</strong> Eu sou um evento normal</li>
                                </ul>
                            </td>
                            <td>
                                <span>27</span>
                            </td>
                            <td>
                                <span>28</span>
                            </td>
                            <td class="fds">
                                <span>29</span>
                             </td>
                        </tr>
                        <tr>
                            <td headers="domingo" class="fds">
                                <span>30</span>
                             </td>
                            <td headers="segunda">
                                <span>31</span>
                                <ul class="calendario-eventos">
                                    <li class="info"><strong>19:00</strong> Eu sou um evento normal</li>
                                </ul>
                            </td>
                            <td class="vazio">&nbsp;</td>
                            <td class="vazio">&nbsp;</td>
                            <td class="vazio">&nbsp;</td>
                            <td class="vazio">&nbsp;</td>
                            <td class="vazio">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </dd>

    <dt>Código HTML</dt>
    <dd>
<pre>
&lt;div class="calendario calendario-mensal"&gt;
    &lt;table&gt;
        &lt;caption&gt;Janeiro&lt;/caption&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th class="semana"&gt;Dom&lt;/th&gt;
                &lt;th class="semana"&gt;Seg&lt;/th&gt;
                &lt;th class="semana"&gt;Ter&lt;/th&gt;
                &lt;th class="semana"&gt;Qua&lt;/th&gt;
                &lt;th class="semana"&gt;Qui&lt;/th&gt;
                &lt;th class="semana"&gt;Sex&lt;/th&gt;
                &lt;th class="semana"&gt;Sáb&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td class="vazio"&gt;&amp;nbsp;&lt;/td&gt;
                &lt;td&gt;
                    &lt;span&gt;1&lt;/span&gt;
                &lt;/td&gt;
                &lt;td&gt;
                    &lt;span&gt;2&lt;/span&gt;
                    &lt;ul class="calendario-eventos"&gt;
                        &lt;li class="success"&gt;&lt;strong&gt;08:00&lt;/strong&gt; Eu sou um evento deferido&lt;/li&gt;
                        &lt;li class="error"&gt;&lt;strong>10:00&lt;/strong&gt; Eu sou um evento cancelado&lt;/li&gt;
                        &lt;li class="info"&gt;&lt;strong>19:00&lt;/strong&gt; Eu sou um evento normal&lt;/li&gt;
                        &lt;li class="alert"&gt;&lt;strong>22:00&lt;/strong&gt; Eu sou um evento pendente&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/td&gt;
                &lt;td&gt;
                    &lt;span&gt;3&lt;/span&gt;
                &lt;/td&gt;
                &lt;td class="feriado"&gt;
                    &lt;span&gt;4&lt;/span&gt;
                &lt;/td&gt;
                &lt;td class="recesso evento"&gt;
                    &lt;span&gt;5&lt;/span&gt;
                &lt;/td&gt;
                &lt;td class="evento"&gt;
                    &lt;span&gt;6&lt;/span&gt;
                &lt;/td&gt;
           &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;
</pre>
    </dd>

    <dt>Tabela de Referência</dt>
    <dd>
        <table>
            <thead>
                <tr>
                    <th>Classe</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>.semana</code></td>
                    <td>Usada para identificar o cabeçalho da tabela.</td>
                </tr>
                <tr>
                    <td><code>.fds</code></td>
                    <td>Usada para identificar um sábado ou domingo.</td>
                </tr>
                <tr>
                    <td><code>.feriado</code> <code>.error</code></td>
                    <td>Usada para estilizar na cor vermelha.</td>
                </tr>
                <tr>
                    <td><code>.ferias</code> <code>.success</code></td>
                    <td>Usada para estilizar na cor verde.</td>
                </tr>
                <tr>
                    <td><code>.recesso</code> <code>.alert</code></td>
                    <td>Usada para estilizar na cor amarela.</td>
                </tr>
                <tr>
                    <td><code>.hoje</code></td>
                    <td>Usada para identificar o dia atual.</td>
                </tr>
                <tr>
                    <td><code>.evento</code> <code>.info</code></td>
                    <td>Usada para estilizar na cor azul.</td>
                </tr>
                <tr>
                    <td><code>.conflito</code></td>
                    <td>Usada para identificar conflito entre períodos.</td>
                </tr>
            </tbody>
        </table>
    </dd>
</dl>
