<dl class="definition-list">
    <dt>Exibição</dt>
    <dd>
        <dl class="definition-list flex">
            <div class="list-item">
                <dt>Nome Completo</dt>
                <dd>João da Silva</dd>
            </div>
            <div class="list-item">
                <dt>Nome Usual</dt>
                <dd>João da Silva</dd>
            </div>
            <div class="list-item">
                <dt>Nome Social</dt>
                <dd>João da Silva</dd>
            </div>
        </dl>
    </dd>

    <dt>Código HTML (1 coluna)</dt>
    <dd>
<pre>
&lt;dl class="definition-list OPTIONAL_CLASS_PARENT"&gt;
    &lt;dt&gt;Nome Completo&lt;/dt&gt;
    &lt;dd&gt;João da Silva&lt;/dd&gt;
&lt;/dl&gt;
</pre>
    </dd>

    <dt>Código HTML (múltiplas colunas)</dt>
    <dd>
<pre>
&lt;dl class="definition-list flex OPTIONAL_CLASS_PARENT"&gt;
    &lt;div class="list-item OPTIONAL_CLASS_CHILD"&gt;
        &lt;dt&gt;Nome Completo&lt;/dt&gt;
        &lt;dd&gt;João da Silva&lt;/dd&gt;
    &lt;/div&gt;
&lt;/dl&gt;
</pre>
    </dd>

    <dt>Tabela de Referência</dt>
    <dd>
        <table>
            <thead>
                <tr>
                    <th>Parâmetro</th>
                    <th>Código</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4">OPTIONAL_CLASS_PARENT</td>
                    <td><code>.flex</code></td>
                    <td>Para exibir em formato de tabela.</td>
                </tr>
                <tr>
                    <td><code>.compact</code></td>
                    <td>Para exibir a lista com espaçamentos menores.</td>
                </tr>
                <tr>
                    <td><code>.large</code></td>
                    <td>Para exibir a informação do valor com tamanho de fonte maior.</td>
                </tr>
                <tr>
                    <td><code>.small-items</code></td>
                    <td>Para restringir a largura mínima de cada <code>.list-item</code> a 150px.</td>
                </tr>
                <tr>
                    <td rowspan="3">OPTIONAL_CLASS_CHILD</td>
                    <td><code>.flex-basis-100</code></td>
                    <td>Para fazer com que ocupe 100% da largura do container.</td>
                </tr>
                <tr>
                    <td><code>.flex-basis-50</code></td>
                    <td>Para fazer com que ocupe 50% da largura do container.</td>
                </tr>
                <tr>
                    <td><code>.flex-grow-2</code></td>
                    <td>Para fazer com que ocupe uma largura maior.</td>
                </tr>
            </tbody>
        </table>
    </dd>
</dl>
