<dl class="definition-list">
    <dt>Exibição</dt>
    <dd>
        <div class="total-container flex-container">
            <a class="total-item" href="#">
                {% icone "mail-bulk" %}
                <p class="description">Processos a receber</p>
                <p class="total">34</p>
            </a>
            <a class="total-item error" href="#">
                {% icone "mail-bulk" %}
                <p class="description">Processos a receber</p>
                <p class="total">34</p>
            </a>
            <a class="total-item" href="#">
                {% icone "mail-bulk" %}
                <p class="description">Processos a receber</p>
                <p class="total">34</p>
            </a>
        </div>
    </dd>

    <dt>Código HTML</dt>
    <dd>
<pre>
&lt;div class="total-container flex-container OPTIONAL_CLASS_PARENT"&gt;
    &lt;a class="total-item OPTIONAL_CLASS_CHILD" href="#"&gt;
        &lcub;% icone "mail-bulk" %&rcub;
        &lt;p class="description"&gt;Descrição&lt;/p&gt;
        &lt;p class="total"&gt;000&lt;/p&gt;
    &lt;/a&gt;
&lt;/div&gt;
</pre>
    </dd>

    <dt>Tabela de Referência</dt>
    <dd>
        <table>
            <thead>
                <tr>
                    <th>Parâmetro</th>
                    <th>Código</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">OPTIONAL_CLASS_PARENT</td>
                    <td><code>.no-icon</code></td>
                    <td>Para utilizar sem ícone.</td>
                </tr>
                <tr>
                    <td><code>.small</code></td>
                    <td>Para deixar os itens em tamanho menor.</td>
                </tr>
                <tr>
                    <td rowspan="5">OPTIONAL_CLASS_CHILD/td>
                    <td><code>.error</code></td>
                    <td>Para deixar a caixa em vermelho, indicando algum erro ou problema.</td>
                </tr>
                <tr>
                    <td><code>.info</code></td>
                    <td>Para deixar a caixa em azul, indicando alguma informação geral.</td>
                </tr>
                <tr>
                    <td><code>.success</code></td>
                    <td>Para deixar a caixa verde, indicando algum sucesso.</td>
                </tr>
                <tr>
                    <td><code>.warning</code></td>
                    <td>Para deixar a caixa em amarelo, indicando algum alerta.</td>
                </tr>
            </tbody>
        </table>
    </dd>
</dl>
