<table>
    <thead>
        <tr>
            <th>Tag</th>
            <th>Descrição</th>
            <th>Como utilizar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>icon</td>
            <td>Permite adicionar os ícones de Visualizar, Editar ou Remover do admin do Django.</td>
            <td><code>&#123;% icon "view" "#" %&#125;</code> (type, url, title='', extra_class='', confirm='')</td>
        </tr>
        <tr>
            <td>icone</td>
            <td>Converte para um ícone do <a href="https://fontawesome.com/icons?d=gallery&p=2&m=free">FontAwesome</a>.</td>
            <td><code>&#123;% icone "user" %&#125;</code></td>
        </tr>
    </tbody>
</table>
