{% extends super_template %}

{% block content %}

{% box 'Inscrição nos Jogos' %}
<table class="info">
    <tbody>
        <tr>
            <td>Servidor</td>
            <td colspan="3">{{ inscricao.servidor }}</td>
        </tr>
        <tr>
            <td>Competição</td>
            <td>{{ inscricao.competicao_desportiva }}</td>
            <td>Status Inscrição</td>
            <td>{{ inscricao.get_situacao_display|status }}</td>
        </tr>
        <tr>
            <td>Campus Inscrito</td>
            <td>{{ inscricao.uo }}</td>
            <td>Campus Atual do Servidor</td>
            <td>{{ inscricao.servidor.setor.uo }}</td>
        </tr>
         <tr>
            <td>Atestado Médico</td>
            <td colspan="3"><a href="{{ inscricao.atestado_medico.url }}">Atestado médico anexado</a> </td>
        </tr>
        {% if inscricao.validado_em and inscricao.validado_por %}
        <tr>
            <td>Data da Validação</td>
            <td>{{ inscricao.validado_em|default:'' | format }}</td>
            <td>Validado por</td>
            <td>{{ inscricao.validado_por.get_profile.nome }}</td>
        </tr>
        {% endif %}
        {% if inscricao.homologado_em and inscricao.homologado_por %}
        <tr>
            <td>Data da Homologação</td>
            <td>{{ inscricao.homologado_em | default:'' | format }}</td>
            <td>Homologa por</td>
            <td>{{ inscricao.homologado_por.get_profile.nome }}</td>
        </tr>
        {% endif %}
        {% if inscricao.rejeitado_em and inscricao.rejeitado_por %}
        <tr>
            <td>Data da Rejeição</td>
            <td>{{ inscricao.rejeitado_em|default:''|format }}</td>
            <td>Rejeitado por</td>
            <td>{{ inscricao.rejeitado_por.get_profile.nome }}</td>
        </tr>
        {% endif %}
        {% if inscricao.observacao_rejeicao %}
        <tr>
            <td>Observação da Rejeição</td>
            <td colspan="3">{{ inscricao.observacao_rejeicao | default:'' |format }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endbox %}

{% if form %}
{% render_form form %}
{% endif %}

{% endblock %}