{% extends super_template %}

{% block content %}
    {% box 'Dados Gerais' %}
        <table class="info">
            <tr>
                <td>{{ execucao|verbose:'comando' }}</td>
                <td>{{ execucao.comando|format|safe }}</td>
                <td>{{ execucao|verbose:'status' }}</td>
                <td>{{ execucao.status|format|safe }}</td>
            </tr>
            <tr>
                <td>{{ execucao|verbose:'usuario' }}</td>
                <td colspan="3">{{ execucao.usuario|format|safe }}</td>
            </tr>
            <tr>
                <td>{{ execucao|verbose:'inicio' }}</td>
                <td>{{ execucao.inicio|format|safe }}</td>
                <td>{{ execucao|verbose:'fim' }}</td>
                <td>{{ execucao.fim|format|safe }}</td>
            </tr>
        </table>
    {% endbox %}
    {% box 'Saída da Execução' %}
        {% if execucao.log %}
            <pre>{{ execucao.log|format }}</pre>
        {% else %}
            <div class="msg info">
                Sem mensagens de execução.
            </div>
        {% endif %}
    {% endbox %}
    {% box 'Saída de Erro' %}
        {% if execucao.traceback %}
            <pre>{{ execucao.traceback|format }}</pre>
        {% else %}
            <div class="msg info">
                Sem mensagens de erro.
            </div>
        {% endif %}
    {% endbox %}
{% endblock %}