{% extends super_template %}

{% block content %}

    {% if perms.cnpq.pode_cadastrar_periodicos %}
        {% box 'Adicionar Novo Periódico' %}
            {% render_form form %}
        {% endbox %}
    {% endif %}
    
    {% if periodicos %}
        {% box 'Periódicos Cadastrados' %}
        	<div class="search-and-filters">
	    	    <form method="get">
	    	        <div class="filter">
	    	            <label>Nome:</label>
	    	            <input type="text" name="query" value="{{ query }}" />
	    	        </div>
	    	        <div class="submit-row">
	                	<input type="submit" class="btn default" value="Buscar" />
	            	</div>
	    	    </form>
    		</div>
            <table>
                <thead>
                    <tr>
                        <th>Ações</th>
                        <th>ISSN</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    {% autopaginate periodicos 50 %}
                    {% paginate %}
                    {% for periodico in periodicos %}
                        <tr>
                            <td>{% icon "edit" "/cnpq/editar_periodico/{{ periodico.pk }}/" "Editar" "popup" %}</td>
                            <td>{{ periodico.issn }}</td>
                            <td>{{ periodico.nome }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% paginate %}
        {% endbox %}
    {% endif %}
{% endblock %}