{% extends super_template %}

{% block content %}

    <ul class="action-bar">
        <li><button class="btn success disable_on_click" data-href="/cnpq/atualizar_curriculo/{{ servidor.matricula }}/{{ servidor.id }}/">Atualizar Currículo</button></li>
        <li><a class="btn" href="http://lattes.cnpq.br/{{ curriculo.numero_identificador }}">Ver no Lattes</a></li>
    </ul>

    {% box "Dados Gerais" %}
        <table class="info">
            <tr>
                <td>Nome</td>
                <td>{{ dados.nome_completo }}</td>
            </tr>
            <tr>
                <td>Nome em citações bibliográficas</td>
                <td>{{ dados.nome_citacao }}</td>
            </tr>
            <tr>
                <td>Sexo</td>
                <td>{{ dados.sexo|format }}</td>
            </tr>
             <tr>
                <td>Atualizado em</td>
                <td>{{ curriculo.datahora_atualizacao|format }}</td>
            </tr>
            <tr>
                <td>Importado em</td>
                <td>{{ curriculo.data_extracao|format }}</td>
            </tr>
        </table>
    {% endbox %}

    {% autoescape off %}
        <div class="tab-container" data-title="Currículo Lattes" data-checked="True">
            {% box 'Descrição/Resumo' %}
                {{ dados.texto_resumo }}
                <p><strong>(Texto informado pelo autor)</strong></p>
            {% endbox %}

            {% if dados.endereco_profissional %}
                {% box 'Endereço Profissional' %}
                    <table class="info">
                        <tr>
                            <td>Instituição/Empresa</td>
                            <td colspan="7">{{ dados.endereco_profissional.nome_instituicao_empresa }}</td>
                        </tr>
                        {% if dados.endereco_profissional.nome_unidade %}
                            <tr>
                                <td>Unidade</td>
                                <td colspan="7">{{ dados.endereco_profissional.nome_unidade }}</td>
                            </tr>
                        {% endif %}
                        {% if dados.endereco_profissional.nome_orgao %}
                            <tr>
                                <td>Órgão</td>
                                <td colspan="7">{{ dados.endereco_profissional.nome_orgao }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Logradouro</td>
                            <td colspan="7">{{ dados.endereco_profissional.logradouro }}</td>
                        </tr>
                        <tr>
                            <td>Bairro</td>
                            <td colspan="7">{{ dados.endereco_profissional.bairro }}</td>
                        </tr>
                        <tr>
                            <td>CEP</td>
                            <td>{{ dados.endereco_profissional.cep }}</td>
                            <td>Cidade</td>
                            <td>{{ dados.endereco_profissional.cidade }}</td>
                            <td>UF</td>
                            <td>{{ dados.endereco_profissional.uf }}</td>
                            <td>País</td>
                            <td>{{ dados.endereco_profissional.pais }}</td>
                        </tr>
                        {% if dados.endereco_profissional.caixa_postal %}
                            <tr>
                                <td>Caixa Postal</td>
                                <td colspan="7">{{ dados.endereco_profissional.caixa_postal }}</td>
                            </tr>
                        {% endif %}
                        {% if dados.endereco_profissional.telefone or dados.endereco_profissional.fax %}
                            <tr>
                                {% if dados.endereco_profissional.telefone %}
                                    <td>Telefone</td>
                                    <td>({{ dados.endereco_profissional.ddd }}) {{ dados.endereco_profissional.telefone }}</td>
                                {% endif %}
                                {% if dados.endereco_profissional.ramal %}
                                    <td>Ramal</td>
                                    <td>{{ dados.endereco_profissional.ramal }}</td>
                                {% endif %}
                                {% if dados.endereco_profissional.fax %}
                                    <td>Fax</td>
                                    <td>({{ dados.endereco_profissional.ddd }}) {{ dados.endereco_profissional.fax }}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                        {% if dados.endereco_profissional.email %}
                            <tr>
                                <td>E-mail</td>
                                <td colspan="7">{{ dados.endereco_profissional.email }}</td>
                            </tr>
                        {% endif %}
                        {% if dados.endereco_profissional.home_page %}
                            <tr>
                                <td>URL da Homepage</td>
                                <td colspan="7">{{ dados.endereco_profissional.home_page }}</td>
                            </tr>
                        {% endif %}
                    </table>
                {% endbox %}
            {% endif %}

            {% if formacoes_academicas_titulacoes %}
                {% box 'Formações Acadêmicas' %}
                    <table class="info">
                        {% for formacao in formacoes_academicas_titulacoes %}
                            <tr>
                                <td>
                                    <p>{{ formacao.ano_inicio }} - {{ formacao.ano_conclusao }}</p>
                                    <p>({{ formacao.get_status_curso }})</p>
                                </td>
                                <td>{{ formacao }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endbox %}
            {% endif %}

            {% if areas_atuacoes %}
                {% box 'Áreas de atuação' %}
                    <table class="info">
                        {% for area_atuacao in areas_atuacoes %}
                            <tr>
                                <td>
                                    <p>{{ area_atuacao.sequencia_area_atuacao }}</p>
                                </td>
                                <td>{{ area_atuacao }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endbox %}
            {% endif %}
        </div>

        {% if curriculo.producoes_bibliograficas.exists %}
            <div class="tab-container" data-title="Produções Bibliográficas" data-checked="True">
                {% if curriculo.get_artigos %}
                    {% if curriculo.get_artigos_completos %}
                        {% box 'Artigos completos publicados em periódicos' %}
                            <table class="info">
                                {% for producao in curriculo.get_artigos_completos %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        {{ producao.get_relevancia_doi|safe }}
                                        {{ producao }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}
                    {% if curriculo.get_artigos_resumos %}
                        {% box 'Resumos publicados em anais de congressos (artigos)' %}
                            <table class="info">
                                {% for producao in curriculo.get_artigos_resumos %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        {{ producao.get_relevancia_doi|safe }}
                                        {{ producao }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}
                    {% if curriculo.get_artigos_nao_informados %}
                        {% box 'Artigos aceitos para publicação' %}
                            <table class="info">
                                {% for producao in curriculo.get_artigos_nao_informados %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        {{ producao.get_relevancia_doi|safe }}
                                        {{ producao }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}
                {% endif %}

                {% if curriculo.get_trabalhos_eventos %}
                    {% if curriculo.get_trabalhos_eventos_completos %}
                        {% box 'Trabalhos completos publicados em anais de congressos' %}
                            <table class="info">
                                {% for producao in curriculo.get_trabalhos_eventos_completos %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        {{ producao.get_relevancia_doi|safe }}
                                        {{ producao }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}
                    {% if curriculo.get_trabalhos_eventos_resumos_expandidos %}
                        {% box 'Resumos expandidos publicados em anais de congressos' %}
                            <table class="info">
                                {% for producao in curriculo.get_trabalhos_eventos_resumos_expandidos %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        {{ producao.get_relevancia_doi|safe }}
                                        {{ producao }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}
                    {% if curriculo.get_trabalhos_eventos_resumos %}
                        {% box 'Resumos publicados em anais de congressos' %}
                            <table class="info">
                                {% for producao in curriculo.get_trabalhos_eventos_resumos %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        {{ producao.get_relevancia_doi|safe }}
                                        {{ producao }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}
                {% endif %}

                {% if curriculo.get_livros %}
                    {% box 'Livros publicados/organizados ou edições' %}
                        <table class="info">
                            {% for producao in curriculo.get_livros %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_capitulos %}
                    {% box 'Capítulos de livros publicados' %}
                        <table class="info">
                            {% for producao in curriculo.get_capitulos %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_textos_jornal_revista %}
                    {% box 'Textos em jornais de notícias/revistas' %}
                        <table class="info">
                            {% for producao in curriculo.get_textos_jornal_revista %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_prefacios_posfacios %}
                    {% box 'Prefácios e Posfácios' %}
                        <table class="info">
                            {% for producao in curriculo.get_prefacios_posfacios %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_partituras %}
                    {% box 'Partitura Musical' %}
                        <table class="info">
                            {% for producao in curriculo.get_partituras %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_traducoes %}
                    {% box 'Traduções' %}
                        <table class="info">
                            {% for producao in curriculo.get_traducoes %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_outras_producoes %}
                    {% box 'Outras Produções' %}
                        <table class="info">
                            {% for producao in curriculo.get_outras_producoes %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}
            </div>
        {% endif %}

        {% if curriculo.producoes_tecnicas.all %}
            <div class="tab-container" data-title="Produções Técnicas" data-checked="True">
                {% if curriculo.get_softwares %}
                    {% box 'Softwares' %}
                        <table class="info">
                            {% for producao in curriculo.get_softwares %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_produtos_tecnologicos %}
                    {% box 'Produtos Tecnológicos' %}
                        <table class="info">
                            {% for producao in curriculo.get_produtos_tecnologicos %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_processos_tecnicas %}
                    {% box 'Processos e Técnicas' %}
                        <table class="info">
                            {% for producao in curriculo.get_processos_tecnicas %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_trabalhos_tecnicos %}
                    {% box 'Trabalhos Técnicos' %}
                        <table class="info">
                            {% for producao in curriculo.get_trabalhos_tecnicos %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_apresentacoes_trabalhos %}
                    {% box 'Apresentações de Trabalhos' %}
                        <table class="info">
                            {% for producao in curriculo.get_apresentacoes_trabalhos %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{producao }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_cartas_mapas_similares %}
                    {% box 'Cartas, Mapas e Similares' %}
                        <table class="info">
                            {% for producao in curriculo.get_cartas_mapas_similares %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_cursos_curta_duracao_ministrados %}
                    {% box 'Cursos de Curta Duração Ministrados' %}
                        <table class="info">
                            {% for producao in curriculo.get_cursos_curta_duracao_ministrados %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_desenvolvimento_materiais_didaticos_instrucionais %}
                    {% box 'Desenvolvimento de Materiais Didáticos Instrucionais' %}
                        <table class="info">
                            {% for producao in curriculo.get_desenvolvimento_materiais_didaticos_instrucionais %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_editoracoes %}
                    {% box 'Editorações' %}
                        <table class="info">
                            {% for producao in curriculo.get_editoracoes %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_manutencao_obras_artisticas %}
                    {% box 'Manutenções em Obras Artísticas' %}
                        <table class="info">
                            {% for producao in curriculo.get_manutencao_obras_artisticas %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_maquetes %}
                    {% box 'Maquetes' %}
                        <table class="info">
                            {% for producao in curriculo.get_maquetes %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_organizacoes_eventos %}
                    {% box 'Organização de Eventos' %}
                        <table class="info">
                            {% for producao in curriculo.get_organizacoes_eventos %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_outras_producoes_tecnicas %}
                    {% box 'Outras Produções Técnicas' %}
                        <table class="info">
                            {% for producao in curriculo.get_outras_producoes_tecnicas %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_programas_radio_tv %}
                    {% box 'Programas de Rádio ou TV' %}
                        <table class="info">
                            {% for producao in curriculo.get_programas_radio_tv %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if curriculo.get_relatorios_pesquisa %}
                    {% box 'Relatórios de Pesquisa' %}
                        <table class="info">
                            {% for producao in curriculo.get_relatorios_pesquisa %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ producao.get_relevancia_doi|safe }}
                                    {{ producao }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if patentes_registros_software or patentes_registros_produtotecnologico or patentes_registros_processotecnica or patentes_registros_patente or patentes_registros_marca %}
                    <h4>Patentes e Registros</h4>
                    {% if patentes_registros_software %}
                        {% box 'Software' %}
                            <table class="info">
                                {% for produto_tecnologico in patentes_registros_software %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <p>{{ produto_tecnologico.software.get_relevancia_doi|safe }} {{ produto_tecnologico }}</p>
                                        {% for registro_patente in produto_tecnologico.software.registros_patentes.all %}
                                            <p>{{ registro_patente }}</p>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if patentes_registros_produtotecnologico %}
                        {% box 'Produtos Tecnológicos' %}
                            <table class="info">
                                {% for produto_tecnologico in patentes_registros_produtotecnologico %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <p>{{ produto_tecnologico.produtotecnologico.get_relevancia_doi|safe }} {{ produto_tecnologico }}</p>
                                        {% for registro_patente in produto_tecnologico.produtotecnologico.registros_patentes.all %}
                                            <p>{{ registro_patente }}</p>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if patentes_registros_processotecnica %}
                        {% box 'Processos e Técnicas' %}
                            <table class="info">
                                {% for produto_tecnologico in patentes_registros_processotecnica %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <p>{{ produto_tecnologico.processotecnica.get_relevancia_doi|safe }} {{ produto_tecnologico }}</p>
                                        {% for registro_patente in produto_tecnologico.processotecnica.registros_patentes.all %}
                                            <p>{{ registro_patente }}</p>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if patentes_registros_patente %}
                        {% box 'Patente' %}
                            <table class="info">
                                {% for produto_tecnologico in patentes_registros_patente %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <p>{{ produto_tecnologico.patente.get_relevancia_doi|safe }} {{ produto_tecnologico }}</p>
                                        {% for registro_patente in produto_tecnologico.patente.registros_patentes.all %}
                                            <p>{{ registro_patente }}</p>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if patentes_registros_marca %}
                        {% box 'Marca' %}
                            <table class="info">
                                {% for produto_tecnologico in patentes_registros_marca %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <p>{{ produto_tecnologico.marca.get_relevancia_doi|safe }} {{ produto_tecnologico }}</p>
                                        {% for registro_patente in produto_tecnologico.marca.registros_patentes.all %}
                                            <p>{{ registro_patente }}</p>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                {% endif %}

                {% if curriculo.dado_complementar %}
                    <h4>Orientações e Supervisões em Andamento</h4>

                    {% if curriculo.dado_complementar.get_orientacoes_posdoutorado %}
                        {% box 'Pós-Doutorado' %}
                            <table class="info">
                                {% for orientacao in curriculo.dado_complementar.get_orientacoes_posdoutorado %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ orientacao }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if curriculo.dado_complementar.get_orientacoes_em_andamento_doutorado %}
                        {% box 'Doutorado' %}
                            <table class="info">
                                {% for orientacao in curriculo.dado_complementar.get_orientacoes_em_andamento_doutorado %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ orientacao }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if curriculo.dado_complementar.get_orientacoes_em_andamento_mestrado %}
                        {% box 'Mestrado' %}
                            <table class="info">
                                {% for orientacao in curriculo.dado_complementar.get_orientacoes_em_andamento_mestrado %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ orientacao }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if curriculo.dado_complementar.get_orientacoes_em_andamento_aperfeicoamento_especializacao %}
                        {% box 'Aperfeiçoamento/Especialização' %}
                            <table class="info">
                                {% for orientacao in curriculo.dado_complementar.get_orientacoes_em_andamento_aperfeicoamento_especializacao %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ orientacao }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if curriculo.dado_complementar.get_orientacoes_em_andamento_graduacao %}
                        {% box 'Graduação' %}
                            <table class="info">
                                {% for orientacao in curriculo.dado_complementar.get_orientacoes_em_andamento_graduacao %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ orientacao }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if curriculo.dado_complementar.get_orientacoes_em_andamento_iniciacao_cientifica %}
                        {% box 'Iniciação Científica' %}
                            <table class="info">
                                {% for orientacao in curriculo.dado_complementar.get_orientacoes_em_andamento_iniciacao_cientifica %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ orientacao }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if curriculo.dado_complementar.get_orientacoes_em_andamento_outras %}
                        {% box 'Outras Orientações' %}
                            <table class="info">
                                {% for orientacao in curriculo.dado_complementar.get_orientacoes_em_andamento_outras %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ orientacao }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                {% endif %}

                {% if curriculo.outras_producoes.all %}
                    <h4>Orientações e Supervisões Concluídas</h4>
                    {% if curriculo.get_orientacoes_posdoutorado %}
                        {% box 'Pós-Doutorado' %}
                            <table class="info">
                                {% for orientacao in curriculo.get_orientacoes_posdoutorado %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ orientacao }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if curriculo.get_orientacoes_doutorado %}
                        {% box 'Doutorado' %}
                            <table class="info">
                                {% for orientacao in curriculo.get_orientacoes_doutorado %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ orientacao }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if curriculo.get_orientacoes_mestrado %}
                        {% box 'Mestrado' %}
                            <table class="info">
                                {% for orientacao in curriculo.get_orientacoes_mestrado %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ orientacao }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if curriculo.get_orientacoes_aperfeicoamento_especializacao %}
                        {% box 'Aperfeiçoamento/Especialização' %}
                            <table class="info">
                                {% for orientacao in curriculo.get_orientacoes_aperfeicoamento_especializacao %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ orientacao }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if curriculo.get_orientacoes_graduacao %}
                        {% box 'Graduação' %}
                            <table class="info">
                                {% for orientacao in curriculo.get_orientacoes_graduacao %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ orientacao }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if curriculo.get_orientacoes_iniciacao_cientifica %}
                        {% box 'Iniciação Científica' %}
                            <table class="info">
                                {% for orientacao in curriculo.get_orientacoes_iniciacao_cientifica %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ orientacao }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                    {% if curriculo.get_outras_orientacoes %}
                        {% box 'Outras Orientações' %}
                            <table class="info">
                                {% for orientacao in curriculo.get_outras_orientacoes %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ orientacao }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endbox %}
                    {% endif %}

                {% endif %}
            </div>
        {% endif %}

        {% if projetos.exists %}
            <div class="tab-container" data-title="Projetos" data-checked="True">
                {% if projetos_pesquisa.exists %}
                    {% box 'Projetos de Pesquisa' %}
                        <table class="info">
                            {% for projeto in projetos_pesquisa %}
                            <tr>
                                <td>{{ projeto.index }}</td>
                                <td>{{ projeto }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if projetos_extensao.exists %}
                    {% box 'Projetos de Extensão' %}
                        <table class="info">
                            {% for projeto in projetos_extensao %}
                            <tr>
                                <td>{{ projeto.index }}</td>
                                <td>{{ projeto }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}

                {% if projetos_desenvolvimento.exists %}
                    {% box 'Projetos de Desenvolvimento' %}
                        <table class="info">
                            {% for projeto in projetos_desenvolvimento %}
                            <tr>
                                <td>{{ projeto.index }}</td>
                                <td>{{ projeto }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endif %}
            </div>
        {% endif %}

        {% if participacoes_banca %}
            <div class="tab-container" data-title="Participação em Bancas" data-checked="True">
                <h4>Participação em Bancas de Trabalhos de Conclusão</h4>
                {% if participacoes_banca_trabalho_conclusao.exists %}
                    {% regroup participacoes_banca_trabalho_conclusao by natureza as participacoes_banca_trabalho_conclusao_by_natureza %}
                    {% for natureza in participacoes_banca_trabalho_conclusao_by_natureza %}
                        {% box '{{ natureza.grouper }}' %}
                            <table class="info">
                            {% for participacao_banca in natureza.list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ participacao_banca }}</td>
                                </tr>
                            {% endfor %}
                             </table>
                        {% endbox %}
                    {% endfor %}
                {% endif %}
                <h4>Participação em bancas de comissões julgadoras</h4>
                {% if participacoes_banca_comissao_julgadora.exists %}
                    {% regroup participacoes_banca_comissao_julgadora by natureza as participacoes_banca_comissao_julgadora_by_natureza %}
                    {% for natureza in participacoes_banca_comissao_julgadora_by_natureza %}
                        {% box '{{ natureza.grouper }}' %}
                            <table class="info">
                            {% for participacao_banca in natureza.list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ participacao_banca }}</td>
                                </tr>
                            {% endfor %}
                             </table>
                        {% endbox %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}

        {% if participacoes_evento_congresso.exists %}
            <div class="tab-container" data-title="Participação em Eventos e Congressos" data-counter="{{ participacoes_evento_congresso.count }}">
                {% if participacoes_evento_congresso.exists %}
                    {% box 'Participação em Congresso' %}
                        <table>
                            <thead>
                                 <tr>
                                    <th>#</th>
                                    <th>Ano</th>
                                    <th>Título/Evento</th>
                                    <th>Tipo de Participação</th>
                                    <th>Forma de Participação</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for evento in participacoes_em_congressos %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ evento.ano|format }}</td>
                                        <td>{{ evento.get_titulo_evento|format }}</td>
                                        <td>{{ evento.tipo_participacao|format }}</td>
                                        <td>{{ evento.forma_participacao|format }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                         </table>
                    {% endbox %}
                {% endif %}
                {% if participacoes_em_seminarios.exists %}
                    {% box 'Participação em Seminários' %}
                        <table>
                            <thead>
                                 <tr>
                                    <th>#</th>
                                    <th>Ano</th>
                                    <th>Título/Evento</th>
                                    <th>Tipo de Participação</th>
                                    <th>Forma de Participação</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for evento in participacoes_em_seminarios %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ evento.ano|format }}</td>
                                        <td>{{ evento.get_titulo_evento|format }}</td>
                                        <td>{{ evento.tipo_participacao|format }}</td>
                                        <td>{{ evento.forma_participacao|format }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                         </table>
                    {% endbox %}
                {% endif %}
                {% if participacoes_em_oficinas.exists %}
                    {% box 'Participação em Oficinas' %}
                        <table>
                            <thead>
                                 <tr>
                                    <th>#</th>
                                    <th>Ano</th>
                                    <th>Título/Evento</th>
                                    <th>Tipo de Participação</th>
                                    <th>Forma de Participação</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for evento in participacoes_em_oficinas %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ evento.ano|format }}</td>
                                        <td>{{ evento.get_titulo_evento|format }}</td>
                                        <td>{{ evento.tipo_participacao|format }}</td>
                                        <td>{{ evento.forma_participacao|format }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                         </table>
                    {% endbox %}
                {% endif %}
                {% if participacoes_em_encontros.exists %}
                    {% box 'Participação em Encontros' %}
                        <table>
                            <thead>
                                 <tr>
                                    <th>#</th>
                                    <th>Ano</th>
                                    <th>Título/Evento</th>
                                    <th>Tipo de Participação</th>
                                    <th>Forma de Participação</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for evento in participacoes_em_encontros %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ evento.ano|format }}</td>
                                        <td>{{ evento.get_titulo_evento|format }}</td>
                                        <td>{{ evento.tipo_participacao|format }}</td>
                                        <td>{{ evento.forma_participacao|format }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                         </table>
                    {% endbox %}
                {% endif %}
                {% if outras_participacoes.exists %}
                    {% box 'Outras Participações' %}
                        <table>
                            <thead>
                                 <tr>
                                    <th>#</th>
                                    <th>Ano</th>
                                    <th>Título/Evento</th>
                                    <th>Tipo de Participação</th>
                                    <th>Forma de Participação</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for evento in outras_participacoes %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ evento.ano|format }}</td>
                                        <td>{{ evento.get_titulo_evento|format }}</td>
                                        <td>{{ evento.tipo_participacao|format }}</td>
                                        <td>{{ evento.forma_participacao|format }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                         </table>
                    {% endbox %}
                {% endif %}
            </div>
        {% endif %}
        
        <div class="tab-container" data-title="Grupos de Pesquisa" data-counter="{{ grupos_pesquisa.count }}">
            {% box 'Grupos de Pesquisa Importados do Currículo Lattes' %}
            <ul class="action-bar">
                <li><a class="btn success" href="/cnpq/atualiza_grupos_pesquisa/{{ curriculo.pk }}/">Atualizar Grupos de Pesquisa</a></li>
            </ul>
            {% if grupos_pesquisa %}
            <table >
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Instituição</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grupo in grupos_pesquisa %}
                        <tr>
                            <td><a href="http://dgp.cnpq.br/dgp/espelhogrupo/{{ grupo.codigo }}">{{ grupo.codigo }}</a></td>
                            <td>
                                {{ grupo.descricao }}
                            </td>
                            <td>
                                {{ grupo.instituicao }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="msg alert">Nenhum grupo de pesquisa encontrado.</p>
            {% endif %}
            {% endbox %}
        </div>

        <div class="tab-container" data-title="Vínculos" data-checked="{% if vinculos.exists %}True{% else %}False{% endif %}">
            {% if vinculos.exists %}
                {% regroup vinculos by outro_vinculo_informado as vinculos_by_outro_vinculo_informado %}
                {% for outro_vinculo_informado in vinculos_by_outro_vinculo_informado %}
                    {% box '{{ outro_vinculo_informado.grouper }}' %}
                        <table class="info">
                            {% for vinculo in outro_vinculo_informado.list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ vinculo }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endbox %}
                {% endfor %}
            {% else %}
                <p class="msg alert">Nenhum vínculo encontrado.</p>
            {% endif %}
        </div>

        <div class="tab-container" data-title="Prêmios e títulos" data-counter="{{ premios_e_titulos.count }}">
            {% if premios_e_titulos.exists %}
                {% box 'Prêmios e títulos' %}
                    <table class="info">
                        {% for premio in premios_e_titulos %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ premio }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                {% endbox %}
            {% endif %}
        </div>

        <div class="tab-container" data-title="Resumo" data-checked="{% if curriculo_resumo_itens %}True{% else %}False{% endif %}">
            {% box "Resumo da Produção no Período ({{ ano_inicial }} a {{ maior_ano }})" %}
	            <div class="search-and-filters">
	    			{% render_form form %}
				</div>
                {% if curriculo_resumo_itens %}
                    <table>
                        <thead>
                            <tr>
                                <th>Critério</th>
                                <th>Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item_resumo in curriculo_resumo_itens %}
                                <tr>
                                    <td>
                                        {{  item_resumo.1 }}
                                    </td>
                                    <td>
                                        {{  item_resumo.0 }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
	            {% else %}
	                <p class="msg alert">Não foi encontrada nenhuma produção.</p>
	            {% endif %}
        	{% endbox %}
        </div>

    {% endautoescape %}
{% endblock %}
