<dl class="definition-list flex">
    <div class="list-item flex-basis-50">
        <dt>Ano</dt>
        <dd>{{ edital.ano }}</dd>
    </div>
    <div class="list-item flex-basis-50">
        <dt>Ativo</dt>
        <dd>{{ edital.ativo|format }}</dd>
    </div>
    <div class="list-item flex-basis-50">
        <dt>Título</dt>
        <dd>{{ edital.titulo }}</dd>
    </div>
    <div class="list-item flex-basis-50">
        <dt>Descrição</dt>
        <dd>{{ edital.descricao|linebreaks }}</dd>
    </div>
    <div class="list-item">
        <dt>Período de Abrangência</dt>
        <dd>{{ edital.periodo_abrangencia_inicio|format }} a {{ edital.periodo_abrangencia_final|format }}</dd>
    </div>
    <div class="list-item">
        <dt>Período de Submissão</dt>
        <dd>{{ edital.periodo_submissao_inscricao_inicio|format }} a {{ edital.periodo_submissao_inscricao_final|format }}</dd>
    </div>
    <div class="list-item">
        <dt>Período de Resultado Parcial</dt>
        <dd>{{ edital.periodo_resultado_parcial_inicio|format }} a {{ edital.periodo_resultado_parcial_final|format }}</dd>
    </div>
    <div class="list-item">
        <dt>Período de Recurso do Resultado Parcial</dt>
        <dd>{{ edital.periodo_recurso_resultado_parcial_inicio|format }} a {{ edital.periodo_recurso_resultado_parcial_final|format }}</dd>
    </div>
    <div class="list-item">
        <dt>Período de Desistência</dt>
        <dd>{{ edital.periodo_desistencia_inicio|format }} a {{ edital.periodo_desistencia_final|format }}</dd>
    </div>
    {% comment %}
    <div class="list-item">
        <dt>Período de Resultado Final</dt>
        <dd>{{ edital.periodo_resultado_final_inicio|format }} a {{ edital.periodo_resultado_final_final|format }}</dd>
    </div>
    <div class="list-item">
        <dt>Período de Submissão da Seguda Etapa</dt>
        <dd>{{ edital.periodo_submissao_segunda_etapa_inicio|format }} a {{ edital.periodo_submissao_segunda_etapa_final|format }}</dd>
    </div>
    {% endcomment %}

    {% if eh_gestao %}
        <div class="list-item">
            <dt>Quantidade de Máxima de Parcelas em um Pedido</dt>
            <dd>{{ edital.qdt_max_periodos_por_pedido|format }}</dd>
        </div>
    {% endif %}

    {% if eh_gestao or not estah_em_aberto_antes_submissao %}
        <div class="list-item">
            <dt>Percentual Limite de Servidores em Licença Capacitação</dt>
            <dd>{{ edital.percentual_limite_servidores_em_lic_capacitacao|format }}</dd>
        </div>
    {% endif %}
</dl>

{% if eh_gestao or not estah_em_aberto_antes_submissao %}
<ul class="flex-container boxes services mt-2">
    <li class="box-item">
        <h4>Técnicos-Administrativos</h4>
        <dl>
            <dt>Em Exercício:</dt>
            <dd>{{ edital.total_taes_em_exercicio|format }}</dd>
            <dt>Quantidade Limite em Licença Capacitação por Dia:</dt>
            <dd>{{ edital.qtd_limite_taes_em_lic_capacitacao_por_dia|format }}</dd>
        </dl>
    </li>
    <li class="box-item">
        <h4>Docentes</h4>
        <dl>
            <dt>Em Exercício:</dt>
            <dd>{{ edital.total_docentes_em_exercicio|format }}</dd>
            <dt>Quantidade Limite em Licença Capacitação por Dia:</dt>
            <dd>{{ edital.qtd_limite_docentes_em_lic_capacitacao_por_dia|format }}</dd>
        </dl>
    </li>
    <li class="box-item">
        <h4>Geral</h4>
        <dl>
            <dt>Em Exercício:</dt>
            <dd>{{ edital.total_geral_em_exercicio|format }}</dd>
            <dt>Quantidade Limite em Licença Capacitação por Dia:</dt>
            <dd>{{ edital.qtd_limite_servidores_em_lic_capacitacao_por_dia|format }}</dd>
        </dl>
    </li>
</ul>
{% endif %}
