    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th colspan="10">Dados Básicos</th>
                    <th colspan="6">Critérios de Desempate</th>
                    {% if eh_processamento_parcial %}
                        <th colspan="4">Resultado Parcial</th>
                    {% else %}
                        <th colspan="4">Resultado Final</th>
                    {% endif %}
                </tr>
                <tr>
                    <th>Pedido</th>
                    <th>Matrícula</th>
                    <th>Servidor</th>
                    <th>Categoria</th>
                    <th>Campus Suap</th>
                    <th>Início do exercício</th>
                    <th>Parcelas(s) solicitada(s)</th>
                    <th>Quantidade de dias solicitados</th>
                    <th>Definitivo?</th>
                    <th>Desistência?</th>

                    <th>Quantidade de dias de licença capacitação já concedidas</th>
                    <th>Período aquisitivo mais próximo do fim (data final)</th>
                    <th>Quantidade de dias de efetivo exercício</th>
                    <th>Quantidade de dias de afastamento capacitação</th>
                    <th>Quantidade de dias que não contabilizam como efetivo exercício</th>
                    <th>Idade do servidor (no início da abrangência do edital)</th>

                    <th>Aprovado</th>
                    <th>Justificativa de não aprovação</th>
                    <th>Ordem de classificação</th>
                    <th>Ordem de classificação (gestão)</th>
                </tr>
            </thead>
            <body>
                {% for cal in dados_processamento %}
                    <tr>
                        <td>{{ cal.pedido.id|format }}</td>
                        <td>{{ cal.pedido.servidor.matricula|format }}</td>
                        <td>{{ cal.pedido.servidor.pessoa_fisica }}</td>
                        <td>{{ cal.pedido.categoria_display|format }}</td>
                        <td>{{ cal.pedido.servidor.setor.uo|format }}</td>
                        <td>{{ cal.inicio_exercicio|format }}</td>

                        <td>
                            <ul>
                            {% for per in cal.get_periodos_pedido %}
                                <li>
                                    {{ per.data_inicio|format }} a {{ per.data_termino|format }}
                                </li>
                            {% endfor %}
                            </ul>
                        </td>

                        <td>{{ cal.get_qtd_dias_periodos_pedido|format }}</td>
                        <td>{{ cal.pedido.aprovado_em_definitivo|format }}</td>
                        <td>{{ cal.pedido.desistencia|format }}</td>

                        <td>{{ cal.qtd_dias_total_licenca_capacitacao_utilizada|format }}</td>
                        <td>{{ cal.periodo_aquisitivo_proximo_do_fim|format }}</td>
                        <td>{{ cal.qtd_dias_efetivo_exercicio|format }}</td>
                        <td>{{ cal.qtd_dias_afastamento_capacitacao|format }}</td>
                        <td>{{ cal.qtd_dias_afast_nao_conta_como_efet_exerc|format }}</td>
                        <td>{{ cal.idade_servidor_inicio_abrangencia_edital|format }}</td>

                        {% if eh_processamento_parcial %}
                            <td>{{ cal.aprovado_resultado_parcial|format }}</td>
                            <td>{{ cal.justificativa_nao_aprovacao_resultado_parcial|format }}</td>
                            <td>{{ cal.ordem_classificacao_resultado_parcial|format }}</td>
                        {% else %}
                            <td>{{ cal.aprovado_resultado_final|format }}</td>
                            <td>{{ cal.justificativa_nao_aprovacao_resultado_final|format }}</td>
                            <td>{{ cal.ordem_classificacao_resultado_final|format }}</td>
                        {% endif %}

                        {% if eh_processamento_parcial %}
                            <td>
                                <p>{{ cal.ordem_classificacao_resultado_parcial_gestao|format }}</p>
                                {% if pode_calcular_processamento %}
                                    <p><a class="btn" href="{% url 'editar_ordem_classificacao_gestao' cal.id %}">Alterar</a></p>
                                {% endif %}
                            </td>
                        {% else %}
                            <td>
                                <p>{{ cal.ordem_classificacao_resultado_final_gestao|format }}</p>
                                {% if pode_calcular_processamento %}
                                    <p><a class="btn" href="{% url 'editar_ordem_classificacao_gestao' cal.id %}">Alterar</a></p>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </body>
        </table>
    </div>
