<table>
    <thead>
        <tr>
            <th class="no-print">Ações</th>
            <th>Curso/Ação</th>
            <th>Situação</th>
            <th>Data de Cadastro</th>
            <th>Parcelas Solicitadas</th>

            {% if not edital.processamento_externo %}
                <th>Aprovado no Resultado Parcial</th>
            {% endif %}

            <th>Aprovado no Resultado Final</th>
            <th>Aprovado em Definitivo</th>
        </tr>
    </thead>
    <tbody>
        {% for p in meus_pedidos %}
            <tr>
                <td class="no-print">
                    {% icon "view" "/licenca_capacitacao/visualizar_pedido_servidor/{{ p.id }}" "Visualizar" %}
                </td>
                <td>{{ p.acao|format }}</td>
                <td>{{ p.situacao_atual_str|status }}</td>
                <td>{{ p.data_cadastro|format }}</td>
                <td>{{ p.get_lista_periodos_pedido_html|format }}</td>
                {% if not edital.processamento_externo %}
                    <td>
                        {{ p.aprovado_resultado_parcial|format }}
                    </td>
                {% endif %}
                <td>{{ p.aprovado_resultado_final|format }}</td>
                <td>{{ p.aprovado_em_definitivo|format }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
