{% extends super_template %}



{% block content %}

    <ul class="action-bar">
        {% if pode_cadastrar %}
            <li><a class="btn success" href="/licenca_capacitacao/cadastrar_servidor_complementar/{{ edital.id }}/">
                Adicionar servidor complementar
            </a></li>
        {% endif %}

        <li><a class="btn" href="/licenca_capacitacao/visualizar_edital_gestao/{{ edital.id }}/">Voltar para o edital</a></li>
    </ul>

    {% box "Servidores complementares deste edital ({{ servidores_complementares.count  }})" %}
       {% if servidores_complementares %}
            <table>
                <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Data de cadastro</th>
                        <th>Justificativa</th>
                        {% if pode_cadastrar %}
                            <th class="no-print">Opções</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for s in servidores_complementares %}
                        <tr>
                            <td>
                                {{ s.servidor.matricula }}
                            </td>
                            <td>
                                {{ s.servidor.nome }}
                            </td>
                            <td>
                                {{ s.get_categoria_display }}
                            </td>
                            <td>
                                {{ s.data_cadastro }}
                            </td>
                            <td>
                                {{ s.justificativa }}
                            </td>
                            {% if pode_cadastrar %}
                                <td class="no-print">

                                    <ul class="action-bar">
                                        <li>
                                            <a class="btn danger confirm"
                                               href="/licenca_capacitacao/excluir_servidor_complementar/{{ s.edital.id }}/{{ s.id }}/"
                                               data-confirm="Você tem certeza que deseja excluir um servidor complementar?">
                                                Excluir
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="msg alert">Nenhum servidor complementar.</p>
        {% endif %}
    {% endbox %}

    {% box "Servidores ({{ servidores.count  }})" %}
        {% if servidores %}
            <table>
                <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                {% autopaginate servidores 25 %}
                {% paginate %}
                <tbody>
                    {% for s in servidores %}
                        <tr>
                            <td>
                                {{ s.matricula }}
                            </td>
                            <td>
                                {{ s.nome }}
                            </td>
                            <td>
                                {{ s.categoria_display }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="msg alert">Nenhum servidor.</p>
        {% endif %}

    {% endbox %}



{% endblock %}
