{% extends super_template %}

{% block content %}

<div class="search-and-filters">
    {% render_form form %}
</div>

<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>Mês</th>
                <th>Categorias</th>
                {% for dia in 1|range:32 %}
                    <th>{{ dia }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for am in lista_ano_mes %}
                <tr>
                    <td rowspan="3">{{ am.data|date:"F" }}/{{ am.ano }}</td>
                    <td>Técnicos administrativos</td>
                    {% for d in am.dias %}
                        <td>
                            <a href="/licenca_capacitacao/visualizar_servidores_por_dia/{{ d.dia }}{{ am.mes }}{{ am.ano }}">
                                {{ d.qtd_taes }}
                            </a>
                        </td>
                    {% endfor %}
                    {% if am.faltam_para_31dias %}
                        <td colspan="{{ am.faltam_para_31dias }}">&nbsp;</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Docentes</td>
                    {% for d in am.dias %}
                        <td>
                            <a href="/licenca_capacitacao/visualizar_servidores_por_dia/{{ d.dia }}{{ am.mes }}{{ am.ano }}">
                                {{ d.qtd_docentes }}
                            </a>
                        </td>
                    {% endfor %}
                    {% if am.faltam_para_31dias %}
                        <td colspan="{{ am.faltam_para_31dias }}">&nbsp;</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Total</td>
                    {% for d in am.dias %}
                        <td>
                            <a href="/licenca_capacitacao/visualizar_servidores_por_dia/{{ d.dia }}{{ am.mes }}{{ am.ano }}">
                                {{ d.qtd_total }}
                            </a>
                        </td>
                    {% endfor %}
                    {% if am.faltam_para_31dias %}
                        <td colspan="{{ am.faltam_para_31dias }}">&nbsp;</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
