{% extends super_template %}

{% block action-bar %}
<ul class="action-bar">
    {% if pode_regerar_dados_processamento %}
        <li>
            <a class="btn success confirm" href="{% url 'regerar_dados_processamento' processamento.id %}">
                Regerar Dados de Processamento
            </a>
        </li>
    {% endif %}
    {% if pode_calcular_processamento %}
        <li>
            <a class="btn success confirm" href="{% url 'calcular_processamento' processamento.id %}">
                Calcular
            </a>
        </li>
    {% endif %}
    {% if pode_finalizar_processamento %}
        <li>
            <a class="btn success confirm" href="{% url 'finalizar_processamento' processamento.id %}">
                Finalizar
            </a>
        </li>
    {% endif %}
    {% if pode_desfinalizar_processamento %}
        <li>
            <a class="btn success confirm" href="{% url 'desfinalizar_processamento' processamento.id %}">
                Desfinalizar
            </a>
        </li>
    {% endif %}
    {% if pode_definir_processamento_definitivo %}
        <li>
            <a class="btn success confirm" href="{% url 'definir_processamento_definitivo' processamento.id %}">
                Tornar Definitivo
            </a>
        </li>
    {% endif %}
    {% if eh_gestao %}
        <li><a class="btn" href="{% url 'visualizar_edital_gestao' edital.id %}">Voltar para o Edital</a></li>
        <li>
            <a class="btn default" href="{% url 'admin:licenca_capacitacao_pedidoliccapacitacao_changelist' %}?edital__id__exact={{ edital.id }}">
                Visualizar Pedidos do Edital
            </a>
        </li>
    {% endif %}
    {% if pode_desfazer_definir_processamento_definitivo %}
        <li>
            <a class="btn danger confirm" href="{% url 'desfazer_definir_processamento_definitivo' processamento.id %}">
                Desfazer Processamento Definitivo
            </a>
        </li>
    {% endif %}
    {% if pode_cancelar_processamento %}
        <li>
            <a class="btn danger confirm" href="{% url 'cancelar_processamento' processamento.id %}">
                Cancelar
            </a>
        </li>
    {% endif %}
    {% if pode_descancelar_processamento %}
        <li>
            <a class="btn danger confirm" href="{% url 'descancelar_processamento' processamento.id %}">
                Descancelar
            </a>
        </li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}

    {% box "Edital" "collapsed" %}
        {% include "include_dados_edital.html" %}
    {% endbox %}

    {% box "Processamento" %}
        <dl class="definition-list flex">
            <div class="list-item flex-basis-50">
                <dt>Edital</dt>
                <dd>{{ processamento.edital }}</dd>
            </div>
            <div class="list-item">
                <dt>Finalizado</dt>
                <dd>{{ processamento.finalizado|format }}</dd>
            </div>
            <div class="list-item">
                <dt>Cancelado</dt>
                <dd>{{ processamento.cancelado|format }}</dd>
            </div>
            <div class="list-item">
                <dt>Data/Hora de Cadastro</dt>
                <dd>{{ processamento.data_hora_cadastro|format }}</dd>
            </div>
            <div class="list-item">
                <dt>Data/Hora de Finalização</dt>
                <dd>{{ processamento.data_hora_finalizacao|format }}</dd>
            </div>
            <div class="list-item">
                <dt>Tipo</dt>
                <dd>{{ processamento.get_tipo_processamento_display|format }}</dd>
            </div>
            <div class="list-item">
                <dt>Definitivo</dt>
                <dd>{{ processamento.definitivo|format }}</dd>
            </div>
        </dl>
    {% endbox %}

    {% box "Planilha de Resultado - Técnicos Administrativos" %}
        {% if existe_empate_taes %}
            <p class="msg alert">Existe empate na planilha de Técnicos-Administrativos.</p>
        {% endif %}
        {% if dados_processamento_taes %}
            {% include "include_lista_dados_processamento.html" with dados_processamento=dados_processamento_taes %}
        {% else %}
            <p class="msg alert">Não existem dados.</p>
        {% endif %}
    {% endbox %}

    {% box "Planilha de Resultado - Docentes" %}
        {% if existe_empate_docentes %}
            <p class="msg alert">Existe empate na planilha de Docentes.</p>
        {% endif %}
        {% if dados_processamento_docentes %}
            {% include "include_lista_dados_processamento.html" with dados_processamento=dados_processamento_docentes %}
        {% else %}
            <p class="msg alert">Não existem dados.</p>
        {% endif %}
    {% endbox %}

{% endblock %}
