{% extends super_template %}

{% block content %}

    {% box "{{ lista.count }} servidores no SIAPE" %}
        {% if lista %}
        <table>
            <thead>
                <tr>
                    <th>Servidor</th>
                    <th>Categoria</th>
                    <th>Data de Início</th>
                    <th>Data de Término</th>
                </tr>
            </thead>
            <tbody>
                {% for e in lista %}
                    <tr>
                        <td>{{ e.servidor }}</td>
                        <td>
                            {% if e.servidor.eh_docente %}
                                Docente
                            {% elif e.servidor.eh_tecnico_administrativo %}
                                Técnico administrativo
                            {% endif %}
                        </td>
                        <td>{{ e.data_inicio }}</td>
                        <td>{{ e.data_termino }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="msg alert">Nenhum servidor encontrado.</p>
        {% endif %}
    {% endbox %}

    {% box "{{ licenciados_suap.count }} servidores no SUAP" %}
        {% if licenciados_suap %}
        <table>
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Servidor</th>
                    <th>Parcelas</th>
                </tr>
            </thead>
            <tbody>
                {% for e in licenciados_suap %}
                    <tr>
                        <td>
                            {% if e.servidor.eh_docente %}
                                Docente
                            {% elif e.servidor.eh_tecnico_administrativo %}
                                Técnico administrativo
                            {% endif %}
                        </td>
                        <td>{{ e.servidor }}</td>
                        <td>{{ e.get_lista_periodos_pedido|format }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="msg alert">Nenhum servidor encontrado.</p>
        {% endif %}
    {% endbox %}

{% endblock %}
