{% extends super_template %}


{% block content %}

    <div class="search-and-filters">
        {% render_form form %}
    </div>

    {% if lista_acessos %}

        {% autopaginate lista_acessos 20 %}
        {% paginate %}

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Foto</th>
                <th>Nome</th>
                <th>Campus</th>
                <th>Objetivo</th>
                <th>Crachá</th>
                <th>Entrada</th>
                <th>Saída</th>
                <th>Chave de acesso o wi-fi</th>
            </tr>
            </thead>
            <tbody>
            {% for acesso in lista_acessos %}
                <tr>
                    <td>{{ acesso.pk }}</td>

                    {% if acesso.is_interno %}
                        <td><img class="foto-miniatura" src="{{ acesso.vinculo.pessoa.pessoafisica.get_foto_75x100_url }}"/>
                        <td>
                            <dl>
                                <dd>{{ acesso.vinculo.pessoa|format }}</dd>
                                <dt>Matrícula:</dt>
                                <dd>{{ acesso.get_matricula }}</dd>
                                <dt>E-mail:</dt>
                                <dd>{{ acesso.vinculo.pessoa.email|format }}</dd>
                                <dt>Vínculo:</dt>
                                <dd>{{ acesso.vinculo.get_relacionamento_title|title }}</dd>
                            </dl>
                        </td>
                    {% else %}
                        <td><img class="foto-miniatura" src="{{ acesso.pessoa_externa.get_foto_75x100_url }}"/>
                        <td>
                            <dl>
                                <dd><a class="popup"
                                       href="/portaria/visualizar_pessoa_externa/{{ acesso.pessoa_externa.id }}">{{ acesso.pessoa_externa|title }}</a>
                                </dd>
                                <dt>RG:</dt>
                                <dd>{{ acesso.pessoa_externa.get_rg }}</dd>
                                <dt>CPF:</dt>
                                <dd>{{ acesso.pessoa_externa.get_cpf }}</dd>
                                <dt>E-mail:</dt>
                                <dd>{{ acesso.pessoa_externa.email|format }}</dd>
                                <dt>Vínculo:</dt>
                                <dd>Nenhum</dd>
                            </dl>
                        </td>
                    {% endif %}
                    <td>{{ acesso.local_acesso.nome }}</td>
                    <td>{{ acesso.objetivo | capfirst }}</td>
                    <td>{{ acesso.cracha }}</td>
                    <td>
                        <dl>
                            <dt>Data:</dt>
                            <dd>{{ acesso.data_hora_entrada }}</dd>
                            <dt>Registrada por:</dt>
                            <dd>{{ acesso.user_entrada.get_profile.nome }} - {{ acesso.user_entrada.username }}</dd>
                        </dl>
                    </td>
                    {% if acesso.data_hora_saida %}
                        <td>
                            <dl>
                                <dt>Data:</dt>
                                <dd>{{ acesso.data_hora_saida }}</dd>
                                <dt>Registrada por:</dt>
                                <dd>{{ acesso.user_saida.get_profile.nome }} - {{ acesso.user_saida.username }}</dd>
                            </dl>
                        </td>
                    {% else %}
                        <td>
                            <a class="btn success popup"
                               href="/portaria/cadastrar_baixa_em_acesso/?ida={{ acesso.id }}">Registrar Saída</a>
                        </td>
                    {% endif %}
                    {% if acesso.chave_wifi %}
                        <td>
                            <dl>
                                <dd>{{ acesso.chave_wifi }}</dd>
                                <dt>Data:</dt>
                                <dd>{{ acesso.data_geracao_chave_wifi }}</dd>
                                <dt>Gerada por:</dt>
                                <dd>{{ acesso.user_geracao_chave_wifi.get_profile.nome }}
                                    - {{ acesso.user_geracao_chave_wifi.username }}</dd>
                            </dl>
                        </td>
                    {% else %}
                        {% if acesso.data_hora_saida %}
                            <td>Não gerada</td>
                        {% else %}
                            <td>
                                <a class="btn popup" href="/portaria/registrar_chave_wifi/?ida={{ acesso.id }}">Gerar
                                    chave</a>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p class="msg alert">Nenhum acesso encontrado.</p>
    {% endif %}

{% endblock %}
