{% if solicitacoes %}
    <table>
        <thead>
            <tr>
                <th>Solicitante</th>
                <th>Solicitação</th>
                <th>Cadastro</th>
                <th>Parecer</th>
                <th>Justificativa</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitacao in solicitacoes %}
                <tr>
                    <td>{{ solicitacao.solicitante }}</td>
                    <td>{{ solicitacao.solicitacao }}</td>
                    <td>{{ solicitacao.data_solicitacao }}</td>
                    <td>{{ solicitacao.parecer }}</td>
                    <td>{{ solicitacao.justificativa|default:'-' }}</td>
                    <td>{% if solicitacao.em_espera %}<a href="{% url 'pdi_solicitacao_parecer' pdi.id solicitacao.id %}" class="btn popup">Parecer</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
        <p class="msg alert">Nenhum solicitação cadastrada.</p>
{% endif %}