{% if user|in_group:"Administrador de Planejamento Institucional" %}
    <ul class="action-bar">
        <li><a class="btn success popup" href="{% url 'pdi_macroprocessos_associar' pdi.pk %}">Associar Macroprocessos ao PDI</a></li>
    </ul>
{% endif %}

{% if macroprocessos_pdi %}
    <table>
        <thead>
            <tr>
                <th>Macroprocesso</th>
                <th>Dimensão</th>
            </tr>
        </thead>
        <tbody>
            {% for item in macroprocessos_pdi %}
                <tr>
                    <td>{{ item }}</td>
                    <td>{{ item.macroprocesso.dimensao }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
	<p class="msg alert">Não existem macroprocessos associadas a este PDI.</p>
{% endif %}
