{% extends super_template %}

{% block content %}
    {{ block.super }}

    <ul class="action-bar">
        <li><a href="{% url 'pdi_view' pdi.pk %}?tab=objetivo_estrategico#macro_{{ macroprocesso.id }}" class="btn">Voltar para o PDI</a></li>
    </ul>

	{% box "Objetivo estratégico" %}
        <table class="info">
            <tr>
                <td class="negrito">Macroprocesso</td>
                <td>{{ macroprocesso }}</td>
            </tr>
            <tr>
                <td class="negrito">Objetivo Estratégico</td>
                <td>{{ objetivo }}</td>
            </tr>
            <tr>
                <td>Meta</td>
                <td>{{ meta }}</td>
            </tr>
            <tr>
                <td>Responsável</td>
                <td>{{ meta.responsavel }}</td>
            </tr>
        </table>
	{% endbox %}

    {% box "Indicadores" %}
        <ul class="action-bar">
            <li><a href="{% url 'pdi_meta_indicador_add' pdi.pk meta.pk %}" class="btn success popup">Incluir Indicador</a></li>
        </ul>

        {% if indicadores.exists %}
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Denominação</th>
                        <th>Critério de análise</th>
                        <th>Valor inicial</th>
                        <th>Valor Final</th>
                    </tr>
                </thead>
                <tbody>
                {% for indicador in indicadores %}
                    <tr>
                        <td><a href="{% url 'pdi_meta_indicador_change' pdi.pk meta.pk indicador.pk %}" class="popup icon icon-edit"><span class="sr-only">Editar Meta</span></a></td>
                        <td>{{ indicador.denominacao }}</td>
                        <td>{{ indicador.criterio_analise }}</td>
                        <td>{{ indicador.valor_fisico_inicial }}</td>
                        <td>{{ indicador.valor_fisico_final }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
        	<p class="msg alert">Não existem indicadores para essa meta.</p>
        {% endif %}

	{% endbox %}

{% endblock %}