{% if user|in_group:"Administrador de Planejamento Institucional" %}
    <ul class="action-bar">
        <li><a href="{% url 'pdi_unidadeadministrativa_add' pdi.pk %}" class="btn primary success popup">Incluir Unidade Administrativa</a></li>
    </ul>
{% endif %}
{% if uas.exists %}
    <table>
        <thead>
            <tr>
                {% if user|in_group:"Administrador de Planejamento Institucional" %}
                    <th>#</th>
                {% endif %}
                <th>Tipo</th>
                <th>Setor</th>
                <th>Setores Participantes</th>
            </tr>
        </thead>
        <tbody>
        {% for ua in uas %}
            <tr>
                {% if user|in_group:"Administrador de Planejamento Institucional" %}
                    <td>
                        <a href="{% url 'pdi_unidadeadministrativa_change' pdi.pk ua.pk %}" class="popup icon icon-edit"><span class="sr-only">Editar Unidade Administrativa</span></a>
                        <a href="{% url 'pdi_unidadeadministrativa_delete' pdi.pk ua.pk %}" class="icon icon-delete"><span class="sr-only">Excluir Unidade Administrativa</span></a>
                    </td>
                {% endif %}
                <td>{{ ua.tipo }}</td>
                <td>{{ ua.setor_equivalente }}</td>
                <td>
                    {% for setor in ua.setores_participantes.all %}
                        {{ setor }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="msg alert">Não existem unidades administrativas cadastradas.</p>
{% endif %}
