<!-- <ul class="pills"> -->
    {# for dimensao in dados.keys #}
    	<!-- <li><a>{{ dimensao }}</a></li> -->
    {# endfor #}
<!-- </ul> -->

{% if planos_acao.exists %}
	{% for plano_acao in planos_acao %}
		{% box 'Plano de Ação - {{ plano_acao.ano_base.ano }}' %}
			<dl>
				<dt>Data Inicial:</dt>
	            <dd>{{ plano_acao.data_geral_inicial }}</dd>
	            <dt>Data Final:</dt>
	            <dd>{{ plano_acao.data_geral_final }}</dd>
    		</dl>
			{% for dimensao, macroprojetos in dados.items %}
			    {% for macroprojeto in macroprojetos %}
			    	<h4>{{ dimensao }} - {{ macroprojeto.nome }}</h4>
			    	{% if macroprojeto.objetivos %}
			        	{% for objetivo in macroprojeto.objetivos %}  
					        <div class="general-box">
		                		<div class="primary-info">
					        		<h5>{{ objetivo.descricao }}</h5>
									{% if user|in_group:"Coordenador de Planejamento Institucional Sistêmico, Administrador de Planejamento Institucional" %}
										<ul class="action-bar">
											<li><a href='{% url "plan_add_metapa" plano_acao.id  objetivo.id %}' class="btn popup success">Adicionar Meta do Plano de Ação</a></li>
										</ul>
									{% endif %}
							        {% if objetivo.metas %}
						                <table>
						                    <thead>
						                        <tr>
						                        	<th>#</th>
						                            <th>Meta</th>
						                            <th>Esperado</th>
						                            <th class="no-print">Opções</th>
						                        </tr>
						                    </thead>
						                    <tbody>
						                    	{% for meta in objetivo.metas %}
						                    		{% for metapa in meta.metaspa %}
								                        <tr>
								                        	<td>{{ forloop.counter }}</td>
								                            <td>{{ metapa.meta}}</td>
								                            <td>{{ metapa.esperado }}</td>
								                            <td class="no-print">
									                            {% if user|in_group:"Coordenador de Planejamento Institucional Sistêmico, Administrador de Planejamento Institucional" %}
													            	<a href='{% url "plan_meta_unidade_administrativa" metapa.id %}' class="btn">Associar Meta a Unidades Administrativas</a>
													            {% endif %}
												            </td>
								                        </tr>
						           					{% endfor %}
						              			{% endfor %}
						                    </tbody>	
						                </table>
					                {% else %}
							        	<p class="msg alert">Nenhuma meta do plano de ação cadastrada para este objetivo estratégico.</p>
							        {% endif %}
					            </div>
					        </div>
	        			{% endfor %}
	        		{% else %}
			        	<p class="msg alert">Nenhuma informação cadastrada.</p>
			        {% endif %}
            	{% endfor %}
            {% endfor %}
		{% endbox %}
    {% endfor %}
{% else %}
	<p class="msg alert">Nenhum plano de ação foi cadastrado para este PDI.</p>      
{% endif %}
