{% extends 'planoacao_view.html' %}

{% block tabs %}
    {% if perms.plan_v2.pode_ver_planoacao_origemrecurso %}
        <div class="tab-container ajax-rendered" data-title="Origens de Recurso" data-tab="origem_recurso">
            {% include "planoacao_sistemico_origem_recurso.html" %}
        </div>
    {% endif %}

    {% if perms.plan_v2.pode_ver_planoacao_naturezadespesapa %}
        <div class="tab-container ajax-rendered" data-title="Naturezas de Despesa" data-tab="natureza_despesa">
            {% include "planoacao_sistemico_natureza_despesa.html" %}
        </div>
    {% endif %}

    {% if perms.plan_v2.pode_ver_planoacao_objetivoestrategico %}
        <div class="tab-container ajax-rendered" data-title="Objetivos Estratégicos/Metas" data-tab="meta">
            {% include "planoacao_sistemico_metas.html" %}
        </div>

        <div class="tab-container ajax-rendered" data-title="Validação" data-tab="validacao">
            {% include "planoacao_sistemico_validacao.html" %}
        </div>
    {% endif %}

    <div class="tab-container ajax-rendered" data-title="Solicitações" data-tab="solicitacoes">
        {% include "geral_solicitacao.html" %}
    </div>
{% endblock %}
