{% extends super_template %}

{% block content %}

{% if dimensao %}
    {% for dimensao, macroprocessos in dimensao_dict.items %}
        {% box "{{ dimensao }}" %}
            {% for macroprocesso in macroprocessos %}
                <h4>{{ macroprocesso.titulo }}</h4>
                {% for objetivo in macroprocesso.objetivos %}
                    <h5>{{ objetivo.titulo }}</h5>
                    {% for meta in objetivo.metas %}
                        <h6>{{ meta.titulo }}</h6>
                        <table>
                            <thead>
                                <tr>
                                    <th width="90%">Ação</th>
                                    <th class="text-end">Valor Planejado</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for acao in meta.acoes %}
                                    <tr>
                                        <td>{{ acao.codigo }} - {{ acao.titulo }}</td>
                                        <td class="text-end">R$ {{ acao.valor|format }}</td>
                                    </tr>
                                    {% if acao.atividades %}
                                        <tr>
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Atividade</th>
                                                        <th>Natureza de despesa</th>
                                                        <th>Origem Recurso</th>
                                                        <th>Observação</th>
                                                        <th>Valor </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for atividade in acao.atividades %}
                                                        <tr>
                                                            <td>{{ atividade }}</td>
                                                            <td>{{ atividade.natureza_despesa|format }}</td>
                                                            <td class="text-center">{{ atividade.origem_recurso|format }}</td>
                                                            <td> {{ atividade.observacao|format}} </td>
                                                            <td class="text-end">{{ atividade.valor|default:"0"|mascara_dinheiro }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endbox %}
    {% endfor %}
{% else %}
    <p class="msg info">O Plano de Ação não definido.</p>
{% endif %}

{% endblock %}

