{% block extrahead %}
    <script src="/static/plan_v2/js/pills.js"></script>
{% endblock %}

{% if perms.plan_v2.pode_importar_objetivoestrategico %}
    <ul class="action-bar">
        <li><a href="{% url 'pas_importar_objetivos' plano_acao.pk %}" class="btn success popup">Importar Objetivos Estratégicos</a></li>
    </ul>
{% endif %}

<ul class="pills">
    <li data-pill="todos_itens" class="active"><a href="#">Todas as dimensões</a></li>
    {% for dimensao in dimensoes.keys %}
        <li data-pill="{{ dimensao|slugify }}"><a href="#">{{ dimensao }}</a></li>
    {% endfor %}
</ul>

{% if dimensoes %}
    {% for dimensao, dados_dim in dimensoes.items %}
        <div class='pill' id="{{ dimensao|slugify }}">
            {% for macroprocesso in dados_dim.macroprocessos %}
                {% box '{{ dimensao.codigo_completo }} {{ dimensao }} - {{ macroprocesso.codigo_completo }} {{ macroprocesso.nome }}' '' 'macro_{{ macroprocesso.id }}' %}
                    {% for objetivo in macroprocesso.objetivos %}
                        <div class="general-box">
                            <div class="primary-info">
                                <h4>{{ objetivo.codigo_completo }} {{ objetivo.objetivo}}</h4>
                                <div class="extra-info">
                                    {% if objetivo.metas %}
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Meta</th>
                                                    <th class="no-print">Opções</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for meta in objetivo.metas %}
                                                    <tr>
                                                        <td>{{ meta.codigo_completo }} {{ meta.titulo }}</td>
                                                        <td class="no-print"><a href="{% url 'pas_indicadores_detalhar' plano_acao.pk meta.id %}" class="btn default">Detalhamento</a></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <p class="msg alert">Nenhum meta cadastrada.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endbox %}
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
    <p class="msg alert">Nenhum objetivo estratégico importado.</p>
{% endif %}

