{% extends super_template %}

{% block content %}
    {{ block.super }}

    <ul class="action-bar">
        <li><a href="{% url 'planoacao_sistemico_view' plano_acao.pk %}?tab=meta#macro_{{ objetivo.pdi_macroprocesso.id }}" class="btn">Voltar para o Plano de Ação</a></li>
    </ul>

	{% box "Objetivo estratégico" %}
        <table class="info">
            <tr>
                <td>Macroprocesso</td>
                <td>{{ objetivo.pdi_macroprocesso }}</td>
            </tr>
            <tr>
                <td>Objetivo</td>
                <td>{{ objetivo }}</td>
            </tr>
            <tr>
                <td>Meta</td>
                <td>{{ meta_pa.meta }}</td>
            </tr>
            <tr>
                <td>Responsável</td>
                <td>{{ meta_pa.meta.responsavel }}</td>
            </tr>
        </table>
	{% endbox %}

    {% box "Indicadores" %}
        {% if indicadores_pa.exists %}
            <table>
                <thead>
                    <tr>
                        {% if not eh_auditor %}
                            <th>#</th>
                        {% endif %}
                        <th>Denominação</th>
                        <th>Critério de análise</th>
                        <th>Valor inicial do PDI</th>
                        <th>Valor Final do PDI</th>
                        <th>Tipo de Composição</th>
                        <th>Valor para o plano</th>
                        {% if not eh_auditor %}
                            <th class="no-print">Opções</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for indicador_pa in indicadores_pa %}
                    <tr>
                        {% if not eh_auditor %}
                            <td><a href="{% url 'pas_indicadores_alterar' plano_acao.pk indicador_pa.id %}" class="popup icon icon-edit"><span class="sr-only">Editar Meta</span></a></td>
                        {% endif %}
                        <td>{{ indicador_pa.indicador.denominacao }}</td>
                        <td>{{ indicador_pa.indicador.criterio_analise }}</td>
                        <td>{{ indicador_pa.indicador.valor_fisico_inicial|format }}</td>
                        <td>{{ indicador_pa.indicador.valor_fisico_final|format }}</td>
                        <td>{{ indicador_pa.tipo_composicao }}</td>
                        <td>{{ indicador_pa.valor_inicial|format }}</td>
                        {% if not eh_auditor %}
                            <td class="no-print"><a href="{% url 'pas_indicadores_ua__alterar' plano_acao.pk indicador_pa.id %}" class="btn popup">Rateio da meta</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
        	<p class="msg alert">Não existem indicadores para essa meta.</p>
        {% endif %}

	{% endbox %}

    {% box "Ações" %}
        {% if pode_vincular_acao %}
            <ul class="action-bar">
                <li><a href="{% url 'pas_indicadores_acao_vincular' plano_acao.pk meta_pa.pk %}" class="btn popup success">Vincular Ação</a></li>
            </ul>
        {% endif %}
        {% if acoes_indicadas %}
            <table>
                <thead>
                    <tr>
                        <th>Ação</th>
                        <th>Unid. Adm.</th>
                        <th class="no-print">Opções</th>
                    </tr>
                </thead>
                <tbody>
                {% for acao in acoes_indicadas %}
                    <tr>
                        <td>{{ acao.detalhamento }}</td>
                        <td>{{ acao.campi }}</td>
                        <td class="no-print">
                            {% if pode_vincular_acao or pode_desvincular_acao %}
                                <a href="{% url 'pas_indicadores_acao_desvincular' plano_acao.pk meta_pa.pk acao.id %}" class="btn popup">Vincular/Desvincular</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
        	<p class="msg alert">Não existem ações vinculadas.</p>
        {% endif %}

	{% endbox %}

{% endblock %}