{% extends super_template %}

{% block content %}

<div class="search-and-filters">
    <form class="pesquisa_campus" method="post">
        <div class="filter filter-large-select">
            {% csrf_token %}
            {{ campus_form }}
        </div>
    </form>
</div>

{% if mensagem %}
	<p class="msg alert">{{ mensagem }}</p>
{% else %}
{% if dimensao %}
    {% for dimensao, dados in dimensao_dict.items %}
        {% box "Dimensão: {{ dimensao }} - R$ {{ dados.1|format }}" %}
            {{ macroprocessos }}
            {% for macroprocesso in dados.0 %}
                <div class="general-box">
                    <div class="primary-info">
                        <h4>Macroprocesso: <strong>{{ macroprocesso.titulo }} - R$ {{ macroprocesso.valor|format }}</strong></h4>
                        <div class="extra-info">
                            {% for objetivo in macroprocesso.objetivos %}
                                <h5>Objetivo Estratégico: <strong>{{ objetivo.titulo }} - R$ {{ objetivo.valor|format }}</strong></h5>
                                <ol>
                                    {% for meta in objetivo.metas %}
                                        <ul>
                                            <li>
                                            <h6>Meta: {{ meta.titulo }} - R$ {{ meta.valor|format}}</h6>
                                            <ul>
                                                {% for acao in meta.acoes %}
                                                    <li>
                                                        Ação: {{ acao.codigo }} - {{ acao.titulo }} - R$ {{ acao.valor|format}}
                                                        {% if acao.atividades %}
                                                            <table>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Atividade</th>
                                                                        <th>Setores Responsáveis</th>
                                                                        <th>Natureza de despesa</th>
                                                                        <th>Origem Recurso</th>
                                                                        <th>Observação</th>
                                                                        <th>Valor </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for atividade in acao.atividades %}
                                                                        <tr>
                                                                            <td>{{ atividade }}</td>
                                                                            <td>
                                                                                {% if acao.setores_responsaveis %}
                                                                                    {% for setor in acao.setores_responsaveis %}
                                                                                        {{ setor }}
                                                                                    {% endfor %}
                                                                                {% else %}
                                                                                    -
                                                                                {% endif %}
                                                                            </td>
                                                                            <td>{{ atividade.natureza_despesa|format }}</td>
                                                                            <td class="text-center">{{ atividade.origem_recurso|format }}</td>
                                                                            <td> {{ atividade.observacao|format}} </td>
                                                                            <td class="text-end">{{ atividade.valor|default:"0"|mascara_dinheiro }}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            </li>
                                        </ul>
                                    {% endfor %}
                                </ol>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endbox %}
    {% endfor %}
{% else %}
    <p class="msg info">O Plano de Ação não definido.</p>
{% endif %}
{% endif %}

{% endblock %}
