{% extends super_template %}

{% block content %}

<div class="search-and-filters">
    <form class="pesquisa_campus" method="post">
        <div class="filter filter-large-select">
            {% csrf_token %}
            {{ campus_form }}
        </div>
    </form>
</div>

{% if mensagem %}
	<p class="msg alert">{{ mensagem }}</p>
{% else %}
    {% if dados %}
        <table>
            <thead>
                <tr>
                    <th>Origem Recurso</th>
                    <th>Valor Custeio</th>
                    <th>Valor Capital</th>
                </tr>
            </thead>
            <tbody>
                {% for dado in dados %}
                    <tr>
                        <td>{{ dado.origem_recurso|format }}</td>
                        <td class="text-end">{{ dado.valor_custeio|default:"0"|mascara_dinheiro }}</td>
                        <td class="text-end">{{ dado.valor_capital|default:"0"|mascara_dinheiro }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        	<p class="msg alert"> Nenhuma Origem de Recurso encontrada para a Unidade Administrativa selecionada.</p>
    {% endif %}
{% endif %}
{% endblock %}