{% extends super_template %}

{% block content %}

<div class="search-and-filters">
    <form class="pesquisa_campus" method="post">
        <div class="filter filter-large-select">
            {% csrf_token %}
            {{ campus_form }}
        </div>
    </form>
</div>

{% if mensagem %}
	<p class="msg alert">{{ mensagem }}</p>
{% else %}
    {% if dados %}
                <table>
                    <thead>
                        <tr>
                            <th>Natureza de Despesa</th>
                            <th>Valor </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                            <tr>
                                <td>{{ dado.natureza_despesa|format }}</td>
                                <td class="text-end">{{ dado.total|default:"0"|mascara_dinheiro }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
    {% else %}
        	<p class="msg alert"> Nenhuma Natureza de Despesa encontrada para a Unidade Administrativa selecionada.</p>
    {% endif %}
{% endif %}
{% endblock %}