{% extends super_template %}

{% block content %}

    <h3>Ação de desenvolvimento</h3>
    <table class="info">
        <tr><td>Área Temática</td><td>{{resposta.area_tematica|format}}</td></tr>
        <tr><td>Necessidade</td><td>{{resposta.necessidade|format}}</td></tr>
        <tr><td>Ação Transversal</td><td>{{resposta.get_acao_transversal_display|format}}</td></tr>
        <tr><td>Unidades Organizacionais</td><td>Todas ({% get_valor_por_chave "comum" "instituicao_sigla" %})</td></tr>
        <tr><td>Competência Associada</td><td>{{resposta.competencia_associada|format}}</td></tr>
        <tr><td>Enfoque do Desenvolvimento</td><td>{{resposta.enfoque_desenvolvimento|format}}</td></tr>
        <tr><td>Tipo de Aprendizagem</td><td>{{resposta.tipo_aprendizagem|format}}</td></tr>
        <tr><td>Especificação de Tipo de Aprendizagem</td><td>{{resposta.especificacao_tipo_aprendizagem|format}}</td></tr>
        <tr><td>Modalidade</td><td>{{resposta.get_modalidade_display|format}}</td></tr>
        <tr><td>Ano</td><td>{{resposta.ano_termino_acao|format}}</td></tr>
    </table>

    <h3>Custos desta ação</h3>
    <table class="info">
        <tr><td>Possui ônus?</td><td>{{resposta.get_onus_inscricao_display}}</td></tr>
    </table>

    {% comment %}
    <h3>Centro de Formação de Servidores - CFS</h3>
    <table class="info">
        <tr><td>Pode ser atendida pelo CFS?</td><td>{{resposta.get_atendida_pelo_cfs_display|format}}</td></tr>
    </table>
    {% endcomment %}

{% endblock %}
