{% extends super_template %}

{% load template_filters %}

{% block content %}

    {% if relatorio %}
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Campus</th>
                        <th class="text-center">Pendentes</th>
                        <th class="text-center">Deferidos</th>
                        <th class="text-center">Indeferidos</th>
                        <th class="text-center">Aprovados</th>
                        <th class="text-center">Reprovados</th>
                        <th class="text-center">Homologados</th>
                        <th class="text-center">Rejeitados</th>
                        <th class="text-center">Total</th>
                        <th>Fase</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in relatorio %}
                        <tr>
                            <td>
                                {{ r|get_item:'campus' }}
                            </td>
                            <td class="text-center">
                                {{ r|get_item:'pendentes' }}
                            </td>
                            <td class="text-center">
                                {{ r|get_item:'deferidas' }}
                            </td>
                            <td class="text-center">
                                {{ r|get_item:'indeferidas' }}
                            </td>
                            <td class="text-center">
                                {{ r|get_item:'aprovadas' }}
                            </td>
                            <td class="text-center">
                                {{ r|get_item:'reprovadas' }}
                            </td>
                            <td class="text-center">
                                {{ r|get_item:'homologadas' }}
                            </td>
                            <td class="text-center">
                                {{ r|get_item:'rejeitadas' }}
                            </td>
                            <td class="text-center">
                                {{ r|get_item:'total' }}
                            </td>
                            <td>
                                {% comment %}
                                {% if r|get_item:'pendentes' > 0 %}
                                    <span class="status status-inativa">Em Análise pela Comissão Local</span>
                                {% endif %}
                                {% if r|get_item:'pendentes' == 0 and r|get_item:'deferidas' > 0 %}
                                    <span class="status status-alert">Em Análise pela Autoridade Máxima</span>
                                {% endif %}
                                {% if r|get_item:'pendentes' == 0 and r|get_item:'deferidas' == 0 and r|get_item:'aprovadas' > 0 and r|get_item:'homologadas' == 0 %}
                                    <span class="status status-info">Aprovado pela Autoridade Máxima da Unidade</span>
                                {% endif %}
                                {% if r|get_item:'pendentes' == 0 and r|get_item:'deferidas' == 0 and r|get_item:'aprovadas' > 0 and r|get_item:'homologadas' > 0 %}
                                    <span class="status status-alert">Em Análise pelo Dirigente Máximo/Comissão Central</span>
                                {% endif %}
                                {% if r|get_item:'pendentes' == 0 and r|get_item:'deferidas' == 0 and r|get_item:'aprovadas' == 0 and r|get_item:'homologadas' > 0 %}
                                    <span class="status status-ativo">Aprovado pelo Dirigente Máximo</span>
                                {% endif %}
                                {% endcomment %}
                                {% if r|get_item:'pendentes' > 0 %}
                                    <span class="status status-inativa">Em Análise pela Comissão Local</span>
                                {% endif %}
                                {% if r|get_item:'pendentes' == 0 and r|get_item:'deferidas' > 0 %}
                                    <span class="status status-alert">Em Análise pela Comissão Sistêmica</span>
                                {% endif %}
                                {% if r|get_item:'pendentes' == 0 and r|get_item:'deferidas' == 0 and r|get_item:'aprovadas' > 0 and r|get_item:'homologadas' == 0 %}
                                    <span class="status status-info">Aprovado pela Comissão Sistêmica</span>
                                {% endif %}
                                {% if r|get_item:'pendentes' == 0 and r|get_item:'deferidas' == 0 and r|get_item:'aprovadas' > 0 and r|get_item:'homologadas' > 0 %}
                                    <span class="status status-alert">Em Análise pelo Reitor/Comissão Sistêmica</span>
                                {% endif %}
                                {% if r|get_item:'pendentes' == 0 and r|get_item:'deferidas' == 0 and r|get_item:'aprovadas' == 0 and r|get_item:'homologadas' > 0 %}
                                    <span class="status status-ativo">Aprovado pelo Reitor</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% if total %}
                    <tfoot>
                        <tr>
                            <td class="text-end">TOTAL GERAL</td>
                            <td class="text-center">
                                {{ total|get_item:'pendentes' }}
                            </td>
                            <td class="text-center">
                                {{ total|get_item:'deferidas' }}
                            </td>
                            <td class="text-center">
                                {{ total|get_item:'indeferidas' }}
                            </td>
                            <td class="text-center">
                                {{ total|get_item:'aprovadas' }}
                            </td>
                            <td class="text-center">
                                {{ total|get_item:'reprovadas' }}
                            </td>
                            <td class="text-center">
                                {{ total|get_item:'homologadas' }}
                            </td>
                            <td class="text-center">
                                {{ total|get_item:'rejeitadas' }}
                            </td>
                            <td class="text-center">
                                {{ total|get_item:'total' }}
                            </td>
                            <td class="text-start">
                                {% if total|get_item:'pendentes' == 0 and total|get_item:'deferidas' == 0 and total|get_item:'aprovadas' == 0 and total|get_item:'homologadas' > 0 %}
                                    {% comment %}
                                    <span class="status status-success">Aprovado pelo Dirigente Máximo</span>
                                    {% endcomment %}
                                    <span class="status status-success">Aprovado pela Comissão Sistêmica</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tfoot>
                {% endif %}
            </table>
        </div>
    {% else %}
        <p class="msg alert">Não há dados para carregar o relatório.</p>
    {% endif %}

{% endblock %}