{% extends super_template %}

{% block content %}
    {% box 'Dados Gerais' %}
        <table class="info">
            <tr>
                <td>PDP</td>
                <td>{{ resposta.pdp }}</td>
                <td>Servidor</td>
                <td>{{ resposta.servidor }}</td>
            </tr>
            <tr>
                <td>Setor Servidor</td>
                <td>{{ resposta.setor_servidor }}</td>
                <td>Função Servidor</td>
                <td>{{ resposta.funcao_servidor|format }}</td>
            </tr>
            <tr>
                <td>Situação</td>
                <td colspan="3">{{ resposta.status_formatado }}</td>
            </tr>
            {% if resposta.get_ultimo_status == 'indeferida' %}
                <tr>
                    <td>Justificativa</td>
                    <td colspan="3">{{ resposta.get_latest_historico_status.justificativa }}</td>
                </tr>
            {% endif %}
        </table>
    {% endbox %}

    {% box 'Ação de Desenvolvimento' %}
        <table class="info">
            <tr>
                <td>Qual a área que melhor identifica a temática relacionada a essa necessidade de desenvolvimento? (Macros)</td>
                <td>{{ resposta.enfoque_desenvolvimento|format }}</td>
            </tr>
            {% if resposta.enfoque_desenvolvimento.descricao == 'Outras não especificadas' %}
                <tr>
                    <td>Descreva quais são as outras necessidades de desenvolvimento não especificadas</td>
                    <td>{{ resposta.enfoque_outros|format }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>A ação de desenvolvimento para essa necessidade está relacionada a qual área temática dos Sistemas Estruturadores do Poder Executivo Federal?</td>
                <td>{{ resposta.area_tematica|format }}</td>
            </tr>
            <tr>
                <td>Que necessidade de desenvolvimento o Campus/Reitoria possui?</td>
                <td>{{ resposta.necessidade|format }}</td>
            </tr>
            <tr>
                <td>Essa necessidade servirá para e resultará em?</td>
                <td>{{ resposta.justificativa_necessidade|format }}</td>
            </tr>
            <tr>
                <td>Essa necessidade está associada a quais competências?</td>
                <td>{{ resposta.competencia_associada|format }}</td>
            </tr>
            <tr>
                <td>Essa necessidade de desenvolvimento é transversal, ou seja, comum a múltiplas unidades do {% get_valor_por_chave "comum" "instituicao_sigla" %}?</td>
                <td>{{ resposta.get_acao_transversal_display|format }}</td>
            </tr>
            <tr>
                <td>Qual o público-alvo da ação de desenvolvimento para essa necessidade?</td>
                <td>{{ resposta.publico_alvo|format }}</td>
            </tr>
            <tr>
                <td>Qual unidade funcional do {% get_valor_por_chave "comum" "instituicao_sigla" %} será beneficiada pela ação de desenvolvimento para essa necessidade?</td>
                <td>{{ resposta.setor_beneficiado|format }}</td>
            </tr>
            <tr>
                <td>Quantos servidores serão beneficiados pela ação de desenvolvimento para essa necessidade?</td>
                <td>{{ resposta.qtd_pessoas_beneficiadas|format }}</td>
            </tr>
            <tr>
                <td>A ação de desenvolvimento para essa necessidade deve preferencialmente ser ofertada em qual tipo de aprendizagem?</td>
                <td>{{ resposta.tipo_aprendizagem|format }}</td>
            </tr>
            <tr>
                <td>De acordo com a resposta anterior, qual opção melhor caracteriza o subtipo de aprendizagem?</td>
                <td>{{ resposta.especificacao_tipo_aprendizagem|format }}</td>
            </tr>

            <tr>
                <td>Modalidade</td>
                <td>{{ resposta.get_modalidade_display|format }}</td>
            </tr>

            <tr>
                <td>Título previsto da ação de desenvolvimento</td>
                <td>{{ resposta.titulo_necessidade|format }}</td>
            </tr>

            <tr>
                <td>Em caso de já possuir uma opção em consideração, qual o término previsto da ação de desenvolvimento para essa necessidade?</td>
                <td>{{ resposta.ano_termino_acao|format }}</td>
            </tr>
        </table>
    {% endbox %}

    {% box 'Custos desta Ação' %}
        <table class="info">
            <tr>
                <td>A ação de desenvolvimento pode ser ofertada de modo gratuito? Sim ou não</td>
                <td>{{ resposta.get_onus_inscricao_display|format }}</td>
            </tr>
            <tr>
                <td>Se não gratuita, qual o custo total previsto da ação de desenvolvimento para essa necessidade? (R$)</td>
                <td>{{ resposta.valor_onus_inscricao|format }}</td>
            </tr>
        </table>
    {% endbox %}


    {% comment %}
    {% box 'Centro de Formação de Servidores - CFS' %}
        <table class="info">
            <tr>
                <td>A ação de desenvolvimento para essa necessidade pode ser ofertada pelo Centro de Formação de Servidores?</td>
                <td>{{ resposta.get_atendida_pelo_cfs_display|format }}</td>
            </tr>
        </table>
    {% endbox %}
    {% endcomment %}

{% endblock %}