{% extends super_template %}

{% block content %}
    {% box "Dados do Laboratório Remoto" %}
        <table class="info">
            <tr>
                <td>Nome</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td>Campus</td>
                <td>{{object.campus}}</td>
            </tr>
            <tr>
                <td>Número de Clientes</td>
                <td>{{ object.connections.count }}</td>
            </tr>
            <tr>
                <td>Sincronizado com o LDAP</td>
                <td>{{ object.is_sync_ldap | format}}</td>
            </tr>
        </table>
    {% endbox %}
    <div class="tab-container"  data-title="Dados Gerais" data-tab="dados_gerais">
        {% box "Configurações do Guacamole" %}
            <table class="info">
                <tr>
                    <td>Grupo de conexão</td>
                    <td><a href="#">{{ object.connection_group_name }}</a></td>
                    <td>Identificaor</td>
                    <td> {{object.connection_id}} </td>
                </tr>
                <tr>
                    <td>Número máxumo de conexão</td>
                    <td>{{ object.max_connections }}</td>
                    <td>Número máximo de conexão por usuário</td>
                    <td>{{ object.max_connections_per_user}}</td>
                </tr>
                <tr>
                    <td>Afinidade de Sessão</td>
                    <td>{{ object.enable_session_affinity | format}}</td>
                    <td>LDAP Sincronizado</td>
                    <td>{{ object.is_sync_ldap | format}}</td>
                </tr>
            </table>
        {% endbox %}
    </div>

    <div class="tab-container" data-title="Clientes Guacamole" data-tab="dados_guacamole">
        {% box 'Clientes Guacamole' %}
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Identificador</th>
                    <th>Hostname</th>
                    <th>Domínio</th>
                </tr>
            </thead>
            <tbody>
                {% for connection in object.connections %}
                    <tr>
                        <td> {{connection.connection_name}}</td>
                        <td> {{connection.connection_id}}</td>
                        <td> {{connection.hostname}}</td>
                        <td> {{connection.domain}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endbox %}
    </div>
    {% if calendario %}
    <div class="tab-container ajax-rendered" data-title="Agendamentos" data-tab="agendamentos">
    {% box 'Agenda Atual do Laboratório {{object.laboratorio}}' %}
        <div class="legenda">
            <p>Legenda:</p>
            <ul>
                <li class="hoje">Hoje</li>
                <li class="alert">Reservas pendentes</li>
                <li class="success">Reservas deferidas</li>
                <li class="conflito">Conflito</li>
            </ul>
        </div>
        {% for mes in calendario %}
            {{ mes|safe }}
        {% endfor %}
    {% endbox %}
    </div>
    {% endif %}
{%endblock%}
