{% extends "admin/object_history.html" %}
{% load i18n l10n %}

{% block content %}
    <ul class="action-bar">
        <li><a class="btn" href="{{ action_list.0.version.object.get_absolute_url }}">Voltar</a></li>
    </ul>

    <p>Escolha duas datas da lista abaixo para consultar as diferenças entre elas.</p>

    {% if action_list %}
        {% include "demandas/reversion-compare/action_list_partial.html" with action="../history/compare/" %}
    {% else %}
        <p>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</p>
    {% endif %}

{% endblock %}