/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --black:    #333;
    --white:    #fff;
    --gray-100: #f6f6f6;
    --gray-200: #eee;
    --gray-300: #ccc;
    --gray-400: #aaa;
    --gray-500: #888;
    --gray-600: #666;
    --primary:  #347b3e;
    --info:     #3498DB;
    --border-radius: 10px;
}

* {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a,
a:active {
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
a:hover {
    color: var(--primary);
    text-decoration: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    position: relative;
}

/* containers */
#toggleMenu {
    background-color: var(--black);
    color: #fff;
    display: none;
    font-size: 80%;
    font-weight: 600;
    height: 40px;
    padding: 12px 25px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    z-index: 2;
}
#toggleMenu::before {
    color: #aaa;
    content: "\f0c9";
    font-family: "Font Awesome 5 Free";
    font-size: 70%;
    font-weight: 700;
    margin-right: 10px;
}
#toggleMenu:hover {
    color: #aaa;
}
aside {
    background-color: var(--gray-200);
    box-shadow: 0 0 30px 10px rgb(0 0 0 / 10%);
    float: left;
    height: 100vh;
    overflow-y: auto;
    padding: 30px;
    position: fixed;
    top: 0;
    width: 19%;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
aside.collapsed {
    padding: 0;
    width: 0;
}
aside h1 {
    border-bottom: 1px solid #ddd;
    height: 110px;
    margin-bottom: 60px;
    margin-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
aside h1 a {
    background-image: url(logo.svg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: auto 60px;
    display: block;
    font-size: 80%;
    font-weight: 400;
    padding-top: 80px;
    text-transform: uppercase;
}
aside h1 a:hover {
    opacity: 0.8;
}
aside h2 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: .5rem;
}
aside h2 a,
aside h3 a {
    display: block;
    padding-right: 15px;
    position: relative;
}
aside h2 a,
aside h3 a,
aside h4 a,
aside h5 a {
    display: block;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
aside h2 a:after,
aside h3 a:after {
    color: #999;
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-size: 70%;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 12px;
}
aside h2 a.opened:after,
aside h3 a.opened:after {
    content: "\f078";
}
aside h3 {
    border-bottom: 1px solid var(--gray-500);
    font-size: 1rem;
    font-weight: 500;
}
aside h3 a.active {
    font-weight: 700;
}
aside h3 a:after {
    color: #bbb;
}
aside h4 {
    border-bottom: 1px solid var(--gray-300);
    font-size: .9rem;
    font-weight: 400;
    position: relative;
}
aside h4 span,
aside h5 span {
    color: var(--gray-600);
    font-size: .7rem;
    font-weight: 300;
    position: absolute;
    left: 0;
    text-align: right;
    width: 2rem;
}
aside h4 a,
aside h5 a {
    display: block;
    padding-left: 3rem;
    position: relative;
}
aside h5 {
    font-size: .8rem;
    font-weight: 400;
}
aside li {
    list-style: none;
}
aside a.active {
    color: var(--primary);
    font-weight: 700;
}
aside .ul_cenarios {
    padding-bottom: .5rem;
}
#buscarDoc {
    font-size: 95%;
    padding: 12px 20px;
    border-radius: var(--border-radius);
    margin-bottom: 12px;
    width: 100%;
}
main {
    background-color: var(--gray-100);
    float: right;
    min-height: 100vh;
    padding: 0 4rem 4rem;
    width: 81%;
}
main h2 {
    font-size: 200%;
}
main .breadcrumbs {
    border-bottom: 2px solid var(--gray-200);
    display: flex;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}
main .breadcrumbs > div {
    margin-right: 5rem;
}
main .breadcrumbs p {
    font-size: 1.1rem;
}
main h3 {
    color: var(--gray-500);
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
}
main h3.title {
    clear: both;
    font-size: 200%;
    font-weight: 600;
}
main h3 small {
    display: block;
    font-size: .75rem;
}
main h4 {
    color: var(--gray-600);
    font-weight: 300;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
main .key {
    clear: both;
    color: var(--gray-500);
    display: inline-block;
    font-size: .75rem;
    text-transform: uppercase;
    width: 100%;
}

/* passo-a-passo */
.passo-a-passo {
    margin-top: 1rem;
    position: relative;
}
.passo-a-passo::after {
    content: "Fim";
    font-weight: 900;
    position: absolute;
    bottom: -25px;
    left: 0;
}
.passo-a-passo .passo {
    list-style: none;
    position: relative;
}
.passo-a-passo .passo::before {
    background-color: var(--black);
    content: "";
    width: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 13px;
}
.passo-a-passo small {
    background-color: var(--black);
    border-radius: 50%;
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 1rem;
    text-align: center;
    width: 30px;
}
.passo-a-passo h4 {
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 0;
    padding-left: 50px;
}
.passo-a-passo h4 a {
    color: var(--primary);
    float: right;
    font-size: .9rem;
    padding-top: .5rem;
}
.passo-a-passo p {
    font-weight: 400;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 50px;
}
.passo-a-passo img {
    border-radius: 5px;
    margin-top: 1rem;
    padding-left: 50px;
    padding-bottom: 3em;
    width: 100%;
}

/* workflows */
.workflows form {
    display: inline-block;
    margin: 2rem 0;
}
.workflows form label {
    display: block;
    margin-bottom: .5rem;
}
.workflows form select {
    border-radius: 10px 0 0 10px;
    float: left;
    font-size: 1rem;
    padding: 1rem .5rem;
}
.workflows form button {
    background-color: var(--info);
    border-radius: 0 25px 25px 0;
    color: var(--white);
    cursor: pointer;
    float: left;
    font-size: 1rem;
    padding: 1rem;
}
.workflows form button:hover {
    background-color: var(--gray-600);
}

/* extra */
.container {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    padding: 3%;
    width: 100%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}
.flex-container > div {
    flex-basis: 250px;
    flex-grow: 1;
    flex-shrink: 0;
}
.boxes {
    column-gap: 2rem;
    column-width: 260px;
    margin: 20px 0 0;
    width: 100%;
}
.boxes > .item {
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 5%);
    break-inside: avoid;
    margin-bottom: 2rem;
    padding: 2rem;
}
.boxes h3,
.boxes h4 {
    background-color: var(--white);
    color: var(--black);
    font-size: 110%;
    font-weight: 600;
    padding-top: 0;
    padding-bottom: 0;
}
.boxes p {
    font-size: 1.1rem;
    font-weight: 300;
    padding-top: 1rem;
}
.boxes ol {
    clear: both;
    counter-reset: service-counter;
    margin-top: 15px;
    overflow: hidden;
    padding: 0;
}
.boxes ol > li {
    border-bottom: 1px solid var(--gray-200);
    float: left;
    list-style: none;
    position: relative;
    width: 100%;
}
.boxes ol > li:before {
    border-radius: 50%;
    color: #ccc;
    content: counter(service-counter, decimal);
    counter-increment: service-counter;
    font-size: 75%;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 0;
    top: 5px;
    width: 30px;
}
.boxes ol > li a {
    display: block;
    font-size: 95%;
    line-height: 1.2em;
    padding: 10px 0 10px 15px;
}
.boxes ol > li a:hover {
    color: var(--primary);
}
.hide {
    display: none;
}
.btn {
    color: var(--primary);
    font-size: 75%;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.btn:hover {
    color: var(--black);
}
.canvas {
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 5%);
    padding: 2rem;
}
.msg.info {
    border: 2px solid var(--info);
    border-radius: 10px;
    clear: both;
    color: var(--black);
    display: inline-block;
    margin-top: 30px;
    padding: 1.5rem 1.5rem .75rem;
    width: 100%;
}
.msg.info h3 {
    background-color: var(--gray-100);
    color: var(--info);
    float: left;
    font-size: 100%;
    font-weight: 600;
    margin-top: -35px;
    padding: 0 15px 15px;
}
.msg.info p {
    clear: both;
    font-weight: 400;
    padding-left: 15px;
    padding-bottom: .75rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mb-4 {
    margin-bottom: 4rem;
}
.workflow {
    width: auto;
}

/* Media-queries */
@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        margin: 0 !important;
        padding: 0 !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a:after {
        content: " ("attr(href)")";
    }
    a[href^="javascript:"]:after,
    a[href^="#"]:after { 
        content: ""; 
    }
    body {
        color: #000;
        font: 9pt serif;
        line-height: 1.4em;
    }
    h1 {
        width: 100%;
    }
    h1 a:after {
        content: "";
    }
    img {
        max-width: 100%;
    }
    p {
        orphans: 3;
        widows: 3;
    }
    p a {
        word-wrap: break-word;
    }
}
@media screen and (max-width: 1200px) {
    aside {
        width: 25%;
    }
    main {
        width: 75%;
    }
}
@media screen and (max-width: 800px) {
    aside {
        padding-top: 60px;
        width: 80%;
    }
    main {
        display: inline-block;
        padding-top: 25px;
        padding-left: 25px;
        padding-right: 25px;
        width: 100%;
    }
    main h3.title {
        font-size: 140%;
    }
    #toggleMenu {
        display: block;
    }
    aside h1 {
        display: none;
    }
}
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait), only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    nav a {
        font-size: 120%;
    }
}
