{% extends super_template %}
{% block content %}
<div class="search-and-filters">
	{% render_form form %}
</div>
{% if form.is_valid %}
<table>
	<thead>
		<tr>
			<th rowspan="2">Tipologias dos Cargos</th>
			<th colspan="2">Lotação</th>
			<th rowspan="2">Ingressos no Exercício</th>
			<th rowspan="2">Egressos no Exercício</th>
		</tr>
		<tr>
			<th>Autorizada</th>
			<th>Efetiva</th>
		</tr>
	</thead>
	<tbody>
		{% for resultado in resultados %}
		<tr>
			{% for valor in resultado%}
			<td> {{ valor | format }}</td>
			{%endfor%}
		</tr>
		{% empty %}
        <tr>
            <td colspan="5">
        		<p class="msg-alert">Nenhuma Contracheque encontrado para os parametros informados.</p>
        	</td>
        </tr>
		{%endfor%}
	</tbody>
</table>
{% endif %}
{% endblock %}