{% extends super_template %}
{% block content %}
<div class="search-and-filters">
{% render_form form %}
</div>
{% if form.is_valid %}

{% box 'Quantitativo Servidores {{ ano }} - {{ campus }}' %}
<table>
	<thead>
	<tr><th>Situação</th>
		<th>Quantidade</th>
	</tr>
	</thead>
	<tbody>
		{% for key, value in servidores_situacao.items %}
		<tr>
			<td>{{key}}</td>
			<td>{{value}}</td>
		</tr>
		{%endfor%}
	</tbody>
</table>
{% endbox %}

{% box 'Absenteísmo (ABS) {{ ano }} - {{ campus }}' %}
<table>
	<tbody>
		<tr>
			<td>Forma de Cálculo</td>
			<td>ABS = Nº de dias não trabalhados no ano x 100 / Nº de servidores x 365 dias</td>
		</tr>
		<tr>
			<td>Quantidade de Servidores</td>
			<td>{{quantidade_servidores.total}}</td>
		</tr>
		<tr>
			<td>Quantidade ausências* no ano</td>
			<td>{{quantidade_faltas.total}}</td>
		</tr>
		<tr>
			<td>Indíce Absenteísmo</td>
			<td>{{indice.total}}</td>
		</tr>
	</tbody>
</table>
{% endbox %}

{% box 'Absenteísmo (ABS) {{ ano.ano }} - {{ campus }} por mês' %}
<table>
	<thead>
    	<th>-</th>
    	<th>Jan</th>
    	<th>Fev</th>
    	<th>Mar</th>
    	<th>Abr</th>
    	<th>Mai</th>
    	<th>Jun</th>
    	<th>Jul</th>
    	<th>Ago</th>
    	<th>Set</th>
    	<th>Out</th>
    	<th>Nov</th>
    	<th>Dez</th>
    	<th>Total</th>
	</thead>
	<tbody>
		<tr>
			<td>Qtd Servidores</td>
			{% for key, value in quantidade_servidores.items %}
			     <td>{{ value }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Qtd Ausências*</td>
			{% for key, value in quantidade_faltas.items %}
                <td>{{ value }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Absenteísmo</td>
			{% for key, value in indice.items %}
			     <td>{{ value }}</td>
			{% endfor %}
		</tr>
	</tbody>
</table>
{% endbox %}

<p class="msg info">* Considera-se "ausência" o registro de faltas, afastamentos, concessões legais ou licenças.</p>
{% endif %}

{% endblock %}