{% extends super_template %}

{% block content %}
	{% if not form.is_valid %}
	    {% render_form form %}
	{% else %}
		<table>
			<thead>
				<tr>
					<th rowspan="2">Situação / Funções</th>
					<th colspan="5" class="text-center">Quantitativo por Faixa Etária</th>
					<th rowspan="2">Totais</th>
				</tr>
				<tr>
					<th>Até 30 anos</th>
					<th>De 31 a 40 anos</th>
					<th>De 41 a 50 anos</th>
					<th>De 51 a 60 anos</th>
					<th>Acima de 60 anos</th>
				</tr>
			</thead>
			<tbody>
			{% for situacao in situacoes_totais.values %}
				<tr>
					<td>{{ situacao.nome_situacao }}</td>
					<td class="text-end">{{ situacao.faixas.30 }}</td>
					<td class="text-end">{{ situacao.faixas.40 }}</td>					
					<td class="text-end">{{ situacao.faixas.50 }}</td>					
					<td class="text-end">{{ situacao.faixas.60 }}</td>					
					<td class="text-end">{{ situacao.faixas.99 }}</td>
					<td class="text-end">{{ situacao.faixas.total }}</td>			
				</tr>
				{% for funcao in situacao.funcoes.values %}
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp; {{ funcao.nome_funcao }}</td>
						<td class="text-end">{{ funcao.faixas.30 }}</td>
						<td class="text-end">{{ funcao.faixas.40 }}</td>					
						<td class="text-end">{{ funcao.faixas.50 }}</td>					
						<td class="text-end">{{ funcao.faixas.60 }}</td>					
						<td class="text-end">{{ funcao.faixas.99 }}</td>
						<td class="text-end">{{ funcao.faixas.total }}</td>			
					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
		<tfoot>
		    <tr>
                <td>Total:</td>
                <td>{{ totais_por_faixa_geral.30 }}</td>
                <td>{{ totais_por_faixa_geral.40 }}</td>                   
                <td>{{ totais_por_faixa_geral.50 }}</td>                   
                <td>{{ totais_por_faixa_geral.60 }}</td>                   
                <td>{{ totais_por_faixa_geral.99 }}</td>
                <td>{{ totais_por_faixa_geral.total }}</td>            
            </tr>
		</tfoot>
	</table>
{% endif %}

{% endblock %}

