{% extends super_template %}

{% block content %}
{% box "Filtrar" %}
{% render_form form %}
{% endbox %}
{% if agrupamentos_rubricas %}
{% box "Rubricas do Agrupamento - {{ agrupamentos_rubricas.descricao }}" %}
    <ul>
    {% for rubrica in agrupamentos_rubricas.rubricas.all %}
        <li>{{ rubrica.nome.title }}</li>
    {% endfor %}
    </ul>
{% endbox %}
{% endif %}
{% box "Gastos com Rubricas - {{ categoria }} por Campus - {{periodo}} {{tipo}}" %}
<table>
    <tbody>
        <tr>
            <th>Campus</th>
            {% for mes in meses_list %}
            <th>{{ mes.1 }} (R$/Serv.)</th>
            {% endfor%}
            <th>Total</th>
        </tr>
        {% for campus, items in contabilidade.items %}
        {% if campus.setor %}
        <tr>
            <td> {{ campus.setor.sigla}}</td>
            {% for mes, valor in items.items %}
            <td> {% if pode_detalhar %} <a href="{{ valor.url }}" title="Detalhar"> {{ valor.quantidade|format }} / R$ {{ valor.valor|format }} </a> {% else %}
            {{ valor.valor }}/{{ valor.quantidade }}
            {% endif %} </td>
            {% endfor %}
            <td>
                {{ total_campus|getkey:campus|format }}
            </td>
        </tr>
        {% else %}
        {% if campus == 'Sem Campus' %}
        <tr>
            <td> {{ campus }}</td>
            {% for mes, valor in items.items %}
            <td> {% if pode_detalhar %} <a href="{{ valor.url }}" title="Detalhar"> {{ valor.quantidade|format }} / R$ {{ valor.valor|format }} </a> {% else %}
            {{ valor.valor }}/{{ valor.quantidade }}
            {% endif %} </td>
            {% endfor %}
            <td>
                {{ total_campus|getkey:campus|format }}
            </td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
        <tr>
            <td>Total</td>
            {% for mes, items in totais.items %}
            <td>
            {% if pode_detalhar %} 
            	<a href="{{ items.url }}"> R$ {{ items.total_valor|format }}</a>
            {% else %}
            	R$ {{ items.total_valor|format }}
            {% endif %} 
            </td>
            {% endfor %}
            <td>
                R$ {{ total |format}}
            </td>

        </tr>
    </tbody>
</table>
{% endbox %}
{% endblock %}
