{% load pipeline %}
{% load static %}
{% load tags %}
{% javascript 'jquery' %}

<span class="key mt-4">Módulo</span>
<h2>{{ app_config.verbose_name }}</h2>

{% if app_config.description %}
    <div class="msg info">
        <h3>Descrição</h3>
        <p>{{ app_config.description }}</p>
    </div>
{% endif %}

{% if workflows or has_module_bpmn %}
    <script src="/static/djtools/bpmn-js/bpmn-viewer.production.min.js"></script>
    <div class="header workflows">
        <h3>Fluxogramas:</h3>
        <form action="">
            <label for="js-url">Selecione uma funcionalidade:</label>
            <select id="js-url">
                {% if has_module_bpmn %}
                    <option value="/comum/documentacao/bpmn/{{ aplicacao }}/{{ aplicacao }}.bpmn/">Geral</option>
                {% endif %}
                {% for workflow in workflows %}
                    <option value="/comum/documentacao/bpmn/{{ aplicacao }}/{{ workflow.1 }}/">{{ workflow.0 }}</option>
                {% endfor %}
            </select>
            <button id="js-open" type="button">Abrir</button>
        </form>
    </div>
    <div class="canvas">
        <div id="js-canvas"></div>
    </div>
    <script>
        var viewer = new BpmnJS({
            container: $('#js-canvas'),
            height: 300
        });
    
        function openFromUrl(url) {
    
            $.ajax(url, {dataType: 'text'}).done(async function (xml) {
                try {
                    await viewer.importXML(xml);
                    viewer.get('canvas').zoom('fit-viewport');
                } catch (err) {
                    console.error(err);
                }
            });
        }
    
        $('#js-open').click(function () {
            var url = $('#js-url').val();
            openFromUrl(url);
        });
    
        (function () {
            var str = window.location.search;
            var match = /(?:\&|\?)url=([^&]+)/.exec(str);
    
            if (match) {
                var url = decodeURIComponent(match[1]);
                $('#js-url').val(url);
                openFromUrl(url);
            }
        })();
        $(document).ready(function () {
            var url = $('#js-url').val();
            openFromUrl(url);
        });

    </script>
{% endif %}

{% if perfis_da_app.exists %}
    <h3 class="mt-4">Grupos de Usuários da Aplicação :</h3>
    <div class="boxes">
        {% for perfil in perfis_da_app %}
            <div class="item">
                <h4>{{ perfil.group }}</h4>
                {% if perfil.descricao %}
                    <p>{{ perfil.descricao }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% if perfis_fora_app.exists %}
    <h3 class="mt-4">Outros Grupos de Usuários:</h3>
    <div class="boxes">
        {% for perfil in perfis_fora_app %}
            <div class="item">
                <h4>{{ perfil.group }}</h4>
                {% if perfil.descricao %}
                    <p>{{ perfil.descricao }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
