{% extends super_template %}

{% block content %}

{% if has_perm %}

{% if objs.exists %}
    <p class="msg alert"><strong>Atenção:</strong> Essa ação acarretará na exclusão do(s) registro(s) a seguir. Caso tenha certeza que deseja removê-lo(s), clique na caixa "Confirmar" e em seguida no botão "Excluir".</p>

<div id="data-to-delete" class="hidden">
	{{ output|safe }}
</div>

{% if form %}
    <h3>Informe sua senha para confirmar a remoção:</h3>
	{% render_form form %}
{% endif %}
{% else %}
    <p class="msg alert"><strong>Atenção:</strong> O(s) registro(s) não pode(m) ser excluído(s).</p>
{% endif %}

<style>
	ul.obj-tree li {
		list-style: none;
	}
	ul.obj-tree li a.obj-tree-toggler {
		padding-left: 10px;
	}
	ul.obj-tree li a.obj-tree-toggler::before {
		content: "+";
        float: left;
        font-size: 140%;
        line-height: 1em;
	}
	ul.obj-tree li a.obj-tree-toggler.expandido::before {
		content: "-";
	}
</style>
<script type="text/javascript">
	$(document).ready(function () {
		$('a.obj-tree-toggler').click(function () {
			if ($(this).hasClass('expandido')) {
				$(this).removeClass('expandido');
			} else {
				$(this).addClass('expandido');
			}

			$(this).parent().next('ul.obj-tree').toggle(300);
		});

		$('a.obj-tree-toggler:not(a.obj-tree-toggler:nth(0))').click();
		$('#data-to-delete').removeClass('hidden');
	});
</script>
{% else %}
	<p class="msg error">Você não possui permissão para excluir esse(s) registro(s).</p>
{% endif %}
{% endblock %}
