{% extends super_template %}

{% if perms.comum.add_contatoemergencia or verificacao_propria %}
    {% block action-bar %}
        <ul class="action-bar">
            <li>
                <a class="btn success" href="/comum/pessoa_fisica/{{pessoa_fisica.pk}}/adicionar_contato_de_emergencia">
                    {% icone "plus" %} Adicionar Contato de Emergência
                </a>
            </li>
        </ul>
    {% endblock %}
{% endif %}

{% block content %}

    {% if contatos.exists %}
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            {% if pode_gerenciar_contatos %}
                                <th class="no-print"></th>
                            {% endif %}
                            <th>Nome do Contato</th>
                            <th>Telefone</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for contato in contatos %}
                        <tr>
                            {% if pode_gerenciar_contatos %}
                                <td class="no-print field-get_acoes">
                                    {% if perms.comum.change_contatoemergencia or verificacao_propria %}
                                        {% icon "edit" "/admin/comum/contatoemergencia/{{ contato.pk }}/change/" "Editar Questão" %}
                                    {% endif %}
                                    {% if perms.comum.delete_contatoemergencia or verificacao_propria %}
                                        {% icon "delete" "/admin/comum/contatoemergencia/{{ contato.pk }}/delete" "Excluir" "no-confirm popup" %}
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td>{{ contato.nome_contato|format }}</td>
                            <td>{{ contato.telefone|format }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="msg alert">Nenhum contato de emergência cadastrado.</p>
        {% endif %}

{% endblock %}