{% extends super_template %}

{% block object-status %}
    {% if sala.ativa %}
        <span class="status status-success">Ativa</span>
    {% else %}
        <span class="status status-error">Inativa</span>
    {% endif %}
{% endblock %}

{% block action-bar %}
{% if eh_avaliador %}
    <ul class="action-bar">
        <li><a class="btn danger" href="/comum/sala/cancelar_reservas_periodo/{{ sala.id }}/">Cancelar Reservas por Período</a></li>
    </ul>
{% endif %}
{% endblock %}

{% block content %}

{% box "Dados Gerais" %}
    <dl class="definition-list flex">
        <div class="list-item">
            <dt>Nome</dt>
            <dd>{{ sala.nome|format }}</dd>
        </div>
        <div class="list-item flex-basis-100">
            <dt>Prédio</dt>
            <dd>{{ sala.predio|format }}</dd>
        </div>
        <div class="list-item">
            <dt>Agendável</dt>
            <dd>{{ sala.agendavel|format }}</dd>
        </div>
        <div class="list-item">
            <dt>Agendável apenas por Servidores do Campus</dt>
            <dd>{{ sala.restringir_agendamentos_no_campus|format }}</dd>
        </div>
        <div class="list-item">
            <dt>Capacidade da Sala (em número de pessoas)</dt>
            <dd>{{ sala.capacidade|format }}</dd>
        </div>
        {% if sala.informacoes_complementares %}
            <div class="list-item flex-basis-100">
                <dt>Informações Complementares</dt>
                <dd>{{ sala.informacoes_complementares|linebreaksbr }}</dd>
            </div>
        {% endif %}
    </table>
{% endbox %}

{% if sala.programacao_atual %}
	{% box 'Agenda Atual da Sala' %}
		<div class="legenda">
	        <p>Legenda:</p>
	        <ul>
	            <li class="hoje">Hoje</li>
	            <li class="alert">Solicitação de reserva</li>
	            <li class="success">Reservas deferidas</li>
	            <li class="error">Reservas indisponíveis</li>
	            <li class="conflito">Conflito</li>
	        </ul>
		</div>
		{% for mes in sala.programacao_atual %}
			{{ mes|safe }}
		{% endfor %}
	{% endbox %}
{% endif %}

    {% if sala.tem_dados_complementares %}
        {% box "Dados Complementares" %}
            <dl class="definition-list flex">
                <div class="list-item">
                    <dt>Área útil</dt>
                    <dd>{{ sala.area_util|format }} m<sup>2</sup></dd>
                </div>
                <div class="list-item">
                    <dt>Área da Parede</dt>
                    <dd>{{ sala.area_parede|format }} m<sup>2</sup></dd>
                </div>
                <div class="list-item">
                    <dt>Uso da sala</dt>
                    <dd>{{ sala.uso|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Classificação</dt>
                    <dd>{{ sala.classificacao|format }}</dd>
                </div>
            </dl>
        {% endbox %}
    {% endif %}

    {% if sala.tem_acabamento_sistemas_prediais %}
        {% box "Acabamento e Sistemas Prediais" %}
            <dl class="definition-list flex">
                <div class="list-item">
                    <dt>Instalação Elétrica</dt>
                    <dd>{{ sala.instalacao_eletrica|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Instalação Lógica</dt>
                    <dd>{{ sala.instalacao_logica|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Instalação Hidráulica</dt>
                    <dd>{{ sala.instalacao_hidraulica|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Instalação de Gases</dt>
                    <dd>{{ sala.instalacao_gases|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Climatização</dt>
                    <dd>{{ sala.climatizacao|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Acabamento das parades</dt>
                    <dd>{{ sala.acabamento_parede|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Piso</dt>
                    <dd>{{ sala.piso|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Forro</dt>
                    <dd>{{ sala.forro|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Esquadrias</dt>
                    <dd>{{ sala.esquadrias|format }}</dd>
                </div>
            </dl>
        {% endbox %}
    {% endif %}
{% endblock %}
