{% extends super_template %}

{% block content %}

<div class="search-and-filters">
    {% render_form form %}
</div>

{% if form.is_bound %}
    {% if salas %}

        {% autopaginate salas %}
        {% paginate %}
        <ul class="flex-container boxes services">
            {% for sala in salas %}
                <li class="box-item">
                    <h3 class="title">{{ sala.0 }}</h3>
                    <p class="note"><strong>{{ sala.1|format }}h</strong> Média de Reserva por Dia</p>
                    {% if sala.2 > 0 %}
                        <p class="note"><strong>{{ sala.2 }}</strong> cancelada{{ sala.2|pluralize }}</p>
                    {% endif %}
                    {% if sala.3 > 0 %}
                        <p class="note"><strong>{{ sala.3 }}</strong> ocorreram</p>
                    {% endif %}
                    {% if sala.4 > 0 %}
                        <p class="note"><strong>{{ sala.4 }}</strong> não ocorreram</p>
                    {% endif %}
                    {% if sala.5 > 0 %}
                        <p class="note"><strong>{{ sala.5 }}</strong> ocorrência desconhecida</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% paginate %}

    {% else %}
        <p class="msg alert">Não há salas agendáveis.</p>
    {% endif %}
{% else %}
    <p class="msg alert">Utilize o filtro para exibir os indicadores.</p>
{% endif %}

{% endblock %}
