{% extends super_template %}



{% block content %}
<form action="{{ form.ACTION }}" method="{{ form.METHOD }}" enctype="{{ form.ENCTYPE }}">
<h2>{{ form.TITLE }}</h2>
<table>
{{ form.as_table }}
<tr>
	<td>&nbsp;</td>
	<td><input type="submit" value="{{ form.VALUE }}" /></td>
</tr> 
</table>
</form>
<br />
{% if itens %}
<h2>Conteúdo do arquivo siafe {{ arquivo }}</h2>

<table cellspacing="0">
	<thead>
	    <tr>
	    	{% for campo in ref %}
			    <th>{{ campo|indice:"descricao" }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% autopaginate itens 100 %}
		{% paginate %}
		{% for i in itens %}
			<tr>
			{% for campo in ref %}
			{% with campo|indice:"descricao" as valor %}
				<td>{{ i|indice:valor }}</td>
			{% endwith %}
			{% endfor %}		
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr><td colspan="{{ ref|length }}">&nbsp;</td></tr>
	</tfoot>
</table>
{% endif %}

{% endblock %}