{% extends super_template %}

{% block content %}    

    <ul class="action-bar">
        <li><a class="btn" href="/pesquisa/projeto/{{ projeto.id }}/?tab=equipe">Retornar ao Projeto</a></li>
    </ul>
    
    <div class="tab-container" data-title="Anexos">
        {% if anexos.exists %}
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Arquivo Digitalizado</th>
                        {% if projeto.pode_anexar_arquivo_do_membro %}
                            <th>Ações</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for anexo in anexos %}
                        <tr>
                            <td>{{ anexo.anexo_edital.nome }}</td>
                            <td>{{ anexo.anexo_edital.descricao|format }}</td>
                            <td>
                            {% if anexo.arquivo %}
                                <a href="/pesquisa/visualizar_arquivo/{{ anexo.arquivo.id }}/">{{ anexo.arquivo.nome }}</a>
                            {% else %}
                                <span class="status status-alert">Aguardando submissão do arquivo</span>
                            {% endif %}
                            </td>
                            {% if projeto.pode_anexar_arquivo_do_membro %}
                                <td><a href="/pesquisa/upload_anexo/{{ anexo.id }}/" class="btn success">Atualizar Anexo</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="msg alert">Nenhum anexo pendente.</p>
        {% endif%}
    </div>
{% endblock %}
