{% block extrahead %}
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        .cabecalho{
            
            background-color:#CCCC99;
        }

        table.resultado tr {
            height: 29px;
        }
    
        .true {
            
             color: green;
        }
        
        .false {
            
             color: red;
        }
        
        .negrito{
            font-weight: bold;
        }
    
    </style>
{% endblock %}
    
{% block content %}
    {% if projetos %}
        {% for key, campi in resultado.items %}
            <br><br><br>
            <table class="resultado"  cellpadding="10">
                <thead>
                    <tr>
                        <th colspan="5" align="center">
                            {{ nome_instituicao|upper }}<br>
                            {{ nome_pro_reitoria }}<br>
                            Programa Institucional de Apoio à Pesquisa<br>
                            RESULTADO DO {{ edital.titulo }}<br>
                            BOLSAS CONCEDIDAS - {{key}} ({{ campi|length}} Projetos aprovados)<br>
                        </th>
                    </tr>
                    <tr class="cabecalho">
                        <th width="20px">N°</th>
                        <th>Projeto</th>
                        <th>Campus</th>
                        <th>Servidores</th>
                        <th>Alunos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for projeto in campi %}                        
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ projeto.titulo }}</td>
                            <td>{{ projeto.uo }}</td>
                            <td>
                                <ol>
                                    {% for item in projeto.participacao_por_vinculo.all %}
                                        {% if item.is_servidor and item.ativo %}
                                            <li>
                                                {{ item.get_nome }}
                                                {% if item.responsavel %}
                                                    <b>(Coordenador)</b>
                                                {% endif %}
                                                {% if item.vinculo == 'Bolsista' and item.bolsa_concedida %}
                                                    - <span class="true">Bolsa concedida</span>
                                                {% elif item.vinculo == 'Bolsista' and not item.bolsa_concedida%}
                                                    -  <span  class="false">Não bolsista (bolsa não concedida)</span>
                                                {% else %}
                                                    <span class="negrito">- Não bolsista</span>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </td>
                            <td>
                                <ol>
                                    {% for item in projeto.participacao_por_vinculo.all %}
                                        {% if not item.is_servidor and item.ativo %}
                                            <li>
                                                {{ item.get_nome }}
                                                {% if item.vinculo == 'Bolsista' and item.bolsa_concedida %}
                                                    - <span class="true"> Bolsa concedida </span>
                                                {% elif item.vinculo == 'Bolsista' and not item.bolsa_concedida%}
                                                    -  <span class="false">Não bolsista (bolsa não concedida) </span>
                                                {% else %}
                                                    <span class="negrito"> - Não bolsista</span>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %} 
            

    {% else %}
        <h2>A divulgação dos resultados do {{ edital.titulo }} não está disponível.</h2>
    {% endif %}
{% endblock %}