{% extends "relatorio_pdf.html" %}

{% block style %}
@page {
size: a4 portrait;
background-image: url(/static/comum/img/logo_if_portrait.png);
@frame cabecalho {
-pdf-frame-content: cabecalho;
top: 0.3cm;
left: 0.7cm;
height: 7.5cm;
width: 19.5cm;
}

@frame content_frame {
top: 6.5cm;
left: 20;
right: 20;
bottom: 60;
}

@frame footer {
-pdf-frame-content: footerContent;
bottom: 0.5cm;
left: 0.5cm;
height: 1.3cm;
}
}

td, th {
font-size: 8pt;
padding: 1px;
line-height: 1em;
font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}
.assinatura {
vertical-align: bottom;
padding-bottom: 15px;
text-align: center;
border-top: 1px solid black;
}
.cidade {
text-align: center;
padding-bottom: 15px;
vertical-align: bottom;
}
.autenticacao {
font-size: 8pt;
line-height: 1em;
font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}
h1 {
text-align: center;
border: 1px solid black;
padding-top: 2px;
line-height: 1em;
}
h2 {
text-align: center;
padding-top: 2px;
line-height: 1em;
background-color: #EEE;
}

#titulo_corpo {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

#texto_corpo {
    font-size: 20px;
    text-align: justify;
    padding-top: 2px;
}
{% endblock %}

{% block cabecalho %}
{% endblock %}

{% block content %}
    	<div id="cabecalho">
            <table border="0">
                <tr>
                    <td rowspan="4" width="100"><img src="/static/comum/img/brazao_colorido.jpg" alt="Brasão do Brasil"></td>
                    <td class="titulo">MINISTÉRIO DA EDUCAÇÃO</td>
                </tr>
                <tr>
                    <td class="titulo">SECRETARIA DE EDUCAÇÃO TECNOLÓGICA</td>
                </tr>
                <tr>
                    <td class="titulo">{{ nome_instituicao|upper }}</td>
                </tr>
                 <tr>
                    <td class="titulo">{{ nome_pro_reitoria|upper }}</td>
                </tr>
            </table>
        </div>
        	
             <center>DECLARAÇÃO DE AVALIADOR DE PROJETOS DE PESQUISA</center>
       
          
        <br/><br/><br/>
        
	        Declaramos que {{ nome }}
	        {% if vinculo.eh_servidor  %}
	        	,matrícula SIAPE {{ vinculo.relacionamento.matricula }},
	        {% endif %} 
	        avaliou projetos de pesquisa para o {{ edital.titulo}} no ano de {{ ano }} das seguintes áreas de conhecimento:
	        <br/><br/><br/>
	        <table width="500px" align="center">
	        	<thead>
		        	<tr>
		        		<th>Área de Conhecimento</th>
		        		<th>Quantidade de Projetos Avaliados</th>
		        	</tr>
		        </thead>
		        <tbody>
		        	{% for projeto in dados %}
		        	<tr>
		        		<td>{{ projeto.0|format }}</td>
		        		<td align="right">{{ projeto.1|format }}</td>
		        	</tr>
		        	{% endfor %}
	        	</tbody>
	        </table>
            <br><br>
		<center>
			<table>
				<tr>
					<td>{{ cidade }}, {{ hoje.day }} de {{ mes }} de {{ hoje.year }}.</td>
				</tr>
			</table>
		</center>
        
   
{% endblock %}

