{% extends super_template %}

{% block content %}
    {% box 'Adicionar Área de Conhecimento' %}
       {% render_form form %}
    {% endbox %}
    
    {% if areas_conhecimentos %}
       {% box 'Áreas de Conhecimento do Parecerista' %}
           <ul>
               {% for item in areas_conhecimentos %}
                   <li>{{ item|format }}</li>
               {% endfor %}
           </ul>
       {% endbox %}
    {% else %}
       <p class="msg alert">Nenhuma área de conhecimento cadastrada.</p>
    {% endif %}
{% endblock %}
