
<ul class="action-bar">
    <li><a class="btn success" href="{{request.get_full_path }}&xls=1">Exportar para XLS</a></li>
</ul>

{{ projetos.count }} Projetos Encontrados
{% box 'Projetos' %}
    <table>
        <thead>
            <tr>
                <th>Projeto</th>
                <th>Nome</th>
                <th>Vínculo</th>
                <th>Edital</th>
                <th>Campus</th>
                <th>Titulação</th>
                <th>Curso</th>
            </tr>
        </thead>
        <tbody>
            {% for dados in dados_do_projeto %}
                {% if dados.em_duplicidade %}
                    <tr class="status status-error">
                {% else %}
                    <tr>
                {% endif %}
                    <td><a href="/pesquisa/projeto/{{ dados.idprojeto }}/">{{ dados.projeto }}</a></td>
                    <td>
                        {% if dados.ehcoordenador == True %}
                            <span class="negrito">{{ dados.nome }} ({{ dados.matricula }})</span>
                        {% else %}
                            {{ dados.nome }} ({{ dados.matricula }})
                        {% endif %}
                        </br><p><a href="{{ dados.lattes }}">{{ dados.lattes }}</a></p>
                    </td>
                    <td>{{ dados.vinculo }}</td>
                    <td>{{ dados.edital }}</td>
                    <td>{{ dados.campus }}</td>
                    <td>{{ dados.titulacao }}</td>
                    <td>{{ dados.curso }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endbox %}

