{% extends super_template %}



{% block content %}

<div class="search-and-filters">
    {% render_form form %}
</div>
    {% if projetos.exists %}
        {% box 'Emails dos Coordenadores'%}
            {{ emails }}
        {% endbox %}
        {% box 'Projetos em execução - {{ edital.titulo }} - Total: {{ projetos.count }}' %}
            <table>
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Coordenador</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for projeto in projetos %}
                        <tr>
                            <td><a href="/pesquisa/projeto/{{ projeto.id }}/">{{ projeto.titulo }}</a></td>
                            <td>{{ projeto.vinculo_coordenador.user|format }}</td>
                            <td>{{ projeto.vinculo_coordenador.pessoa.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endbox %}
    {% elif form.is_bound %}
         <p class="msg alert">Nenhum projeto encontrado.</p>
    {% else %}
        <p class="msg alert">Utilize os filtros para gerar a lista.</p>
    {% endif %}
{% endblock %}
