{% extends super_template %}



{% block content %}
    <div class="search-and-filters">
        {% render_form form %}
    </div>
    {% if avaliadores %}
        <ul class="action-bar">
            {% if form.is_bound %}
                <li><a class="btn" href="{{request.get_full_path }}&xls=1">Exportar para XLS</a></li>
            {% else %}
                <li><a class="btn" href="{{request.get_full_path }}?xls=1">Exportar para XLS</a></li>
            {% endif %}
        </ul>
        {% box 'Avaliadores Internos' %}
            <table>
                <thead>
                    <th>Avaliador</th>
                    <th>Titulação</th>
                    <th>Setor</th>
                    <th>Situação</th>
                    <th>Áreas de Conhecimento</th>
                </thead>
                <tbody>
                    {% autopaginate avaliadores 50 %}
                    {% paginate %}
                    {% for avaliador in avaliadores %}
                       <tr>
                           <td>{{ avaliador }}</td>
                           <td>{{ avaliador.titulacao|format }}</td>
                           <td>{{ avaliador.setor|format }}</td>
                           <td>{{ avaliador.situacao|format }}</td>
                           <td> <ul>
                                   {% for area in avaliador.areas_de_conhecimento.all %}
                                        <li> {{ area.descricao }}  </li>
                                   {% endfor %}
                                </ul>
                            </td>
                       </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% paginate %}
        {% endbox %}

    {% elif form.is_bound %}
        <p class="msg alert">Nenhum avaliador encontrado para esta área de conhecimento.</p>
    {% else %}
        <p class="msg alert">Selecione uma <strong>área de conhecimento</strong>.</p>       
    {% endif %}
{% endblock %}
