{% extends super_template %}

{% block content %}

	<div class="search-and-filters">
		{% render_form form %}
	</div>

	{% if participacoes.exists %}
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="no-print">Ações</th>
						<th>Título</th>
						<th>Edital</th>
						<th>Vínculo</th>
						<th>Situação</th>
						<th>Pré-selecionado</th>
						<th>Selecionado</th>
						<th class="no-print">Opções</th>
					</tr>
				</thead>
				<tbody>
					{%  for participacao in participacoes %}
						<tr>
							<td class="no-print">{% icon "view" "/pesquisa/projeto/{{ participacao.projeto.id }}/" %}</td>
							<td>{{ participacao.projeto.titulo }}</td>
							<td>{{ participacao.projeto.edital }}</td>
							<td>
								{% if participacao.projeto.is_coordenador %}
									Coordenador
								{% else %}
									Membro
								{% endif %}
							</td>
							{% if participacao.projeto.get_status == participacao.projeto.STATUS_EM_INSCRICAO %}
								<td><span class="status status-error">{{ participacao.projeto.get_status|format }}</span></td>
							{% else %}
								<td>{{ participacao.projeto.get_status|status }}</td>
							{% endif %}
							<td>{{ participacao.get_pre_selecionado|safe }}</td>
							<td>{{ participacao.get_selecionado|safe }}</td>
							<td class="no-print">
								<ul class="action-bar">
									{% if participacao.projeto.get_status == participacao.projeto.STATUS_EM_INSCRICAO and participacao.responsavel %}
										 <li><a href="/pesquisa/concluir_planejamento/{{ participacao.projeto.id }}/" class="btn success">{% icone "paper-plane" %} Enviar</a></li>
									{% endif %}
									<li><a href="/pesquisa/imprimir_projeto/{{ participacao.projeto.id }}/" class="btn default">{% icone "print" %} Imprimir</a></li>
								</ul>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<p class="msg alert">Nenhum projeto encontrado.</p>
	{% endif %}
	
{% endblock %}
