{% extends "comum/templates/imprimir.html" %}

{% block titulo %}
        <ul class="action-bar">
            <li><a class="btn" href="/pesquisa/projeto/{{ projeto.id }}/?tab=1">Retornar ao Projeto</a></li>
        </ul>
        <h2>{{ nome_instituicao|upper }}</h2>
        <p>{{ nome_pro_reitoria|upper }}</p>

        <p>{{ projeto.edital.titulo }}</p>
        <p>Projeto: {{ projeto.titulo }}</p>
        <br/>
        <p style="font-size:24px;font-style:bold;text-align:center">Plano de Trabalho de {{ participante.get_nome }}</p>
{% endblock %}

{% block corpo %}
    {% if descricao_plano %}
        {% with publico_alvo=projeto.publico_alvo %}
            <h3>ATIVIDADES DESENVOLVIDAS</h3>
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Meta</th>
                        <th rowspan="2">Atividade</th>
                        <th rowspan="2">Especificação</th>
                        <th rowspan="2">Indicador(es) Qualitativo(s)</th>
                        <th colspan="2">Indicador Físico</th>
                        <th colspan="2">Período de Execução</th>
                    </tr>
                    <tr>
                        <th>Unid.de Medida</th>
                        <th>Qtd.</th>
                        <th>Início</th>
                        <th>Término</th>
                    </tr>
                </thead>
                <tbody>
                        {% for item in descricao_plano %}
                            {% if not item.get_registro_execucao %}
                                <tr>
                                    <td>{{ item.meta.ordem }}</td>
                                    <td>{{ item.ordem }}</td>
                                    <td style="text-align: justify">{{ item.descricao }}</td>
                                    <td style="text-align: justify">{{ item.indicadores_qualitativos }}</td>
                                    <td>{{ item.unidade_medida }}</td>
                                    <td>{{ item.qtd }}</td>
                                    <td>{{ item.inicio_execucao|format }}</td>
                                    <td>{{ item.fim_execucao|format }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ item.meta.ordem }}</td>
                                    <td>{{ item.ordem }}</td>
                                    <td style="text-align: justify"><strong>{{ item.descricao }}</strong> {{ item.get_registro_execucao.obs }}</td>
                                    <td style="text-align: justify"><strong>{{ item.indicadores_qualitativos }}</strong> {{ item.get_registro_execucao.info_ind_qualitativo }}</td>
                                    <td>{{ item.unidade_medida }}</td>
                                    <td>{{ item.get_registro_execucao.qtd }}</td>
                                    <td>Previsto para {{ item.inicio_execucao|format }} | <strong>Iniciado em {{ item.get_registro_execucao.inicio_execucao|format }}</strong></td>
                                    <td>Previsto para {{ item.fim_execucao|format }} | <strong>Concluído em {{ item.get_registro_execucao.fim_execucao|format }}</strong></td>
                                </tr>
                            {% endif %}
                    {% endfor %}
                </tbody>
        </table>
        
        {% endwith %}
    {% else %}
        <center> O participante não foi relacionado à nenhuma atividade do projeto.</center>
    {% endif %} 

{% endblock %}
