{% extends super_template %}

{% block content %}

    {% box 'Dados do Recurso' %}
        <table class="info">
            <tr>
                <td>Edital</td>
                <td>{{ recurso.projeto.edital.titulo}}</td>
            </tr>
            <tr>
                <td>Projeto</td>
                <td><a href="/pesquisa/projeto/{{recurso.projeto.id}}">{{ recurso.projeto.titulo }}</a></td>
            </tr>
             <tr>
                <td>Coordenador do Projeto</td>
                <td>{{ recurso.projeto.vinculo_coordenador.pessoa.nome }}</td>
            </tr>
            <tr>
                <td>Recurso do Coordenador do Projeto</td>
                <td>{{ recurso.justificativa }}</td>
            </tr>
            <tr>
                <td>Data da Solicitação</td>
                <td>{{ recurso.data_solicitacao }}</td>
            </tr>
            <tr>
                <td>Coordenador de Pesquisa</td>
                <td>{{ recurso.avaliador }}</td>
            </tr>
            <tr>
                <td>Parecer do Coordenador de Pesquisa</td>
                <td>{{ recurso.parecer|format }}</td>
            </tr>
             <tr>
                <td>Avaliador da PROPI</td>
                <td>{{ recurso.validador|format }}</td>
            </tr>
             <tr>
                <td>Parecer do Avaliador da PROPI</td>
                <td>{{ recurso.parecer_validacao|format }}</td>
            </tr>
            <tr>
                <td>Situação</td>
                <td>{% if recurso.aceito %} <span class="status status-info">Sim</span>{% elif recurso.data_validacao %} <span class="status status-error">Não</span>{% elif not recurso.data_validacao and recurso.parecer_favoravel %} <span class="status status-alert">Aguardando Avaliação</span>{% else %}<span class="status status-error">Não Aceito</span>{% endif %}</td>
            </tr>
        </table>
        
        
    {% endbox %}

{% endblock %}
