{% extends "admin/base.html" %}



{% block content %}

    <div class="search-and-filters">
        {% render_form form %}
    </div>

    {% if form.is_bound %}
        <table>
            <thead>
                <tr>
                    <th>Campus</th>
                    <th>Nº de Docentes Lotados</th>
                </tr>
            </thead>
            <tbody>
                {% for nome, qtd in resultado.items %}
                    <tr>
                        <td>{{ nome }}</td>
                        <td>{{ qtd }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><b>Total</b></td>
                    <td><b>{{ total }}</b></td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p class="msg alert">Utilize o filtro para realizar a busca.</p>
    {% endif %}

{% endblock %}