{% extends super_template %}


{% block content %}
	{% box 'Calendário de Serviços' %}
		{% if cal_meses %}
			<div class="legenda">
				<p>Legenda:</p>
				<ul>
					<li class="hoje">Hoje</li>
					<li class="alert">Horário Solicitado</li>
					<li class="success">Horário Reservado</li>
				</ul>
			</div>
			{% for mes in cal_meses %}
				{{ mes|safe }}
			{% endfor %}
		{% else %}
			<p class="msg alert">Nenhum agendamento encontrado.</p>
		{% endif %}
	{% endbox %}
	{% box 'Formulário de Solicitação' %}
    	{% render_form form %}
	{% endbox %}

{% endblock %}
