{% extends super_template %}



{% block content %}
    <ul class="action-bar">
        <li><a class="btn" href="/pesquisa/projeto/{{ projeto.id }}/?tab=equipe">Voltar</a></li>
    </ul>
    {% if is_coordenador %}
        {% render_form form %}
    {% endif %}
    {% if solicitacoes.exists %}
        {% box 'Solicitações Realizadas' %}
            <table>
                <thead>
                    <tr>
                        <th>Projeto</th>
                        <th>Descrição</th>
                        <th>Data de Cadastro</th>
                        <th>Situação</th>
                        <th>Avaliação</th>
                        <th>Data de Avaliação</th>
                        {% if pode_avaliar_solicitacao %}
                            <th class="no-print">Opções</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% autopaginate solicitacoes 20 %}
                    {% paginate %}
                    {% for solicitacao in solicitacoes %}
                        <tr>
                            <td><a href="/pesquisa/projeto/{{ solicitacao.projeto.id }}">{{ solicitacao.projeto.titulo }}</a></td>
                            <td>{{ solicitacao.descricao }}</td>
                            <td>{{ solicitacao.cadastrada_em }} <small>por {{ solicitacao.cadastrada_por.user|format }}</small></td>
                            <td>{{ solicitacao.get_situacao|safe }}</td>
                            <td>{% if solicitacao.justificativa %}{{ solicitacao.justificativa }}{% else %}-{% endif %}</td>
                            <td>{% if solicitacao.avaliada_em %}{{ solicitacao.avaliada_em }} <small>por {{ solicitacao.avaliada_por.user|format }}</small>{% else %}-{% endif %}</td>
                            {% if pode_avaliar_solicitacao %}
                                <td class="no-print">
                                    {% if solicitacao.atendida == None %}
                                         <ul class="action-bar">
                                             <li><a class="btn success popup" href="/pesquisa/avaliar_alteracao_equipe/{{ solicitacao.pk }}/">Avaliar</a></li>
                                         </ul>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% paginate %}
        {% endbox %}
    {% else %}
        <p class="msg alert">Nenhuma solicitação de alteração da equipe realizada.</p>
    {% endif %}

{% endblock %}
