{% extends super_template %}


{% block content %}

	{% box "Dados da Oferta de Vaga" %}

		<dl class="definition-list flex">
			<div class="list-item flex-basis-100">
				<dt>Edital</dt>
				<dd><a href="/processo_seletivo/edital/{{ oferta_vaga.oferta_vaga_curso.edital.pk }}/">{{ oferta_vaga.oferta_vaga_curso.edital }}</a></dd>
			</div>
			<div class="list-item">
				<dt>Curso</dt>
				<dd>{{ oferta_vaga.oferta_vaga_curso.curso_campus.descricao_historico }} - {{ oferta_vaga.oferta_vaga_curso.curso_campus.diretoria.setor.uo.nome }} {% if oferta_vaga.oferta_vaga_curso.turno %}- {{ oferta_vaga.oferta_vaga_curso.turno }}{% endif %} {% if oferta_vaga.ofertavaga.linha_pesquisa_id %}({{ oferta_vaga.ofertavaga.linha_pesquisa|format }}){% endif %}</dd>
			</div>
            <div class="list-item">
                <dt>Lista</dt>
				<dd>{{ oferta_vaga.lista }}</dd>
            </div>
            <div class="list-item">
                <dt>Quantidade de Vagas</dt>
                <dd>
                    {{ oferta_vaga.qtd }}
                    {% if oferta_vaga.oferta_vaga_curso.edital.remanescentes %}
                        + {{ oferta_vaga.criacaovagaremanescente_set.count }}
                    {% endif %}
                </dd>
            </div>
            {% if calendario_academico %}
                <div class="list-item">
                    <dt>Calendário Acadêmico</dt>
                    <dd><a class="popup" href="/edu/calendarioacademico/{{ calendario_academico.pk }}/">{{ calendario_academico }}</a></dd>
                </div>
                <div class="list-item">
                    <dt>Início das Aulas</dt>
                    <dd>{{ calendario_academico.data_inicio_etapa_1|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Fim do Período de Matrícula</dt>
                    <dd>{{ data_fim_matricula|format }}</dd>
                </div>
            {% endif %}
		</table>

	{% endbox %}

    {% if oferta_vaga.oferta_vaga_curso.edital.remanescentes and oferta_vaga.criacaovagaremanescente_set.exists %}
    {% box "Criação de Vagas Remanescentes" %}
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Quantidade</th>
                        <th>Justificativa</th>
                        <th>Data</th>
                        <th>Responsável</th>
                    </tr>
                </thead>
                <tbody>
                    {% for criacao in oferta_vaga.criacaovagaremanescente_set.all %}
                        <tr>
                            <td>{{ criacao.qtd }}</td>
                            <td>{{ criacao.justificativa }}</td>
                            <td>{{ criacao.data|format }}</td>
                            <td>{{ criacao.responsavel|format }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endbox %}
    {% endif %}

	{% box "Candidatos" %}

        <ul class="action-bar">
            <li><a href="/processo_seletivo/edital/{{ oferta_vaga.oferta_vaga_curso.edital.pk }}/?tab=vagas&uo_selecionada={{ oferta_vaga.oferta_vaga_curso.curso_campus.diretoria.setor.uo.pk }}{% if polos and polo %}&polo_selecionado={{ polo }}{% endif %}#{{ oferta_vaga.oferta_vaga_curso.pk }}" class="btn default">Voltar para o Edital</a></li>
            {% if oferta_vaga.oferta_vaga_curso.edital.remanescentes %}
                <li><a href="/processo_seletivo/criar_vaga_remanescente/{{ oferta_vaga.pk }}/" class="btn success popup">Criar Vaga Remanescente</a></li>
            {% endif %}
        </ul>

        {% if not pode_realizar_acao %}
            <p class="msg alert">O prazo para realização de matrícula expirou.</p>
        {% endif %}
        <p class="msg info">O controle das vagas por polo deve ser realizada pelo Secretário Acadêmico.</p>

        <div class="search-and-filters mt-4" id="polo">
            <div class="filter">
                {% if polos %}
                <label>Polo:</label>
                <select class="text-center" onchange="document.location.href='/processo_seletivo/classificados/{{ oferta_vaga.pk }}/'+$(this).val()+'/#polo'">
                    {% for item in polos %}
                        <option {% if item == polo %}selected{% endif %}>{{ item }}</option>
                    {% endfor %}
                </select>
                {% endif %}
                <label>Nome/CPF:</label>
                <input type="text" name="q" id="q" value="{{ request.GET.q|default:'' }}">
            </div>
            <script>
                $('#q').keypress(function(e) {if ((e.keyCode ? e.keyCode : e.which) == '13') window.location.href = window.location.href.split('?q=')[0]+'?q='+this.value;});
            </script>
        </div>

        {% if candidatos_vagas.exists and pode_realizar_acao %}
            <ul class="action-bar">
                <li><a href="/processo_seletivo/realizar_acao_lote/{{ oferta_vaga.pk }}/" class="btn popup">Realizar Ação em Lote</a></li>
                <li><a href="?xls_candidatos=1" class="btn">Exportar Candidatos para Excel</a></li>
            </ul>
        {% endif %}

        {% for grupo, candidatos_vagas in grupos_candidatos_vaga %}

            <h4>{{ grupo }}</h4>

            {% if candidatos_vagas.exists %}
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Classificação</th>
                                <th>Dados do Candidato</th>
                                <th>Situação</th>
                                <th>Convocação</th>
                                {% if oferta_vaga.curso_campus.diretoria.ead %}
                                    <th>Polo</th>
                                {% endif %}
                                <th>Situação</th>
                                {% if pode_realizar_acao %}
                                    <th class="no-print">Opções</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% autopaginate candidatos_vagas 200 %}
                            {% for candidatovaga in candidatos_vagas %}
                            <tr id="{{ candidatovaga.pk }}">
                                <td class="text-center">{% if candidatovaga.classificacao %}{{ candidatovaga.classificacao }}º Lugar{% else %}-{% endif %}</td>
                                <td>
                                    <p><strong>{{ candidatovaga.candidato.cpf }}</strong></p>
                                    <p><strong>{{ candidatovaga.candidato.nome }}</strong></p>
                                    <p>{{ candidatovaga.candidato.inscricao|format }}</p>
                                    <p>{{ candidatovaga.candidato.telefone|format }}</p>
                                    <p>{{ candidatovaga.candidato.email|format }}</p>
                                    {% if candidatovaga.candidato.campus_polo %}
                                        <p>Polo {{ candidatovaga.candidato.campus_polo }}</p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if candidatovaga.aprovado %}
                                        <span class="status status-success">Aprovado</span>
                                    {% else %}
                                        <span class="status status-alert">Em Espera</span>
                                    {% endif %}
                                    {% if candidatovaga.convocacao %}
                                        {% if not candidatovaga.situacao %}
                                            {% if candidatovaga.vaga and candidatovaga.vaga.oferta_vaga != oferta_vaga %}
                                                <p><strong>Origem:</strong> {{ candidatovaga.vaga }}</p>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if candidatovaga.convocacao %}
                                        {{ candidatovaga.convocacao }}ª Chamada <br>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                {% if oferta_vaga.curso_campus.diretoria.ead %}
                                    <td>{{ candidatovaga.candidato.campus_polo }}</td>
                                {% endif %}
                                <td id="situacao{{ candidatovaga.pk }}">
                                    {% if candidatovaga.situacao %}
                                        {% with status=candidatovaga.get_status %}
                                        <span class="status status-{{ status.1 }} {% if status.2 %} hint {% endif %}" {% if status.2 %}data-hint="Matrícula realizada em {{ status.2 }}"{% endif %}>
                                            {% if candidatovaga.situacao == "1" %}
                                                {% with aluno=candidatovaga.get_aluno %}
                                                    {% if aluno %}
                                                        <a target="_blank" href="/edu/aluno/{{ aluno.matricula }}/">{{ status.0 }}</a>
                                                    {% else %}
                                                        {{ status.0 }}
                                                    {% endif %}
                                                {% endwith %}
                                            {% else %}
                                                {{ status.0 }}
                                            {% endif %}
                                            {% if candidatovaga.utilizou_vaga_migrada and candidatovaga.situacao == "1" %}
                                                <br>({{ candidatovaga.vaga }})
                                            {% endif %}
                                        </span>
                                        {% endwith %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                {% if pode_realizar_acao %}
                                <td class="no-print">
                                    {% if candidatovaga.convocacao %}
                                        {% if not candidatovaga.situacao %}
                                            <ul class="action-bar">
                                                <li class='has-child'>
                                                    <a class="btn" href="#">Ações</a>
                                                    <ul>
                                                        {% if candidatovaga.vaga %}
                                                            <li><a href="/edu/efetuar_matricula/{{ candidatovaga.pk }}/">Matricular</a></li>
                                                            {% if is_administrador %}
                                                                <li><a href="/processo_seletivo/vincular_matricula/{{ candidatovaga.pk }}/">Vincular Matrícula</a></li>
                                                            {% endif %}
                                                            {% if is_debug %}
                                                                <li><a href="?simular={{ candidatovaga.pk }}&{{ request.META.QUERY_STRING }}">Simular Matrícula</a></li>
                                                            {% endif %}
                                                            <li><a href="?ausencia={{ candidatovaga.pk }}&{{ request.META.QUERY_STRING }}">Registrar Ausência</a></li>
                                                            <li><a href="?inaptidao={{ candidatovaga.pk }}&{{ request.META.QUERY_STRING }}">Registrar Inaptidão</a></li>
                                                        {% endif %}
                                                        {% if candidatovaga.is_inconsistente and is_administrador %}
                                                            <li><a href="/processo_seletivo/vincular_vaga/{{ candidatovaga.pk }}/">Vincular Vaga</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            </ul>
                                        {% else %}
                                            {% if request.user.is_superuser or candidatovaga.convocacao == ultima_chamada %}
                                                {% if perms.processo_seletivo.change_edital or not candidatovaga.situacao == '1' %}
                                                    <a class="btn warning confirm" data-confirm="{% if candidatovaga.situacao == '1' %}Esse procedimento acarretará na exclusão do aluno. Deseje continuar?{% else %}Tem certeza que deseja desfazer o procedimento?{% endif %}" href="?desfazer={{ candidatovaga.pk }}&{{ request.META.QUERY_STRING }}">Desfazer</a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% paginate %}
                </div>
            {% else %}
                <p class="msg alert">Nenhum candidato na lista de "{{ grupo }}" para esta oferta de vaga.</p>
            {% endif %}
        {% endfor %}
	{% endbox %}
{% endblock %}
