{% extends super_template %}

{% block content %}

    {% box 'Dados Gerais' %}
        <table class="info">
            <tr>
                <td>Código:</td>
                <td>{{ edital.codigo }}</td>
                <td>Ano/Semestre:</td>
                <td>{{ edital.ano }}/{{ edital.semestre }}</td>
            </tr>
            <tr>
                <td>Descrição:</td>
                <td>{{ edital.descricao }}</td>
            <tr>
                <td>Edital de Vagas Remanescentes:</td>
                <td>{{ edital.remanescentes|format }}</td>
                <td>Sisu:</td>
                <td>{{ edital.sisu|format }}</td>
            </tr>
            <tr>
                <td>Início das Matrículas:</td>
                <td>{{ edital.data_inicio_matricula|format }}</td>
                <td>Fim das Matrículas:</td>
                <td>{{ edital.data_fim_matricula|format }}</td>
            </tr>
            <tr>
                <td>Limite para Avaliação:</td>
                <td>{{ edital.data_limite_avaliacao|format }}</td>
            </tr>
        </table>
    {% endbox %}

    {% box 'Formulário das Etapas' %}
        {% render_form form %}
    {% endbox %}

{% endblock %}