{% extends super_template %}

{% block content %}
        <style>
        .bold{
            font-weight: bolder;
        }
        .bg1{
            background-color: #ffede0 !important;
        }
        .bg2{
            background-color: #fff !important;
        }
        </style>

		<table>
			<thead>
                <tr>
                    <th colspan="2" align="center">Vaga</th>
                    <th colspan="5" align="center">Ocupante</th>
                </tr>
				<tr class="text-center bold">
                    <th>#</th>
                    <th>Lista</th>
					<th>Nome</th>
                    <th>Lista</th>
                    <th>Classificação</th>
                    <th>Convocação</th>
                    <th>Situação</th>
				</tr>
			</thead>
			<tbody>
				{% for vaga in vagas_ordenadas %}
                    {% with candidato_vaga=vaga.candidatovaga_set.first %}
                        <tr>
                            <td class="bg1">{{ forloop.counter }}</td>
                            <td class="bg1">{{ vaga.oferta_vaga.lista }}</td>
                            {% if candidato_vaga %}
                                <td class="bg2">{{ candidato_vaga.candidato.nome }}</td>
                                <td class="bg2">{{ candidato_vaga.oferta_vaga.lista }}</td>
                                <td class="bg2">{{ candidato_vaga.classificacao }}º Lugar</td>
                                <td class="bg2">{{ candidato_vaga.convocacao }}º Chamada</td>
                                <td class="bg2 text-center">
                                    {% with status=candidato_vaga.get_status %}
                                    {% if candidato_vaga.situacao %}
                                        <span class="status status-{{ status.1 }}">{{ status.0 }}</span>
                                    {% else %}
                                        -
                                    {% endif %}
                                    {% endwith %}
                                </td>
                            {% else %}
                                <td colspan="5">-</td>
                            {% endif %}
                        </tr>
                    {% endwith %}
				{% endfor %}
			</tbody>
		</table>

{% endblock %}
