{% extends "admin/change_form.html" %}

{% block object-status %}
    {{ pedido.situacao_atual_str|status }}
{% endblock %}

{% block action-bar %}
    <ul class="action-bar">
        {% if pedido %}
            <li><a class="btn" href="/licenca_capacitacao/visualizar_pedido_servidor/{{ pedido.id }}/">Voltar para o pedido</a></li>
        {% else %}
            <li><a class="btn" href="/licenca_capacitacao/visualizar_edital_servidor/{{ request.GET.edital }}/">Voltar para o edital</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
	{{ block.super }}
{% endblock %}


