{% extends super_template %}

{% block content %}
{% if info %}
<p class="msg info">
    {{ info }}
</p>
{% endif %}
{% box 'Dados do Servidor' %}
<table class="info">
    <tr>
        <td>Nome</td>
        <td>{{ resposta_termo_acumulo_cargos.servidor.nome }}</td>
    </tr>
    <tr>
        <td>Cargo/Função</td>
        <td>{{ resposta_termo_acumulo_cargos.servidor.cargo_emprego|format }} {{ resposta_termo_acumulo_cargos.servidor.funcao|format }} </td>
    </tr>
    <tr>
        <td>Jornada de Trabalho</td>
        <td>{{ resposta_termo_acumulo_cargos.servidor.jornada_trabalho }}</td>
    </tr>
</table>
{% endbox %}
<div class="formQuiz">
{% render_form form %}
</div>

{% if resposta_termo_acumulo_cargos.pk %}
	<p class="obs float-end">{{resposta_termo_acumulo_cargos.hash}}</p>
{% endif %}
{% endblock %}
