{% extends super_template %}


{% block content %}

    {% render_form form %}

    {% if request.method == 'POST' %}
        {% box "Componentes ({{ componentes.count }})" %}
        {% if componentes.exists %}
            <table>
                <thead>
                <tr>
                    <th>Componenente</th>
                    <th class="no-print">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for componente in componentes %}
                    <tr>
                        <td>{{ componente }}</td>
                        <td class="no-print">
                            <a class="btn default popup" href="/avaliacao_cursos/estatistica_resposta_componente/{{ avaliacao.pk }}/0/{{ componente.pk }}/{{ segmento.pk }}/" title="Visualizar Estatística">Visualizar Estatística</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="msg alert">Nenhum componente cadastrado.</p>
        {% endif %}
        {% endbox %}
    {% endif %}

{% endblock %}