{% extends super_template %}


{% block content %}
    {% box 'Filtros' %}
        {% render_form form %}
    {% endbox %}

    {% box 'Respondentes' %}
        {% if respondentes %}
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Segmento</th>
                        <th>Finalizado</th>
                        <th class="no-print">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% autopaginate respondentes 100 %}
                    {% for respondente in respondentes %}
                    <tr>
                        <td>{{ respondente.vinculo.pessoa.nome }} ({{ respondente.vinculo.relacionamento.matricula }})</td>
                        <td>{{ respondente.segmento }}</td>
                        <td>{{ respondente.finalizado|format }}</td>
                        <td class="no-print">
                            <ul class="action-bar">
                                <li><a class="btn default" href="/avaliacao_cursos/responder/{{ respondente.pk }}/">Visualizar</a></li>
                                {% if respondente.finalizado %}
                                	<li><a class="btn primary" href="/avaliacao_cursos/reabrir/{{ respondente.pk }}/">Reabrir</a></li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% paginate %}
        {% else %}
            <p class="msg alert">Nenhum respondente identificado.</p>
        {% endif %}
    {% endbox %}
{% endblock %}