{% extends "admin/base_anonima.html" %}

{% block content %}

    {% if primeira_solicitacao and False %}
         <p class="msg alert">Os certificados/declarações emitidos antes de {{ primeira_solicitacao|date:"d \d\e M \d\e Y" }} não foram registrados no SUAP e, portanto, não constam nas estatísticas a seguir.</p>
    {% endif %}

    {% box "Dados Gerais" %}
        <table class="info">
            <tr>
                <td>Instituição Certificadora</td>
                <td>{% get_valor_por_chave "comum" "instituicao_sigla" %}</td>
                <td>UF</td>
                <td>RN</td>
            </tr>
        </table>
    {% endbox %}

    {% box "Quantitativo" %}

        <div class="search-and-filters">
            {% render_form form %}
        </div>
        {% if registros %}
        <table>
            <thead>
                <tr>
                    <th>Exame</th>
                    <th>Data da Prova</th>
                    <th>Ensino Médio Certificado (Regular)</th>
                    <th>Ensino Médio Certificado (PPL)</th>
                    <th>Ensino Médio Declaração (Regular)</th>
                    <th>Ensino Médio Declaração (PPL)</th>
                </tr>
            </thead>
            <tbody>
            {% for registro in registros %}
                <tr>
            		<td>{{ registro.0|format }}</td>
            		<td class="text-center">{{ registro.1|format }}</td>
                    <td class="text-center">{{ registro.2|format }}</td>
                    <td class="text-center">{{ registro.3|format }}</td>
                    <td class="text-center">{{ registro.4|format }}</td>
                    <td class="text-center">{{ registro.5|format }}</td>
                <tr/>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="msg alert">Nenhum certificado/declaração emitido nesse período.</p>
        {% endif %}
    {% endbox %}

{% endblock %}