{% extends super_template %}

{% block extrahead %}
    <script src="/static/saude/js/odontograma.js"></script>
{% endblock %}

{% block action-bar %}
    {% include "includes/actionbar_atendimento.html" %}
{% endblock %}

{% block object-status %}
    {% include "includes/status_atendimento.html" %}
{% endblock %}

{% block content %}

{% include "includes/cabecalho_atendimento.html" %}

{% box "Odontograma" %}

    <p class="msg alert">Você deve selecionar uma Situação Clínica antes de preencher o Odontograma.</p>

    <input type="hidden" id="faces_alteradas" value="{{ odontograma.dentes_alterados }}" />
    {% if situacoes %}
        <div class="legenda flat">
            <p>Legenda:</p>
            <ul>
                {% for situacao in situacoes %}
                    <input type="hidden" name="situacao_clinica_object" value="{{ situacao.id }}/{{ situacao.preenchimento }}-{{ situacao.categoria }}" />
                    <li class="{{ situacao.categoria }}">{{ situacao.descricao }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="grid">
        <div class="grid9">
            <div id="odontograma_fixo"></div>
        </div>
        <div class="grid3">
            <h4>Mapeamento</h4>
            <dl>
                <dt>Arcada:</dt>
                <dd id="arcada">-</dd>
                <dt>Dente:</dt>
                <dd id="n_dente">-</dd>
                <dt>Face:</dt>
                <dd id="face">-</dd>
            </dl>
        </div>
    </div>

    {% render_form form %}

    <script>
    desenhar_odontograma();
    carregar_categorias();
    restaurar_odontograma();
    </script>
{% endbox %}

{% endblock %}