{% extends "relatorio_pdf.html" %}
{% block content_frame %}
    top: 3.5cm;
    left: 20;
    right: 20;
    bottom: 40;

{% endblock %}
{% block page_settings %}
    background-image: url(/static/comum/img/logo_if_portrait.png);
    @frame cabecalho {
        -pdf-frame-content: cabecalho;
        top: 0.6cm;
        left: 0.5cm;
        height: 3.0cm;
        font-size: 12pt;
    }
    @frame footer {
                    -pdf-frame-content: footerblock;
                    {% block footer_frame %}
                        bottom: 1.3cm;
                        right: 0.5cm;
                        height: 3.3cm;
                    {% endblock %}
    			}
{% endblock %}
{% block style %}
td, th {
    font-size: 12pt;
    padding: 1px;
    line-height: 1em;
    font-family: Times New Roman, Verdana, Arial, sans-serif;
}
.cidade {
    text-align: center;
    padding-bottom: 15px;
    vertical-align: bottom;
    font-size: 12pt;
}
.autenticacao {
    font-size: 12pt;
    line-height: 1em;
    font-family: "Times New Roman", Verdana, Arial, sans-serif;
}

#titulo_corpo {
    font-size: 12pt;
    text-align: center;
    font-weight: bold;
    font-family: Times New Roman, Verdana, Arial, sans-serif;


}

#texto_corpo {
    font-size: 14pt;
    text-align: justify;
    padding-top: 2px;
    font-family: Times New Roman, Verdana, Arial, sans-serif;

}

.descricao{
    font-size: 12pt;
}
{% endblock %}
{% block cabecalho %}
{% endblock %}
{% block content %}

            <div id="cabecalho">
                <table border="0">
                    <tr>
                        <td rowspan="4" width="40%"><img src="/static/comum/img/logo_instituicao.jpg" alt="Logo do {% get_valor_por_chave "comum" "instituicao_sigla" %}" class="logo" /></td>
                        <td class="titulo">Ministério da Educação</td>
                    </tr>
                    <tr>
                        <td class="titulo">Secretaria de Educação Tecnológica</td>
                    </tr>
                    <tr>
                        <td class="titulo">{{ instituicao }}</td>
                    </tr>
                     <tr>
                        <td class="titulo">{{ titulo }} </td>
                    </tr>
                </table>
            </div>

            <br/><br/><br/> <br /><br/><br/> <br /><br/><br/> <br /><br/><br/> <br /><br/><br/> <br /><br/><br/> <br />
            <div id="titulo_corpo">
                 PLANO ALIMENTAR E NUTRICIONAL
            </div>
            <br/><br/><br/> <br /><br /> <br /><br />
            <br/><br/><br/> <br />
            <div id="texto_corpo">

                <center>Paciente: {{ atendimento.get_vinculo }}</center>
            </div>
            <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br />
            <br /> <br /><br />


            {% if orientacoes %}
                <pdf:nextpage />

                <div class="descricao">
                    <b>Paciente:</b> {{ atendimento.get_vinculo }}<br>
                    <b>Peso Atual:</b> {{ peso|format }},
                    <b>Altura:</b> {{ altura|format }},
                    <b>IMC:</b> {{ imc|format }}


                    <br><br><br><br><br>

                    <center>
                        <b>ORIENTAÇÕES NUTRICIONAIS</b>
                    </center>
                    <br><br>


                        {% for item in orientacoes %}
                        <p>{{ item.descricao|format|safe }}</p>
                        </tr>
                        {% endfor %}
                    </table>

                </div>


            {% endif %}
            {% if plano.cardapio %}
                <pdf:nextpage />

                <div class="descricao">
                    <b>Paciente:</b> {{ atendimento.get_vinculo }}



                    <br><br><br><br><br>
                    <center>
                    <b>CARDÁPIO</b>
                    <br><br><br><br>
                    </center>

                        {{ plano.cardapio|safe }}

                </div>

            {% endif %}
            {% if receitas %}
                <pdf:nextpage />
                <div class="descricao">

                    <b>Paciente:</b> {{ atendimento.get_vinculo }}


                    <br><br><br><br><br>
                    <center>
                    <b>RECEITAS</b>
                    <br><br><br><br>

                        {% for receita in receitas %}
                             <b>- {{ receita.titulo }}</b><br>
                            <p>{{ receita.descricao|format|safe }}</p><br>
                        {% endfor %}


                    </center>
                </div>
            {% endif %}
            {% if plano.sugestoes_leitura %}
                <pdf:nextpage />
                <div class="descricao">

                    <b>Paciente:</b> {{ atendimento.get_vinculo }}


                    <br><br><br><br><br>
                    <center>
                    <b>Sugestões de Leituras e Links</b>
                    <br><br><br><br>

                        {{ plano.sugestoes_leitura|safe }}


                    </center>
                </div>
            {% endif %}


<div id="footerblock" align="right">
   {{ atendimento.usuario_aberto.get_vinculo.pessoa.nome }}<br>Nutricionista<br>Mat. SIAPE {{ atendimento.usuario_aberto.get_relacionamento.matricula }}<br><br><br>
    <center>{{ campus.nome }} <br> {{ hoje.year }}</center>
</div>
{% endblock %}
