{% extends super_template %}

{% block bodyclass %}hasAsideRight{% endblock %}

{% block action-bar %}
    {% if vinculo_aluno %}
        <ul class="action-bar">
            <li>
                <a class="btn primary popup"
                   href="/saude/editar_cartao_sus/{{ vinculo_aluno.id }}/">{% icone "edit" %} Editar Cartão SUS</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}

    {% if vacinas_atrasadas %}
        <p class="msg alert">O paciente possui vacinas em atraso. Verifique o Cartão Vacinal.</p>
    {% endif %}
    {% if vacinas_proximas %}
        <p class="msg info">O paciente possui vacina agendada para os próximos 15 dias.</p>
    {% endif %}
    {% if tem_alergia_alimentos %}
        <p class="msg alert">O paciente possui alergia aos seguintes alimentos: <b>{{ quais_alergias_alimentos|format }}</b></p>
    {% endif %}
    {% if tem_alergia_medicamentos %}
        <p class="msg alert">O paciente possui alergia aos seguintes medicamentos: <b>{{ quais_alergias_medicamentos|format }}</b></p>
    {% endif %}
    {% if tem_plano_odontologico %}
        <p class="msg alert">O paciente possui plano odontológico.</p>
    {% endif %}
    {% if tem_doenca_cronica %}
        <p class="msg alert">O paciente possui as seguintes doenças crônicas: <b>{{ quais_doencas_cronicas|format }}</b></p>
    {% endif %}
    {% if eh_gestante %}
        <p class="msg alert">Está gestante.</p>
    {% endif %}
    {% if vinculo_aluno and estah_em_horario_de_aula %}
        <p class="msg alert">O aluno está em horário de aula neste momento.</p>
    {% endif %}

    {% box "Dados Gerais" %}
        <div class="photo-circle big">
            <img alt="Foto de {{ prontuario.vinculo.pessoa.nome_usual }}" src="{{ prontuario.vinculo.pessoa.get_foto_75x100_url }}" />
        </div>
        <dl class="definition-list flex">
            <div class="list-item flex-basis-50">
                <dt>Paciente</dt>
                <dd>{{ prontuario.vinculo.pessoa.nome|format }}</dd>
            </div>
            <div class="list-item">
                <dt>CPF</dt>
                <dd>{{ prontuario.vinculo.pessoa.pessoafisica.cpf|format }}</dd>
            </div>
            <div class="list-item">
                <dt>Sexo</dt>
                <dd>
                    {% if prontuario.vinculo.pessoa.pessoafisica.sexo == "M" %}
                        Masculino
                    {% else %}
                        Feminino
                    {% endif %}
                </dd>
            </div>
            {% if not prontuario.vinculo.pessoa.pessoafisica.idade == "-" %}
                <div class="list-item">
                    <dt>Idade</dt>
                    <dd>{{ prontuario.vinculo.pessoa.pessoafisica.idade }} anos</dd>
                </div>
            {% endif %}
            <div class="list-item flex-basis-50">
                <dt>Telefone</dt>
                <dd>{{ telefone|format }}</dd>
            </div>
             <div class="list-item flex-basis-100">
                <dt>Endereço</dt>
                <dd>{{ endereco|format }}</dd>
            </div>
            {% if vinculo_aluno %}
                 <div class="list-item flex-basis-50">
                    <dt>Email</dt>
                    <dd>{{ email_do_aluno|format }}</dd>
                </div>
                <div class="list-item flex-basis-50">
                    <dt>Cartão SUS</dt>
                    <dd>{{ vinculo_aluno.cartao_sus|format }}</dd>
                </div>
                <div class="list-item flex-basis-50">
                    <dt>Nome do(a) Responsável</dt>
                    <dd>{{ nome_responsavel|format }}</dd>
                </div>
                 <div class="list-item flex-basis-50">
                    <dt>Email do(a) Responsável</dt>
                    <dd>{{ email_responsavel|format }}</dd>
                </div>
                 <div class="list-item flex-basis-100">
                    <dt>Telefone do(a) Responsável</dt>
                    <dd>{{ tel_responsavel|format }}</dd>
                </div>

            {% endif %}
            {% if tem_caracterizacao %}
                <div class="list-item">
                    <dt>Renda Familiar</dt>
                    <dd>R$ {{ renda_familiar|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Moradia</dt>
                    <dd>{{ moradia|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Pessoas na Residência</dt>
                    <dd>{{ qtd_pessoas_domicilio|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Escolaridade da Mãe</dt>
                    <dd>{{ escolaridade_mae|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Escolaridade do Pai</dt>
                    <dd>{{ escolaridade_pai|format }}</dd>
                </div>
            {% endif %}
        </dl>
    {% endbox %}

    {% if not eh_externo and vinculo_aluno and atendimentos_avaliacao_biomedica.exists %}
        <div class="tab-container" data-tab="aba_avaliacao_biomedica" data-title="Avaliações Biomédicas" data-counter="{{ atendimentos_avaliacao_biomedica.count }}">
            {% box "Avaliações Biomédicas" %}
                <table>
                    <thead>
                        <tr>
                            <th class="no-print">Ações</th>
                            <th>Vínculo</th>
                            <th>Aberto em</th>
                            <th>Situação</th>
                            <th>Observações</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for registro in atendimentos_avaliacao_biomedica %}
                        <tr>
                            <td class="no-print">
                                {% icon "view" "/saude/avaliacao_biomedica/{{ registro.id }}/" %}
                            </td>
                            <td>{{ registro.get_vinculo_title }}</td>
                            <td>{{ registro.data_aberto|format }} por {{ registro.usuario_aberto|format }}</td>
                            <td>
                                {% if registro.situacao == situacao_atendimento.ABERTO %}
                                    <span class="status status-info">{{ registro.get_situacao|format }}</span>
                                {% elif registro.situacao == situacao_atendimento.FECHADO %}
                                    <span class="status status-success">{{ registro.get_situacao|format }} em {{ registro.data_fechado|format }} por {{ registro.usuario_fechado|format }}</span>
                                {% elif registro.situacao == situacao_atendimento.CANCELADO %}
                                    <span class="status status-error">{{ registro.get_situacao|format }} em {{ registro.data_cancelado|format }} por {{ registro.usuario_cancelado|format }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if registro.situacao == situacao_atendimento.ABERTO %}
                                    -
                                {% elif registro.situacao == situacao_atendimento.FECHADO and registro.obs_fechado %}
                                    {{ registro.obs_fechado }}
                                {% elif registro.situacao == situacao_atendimento.CANCELADO and registro.obs_cancelado %}
                                    {{ registro.obs_cancelado }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endbox %}
        </div>
    {% endif %}

    {% if atendimentos_medico_enfermagem %}
        <div class="tab-container" data-tab="aba_atendimento_medico_enfermagem" data-title="Atendimentos Médico/Enfermagem" data-counter="{{ atendimentos_medico_enfermagem.count }}">
            {% box "Atendimentos Médico/Enfermagem" %}
                <table>
                    <thead>
                        <tr>
                            <th class="no-print">Ações</th>
                            <th>Vínculo</th>
                            <th>Aberto em</th>
                            {% if eh_grupo_medico_enf %}
                                <th>Motivo da Consulta</th>
                                <th>HDA</th>
                                <th>Hipóteses Diagnósticas</th>
                                <th>Condutas</th>
                                <th>Intervenção de Enfermagem</th>
                            {% endif %}
                            <th>Situação</th>
                            {% if eh_grupo_medico_enf %}
                                <th>Observações</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for registro in atendimentos_medico_enfermagem %}
                        <tr>
                            <td class="no-print">{% icon "view" "/saude/atendimento_medico_enfermagem/{{ registro.id }}/" %}</td>
                            <td>{{ registro.get_vinculo_title }}</td>
                            <td>{{ registro.data_aberto|format }} por {{ registro.usuario_aberto|format }}</td>
                            {% if eh_grupo_medico_enf %}
                                <td>{{ registro.get_motivo_consulta|safe }}</td>
                                <td>{{ registro.get_hda|format }}</td>
                                <td>{{ registro.get_hipoteses_diagnosticas|safe }}</td>
                                <td>{{ registro.get_condutas|safe }}</td>
                                <td>{{ registro.get_intervencoes_enfermagem|safe }}</td>
                            {% endif %}
                            <td>
                                {% if registro.situacao == situacao_atendimento.ABERTO %}
                                    <span class="status status-info">{{ registro.get_situacao|format }}</span>
                                {% elif registro.situacao == situacao_atendimento.FECHADO %}
                                    <span class="status status-success">{{ registro.get_situacao|format }} em {{ registro.data_fechado|format }} por {{ registro.usuario_fechado|format }}</span>
                                {% elif registro.situacao == situacao_atendimento.CANCELADO %}
                                    <span class="status status-error">{{ registro.get_situacao|format }} em {{ registro.data_cancelado|format }} por {{ registro.usuario_cancelado|format }}</span>
                                {% elif registro.situacao == situacao_atendimento.REABERTO %}
                                    <span class="status status-info">{{ registro.get_situacao|format }} em {{ registro.data_reaberto|format }} por {{ registro.usuario_reaberto|format }}</span>
                                {% endif %}
                            </td>
                            {% if eh_grupo_medico_enf %}
                                <td>
                                    {% if registro.situacao == situacao_atendimento.ABERTO %}
                                        -
                                    {% elif registro.situacao == situacao_atendimento.FECHADO and registro.obs_fechado %}
                                        {{ registro.obs_fechado }}
                                    {% elif registro.situacao == situacao_atendimento.CANCELADO and registro.obs_cancelado %}
                                        {{ registro.obs_cancelado }}
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endbox %}
        </div>
    {% endif %}

    {% if atendimentos_odontologicos %}
        <div class="tab-container" data-tab="aba_atendimento_odontologico" data-title="Atendimentos Odontológicos" data-counter="{{ atendimentos_odontologicos.count }}">
            {% box "Atendimentos Odontológicos" %}
                <table>
                    <thead>
                        <tr>
                            <th class="no-print">Ações</th>
                            <th>Vínculo</th>
                            {% if eh_dentista %}
                                <th>Tipo de Consulta</th>
                                <th>Procedimentos</th>
                            {% endif %}
                            <th>Aberto em</th>
                            <th>Situação</th>
                            {% if eh_dentista %}
                                <th>Observações</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for registro in atendimentos_odontologicos %}
                        <tr>
                            <td class="no-print">{% icon "view" "/saude/atendimento_odontologico/{{ registro.id }}/" %}</td>
                            <td>{{ registro.get_vinculo_title }}</td>
                            {% if eh_dentista %}
                                <td>{{ registro.get_tipo_consulta|format }}</td>
                                <td>{{ registro.get_procedimentos_odontologicos|format }}</td>
                            {% endif %}
                            <td>{{ registro.data_aberto|format }} por {{ registro.usuario_aberto|format }}</td>
                            <td>
                                {% if registro.situacao == situacao_atendimento.ABERTO %}
                                    <span class="status status-info">{{ registro.get_situacao|format }}</span>
                                {% elif registro.situacao == situacao_atendimento.FECHADO %}
                                    <span class="status status-success">{{ registro.get_situacao|format }} em {{ registro.data_fechado|format }} por {{ registro.usuario_fechado|format }}</span>
                                {% elif registro.situacao == situacao_atendimento.CANCELADO %}
                                    <span class="status status-error">{{ registro.get_situacao|format }} em {{ registro.data_cancelado|format }} por {{ registro.usuario_cancelado|format }}</span>
                                {% endif %}
                            </td>
                            {% if eh_dentista %}
                                <td>
                                    {% if registro.situacao == situacao_atendimento.ABERTO %}
                                        -
                                    {% elif registro.situacao == situacao_atendimento.FECHADO and registro.obs_fechado %}
                                        {{ registro.obs_fechado }}
                                    {% elif registro.situacao == situacao_atendimento.CANCELADO and registro.obs_cancelado %}
                                        {{ registro.obs_cancelado }}
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endbox %}
        </div>
    {% endif %}

    {% if eh_psicologo %}
        <div class="tab-container" data-tab="aba_anamnese_psicologia" data-title="Anamnese" data-counter="{{ anamnese_psicologia.count }}">
            {% box "Anamnese" %}
                <ul class="action-bar">
                    {% if anamnese_psicologia %}
                        <li><a class="btn primary" href="/saude/adicionar_anamnese_psicologica/{{ prontuario.vinculo.id }}/">{% icone "edit" %} Editar</a></li>
                    {% else %}
                        <li><a class="btn success" href="/saude/adicionar_anamnese_psicologica/{{ prontuario.vinculo.id }}/">{% icone "plus" %} Adicionar</a></li>
                    {% endif %}
                </ul>
                {% if anamnese_psicologia %}
                    <table class="info">
                        <tr>
                            <td>Histórico da Queixa</td>
                            <td>{{ anamnese_psicologia.historico_queixa|format }}</td>
                        </tr>
                        <tr>
                            <td>Dimensão Familiar</td>
                            <td>{{ anamnese_psicologia.dimensao_familiar|format }}</td>
                        </tr>
                        <tr>
                            <td>Dimensão Escolar</td>
                            <td>{{ anamnese_psicologia.dimensao_escolar|format }}</td>
                        </tr>
                        <tr>
                            <td>Dimensão Emocional</td>
                            <td>{{ anamnese_psicologia.dimensao_emocional|format }}</td>
                        </tr>
                        <tr>
                            <td>Dimensão dos Projetos de Vida</td>
                            <td>{{ anamnese_psicologia.dimensao_projetos_vida|format }}</td>
                        </tr>
                        <tr>
                            <td>Dimensão Social</td>
                            <td>{{ anamnese_psicologia.dimensao_social|format }}</td>
                        </tr>
                    </table>
                    <p class="obs">{{ anamnese_psicologia_responsavel }}</p>
                {% else %}
                    <p class="msg alert">Nenhuma anamnese cadastrada para este prontuário.</p>
                {% endif %}
            {% endbox %}
        </div>

        {% if atendimentos_psicologicos.exists %}
            <div class="tab-container" data-tab="aba_atendimento_psicologico" data-title="Atendimentos Psicológicos" data-counter="{{ atendimentos_psicologicos.count }}">
                {% box "Atendimentos Psicológicos" %}
                    <table>
                        <thead>
                            <tr>
                                <th class="no-print">Ações</th>
                                <th>Vínculo</th>
                                <th>Aberto em</th>
                                <th>Situação</th>
                                <th>Observações</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for registro in atendimentos_psicologicos %}
                            <tr>
                                <td class="no-print">
                                    {% if registro.usuario_aberto == request.user %}
                                        {% icon "view" "/saude/atendimento_psicologico/{{ registro.id }}/" %}
                                    {% endif %}
                                </td>
                                <td>{{ registro.get_vinculo_title }}</td>
                                <td>{{ registro.data_aberto|format }} por {{ registro.usuario_aberto|format }}</td>
                                <td>
                                    {% if registro.situacao == situacao_atendimento.ABERTO %}
                                        <span class="status status-info">{{ registro.get_situacao|format }}</span>
                                    {% elif registro.situacao == situacao_atendimento.FECHADO %}
                                        <span class="status status-success">{{ registro.get_situacao|format }} em {{ registro.data_fechado|format }} por {{ registro.usuario_fechado|format }}</span>
                                    {% elif registro.situacao == situacao_atendimento.CANCELADO %}
                                        <span class="status status-error">{{ registro.get_situacao|format }} em {{ registro.data_cancelado|format }} por {{ registro.usuario_cancelado|format }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if registro.situacao == situacao_atendimento.ABERTO %}
                                        -
                                    {% elif registro.situacao == situacao_atendimento.FECHADO and registro.obs_fechado %}
                                        {{ registro.obs_fechado }}
                                    {% elif registro.situacao == situacao_atendimento.CANCELADO and registro.obs_cancelado %}
                                        {{ registro.obs_cancelado }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endbox %}
            </div>
        {% endif %}
    {% endif %}

    {% if atendimentos_nutricionais.exists %}
        <div class="tab-container" data-tab="aba_atendimento_nutricional" data-title="Atendimentos Nutricionais" data-counter="{{ atendimentos_nutricionais.count }}">
            {% box "Atendimentos Nutricionais" %}
                <table>
                    <thead>
                        <tr>
                            <th class="no-print">Ações</th>
                            <th>Vínculo</th>
                            <th>Aberto em</th>
                            <th>Situação</th>
                            <th>Observações</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for registro in atendimentos_nutricionais %}
                        <tr>
                            <td class="no-print">{% icon "view" "/saude/atendimento_nutricional/{{ registro.id }}/" %}</td>
                            <td>{{ registro.get_vinculo_title }}</td>
                            <td>{{ registro.data_aberto|format }} por {{ registro.usuario_aberto|format }}</td>
                            <td>
                                {% if registro.situacao == situacao_atendimento.ABERTO %}
                                    <span class="status status-info">{{ registro.get_situacao|format }}</span>
                                {% elif registro.situacao == situacao_atendimento.FECHADO %}
                                    <span class="status status-success">{{ registro.get_situacao|format }} em {{ registro.data_fechado|format }} por {{ registro.usuario_fechado|format }}</span>
                                {% elif registro.situacao == situacao_atendimento.CANCELADO %}
                                    <span class="status status-error">{{ registro.get_situacao|format }} em {{ registro.data_cancelado|format }} por {{ registro.usuario_cancelado|format }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if registro.situacao == situacao_atendimento.ABERTO %}
                                    -
                                {% elif registro.situacao == situacao_atendimento.FECHADO and registro.obs_fechado %}
                                    {{ registro.obs_fechado }}
                                {% elif registro.situacao == situacao_atendimento.CANCELADO and registro.obs_cancelado %}
                                    {{ registro.obs_cancelado }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endbox %}
        </div>
    {% endif %}

    {% if atendimentos_fisioterapia.exists %}
        <div class="tab-container" data-tab="aba_atendimento_fisioterapia" data-title="Atendimentos de Fisioterapia" data-counter="{{ atendimentos_fisioterapia.count }}">
            {% box "Atendimentos de Fisioterapia" %}
                <table>
                    <thead>
                        <tr>
                            <th class="no-print">Ações</th>
                            <th>Vínculo</th>
                            <th>Aberto em</th>
                            <th>Situação</th>
                            <th>Observações</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for registro in atendimentos_fisioterapia %}
                        <tr>
                            <td class="no-print">
                                <ul class="list-display-icons">
                                    <li>
                                        <a class="icon-search" href="/saude/atendimento_fisioterapia/{{ registro.id }}/"
                                       title="Visualizar"> Visualizar </a>
                                    </li>
                                </ul>
                            </td>
                            <td>{{ registro.get_vinculo_title }}</td>
                            <td>{{ registro.data_aberto|format }} por {{ registro.usuario_aberto|format }}</td>
                            <td>
                                {% if registro.situacao == situacao_atendimento.ABERTO %}
                                    <span class="status status-info">{{ registro.get_situacao|format }}</span>
                                {% elif registro.situacao == situacao_atendimento.FECHADO %}
                                    <span class="status status-success">{{ registro.get_situacao|format }} em {{ registro.data_fechado|format }} por {{ registro.usuario_fechado|format }}</span>
                                {% elif registro.situacao == situacao_atendimento.CANCELADO %}
                                    <span class="status status-error">{{ registro.get_situacao|format }} em {{ registro.data_cancelado|format }} por {{ registro.usuario_cancelado|format }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if registro.situacao == situacao_atendimento.ABERTO %}
                                    -
                                {% elif registro.situacao == situacao_atendimento.FECHADO and registro.obs_fechado %}
                                    {{ registro.obs_fechado }}
                                {% elif registro.situacao == situacao_atendimento.CANCELADO and registro.obs_cancelado %}
                                    {{ registro.obs_cancelado }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endbox %}
        </div>
    {% endif %}

    {% if atendimentos_multidisciplinares.exists %}
        <div class="tab-container" data-tab="aba_atendimento_multidisciplinar" data-title="Atendimentos Multidisciplinares" data-counter="{{ atendimentos_multidisciplinares.count }}">
            {% box "Atendimentos Multidisciplinares" %}
                <table>
                    <thead>
                        <tr>
                            <th class="no-print">Ações</th>
                            <th>Vínculo</th>
                            <th>Aberto em</th>
                            <th>Situação</th>
                            <th>Observações</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for registro in atendimentos_multidisciplinares %}
                        <tr>
                            <td class="no-print">{% icon "view" "/saude/atendimento_multidisciplinar/{{ registro.id }}/" %}</td>
                            <td>{{ registro.get_vinculo_title }}</td>
                            <td>{{ registro.data_aberto|format }} por {{ registro.usuario_aberto|format }}</td>
                            <td>
                                {% if registro.situacao == situacao_atendimento.ABERTO %}
                                    <span class="status status-info">{{ registro.get_situacao|format }}</span>
                                {% elif registro.situacao == situacao_atendimento.FECHADO %}
                                    <span class="status status-success">{{ registro.get_situacao|format }} em {{ registro.data_fechado|format }} por {{ registro.usuario_fechado|format }}</span>
                                {% elif registro.situacao == situacao_atendimento.CANCELADO %}
                                    <span class="status status-error">{{ registro.get_situacao|format }} em {{ registro.data_cancelado|format }} por {{ registro.usuario_cancelado|format }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if registro.situacao == situacao_atendimento.ABERTO %}
                                    -
                                {% elif registro.situacao == situacao_atendimento.FECHADO and registro.obs_fechado %}
                                    {{ registro.obs_fechado }}
                                {% elif registro.situacao == situacao_atendimento.CANCELADO and registro.obs_cancelado %}
                                    {{ registro.obs_cancelado }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endbox %}
        </div>
    {% endif %}

    {% if mostra_abas %}
        <div class="tab-container" data-tab="aba_exames_laboratoriais" data-title="Exames Laboratoriais">
            {% box "Exames Laboratoriais" %}
                {% if especialidade.is_medico or especialidade.is_enfermeiro or especialidade.is_tecnico_enfermagem or especialidade.is_auxiliar_enfermagem or especialidade.is_odontologo or especialidade.is_fisioterapeuta or especialidade.is_nutricionista or especialidade.is_psicologo %}
                    <ul class="action-bar">
                        <li><a class="btn success" href="/saude/adicionar_exame_laboratorial/{{ prontuario.id }}/">{% icone "plus" %} Adicionar Exame</a></li>
                        <li><a href="/saude/exame_laboratorial_valores_referencia/" class="btn popup default">{% icone "search" %} Valores de Referência</a></li>
                    </ul>
                {% endif %}

                {% if exames_laboratoriais.exists %}
                    {% for categoria, exames in dados_exames.items %}
                        {% if exames.registros %}
                            {% box "{{ categoria }}" %}
                                <div class="table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Resultado</th>
                                                {% for data in exames.meses.keys %}
                                                    <th>{{ data }} </th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for tipo, registro in exames.registros.items %}
                                                <tr>
                                                    <td><strong>{{ tipo }}</strong></td>
                                                    {% for data in exames.meses.keys %}
                                                        <td>{{ registro|getkey:data }}</td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endbox %}
                        {% endif %}
                    {% endfor %}

                    {% box "Lista de Exames" "collapsed" %}
                        <div class="table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="no-print">Ações</th>
                                    <th>Nome</th>
                                    <th>Observações</th>
                                    <th>Data</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for registro in exames_laboratoriais %}
                                <tr>
                                    <td class="no-print">
                                        {% if not registro.sigiloso or registro.profissional == request.user.get_relacionamento %}
                                            {% icon "view" "/saude/ver_exame_laboratorial/{{ registro.id }}/" %}
                                        {% endif %}
                                        {% if registro.profissional == request.user.get_relacionamento %}
                                            {% icon "edit" "/saude/editar_exame_laboratorial/{{ registro.id }}/" %}
                                            {% icon "delete" "/saude/excluir_exame_laboratorial/{{ registro.id }}/" %}
                                        {% endif %}
                                    </td>
                                    <td>{{ registro.categoria }}</td>
                                    <td>
                                        {% if not registro.sigiloso or registro.profissional == request.user.get_relacionamento %}
                                            {{ registro.observacao|format }}
                                        {% else %}
                                            <span class="status status-error">Sigiloso</span>
                                        {% endif %}

                                    </td>
                                    <td>{{ registro.data_realizado }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    {% endbox %}
                {% else %}
                    <p class="msg alert">Nenhum exame laboratorial cadastrado para este prontuário.</p>
                {% endif %}
            {% endbox %}
        </div>

        <div class="tab-container" data-tab="aba_exames_imagem" data-title="Exames de Imagem">
            {% box "Exames de Imagem" %}
                {% if especialidade.is_medico or especialidade.is_enfermeiro or especialidade.is_tecnico_enfermagem or especialidade.is_auxiliar_enfermagem or especialidade.is_odontologo or especialidade.is_fisioterapeuta or especialidade.is_nutricionista or especialidade.is_psicologo %}
                    <ul class="action-bar">
                        <li><a class="btn success" href="/saude/adicionar_exame_imagem/{{ prontuario.id }}/">{% icone "plus" %} Adicionar Exame</a></li>
                    </ul>
                {% endif %}

                {% if exames_imagem.exists %}
                    <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th class="no-print">Ações</th>
                                <th>Nome</th>
                                <th>Resultado</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for registro in exames_imagem %}
                            <tr>
                                <td class="no-print">
                                    {% if not registro.sigiloso or registro.profissional == request.user.get_relacionamento %}
                                        {% icon "view" "/saude/ver_exame_imagem/{{ registro.id }}/" %}
                                    {% endif %}
                                    {% if registro.profissional == request.user.get_relacionamento %}
                                        {% icon "edit" "/saude/editar_exame_imagem/{{ registro.id }}/" %}
                                        {% icon "delete" "/saude/excluir_exame_imagem/{{ registro.id }}/" %}
                                    {% endif %}
                                </td>
                                <td>{{ registro.nome }}</td>
                                <td>
                                    {% if not registro.sigiloso or registro.profissional == request.user.get_relacionamento %}
                                        {{ registro.resultado|format }}
                                    {% else %}
                                        <span class="status status-error">Sigiloso</span>
                                    {% endif %}
                                </td>
                                <td>{{ registro.data_realizado }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                {% else %}
                    <p class="msg alert">Nenhum exame de imagem cadastrado para este prontuário.</p>
                {% endif %}
            {% endbox %}
        </div>

        <div class="tab-container" data-tab="aba_cartao_vacinal" data-title="Cartão Vacinal" data-counter="{{ grupos.count }}">
            {% box "Cartão Vacinal" %}
                {% if eh_grupo_medico_enf %}
                    <ul class="action-bar">
                        <li><a class="btn success" href="/saude/adicionar_vacina/{{ prontuario.id }}/">{% icone "plus" %} Adicionar Vacina</a></li>
                        <li><a class="btn success" href="/saude/adicionar_cartao_vacinal/{{ prontuario.vinculo.id }}/">{% icone "plus" %} Adicionar Cartão Vacinal</a></li>
                        {% if prontuario.cartao_vacinal %}
                            <li><a class="btn default" href="{{ prontuario.cartao_vacinal.url }}">{% icone "search" %} Ver Cartão Vacinal</a></li>
                            <li><a class="btn default popup" href="/saude/historico_cartao_vacinal/{{ prontuario.vinculo.id }}/">{% icone "search" %} Historico do Cartão Vacinal</a></li>
                        {% endif %}
                    </ul>
                {% endif %}

                {% if grupos %}
                    {% for grupo in grupos %}
                        {% box "{{ grupo.0.vacina.nome }}" %}
                            {% if eh_grupo_medico_enf %}
                                <ul class="action-bar">
                                    <li><a class="btn primary" href="/saude/adicionar_dose/{{ prontuario.id }}/{{grupo.0.vacina.id}}/">{% icone "plus" %} Adicionar Dose</a></li>
                                    {% if not grupo.0|method:"nao_pode_deletar_vacina"|call:request.user %}
                                        <li><a class="btn danger" href="/saude/deletar_vacina/{{ prontuario.id }}/{{grupo.0.vacina.id}}/">{% icone "trash" %} Remover Vacina</a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}

                            <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Dose</th>
                                        <th>Data de Aplicação</th>
                                        <th>Procedência Externa</th>
                                        <th>Profissional Responsável</th>
                                        <th>Aprazamento</th>
                                        <th>Observações</th>
                                        <th>Registro da Vacinação</th>
                                        {% if eh_grupo_medico_enf %}
                                            <th class="no-print">Opções</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for registro in grupo %}
                                    <tr>
                                        <td><strong>{{ registro.get_numero_dose }}</strong></td>
                                        {% if registro.sem_data %}
                                            <td><span class="status status-info">Data de aplicação não informada</span></td>
                                            <td>{{ registro.get_aplicacao_externa|format|safe }}</td>
                                            <td>{{ registro.profissional }}</td>
                                        {% elif registro.data_vacinacao %}
                                            <td>{{ registro.data_vacinacao }}</td>
                                            <td>{{ registro.get_aplicacao_externa|format|safe }}</td>
                                            <td>{{ registro.profissional|format }}</td>
                                        {% else %}
                                            <td colspan="3"><span class="status status-alert">Sem registro de vacinação</span>
                                            </td>
                                        {% endif %}
                                        <td>
                                            {% if registro.data_prevista %}
                                                {{ registro.data_prevista|format }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>{{ registro.obs|format }}</td>
                                        <td>
                                            {% if registro.sem_data or registro.data_vacinacao %}
                                                {% if registro|method:"pode_alterar_registro_vacina"|call:request.user and eh_grupo_medico_enf %}
                                                    <a class="btn popup primary"
                                                        href="/saude/registrar_vacinacao/{{ registro.id }}/">{% icone "edit" %} Editar Vacinação</a>
                                                {% else %}
                                                    <span class="status status-success">Vacina aplicada</span>
                                                {% endif %}
                                            {% else %}
                                                {% if registro.pode_vacinar %}
                                                    {% if eh_grupo_medico_enf %}
                                                        <a class="btn popup success"
                                                            href="/saude/registrar_vacinacao/{{ registro.id }}/">{% icone "circle" %} Registrar
                                                            Vacinação</a>
                                                    {% endif %}
                                                {% else %}
                                                    <span class="status status-alert">Aguardando dose anterior</span>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        {% if eh_grupo_medico_enf %}
                                            <td class="no-print">
                                                <ul class="action-bar">
                                                    {% if registro|method:"pode_remover_dose"|call:request.user %}
                                                        {% if not registro.data_prevista %}
                                                            <li><a class="btn success" href="/saude/registrar_previsao/{{ registro.id }}/">{% icone "plus" %} Adicionar Aprazamento</a></li>
                                                        {% else %}
                                                            <li><a class="btn primary" href="/saude/registrar_previsao/{{ registro.id }}/">{% icone "edit" %} Editar Aprazamento</a></li>
                                                            <li><a class="btn danger" href="/saude/remover_previsao/{{ registro.id }}/">{% icone "trash" %} Remover Aprazamento</a></li>
                                                        {% endif %}
                                                        <li><a href="/saude/remover_dose/{{ registro.id }}/" class="btn danger">{% icone "trash" %} Remover Dose</a></li>
                                                    {% endif %}
                                                </ul>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        {% endbox %}
                    {% endfor %}
                {% else %}
                    <p class="msg alert">Nenhuma vacina cadastrada para este prontuário.</p>
                {% endif %}
            {% endbox %}
        </div>

        {% if notificacao_covid.exists %}
            <div class="tab-container" data-tab="aba_notificacao_covid" data-title="Notificações de Covid-19" data-counter="{{ notificacao_covid.count }}">
                <div class="table-responsive">
                    <table>
                         <thead>
                             <tr>
                                 <th>Situação</th>
                                 <th>Monitoramento</th>
                                 <th>Início dos Sintomas em</th>
                                 <th>Sintomas</th>
                                 <th>Último Teste Realizado em</th>
                                 <th>Resultado</th>
                                 <th class="no-print">Arquivo do Teste</th>
                                 <th>Contato Suspeito em</th>
                                 <th>O contato mora na mesma casa?</th>
                                 <th>Esteve sem máscara durante o contato?</th>
                                 <th>Tempo de exposição</th>
                                 <th>Suspeito fez teste Covid-19?</th>
                                 <th class="no-print">Resultado do Teste</th>
                             </tr>
                         </thead>
                        <tbody>
                            {% for notificacao in notificacao_covid %}
                                <tr>
                                    <td>{{ notificacao.situacao }}</td>
                                    <td>{{ notificacao.monitoramento }}</td>
                                    <td>{{ notificacao.data_inicio_sintomas|format }}</td>
                                    <td>{{ notificacao.get_sintomas|format }}</td>
                                    <td>{{ notificacao.data_ultimo_teste|format }}</td>
                                    <td>{{ notificacao.resultado_ultimo_teste|format }}</td>
                                    <td class="no-print">{% if notificacao.arquivo_ultimo_teste %}<a href="{{ notificacao.arquivo_ultimo_teste.url }}" class="btn default">Ver Arquivo</a>{% endif %}</td>
                                    <td>{{ notificacao.data_contato_suspeito|format }}</td>
                                    <td>{{ notificacao.mora_com_suspeito|format }}</td>
                                    <td>{{ notificacao.esteve_sem_mascara|format }}</td>
                                    <td>{{ notificacao.tempo_exposicao|format }}</td>
                                    <td>{{ notificacao.suspeito_fez_teste|format }}</td>
                                    <td class="no-print">{% if notificacao.arquivo_teste %}<a href="{{ notificacao.arquivo_teste.url }}" class="btn default">Ver Arquivo</a>{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        <div class="tab-container" data-tab="aba_anotacoes_interdisciplinares" data-title="Anotações Interdisciplinares" data-counter="{{ anotacoes_disciplinares.count }}">
            {% box "Anotações Interdisciplinares" %}
                <ul class="action-bar">
                    <li><a class="btn success" href="/saude/adicionar_anotacao_interdisciplinar/{{ prontuario.id }}/">{% icone "plus" %} Adicionar Anotação</a></li>
                </ul>
                {% if anotacoes_disciplinares.exists %}
                    <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Anotação</th>
                                <th>Data</th>
                                <th>Responsável</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for anotacao in anotacoes_disciplinares %}
                            <tr>
                                <td>{{ anotacao.anotacao }}</td>
                                <td>{{ anotacao.data }}</td>
                                <td>{{ anotacao.profissional }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                {% else %}
                    <p class="msg alert">Nenhuma anotação registrada.</p>
                {% endif %}
            {% endbox %}
        </div>
    {% endif %}

    <div class="tab-container" data-tab="aba_documentos" data-title="Documentos" data-counter="{{ documentos.count }}">
        {% box "Documentos" %}
            <ul class="action-bar">
                <li><a class="btn success" href="/saude/adicionar_documento_prontuario/{{ prontuario.vinculo.id }}/">{% icone "plus" %} Adicionar Documento</a></li>
            </ul>
            {% if documentos.exists %}
                <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th class="no-print">Ações</th>
                            <th>Data</th>
                            <th>Tipo de Atendimento</th>
                            <th>Cadastrado Por</th>
                            <th>Arquivo</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for documento in documentos %}
                        <tr>
                            <td class="no-print">
                                {% if documento.cadastrado_por_vinculo == request.user.get_vinculo %}
                                    {% icon "delete" "/saude/excluir_documento_prontuario/{{ documento.id }}/" %}
                                {% endif %}
                            </td>
                            <td>{{ documento.data }}</td>
                            <td>{{ documento.tipo }}</td>
                            <td>{{ documento.cadastrado_por_vinculo }}</td>
                            <td><a href="/saude/imprimir_documento_prontuario/{{ documento.id }}/" class="btn default">Ver Documento</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            {% else %}
                <p class="msg alert">Nenhum documento cadastrado.</p>
            {% endif %}
        {% endbox %}
    </div>

    {% if todos_atendimentos.exists %}
        <div class="tab-container" data-tab="aba_historico_atendimentos" data-title="Histórico de Atendimentos" data-counter="{{ todos_atendimentos.count }}">
            {% box "Histórico de Atendimentos" %}
                <table>
                    <thead>
                        <tr>
                            <th class="no-print">Ações</th>
                            <th>Data</th>
                            <th>Tipo de Atendimento</th>
                            <th>Responsável</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in todos_atendimentos %}
                        <tr>
                            <td>{% icon "view" "{{ item.get_url_tipo_atendimento }}" %}</td>
                            <td>{{ item.data_aberto }}</td>
                            <td>{{ item.get_tipo_atendimento }}</td>
                            <td>{{ item.usuario_aberto }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endbox %}
        </div>
    {% endif %}

{% endblock %}

{% block asideright %}

<aside class="right">
    <details open="open">
        <summary>Vínculos</summary>
        <div class="details-container">
            {% if vinculos %}
                {% for registro in vinculos %}
                    {% if registro.vinculo == 0 %}
                        <h4>Aluno</h4>
                        <dl>
                            <dt>Matrícula:</dt>
                            <dd><a href="/edu/aluno/{{ registro.matricula }}" title="Visualizar">{{ registro.matricula }}</a></dd>
                            <dt>Situação:</dt>
                            <dd>{{ registro.situacao }}</dd>
                            <dt>Curso/Campus:</dt>
                            <dd>{{ registro.curso_campus }}</dd>
                        </dl>
                    {% endif %}
                    {% if registro.vinculo == 1 %}
                        <h4>Servidor</h4>
                        <dl>
                            <dt>Matrícula:</dt>
                            <dd><a href="/rh/servidor/{{ registro.matricula }}" title="Visualizar">{{ registro.matricula }}</a></dd>
                            <dt>Categoria:</dt>
                            <dd>{{ registro.categoria }}</dd>
                        </dl>
                    {% endif %}
                    {% if registro.vinculo == 2 %}
                        <h4>Prestador de Serviço</h4>
                        <dl>
                            <dt>CPF:</dt>
                            <dd>{{ registro.cpf }}</dd>
                            <dt>Tipo:</dt>
                            <dd>{{ registro.tipo_prestador }}</dd>
                        </dl>
                    {% endif %}
                    {% if registro.vinculo == 3 %}
                        <h4>Comunidade Externa</h4>
                        <dl>
                            <dt>CPF:</dt>
                            <dd>{{ registro.cpf }}</dd>
                            <dt>Tipo:</dt>
                            <dd>Externo à Instituição</dd>
                        </dl>
                    {% endif %}
                    <ul class="action-bar">
                        {% if not eh_externo and vinculo_aluno %}
                            <li>
                                <a class="btn success"
                                   href="/saude/abrir_atendimento/1/{{ prontuario.id }}/{{ registro.vinculo }}/{{ registro.id }}/">{% icone "plus" %} <span class="sr-only">Adicionar</span> Avaliação Biomédica</a>
                            </li>
                        {% endif %}
                        {% if eh_grupo_medico_enf %}
                            <li>
                                <a class="btn success"
                                   href="/saude/abrir_atendimento/2/{{ prontuario.id }}/{{ registro.vinculo }}/{{ registro.id }}/">{% icone "plus" %} <span class="sr-only">Adicionar</span> Atendimento Médico/Enfermagem</a>
                            </li>
                        {% elif eh_dentista or eh_tecnico_bucal %}
                            <li>
                                <a class="btn success"
                                   href="/saude/abrir_atendimento/3/{{ prontuario.id }}/{{ registro.vinculo }}/{{ registro.id }}/">{% icone "plus" %} <span class="sr-only">Adicionar</span> Atendimento Odontológico</a>
                            </li>
                        {% elif eh_psicologo %}
                            <li>
                                <a class="btn success"
                                   href="/saude/abrir_atendimento/4/{{ prontuario.id }}/{{ registro.vinculo }}/{{ registro.id }}/">{% icone "plus" %} <span class="sr-only">Adicionar</span> Atendimento Psicológico</a>
                            </li>
                        {% elif eh_nutricionista %}
                            <li>
                                <a class="btn success"
                                   href="/saude/abrir_atendimento/5/{{ prontuario.id }}/{{ registro.vinculo }}/{{ registro.id }}/">{% icone "plus" %} <span class="sr-only">Adicionar</span> Atendimento Nutricional</a>
                            </li>
                        {% elif eh_fisioterapeuta %}
                            <li>
                                <a class="btn success"
                                   href="/saude/abrir_atendimento/7/{{ prontuario.id }}/{{ registro.vinculo }}/{{ registro.id }}/">{% icone "plus" %} <span class="sr-only">Adicionar</span> Atendimento de Fisioterapia</a>
                            </li>
                        {% endif %}
                        {% if pode_gerenciar_atend_multidisciplinar %}
                            <li>
                                <a class="btn success"
                                   href="/saude/abrir_atendimento/6/{{ prontuario.id }}/{{ registro.vinculo }}/{{ registro.id }}/">{% icone "plus" %} <span class="sr-only">Adicionar</span> Atendimento Multidisciplinar</a>
                            </li>
                        {% endif %}
                    </ul>
                    {% if not forloop.last %}<div class="clear"></div>{% endif %}
                {% endfor %}
            {% else %}
                <p class="msg alert">Este usuário não possui nenhum vínculo ativo.</p>
            {% endif %}
        </div>
    </details>
</aside>

{% endblock %}
