{% extends super_template %}

{% block content %}

    <div class="search-and-filters">
        {% render_form form %}
    </div>
    {% if form.is_bound %}
        {% if registros.exists %}
            {% box "{{ registros.count }} passaporte{{ registros.count|pluralize }} vacina{{ registros.count|pluralize:"l,is" }} encontrado{{ registros.count|pluralize }}" %}
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Categoria</th>
                                <th>Faixa Etária</th>
                                <th>Passaporte Vacinal da COVID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% autopaginate registros 50 %}
                            {% paginate %}
                            {% for registro in registros %}
                                <tr>
                                    <td>{{ registro.vinculo }}</td>
                                    <td>{{ registro.get_categoria }}</td>
                                    <td>{{ registro.get_faixa_etaria }}</td>
                                    <td>{{ registro.situacao_passaporte|status }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endbox %}
        {% else %}
            <p class="msg alert">A busca realizada não encontrou nenhum resultado.</p>
        {% endif %}
    {% else %}
        <p class="msg alert">Utilize o filtro para gerar o relatório.</p>
    {% endif %}

{% endblock %}
