{% extends super_template %}



{% block extrahead %}
<script src="/static/djtools/graficos/highcharts.js"></script>
<script src="/static/djtools/graficos/exporting.js"></script>
{% endblock %}

{% block content %}

    <div class="search-and-filters">
        {% render_form form %}
    </div>
    {% if form.is_bound %}
        {% if registros.exists %}
            <table>
                <thead>
                    <tr>
                        <th>Aluno</th>
                        <th>Turma</th>
                        <th>Campus</th>
                        <th>Vacinas Cadastradas</th>
                        <th>Vacinas Atrasadas</th>
                        <th class="no-print">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% autopaginate registros 30 %}
                    {% paginate %}
                    {% for registro in registros %}
                        <tr>
                            <td>{{ registro.prontuario.vinculo }}</td>
                            <td>{{ registro.get_aluno.get_ultima_turma_cursada|format }}</td>
                            <td>{{ registro.get_aluno.curso_campus.diretoria.setor.uo }}</td>
                            <td>{{ registro.get_vacinas|format  }}</td>
                            <td>{{ registro.get_vacinas_atrasadas|format }}</td>
                            <td class="no-print">
                                {% if pode_ver_prontuario %}
                                    <ul class="action-bar">
                                        <li><a class="btn default" href="/saude/prontuario/{{ registro.prontuario.vinculo.id }}/">Ver Prontuário</a></li>
                                    </ul>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


        {% else %}
            <p class="msg alert">Nenhum cartão vacinal encontrado.</p>
        {% endif %}
    {% else %}
        <p class="msg alert">Utilize o filtro para gerar o relatório.</p>
    {% endif %}

{% endblock %}
