{% extends super_template %}

{% block content %}

    <table class="info">
        <tbody>
            <tr>
                <td>Nome do Evento</td>
                <td colspan="3">{{ atividade.nome_evento }}</td>
            </tr>
            <tr>
                <td>Recurso Necessário</td>
                <td colspan="3">{{ atividade.recurso_necessario|format }}</td>
            </tr>
            <tr>
                <td>Solicitante</td>
                <td>{{ atividade.solicitante|format }}</td>
                <td>Período</td>
                <td>{{ atividade.data_inicio|format }} à {{ atividade.data_termino|format }}</td>
            </tr>
            {% if atividade.tema %}
                <tr>
                    <td>Tipo</td><td>{{ atividade.tipo }}</td>
                    <td>Tema:</td><td>{{ atividade.tema }}</td>
                </tr>

                <tr>
                    <td>Turno</td><td>{{ atividade.get_turno_display|format }}</td>
                    <td>Nº de Participantes</td><td>{{ atividade.num_participantes }}</td>
                </tr>
                <tr>
                    <td>Motivo</td><td colspan="3">{{ atividade.motivo|format }}</td>
                </tr>
                <tr>
                    <td>Detalhamento</td><td colspan="3">{{ atividade.detalhamento }}</td>
                </tr>

                <tr>
                    <td>Responsáveis</td>
                    <td colspan="3">{{ atividade.vinculos_responsaveis.all|format|safe }}</td>
                </tr>
            {% endif %}
            {% if atividade.publico_alvo %}
                <tr>
                    <td>Público-Alvo</td><td colspan="3">{{ atividade.publico_alvo }}</td>
                </tr>
            {% endif %}
            {% if atividade.anexo %}
                <tr>
                    <td>Anexo</td>
                    <td colspan="3"><a href="{{ atividade.anexo.url }}">Ver anexo</a></td>
                </tr>
            {% endif %}
        </tbody>
    </table>

{% endblock %}
