{% extends super_template %}
{% load static %}

{% block extrahead %}
    {{ formset.media }}
{% endblock %}

{% block bodyclass %}hasAsideRight{% endblock %}

{% block content %}

    {% if form.errors or formset.errors %}
		<p class="errornote">Por favor, corrija os erros abaixo.</p>
	{% endif %}

    <form action="." method="post">
        {% csrf_token %}
        <div class="module-row">
            <div class="inline-related">
                <h3>Solicitação Principal</h3>
                <fieldset class="module">
                    <div class="required form-row">
                        {{ main_form }}
                    </div>
                </fieldset>
            </div>
        </div>
        <div id="formset" data-formset-prefix="{{ formset.prefix }}">
            {{ formset.management_form }}
            <div data-formset-body>
                {% for form in formset %}
                    {% include "documento_eletronico/solicitacao_form.html" with form=form index=forloop.counter only %}
                {% endfor %}
            </div>
            <script type="form-template" data-formset-empty-form>
                {% escapescript %}
                    {% include "documento_eletronico/solicitacao_form.html" with form=formset.empty_form index=formset.activeFormCount only %}
                {% endescapescript %}
            </script>
            <div class="add-row">
                <button type="button" class="btn" data-formset-add>Adicionar Solicitação</button>
            </div>
        </div>
        <div class="submit-row">
            <input type="submit" name="{{ form.ID }}" class="default" value="Enviar solicitações">
        </div>
    </form>
    <script>jQuery(function($) {
        $("#formset").formset({
            'animateForms': true,
            'reorderMode': 'animate'
        }).on('formAdded', function()
        {
            console.log("Form added:", this, arguments);
        }).on('formDeleted', function()
        {
            console.log("Form deleted", this, arguments);
        });
    });</script>
{% endblock %}

{% block asideright %}

    <aside class="right">

        <details open="open">
            <summary>Dados Gerais</summary>
            <div class="details-container">
                {% include "includes/documento_details.html" %}
            </div>
        </details>

    </aside>

{% endblock %}
