{% extends "relatorio_pdf.html" %}

{% block content %}
    <br/>
    <h1>{{ title }}</h1>
    <main>
    {% if candidatos %}
        <table class="borda">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Dados Principais</th>
                    <th>Dados Auxiliares</th>
                    <th>Campus do Candidato no Momento da Inscrição</th>
                    <th>Tempo na Instituição</th>
                    <th>Idade</th>
                    <th>Quantidade de Votos</th>
                    <th>Percentual de Votos</th>
                </tr>
            </thead>
            <tbody>
                {% for candidato in candidatos %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ candidato.get_info_principal|safe }}</td>
                        <td>{{ candidato.candidato_vinculo.relacionamento.matricula }}</td>
                        <td>{{ candidato.campus }}</td>
                        <td>{{ candidato.get_tempo_na_instituicao|format }}</td>
                        <td>{{ candidato.get_idade|format }}</td>
                        <td>{{ candidato.qtd_votos }}</td>
                        <td>{{ candidato.percentual_votos_label }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif campi.exists %}
        {% for campus in campi %}
            {% box '{{ campus }}' %}
                {% if campus.candidatos %}
                    <table class="borda">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Candidato</th>
                                <th>Matrícula</th>
                                <th>Tempo na Instituição</th>
                                <th>Idade</th>
                                <th>Quantidade de Votos</th>
                                <th>Percentual de Votos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for candidato in campus.candidatos %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ candidato.get_info_principal|safe }}</td>
                                    <td>{{ candidato.candidato_vinculo.relacionamento.matricula }}</td>
                                    <td>{{ candidato.get_tempo_na_instituicao|format }}</td>
                                    <td>{{ candidato.get_idade|format }}</td>
                                    <td>{{ candidato.qtd_votos }}</td>
                                    <td>{{ candidato.percentual_votos_label }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="msg alert">Não houve candidatos para esse campus.</p>
                {% endif %}
            {% endbox %}
        {% endfor %}
    {% else %}
        <p class="msg alert">Não há resultado para esta eleição.</p>
    {% endif %}
    </main>
{% endblock %}
