{% extends "relatorio_pdf.html" %}

{% block style %}
    td, th {
    font-size: 8pt !important;
    padding: 1px;
    line-height: 1em;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    }
    .assinatura {
    vertical-align: bottom;
    padding-bottom: 15px;
    padding-top: 5px;
    text-align: center;
    border-top: 1px solid black;
    }
    .cidade {
    text-align: center;
    padding-bottom: 35px;
    vertical-align: bottom;
    }
    .autenticacao {
    font-size: 8pt !important;
    line-height: 1em;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    }
    .titulo2 {
    text-align: center;
    font-size: 300%;
    line-height: 1em;
    }
{% endblock %}

{% block cabecalho %}
{% endblock %}

{% block content %}

        <div id="cabecalho{{ forloop.counter }}">
            <table border="0">
                <tr>
                    <td rowspan="6" style="width: 100px"><img src="/static/comum/img/brazao_colorido.jpg" alt="Brasão do Brasil">
                    </td>
                    <td class="titulo">MINISTÉRIO DA EDUCAÇÃO</td>
                </tr>
                <tr>
                    <td class="titulo">SECRETARIA DE EDUCAÇÃO TECNOLÓGICA</td>
                </tr>
                <tr>
                    <td class="titulo">INSTITUTO FEDERAL DE EDUCAÇÃO, CIÊNCIA E TECNOLOGIA DO RIO GRANDE DO NORTE</td>
                </tr>
                <tr>
                    <td>CAMPUS NATAL CENTRAL - Telefone: (84) 4005-9843</td>
                </tr>
                <tr>
                    <td>
                        Avenida Senador Salgado Filho, 1559, Tirol, 59015-000, Natal-RN
                    </td>
                </tr>
                <tr>
                    <td>CNPJ: 10.877.412/0010-59 - Código INEP: 24059110</td>
                </tr>
            </table>
            <p class="titulo2" style="margin-top:200px">CERTIFICADO</p>

            <p style="margin:40px; font-size: 15px; line-height: 1.5em; text-align: justify">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Certificamos que,

                <b>{{ obj.aluno.pessoa_fisica.nome|upper }}</b>,   filho de

                {% if obj.aluno.nome_pai %} {{ obj.aluno.nome_pai }} e{% endif %} {{ obj.aluno.nome_mae }},

                de nacionalidade brasileira, natural de {{ obj.aluno.naturalidade }},


                nascido(a) em {{ obj.aluno.pessoa_fisica.nascimento_data|formatar_extenso }}, tendo em vista os resultados

                obtidos no {{ periodo }}º semestre letivo do ano de <b>{{ ano }}</b>, e de acordo com

                o Art. 16, da Lei nº. 5.692, de 11 de agosto de 1971, concluiu o

                <b>Ensino Médio</b> neste estabelecimento de ensino, na habilitação

                parcial de Auxiliar Técnico em <b>{{ obj.matriz.get_nome_simplicado_curso|normalizar }}</b>.
            </p>

        </div>


        <table style="-pdf-keep-with-next: true; margin: 50px;margin-top:150px">
            <tr>
                <td>&nbsp;</td>
                <td class="cidade" style="font-size: 15px">
                    <br/>
                    <br/>
                    Natal-RN, {{ hoje|format }}.
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td width="150px"></td>
                <td class="assinatura">DIRETOR(A) ACADÊMICO(A)</td>
                <td></td>
                <td class="assinatura">DIRETOR(A) GERAL DO CAMPUS</td>
                <td width="150px"></td>
            </tr>
        </table>

{% endblock %}
