{% extends super_template %}




{% block content %}


                <h2>Notícias</h2>

                {% if pds %}
                    
                                <ul>
                                        {% autopaginate pds 20 %}
                                        {% for publicacao in pds %}
                                                <li>
                                                        <span><strong>{{ publicacao.data|format }}</strong> - {{ publicacao.veiculo }} ({{ publicacao.editorial|format }}) - </span>
                                                        <a href="{{ publicacao.get_link }}" target="_blank">{{ publicacao.titulo }}</a>
                                                </li>
                                        {% endfor %}
                                        {% paginate %}
                                </ul>
                                
                        
                {% endif %}
        

{% endblock %}