
{% extends super_template %}

{% block content %}


<h2>Arquivar - Caixa de entrada</h2>

{% if processo_arquivacao_entrada_list %}
<table>
    <thead>
		<tr>	    
	    	<th>Data da solicitação</th>
	    	<th>Nº do processo</th>
	    	<th>Assunto</th>
	    	<th>Observação</th>
	    	<th>Setor de origem</th>
			<th>Operação</th>
    	</tr>
	</thead>	
    <tbody>
        {% for processo in processo_arquivacao_entrada_list %}
            <tr>
                <td>{{ processo.data_solicitacao_arquivacao|date:"d/m/Y h:i"}}</td>
				<td><a href="{{ processo.get_absolute_url }}">{{ processo.numero_processo }}</a></td>
                <td>{{ processo.assunto }}</td>
                <td>{{ processo.observacao_solicitacao_arquivacao }}</td>
                <td>{{ processo.setor_solicitacao_arquivacao }} ({{ processo.pessoa_solicitacao_arquivacao }})</td>
                <td><a href="/protocolo/processo_arquivar/{{ processo.id }}">Arquivar</a></td>
            </tr>
        {% endfor %}
    </tbody>    
</table>
{% else %}
    <p>Nenhum processo encontrado.</p>
{% endif %}

<h2>Arquivar - Caixa de saída</h2>

{% if processo_arquivacao_saida_list %}
<table class="results">
    <thead>
		<tr>	    
	    	<th>Data da solicitação</th>
	    	<th>Nº do processo</th>
	    	<th>Assunto</th>
	    	<th>Observação</th>
	    	<th>Setor de destino</th>
			<th>Operação</th>
    	</tr>
	</thead>	
    <tbody>
        {% for processo in processo_arquivacao_saida_list %}
            <tr>
                <td>{{ processo.data_solicitacao_arquivacao|date:"d/m/Y h:i"}}</td>
				<td><a href="{{ processo.get_absolute_url }}">{{ processo.numero_processo }}</a></td>
                <td>{{ processo.assunto }}</td>
                <td>{{ processo.observacao_solicitacao_arquivacao }}</td>
                <td>{{ processo.setor_arquivo_destino.setor }}</td>
                <td><a href="/protocolo/processo_editar_solicitacao_arquivacao/{{ processo.id }}">Editar</a></td>
            </tr>
        {% endfor %}
    </tbody>     
</table>
{% else %}
    <p>Nenhum processo encontrado.</p>
{% endif %}


{% endblock %}
