
{% extends super_template %}

{% block content %}

<h2>Processos em atraso</h2>
{% if processos %}
<table>
    <thead>
		<tr>
			<th>#</th>
	    	<th>Processo</th>
	    	<th>Órgão responsável</th>
	    	<th>Tempo de inatividade</th>
	    </tr>
	</thead>	
    <tbody>
        {% for processo in processos %}
            <tr>          
				<td>{{ forloop.counter }}</td>
				<td><a href="{{ processo.get_absolute_url }}">{{ processo.numero_processo }}</a></td>
                <td>{{ processo.get_ultimo_tramite.orgao_interno_recebimento }}</td>
				{% if processo.get_ultimo_tramite.data_recebimento %}
				    <td>{{ processo.get_ultimo_tramite.data_recebimento|timesince }}</td>
			    {% else %}
				    <td>{{ processo.get_ultimo_tramite.data_encaminhamento|timesince }}</td>
				{% endif %}        
            </tr>
        {% endfor %}
    </tbody>    
</table>
{% else %}
    <p class="msg alert">Nenhum processo encontra-se em atraso.</p>
{% endif %}

{% endblock %}
