{% extends "admin/base_anonima.html" %}

{% block content %}

<h2>Detalhes do Processo</h2>

{% if not processo %}

    <p align="center">
        Dados não encontrados. Verifique os dados e tente novamente!
    </p>

{% else %}

	<h3>Informações Gerais</h3>

	<table class="info">
	    <tr>
	        <td>Nº do processo</td>
	        <td>{{ processo.numero_processo }}</td>
	    </tr>
	    <tr>
	        <td>Situação</td>
	        <td>{{ processo.get_status_display }}</td>
	    </tr>
	    <tr>
	        <td>Assunto</td>
	        <td>{{ processo.assunto }}</td>
	    </tr>
	    <tr>
	        <td>Pessoa interessada</td>
	        <td>{{ processo.interessado_nome }}</td>
	    </tr>
	    <tr>
	        <td>Nº do documento</td>
	        <td>{{ processo.numero_documento }}</td>
	    </tr>
	    <tr>
	        <td>Data de cadastro</td>
	        <td>{{processo.data_cadastro|date:"d/m/Y H:i"}}</td>
	    </tr>
	     <tr>
	        <td>Tipo do processo</td>
	        <td>{{ processo.get_tipo_display }}</td>
	    </tr>
	    <tr>
	        <td>Palavras-chave</td>
	        <td>{{ processo.palavras_chave }}</td>
	    </tr>
	</table>

	<h3>Trâmites</h3>

	<table>

        <thead>
		    <tr>
			    <th>Nº</th>
			    <th>Origem</th>
			    <th>Enviado em</th>
			    <th></th>
			    <th>Destino</th>
			    <th>Recebido em</th>
		    </tr>
		</thead>

		<tbody>

			{% for t in processo.tramite_set.all %}
			 	<tr>
					<td>{{ t.ordem }}</td>
					<td>{{ t.orgao_encaminhamento }}</td>
					<td>{{ t.data_encaminhamento|date:"d/m/Y H:i"}}</td>
					<td>&rarr;</td>
					<td>{{ t.orgao_recebimento }}</td>
					<td>{{ t.data_recebimento|date:"d/m/Y H:i"}}</td>
				</tr>
            {% endfor %}

			{% if processo.data_finalizacao %}
			    <tr>
					<td>{{ ultima_ordem }}</td>
					<td>{{ processo.get_orgao_responsavel_atual }}</td>
					<td>{{ processo.data_finalizacao|date:"d/m/Y H:i" }}</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
				</tr>
				<tr>
					<td colspan="6" class="processo-resultado">{{ processo.observacao_finalizacao }}</td>
				</tr>
			{% endif %}

        </tbody>

    </table>

{% endif %}


{% endblock %}