
{% if objects %}
            <table>
                <thead>
                    <tr>
                    <th><input type="checkbox" onchange="var is = this.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByTagName('input');for(var i=0; i<is.length; i++) is[i].checked = this.checked"/></th>
                    <th>Inventário</th>
                    <th>Elemento de Despesa</th>
                    <th>Código do Elemento de Despesa</th>
                    <th>Sala</th>
                    <th>Valor</th>
                    <th>Situação</th>
                    </tr>
                </thead>
        	<tbody>
        		{% for ri in objects %}
        		<tr>
        			<td>{{ ri.widget }}</td>
        			<td><a href="{{ ri.inventario.get_absolute_url }}">{{ ri.inventario.numero }}</a> - {{ ri.inventario.get_descricao }}</td>
                    <td>{{ ri.inventario.entrada_permanente.categoria.nome }}</td>
                    <td>{{ ri.inventario.entrada_permanente.categoria.codigo }}</td>
                    <td>{{ ri.inventario.get_sala }}</td>
                    <td class="text-end">{{ ri.inventario.get_valor }}</td>
	        		<td>{{ ri.get_status|safe }}</td>
        		</tr>
        		{% endfor%}
        	</tbody>
        </table>
{% endif %}