{% extends super_template %}



{% block content %}

<ul class="action-bar">
    <li><a class="btn popup primary" href="/gestao/definir_periodo_referencia/">Editar Meu Período de Referência</a></li>
    <li><a class="btn popup primary" href="/gestao/definir_periodo_referencia_global/">Editar Período de Referência Global</a></li>
</ul>

<table class="info">
	<tbody>
		<tr>
			<td>Ano de Referência</td>
			<td>{{ ano_referencia }}</td>
		</tr>
		<tr>
			<td>Período</td>
			<td>{{ data_base|format }} a {{ data_limite|format }}</td>
		</tr>
	</tbody>
</table>
	
{% endblock %}