{% extends super_template %}

{% block content %}

<div class="search-and-filters">
	<form method="get" action="" id="changelist-search">
		{% for filtro_campo in filtro_form %}
			<div class="filter filter-large-select">
				<label>Por {{ filtro_campo.label }}:</label>
				{{ filtro_campo }}
			</div>
		{% endfor %}
	</form>
</div>

{% if acoes %}
	<h3>Ações</h3>
	<table>
		<thead>
			<tr>
				<th style="text-align:center;">Ano</th>
				<th style="text-align:center;">Unidade Administrativa</th>
				<th style="text-align:center;">Dimensão</th>
				<th style="text-align:center;">Título</th>
				<th style="text-align:center;" width="130px">Status</th>
			</tr>
		</thead>
		<tbody>
			{% for acao in acoes %}
			<tr>
				<td>{{ acao.meta_unidade.unidade.configuracao }}</td>
				<td>{{ acao.meta_unidade.unidade }}</td>
				<td>{{ acao.meta_unidade.meta.objetivo_estrategico.dimensao }}</td>
				{% if acao.is_parcialmente_deferida %}
					<td><a href="/planejamento/metaunidade/{{ acao.meta_unidade.id }}/">{{ acao.titulo }}</a></td>
				{% else %}
					<td>{{ acao.titulo }}</td>
				{% endif %}
				<td>{{ acao.status|status }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}


<script>
$(document).ready(function(){
	bind_form_submit();
})

function bind_form_submit(){
	$('#changelist-search select').each(function() {
		$(this).change(function () {
			$('#changelist-search').submit();
		});
	});
}
</script>
{% endblock %}
