{% extends super_template %}

{% block content %}

    {% render_form form %}
	
  	{% if origens.exists %}
    	<h3>Resultado da Pesquisa</h3>
    	{% for origem in origens %}
	    	{% box '{{ origem }}' 'collapsed' %}
			<table>
	            <thead>
	                <tr>
			            <th rowspan="2">Unid. Administrativa</th>
			            <th colspan="2" style="text-align: center">Valor Capital</th>
			            <th colspan="2" style="text-align: center">Valor Custeio</th>
			        </tr>
			        <tr>
			            <th>Disponível</th>
			            <th>Planejado</th>
			            <th>Disponível</th>
			            <th>Planejado</th>
			        </tr>
	            </thead>
	            <tbody>
	            	{% for unidade in unidades %}
	    					{% if unidade.origem_recurso.id == origem.id %}
		            		<tr>
		            			<td>{{ unidade.unidade }}</td>
					            <td>{{ unidade.valor_capital|format }}</td>
					            <td>{{ unidade.valor_capital_planejado|format }}</td>
					            <td>{{ unidade.valor_custeio|format }}</td>
					            <td>{{ unidade.valor_custeio_planejado|format }}</td>
		            		</tr>
	            		{% endif %}
	            	{% endfor %}
	            </tbody>
	         </table>
			{% endbox %}
		{% endfor %}
  	{% endif %}
  	
{% endblock %}