{% extends super_template|default:"admin/base_site.html" %}



{% block content %}

<script> 
$(document).ready(function(){
    // Rótulo
    $("#id_tipo_baixa_0").click(function () {
        $(".form-row.rotulo").show();
        $(".form-row.inventario").hide();
        $(".form-row.faixa").hide();
    });

    // Inventário
    $("#id_tipo_baixa_1").click(function () {
        $(".form-row.inventario").show();
        $(".form-row.rotulo").hide();
        $(".form-row.faixa").hide();
    });

    // Faixa
    $("#id_tipo_baixa_2").click(function () {
        $(".form-row.inventario").hide();
        $(".form-row.rotulo").hide();
        $(".form-row.faixa").show();
    });

    
    if("{{radio}}" == "faixa"){
        $("#id_tipo_baixa_0").attr('checked', false);
        $("#id_tipo_baixa_1").attr('checked', false);
        $("#id_tipo_baixa_2").attr('checked', true);
        $(".form-row.inventario").hide();
        $(".form-row.rotulo").hide();
        $(".form-row.faixa").show();
    }else if("{{radio}}" == "inventario"){
		$("#id_tipo_baixa_0").attr('checked', false);
        $("#id_tipo_baixa_1").attr('checked', true);
        $("#id_tipo_baixa_2").attr('checked', false);
        $(".form-row.inventario").show();
        $(".form-row.rotulo").hide();
        $(".form-row.faixa").hide();
    }else{
        $("#id_tipo_baixa_0").attr('checked', true);
        $("#id_tipo_baixa_1").attr('checked', false);
        $("#id_tipo_baixa_2").attr('checked', false);
        $(".form-row.inventario").hide();
        $(".form-row.rotulo").show();
        $(".form-row.faixa").hide();
    }
});
</script>
<h2>Baixa {{ baixa.numero }}</h2>

<ul class="action-bar">
	<li><a class="btn success" href="#" onclick="$('div#novo-item').toggle();">Baixar Novo Inventário</a></li>
	<li><a class="btn primary" href="/patrimonio/baixa/editar/{{ baixa.id }}/">Editar Baixa</a></li>
	{% if perms.patrimonio.delete_baixa %}
		<li><a class="btn danger" href="/patrimonio/baixa/{{ baixa.id }}/remover/">Remover Baixa</a></li>
	{% endif %}
	<li><a class="btn default" href="/patrimonio/relatorioBaixaPDF/{{baixa.id}}/">Gerar PDF</a></li>
</ul>

<div id="novo-item" {% if form.is_bound %}{% else %}style="display: none"{% endif %}>
	{% box "Baixar Novo Inventário" %}
		{% render_form form %}
	{% endbox %}
</div>

{% box "Informações Gerais" %}
	<table class="info">
		<tr>
	        <td>Tipo</td>
	        <td>{{ baixa.tipo }}</td>
	        <td>Número</td>
	        <td>{{ baixa.numero }}</td>
	        <td>Data</td>
	        <td>{{ baixa.get_data }}</td>
	    </tr>
		<tr>
	        <td>Processo</td>
	        <td colspan="5">{{ baixa.processo|format }}</td>
	    </tr>
		<tr>
			<td>Observação</td>
			<td colspan="5">{{ baixa.observacao|format }}</td>
		</tr>
	</table>
{% endbox %}

{% if resumo_ed %}
	{% box "Resumo por Elemento de Despesa" %}
		<table>
			<thead>
				<tr>
					<th>Codigo</th>
                    <th>Conta Contábil</th>
					<th>Descrição</th>
                    <th>Valor Inicial</th>
					<th>Valor Depreciado</th>
				</tr>
			</thead>
			<tbody>
				{% for resumo in resumo_ed %}
					<tr>
						<td>{{ resumo.codigo }}</td>
                        <td>{{ resumo.plano_contas.codigo }}</td>
				        <td>{{ resumo.nome }}</td>
                         <td align="right">{{ resumo.total_inicial|mascara_dinheiro }}</td>
				        <td align="right">{{ resumo.total|mascara_dinheiro }}</td>
	    			</tr>
			    {% endfor %}
			</tbody>
			<tfoot>
                <tr>
					<td colspan="3">Valor Total:</td>
					<td>{{valor_total_inicial|format}}</td>
                    <td>{{valor_total|format}}</td>
				</tr>

				</tr>
			</tfoot>
		</table>
	{% endbox %}
{% endif %}

<h3>Itens Baixados</h3>
{% if itens %}
	<table>
		<thead>
			<tr>
		        <th>Número</th>
				<th>Descrição</th>
				<th>Situação</th>
				<th>Valor Inicial</th>
                <th>Valor Atual</th>
				{% if perms.patrimonio.delete_baixa %}
					<th>Opções</th>
				{% endif %}
		    </tr>
		</thead>
		<tbody>
			{% autopaginate itens 100 %}
            {% paginate %}
			{% for item in itens %}
				<tr>
					<td>
						<a href="{{ item.inventario.get_absolute_url }}">
						    {{ item.inventario.numero }}
						</a>
					</td>
					<td>{{ item.inventario.get_descricao }}</td>
			    	<td><span class="status status-{{ item.inventario.status|slugify }}">{{ item.inventario.status }}</span></td>
			    	<td align="right">{{ item.inventario.entrada_permanente.valor|format}}</td>
                    <td align="right">{{ item.inventario.get_valor|format}}</td>
			    	{% if perms.patrimonio.delete_baixa %}
						<td><a href="/patrimonio/baixa/{{ baixa.id }}/remover_item/{{item.id}}" title="Remover Item de Baixa" class="btn danger">Remover Item de Baixa</a></td>
					{% endif %}
    			</tr>
		    {% endfor %}
		</tbody>
        <tfoot>
                <tr>
					<td colspan="3">Valor Total:</td>
					<td>{{valor_total_inicial|format}}</td>
                    <td>{{valor_total|format}}</td>
                    <td></td>
				</tr>

				</tr>
        </tfoot>
	</table>
{% else %}
	<p class="msg alert">Nenhum item encontrado.</p>
{% endif %}

{% endblock %}
