{% extends super_template %}

{% block content %}

{% if requisicoes.exists %}
    {% box 'Requisições cadastradas' %}

	    <table>
		    <thead>
			    <tr>
				    <th>Nome</th>
	                <th>CPF</th>
	                <th>E-mail</th>
				    <th>Campus</th>
	                <th>Equipamento</th>
	                <th>Data/Hora</th>
	            </tr>
	        </thead>
		    {% for requisicao in requisicoes %}
			    <tr>
				    <td>{{ requisicao.vinculo.pessoa.nome }}</td>
				    <td>{{ requisicao.vinculo.pessoa.pessoafisica.cpf }}</td>
				    <td>{{ requisicao.vinculo.pessoa.email }}</td>
				    <td>{{ requisicao.get_uo }}</td>
				    <td>{{ requisicao.tipo_uso_pessoal }}</td>
				    <td>{{ requisicao.horario|format}}</td>
	            </tr>
	        {% endfor %}
	    </table>

	{% endbox %}
{% else %}
    <p class="msg alert">Nenhuma requisição encontrada.</p>
{% endif %}

{% endblock %}
