
<div class="tab-container" data-title="Carga Patrimonial" data-counter="{{ inventarios.count }}"  data-hide-tab-on-counter-zero="true" data-tab="cargo_patrimonial">
    {% box 'Inventários' %}
        {% autopaginate inventarios 50 %}
        {% paginate %}
        {% for inventario in inventarios %}
            <div class="general-box">
                <div class="primary-info">
                    <h4><small>{{ forloop.counter }}</small> <a href="/patrimonio/inventario/{{ inventario.numero }}/">{{ inventario.numero }}</a></h4>
                    <div class="extra-info">
                        <p>{{ inventario.get_descricao }}</p>
                    </div>
                </div>
                <dl class="secondary-info">
                    <div class="list-item">
                        <dt>{% icone "dollar-sign" %} Valor:</dt>
                        <dd>R$ {{ inventario.valor|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>{% icone "file-invoice" %} Carga Contábil:</dt>
                        <dd>{{ inventario.carga_contabil.campus }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>{% icone "door-closed" %} Sala:</dt>
                        <dd>{{ inventario.sala|format }}</dd>
                    </div>
                </dl>
            </div>
        {% endfor %}
        {% paginate %}
    {% endbox %}
</div>
