{% extends super_template %}

{% block content %}

<table class="info">
    <tr>
        <td>Título</td>
        <td>{{ periodo.titulo }}</td>
    </tr>
    <tr>
        <td>Data de Início</td>
        <td>{{ periodo.data_inicio }}</td>
    </tr>

    <tr>
        <td>Data de Término</td>
        <td>{{ periodo.data_termino }}</td>
    </tr>
    {% if periodo.descricao %}
        <tr>
            <td>Descrição</td>
            <td>{{ periodo.descricao|safe }}</td>
        </tr>
    {% endif %}
    <tr>
        <td>Campi</td>
        <td>{{ periodo.campi.all|format }}</td>
    </tr>
</table>

{% endblock %}
