{% extends "relatorio_pdf.html" %}

{% block content %}
<h1>Relatório de Visita à Organização Concedente</h1>
<p>O presente relatório tem por objetivo registrar, junto à Coordenação de Extensão, parecer sobre a visita
    realizada à organização concedente. Cumpre os incisos II e III do art. 7º da Lei nº 11.788/2008.</p>

<table>
    <thead>
        <tr>
            <th colspan="3">PROFESSOR ORIENTADOR</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">Nome: <strong>{{ obj.pratica_profissional.orientador.vinculo.pessoa.nome }}</strong></td>
            <td>Matrícula SIAPE: <strong>{{ obj.pratica_profissional.orientador.get_matricula }}</strong></td>
        </tr>
        <tr>
            <td colspan="2">E-mail: <strong>{{ obj.pratica_profissional.orientador.vinculo.pessoa.user.email }}</strong></td>
            <td>Telefone: <strong>{{ obj.pratica_profissional.orientador.get_telefones|format }}</strong></td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th colspan="3">ESTAGIÁRIO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">Nome: <strong>{{ obj.pratica_profissional.aluno.pessoa_fisica.nome }}</strong></td>
            <td>Matrícula: <strong>{{ obj.pratica_profissional.aluno.matricula }}</strong></td>
        </tr>
        <tr>
            <td colspan="2">E-mail: <strong>{{ obj.pratica_profissional.get_email_aluno }}</strong></td>
            <td>Telefones: <strong>{{ obj.pratica_profissional.aluno.get_telefones|format }}</strong></td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th colspan="3">CONCEDENTE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3">Razão Social ou Profissional Liberal: <strong>{{ obj.pratica_profissional.empresa.nome }}</strong></td>
        </tr>
        <tr>
            <td colspan="3">Nome do Supervisor do Estágio: <strong>{{ obj.pratica_profissional.nome_supervisor }}</strong></td>
        </tr>
        <tr>
            <td colspan="3">Cargo do Supervisor do Estágio: <strong>{{ obj.pratica_profissional.cargo_supervisor }}</strong></td>
        </tr>
        <tr>
            <td colspan="2">E-mail: <strong>{{ obj.pratica_profissional.email_supervisor }}</strong></td>
            <td>Telefone do Supervisor: <strong>{{ obj.pratica_profissional.telefone_supervisor|format }}</strong></td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="3">Endereço: _______________________________________________________________________________________<br/><br/>

                ________________________________________________________________________________________________</td>
        </tr>
    </tbody>
</table>
<br/>
<table>
    <thead>
        <tr>
            <th colspan="3">Parecer da Visita Realizada em {{ obj.data_visita }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3">1. Durante a visita à empresa concedente constatou-se que:</td>
        </tr>
        <tr><td colspan="3">a) O ambiente de trabalho está adequado ao desenvolvimento das atividades do estagiário? </td></tr>
        <tr><td><strong>{{ obj.ambiente_adequado|format }}</strong></td></tr>
        <tr><td>Justificativa:</td></tr>
        {% if obj.ambiente_adequado_justifique %}<tr><td colspan="3"> <strong>{{ obj.ambiente_adequado_justifique|safe|linebreaksbr }}</strong> </td></tr> {% endif %}
        <tr><td colspan="3">b) O estagiário está desenvolvendo as atividades previstas no plano de atividades cadastrado no TCE?</td> </tr>
        <tr><td><strong>{{ obj.desenvolvendo_atividades_previstas|format }}</strong></td></tr>
        <tr><td colspan="3">c) Existem atividades que estão sendo desenvolvidas fora das competências do estagiário?</td></tr>
        <tr><td><strong>{{ obj.desenvolvendo_atividades_fora_competencia|format }}</strong></td></tr>
        <tr><td colspan="3">d) Existem atividades que estão sendo desenvolvidas (da competência do aluno), mas que não estão previstas no TCE?</td></tr>
        <tr><td><strong>{{ obj.desenvolvendo_atividades_nao_previstas|format }}</strong></td></tr>
        <tr><td colspan="3">Se sim, descreva abaixo as atividades desenvolvidas que não foram previstas no plano de atividades, informando ao setor responsável no {% get_valor_por_chave "comum" "instituicao_sigla" %} a necessidade da sua atualização:</td></tr>
        <tr><td><strong>{{ obj.atividades_nao_previstas }}</strong></td></tr>
        <tr><td colspan="3">e) O estagiário está sendo apoiado/orientado/supervisionado pelo supervisor de estágio na empresa?</td> </tr>
        <tr><td><strong>{{ obj.apoiado_pelo_supervidor|format }}</strong></td></tr>
        <tr><td colspan="3">f) Os pagamentos de bolsa e auxílio transporte, bem como o horário de trabalho estão sendo respeitados?</td> </tr>
        <tr><td><strong>{{ obj.direitos_respeitados|format }}</strong></td></tr>
        {% if not obj.direitos_respeitados %}
        <tr><td colspan="3">Especificar direitos não respeitados: </td> </tr>
        <tr><td><strong>{{ obj.direitos_respeitados_especificar|safe|linebreaksbr }}</strong></td></tr>
        {% endif %}
        <tr><td colspan="3">g) De um modo geral, quanto à contribuição ao aprendizado do aluno estagiário, o estágio está ocorrendo de forma:</td> </tr>
        <tr><td>{% if obj.aprendizagem_satisfatoria %}<strong>Satisfatória</strong></td>{% else %}<strong>Insatisfatória</strong>{% endif %}</tr>
        <tr><td colspan="3">O espaço abaixo é reservado ao registro de informações que considerar relevantes. (ex.: caso alguma questão não tenha sido respondida, justificar; ou fazer o relato de outras informações colhidas durante a visita.)</td> </tr>
        {% if obj.informacoes_adicionais %}<tr><td colspan="3"><strong> {{ obj.informacoes_adicionais|safe|linebreaksbr }}</strong> </td></tr> {% endif %}
        <tr><td colspan="3">
            Observação: O desenvolvimento de uma atividade de estágio implica em um constante processo de aprendizagem e desenvolvimento de competências. A visita ao local do estágio e suas constatações podem suscitar adaptações no plano de atividades do estagiário, que, à medida em que é avaliado, deve ser atualizado e incorporado ao termo de compromisso de estágio por meio de aditivos. (Parágrafo único, art. 7º, Lei nº 11.788/08).
        </td> </tr>
    </tbody>
</table>
<br/>
<br/>
<table style="text-align: center">
    <tr>
        <td>
            <p style="text-align: center">{{ obj.pratica_profissional.aluno.curso_campus.diretoria.setor.uo.municipio }},
            {{ hoje|date:"d/m/Y" }}</p>
        </td>
    </tr>
</table>

<table style="text-align: center">
    <tr>
        <td>
            <br/>____________________________________________<br/><b>{{ obj.pratica_profissional.orientador.vinculo.pessoa.nome|normalizar }}</b>
        </td>
    </tr>
</table>
{% endblock %}
