{% extends "relatorio_pdf.html" %}

{% block style %}
    h1 {
        font-size: 9pt;
    }
    p {
        font-size: 7pt;
        line-height: 160%;
        text-align: justify;
    }
    td {
        font-size: 7pt !important;
        border: 0;
        padding: 1px;
    }
    th {
        font-size: 7pt !important;
    }
{% endblock %}

{% block content %}
    <h1>TERMO DE COMPROMISSO E PLANO DE ATIVIDADES DE ESTÁGIO SEM VINCULAÇÃO EMPREGATÍCIA NOS TERMOS DA LEI Nº 11.788 DE 25 DE SETEMBRO DE 2008.</h1>

    <table>
        <thead>
            <tr>
                <th colspan="3">INSTITUIÇÃO DE ENSINO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">NOME: <strong>{{ instituicao|upper }}</strong></td>
            </tr>
            <tr>
                <td colspan="3">ENDEREÇO: <strong>{{ uo.endereco }}, CEP {{ uo.cep }}, {{ uo.municipio.nome|normalizar }} ({{ uo.municipio.uf }})</strong></td>
            </tr>
            <tr>
                <td colspan="2">CNPJ: <strong>{{ uo.cnpj }}</strong></td>
                <td colspan="1">TELEFONE: <strong>{{ uo.telefone }}</strong></td>
            </tr>
            <tr>
                <td colspan="2">REPRESENTANTE: <strong>{{ obj.servidor_representante.nome }}</strong></td>
                <td colspan="1">CARGO: <strong>{% if obj.servidor_representante.funcao_atividade %}
                    {{ obj.servidor_representante.funcao_atividade.nome }}
                    {% else %}{{ obj.servidor_representante.cargo_emprego.nome }}{% endif %}</strong></td>
            </tr>
            <tr>
                <td colspan="2">PROFº ORIENTADOR: <strong>{{ obj.orientador.vinculo.pessoa.nome }}</strong></td>
                <td colspan="1">FONE: <strong>{{ obj.orientador.get_telefones.all.0 }}</strong></td>
            </tr>
            <tr>
                <td colspan="3">E-MAIL PROFº ORIENTADOR: <strong>{{ obj.orientador.vinculo.pessoa.email }}</strong></td>
            </tr>
        </tbody>
    </table>
    {% if obj.empresa.pessoajuridica.pk %}
        <table>
            <thead>
                <tr>
                    <th colspan="3">CONCEDENTE (ÓRGÃO OU EMPRESA)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">RAZÃO SOCIAL: <strong>{{ obj.empresa.nome|upper }}</strong></td>
                </tr>
                <tr>
                    <td colspan="2">NOME FANTASIA: <strong>{{ obj.empresa.pessoajuridica.nome_fantasia }}</strong></td>
                    <td colspan="1">CNPJ: <strong>{{ obj.empresa.pessoajuridica.cnpj }}</strong></td>
                </tr>
                <tr>
                    <td colspan="2">ENDEREÇO: <strong>{{ obj.logradouro }}{% if obj.numero %}, {{ obj.numero }}{% endif %}{% if obj.complemento %}, {{ obj.complemento }}{% endif %}</strong></td>
                    <td>BAIRRO: <strong>{{ obj.bairro }}</strong></td>
                </tr>
                <tr>
                    <td>CIDADE: <strong>{{ obj.cidade }}</strong></td>
                    <td>CEP: <strong>{{ obj.cep }}</strong></td>
                    <td>TELEFONE: <strong>{{ obj.telefone_supervisor }}</strong></td>
                </tr>
                <tr>
                    <td colspan="2">REPRESENTANTE: <strong>{{ obj.nome_representante_concedente }}</strong></td>
                    <td>CARGO: <strong>{{ obj.cargo_representante_concedente }}</strong></td>
                </tr>
                <tr>
                    <td colspan="2">SUPERVISOR: <strong>{{ obj.nome_supervisor }}</strong></td>
                    <td>CARGO: <strong>{{ obj.cargo_supervisor }}</strong></td>
                </tr>
                <tr>
                    <td colspan="3">E-MAIL DO SUPERVISOR: <strong>{{ obj.email_supervisor }}</strong></td>
                </tr>
                <tr>
                    <td colspan="3">RAMO DE ATIVIDADE: <strong>{{ obj.ramo_atividade }}</strong></td>
                </tr>


            </tbody>
        </table>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th colspan="3">CONCEDENTE (PESSOA FÍSICA)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">NOME: <strong>{{ obj.empresa.nome|upper }}</strong></td>
                </tr>
                 <tr>
                    <td colspan="2">ENDEREÇO: <strong>{{ obj.logradouro }}{% if obj.numero %}, {{ obj.numero }}{% endif %}{% if obj.complemento %}, {{ obj.complemento }}{% endif %}</strong></td>
                    <td>BAIRRO: <strong>{{ obj.bairro }}</strong></td>
                </tr>
                <tr>
                    <td>CIDADE: <strong>{{ obj.cidade }}</strong></td>
                    <td>CEP: <strong>{{ obj.cep }}</strong></td>
                    <td>TELEFONE: <strong>{{ obj.telefone_supervisor }}</strong></td>
                </tr>
                <tr>
                    <td colspan="2">REPRESENTANTE: <strong>{{ obj.nome_representante_concedente }}</strong></td>
                    <td>CARGO: <strong>{{ obj.cargo_representante_concedente }}</strong></td>
                </tr>
                <tr>
                    <td colspan="2">SUPERVISOR: <strong>{{ obj.nome_supervisor }}</strong></td>
                    <td>CARGO: <strong>{{ obj.cargo_supervisor }}</strong></td>
                </tr>
                <tr>
                    <td colspan="3">E-MAIL DO SUPERVISOR: <strong>{{ obj.email_supervisor }}</strong></td>
                </tr>
                <tr>
                    <td colspan="3">RAMO DE ATIVIDADE: <strong>{{ obj.ramo_atividade }}</strong></td>
                </tr>
            </tbody>
        </table>
    {% endif %}
     <table>
        <thead>
            <tr>
                <th colspan="3">ESTAGIÁRIO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">NOME: <strong>{{ obj.aluno.pessoa_fisica.nome|upper }}</strong></td>
                <td>CPF: <strong>{{ obj.aluno.pessoa_fisica.cpf }}</strong></td>
            </tr>
            <tr>
                <td colspan="1">RG: <strong>{{ obj.aluno.numero_rg|upper }}</strong></td>
                <td colspan="2">ÓRGÃO EXPEDIDOR: <strong>{{ obj.aluno.orgao_emissao_rg }}</strong></td>
            </tr>
             <tr>
                <td colspan="2">ENDEREÇO: <strong>{{ obj.aluno.logradouro }}{% if obj.aluno.numero %}, {{ obj.aluno.numero }}{% endif %}{% if obj.aluno.complemento %}, {{ obj.aluno.complemento }}{% endif %}</strong></td>
                <td>BAIRRO: <strong>{{ obj.aluno.bairro }}</strong></td>
            </tr>
            <tr>
                <td>CIDADE: <strong>{{ obj.aluno.cidade }}</strong></td>
                <td>CEP: <strong>{{ obj.aluno.cep }}</strong></td>
            </tr>
            <tr>
                <td>DATA DE NASCIMENTO: <strong>{{ obj.aluno.pessoa_fisica.nascimento_data }}</strong></td>
                <td>TELEFONE: <strong>{{ obj.aluno.telefone_principal }}</strong></td>
            </tr>
            <tr>
                <td colspan="3">E-MAIL: <strong>{{ obj.get_email_aluno }}</strong></td>
            </tr>
            <tr>
                <td colspan="3">CURSO: <strong>{{ obj.aluno.curso_campus.descricao }}</strong></td>
            </tr>
            <tr>
                <td>PERÍODO/ANO: <strong>{{ obj.aluno.periodo_atual }}º</strong></td>
                <td>NÍVEL: <strong>{{ obj.aluno.matriz.nivel_ensino }}</strong></td>
            </tr>
            <tr>
                <td colspan="3">POSSUI NECESSIDADE ESPECIAL: <strong>{% if obj.aluno.tipo_necessidade_especial %}Sim{% else %}Não{% endif %}</strong></td>
            </tr>
        </tbody>
    </table>
    <p><b>CLÁUSULA PRIMEIRA</b> – DO OBJETO – Este instrumento tem como objeto o compromisso da CONCEDENTE em receber o estagiário acima qualificado, observando as cláusulas do convênio firmado entre a Instituição de Ensino e a CONCEDENTE, bem como legislação vigente.</p>

    <p><b>CLÁUSULA SEGUNDA</b> – DA CARACTERIZAÇÃO DO ESTÁGIO – O estágio como ato educativo escolar supervisionado,
        obrigatório ou não obrigatório, desenvolvido no ambiente de trabalho, visa à preparação para o trabalho
        produtivo do educando e para a vida cidadã, fazendo parte do projeto pedagógico do curso.
        Constitui-se um instituto de integração entre a Instituição de Ensino e a concedente, capaz de proporcionar
        o aprendizado de competências próprias da atividade profissional e a contextualização curricular, não
        acarretando qualquer vínculo de caráter empregatício.<br/>
    § PRIMEIRO – A manutenção de estagiários em desconformidade com a lei nº 11.788 de 25 de setembro de 2008,
        caracteriza vínculo empregatício do estudante com a CONCEDENTE para todos os fins da legislação trabalhista
        e previdenciária.<br/>
    § SEGUNDO – A reincidência na irregularidade descrita no parágrafo primeiro, impedirá a CONCEDENTE de receber
        estagiários por 02 (dois) anos, contados da data da decisão definitiva do processo administrativo
        correspondente. Esta penalidade limita-se a filial ou agência em que for cometida a irregularidade.<br/>
    § TERCEIRO – A eventual concessão de benefícios relacionados a transporte, alimentação e saúde, entre outros,
        não caracteriza vínculo empregatício.</p>

    <p><b>CLÁUSULA TERCEIRA</b> – DAS CONDIÇÕES DO ESTÁGIO:<br/>
    I – O estágio terá a duração de {{ obj.get_qtd_meses_e_dias.months }} meses e {{ obj.get_qtd_meses_e_dias.days }} dias, com início em {{ obj.data_inicio }} e término em {{ obj.data_prevista_fim }};<br/>
    II – A jornada de estágio será de {{ obj.ch_diaria }} horas diárias e {{ obj.ch_semanal }} horas semanais. Horário do estágio: {{ obj.horario }}.<br/>
    III – O estagiário desenvolverá as atividades discriminadas no Plano de Atividades do Estágio, conforme cláusula nona desse documento.<br/>
    § PRIMEIRO  – A CONCEDENTE pagará ao estagiário mensalmente a importância de R$ {{ obj.valor|format }}
        ({{ obj.valor|por_extenso }}) a título de bolsa, bem como auxílio transporte no valor de
        R$ {{ obj.auxilio_transporte|format }} ({{ obj.auxilio_transporte|por_extenso }}){% if obj.descricao_outros_beneficios %}, além do benefício:
        {{ obj.descricao_outros_beneficios }}.{% else %}.{% endif %}<br/>
    § SEGUNDO – Durante a vigência deste TERMO DE COMPROMISSO DE ESTÁGIO, o estagiário estará segurado contra
        acidentes pessoais, conforme apólice Nº {{ obj.numero_seguro }} da {{ obj.nome_da_seguradora }} - cujo CNPJ é
        {{ obj.cnpj_da_seguradora }}.<br/>
    § TERCEIRO – É assegurado ao estagiário, período de recesso a ser gozado, preferencialmente, durante suas
        férias escolares, na forma do artigo 13 e seus parágrafos da lei 11.788/08.<br/>
    § QUARTO – A carga horária do estágio, deverá ser reduzida pelo menos à metade, para garantir o bom desempenho
        do estudante na hipótese da Instituição de Ensino adotar verificações de aprendizagem periódicas ou finais,
        no período de avaliação.<br/>
    § QUINTO – O estágio poderá ser prorrogado mediante Termo Aditivo, não podendo, entretanto, ultrapassar o
        limite de 02 (dois) anos, na mesma CONCEDENTE.<br/>

    <p><b>CLÁUSULA QUARTA</b> - DAS OBRIGAÇÕES DAS INSTITUIÇÕES DE ENSINO – Caberá a Instituição de Ensino:<br/>
    a) Elencar, na cláusula nona deste documento o plano de atividades, em acordo com a CONCEDENTE e o estagiário,
        nele devem constar as atividades que serão desenvolvidas pelo estagiário. Este plano de atividades poderá ser
        aditivado à medida que for avaliado, progressivamente, o desempenho do estudante;<br/>
    b) Analisar as instalações da parte CONCEDENTE do estágio, reconhecendo sua adequação à formação social,
        cultural e profissional do estudante;<br/>
    c) Designar professor orientador, da área a ser desenvolvida no estágio, como responsável pelo acompanhamento
        e avaliação das atividades do estagiário;<br/>
    d) Exigir do estagiário a apresentação periódica, em prazo não superior a 06 (seis) meses, do Relatório de
        Atividades;<br/>
    e) Elaborar normas complementares e instrumentos de avaliação dos estágios de seus educandos;<br/>
    f) Comunicar à parte CONCEDENTE do estágio, no início do período letivo, as datas de realização de avaliações
        escolares ou acadêmicas, bem como manter a CONCEDENTE atualizada a cerca de qualquer alteração que estas
        datas venham a sofrer;<br/>
    g) Comunicar a CONCEDENTE a cada 06 (seis) meses a regularidade da matrícula dos estudantes bem como numa
        periodicidade de 06 (seis) meses, a freqüência do educando, nos termos do artigo 3º inciso I da lei 11.788/08.<br/>
    h) Averiguar os casos de possíveis distorções ou incompatibilidade das atividades de estágio em andamento,
        em relação ao que foi definido neste Termo de Compromisso do Estágio.<br/>
    i) Emitir declaração de matrícula e freqüência efetiva às aulas, dos alunos interessados em fazer
        estágio, sempre que o estudante ou a CONCEDENTE solicitar.</p>

<p><b>CLÁUSULA QUINTA</b> - DAS OBRIGAÇÕES DA CONCEDENTE – Caberá a Concedente:<br/>
a) Apresentar instalações que tenham condições de proporcionar ao estagiário a realização das atividades propostas;<br/>
b) Designar funcionário do seu quadro de pessoal com formação ou experiência profissional na área de conhecimento desenvolvida no curso de estagiário, para orientá-lo e supervisioná-lo, observado o limite de até 10 (dez) estagiários simultaneamente para cada orientador/supervisor;<br/>
c) Elaborar o Plano de Atividades em acordo com a Instituição de Ensino e o estudante;<br/>
d) Propiciar à Instituição de Ensino, subsídios que possibilitem o acompanhamento, a supervisão e a avaliação do estágio;<br/>
e) Encaminhar à Instituição de Ensino, com periodicidade mínima de 06 (seis) meses, o Relatório de Atividades, com vista obrigatória ao estagiário;<br/>
f) Entregar o Termo de Realização de Estágio, contendo o resumo das atividades desenvolvidas, dos períodos e da avaliação de desempenho, por ocasião do desligamento do estagiário;<br/>
g) Pagar bolsa conforme previsto no Parágrafo 1º da Cláusula 3ª deste Instrumento, bem como outros benefícios previamente acordados com o estagiário;<br/>
h) Fornecer o Auxílio Transporte, conforme previsto no parágrafo 1º da cláusula 3ª deste Instrumento;<br/>
i) Contratar em favor do estagiário, seguros contra acidentes pessoais, com apólice compatível com valores de mercado;<br/>
j) Aplicar ao estagiário, a legislação de segurança e saúde no trabalho, como determina o Artigo 14 da lei 11.788/08;, especificamente no tocante ao enquadramento no Programa de Prevenção de Riscos Ambientais – PPRA e ao Programa de Controle Médico de Saúde Ocupacional- PCMSO;<br/>
k) Reduzir à metade a carga horária do estágio nos períodos de avaliação, quando a Instituição de Ensino adotar verificações de aprendizagem periódicas ou finais;<br/>
l) Garantir ao estagiário o gozo de recesso, preferencialmente durante suas férias escolares, na forma do artigo 13 e seus parágrafos da lei 11.788/08.</p>

<p><b>CLÁUSULA SEXTA</b> – DAS OBRIGAÇÕES DO ESTAGIÁRIO – O estagiário se compromete a:<br/>
a) Executar com empenho o Plano de Atividades elaborado de comum acordo com a CONCEDENTE e a INSTITUIÇÃO DE ENSINO;<br/>
b) Conhecer e cumprir as normas e recomendações internas da CONCEDENTE, em especial as que resguardam o sigilo de informações técnicas e tecnológicas;<br/>
c) Elaborar relatório de estágio na forma, prazo e padrões estabelecidos pela instituição de ensino e/ou pela CONCEDENTE;<br/>
d) Informar a CONCEDENTE qualquer alteração na regularidade de sua matrícula bem como na freqüência escolar, que possam de alguma forma alterar os requisitos exigidos pela lei para caracterização do presente estágio (artigo 3º, inciso I da lei 11.788/08);<br/>
e) Informar a Instituição de Ensino, quando suas atividades de estágio estiverem em desacordo com as descritas no Plano de Atividades, neste instrumento ou em seu curso de formação.
</p>
<p>
<b>CLÁUSULA SÉTIMA</b> -  DA VALIDADE – O presente TERMO DE COMPROMISSO DE ESTÁGIO – TCE terá validade a partir da data indicada no inciso I, da cláusula Terceira.
</p>

<p>
<b>CLÁUSULA OITAVA</b> – DA RESCISÃO: O presente TERMO DE COMPROMISSO DE ESTÁGIO será rescindido nos seguintes casos:<br/>
a) automaticamente, ao término do estágio;<br/>
b) Por livre e unilateral deliberação da CONCEDENTE ou do estagiário;<br/>
c) Quando comprovado rendimento não satisfatório do estagiário;<br/>
d) Por conclusão, abandono, trancamento de matrícula ou mudança do curso realizado pelo estagiário;<br/>
e) Por não cumprimento das cláusulas, normas e instruções convencionadas no presente TERMO DE COMPROMISSO DE ESTÁGIO, bem como nos convênios com a Instituição de Ensino e no contrato com a CONCEDENTE, dos quais decorre este documento legal;<br/>
§ ÚNICO: A CONCEDENTE fica responsável pela emissão do Termo de Rescisão em 3(três) vias encaminhando uma via a cada uma das partes envolvidas no processo, caso haja o desligamento do estagiário antes do período previsto no presente TERMO DE COMPROMISSO DE ESTÁGIO;<br/>
E, por estarem acordes, firmam o presente Termo em 3(três) vias de igual teor e forma, na presença das duas testemunhas abaixo subscritas.</p>

    <p>
    <b>CLÁUSULA NONA</b> – DO PLANO DE ATIVIDADES:
    </p>
        <table border="1">
            <tbody>
                <tr>
                    <td>
                        Descrição das atividades a serem desenvolvidas no período de estágio:<br/>
                        {% for atividade in obj.atividade_set.all %}
                            {{ atividade.descricao }}<strong>; </strong>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>


    <p>
E por estarem de acordo, assinam este Termo de Compromisso e Plano de Atividades os representantes das partes em três vias de igual teor e forma.
As atividades acima descritas ESTÃO ADEQUADAS ao curso, conforme exigência da Lei do Estágio nº 11.788 de 25/09/2008.
    </p>

    <table id="tabela-assinaturas">
        <tr>
            <td>
                ESTAGIÁRIO:<br/><br/><br/><br/><br/><br/>
                _________________________________<br/>
                {{ obj.aluno.pessoa_fisica.nome }}<br/><br/><br/>
            </td>
            <td>
                INSTITUIÇÃO DE ENSINO:<br/><br/><br/><br/><br/><br/>
                _________________________________<br/>
                {{ obj.servidor_representante.nome }}<br/><br/><br/>
            </td>
            <td>
                PROFESSOR ORIENTADOR:<br/><br/><br/><br/><br/><br/>
                _________________________________<br/>
                {{ obj.orientador.vinculo.pessoa.nome }}<br/><br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                CONCEDENTE:<br/><br/><br/><br/><br/><br/>
                _________________________________<br/>
                {{ obj.nome_representante_concedente }}<br/><br/><br/>
            </td>
            <td>
                SUPERVISOR:<br/><br/><br/><br/><br/><br/>
                _________________________________<br/>
                {{ obj.nome_supervisor }}<br/><br/><br/>
            </td>
            <td>
            </td>
        </tr>
        {% if obj.testemunha_1 %}
            <tr>
                <td>
                    TESTEMUNHA:<br/><br/><br/><br/><br/><br/>
                    _________________________________<br/>
                    {{ obj.testemunha_1 }}<br/><br/><br/>
                </td>
                <td>
                    TESTEMUNHA:<br/><br/><br/><br/><br/><br/>
                    _________________________________<br/>
                    {{ obj.testemunha_2 }}<br/><br/><br/>
                </td>
                <td>
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock %}