{% extends super_template %}

{% block content %}

{% box 'Dados Gerais' %}
    <table class="info">
        <tr>
            <td>Concedente</td>
            <td>{{ obj.concedente|format }}</td>

            <td>Quantidade de Vagas</td>
            <td>{{ obj.qtd_vagas|format }}</td>
        </tr>

        <tr>
            <td>Início das Inscrições</td>
            <td>{{ obj.data_inicio|format }}</td>

            <td>Fim das inscrições</td>
            <td>{{ obj.data_fim|format }}</td>
        </tr>
        <tr>
            <td>Tipo da Oferta</td>
            <td>{{ obj.get_tipo_oferta_display|format }}</td>
        </tr>
    </table>
{% endbox %}

{% box 'Direcionamento da Oferta' %}
    <table>
        <thead>
            <tr>
                <th>Cursos</th>
                <th>A partir do Período</th>
                <th>Turno</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        {% for curso_campus in obj.cursos.all %}
                            <li>{{ curso_campus }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ obj.a_partir_do_periodo|format }}</td>
                <td>{{ obj.turno|format }}</td>
            </tr>
        </tbody>
    </table>
{% endbox %}

{% box 'Carga Horária' %}
    <table class="info">
        <tr>
            <td>C.H. Semanal</td>
            <td>{{ obj.ch_semanal|format }}</td>
        </tr>
    </table>
{% endbox %}

{% box 'Outras Informações' %}
    <table class="info">
        <tr>
            <td>Folder Publicitário</td>
            <td>
                {% if obj.folder %}
                    <a href="{{ obj.folder.url }}">{{ obj.folder.name|format }}</a>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Habilidades</td>
            <td>{{ obj.habilidades|linebreaks }}</td>
        </tr>
        <tr>
            <td>Descrição das Atividades</td>
            <td>{{ obj.descricao_atividades|linebreaks }}</td>
        </tr>
        <tr>
            <td>Observações</td>
            <td>{{ obj.observacoes|linebreaks }}</td>
        </tr>
    </table>
{% endbox %}

{% endblock %}
