<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SUAP: {% block title %}Sistema Unificado de Administração Pública{% endblock %}</title>
</head>
<body>
    <form method="post" action="{{ response_url }}" id="mainForm">
       {% csrf_token %}
       
       <input type="hidden" name="SAMLResponse" value="{{ saml_response }}" />
       <input type="hidden" name="RelayState" value="{{ token }}" />
     </form>
    
     <script type="text/javascript">
         document.getElementById('mainForm').submit()
     </script>
</body>
</html>