{% extends super_template %}

{% block content %}
	
    <div class="search-and-filters">
        <form method="GET">
            <div class="filter">
                <label>Data Inicial:</label>
                <input name="data" type="text" value="{{ data_inicial|date:'d/m/Y' }}"/>
            </div>
            <div class="filter">
                <label>Parcelas:</label>
                <input name="parcelas" type="number" value="{{ qtd_parcelas }}" />
            </div>
            <div class="submit-row">
                <input type="submit" class="btn" value="Alterar Parcelas"/>
            </div>
        </form>
    </div>

	<form method="post" action="" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset.forms %}
            <h3>Parcela #{{ forloop.counter }}</h3>
            {% render_form form False %}
        {% endfor %}
        <div class="submit-row">
            <input class="default" value="Gerar Parcelas" type="submit">
        </div>
    </form>

{% endblock %}
