{% extends super_template %}

{% block content %}

	{% if lista_valores_executados %}
		<div class="table-responsive">
		<table>
	    	<thead>
	            <tr>
					<th>Campus</th>
					<th>Valor Executado</th>
	            </tr>
	        </thead>
	        <tbody>
				{% for i in lista_valores_executados %}
					 <tr>
						<td>{{ i.uo }}</td>
                        <td>R$ {{ i.total_executado|mascara_dinheiro }}</td>
					</tr>
				 {% endfor %}
	        </tbody>
	    </table>
		</div>
	{% else %}
		<p class="msg alert">Sem valores executados por campus</p>
	{% endif %}
{% endblock %}
