{% extends super_template %}



{% block content %}

<p class="msg info">Abaixo as informações sobre o rol de responsabilidades do fiscal.</p>

<p>O fiscal deve deter o conhecimento para fiscalização. A administração deve fornecer treinamento adequado para o servidor, bem assim, o apoio necessário.</p>
<p>A recusa somente poderá ocorrer, segundo a doutrina, nas seguintes hipóteses:</p>
<ul>
	<li>quando for impedido ou suspeito o agente; </li>
	<li>por não deter conhecimento técnico específico e o objeto do contrato o exigir;</li>
	<li>quando manifestamente ilegais.</li>
</ul>
<p>A Lei nº 8.666/93 atribui ao fiscal autoridade para acompanhar sistematicamente o desenvolvimento do contrato, o que lhe possibilita: corrigir, no âmbito da sua esfera de ação e no tempo certo, eventuais irregularidades ou distorções existentes na execução do contrato, para tanto deve:</p>
<ul>
	<li>Acompanhar a execução dos serviços, verificando a correta utilização dos materiais, equipamentos, contingente em quantidades suficientes para que seja mantida a qualidade dos mesmos;</li>
	<li>Solicitar quando for o caso, ou pedir a substituição dos serviços por inadequação ou vícios que apresentem;</li>
	<li>Sugerir a aplicação de penalidades ao contratado em face do inadimplemento das obrigações, encaminhando ao superior para providências;</li>
	<li>Comunicar à autoridade competente, formalmente, irregularidades cometidas passíveis de penalidade, após os contatos prévios com a contratada, através de despacho de ocorrência;</li>
	<li>Verificar se a entrega de materiais, execução de obras ou a prestação de serviços será cumprida integral ou parceladamente;</li>
	<li>Atestar as notas fiscais e encaminhá-las à unidade competente para pagamento, se estas não precisarem de nenhum saneamento;</li>
	<li>Registrar no sistema SUAP todas as ocorrências relacionadas com a execução do contrato, determinando o que for necessário à regularização das faltas ou defeitos;</li>
	<li>Efetuar as medições no sistema SUAP e SIASG (quando não for SRP);</li>
	<li>Comunicar ao gestor de fiscal, da sua unidade, quaisquer impedimento na sua medição;</li>
	<li>Recomendar, se for o caso, quando do término da vigência do contrato, a liberação da garantia contratual em favor da contratada formalmente;</li>
	<li>Controlar o prazo de vigência do instrumento contratual sob sua responsabilidade;</li>
	<li>Encaminhar solicitação de renovação de contrato a autoridade superior para apreciação comprovando que é viável para a administração (3 meses).</li>
</ul>
<p>As decisões e providências que ultrapassarem a sua competência deverão ser encaminhadas a seus superiores, em tempo hábil, para a adoção das medidas convenientes.</p>

<p></p>

<p>Manuais:</p>
<ul>
   <li><a href="/static/contratos/Manual_Contrato_FISCAL.pdf">Manual do Fiscal</a></li>
   <li><a href="/static/contratos/Manual_Contrato_GESTOR.pdf">Manual do Gestor</a></li>
</ul>

{% endblock %}