
<td class="text-center" title="Total de Participantes: {{ disponibilidade.total_participantes|index:indice }}">
    <p {% if disponibilidade.demanda|index:indice > disponibilidade.oferta|index:indice %}class="false"{% endif %}>
        {{ disponibilidade.demanda|index:indice }}
    </p>
    {% if disponibilidade.cafe.agendamentos|index:indice > 0 %}
        <p class="obs">({{ disponibilidade.agendamentos|index:indice }} agendados + {{ disponibilidade.participantes|index:indice }} participantes)</p>
    {% endif %}
</td>
<td class="text-center">{{ disponibilidade.oferta|index:indice }}</td>
