<ul class="steps">
    {% if not eh_aluno %}
        <li><span {% if active == "identificacao" %}class="active step-success"{% endif %}>Identificação</span></li>
    {% endif %}
    <li><span {% if active == "caracterizacao" %}class="active step-success"{% endif %}>Caracterização Socioeconômica</span></li>
    <li><span {% if active == "grupo_familiar" %}class="active step-success"{% endif %}>Caracterização do Grupo Familiar</span></li>
    <li><span {% if active == "documentacao" %}class="active step-success"{% endif %}>Documentação</span></li>
    <li><span {% if active == "detalhamento" %}class="active step-success"{% endif %}>Detalhamento</span></li>
    <li><span {% if active == "confirmacao" %}class="active step-success"{% endif %}>Confirmação</span></li>
</ul>
