{% extends super_template %}

{% block content %}

    <ul class="action-bar">
        <li><a class="btn success popup" href="/residencia/cadastrar_apoiador_pedagogico_residencia/">Adicionar Apoiador(a) Pedagógico(a) Residência</a></li>
    </ul>

{% if apoiadores.exists %}
    {% autopaginate apoiadores 25 %}
    {% csrf_token %}
    {% paginate %}
    <table>
        <thead>
            <tr>
                <th class="no-print">Ações</th>
                <th>Login</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>CPF</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in apoiadores %}
            <tr>
                <td>
                    {% icon "edit" "/residencia/editar_apoiador_pedagogico_residencia/{{ obj.pk }}/" "Editar" "popup" %}
                    {% icon "delete" "?del_prefil={{ obj.pk }}" "Remover Função de Apoiador(a) pedagógico Residência" "" %}
                </td>
                <td>{{ obj.matricula|format }}</td>
                <td>{{ obj.nome|format }}</td>
                <td>{{ obj.email|format }}</td>
                <td>{{ obj.cpf|format }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% paginate %}

{% else %}
    <div class="msg alert">Nenhum registro encontrado.</div>
{% endif %}

{% endblock %}
