{% if pode_aditivar_contrato and not contrato.cancelado %}
    <ul class="action-bar">
        <li><a class="btn success popup" href="/contratos/adicionar_aditivo/{{ contrato.pk }}/">Adicionar Termo</a></li>
    </ul>
{% endif %}
{% if aditivos %}
    <div class="table-responsive">
    <table>
        <thead>
        <tr>
            <th class="no-print" rowspan="2">Ações</th>
            <th>Ordem</th>
            <th>Número</th>
            <th>Tipo de Aditivo</th>
            <th>Tipo de Termo</th>
            <th>Parcelas</th>
            <th>Arquivo Digitalizado</th>
            <th>Executado(em Dias)</th>
            {% if is_operador %}
                <th class="no-print" rowspan="2">Opções</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {%  for termo in aditivos %}
            <tr>
                <td class="no-print">
                    {% icon "view" "/contratos/aditivo/{{ termo.id }}/" %}
                    {% if pode_aditivar_contrato and not contrato.cancelado %}
                        {% icon "delete" "/contratos/excluir_aditivo/{{ termo.id }}/" %}
                    {% endif %}
                </td>
                <td><a href="/contratos/aditivo/{{ termo.id }}/">{{ termo.ordem }}º Termo</a></td>
                <td>{{ termo.numero }}</td>
                <td>
                    {% if termo.de_fiscal %}<p>Aditivo de Fiscal</p>{% endif %}
                    {% if termo.de_prazo %}<p>Aditivo de Prazo ({{ termo.data_inicio|date:"d/m/y" }} - {{ termo.data_fim|date:"d/m/y" }})</p>{% endif %}
                    {% if termo.de_valor %}<p>Aditivo de Valor (R$ {{ termo.valor|mascara_dinheiro }})</p>{% endif %}
                    {% if termo.de_outro %}<p>Aditivo de Outro</p> {% endif %}
                </td>
                <td>{{ termo.get_tipo_termo_aditivo_display|format }}</td>
                <td>{{ termo.numero_parcelas|format }}</td>
                <td>
                    {% if pode_visualizar_arquivo and termo.arquivo %}
                        <a href="/contratos/visualizar_arquivo/{{ termo.arquivo.id }}/">{{ termo.arquivo.nome }}</a>
                    {% else %}
                        <span class="status status-alert">Aguardando submissão do arquivo</span>
                    {% endif %}
                </td>
                <td>
                    <div class="progress">
                        <p>{{ termo.get_percentual_dias_executado }}%</p>
                    </div>
                    <p class="progress-description">
                        <span class="{% if termo.get_qtd_dias_executado > termo.get_qtd_dias_total %}false{% endif %}">
                            {{ termo.get_qtd_dias_executado }} </span> de {{ termo.get_qtd_dias_total }}
                    </p>
                </td>
                {% if is_operador and not contrato.cancelado %}
                    <td class="no-print">
                        <a href="/contratos/gerar_despacho_termo_aditivo/{{ termo.id }}/" class="btn">Emitir Despacho</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% else %}
    <p class="msg alert">Nenhum termo aditivo cadastrado.</p>
{% endif %}
