{% if is_operador and not contrato.cancelado %}
    <ul class="action-bar">
        <li><a class="btn success popup" href="/contratos/adicionar_arrecadacao_receita/{{ contrato.pk }}/">Adicionar Valor de Concessão</a></li>
    </ul>
{% endif %}
{% if arrecadacaoreceita %}
    <table>
        <thead>
        <tr>
            {% if is_operador and not contrato.cancelado  %}
                <th class="no-print">Ações</th>
            {% endif %}
            <th>Data</th>
            <th>Valor</th>
        </tr>
        </thead>
        <tbody>
        {%  for arrecadacao in arrecadacaoreceita %}
            <tr>
                {% if is_operador and not contrato.cancelado  %}
                    <td class="no-print">
                        {% icon "edit" "/contratos/editar_arrecadacao/{{ arrecadacao.id }}/" %}
                        {% icon "delete" "/contratos/excluir_arrecadacao/{{ arrecadacao.id  }}/" %}
                    </td>
                {% endif %}
                <td>{{ arrecadacao.data }}</td>
                <td align="right">{{ arrecadacao.valor|format }}</td>
            </tr>
        {% endfor %}
         <tr>
            <td  class="text-end" colspan="2">Total</td>
            <td class="text-end" > {{ contrato.get_total_arrecadacao|mascara_dinheiro }}</td>
        </tr>
        </tbody>
    </table>
{% else %}
    <p class="msg alert">Nenhum valor de concessão cadastrado.</p>
{% endif %}
