{% extends "relatorio_pdf.html" %}

{% block cabecalho %}
{% endblock %}

{% block page_settings %}
    @page {
        size: a4 {% block page_orientation %}portrait{% endblock %};
        background-image: url(/static/comum/img/logo_if_portrait.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        margin-top: 0.5cm; /* HeaderHeight */
        margin-bottom: 1cm; /* FooterHeight */
        margin-left: 0.5cm;
        margin-right: 0.5cm;
        @bottom-right {
            content: "Página " counter(page) " de " counter(pages);
        }
    }
    header{
        top: -2cm; /* -HeaderHeight */
        height: 2cm; /* HeaderHeight */
        position: fixed;
        width:98%;
        padding-top: 0.5cm;
    }
    main{

    }
    footer{
        bottom: 0cm; /* -FooterHeight */
        height: 1cm; /* FooterHeight */
        position: fixed;
        width: 100%;
        text-align: center;
    }
{% endblock %}

{% block style %}
    td, th {
        font-size: 8pt !important;
    }
    h2 {
        text-align: center;
        color: white;
        background-color: black;
        padding-top: 6px;
        margin-bottom: 0px;
    }
    .borda {
        margin-top: 5px;
    }
{% endblock %}

{% block content %}
	<table>
        <tr>
            <td rowspan="3" width="100px"><img src="/static/comum/img/brazao_colorido.jpg" alt="Brasão do Brasil" style="height: 50px" /></td>
            <td class="titulo">SERVIÇO PÚBLICO FEDERAL</td>
            <td rowspan="3"><img src={{ logo_instituicao_media_url }} alt="Logotipo do {% get_valor_por_chave "comum" "instituicao_sigla" %}"  style="height: 50px" /></td>
        </tr>
        <tr>
            <td>INSTITUTO FEDERAL DE EDUCAÇÃO, CIÊNCIA E TECNOLOGIA DO RIO GRANDE DO NORTE</td>
        </tr>
        <tr>
            <td class="titulo">REQUERIMENTO</td>
       </tr>
    </table>

    <div class="corpo">
        <h2>DADOS DO REQUERENTE</h2>
        <table class="info">
            <tbody>
                <tr>
                    <td colspan="3">Nome: {{ processo.servidor.nome }}</td>
                    <td>Matrícula SIAPE: {{ processo.servidor.matricula }}</td>
                </tr>
                <tr>
                    <td>Titulação: </td>
                    <td><img src="/static/comum/img/quadrado.png"/>&nbsp;Graduação/Aperfeiçoamento</td>
                    <td><img src="/static/comum/img/quadrado.png"/>&nbsp;Especialização</td>
                    <td><img src="/static/comum/img/quadrado.png"/>&nbsp;Mestrado</td>
                </tr>
                <tr>
                    <td>Requer: </td>
                    <td><img src="/static/comum/img/quadrado{% if processo.tipo_rsc.nome == 'RSC-I' %}_marcado{% endif %}.png"/>&nbsp;RSC-I</td>
                    <td><img src="/static/comum/img/quadrado{% if processo.tipo_rsc.nome == 'RSC-II' %}_marcado{% endif %}.png"/>&nbsp;RSC-II</td>
                    <td><img src="/static/comum/img/quadrado{% if processo.tipo_rsc.nome == 'RSC-III' %}_marcado{% endif %}.png"/>&nbsp;RSC-III</td>
                </tr>
                <tr>
                    <td colspan="2">Data de Retroatividade Requerida: {{ processo.get_data_referencia_retroativa|format }}</td>
                    <td colspan="2">Pontuação Requerida: {{ processo.pontuacao_pretendida|format }}</td>
                </tr>
            </tbody>
        </table>


        <h2>RECONHECIMENTO DE SABERES E COMPETÊNCIAS - RSC-I</h2>
        <table class="borda">
            <thead>
                <tr>
                    <th class="negrito text-center" width="5%">Nº</th>
                    <th class="negrito text-center" width="55%">Descrição</th>
                    <th class="negrito text-center" width="10%">Data de Referência</th>
                    <th class="negrito text-center" width="8%">Fator de Pontuação</th>
                    <th class="negrito text-center" width="7%">Quantidade de Itens</th>
                    <th class="negrito text-center" width="5%">Peso</th>
                    <th class="negrito text-center" width="10%">Pontuação</th>
                </tr>
            </thead>
            <tbody>
                {% for arquivo_rsc in arquivos_rsc1 %}
                <tr>
                    <td class="text-end">{{ arquivo_rsc.criterio.numero }}</td>
                    <td>{{ arquivo_rsc.criterio.nome }} - {{ arquivo_rsc.nome }}</td>
                    <td class="text-center">{{ arquivo_rsc.data_referencia }}</td>
                    <td class="text-center">{{ arquivo_rsc.criterio.fator }}</td>
                    <td class="text-center">{{ arquivo_rsc.qtd_itens }}</td>
                    <td class="text-center">{{ arquivo_rsc.criterio.diretriz.peso }}</td>
                    <td class="text-center">{{ arquivo_rsc.nota_pretendida }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>RECONHECIMENTO DE SABERES E COMPETÊNCIAS - RSC-II</h2>
        <table class="borda">
            <thead>
                <tr>
                    <th class="negrito text-center" width="5%">Nº</th>
                    <th class="negrito text-center" width="55%">Descrição</th>
                    <th class="negrito text-center" width="10%">Data de Referência</th>
                    <th class="negrito text-center" width="8%">Fator de Pontuação</th>
                    <th class="negrito text-center" width="7%">Quantidade de Itens</th>
                    <th class="negrito text-center" width="5%">Peso</th>
                    <th class="negrito text-center" width="10%">Pontuação</th>
                </tr>
            </thead>
            <tbody>
                {% for arquivo_rsc in arquivos_rsc2 %}
                <tr>
                    <td class="right">{{ arquivo_rsc.criterio.numero }}</td>
                    <td>{{ arquivo_rsc.criterio.nome }} - {{ arquivo_rsc.nome }}</td>
                    <td class="text-center">{{ arquivo_rsc.data_referencia }}</td>
                    <td class="text-center">{{ arquivo_rsc.criterio.fator }}</td>
                    <td class="text-center">{{ arquivo_rsc.qtd_itens }}</td>
                    <td class="text-center">{{ arquivo_rsc.criterio.diretriz.peso }}</td>
                    <td class="text-center">{{ arquivo_rsc.nota_pretendida }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>RECONHECIMENTO DE SABERES E COMPETÊNCIAS - RSC-III</h2>
        <table class="borda">
            <thead>
                <tr>
                    <th class="negrito text-center" width="5%">Nº</th>
                    <th class="negrito text-center" width="55%">Descrição</th>
                    <th class="negrito text-center" width="10%">Data de Referência</th>
                    <th class="negrito text-center" width="8%">Fator de Pontuação</th>
                    <th class="negrito text-center" width="7%">Quantidade de Itens</th>
                    <th class="negrito text-center" width="5%">Peso</th>
                    <th class="negrito text-center" width="10%">Pontuação</th>
                </tr>
            </thead>
            <tbody>
                {% for arquivo_rsc in arquivos_rsc3 %}
                <tr>
                    <td class="right">{{ arquivo_rsc.criterio.numero }}</td>
                    <td>{{ arquivo_rsc.criterio.nome }} - {{ arquivo_rsc.nome }}</td>
                    <td class="text-center">{{ arquivo_rsc.data_referencia }}</td>
                    <td class="text-center">{{ arquivo_rsc.criterio.fator }}</td>
                    <td class="text-center">{{ arquivo_rsc.qtd_itens }}</td>
                    <td class="text-center">{{ arquivo_rsc.criterio.diretriz.peso }}</td>
                    <td class="text-center">{{ arquivo_rsc.nota_pretendida }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br/>
         <table>
            <tbody>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                {% if not processo.assinatura_requerimento %}
                    <tr>
                        <td colspan="2" style="font-size: 9pt !important;">______________________________________, ____/____/______</td>
                        <td colspan="2" style="font-size: 9pt !important;">________________________________________________________________</td>
                    </tr>
                    <tr>
                        <td class="text-center">Local</td>
                        <td class="text-center" style="width: 120px">Data</td>
                        <td colspan="2" class="text-center">Assinatura do Requerente</td>
                    </tr>
               {% else %}
                    <tr>
                        <td style="border-bottom: 1px solid #000;" colspan="4" class="text-center">{{ processo.assinatura_requerimento }}</td>
                    </tr>

                    <tr>
                        <td colspan="4" class="text-center">Assinatura (digital) do Requerente</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
