{% extends super_template %}

{% block content %}

    <h2>Processos</h2>

     {% box 'Meus processos' %}
{% if processos_servidor_logado %}
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Rsc pretendido</th>
                <th>Número do processo</th>
                <th>Pontuacao</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
          {% for processo in processos_servidor_logado %}
            <tr>
                <td>{% icon "view" "/progressoes/detalhes_processo_avaliado/{{ processo.id }}/" %}</td>
                <td>{{ processo.tipo_rsc }} </td>
                <td>{{ processo.numero }} </td>
                <td>{{ processo.pontuacao }}</td>
                <td><span class="status status-em-tramite text-nowrap-normal">{{ processo.get_status_display }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
	<p class="msg alert">Nenhum processo encontrado. </p>
{% endif %}
      {% endbox %}

{% endblock %}