{% extends super_template %}

{% block content %}

{% if processos %}
    {% box 'Processos Sem Avaliador Reserva' %}
        <table>
            <thead>
                <tr>
                    <th>Processo RSC</th>
                    <th>Número do processo</th>
                    <th>Qtd. Avaliadores Internos Reservas</th>
                    <th>Qtd. Avaliadores Externos Reservas</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for processo in processos %}
                <tr>
                    <td><a href="/rsc/abrir_processo_rsc/{{ processo.id }}/" title="Visualizar Processo {{ processo }}">{{ processo }}</a></td>
                    <td>{{ processo.protocolo.numero_processo }} </td>
                    <td>{{ processo.qtd_avaliadores_internos_reserva }}</td>
                    <td>{{ processo.qtd_avaliadores_externos_reserva }}</td>
                    <td><a href="/rsc/selecionar_avaliadores/{{ processo.id }}/" class="btn success popup">Selecionar Avaliadores</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endbox %}
{% else %}
    <p class="msg alert">Nenhum processo encontrado.</p>
{% endif %}

{% endblock %}