<aside class="right">

    <details open="open">
        <summary>Dados Gerais</summary>
        <div class="details-container">
            <dl>
                <dt>{% verbose_field_name enquete 'titulo' %}:</dt>
                <dd>{{ enquete.titulo|format }}</dd>
                <dt>{% verbose_field_name enquete 'descricao' %}:</dt>
                <dd>{{ enquete.get_descricao|format }}</dd>
                <dt>{% verbose_field_name enquete 'data_inicio' %}</dt>
                <dd>{{ enquete.data_inicio|format }}</dd>
                <dt>{% verbose_field_name enquete 'data_fim' %}</dt>
                <dd>{{ enquete.data_fim|format }}</dd>
                {% if enquete.get_publico_str %}
                    <dt>Público</dt>
                    <dd>{{ enquete.get_publico_str|format }}</dd>
                {% endif %}
                {% if enquete.instrucoes %}
                    <dt>
                        {% if enquete.descricao_anexo %}
                            {{ enquete.descricao_anexo }}
                        {% else %}
                            Arquivo com Instruções
                        {% endif %}
                    </dt>
                    <dd><a href="{{ enquete.instrucoes.url }}">Visualizar Arquivo</a></dd>
                {% endif %}
                {% if enquete.texto_orientacao %}
                    <dt>Texto de Orientação da Enquete</dt>
                    <dd>{{ enquete.texto_orientacao }}</dd>
                {% endif %}
                <dt>Responsáveis</dt>
                <dd>{{ enquete.vinculos_responsaveis|format|safe }}</dd>
                <dt>Resultado Público:</dt>
                <dd>{{ enquete.resultado_publico|format }}</dd>
                <dt>Manter Enquete na Tela Inicial:</dt>
                <dd>{{ enquete.manter_enquete_inicio|format }}</dd>
            </dl>
        </div>
    </details>

    {% if enquete.get_participantes %}
        <details open="open">
            <summary>Estatísticas</summary>
            <div class="details-container boxes indicators small">
                <div class="box-item">
                    <p class="indicator">{{ enquete.get_participantes.count }}</p>
                    <p class="description">Respondente{{ enquete.get_participantes|pluralize }}</p>
                </div>
            </div>
        </details>
    {% endif %}
</aside>
