{% extends super_template %}

{% block content %}
    <div class="search-and-filters">
        {% render_form form %}
    </div>
    {% for campus in campi %}
        {% box '{{ campus.nome }}' 'collapsed' %}
            <dl class="definition-list">
                <dt>Valor</dt> 
                <dd>R$ {{ campus.valor|format }}</dd>
            </dl>
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Identificador</th>
                    <th class="text-end">Valor</th>
                </tr>
                </thead>
                <tbody>
                {% for item in campus.itens %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <strong>{{ item.numero|format }}</strong>
                        </td>
                        <td class="text-end">
                            {{ item.valor|format }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Total</td>
                        <td class="text-end">{{ campus.valor|format }}</td>
                    </tr>
                </tfoot>
            </table>
        {% endbox %}
    {% endfor %}
{% endblock %}
