{% extends super_template %}

{% block content %}

{% box 'Horários Cadastrados' %}
	{% if horarios.exists %}
		<table>
			<thead>
				<tr>
					<th>Ação de Saúde</th>
					<th>Período da Ação</th>
					<th>Profissional</th>
                    <th>Horário</th>
                    <th>Quantidade de Vagas</th>
					<th class="no-print">Ações</th>
				</tr>
			</thead>
			<tbody>
				{% for horario in horarios %}
					<tr>
						<td>{{ horario.acao_saude }}</td>
						<td>{{ horario.acao_saude.periodo_acao }}</td>
						<td>{{ horario.profissional }}</td>
                        <td>{{ horario.horario_atendimento }}</td>
                        <td>{{ horario.quantidade_vaga }}</td>
						<td class="no-print">
							<ul class="action-bar">
								<li><a class="btn danger" href="/rh/remover_horario/{{ horario.pk }}/">Remover</a></li>
							</ul>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="msg alert">Nenhum horário cadastrado.</p>
	{% endif %}
{% endbox %}

{% box 'Adicionar Horário' %}
	{% render_form form %}
{% endbox %}

{% endblock %}