{% extends super_template %}

{% block content %}

<h2>Relação de Endereços</h2>
{% for situacao, grupo in lista.items %}
	<h3>{{ situacao }}</h3>
	{% for nome_grupo, servidores in grupo.items %}
		<h4>{{ nome_grupo }}</h4>
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Telefones</th>
					<th>Endereço</th>
					<th>Numero</th>
					<th>Complemento</th>
					<th>Bairro</th>
					<th>CEP</th>
					<th>Municipio</th>
				</tr>
			</thead>
			<tbody>
				{% for servidor in servidores %}
					<tr>
						{%  for dado in servidor %}
							<td>{{ dado }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endfor %}
{% endfor %}

{% endblock %}
