{% extends "relatorio_pdf.html" %}


{% block cabecalho %}
{% endblock %}

{% block page_settings %}
size: a4 portrait;
{% endblock %}

{% block content_frame %}
top: 29;
left: 46;
right: 0;
bottom: 0;
{% endblock %}

{% block style %}
td, th {
    font-size: 6pt;
    font-weight: bold;
    line-height: 1em;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    padding: 1px;
}
{% endblock %}

{% block content %}
<table>
    {% for carteira in carteiras %}
    <tr>
        <td width="550px" valign="top">
            <table>
                <tr>
                    <td align="right"><div style="padding-top: -18px; padding-right: 4px;"><img src="{{ carteira.foto }}" style="width: 90.5px; height: 121px"/></div></td>
                </tr>
                <tr>
                    <td><div style="padding-top: 13px;">{{ carteira.matricula }}</div></td>
                </tr>
                <tr>
                    <td><div style="padding-top: 23px">{{ carteira.nome }}</div></td>
                </tr>
            </table>
        </td>
        <td valign="top" style="padding-left: 60px;
            {% if forloop.counter == 1 %}
                padding-top: -10px
            {% elif forloop.counter == 2 %}
                padding-top: -12px
            {% elif forloop.counter == 3 %}
                padding-top: -15px
            {% else %}
                padding-top: -18px
            {% endif %}
            ">
                <table >
                    <tr>
                        <td width="50%"><div style="padding-top: 11px">{{ carteira.cpf }}</div></td>
                        <td width="50%"><div style="padding-top: 11px; padding-left: -15px">{{ carteira.identidade }}</div></td>
                    </tr>
                    <tr>
                        <td><div style="padding-top: 18px">{{ carteira.cargo }}</div></td>
                        <td><div style="padding-top: 18px; padding-left: 10px;">{{ carteira.sangue }}</div></td>
                    </tr>
                    <tr>
                        <td><div style="padding-top: 18px">{{ carteira.naturalidade }}</div></td>
                        <td><div style="padding-top: 18px; padding-left: 10px">{{ carteira.data_nascimento }}</div></td>
                    </tr>
                    <tr>
                        <td colspan="2"><div style="padding-top: 19px">{{ carteira.nome_mae }}</div></td>
                    </tr>
                    <tr>
                        <td><div style="padding-top: 32px">{{ carteira.local_data_expedicao|format }}</div></td>
                        <td></td>
                    </tr>
                </table>
        </td>
    </tr>
    {% if not forloop.last and not forloop.counter|divisibleby:4 %}
    <tr>
        <td>
            {% if forloop.counter == 2 %}
                <div style="padding-top: 127px;color: #fff; ">...</div>
            {% elif forloop.counter == 3 %}
                <div style="padding-top: 125px;color: #fff; ">...</div>
            {% else %}
                <div style="padding-top: 122px;color: #fff; ">...</div>
            {% endif %}
        </td>
        <td> <div style="color: #fff; ">...</div></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% endblock %}

{% block footer %}
{% endblock %}