{% extends super_template %}

{% block extrahead %}
    <link rel="stylesheet" href="/static/djtools/css/jquery.orgchart.css">
    <script src="/static/djtools/graficos/highstock.js"></script>
    <script src="/static/djtools/graficos/sankey.js"></script>
    <script src="/static/djtools/graficos/organization.js"></script>
    <script src="/static/djtools/graficos/exporting.js"></script>
{% endblock %}

{% block content %}

<div class="search-and-filters">
    {% render_form form %}
</div>

<p class="msg info">Essa tela só exibe o primeiro nível de setores filhos a partir do setor selecionado.</p>
<div id="container" class="organizationchart" data-url="{% url 'organograma_data' %}?setor_raiz={{ setor_raiz }}"></div>
<div id="setor_detalhes"></div>
<script>
    $.ajax({
        url: $("#container").attr("data-url"),
        dataType: 'json',
        success: function (data) {
            Highcharts.chart("container", data);
        }
    });
    $(document).ready(function() {
        // Listen to the double click event.
        preencher_setor("/rh/setor_detalhes/{{ setor_raiz.pk }}")
    });
    function preencher_setor(url) {
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                $("#setor_detalhes").html(data);
            }
        });
    }
</script>
{% endblock %}
