{% extends super_template %}

{% block content %}

<p class="msg alert">
	Cada servidor deve ter, necessariamente, o cargo atrelado para o correto funcionamento do suap. 
</p>

<p>
	{% if apenas_do_meu_campus %}
		Listando apenas os servidores do seu campus ({{ meu_campus|default:"Nenhum" }})
	{% else %}
		Listando servidores de qualquer campus
	{% endif %}
	- <b>{{ servidores|length }}</b> servidores
	| 
	{% if apenas_do_meu_campus %}
		<a href="/rh/servidores_sem_cargo/">Mostrar servidores de qualquer campus</a>
	{% else %}
		<a href="/rh/servidores_sem_cargo/?meu_campus">Mostrar apenas servidores do meu campus ({{ meu_campus|default:"Nenhum" }})</a>
	{% endif %}
<p>

{% if servidores %}
	{% autopaginate servidores 50 %}
	<div class="card-container">
		{% for servidor in servidores %}
			<div class="card">
				<div class="photo"><img src="{{ servidor.get_foto_75x100_url }}" alt="{{ servidor.nome }}" /></div>
				<h5>{{ servidor.nome }}</h5>
				<dl>
					<dt>Matrícula:</dt>
					<dd><a href="/admin/rh/servidor/{{ servidor.id }}/">{{ servidor.matricula }}</a></dd>
                    <dt>Setor:</dt>
                    <dd>{{ servidor.setor.get_caminho_as_html|safe|format }}</dd>
                    <dt>Lotação SIAPE:</dt>
                    <dd>{{ servidor.setor_lotacao.get_caminho_as_html|safe|format }}</dd>
					<dt>Exercício SIAPE:</dt>
					<dd>{{ servidor.setor_exercicio.get_caminho_as_html|safe|format }}</dd>
					<dt>Cargo:</dt>
					<dd>{{ servidor.cargo_emprego|format }}</dd>
					<dt>Categoria:</dt>
					<dd>{{ servidor.categoria|format }}</dd>
				</dl>
				<div class="content">
					<ul class="action-bar">
						<li><a href="/admin/rh/servidor/{{ servidor.id }}/" class="btn primary">Editar Cargo</a></li>
					</ul>
				</div>
			</div>
		{% endfor %}
	</div>
	{% paginate %}
{% else %}
	<p class="msg error">Nenhum servidor encontrado.</p>
{% endif %}

{% endblock %}