{% extends super_template %}


{% block content %}

<p class="msg alert">Alguns cargos empregos devem ter uma área relacionada, como por exemplo: Técnico de Laboratório, Engenheiro e etc.</p>

<div class="search-and-filters">
    {% render_form form %}
</div>

{% box 'Servidores Por Área' %}
    {% if table_servidores_por_area %}
            {% render_table table_servidores_por_area %}
    {% else %}
        <p class="msg alert">Nenhum servidor encontrado.</p>
    {% endif %}
{% endbox %}

{% endblock %}
