{% extends super_template %}

{% block bodyclass %}{% if form.is_valid %}hasAsideRight{% endif %}{% endblock %}

{% block content %}

    {% box 'Formulário' %}
        {% render_form form %}
    {% endbox %}

    {% if form.is_valid %}
        {% box 'Dados para Capacitação' %}
            <table>
                <thead>
                <tr>
                    <th>Servidor</th>
                    <th>Grau de escolaridade formal</th>
                    <th>Quantidade de Tempo Afastado para capacitação(Mestrado ou Doutorado)</th>
                    <th>Média ultima progressão</th>
                    <th>Tempo de Exercício</th>
                    <th>Data Completa Estabilidade</th>
                    <th>Data 2 anos após ultimo Afastamento Capacitação 3 Meses</th>
                    <th>Data 2 anos após ultimo Afastamento Capacitação Strictu Sensu</th>
                </tr>
                </thead>
                <tbody>
                {% for servidor in servidores %}
                    <tr>
                        <td>{{ servidor }}</td>
                        <td>{{ servidor.get_titulacao | format }}</td>
                        <td>{{ servidor.tempo_afastado_para_capacitacao_strictu_sensu | format }}</td>
                        <td>{{ servidor.media_ultima_progressao | format }}</td>
                        <td>{{ servidor.tempo_servico_no_cargo_via_pca | format }}</td>
                        <td>{{ servidor.data_previsao_estabilidade }}</td>
                        <td>{{ servidor.dois_anos_apos_ultimo_afastamento_para_capacitacao_3_meses | format }}</td>
                        <td>{{ servidor.dois_anos_apos_ultimo_afastamento_para_capacitacao_strictu_sensu |format }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7"><p class="msg-alert">Nenhum servidor encontrado no setor.</p></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endbox %}

        {% box 'Dados da Carga Horária do Setor' %}
            <table>
                <thead>
                <tr>
                    <th>Servidor</th>
                    <th>Jornada de Trabalho</th>
                    <th>Jornada de Trabalho Provimento Cargo</th>
                    <th>Jornada de Trabalho Máxima</th>
                </tr>
                </thead>
                <tbody>
                {% for servidor in servidores %}
                    {% if servidor.afastamentos_para_capacitacao_strictu_sensu_hoje.exists %}
                    <tr>
                        <td>
                            <span class="status status-error">{{ servidor }} (Afastado p/ capacitação)</span>
                        </td>
                        <td>-</td>
                        <td>-</td>
                        <td>{{ jornada_maxima }}</td>
                    </tr>
                    {% else %}
                        <tr>
                            <td>{{ servidor }}</td>
                            <td>{{ servidor.jornada_trabalho | format }}</td>
                            <td>{{ servidor.jornada_trabalho_servidor_pca | format }}</td>
                            <td>{{ jornada_maxima }}</td>
                        </tr>
                    {% endif %}
                    {% empty %}
                    <tr>
                        <td colspan="3"><p class="msg-alert">Nenhum servidor encontrado no setor.</p></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endbox %}
    {% endif %}

{% endblock %}

{% block asideright %}

    {% if form.is_valid %}

        <aside class="right">
            <details open="open">
                <summary>Porcentagem de Força de Trabalho</summary>
                <div class="details-container">
                    <p>Jornada de Trabalho dos Servidores do Setor: {{ total_jornada_trabalho }} h(s)</p>
                    <div class="progress">
                        <p>{{ porcentagem_total_jornada_trabalho }}%</p>
                    </div>
                    <p>Jornada de Trabalho dos Servidores do Setor (PROVIMENTO DO CARGO): {{ total_jornada_trabalho_pca }}
                        h(s)</p>
                    <div class="progress">
                        <p>{{ porcentagem_total_jornada_trabalho_pca }}%</p>
                    </div>
                    <p>Carga Máxima da Jornada de Trabalho dos Servidores do Setor: {{ total_jornada_maxima }}
                        h(s)</p>
                    <div class="progress">
                        <p>{{ porcentagem_total_jornada_trabalho_maxima }}%</p>
                    </div>
                </div>
            </details>
        </aside>
    {% endif %}

{% endblock %}
