<div class="tab-container" data-title="Histórico nos Setores" data-tab="historico_setores">
    {% box 'Histórico nos Setores SUAP' %}
        {% if historico_setor.exists %}
            <table>
                <thead>
                <tr>
                    <th>Setor</th>
                    <th>Início</th>
                    <th>Fim</th>
                </tr>
                </thead>
                <tbody>
                {% for hist_set in historico_setor %}
                    <tr>
                        <td>{{ hist_set.setor.nome }} - {{ hist_set.setor.sigla }}</td>
                        <td>{{ hist_set.data_inicio_no_setor|format }} </td>
                        <td>{{ hist_set.data_fim_no_setor|format }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="msg alert">Não há histórico em setores SUAP.</p>
        {% endif %}
    {% endbox %}

    {% box 'Histórico Lotação SIAPE' %}
        {% if historico_setor_siape.exists %}
            <table>
                <thead>
                <tr>
                    <th>Setor Lotação</th>
                    <th>Setor Exercício</th>
                    <th>Início</th>
                    <th>Fim</th>
                </tr>
                </thead>
                <tbody>
                {% for hist_setor_siape in historico_setor_siape %}
                    <tr>
                        <td>{{ hist_setor_siape.setor_lotacao.sigla }}</td>
                        <td>{{ hist_setor_siape.setor_exercicio.sigla }}</td>
                        <td>{{ hist_setor_siape.data_inicio_setor_lotacao|format }}</td>
                        <td>
                            {% if servidor.setor_lotacao_data_ocupacao == hist_setor_siape.data_inicio_setor_lotacao and not hist_setor_siape.data_fim_setor_lotacao %}
                                <span class="status status-success">Atual</span>
                            {% else %}
                                {{ hist_setor_siape.data_fim_setor_lotacao|format }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="msg alert">Não há histórico em setores SUAP.</p>
        {% endif %}
    {% endbox %}
</div>