
<div class="tab-container" data-title="Dados Gerais" data-tab="dados_gerais">
{#    {% if servidor.identificacao_unica_siape and verificacao_propria %}#}
{#        <p class="msg info">#}
{#            Se as informações apresentadas estão incorretas ou desatualizadas corrija-as no <a#}
{#                href="https://servidor.sigepe.planejamento.gov.br/">SIGEPE</a>.#}
{#            Se alguma dessas informações não pode ser atualizada diretamente no SIGEPE, procure o setor de recursos#}
{#            humanos do seu campus.#}
{#        </p>#}
{#    {% endif %}#}
    {% if pode_ver_cpf_servidor or pode_ver_dados_pessoais_servidor or pode_ver_endereco_servidor %}
        {% box 'Dados Pessoais' %}
            <dl class="definition-list flex">
                {% if pode_ver_cpf_servidor %}
                    <div class="list-item flex-basis-100">
                        <dt>CPF</dt>
                        <dd>{{ servidor.cpf|format }}</dd>
                    </div>
                {% endif %}
                {% if pode_ver_dados_pessoais_servidor %}
                    <div class="list-item">
                        <dt>Nome do Registro</dt>
                        <dd>{{ servidor.nome_registro|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>Nascimento</dt>
                        <dd>{{ servidor.nascimento_data|format }}
                            ({{ servidor.nascimento_data|timesince|format }})
                        </dd>
                    </div>
                    <div class="list-item">
                        <dt>Estado Civil</dt>
                        <dd>{{ servidor.estado_civil|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>Naturalidade</dt>
                        <dd>{{ servidor.nascimento_municipio|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>Sexo</dt>
                        <dd>{{ servidor.get_sexo_display|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>G. Sanguíneo/RH</dt>
                        <dd>{{ servidor.grupo_sanguineo|format }}{{ servidor.fator_rh|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>Dependentes IR</dt>
                        <dd>{{ servidor.servidor.qtde_depend_ir|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>Nome do Pai</dt>
                        <dd>{{ servidor.nome_pai|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>Nome da Mãe</dt>
                        <dd>{{ servidor.nome_mae|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>PIS/PASEP</dt>
                        <dd>{{ servidor.pis_pasep|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>Titulação</dt>
                        <dd>{{ servidor.titulacao|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>Formação</dt>
                        <dd>{{ servidor.nivel_escolaridade|format }}</dd>
                    </div>
                {% endif %}
                {% if pode_ver_endereco_servidor %}
                    <div class="list-item flex-grow-3">
                        <dt>Endereço</dt>
                        <dd>{{ servidor.endereco|format }}
                        </dd>
                    </div>
                {% endif %}
            </dl>

            {% if pode_ver_dados_pessoais_servidor %}
                <h4>Registro Geral</h4>
                <dl class="definition-list flex">
                    <div class="list-item">
                        <dt>Identidade</dt>
                        <dd>{{ servidor.rg|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>Órgão Expedidor</dt>
                        <dd>{{ servidor.rg_orgao|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>UF</dt>
                        <dd>{{ servidor.rg_uf|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>Data Expedição</dt>
                        <dd>{{ servidor.rg_data|format }}</dd>
                    </div>
                </dl>

                <h4>Título de Eleitor</h4>
                <dl class="definition-list flex">
                    <div class="list-item">
                        <dt>Número</dt>
                        <dd>{{ servidor.titulo_numero|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>Zona</dt>
                        <dd>{{ servidor.titulo_zona|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>Seção</dt>
                        <dd>{{ servidor.titulo_secao|format }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>UF</dt>
                        <dd>{{ servidor.titulo_uf|format }}</dd>
                    </div>
                </dl>

                {% if servidor.cnh_carteira %}
                    <h4>CNH</h4>
                    <dl class="definition-list flex">
                        <div class="list-item">
                            <dt>Número</dt>
                            <dd>{{ servidor.cnh_carteira|format }}</dd>
                        </div>
                        <div class="list-item">
                            <dt>Registro</dt>
                            <dd>{{ servidor.cnh_registro|format }}</dd>
                        </div>
                        <div class="list-item">
                            <dt>Categoria</dt>
                            <dd>{{ servidor.cnh_categoria|format }}</dd>
                        </div>
                        <div class="list-item">
                            <dt>Emissão</dt>
                            <dd>{{ servidor.cnh_emissao|format }}</dd>
                        </div>
                        <div class="list-item">
                            <dt>Validade</dt>
                            <dd>{{ servidor.cnh_validade|format }}</dd>
                        </div>
                    </dl>
                {% endif %}
            {% endif %}
        {% endbox %}
    {% endif %}

    {% box 'Dados Funcionais' %}
        <dl class="definition-list flex">
            <div class="list-item flex-basis-100">
                <dt>Matrícula</dt>
                <dd>{{ servidor.matricula }}</dd>
            </div>
            {% if servidor.matricula_anterior and servidor.matricula != servidor.matricula_anterior and servidor.matricula_anterior != "0" %}
                <div class="list-item">
                    <dt>Matrícula Anterior</dt>
                    <dd>{{ servidor.matricula_anterior|format }}</dd>
                </div>
            {% endif %}
{#            {% if pode_ver_identificacao_unica_siape %}#}
{#                <div class="list-item">#}
{#                    <dt>Id. Única SIAPE</dt>#}
{#                    <dd>{{ servidor.identificacao_unica_siape|format }}</dd>#}
{#                </div>#}
{#            {% endif %}#}
            <div class="list-item">
                <dt>Setor Lotação SUAP</dt>
                <dd>
                    <a href="/rh/setor/{{ servidor.setor.pk }}/">{{ servidor.setor|format }}</a>
                    (campus: {{ servidor.setor.uo.setor|format }})
                </dd>
            </div>
{#            <div class="list-item">#}
{#                <dt>Lotação SIAPE</dt>#}
{#                <dd>{{ servidor.setor_lotacao|format }} (campus: {{ servidor.setor_lotacao.uo.setor|format }})</dd>#}
{#            </div>#}
{#            <div class="list-item">#}
{#                <dt>Exercício SIAPE</dt>#}
{#                <dd>{{ servidor.setor_exercicio|format }} (campus: {{ servidor.setor_exercicio.uo.setor|format }})</dd>#}
{#            </div>#}
            {% if servidor.setores_adicionais.exists %}
                <div class="list-item">
                    <dt>Setores Adicionais</dt>
                    <dd>
                        {% for setor in servidor.setores_adicionais.all %}
                            {{ setor }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </dd>
                </div>
            {% endif %}
            <div class="list-item">
                <dt>Situação</dt>
                <dd>{{ servidor.situacao }}</dd>
            </div>
{#            <div class="list-item">#}
{#                <dt>Regime</dt>#}
{#                <dd>{{ servidor.regime_juridico }}</dd>#}
{#            </div>#}
{#            <div class="list-item">#}
{#                <dt>Jornada Trabalho</dt>#}
{#                <dd>{{ servidor.jornada_trabalho }}</dd>#}
{#            </div>#}
{#            <div class="list-item">#}
{#                <dt>Opera Raio X</dt>#}
{#                <dd>{{ servidor.opera_raio_x|default:"Não" }}</dd>#}
{#            </div>#}
{#            <div class="list-item">#}
{#                <dt>Início no Serviço Público</dt>#}
{#                <dd>{{ servidor.data_inicio_servico_publico|format }}</dd>#}
{#            </div>#}
{#            <div class="list-item">#}
{#                <dt>Data de Posse na Instituição</dt>#}
{#                <dd>{{ servidor.data_posse_na_instituicao|format }}</dd>#}
{#            </div>#}
{#            <div class="list-item">#}
{#                <dt>Início de Exercício na Instituição</dt>#}
{#                <dd>{{ servidor.data_inicio_exercicio_na_instituicao|format }}</dd>#}
{#            </div>#}
{#            <div class="list-item">#}
{#                <dt>Tempo de serviço na Instituição</dt>#}
{#                <dd>#}
{#                    {% if servidor.tempo_servico_na_instituicao_via_pca %}#}
{#                        {{ servidor.tempo_servico_na_instituicao_via_pca|format }}#}
{#                        ({{ servidor.tempo_servico_na_instituicao_via_pca.days }} dias)#}
{#                    {% else %}#}
{#                        {{ servidor.tempo_servico_na_instituicao|format }}#}
{#                        ({{ servidor.tempo_servico_na_instituicao.days }} dias)#}
{#                    {% endif %}#}
{#                </dd>#}
{#            </div>#}
{#            <div class="list-item">#}
{#                <dt>Data de Posse no Cargo</dt>#}
{#                <dd>{{ servidor.data_posse_no_cargo }}</dd>#}
{#            </div>#}
{#            <div class="list-item">#}
{#                <dt>Início Exercício no Cargo</dt>#}
{#                <dd>{{ servidor.data_inicio_exercicio_no_cargo }}</dd>#}
{#            </div>#}
{#            <div class="list-item">#}
{#                <dt>Tempo de Serviço no Cargo</dt>#}
{#                <dd>#}
{#                    {% if servidor.tempo_servico_no_cargo_via_pca %}#}
{#                        {{ servidor.tempo_servico_no_cargo_via_pca|format }}#}
{#                        ({{ servidor.tempo_servico_no_cargo_via_pca.days }} dias)#}
{#                    {% else %}#}
{#                        {{ servidor.tempo_servico_no_cargo|format }}#}
{#                        ({{ servidor.tempo_servico_no_cargo.days }} dias)#}
{#                    {% endif %}#}
{#                </dd>#}
{#            </div>#}
            <div class="list-item">
                <dt>Cargo</dt>
                <dd>{% if servidor.cargo_emprego_area %}{{ servidor.cargo_emprego_area }}{% else %}{{ servidor.cargo_emprego|default:"-" }}{% endif %}</dd>
            </div>
{#            <div class="list-item">#}
{#                <dt>Classe do Cargo</dt>#}
{#                <dd>{{ servidor.cargo_classe|default:"-" }}</dd>#}
{#            </div>#}
{#            <div class="list-item">#}
{#                <dt>Padrão</dt>#}
{#                <dd>{{ servidor.nivel_padrao }}</dd>#}
{#            </div>#}
{#            <div class="list-item">#}
{#                <dt>Grupo do Cargo</dt>#}
{#                <dd>{{ servidor.cargo_emprego.grupo_cargo_emprego|format }}</dd>#}
{#            </div>#}
{#            <div class="list-item">#}
{#                <dt>Código da Vaga</dt>#}
{#                <dd>{{ servidor.codigo_vaga|format }}</dd>#}
{#            </div>#}
        </dl>

        {% if funcoes_ativas %}
            <h4 class="mt-2">Funções Atuais</h4>
            <div class="table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th>Função</th>
                        <th>Atividade</th>
                        <th>Setor SUAP</th>
                        <th>Período</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for funcao in funcoes_ativas %}
                        <tr>
                            <td>{{ funcao.funcao|format }}</td>
                            <td>{{ funcao.atividade|format }} </td>
                            <td>
                                {% if funcao.setor_suap %}
                                    <a href="/rh/setor/{{ funcao.setor_suap.pk }}/">{{ funcao.setor_suap|format }}</a>
                                {% else %}
                                    <span class="status status-alert">Você está sem setor SUAP associada à esta função. Regularize esta situação no setor de RH do seu campus.</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if funcao.data_fim_funcao %}
                                    De {{ funcao.data_inicio_funcao|format }} até {{ funcao.data_fim_funcao|format }}
                                {% else %}
                                    Desde {{ funcao.data_inicio_funcao|format }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endbox %}

    {% if servidor.professor %}
        {% box 'Dados do Professor' %}
            <dl class="definition-list flex">
                <div class="list-item">
                    <dt>NCE</dt>
                    {% for nce in servidor.professor.nce.all %}
                        <dd>{{ nce|format }}</dd>
                    {% endfor %}
                </div>
                <div class="list-item">
                    <dt>Matéria/Disciplina Ingresso</dt>
                    <dd>{{ servidor.professor.disciplina|format }}</dd>
                </div>
                {% if servidor.professor.disciplinas.exists %}
                    <div class="list-item">
                        <dt>Matéria/Disciplina que Leciona</dt>
                        {% for disciplina in servidor.professor.disciplinas.all %}
                            <dd>{{ disciplina|format }}</dd>
                        {% endfor %}
                    </div>
                {% endif %}
            </dl>
        {% endbox %}
    {% endif %}

    {% if pode_ver_dados_bancarios_servidor %}
        {% box 'Dados Bancários' %}
            <dl class="definition-list flex">
                <div class="list-item">
                    <dt>Banco</dt>
                    <dd>{{ servidor.pagto_banco }}</dd>
                </div>
                <div class="list-item">
                    <dt>Agência</dt>
                    <dd>{{ servidor.pagto_agencia }}</dd>
                </div>
                <div class="list-item">
                    <dt>Conta corrente</dt>
                    <dd>{{ servidor.pagto_ccor }}</dd>
                </div>
            </dl>
        {% endbox %}
    {% endif %}
</div>