<div class="tab-container" data-title="Histórico de Funções" data-counter="{{ servidor_historico_funcao.count }}" data-tab="historico_funcoes">
    {% box 'Histórico de Funções' %}
        <div class="table-responsive">
            <table>
                <thead>
                <tr>
                    <th>Função</th>
                    <th>Nível</th>
                    <th>Atividade</th>
                    <th>Setor/Campus</th>
                    <th>Setor SUAP/Campus SUAP</th>
                    <th>Data Início</th>
                    <th>Data Fim</th>
                    <th>Situação</th>
                </tr>
                </thead>
                <tbody>
                {% for shf in servidor_historico_funcao %}
                    <tr>
                        <td>{{ shf.funcao|format }}</td>
                        <td>{{ shf.nivel|format }}</td>
                        <td>{{ shf.atividade|format }} </td>
                        <td>{{ shf.setor|format }}</td>
                        <td>
                            {% if shf.setor_suap %}
                                <a href="/rh/setor/{{ shf.setor_suap.pk }}/">{{ shf.setor_suap|format }}</a>
                            {% else %}
                                <span class="status status-alert">Você está sem setor SUAP associada à esta função. Regularize esta situação no setor de RH do seu campus.</span>
                            {% endif %}
                        </td>
                        <td>{{ shf.data_inicio_funcao|format }}</td>
                        <td>{{ shf.data_fim_funcao|format }}</td>
                        <td>
                            {% if shf.estah_ativa %}
                                <span class="status status-success">Ativa</span>
                            {% else %}
                                <span class="status status-error">Inativa</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endbox %}
</div>