<div class="tab-container" data-title="Ocorrências/Afastamentos" data-tab="ocorrencias_afastamentos">
    {% if totais_qtd_dias_por_ano %}
        {% box 'Resumo' %}
            <div class="boxes services flex-container small">
                {% for ano, qtd_dias in totais.items %}
                    <div class="box-item">
                        <h4>{{ ano }}</h4>
                        <dl>
                            {% if qtd_dias.0 %}
                                <dt>Ocorrências:</dt>
                                <dd>{{ qtd_dias.0 }} dia{{ qtd_dias.0|pluralize }}</dd>
                            {% endif %}
                            {% if qtd_dias.1 %}
                                <dt>Afastamentos:</dt>
                                <dd>{{ qtd_dias.1 }} dia{{ qtd_dias.1|pluralize }}</dd>
                            {% endif %}
                        </dl>
                    </div>
                {% endfor %}
                <div class="box-item">
                    <h4>Total</h4>
                    <dl>
                        {% if totais_qtd_dias_ocorrencias %}
                            <dt>Ocorrências:</dt>
                            <dd>{{ totais_qtd_dias_ocorrencias }} dia{{ totais_qtd_dias_ocorrencias|pluralize }}</dd>
                        {% endif %}
                        {% if totais_qtd_dias_afastamentos %}
                            <dt>Afastamentos:</dt>
                            <dd>{{ totais_qtd_dias_afastamentos }} dia{{ totais_qtd_dias_afastamentos|pluralize }}</dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        {% endbox %}
    {% endif %}

    {% box 'Ocorrências' %}
        <div class="table-responsive">
            <table>
                <thead>
                <tr>
                    <th>Tipo Ocorrência</th>
                    <th>Descrição</th>
                    <th>Início</th>
                    <th>Término</th>
                    <th>Total Dias</th>
                </tr>
                </thead>
                <tbody>
                {% for so in servidor_ocorrencias %}
                    <tr>
                        <td>{% if so.subgrupo %} <strong>{{ so.subgrupo.descricao }}:</strong> {% else %}
                            <strong>{{ so.ocorrencia.grupo_ocorrencia.nome }}:</strong> {% endif %}</td>
                        <td>{{ so.ocorrencia.nome }} </td>
                        <td>{{ so.data }}</td>
                        {% if so.data_termino %}
                            {% if so.data != so.data_termino %}
                                <td>{{ so.data_termino }}</td>
                            {% endif %}
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        <td>
                            {% if so.data_termino %}
                                {{ so.data|subtract:1|timesince:so.data_termino }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endbox %}

    {% box 'Afastamentos (fonte: SIGEPE)' %}
        {% if servidor_afastamentos %}
            <div class="table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th>Tipo de Afastamento</th>
                        <th>Descrição</th>
                        <th>Período</th>
                        <th>Total de Dias</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for servidorafastamento in servidor_afastamentos %}
                        <tr>
                            <td> {{ servidorafastamento.afastamento.get_tipo_display }}</td>
                            <td><strong>{{ servidorafastamento.afastamento.nome }} </strong></td>
                            <td>
                                {% if servidorafastamento.data_termino and servidorafastamento.data_termino != servidorafastamento.data_inicio %}
                                    {{ servidorafastamento.data_inicio }} até {{ servidorafastamento.data_termino }}
                                {% else %}
                                    {{ servidorafastamento.data_inicio }}
                                {% endif %}
                            </td>
                            <td>
                                {% if servidorafastamento.data_termino %}
                                    {{ servidorafastamento.data_inicio|subtract:1|timesince:servidorafastamento.data_termino|format }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="msg alert">Nenhum afastamento encontrado proveniente do SIGEPE.</p>
        {% endif %}
    {% endbox %}

    {% box 'Afastamentos (fonte: SUAP)' %}
        {% if servidor_afastamentos_suap %}
            <div class="table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th>Tipo de Afastamento</th>
                        <th>Descrição</th>
                        <th>Período</th>
                        <th>Total de Dias</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for servidorafastamento in servidor_afastamentos_suap %}
                        <tr>
                            <td>{{ servidorafastamento.tipo }}</td>
                            <td><strong>{{ servidorafastamento.descricao }} </strong></td>
                            <td>
                                {% if servidorafastamento.data_fim and servidorafastamento.data_fim != servidorafastamento.data_ini %}
                                    {{ servidorafastamento.data_ini }} até {{ servidorafastamento.data_fim }}
                                {% else %}
                                    {{ servidorafastamento.data_ini }}
                                {% endif %}
                            </td>
                            <td>
                                {% if servidorafastamento.data_fim %}
                                    {{ servidorafastamento.data_ini|subtract:1|timesince:servidorafastamento.data_fim|format }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="msg alert">Nenhum afastamento encontrado proveniente do SUAP.</p>
        {% endif %}
    {% endbox %}
</div>