{% extends super_template %}



{% block content %}
	
<h2>Resultado de Busca de Servidores</h2>

<ul class="action-bar">
    <li><a class="btn" href="{{ url_csv }}"> Gerar CSV </a></li>
	<li><a class="btn" href="{{ url_xls }}"> Gerar XLS </a></li>
	{% if url_zip %}
		<li><a class="btn" href="{{ url_zip }}"> Fotos </a></li>
	{% endif %}
</ul>

{% autopaginate servidores 100 'page' '/rh/servidor/buscar/' %}

{% paginate 100 %}
    
{% box "Servidores" %}
    <table>
        <thead>
    	    <tr>
    	    	<th>Matrícula</th>
    	       	<th>Nome</th>
    	       {% for campo in campos_selecionados %}
    	           <th>{{ campo|alias }}</th>
    	       {% endfor %}
    	    </tr>
    	</thead>
    	<tbody>
    	{% for servidor in servidores|dictsort:"nome" %} 
            <tr>      	         	
                <td><a href="/rh/servidor/{{ servidor.matricula }}/">{{ servidor.matricula }}</a></td>
                <td>{{ servidor.nome }}</td>
                {% for campo in campos_selecionados %}
    			   {% if campo == 'foto' %}
    			   <td class="foto"><img src="{{ servidor|value:campo }}" /></td>
    			   {% else %}
    			   <td>{{ servidor|value:campo|format|safe }}</td>
    			   {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    	</tbody>
    </table>
{% endbox %}
    
{% paginate %}
	
{% endblock %}