{% extends super_template %}

{% block content %}

    {% box 'Upload Arquivo Extrator' %}
        {% render_form form %}
    {% endbox %}

    {% box 'Últimas Importações Realizadas' %}
        {% if historico %}
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>Horário</th>
                            <th>Aplicação</th>
                            <th>Título</th>
                            <th>Texto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in historico %}
                        <tr>
                            <td>{{ i.horario }}</td>
                            <td>{{ i.app }}</td>
                            <td>{{ i.titulo }}</td>
                            <td>{{ i.texto }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="msg alert">Não há histórico.</p>
        {% endif %}
    {% endbox %}
{% endblock %}
