{% extends super_template %}

{% block content %}
    <ul class="action-bar">
        <li><a class="btn" href="/edu/adicionar_alunos_aula_campo/{{ obj.pk }}">Limpar Filtros</a></li>

        {% help_button %}
    </ul>
    {% box 'Dados Gerais' %}
        <table class="info">
            <tr>
                <td>Campus:</td>
                <td>{{ obj.uo }}</td>
            </tr>
            <tr>
                <td>Descrição:</td>
                <td>{{ obj.descricao }}</td>
            </tr>
            <tr>
                <td>Finalidade:</td>
                <td>{{ obj.finalidade }}</td>
            </tr>
            <tr>
                <td>Roteiro:</td>
                <td>{{ obj.roteiro }}</td>
            </tr>
            <tr>
                <td>Data de Partida:</td>
                <td>{{ obj.data_partida }}</td>
            </tr>
            <tr>
                <td>Data de Chegada:</td>
                <td>{{ obj.data_chegada }}</td>
            </tr>
            <tr>
                <td>Responsáveis:</td>
                <td>
                    <ul>
                        {% for responsavel in obj.responsaveis.all %}
                            <li>{{ responsavel }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    {% endbox %}

    {% box 'Pesquisar Alunos' %}
        <p class="msg info">OBS: Os campos Turma e Diário <strong>somente</strong> deverão ser utilizados para os
            <strong>Cursos FIC</strong>.</p>

        {% render_form form %}
    {% endbox %}

    {% if alunos %}
        {% box 'Resultado da Pesquisa' %}
            {% if alunos %}
                <p>{{ alunos.count }} aluno(s) encontrado(s).</p>

                <form method="post" action="">
                    {% csrf_token %}

                    <table>
                        <thead>
                        <tr>
                            <th><input type="checkbox"
                                       onchange="var is = this.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByTagName('input');for(var i=0; i<is.length; i++) is[i].checked = this.checked"/>
                            </th>
                            <th>Nome</th>
                            <th>Matrícula</th>
                            <th>CPF</th>
                            <th>Curso</th>
                            <th>Data de Nascimento</th>
                            <th>Sexo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for aluno in alunos %}
                            <tr>
                                <td><input value="{{ aluno.pk }}" name="alunos_selecionados" type="checkbox"/></td>
                                <td>{{ aluno.get_nome_social_composto|normalizar }}</td>
                                <td>{{ aluno.matricula }}</td>
                                <td>{{ aluno.pessoa_fisica.cpf|format }}</td>
                                <td>{{ aluno.curso_campus.descricao }}</td>
                                <td>{{ aluno.pessoa_fisica.nascimento_data }}</td>
                                <td>{{ aluno.pessoa_fisica.sexo }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="submit-row">
                        <input class="success" type="submit" value="Adicionar Alunos Selecionados"/>
                    </div>
                </form>
            {% else %}
                <p class="msg info">Nenhum aluno encontrado com os critérios informados.</p>
            {% endif %}
        {% endbox %}
    {% endif %}
{% endblock %}
