{% extends "relatorio_pdf.html" %}

{% block style %}
	html {
		font-family: Helvetica;
		font-size: 10pt;
        font-weight: normal;
        color: #000000;
        background-color: transparent;
        margin: 0;
        padding: 0;
        line-height: 150%;
        border: 1px none;
        display: inline;
        width: auto;
        height: auto;
        white-space: normal;
	}

	h1 {
		font-size: 16pt;
		text-align: center;
		border: 1px solid black;
		padding-top: 2px;
		line-height: 1em;
	}

    p{
		text-indent: 80px;
    }

	.linha {
		text-align: center;
    	border-bottom: 1px solid black;
    }
{% endblock %}

{% block content %}

    <div class="corpo">
        <br/>
        <h1>
            ATA DE DEFESA DE {{ obj.get_tipo_display|upper }}
        </h1>
        <br/>
        <div>
            <p>
                Na presente data realizou-se a sessão pública de defesa {{ artigo_tipo }} {{ obj.get_tipo_display }} intitulada
                <b>{{ obj.titulo|format }}</b>, sob orientação de {{ obj.orientador.vinculo.pessoa.nome }}
                {% if coorienadores %} e coorientação de {{ coorienadores|format }}{% endif %}
                , apresentada pel{{ artigo_aluno }} alun{{ artigo_aluno }}
                <b>{{ obj.matricula_periodo.aluno.get_nome_social_composto|normalizar }}
                    ({{ obj.matricula_periodo.aluno.matricula }})</b>
                do Curso <b>{{ obj.matricula_periodo.aluno.curso_campus.descricao_historico }}
                ({{ obj.matricula_periodo.aluno.curso_campus.diretoria.setor.uo.nome|normalizar }})</b>.
                Os trabalhos foram iniciados às <b>
                {% if obj.resultado_data %}{{ obj.resultado_data|time:"H:i" }}</b> do dia <b>{{ obj.resultado_data|date:"d/m/Y" }}{% else %}____________{% endif %}</b>
                pel{{ artigo_presidente }} Professor{% if artigo_presidente == 'a' %}a{% endif %} <b>
                {% if obj.presidente %}{{ obj.presidente.pessoa_fisica.nome }}{% else %}
                    {{ obj.orientador.vinculo.pessoa.nome }}{% endif %}</b> presidente da banca examinadora, constituída
                pelos seguintes membros:
            </p>
            <ul>
                {% for professor in lista_professores %}
                    <li><b>{{ professor.2.nome|normalizar }}</b> ({{ professor.1 }})</li>
                {% endfor %}
            </ul>
            <p>A banca examinadora, tendo terminado a apresentação do
                conteúdo {{ artigo_tipo }} {{ obj.get_tipo_display }},
                passou à argüição d{{ artigo_aluno }} candidat{{ artigo_aluno }}. Em seguida, os examinadores
                reuniram-se para avaliação e deram o
                parecer final sobre o trabalho apresentado pelo aluno, tendo sido atribuído o seguinte resultado:
            </p>
            {% if ata_eletronica %}
                <div>
                <table>
					<tr>
	                    <td style="width:31%">[&nbsp;{% if obj.situacao == 1 %}X{% else %}&nbsp;{% endif %}&nbsp;] Aprovado</td>
	                    <td style="width:31%">[&nbsp;{% if obj.situacao == 2 %}X{% else %}&nbsp;{% endif %}&nbsp;] Reprovado</td>
	                    <td style="width:38%">Nota : {{ obj.nota|formatar_nota }}</td>
	                </tr>
	            </table>
                </div>
                <div>
                <table>
                    <tr><td><b>Observação / Apreciações: </b></td></tr>
                    <tr><td>{{ ata_eletronica.consideracoes|linebreaks }}</td></tr>
                </table>
                </div>
            {% else %}
            <div>
				<table>
					<tr>
	                    <td style="width:31%">[&nbsp;&nbsp;&nbsp;] Aprovado</td>
	                    <td style="width:31%">[&nbsp;&nbsp;&nbsp;] Reprovado</td>
	                    <td style="width:38%">Nota (quando exigido): _________</td>
	                </tr>
	            </table>
            </div>
            <div>
            <table>
                <tr><td><b>Observação / Apreciações: </b></td></tr>
                <tr><td class='linha'>&nbsp;</td></tr>
                <tr><td class='linha'>&nbsp;</td></tr>
                <tr><td class='linha'>&nbsp;</td></tr>
            </table>
            </div>
            {% endif %}
            <p>
                Proclamados os resultados pelo presidente da banca examinadora, foram encerrados os trabalhos e, para
                constar,
                eu <b>{{ obj.presidente.vinculo.pessoa.nome }}</b> lavrei a presente ata que assino juntamente com os
                demais membros da banca examinadora.
            </p>

            {% if ata_eletronica %}
                {% for assinatura in obj.get_assinaturas_eletronicas_pendentes %}
                    <center style="color:red">
                        Aguardando assinatura eletrônica de <strong>{{ assinatura.pessoa_fisica }}</strong>.
                    </center>
                {% endfor %}
            {% else %}

                <p style="text-align: center">{{ obj.matricula_periodo.aluno.curso_campus.diretoria.setor.uo.municipio }},
                    {% if obj.data_defesa %}{{ obj.data_defesa|date:"d/m/Y" }}{% else %}
                        _____________________________{% endif %}</p>

                <table style="text-align: center">
                    <tr>
                        {% for professor in lista_assinaturas %}
                            <td>
                                <br/>____________________________________________<br/><b>{{ professor.nome|normalizar }}</b>
                            </td>
                            {% if forloop.counter|divisibleby:2 %}</tr>{% if not forloop.last %}
                                <tr>{% endif %}{% endif %}
                        {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
