{% box 'Próximas Atividades' %}
    {% if perms.edu.add_atividadepolo %}
        <ul class='action-bar'>
            <li><a href='/admin/edu/atividadepolo/add/' class='success'>Adicionar Atividade</a></li>
        </ul>
    {% endif %}
    {% if atividades.exists %}

        <table>
            <thead>
            <tr>
                {% if perms.edu.add_atividadepolo %}
                    <th>Opções</th>
                {% endif %}
                <th>Nome</th>
                <th>Descrição</th>
                <th>Sala</th>
                <th>Data de Início</th>
                <th>Data de Término</th>
                <th>Polo</th>
                <th>Confirmada</th>
            </tr>
            </thead>
            <tbody>
            {% for atividade in atividades %}
                <tr>
                    {% if perms.edu.add_atividadepolo %}
                        <td>{% icon "edit" "/admin/edu/atividadepolo/{{ atividade.pk }}/" %}</td>
                    {% endif %}
                    <td>{{ atividade.nome|format }}</td>
                    <td>{{ atividade.descricao|format }}</td>
                    <td>{{ atividade.sala|format }}</td>
                    <td>{{ atividade.data_inicio|format }}</td>
                    <td>{{ atividade.data_fim|format }}</td>
                    <td>{{ atividade.polo|format }}</td>
                    <td>{{ atividade.confirmada|format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    {% else %}
        <p class="msg alert">Nenhuma atividade cadastrada para este polo.</p>
    {% endif %}
{% endbox %}

