{% extends super_template %}

{% block bodyclass %}{% if pks_diario_professor %}hasAsideRight{% endif %}{% endblock %}

{% block content %}

    {% if possui_avaliacao_agendada %}
        <p class="msg alert">As avaliações agendadas em dias com ao menos <strong>outras duas avaliações da mesma turma</strong> serão exibidas na cor "amarela".</p>
        {{ calendario_html|safe }}
    {% else %}
        <p class="msg alert">Nenhuma avaliação agendada.</p>
    {% endif %}

{% endblock %}

{% block asideright %}
    {% if pks_diario_professor %}

    <aside class="right">
        <h3>Avaliações</h3>
        {% for diario in diarios %}
        <details {% if diario.possui_avaliacao_nao_agendada %}open="open"{% endif %}>
            <summary>{{ diario }}</summary>
            <div class="details-container">
                <ul>
                {% for item_avaliacao in diario.itens_avaliacao %}
                <li>
                    {% with etapa=item_avaliacao.configuracao_avaliacao.etapa %}
                        <strong>{{ item_avaliacao.get_descricao_etapa }}</strong>: {{ item_avaliacao.get_tipo_display }} {{ item_avaliacao.sigla }}
                        {% if item_avaliacao.descricao %} - {{ item_avaliacao.descricao }} {% endif %}
                        {% if item_avaliacao.data %} - {{ item_avaliacao.data|format }} {% endif %}
                        {% if item_avaliacao.editavel %}
                            <a class="popup" href="/edu/agendar_avaliacao/{{ item_avaliacao.pk }}/" type="submit">{% icone "edit" %}<span class="sr-only">Agendar</span></a>
                        {% endif %}
                    {% endwith %}
                </li>
                {% endfor %}
                </ul>
            </div>
        </details>
         {% endfor %}
    </aside>
    {% endif %}
{% endblock %}


