{% extends super_template %}

{% block content %}

    {% if extrapola_percentual_max_aproveitamento %}
        <p class="msg alert">O aluno não poderá aproveitar/certificar este componente pois extrapolaria o limite
            de {{ aluno.matriz.estrutura.percentual_max_aproveitamento }}% da carga horária das disciplinas da
            matriz.</p>
    {% endif %}

    {% if extrapola_quantidade_max_creditos_aproveitamento %}
        <p class="msg alert">O aluno não poderá aproveitar/certificar este componente pois extrapolaria o limite
            de {{ aluno.matriz.estrutura.quantidade_max_creditos_aproveitamento }} créditos
            aproveitáveis/certificáveis.</p>
    {% endif %}

    {% if matriculas_diario.exists %}
        <p class="msg alert">O aluno se encontra matriculado no diário {% for matricula_diario in matriculas_diario %}
            {{ matricula_diario.diario }} {% endfor %}. Caso o aluno seja aprovado na certificação, a sua matrícula
            nesse diário será excluída.</p>
    {% endif %}

    {% render_form form %}

{% endblock %}
