{% extends super_template %}

{% block content %}
    {% if componentes_nao_disponiveis %}
        <table>
            <thead>
            <th class="text-center">Período</th>
            <th>Disciplina</th>
            <th>Matriz</th>
            <th>Motivo</th>
            </tr>
            </thead>
            <tbody>
            {% for componente_curricular in componentes_nao_disponiveis %}
                <tr>
                    <td class="text-center">{{ componente_curricular.periodo_letivo|format }}</td>
                    <td>{{ componente_curricular }}</td>
                    <td><span
                            class="status status-{% if aluno.matriz_id == componente_curricular.matriz.id %}success{% else %}alert{% endif %}">{{ componente_curricular.matriz.id }}</span>
                    </td>
                    <td>{{ componente_curricular.motivo|format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="msg alert">Não existem disciplinas.</p>
    {% endif %}
{% endblock %}