{% extends "relatorio_pdf.html" %}

{% block content %}
 <main>
    <div class="corpo">
        <h1 class='center'>COMPROVANTE DE SITUAÇÃO DO ALUNO</h1>
        <h2> DADOS INSTITUCIONAIS </h2>
        <table class="descritorfiltros">
            <tbody>
            <tr>
                <td class="negrito" width="230">Nome:</td>
                <td>{{ aluno.get_nome_social_composto|normalizar }}</td>
                <td class="negrito" width="190">Matrícula:</td>
                <td width="180">{{ aluno.matricula }}</td>
            </tr>
            <tr>
                <td class="negrito">Curso:</td>
                <td colspan="3">{{ aluno.curso_campus.descricao_historico }}</td>
            </tr>
            <tr>
                <td class="negrito">Matriz:</td>
                <td colspan="3">{{ aluno.matriz|format|normalizar }}</td>
            </tr>
            <tr>
                <td class="negrito">Forma de Ingresso:</td>
                <td>{{ aluno.forma_ingresso.descricao|format }}</td>
                <td class="negrito">Turma:</td>
                <td>{{ aluno.matriculaperiodo_set.all.0.turma|format }}</td>
            </tr>
            <tr>
                <td class="negrito">Modalidade:</td>
                <td>{{ aluno.curso_campus.modalidade.descricao }}</td>
                <td class="negrito">Nível de Ensino:</td>
                <td>{{ aluno.curso_campus.modalidade.nivel_ensino }}</td>
            </tr>
            <tr>
                <td class="negrito">Período de Ingresso:</td>
                <td>{{ aluno.ano_letivo|format }}.{{ aluno.periodo_letivo|format }}</td>
                <td class="negrito">Data da Matrícula:</td>
                <td>{{ aluno.data_matricula|date:'d/m/Y' }}</td>
            </tr>
            <tr>
                <td class="negrito">Situação de Matrícula:</td>
                <td>{{ aluno.situacao }}</td>
                <td class="negrito">I.R.A</td>
                <td>{{ aluno.get_ira|format }}</td>
            </tr>
            </tbody>
        </table>
        <h2>DADOS ESCOLARES</h2>
        <table class="descritorfiltros">
            <tbody>
            <tr>
                <td class="negrito" width="230">Instituição de Origem:</td>
                <td>{{ aluno.tipo_instituicao_origem|format|normalizar }}</td>
                <td class="negrito" width="190">Nível de Ensino:</td>
                <td width="180">{{ aluno.nivel_ensino_anterior|format }}</td>
            </tr>
            <tr>
                <td class="negrito">Ano de Conclusão:</td>
                <td colspan="3">{{ aluno.ano_conclusao_estudo_anterior|format }}</td>
            </tr>
            </tbody>
        </table>
        <h2 align='center'>HISTÓRICO DE PROCEDIMENTOS</h2>
        {% if procedimentos %}
            <table class='info' border='1'>
                <thead>
                <tr>
                    <th>Matricula Período</th>
                    <th>Situação</th>
                    <th>Motivo</th>
                    <th>Processo</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                {% for procedimento in procedimentos %}
                    <tr>
                        <td width='60'
                            align='center'>{{ procedimento.matricula_periodo.ano_letivo }}/{{ procedimento.matricula_periodo.periodo_letivo }}</td>
                        <td width='90' align='center'>{{ procedimento.tipo }}</td>
                        <td align='center'>{{ procedimento.motivo }}</td>
                        <td width='90' align='center'>{{ procedimento.processo|format }}</td>
                        <td width='60' align='center'>{{ procedimento.data|format }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="pasta text-center">Nenhum procedimento realizado até o momento.</p>
        {% endif %}
        <br/>
        <span class="pasta">{{ uo.municipio.nome|normalizar }} ({{ uo.municipio.uf }}), {{ hoje|format }}</span>
    </div>
 </main>
{% endblock %}
