{% extends "relatorio_pdf.html" %}
{% block style %}
    h1 {
    border: 0px;
    }
    h2 {
    text-align: left;
    border:1px solid #999;
    padding: 10px;
    background:#ccc;
    }
    th {
    padding: 3px;
    }
{% endblock %}
{% block cabecalho %}
{% endblock %}
{% block content %}
    <table border="0">
        <tr>
            <td rowspan="4" style="padding: 0px"><img src="/static/comum/img/logo_instituicao_icone.jpg" alt="Logotipo do IFRN"/></td>
            <td class="titulo" width="600px" style="padding: 0px">{{ instituicao }}</td>
        </tr>
        <tr>
            <td style="padding: 0px">{{ uo.nome|normalizar }} {{ uo.telefone }}</td>
        </tr>
        <tr>
            <td style="padding: 0px">{{ uo.endereco }}, CEP {{ uo.cep }}, {{ uo.municipio.nome|normalizar }}
                ({{ uo.municipio.uf }})
            </td>
        </tr>
        <tr>
            <td style="padding: 0px">CNPJ: {{ uo.cnpj }} - Código INEP: {{ uo.codigo_inep }}</td>
        </tr>
    </table>

    <div class="corpo">
        <h1 align="center" class="italico">Importante!</h1>

        <p class="italico" style="text-align:justify; font-size:12px;">
            Após a análise de sua solicitação, você receberá um email informando se a mesma foi atendida ou rejeitada.
            Caso ela seja atendida, você receberá via email as instruções para geração e impressão do seu certificado.
        </p>

        <h1 align="center">COMPROVANTE DE SOLICITAÇÃO DE CERTIFICADO ENEM</h1>

        <h2>DADOS DA SOLICITAÇÃO </h2>

        <table class="info">
            <tbody>
            <tr>
                <td class="negrito">Nº da Solicitação:</td>
                <td colspan="2">{{ obj.pk }}</td>

                <td class="negrito">Data da Solicitação:</td>
                <td colspan="2">{{ obj.data_solicitacao|format }}</td>
            </tr>
            <tr>
                <td class="negrito">Edição do ENEM:</td>
                <td colspan="2">{{ obj.configuracao_certificado_enem }}</td>

                <td class="negrito">Tipo do Certificado:</td>
                <td colspan="2">{{ obj.get_tipo_certificado_enem_label }}</td>
            </tr>
            <tr>
                <td class="negrito">Prazo para Atendimento:</td>
                <td colspan="2">30 dias</td>

                <td class="negrito">Data máxima para Atendimento:</td>
                <td colspan="2">{{ data_maxima_atendimento|date:'d/m/Y' }}</td>
            </tr>
            </tbody>
        </table>

        <br/>

        <h2>DADOS DO SOLICITANTE</h2>

        <table class="info">
            <tbody>
            <tr>
                <td class="negrito">Nome:</td>
                <td colspan="5">{{ obj.nome }}</td>
            </tr>
            <tr>
                <td class="negrito">Nome da Mãe:</td>
                <td colspan="5">{{ obj.get_registro_aluno_inep.nome_mae|normalizar }}</td>
            </tr>
            <tr>
                <td class="negrito">CPF:</td>
                <td colspan="2">{{ obj.cpf }}</td>

                <td class="negrito">RG:</td>
                <td colspan="2">{{ obj.get_registro_aluno_inep.rg }}</td>
            </tr>
            <tr>
                <td class="negrito">Data de Nascimento:</td>
                <td colspan="2">{{ obj.get_registro_aluno_inep.data_nascimento }}</td>

                <td class="negrito">Nº de Inscrição - ENEM:</td>
                <td colspan="2">{{ obj.get_registro_aluno_inep.numero_inscricao }}</td>
            </tr>
            <tr>
                <td class="negrito">Telefone:</td>
                <td colspan="2">{{ obj.telefone|format }}</td>

                <td class="negrito">Email:</td>
                <td colspan="2">{{ obj.email|format }}</td>
            </tr>
            </tbody>
        </table>

        <br/>

        <h3>NOTAS OBTIDAS NO ENEM</h3>

        <table class="borda">
            <thead>
            <th align="left">Disciplina</th>
            <th width="80">Nota</th>
            </thead>
            <tbody>
            <tr>
                <td class="negrito">Ciências Humanas e suas Tecnologias</td>
                <td align="center">{{ obj.get_registro_aluno_inep.nota_ch|mascara_dinheiro }}</td>
            </tr>
            <tr>
                <td class="negrito">Ciências da Natureza e suas Tecnologias</td>
                <td align="center">{{ obj.get_registro_aluno_inep.nota_cn|mascara_dinheiro }}</td>
            </tr>
            <tr>
                <td class="negrito">Linguagens, Códigos e suas Tecnologias</td>
                <td align="center">{{ obj.get_registro_aluno_inep.nota_lc|mascara_dinheiro }}</td>
            </tr>
            <tr>
                <td class="negrito">Matemática e suas Tecnologias</td>
                <td align="center">{{ obj.get_registro_aluno_inep.nota_mt|mascara_dinheiro }}</td>
            </tr>
            <tr>
                <td class="negrito">Redação</td>
                <td align="center">{{ obj.get_registro_aluno_inep.nota_redacao|mascara_dinheiro }}</td>
            </tr>
            </tbody>
        </table>

        <br/><br/>

        <table>
            <tr>
                <td></td>
                <td style="width: 300px; border:1px solid #ccc; font-size:18px; text-align: center; margin:0; padding: 10px 0; line-height:130%;">
                    Código da solicitação: <br/>
                    <strong>{{ obj.codigo_geracao_solicitacao }}</strong>
                </td>
                <td></td>
            </tr>
        </table>
        <br/>
        <div style="text-align:center; font-size:14px;">
            Para consultar o andamento de sua solicitação, acesse
            <strong><a href="{{ url_suap }}/edu/consultar_andamento_certificado_enem/">{{ url_suap }}/edu/consultar_andamento_certificado_enem/</a>.</strong>
            <br/>
        </div>
    </div>
{% endblock %}
