{% extends super_template %}

{% block content %}

    {% box 'Dados Gerais' %}
        <dl class="definition-list flex">
            <div class="list-item">
                <dt>Descrição</dt>
                <dd>{{ obj.descricao }}</dd>
            </div>
            <div class="list-item">
                <dt>Quantidade Máxima de Créditos</dt>
                <dd>{{ obj.quantidade_maxima_creditos_especiais }}</dd>
            </div>
        </dl>
    {% endbox %}

    <div class="tab-container ajax-rendered" data-title="Atividades Acadêmicas" data-counter="{{ obj.itemconfiguracaocreditosespeciais_set.all.count }}" data-tab="atividades">

        {% if perms.edu.add_configuracaocreditosespeciais %}
            <ul class="action-bar">
                <li><a class="btn success popup" href="/edu/adicionar_item_configuracao_ce/{{ obj.pk }}/">Adicionar Tipo de Atividade</a></li>
            </ul>
        {% endif %}

        {% if obj.itemconfiguracaocreditosespeciais_set.all.exists %}
            <div class="table-responsive">
            <table>
                <thead>
                <tr>
                    {% if perms.edu.change_configuracaocreditosespeciais %}
                        <th class="no-print">Ações</th>
                    {% endif %}
                    <th>Atividade Acadêmica</th>
                    <th class="text-center">Quantidade de Créditos</th>
                </tr>
                </thead>
                <tbody>
                {% for item in obj.itemconfiguracaocreditosespeciais_set.all %}
                    <tr>
                        {% if perms.edu.change_configuracaocreditosespeciais %}
                            <td class="no-print field-get_acoes">
                                {% icon "edit" "/edu/adicionar_item_configuracao_ce/{{ obj.pk }}/{{ item.pk }}/" "Editar" "popup" %}
                                {% icon "delete" "/comum/excluir/edu/itemconfiguracaocreditosespeciais/{{ item.pk }}/" "Remover" "no-confirm popup" %}
                            </td>
                        {% endif %}
                        <td>{{ item.atividade_academica }}</td>
                        <td class="text-center">{{ item.equivalencia_creditos|format }} créditos</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        {% else %}
            <p class="msg alert">Nenhuma atividade acadêmica cadastrada.</p>
        {% endif %}
    </div>

    <div class="tab-container ajax-rendered" data-title="Matrizes Vinculadas" data-counter="{{ obj.matriz_set.all.count }}" data-tab="matrizes">

        {% if obj.matriz_set.all %}
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            {% if perms.edu.change_configuracaocreditosespeciais %}
                                <th class="no-print">Ações</th>
                            {% endif %}
                            <th>Matriz</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for matriz in obj.matriz_set.all %}
                        <tr>
                            {% if perms.edu.change_configuracaocreditosespeciais %}
                                <td class="no-print">{% icon "delete" "?desvincular_matriz={{ matriz.pk }}" %}</td>
                            {% endif %}
                            <td><a href="/edu/matriz/{{ matriz.pk }}/">{{ matriz }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="msg alert">Nenhuma matriz vinculada.</p>
        {% endif %}
    </div>

{% endblock %}
