{% extends super_template %}


{% block content %}
    {% box 'Dados da Configuração para Certificação' %}
        <table class="info">
            <tbody>
            <tr>
                <td>Ano:</td>
                <td>{{ obj.ano }}</td>
                <td>Data de realização da primeira prova:</td>
                <td>{{ obj.data_primeira_prova }}</td>
            </tr>
            <tr>
                <td>Pontuação necessária - Área de Conhecimento:</td>
                <td>{{ obj.pontuacao_necessaria_areas_conhecimento }}</td>
                <td>Pontuação necessária - Redação:</td>
                <td>{{ obj.pontuacao_necessaria_redacao }}</td>
            </tr>
            <tr>
                <td>Responsáveis pela Certificação:</td>
                <td>
                    <ul>
                        {% for responsavel in obj.responsaveis.all %}
                            <li>
                                {{ responsavel }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    Manual
                </td>
                <td>
                    {{ obj.manual|format }}
                </td>
            </tr>
            </tbody>
        </table>
    {% endbox %}

    {% box 'Pedidos de Certificados Registrados no Sistema do INEP' %}
        <div class="search-and-filters">
            {% render_form form %}
        </div>

        {% autopaginate pedidos_certificado 20 %}
        {% paginate %}
        <table>
            <thead>
            <tr>
                <th class="no-print">Ações</th>
                <th>Nome do Candidado</th>
                <th>Campus</th>
                <th>RG</th>
                <th>CPF</th>
                <th>Nº de Inscrição</th>
                <th>Data de Nascimento</th>
                <th>Nome da Mãe</th>
                <th>Nota - CHT</th>
                <th>Nota - CNT</th>
                <th>Nota - CLT</th>
                <th>Nota - MT</th>
                <th>Nota - RE</th>
                <th>Cert. Emitido?</th>
            </tr>
            </thead>
            <tbody>
            {% for pedido in pedidos_certificado %}
                <tr>
                    <td class="no-print">{% icon "edit" "/edu/editar_registro_inep/{{ pedido.pk }}/" "Editar" "popup" %}</td>
                    <td>{{ pedido.nome|normalizar }}</td>
                    <td>{{ pedido.uo|format }}</td>
                    <td>{{ pedido.rg }}</td>
                    <td>{{ pedido.cpf }}</td>
                    <td>{{ pedido.numero_inscricao }}</td>
                    <td>{{ pedido.data_nascimento }}</td>
                    <td>{{ pedido.nome_mae|normalizar }}</td>
                    <td>{{ pedido.nota_ch|floatformat:1|mostrar_virgula }}</td>
                    <td>{{ pedido.nota_cn|floatformat:1|mostrar_virgula }}</td>
                    <td>{{ pedido.nota_lc|floatformat:1|mostrar_virgula }}</td>
                    <td>{{ pedido.nota_mt|floatformat:1|mostrar_virgula }}</td>
                    <td>{{ pedido.nota_redacao|floatformat:1|mostrar_virgula }}</td>
                    <td>{{ pedido.possui_registro_emissao_certificado_enem|format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% paginate %}
    {% endbox %}
{% endblock %}
