{% extends "admin/base.html" %}

{% block content %}
    {% box 'Diploma' %}
        <table>
            <thead>
                <tr>
                    <th>Responsável</th>
                    <th>Situação</th>
                </tr>
            </thead>
            {% for solicitacao_assinatura in solicitacoes_assinatura %}
                <tr>
                    <td>
                        <strong>{{ solicitacao_assinatura.vinculo.pessoa.pessoafisica.cpf }}</strong> - {{ solicitacao_assinatura.vinculo.pessoa.nome }}
                    </td>
                    <td>
                        {% if solicitacao_assinatura.data_assinatura %}
                            <span class="status status-success">ASSINADO</span>
                        {% else %}
                            <span class="status status-alert">PENDENTE</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endbox %}
{% endblock %}
