{% extends super_template %}

{% block extrahead %}
    <script src="/static/djtools/joint/lodash.js"></script>
    <script src="/static/djtools/joint/backbone.js"></script>
    <script src="/static/djtools/joint/joint.js"></script>
    <script src="/static/edu/js/Matriz.js"></script>
{% endblock %}

{% block action-bar %}
<ul class="action-bar">
    {% if perms.edu.add_cursocampus %}
        <li><a class="btn success popup" href="/edu/replicar_cursocampus/{{ obj.pk }}/">Replicar Curso</a></li>
    {% endif %}
    {% if obj.modalidade.id == obj.modalidade.LICENCIATURA and pode_definir_coordenador_estagio_docente %}
        <li><a class="btn success popup" href="/edu/definir_coordenador_estagio_docente/{{ obj.pk }}/">Adicionar
            Coordenador de Estágio Docente</a></li>
    {% endif %}
    {% if perms.edu.efetuar_matricula %}
        <li><a class="btn primary popup" href="/edu/editar_diretoria_curso/{{ obj.pk }}/">Editar Diretoria</a></li>
        <li><a class="btn popup" href="/edu/definir_coordenador_curso/{{ obj.pk }}/">Definir Coordenação</a></li>
    {% endif %}
    {% help_button %}
</ul>
{% endblock %}

{% block content %}

    {% box "Identificação" %}
        <dl class="definition-list flex">
            <div class="list-item">
                <dt>Diretoria</dt>
                <dd><a href="{{ obj.diretoria.get_absolute_url }}">{{ obj.diretoria|format }}</a></dd>
            </div>
            <div class="list-item">
                <dt>Código</dt>
                <dd>{{ obj.codigo|format }}</dd>
            </div>
            <div class="list-item flex-basis-100">
                <dt>Descrição</dt>
                <dd>{{ obj.descricao }}</dd>
            </div>
            <div class="list-item flex-basis-100">
                <dt>Descrição no Histórico</dt>
                <dd>{{ obj.descricao_historico }}</dd>
            </div>
        </dl>
    {% endbox %}

    <div class="tab-container ajax-rendered" data-title="Dados Gerais" data-tab="dados_gerais">
        {% box "Dados Gerais" %}
            <dl class="definition-list flex">
                <div class="list-item">
                    <dt>Ano Letivo</dt>
                    <dd>{{ obj.ano_letivo|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Período Letivo</dd>
                    <dd>{{ obj.periodo_letivo|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Data de Início</dt>
                    <dd>{{ obj.data_inicio|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Data de Fim</dt>
                    <dd>{{ obj.data_fim|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Está ativo</dt>
                    <dd>{{ obj.ativo|format }}</dd>
                </div>
            </dl>
        {% endbox %}

        {% box "Detalhamento" %}
            <dl class="definition-list flex">
                <div class="list-item">
                    <dt>Exige Enade</dt>
                    <dd>{{ obj.exige_enade|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Exige Colação de Grau</dt>
                    <dd>{{ obj.exige_colacao_grau|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Ciência sem Fronteiras</dt>
                    <dd>{{ obj.ciencia_sem_fronteira|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Certificado/Diploma Emitido pelo Campus</dt>
                    <dd>{{ obj.emite_diploma|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Certificado/Diploma Assinado via Certificado ICP-EDU</dt>
                    <dd>{{ obj.assinatura_eletronica|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Certificado/Diploma Assinado via Certificado ICP-Brasil</dt>
                    <dd>{{ obj.assinatura_digital|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Curso de Formação de Professores</dt>
                    <dd>{{ obj.formacao_de_professores|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Periodicidade</dt>
                    <dd>{{ obj.get_periodicidade_display|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Modalidade</dt>
                    <dd>{{ obj.modalidade|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Natureza de Participação</dt>
                    <dd>{{ obj.natureza_participacao|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>{% if obj.eixo %}Eixo{% elif obj.area %}Área{% else %}Área Capes{% endif %}</dt>
                    <dd>{% if obj.eixo %}{{ obj.eixo|format }}{% elif obj.area %}{{ obj.area|format }}{% else %}
                        {{ obj.area_capes|format }}{% endif %}</dd>
                </div>
                <div class="list-item">
                    <dt>Área de Concentração</dt>
                    <dd>{{ obj.area_concentracao|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Convênio</dt>
                    <dd>{{ obj.convenio|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Programa</dt>
                    <dd>{{ obj.programa|format }}</dd>
                </div>
                
                
            </dl>
        {% endbox %}
    </div>

    <div class="tab-container ajax-rendered" data-title="Coordenação" data-tab="coordenacao">
    {% if request.GET.tab == "coordenacao" or not request.GET.tab %}
        {% box "Coordenação" %}
            <dl class="definition-list flex">
                <div class="list-item flex-basis-50">
                    <dt>Coordenador</dt>
                    <dd>{{ obj.coordenador.servidor|format }}</dd>
                </div>
                <div class="list-item flex-basis-50">
                    <dt>Nº da Portaria</dt>
                    <dd>{{ obj.numero_portaria_coordenador|format }}</dd>
                </div>
                <div class="list-item flex-basis-50">
                    <dt>Vice-Coordenador</dt>
                    <dd>{{ obj.coordenador_2.servidor|format }}</dd>
                </div>
                <div class="list-item flex-basis-50">
                    <dt>Nº da Portaria</dt>
                    <dd>{{ obj.numero_portaria_coordenador_2|format }}</dd>
                </div>
            </dl>
        {% endbox %}

        {% box "Histórico de Mudança" %}
            {% if logs %}
                <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>Data da Mudança</th>
                            <th>Função</th>
                            <th>Atual</th>
                            <th>Anterior</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for historico in logs %}
                        <tr>
                            <td>{{ historico.0 }}</td>
                            <td>{{ historico.3 }}</td>
                            <td>{{ historico.2 }}</td>
                            <td>{{ historico.1 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            {% else %}
                <p class="msg alert">Não existe histórico de mudança de coordenador para este curso.</p>
            {% endif %}
        {% endbox %}

        {% if obj.modalidade.id == obj.modalidade.LICENCIATURA %}
            {% box "Coordenação de Estágio Docente" %}
                <dl class="definition-list">
                    {% for coordenador in obj.coordenadores_estagio_docente.all %}
                        <dt>Coordenador</dt>
                        <dd>{{ coordenador.vinculo.relacionamento|format }}</dd>
                    {% endfor %}
                </dl>
            {% endbox %}
        {% endif %}
    {% endif %}
    </div>

    <div class="tab-container ajax-rendered" data-title="Códigos do MEC" data-tab="mec">
        {% box "Dados da Criação" %}
            <dl class="definition-list flex">
                <div class="list-item">
                    <dt>Código CENSUP</dt>
                    <dd>{{ obj.codigo_censup|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Código EMEC</dt>
                    <dd>{{ obj.codigo_emec|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Código SISTEC</dt>
                    <dd>{{ obj.codigo_sistec|format }}</dd>
                </div>
                <div class="list-item">
                    <dt>Código EDUCACENSO</dt>
                    <dd>{{ obj.codigo_educacenso|format }}</dd>
                </div>
            </dl>
        {% endbox %}
    </div>

    <div class="tab-container ajax-rendered" data-title="Matrizes" data-tab="matrizes">
    {% box "Matrizes" %}

        {% if perms.edu.add_matrizcurso %}
            <ul class="action-bar">
                <li><a class="btn success popup" href="/edu/adicionar_matriz_curso/{{ obj.pk }}/">Vincular Matriz</a></li>
            </ul>
        {% endif %}

        <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th class="no-print">Ações</th>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Ativa</th>
                    <th>Autorizações</th>
                    <th>Reconhecimentos</th>
                    {% if perms.edu.efetuar_matricula or perms.edu.add_matriz or pode_visualizar_estatistica %}
                        <th class="no-print">Opções</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for matriz_curso in obj.matrizcurso_set.all %}
                <tr>
                    <td class="no-print">
                        {% icon "view" "/edu/matriz/{{ matriz_curso.matriz.pk }}/" %}
                        {% if perms.edu.change_cursocampus and matriz_curso.pode_ser_excluida %}
                            {% icon "delete" "/comum/excluir/edu/matrizcurso/{{ matriz_curso.pk }}/" "Remover" "no-confirm popup" %}
                        {% endif %}
                    </td>
                    <td>{{ matriz_curso.matriz.id }}</td>
                    <td>{{ matriz_curso.matriz.descricao }}</td>
                    <td>{{ matriz_curso.matriz.ativo|format }}</td>
                    <td>
                        {% if perms.edu.change_autorizacao %}
                            <table>
                                <tbody>
                                    {% if matriz_curso.resolucao_criacao %}
                                        <tr>
                                            <td>{% if matriz_curso.resolucao_data %}{{ matriz_curso.resolucao_data|format }} - {% endif %}{{ matriz_curso.resolucao_criacao|format }}</td>
                                            <td class="no-print"></td>
                                        </tr>
                                    {% endif %}
                                    {% for autorizacao in matriz_curso.autorizacao_set.all %}
                                        <tr>
                                            <td>{{ autorizacao }}</td>
                                            <td class="no-print">
                                                {% icon "edit" "/edu/autorizacao_matriz_curso/{{ matriz_curso.pk }}/{{ autorizacao.pk }}/" "Editar" "no-confirm popup" %}
                                                {% icon "delete" "/comum/excluir/edu/autorizacao/{{ autorizacao.pk }}/" "Remover" "no-confirm popup" %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </td>
                    <td>
                        {% if perms.edu.change_reconhecimento %}
                            <table>
                                <tbody>
                                    {% if matriz_curso.reconhecimento_texto %}
                                        <td>{% if matriz_curso.reconhecimento_data %}{{ matriz_curso.reconhecimento_data|format }} - {% endif %}{{ matriz_curso.reconhecimento_texto|format }}</td>
                                        <td class="no-print"></td>
                                    {% endif %}
                                    {% for reconhecimento in matriz_curso.reconhecimento_set.all %}
                                        <tr>
                                            <td>{{ reconhecimento }}</td>
                                            <td class="no-print">
                                                {% icon "edit" "/edu/reconhecimento_matriz_curso/{{ matriz_curso.pk }}/{{ reconhecimento.pk }}/" "Editar" "no-confirm popup" %}
                                                {% icon "delete" "/comum/excluir/edu/reconhecimento/{{ reconhecimento.pk }}/" "Remover" "no-confirm popup" %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </td>
                    {% if perms.edu.efetuar_matricula or perms.edu.add_matriz or pode_visualizar_estatistica or perms.edu.change_autorizacao or perms.edu.change_reconhecimento %}
                        <td class="no-print">
                            <ul class="action-bar">
                                {% if perms.edu.change_autorizacao %}
                                    <li><a class="btn success popup" href="/edu/autorizacao_matriz_curso/{{ matriz_curso.pk }}/">Adicionar Autorização</a></li>
                                {% endif %}
                                {% if perms.edu.change_reconhecimento %}
                                    <li><a class="btn success popup" href="/edu/reconhecimento_matriz_curso/{{ matriz_curso.pk }}/">Adicionar Reconhecimento</a></li>
                                {% endif %}
                                {% if is_avaliador_regulador %}
                                    <li><a href="/edu/editar_legislacao_matriz/{{ matriz_curso.pk }}/" class="btn primary popup">Editar Legislação</a></li>
                                {% endif %}
                                {% if perms.edu.add_matriz %}
                                    <li><a class="btn" href="/edu/integralizar_alunos/{{ matriz_curso.matriz.id }}/">Migrar
                                        Alunos do Q-Acadêmico</a></li>
                                {% endif %}
                                {% if pode_visualizar_estatistica %}
                                    <li><a class="btn" href="/edu/analise_curso/{{ matriz_curso.pk }}/">Análise
                                    Componente-Aluno</a></li>
                                {% endif %}
                            </ul>
                        </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7"><p class="msg alert">Nenhuma matriz adicionada.</p></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endbox %}
    </div>

{% endblock %}
