{% if tipo %}
    <div class='help'>
        <dl>
            <dt>
                Carga Horária Máxima por Período:
            </dt>
            <dd>
                {{ tipo.ch_max_periodo|format }}
            </dd>
            <dt>
                Carga Horária Máxima do Curso:
            </dt>
            <dd>
                {{ tipo.ch_max_curso|format }}
            </dd>
            <dt>
                Carga Horária Cumprida:
            </dt>
            <dd>
                {{ tipo.ch_total_cumprida|format }}
            </dd>
            <dt>
                Carga Horária Contabilizada:
            </dt>
            <dd>
                {{ tipo.ch_considerada|format }}
            </dd>
        </dl>
    </div>
    <script>
        {% if tipo.ch_por_evento %}
            $('#id_carga_horaria').val('{{ tipo.ch_por_evento }}');
            $('#id_carga_horaria').attr('readonly', true);
            
        {% else %}
        	$('#id_carga_horaria').attr('readonly', false);
        {% endif %}
    </script>
{% else %}
    <p class="help">
        Atividade escolhida não está prevista nas AACCs do curso.
    </p>
{% endif %}