{% extends "relatorio_pdf.html" %}

{% block content %}
    
    <div class="corpo">
        <div>
            <h1 class="title">
                DECLARAÇÃO
            </h1>
        </div>
        <div style="text-align: justify; font-size:16px; line-height:100%; margin: 0px; padding: 0px;">
            <p style='text-indent: 80px; line-height:150%;'>
                Declaramos que {{ artigo_professor }} professor{% if artigo_professor == 'a' %}a{% endif %}
                <b>{{ pessoa_fisica.nome|normalizar }} ({{ pessoa_fisica.cpf|format }})</b> participou
                como <b>{{ participacao }}</b> à Instituição da Comissão Examinadora de Defesa
                de {{ obj.get_tipo_display|normalizar }}
                d{{ artigo_aluno }} alun{{ artigo_aluno }} <b>{{ obj.matricula_periodo.aluno.get_nome_social_composto }}
                ({{ obj.matricula_periodo.aluno.matricula }})</b>, intitulado:
            </p>
            <p style="text-align: center; line-height:150%;">
                <b>{{ obj.titulo }}</b>
            </p>
            <p style="line-height:150%;">no curso
                <b>{{ obj.matricula_periodo.aluno.curso_campus.descricao_historico }}</b> da
                <b>{{ obj.matricula_periodo.aluno.curso_campus.diretoria.setor.nome }}</b> do
                <b>{{ obj.matricula_periodo.aluno.curso_campus.diretoria.setor.uo.nome|normalizar }}</b>
                do {{ instituicao|normalizar }},
                em sessão pública realizada no dia <b>{{ obj.data_defesa|date:'d \d\e F \d\e Y' }} às
                    {{ obj.data_defesa|time:"H:i" }}</b>.</p>
            <h3>Membros da Banca</h3>
            <ul>
                {% for professor in lista_professores %}
                    <li> Professor{% if professor.0 == 'F' %}a{% endif %} <b>{{ professor.2.nome|normalizar }}</b>
                        ({{ professor.1 }})
                    </li>
                {% endfor %}
            </ul>
            <br/><br/><br/>
            <p style="text-align: center">Natal(RN), {{ hoje }}</p>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}