{% extends "relatorio_pdf.html" %}

{% block content %}
    <main>
        <h1 class="title">DECLARAÇÃO DE VÍNCULO</h1>
        <p class="paragraph">
        Declaramos para os fins que se fizerem necessários, que
        <strong>{{ aluno.get_nome_social_composto|normalizar }}</strong>,
        sob a matrícula <strong>{{ aluno.matricula }}</strong>, no
        {% if aluno.curso_campus.modalidade.descricao == 'Mestrado' %}
            programa de Mestrado -
        {% elif aluno.curso_campus.is_fic %}
            curso
        {% else %}
            curso
        {% endif %}
        <strong>{{ aluno.curso_campus.descricao_historico.strip }}</strong>{% if aluno.curso_campus.natureza_participacao %} - {{ aluno.curso_campus.natureza_participacao }}{% endif %}

        {% if aluno.curso_campus.is_fic %}
            {% if aluno.turmaminicurso_set.all.0.minicurso.ch_total %}
            , com carga horária de {{ aluno.turmaminicurso_set.all.0.minicurso.ch_total }} horas,
            {% endif %}
            realizado entre
            {% if aluno.turmaminicurso_set.exists %}
                <strong>{{ aluno.turmaminicurso_set.all.0.data_inicio|format }}</strong>
                e <strong>{{ aluno.turmaminicurso_set.all.0.data_fim|format }}</strong>
            {% else %}
                <strong>{{ matricula_periodo.turma.calendario_academico.data_inicio|format }}
                e {{ matricula_periodo.turma.calendario_academico.data_fim|format }}</strong>
            {% endif %}
        {% endif %}
        encontra-se com:
        </p>

        <div class="featured-info">
            <p>Situação atual de matrícula:</p>
            <p><strong>{{ aluno.situacao }}</strong></p>
        </div>

        <table>
            <tr>
                <td width="50px">&nbsp;</td>
                <td>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="right">
                        {{ uo.municipio.nome|normalizar }}/{{ uo.municipio.uf }}, {{ hoje|date:'d' }} de
                        {{ hoje|date:'F'|lower }} de {{ hoje.year }}.
                    </div>
                    <br>
                    <br>
                    <br>
                    <p>
                        <strong>Responsável pela
                            informação:</strong> {{ aluno.curso_campus.diretoria.setor.nome|format|normalizar }} do
                        {{ aluno.curso_campus.diretoria.setor.uo.nome|format|normalizar }}.
                    </p>
                </td>
            </tr>
        </table>
    </main>

{% endblock %}
