{% extends "relatorio_pdf.html" %}

{% block content %}

    <h1 class="title">DECLARAÇÃO DE DOCÊNCIA</h1>

    <p class="paragraph">Declaramos para os fins que se fizerem necessários, e por nos haver sido solicitado que, <strong>{{ obj.vinculo.pessoa.nome|upper }}</strong>, matrícula {{ obj.vinculo.relacionamento.matricula }}, CPF {{ obj.vinculo.pessoa.pessoafisica.cpf }}, {{ obj.vinculo.relacionamento.cargo_emprego.nome_amigavel }} {{ texto_periodo_vinculo }}, conforme especificadas abaixo:</p>

    <table class="borda">
        <thead>
            <tr>
                <th>#</th>
                <th>Disciplina</th>
                <th>Período</th>
                <th>CH</th>
                <th>Créditos*</th>
                <th>Diário</th>
                <th>% Atribuído</th>
                {% if not oculta_ch_ministrada %}
                    <th>% Ministrado</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for info in lists_diarios %}
            {% ifchanged info.0 info.1 info.2 %}
                <tr>
                    <td colspan="{% if oculta_ch_ministrada %}7{% else %}8{% endif %}" class="category"><strong>{{ info.0 }}</strong> ({% if info.1 %}{{ info.1 }} - {% endif %}{{ info.2 }})</td>
                </tr>
            {% endifchanged %}
            <tr>
                <td class="center">{{ forloop.counter }}</td>
                <td>{{ info.8 }}</td>
                <td class="center">{{ info.3 }}/{{ info.4 }}</td>
                <td class="center">{{ info.5 }}</td>
                <td class="center">{{ info.9 }}</td>
                <td class="center">{{ info.6 }} <small>{% if info.11 %}({{ info.11 }}){% endif %}</small></td>
                <td class="center">{{ info.12 }}%</td>
                {% if not oculta_ch_ministrada %}
                    <td class="center">{{ info.7 }}%</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><span class="negrito">*</span> Créditos a receber ao completar 100% no percentual de carga horária ministrada.</p>
    
    <div class="clear"></div>
    <p class="right">{{ uo.municipio.nome|normalizar }}/{{ uo.municipio.uf }}, {{ hoje|date:'d' }} de {{ hoje|date:'F'|lower }} de {{ hoje.year }}</p>

{% endblock %}
