{% extends super_template %}

{% block content %}
    {% box "Pendências" %}
        {% if request.GET.parcial %}
            <p class="msg info">
                Nenhuma informação será excluída no Suap. Apenas a situação do aluno do Q-Acadêmico será alterada de
                "Transf. Suap" para "Matriculado".
            </p>
        {% else %}
            {% if not enade and not projeto_final and not matriculas_diarios and not pedidos_matricula and not procedimentos_matricula %}
                <p class="msg info">O aluno não possui nenhuma pendência.</p>
            {% else %}

                <p class="msg alert">
                    As seguintes pendências serão excluídas neste procedimento.
                <ul>
                    {% if enade %}
                        <li>{{ enade }} Registro(s) de Convocação ao Enade</li>
                    {% endif %}
                    {% if projeto_final %}
                        <li>{{ projeto_final }} Projeto(s) Final(is)</li>
                    {% endif %}
                    {% if matriculas_diarios %}
                        <li>{{ matriculas_diarios }} Matrícula(s) em Diário(s)</li>
                    {% endif %}
                    {% if pedidos_matricula %}
                        <li>{{ pedidos_matricula }} Pedido(s) de Matrícula</li>
                    {% endif %}
                    {% if procedimentos_matricula %}
                        <li>{{ procedimentos_matricula }} Procedimento(s) de Matrícula</li>
                    {% endif %}
                </ul>
                </p>
            {% endif %}
        {% endif %}
        <a href="/edu/desfazer_migracao/{{ obj.pk }}/?confirmar=1{% if request.GET.parcial %}&parcial=1{% endif %}"
           class="btn danger">Desfazer migração</a>

    {% endbox %}

{% endblock %}
