{% box 'Trabalhos' %}
    {% if pode_manipular_etapa %}
        <ul class="action-bar">
            <li><a class="btn success popup" href="/edu/solicitar_trabalho/{{ obj.pk }}/{{ etapa }}/">Solicitar Trabalho</a></li>
        </ul>
    {% endif %}

    {% if trabalhos %}
        {% for trabalho in trabalhos %}
            <div class="general-box">
                <div class="primary-info">
                    <h4>{{ trabalho.titulo }}</h4>
                    {% if pode_manipular_etapa %}
                        <ul class="action-bar">
                            <li><a href="/edu/visualizar_entregas_trabalho/{{ trabalho.pk }}/" class="btn default">{% icone "search" %} Visualizar</a></li>
                            <li><a href="/edu/solicitar_trabalho/{{ obj.pk }}/{{ etapa }}/{{ trabalho.pk }}/" class="btn primary popup">{% icone "edit" %} Editar</a></li>
                            {% if perms.edu.delete_trabalho %}
                                <li><a href="/comum/excluir/edu/trabalho/{{ trabalho.pk }}/" class="btn danger no-confirm popup">{% icone "trash" %} Remover</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    <div class="extra-info">
                        <p>{{ trabalho.descricao|linebreaksbr }}</p>
                    </div>
                </div>
                <dl class="secondary-info">
                    <div class="list-item">
                        <dt>{% icone "circle" %} Etapa:</dt>
                        <dd>{{ trabalho.etapa }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>{% icone "calendar-alt" %} Data da Solicitação:</dt>
                        <dd>{{ trabalho.data_solicitacao|format }}</dd>
                    </div>
                    {% if trabalho.data_limite_entrega %}
                        <div class="list-item">
                            <dt>{% icone "calendar-alt" %} Data Limite para Entrega:</dt>
                            <dd class="false">{{ trabalho.data_limite_entrega|format }}</dd>
                        </div>
                    {% endif %}
                    <div class="list-item">
                        <dt>{% icone "circle" %} Qtd. Submissões:</dt>
                        <dd>{{ trabalho.entregatrabalho_set.count }}</dd>
                    </div>
                    <div class="list-item">
                        <dt>{% icone "file-alt" %} Especificação:</dt>
                        <dd>
                            {% if trabalho.arquivo %}
                                <a class="btn default" href="{{ trabalho.arquivo.url }}">{% icone "search" %} Visualizar Arquivo</a>
                            {% else %}
                                -
                            {% endif %}
                        </dd>
                    </div>
                    {% if not pode_manipular_etapa %}
                    <div class="list-item">
                        <dt>{% icone "calendar-alt" %} Entrega:</dt>
                        <dd>
                                {% if trabalho.pode_entregar_trabalho and not trabalho.data_entrega %}
                                    <a class="btn default popup" href="/edu/entregar_trabalho/{{ trabalho.pk }}/">{% icone "search" %} Entregar Especificação</a>
                                {% else %}
                                    {{ trabalho.data_entrega|format }}
                                {% endif %}
                        </dd>
                    </div>
                    {% endif %}
                </dl>
            </div>
        {% endfor %}
    {% else %}
        <p class="msg alert">Nenhum trabalho solicitado até o momento.</p>
    {% endif %}

{% endbox %}
