{% extends "relatorio_pdf.html" %}
{% block page_settings %}
    size: a4 landscape;
    margin: 20px 20px 20px 20px;
    background-image: url(/static/comum/img/logo_if_landscape.png);
{% endblock %}

{% block content_frame %}
{% endblock %}

{% block style %}

    .pasta {
    font-size: 10pt;
    line-height: 1em;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    }

    .declaracao {
    font-size: 12pt;
    line-height: 2em;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    }
{% endblock %}


{% block content %}

    <div class="corpo">
        <h1 align='center'>DECLARAÇÃO DE ORIENTAÇÃO DE {{ tipo_estagio|upper }}</h1>
        <div style="text-align: justify; font-size:16px; line-height:100%; margin: 0px; padding: 0px;">
            <p style='text-indent: 80px; line-height:150%;'>Declaramos para os fins que se fizerem necessários que
                <strong>{{ nome_professor|upper }}</strong>, matrícula SIAPE
                {{ matricula_siape }}, orientou/orienta o(s) aluno(s) listado(s) abaixo em suas atividades de
                {{ tipo_estagio }}{% if not is_todos_os_anos %}, no ano de {{ ano }}{% endif %}: </p>
        </div>

        {% if estagios_docente.exists or estagios.exists or aprendizagens.exists or atividades_profissionais_efetivas.exists %}
            <table>
                <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Curso</th>
                    <th>Concedente</th>
                    <th width="90px">Período</th>
                    <th width="90px">Situação</th>
                </tr>
                </thead>
                {% if estagios_docente.exists %}
                    {% for estagio_docente in estagios_docente %}
                        <tr>
                            <td>{{ estagio_docente.matricula_diario.matricula_periodo.aluno }}</td>
                            <td>{{ estagio_docente.matricula_diario.matricula_periodo.aluno.curso_campus }}</td>
                            <td>{{ estagio_docente.escola }}</td>
                            <td>{{ estagio_docente.data_inicio }} a {{ estagio_docente.data_fim }} </td>
                            <td>{{ estagio_docente.get_situacao_display }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if estagios.exists %}
                    {% for estagio in estagios %}
                        <tr>
                            <td>{{ estagio.aluno }}</td>
                            <td>{{ estagio.aluno.curso_campus }}</td>
                            <td>{{ estagio.empresa }}</td>
                            <td>{{ estagio.data_inicio }} a {% if estagio.data_fim %} {{ estagio.data_fim }} {% else %}
                                {{ estagio.data_prevista_fim }} {% endif %} </td>
                            <td>{% if estagio.data_fim %} Concluído {% else %} Em Andamento {% endif %}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if aprendizagens.exists %}
                    {% for aprendizagem in aprendizagens %}
                        <tr>
                            <td>{{ aprendizagem.aprendiz }}</td>
                            <td>{{ aprendizagem.aprendiz.curso_campus }}</td>
                            <td>{{ aprendizagem.empresa }}</td>
                            <td>{{ aprendizagem.get_data_inicio }} a {% if aprendizagem.data_fim %}
                                {{ aprendizagem.data_encerramento }} {% else %}
                                {{ aprendizagem.get_data_prevista_encerramento }} {% endif %}</td>
                            <td>{% if aprendizagem.data_encerramento %} Concluída {% else %} Em
                                Andamento {% endif %}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if atividades_profissionais_efetivas.exists %}
                    {% for atividade_profissional_efetiva in atividades_profissionais_efetivas %}
                        <tr>
                            <td>{{ atividade_profissional_efetiva.aluno }}</td>
                            <td>{{ atividade_profissional_efetiva.aluno.curso_campus }}</td>
                            <td>{{ atividade_profissional_efetiva.instituicao }}</td>
                            <td>{{ atividade_profissional_efetiva.inicio }} a
                                {% if atividade_profissional_efetiva.encerramento %}
                                    {{ atividade_profissional_efetiva.encerramento }} {% else %}
                                    {{ atividade_profissional_efetiva.data_prevista_encerramento }} {% endif %}</td>
                            <td>{{ atividade_profissional_efetiva.get_situacao_display }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        {% else %}
            <span class="declaracao" style="center"><p>Nenhuma orientação de {{ tipo_estagio }}
                    {% if not is_todos_os_anos %}no ano de {{ ano }}{% endif %}.</p></span>
        {% endif %}
        <br/> <br/> <br/> <br/> <br/>
        <div align='right' style='font-size:14px'>
            {{ uo.municipio.nome|normalizar }} ({{ uo.municipio.uf }}), {{ hoje|date:'d' }} de {{ hoje|date:'F'|lower }}
            de {{ hoje.year }}.
        </div>

    </div>
{% endblock %}
