{% extends "relatorio_pdf.html" %}
{% block page_settings %}
    size: a4 landscape;
    margin: 20px 20px 60px 20px;
    background-image: url(/static/comum/img/logo_if_landscape.png);
{% endblock %}

{% block content_frame %}
{% endblock %}

{% block style %}

    .pasta {
    font-size: 10pt;
    line-height: 1em;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    }

    .declaracao {
    font-size: 12pt;
    line-height: 2em;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    }
{% endblock %}


{% block content %}

    <div class="corpo">
        <h1 align='center'>DECLARAÇÃO DE ORIENTAÇÃO EM PROJETOS FINAIS/RELATÓRIOS</h1>
        <div style="text-align: justify; font-size:16px; line-height:100%; margin: 0px; padding: 0px;">
            <p style='text-indent: 80px; line-height:150%;'>Declaramos para os fins que se fizerem necessários que
                <strong>{{ nome_professor|upper }}</strong>, matrícula SIAPE
                {{ matricula_siape }}, orientou/orienta o(s) aluno(s) listado(s) abaixo em suas atividades de
                projetos finais/relatórios{% if ano %}, no ano de {{ ano }}{% endif %}: </p>
        </div>

        {% if projetos_finais.exists %}
            <table>
                <thead>
                <tr>
                    <th width="90">Período</th>
                    <th width="150">Tipo</th>
                    <th width="20%">Aluno</th>
                    <th width="30%">Curso</th>
                    <th width="20%">Título</th>
                    <th width="10%">Situação</th>
                </tr>
                </thead>

                {% for projeto_final in projetos_finais %}
                    <tr>
                        <td align="center"><b>{{ projeto_final.matricula_periodo.ano_letivo }}.{{ projeto_final.matricula_periodo.periodo_letivo }}</b></td>
                        <td align="center">{{ projeto_final.tipo }}</td>
                        <td>{{ projeto_final.matricula_periodo.aluno }}</td>
                        <td>{{ projeto_final.matricula_periodo.aluno.curso_campus.descricao_historico }}</td>
                        <td>{{ projeto_final.titulo }}</td>
                        <td align="center">{{ projeto_final.get_situacao_display|format }}</td>
                    </tr>
                {% endfor %}

            </table>
        {% else %}
            <span class="declaracao" style="center"><p>Nenhuma orientação
                    {% if not ano %}no ano de {{ ano }}{% endif %}.</p></span>
        {% endif %}
        <br/> <br/> <br/> <br/> <br/>
        <div align='right' style='font-size:14px'>
            {{ uo.municipio.nome|normalizar }} ({{ uo.municipio.uf }}), {{ hoje|date:'d' }} de {{ hoje|date:'F'|lower }}
            de {{ hoje.year }}.
        </div>

    </div>
{% endblock %}
