{% extends super_template %}

{% block extrahead %}
<script type="text/javascript">

	function exibe_lista(){
	    document.getElementById("table_alunos").style.display = 'block';
	}
	
	function oculta_lista(){
		document.getElementById("table_alunos").style.display = 'none';
	}
</script>
{% endblock %}

{% block content %}
	{% if pode_entregar_sem_aula %}
		<p class="msg alert">
			<strong>Atenção:</strong> A etapa não possui aulas cadastradas.
		</p>
	{% endif %}
	{% if tem_nota_vazia %}
		<p class="msg alert">
			<strong>Atenção:</strong> Há alunos com avaliações sem nota lançada nesta etapa. <a href="#" onclick="exibe_lista();">Visualize a lista</a>.
		</p>
	{% endif %}
	
	<div id="table_alunos" style="display:none">
		<a onclick="oculta_lista();" class="btn">Ocultar a lista</a>
		<br /> <br /> 
		<table>
			<tr><th>Alunos sem Nota</th></tr>
			{% for md in qs %}
			<tr>
				<td>{{ md.matricula_periodo.aluno }}</td>
			</tr>
			{% endfor %}
		 </table>
		 <br />
	</div>
		
	{% if not tem_nota_vazia and not pode_entregar_sem_aula %}
		<h4>Tem certeza que deseja entregar a Etapa {{ etapa }}?</h4>
	{% endif %}
	
	{% render_form form %}

	
{% endblock %}



