{% extends "relatorio_pdf.html" %}

{% block style %}
    td, th {
    font-size: 8pt;
    text-align: center;
    padding: 3px;
    line-height: 1em;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    }
    .assinatura_professor {
    text-align: center;
    border-bottom: 1px solid black;
    }
{% endblock %}

{% block content %}
    <h1> Horário de Atendimento de Polos</h1>
    {% for polo in polos %}
        {% if polo.get_horarios_por_turno %}
            <h2>Polo {{ polo.descricao }}</h2>
            {% for turno in polo.get_horarios_por_turno %}
                {% if not turno.vazio %}
                    <table border='1'>
                        <thead>
                        <tr>
                            <th>{{ turno }}</th>
                            {% for dia_semana in turno.dias_semana %}
                                <th class="text-center">{{ dia_semana.1 }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for horario_aula in turno.horarios %}
                            {% if not horario_aula.vazio %}
                                <tr>
                                    <td style='border-top:0px; padding: 3px'><strong>{{ horario_aula }}</strong></td>
                                    {% for dia_semana in horario_aula.dias_semana %}
                                        <td align="left" style='border-top:0px; padding: 3px'>
                                            {% for tutor in dia_semana.tutores %}
                                                <p>{{ tutor }}</p>
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
