
        {% for turno in turnos %}
            {% if not turno.vazio %}
                <table>
                    <thead>
                    <tr>
                        <th width="10%">{{ turno }}</th>
                        {% for dia_semana in turno.dias_semana %}
                            <th width="10%">{{ dia_semana.1 }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for horario_aula in turno.horarios_aula %}
                        {% if not horario_aula.vazio %}
                            <tr>
                                <td><strong>{{ horario_aula }}</strong></td>
                                {% for dia_semana in horario_aula.dias_semana %}
                                    <td class="text-center {% if dia_semana.horarios_aula_diario|length >= 2 %}warning{% endif %}">
                                        {% if dia_semana.marcado %}
                                                {% for horario_aula_diario in dia_semana.horarios_aula_diario %}
                                                    <p>
                                                        {{ horario_aula_diario.diario.componente_curricular.componente.sigla }}
                                                    </p>
                                                {% endfor %}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
