{% extends "relatorio_pdf.html" %}

{% block style %}
    h1 {
    text-align: center;
    border: 1px solid black;
    padding-top: 2px;
    line-height: 1em;
    }
    th {
    padding: 3px;
    }
{% endblock %}

{% block content %}
    <h1>Horários da Turma {{ obj.codigo }}</h1>
    <table class="info">
        <tr>
            <td class="negrito">Curso</td>
            <td colspan="5">{{ obj.curso_campus.codigo }} - {{ obj.curso_campus.descricao_historico }}</td>
        </tr>
        <tr>
            <td class="negrito" width="15%">Diretoria</td>
            <td>{{ obj.curso_campus.diretoria }}</td>
            <td class="negrito" width="28%">Período na Matriz</td>
            <td>{{ obj.periodo_matriz }}º Período</td>
            <td class="negrito" width="25%">Período Letivo</td>
            <td>{{ obj.ano_letivo }}/{{ obj.periodo_letivo }}</td>
        </tr>
    </table>
    {% if not turnos.vazio %}
        {% for turno in turnos %}
            {% if not turno.vazio %}

                <h2>{{ turno.descricao }}</h2>
                <table border="1" repeat="1">
                    <thead>
                    <tr>
                        <th> -</th>
                        {% for dia_semana in turno.dias_semana %}
                            <th>{{ dia_semana.1 }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for horario_aula in turno.horariosaulas %}
                        <tr>
                            <td><strong>{{ horario_aula }}</strong></td>
                            {% for dia_semana in turno.dias_semana %}
                                <td>
                                    <div align="center" style="font-style: bold">
                                        {% for horarioauladiario in dia_semana.2 %}
                                            {% if horario_aula == horarioauladiario.horario_aula %}


                                                {{ horarioauladiario.diario.componente_curricular.componente.sigla }}



                                                <div style="font-size: 10px;">
                                                    {% for professordiario in horarioauladiario.diario.professordiario_set.all %}
                                                        {{ professordiario.professor.vinculo.pessoa.nome_usual|format|normalizar }}
                                                        <br>
                                                    {% endfor %}
                                                </div>


                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>&nbsp;</p>
            {% endif %}
        {% endfor %}
        <h1>Legenda</h1>
        <ul>
            {% for diario in diarios_por_sigla %}
                <li>{{ diario.componente_curricular.componente.sigla }}
                    - {{ diario.componente_curricular.componente.descricao_historico }} {{ diario.get_descricao_dinamica }}
                    ({{ diario.get_locais_aula|default:"Local Não-definido"|format }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>Horários da Turma {{ obj.codigo }}</h1>
        <p class="msg alert">Nenhum horário de aula definido para esta turma.</p>
    {% endif %}

{% endblock %}