{% extends "relatorio_pdf.html" %}

{% block style %}
    .folha {
    page-break-after: always;
    }
{% endblock %}

{% block content %}
    {% for quantitativo_diario in quantitativo_diarios_alunos %}
        {% if forloop.counter > 1 %}
            {% block cabecalho %}
                <table border="0">
                    <tr>
                        <td rowspan="4" width="80"><img height="60" src="/static/comum/img/logo_instituicao_icone.jpg"
                                                        alt="Logo do IFRN"></td>
                        <td class="titulo" class="linhasdocabecalho">{{ instituicao }}</td>
                    </tr>
                    <tr>
                        <td align="left" class="linhasdocabecalho">{{ uo.nome|normalizar }} - {{ uo.telefone }}</td>
                    </tr>
                    <tr>
                        <td align="left" class="linhasdocabecalho">{{ uo.endereco }},
                            CEP {{ uo.cep }}, {{ uo.municipio.nome|normalizar }} ({{ uo.municipio.uf }})
                        </td>
                    </tr>
                    <tr>
                        <td align="left" class="linhasdocabecalho">CNPJ: {{ uo.cnpj }} - Código
                            INEP: {{ uo.codigo_inep }}</td>
                    </tr>
                </table>
            {% endblock %}
        {% endif %}

        <div class="folha">
            <h1>Pedidos de Matrícula - Diário</h1>
            <table>
                <tbody>
                <tr>
                    <td class="negrito" colspan="2" ]>Configuração:</td>
                    <td colspan="7">{{ configuracao.descricao }}</td>
                    <td class="negrito" colspan="2">Período Letivo:</td>
                    <td colspan="0">{{ configuracao.ano_letivo.ano }}/{{ configuracao.periodo_letivo }}</td>
                </tr>
                <tr>
                    <td class="negrito">Diário:</td>
                    <td colspan="8">{{ quantitativo_diario.3 }}</td>
                    <td class="negrito">Curso:</td>
                    <td colspan="2">{{ quantitativo_diario.1 }}</td>
                </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                <tr>
                    <td width="90px" class="negrito">Vagas:</td>
                    <td>{{ quantitativo_diario.4 }}</td>
                    <td width="190px" class="negrito">Matriculados:</td>
                    <td>{{ quantitativo_diario.5 }}</td>
                    <td width="150px" class="negrito">Pedidos:</td>
                    <td>{{ quantitativo_diario.6 }}</td>
                    <td width="130px" class="negrito">Aceitos:</td>
                    <td>{{ quantitativo_diario.7 }}</td>
                    <td width="140px" class="negrito">Negados:</td>
                    <td>{{ quantitativo_diario.8 }}</td>
                    <td width="140px" class="negrito">Restantes:</td>
                    <td>{{ quantitativo_diario.9|safe }}</td>
                </tr>
                </tbody>
            </table>
            <br/>
            {% if quantitativo_diario.12 %}
                <table border="1">
                    <thead>
                    <tr>
                        <th style="width: 40px">#</th>
                        <th style="width: 270px">Matrícula</th>
                        <th>Nome</th>
                        <th style="width: 110px">I.R.A.</th>
                        <th style="width: 120px">Aceito</th>
                        <th style="width: 210px">Motivo</th>
                        <th style="width: 280px">Turma</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pedido_matricula_diario in quantitativo_diario.12 %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td>{{ pedido_matricula_diario.pedido_matricula.matricula_periodo.aluno.matricula }}</td>
                            <td>{{ pedido_matricula_diario.pedido_matricula.matricula_periodo.aluno.get_nome }}</td>
                            <td class="text-center">{{ pedido_matricula_diario.pedido_matricula.matricula_periodo.aluno.get_ira|format }}</td>
                            <td class="text-center">{{ pedido_matricula_diario.deferido|format }}</td>
                            <td class="text-center">{{ pedido_matricula_diario.get_motivo_display }}</td>
                            <td class="text-center">{{ pedido_matricula_diario.diario.turma }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="negrito">Nenhum pedido de matrícula solicitado para este diário.</p>
            {% endif %}
            <br/><br/><br/>
        </div>
    {% endfor %}
{% endblock %}
