{% extends super_template %}

{% block content %}

    <ul class="action-bar">
        {% help_button %}
    </ul>

    {% box 'Informações Gerais' %}
        <table class="info">
            <tr>
                <td>Aluno</td>
                <td><a href="{{ matricula_periodo.aluno.get_absolute_url }}">{{ matricula_periodo.aluno|format }}</a>
                </td>
                <td>Ano/Período</td>
                <td>{{ matricula_periodo.ano_letivo.ano }}/{{ matricula_periodo.periodo_letivo }}</td>
            </tr>
            <tr>
                <td>Situação no Curso</td>
                <td>{{ matricula_periodo.aluno.situacao }}</td>
                <td>Situação no Período</td>
                <td>{{ matricula_periodo.situacao }}</td>
            </tr>
            <tr>
                <td>Turma</td>
                <td>{{ matricula_periodo.turma|format }}</td>
                <td>Período de Referência</td>
                <td>{{ matricula_periodo.aluno.periodo_atual|format }}º</td>
            </tr>
        </table>
    {% endbox %}

    {% box 'Diários' %}

        <div>
            {% render_form form %}
        </div>

        {% if form.is_valid %}


            {% autopaginate diarios 15 %}
            {% if diarios.exists or diarios_matriculados.exists %}
                <table class="marginTop40">
                    <thead>
                    <tr>
                        <th>Diário</th>
                        <th>Turma</th>
                        <th>Disciplina</th>
                        <th>Professor</th>
                        <th>Matriz</th>
                        <th>Período</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for diario in diarios_matriculados %}
                        <tr>
                            <td><a href="/edu/diario/{{ diario.pk }}/">{{ diario.pk }}</a></td>
                            <td><a href="/edu/turma/{{ diario.turma.pk }}/">{{ diario.turma }}</a></td>
                            <td>
                                <a href="/edu/componente/{{ diario.componente_curricular.componente.pk }}/">{{ diario.componente_curricular.componente }}</a>
                            </td>
                            <td>{{ diario.get_professores_display|format }}</td>
                            <td>
                                <a href="/edu/matriz/{{ diario.componente_curricular.matriz.pk }}/">{{ diario.componente_curricular.matriz }}</a>
                            </td>
                            <td>{{ diario.componente_curricular.periodo_letivo|format }}</td>
                            <td>
                                <a class="btn danger confirm"
                                   href="?csrfmiddlewaretoken={{ request.GET.csrfmiddlewaretoken }}&diretoria={{ request.GET.diretoria }}&remover_diario_id={{ diario.pk }}"
                                   data-confirm="Você tem certeza que deseja remover o aluno do diário? Isso implicará na exclusão dos registros de notas e faltas desse aluno nesse diário.">Remover</a>
                            </td>
                        </tr>
                    {% endfor %}

                    {% for diario in diarios %}
                        <tr>
                            <td><a href="/edu/diario/{{ diario.pk }}/">{{ diario.pk }}</a></td>
                            <td><a href="/edu/turma/{{ diario.turma.pk }}/">{{ diario.turma }}</a></td>
                            <td>
                                <a href="/edu/componente/{{ diario.componente_curricular.componente.pk }}/">{{ diario.componente_curricular.componente }}</a>
                            </td>
                            <td>{{ diario.get_professores_display|format }}</td>
                            <td>
                                <a href="/edu/matriz/{{ diario.componente_curricular.matriz.pk }}/">{{ diario.componente_curricular.matriz }}</a>
                            </td>
                            <td>{{ diario.componente_curricular.periodo_letivo|format }}</td>
                            <td>
								<a class="btn success popup" href="/edu/matricular_aluno_diario/{{ matricula_periodo.pk }}/{{ diario.pk }}/">Matricular</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
                {% paginate %}

            {% else %}

                <p class="msg alert">Nenhum diário disponível para matrícula ou exclusão neste período letivo.</p>

            {% endif %}

        {% endif %}

    {% endbox %}

{% endblock %}
