{% extends super_template %}

{% block content %}

    <ul class="action-bar">
        {% help_button %}
    </ul>

    {{ periodo_letivo_atual.as_widget|safe }}

    {% if not professor_diarios %}
        <p class="msg alert">Nenhum diário no ano/período letivo.</p>
    {% else %}
        {% box "Diários" %}
            <table>
                <thead>
                <tr>
                    <th>Diário</th>
                    <th>Local</th>
                    <th class="text-center">Turno</th>
                    <th class="text-center">Horário</th>
                    <th>Período</th>
                </tr>
                </thead>
                <tbody>
                {% for professor_diario in professor_diarios %}
                    <tr>
                        <td>
                            <a href="/edu/meu_diario/{{ professor_diario.diario.id }}/{{ professor_diario.diario.get_num_etapa_posse_professor }}/">({{ professor_diario.diario.id }})
                                - {{ professor_diario.diario.componente_curricular.componente }}</a></td>
                        <td>{{ professor_diario.diario.get_locais_aula|format }}</td>
                        <td class="text-center">{{ professor_diario.diario.turno }}</td>
                        <td class="text-center">{{ professor_diario.diario.get_horario_aulas|format }}</td>
                        <td>
                            {% for inicio, fim in professor_diario.get_periodo_posse %}
                                De {{ inicio|format }} até {{ fim|format }}<br/>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endbox %}

        {% include "includes/professor_tabela_horarios.html" %}
    {% endif %}
{% endblock %}