{% extends super_template %}

{% block content %}

    <ul class="action-bar">
        {% if pode_manipular_etapa_1 or pode_manipular_etapa_2 or pode_manipular_etapa_3 or pode_manipular_etapa_4 or pode_manipular_etapa_5 %}
            <li class="has-child">
                <a class="btn" href="#"> Entregar Etapa </a>
                <ul>
                    {% if qtd_avaliacoes > 0 and pode_manipular_etapa_1 %}
                        <li><a href="?etregar_etapa=1"> Etapa 1 </a></li>{% endif %}
                    {% if qtd_avaliacoes > 1 and pode_manipular_etapa_2 %}
                        <li><a href="?etregar_etapa=2"> Etapa 2 </a></li>{% endif %}
                    {% if qtd_avaliacoes > 2 and pode_manipular_etapa_3 %}
                        <li><a href="?etregar_etapa=3"> Etapa 3 </a></li>{% endif %}
                    {% if qtd_avaliacoes > 2 and pode_manipular_etapa_4 %}
                        <li><a href="?etregar_etapa=4"> Etapa 4 </a></li>{% endif %}
                    {% if pode_manipular_etapa_5 %}
                        <li><a href="?etregar_etapa=5"> Etapa Final </a></li>{% endif %}
                </ul>
            </li>
        {% endif %}
        <li class="has-child">
            <a class="btn" href="#"> Relançar Etapa </a>
            <ul>
                {% if qtd_avaliacoes > 0 and not pode_manipular_etapa_1 %}
                    <li><a href="?relancar_etapa=1"> Etapa 1 </a></li>{% endif %}
                {% if qtd_avaliacoes > 1 and not pode_manipular_etapa_2 %}
                    <li><a href="?relancar_etapa=2"> Etapa 2 </a></li>{% endif %}
                {% if qtd_avaliacoes > 2 and not pode_manipular_etapa_3 %}
                    <li><a href="?relancar_etapa=3"> Etapa 3 </a></li>{% endif %}
                {% if qtd_avaliacoes > 2 and not pode_manipular_etapa_4 %}
                    <li><a href="?relancar_etapa=4"> Etapa 4 </a></li>{% endif %}
                {% if not pode_manipular_etapa_5 %}
                    <li><a href="?relancar_etapa=5"> Etapa Final </a></li>  {% endif %}
            </ul>
        </li>
    </ul>

    {% box "Carga Horária (%) - Hora Aula" %}
        <dl>
            <dt>Aulas Ministradas:</dt>
            <dd>{{ obj.get_carga_horaria_cumprida }} de {{ obj.get_carga_horaria }} Aulas</dd>
            <dt>Carga Horária Mínima:</dt>
            <dd>{{ obj.percentual_minimo_ch }}% ({{ obj.get_carga_horaria_minima }} Aulas)</dd>
            <dt>Percentual de Carga Horária Cumprida:</dt>
            <dd>
                <div class="progress">
                    <p>{{ obj.get_percentual_carga_horaria_cumprida }}%</p>
                </div>
            </dd>
        </dl>
    {% endbox %}

    {% include "includes/notas_form.html" %}

{% endblock %}
