{% extends super_template %} 
{% block content %}

<div id="formbox">{% render_form form %}</div>

<div id="resultadobox">
{% if form.is_valid %}
	<script>
		$('#formbox').hide();
	</script>
	
	{% box "Filtros" %}
	<ul class="action-bar">
		<li><a class="btn" href="/edu/relatorio_horario/">Limpar Filtros</a></li>
		<li><a class="btn" onclick="javascript:$('#formbox').toggle();$('#resultadobox').toggle();return false;">Alterar Filtros</a></li>
	</ul>
	<table class="info" border="0">
		{% for filtro in horarios.filtros %}
		<tr>
			<td>{{ filtro.chave }}</td>
			<td>{{ filtro.valor }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endbox %} 
	
	{% box "Resultado da Pesquisa ({{ horarios.count }} horários)" %} 
		{% if horarios %}
		{{ tabela }} 
		{% else %}
	<p class='msg alert'>Nenhum horário encontrado.</p>
		{% endif %} 
	{% endbox %} 
{% endif %}
</div>
{% endblock %}
