{% extends super_template %}

{% block content %}

    {% box 'Disciplinas' %}
        {% if matriculas_diario.exists or componentes.exists %}
            <table>
                <thead>
                <tr>
                    <th>Código</th>
                    <th>Período</th>
                    <th>Descrição</th>
                    <th>C.H.</th>
                    <th>Tipo</th>
                    {% if tipo == 'cursando' %}
                    <th>Diário</th>
                    <th>Situação</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% if tipo == 'pendente' %}
                    {% for componente_curricular in componentes %}
                        <tr>
                            <td>{{ componente_curricular.componente.sigla|format }}</td>
                            <td>{{ componente_curricular.periodo_letivo|format }}</td>
                            <td>{{ componente_curricular.componente.descricao_historico|format }}</td>
                            <td>{{ componente_curricular.componente.ch_hora_relogio|format }}</td>
                            <td>{{ componente_curricular.get_tipo_display }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for md in matriculas_diario %}
                        <tr>
                            <td>{{ md.diario.componente_curricular.componente.sigla|format }}</td>
                            <td>{{ md.diario.componente_curricular.periodo_letivo|format }}</td>
                            <td>{{ md.diario.componente_curricular.componente.descricao_historico|format }}</td>
                            <td>{{ md.diario.componente_curricular.componente.ch_hora_relogio|format }}</td>
                            <td>{{ md.diario.componente_curricular.get_tipo_display }}</td>
                            <td>{{ md.diario.id }}</td>
                            <td>{{ md.get_situacao_diario.rotulo }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        {% else %}
            <p class="msg alert">Nenhuma disciplina encontrada.</p>
        {% endif %}
    {% endbox %}

{% endblock %}
