{% extends "relatorio_pdf.html" %}

{% block style %}
    td, th {
    font-size: 8pt;
    text-align: center;
    padding: 3px 0px 3px 0px;
    line-height: 1em;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    }
    .assinatura_professor {
    text-align: center;
    border-bottom: 1px solid black;
    }
    h1 {
    text-align: center;
    border: 1px solid black;
    padding-top: 2px;
    line-height: 1em;
    }
{% endblock %}

{% block content %}

    <body>


    <div class="corpo">

        <h1>Listagem de Professores</h1>

        <table class="info" border="0">
            {% for filtro in filtros %}
                <tr>
                    <td width='150px' style='text-align: left; padding: 0px;'>{{ filtro.chave }}</td>
                    <td style='text-align: left; padding: 0px;'>{{ filtro.valor|format }}</td>
                </tr>
            {% endfor %}
        </table>

        <br/>

        {% regroup professores by funcionario.servidor.setor.uo.nome as professores_agrupados %}


        {% for item_professor in professores_agrupados %}

            <table border='0'>
                <thead>
                <tr>
                    <th style="width: 15px;">#</th>
                    <th style="width: 150px">Matrícula</th>
                    <th style="width: 400px">Nome</th>
                    {% for campo in campos_exibicao %}
                        {% for label in campos_exibicao_choices %}
                            {% if label.0 == campo %}
                                <th>{{ label.1 }}</th>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for professor in item_professor.list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td style='font-size: 7pt;'>{{ professor.get_matricula }}</td>
                        <td style='font-size: 7pt; text-align: left;'>{{ professor.vinculo.pessoa.nome|normalizar }}</td>
                        {% for campo in campos_exibicao %}
                            <td>{{ professor|getattrr:campo|format }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>



{% endblock %}