{% extends super_template %}

{% block content %}

    <ul class="action-bar">
        {% if perms.edu.change_solicitacaousuario %}
            {% if not obj.atendida %}
                {% if not eh_atividade_complementar %}
                    {% if not obj.razao_indeferimento %}
                        {% if eh_prorrogacao_etapa %}
                            <li><a href="/edu/atender_prorrogacao_etapa/{{ obj.pk }}/" class="btn popup success">Deferir</a>
                            </li>
                        {% elif eh_acompanhamento_etep %}
                            {% if tem_permissao_realizar_procedimentos_etep %}
                                <li><a href="?atender=1" class="btn success">Acompanhar</a></li>
                            {% endif %}
                        {% elif eh_relacamento_e_precisa_prorrogar_posse %}
                            <li><a href="/edu/atender_relancamento_etapa_prorrogando_posse/{{ obj.pk }}/"
                                class="btn popup success">Deferir</a></li>
                        {% else %}
                            <li><a href="?atender=1" class="btn success">Deferir</a></li>
                        {% endif %}
                        {% if eh_acompanhamento_etep %}
                            {% if tem_permissao_realizar_procedimentos_etep %}
                                <li><a href="/edu/rejeitar_solicitacao/{{ obj.pk }}/" class="btn popup danger no-confirm">Rejeitar</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li><a href="/edu/rejeitar_solicitacao/{{ obj.pk }}/"
                                class="btn popup danger no-confirm">Rejeitar</a></li>
                        {% endif %}
                    {% endif %}
                {% elif aluno.curso_campus.coordenador %}
                    <li><a class="btn" href="?avisar_coordenador=1">Avisar Coordenador</a></li>
                {% endif %}
            {% endif %}
        {% endif %}
        {% help_button %}
    </ul>
    {% box "Dados da Solicitação" %}
        <table class="info">
            <tr>
                <td>Solicitante</td>
                <td>{{ obj.solicitante|format }}</td>
            </tr>
            <tr>
                <td>Data da Solicitação</td>
                <td>{{ obj.data_solicitacao|format }}</td>
            </tr>
            <tr>
                <td>Descrição</td>
                <td>{{ obj.descricao }}</td>
            </tr>
            {% if eh_prorrogacao_etapa %}
                <tr>
                    <td>Diretoria</td>
                    <td>{{ filho.professor_diario.diario.turma.curso_campus.diretoria }}</td>
                </tr>
                <tr>
                    <td>Diário</td>
                    <td><a href="{{ filho.get_diario.get_absolute_url }}">{{ filho.get_diario }}</a></td>
                </tr>
                <tr>
                    <td>Etapa</td>
                    <td>{{ filho.etapa }}</td>
                </tr>
                <tr>
                    <td>Motivo</td>
                    <td>{{ filho.motivo }}</td>
                </tr>
                <tr>
                    <td>Data limite da prorrogação</td>
                    <td>{{ filho.get_data_prorrogacao }}</td>
                </tr>
            {% elif eh_relancamento_etapa %}
                <tr>
                    <td>Diretoria</td>
                    <td>{{ filho.professor_diario.diario.turma.curso_campus.diretoria }}</td>
                </tr>
                <tr>
                    <td>Diário</td>
                    <td><a href="{{ filho.get_diario.get_absolute_url }}">{{ filho.get_diario }}</a></td>
                </tr>
                <tr>
                    <td>Etapa</td>
                    <td>{{ filho.etapa }}</td>
                </tr>
                <tr>
                    <td>Motivo</td>
                    <td>{{ filho.motivo|format }}</td>
                </tr>
            {% else %}
                {% if aluno %}
                    <tr>
                        <td>Coordenador do Curso</td>
                        <td>{{ aluno.curso_campus.coordenador|format }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Campus</td>
                    <td>{{ obj.uo }}</td>
                </tr>
            {% endif %}
        </table>

    {% endbox %}

    {% box "Dados da Avaliação" %}
        {% if obj.avaliador %}
            <table class="info">
                <tr>
                    <td>Avaliador</td>
                    <td>{{ obj.avaliador|format }}</td>
                </tr>
                <tr>
                    <td>Data da Avaliação</td>
                    <td>{{ obj.data_avaliacao|format }}</td>
                </tr>
                <tr>
                    <td>Aceita</td>
                    <td>{{ obj.atendida|format }}</td>
                </tr>
                {% if not obj.atendida %}
                    <tr>
                        <td>Razão do indeferimento</td>
                        <td>{{ obj.razao_indeferimento|format }}</td>
                    </tr>
                {% endif %}
            </table>
        {% else %}
            <p class="msg alert">A solicitação ainda não foi avaliada.</p>
        {% endif %}
    {% endbox %}


{% endblock %}
