{% if turnos %}
    {% if turnos.as_form %}
        <form action="" method="post">
        {% csrf_token %}
    {% endif %}
{% for turno in turnos %}
    {% if not turno.vazio %}
        <table>
            <thead>
            <tr>
                <th width="10%">{{ turno }}</th>
                {% for dia_semana in turno.dias_semana %}
                    <th width="10%">{{ dia_semana.1 }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for horario_aula in turno.horarios_aula %}
                {% if not horario_aula.vazio %}
                    <tr>
                        <td><strong>{{ horario_aula }}</strong></td>
                        {% for dia_semana in horario_aula.dias_semana %}
                            {% if turnos.as_form %}
                                <td align="center">
                                    <input value="{{ horario_aula.pk }};{{ dia_semana.numero }}" type="checkbox"
                                           name="horario" class="pq" {% if dia_semana.marcado %}
                                           checked="checked" {% endif %}
                                           onclick="javascript:
                                                   $.ajax({
                                                   url: '/edu/definir_horario_aula_diario_especial_ajax/{{ obj.pk }}/{{ horario_aula.pk }}/{{ dia_semana.numero }}/'+this.checked+'/',
                                                   method: 'GET',
                                                   context: this,
                                                   error: function() {$( this ).parent().addClass( 'errors' ); }
                                                   }).success(function() {$( this ).parent().addClass( 'filled' ); });
                                                   "/>
                                </td>
                            {% else %}
                                <td align="center">
                                    {% if dia_semana.marcado %}
                                        {% if perms.edu.add_professordiario %}
                                            <a href="/edu/diario/{{ dia_semana.horario_aula_diario.diario.pk }}/">
                                        {% endif %}
                                    <span class="hint" data-hint="
                                            {{ dia_semana.horario_aula_diario.diario.componente_curricular.componente.descricao_historico|default:"" }} {{ dia_semana.horario_aula_diario.diario.get_descricao_dinamica }}">
                                                    {{ dia_semana.horario_aula_diario.diario.componente_curricular.componente.sigla|default:"X" }}
                                                </span>
                                    {% if perms.edu.add_professordiario %}
                                        </a>
                                    {% endif %}
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endfor %}
{% if turnos.as_form %}
    <div class="submit-row">
        <input type="submit" value="Salvar"/>
    </div>
    </form>
{% endif %}
{% else %}
    <p class="msg alert">Nenhum horário de aula definido no período selecionado.</p>
{% endif %}