{% for turno in turnos %}
    <table>
        <thead>
        <tr>
            <th class='text-center'>{{ turno.descricao }}</th>
            {% for dia in dias_semana %}
                <th class='text-align: center'>{{ dia.1 }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for ha in turno.horarios_aula %}
            <tr>
                <td width="16%" class='text-center'><strong>{{ ha }}</strong></td>
                {% for dia in dias_semana %}
                    <td class='text-center' width="12%">
                        {% for pedido_turma in pedidos_diario_turma %}
                            {% for had in pedido_turma.diario.horarioauladiario_set.all %}
                                {% if had.dia_semana == dia.0 and had.horario_aula == ha %}
                                    {{ pedido_turma.diario.componente_curricular.componente.sigla }} <br>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {% for pedido_dependencia in pedidos_diario_dependencias %}
                            {% for had in pedido_dependencia.diario.horarioauladiario_set.all %}
                                {% if had.dia_semana == dia.0 and had.horario_aula == ha %}
                                    {{ pedido_dependencia.diario.componente_curricular.componente.sigla }} <br>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endfor %}