{% load tags %}
<table class="borda">
    <thead>
    <tr>
        {% if matricula_periodo %}
            <th rowspan="2" class="text-center" width="120px">Diário</th>
            <th rowspan="2" class="text-center">Disciplina</th>
            <th rowspan="2" class="text-center" width="100px">C. H. Aula</th>
            <th rowspan="2" class="text-center" width="100px">T. de Aulas</th>
        {% else %}
            <th rowspan="2" class="text-center" width="50px">#</th>
            <th rowspan="2" class="text-center" width="140px">Matrícula</th>
            <th rowspan="2" width="450px">Nome</th>
        {% endif %}
        <th rowspan="2" class="text-center" width="90px">T. Faltas</th>
        <th rowspan="2" class="text-center" width="90px">% Freq.</th>
        <th rowspan="2" class="text-center" width="200px">Situação</th>
        {% if matricula_periodo %}
            {% if matricula_periodo.max_qtd_avaliacoes > 0 %}
                <th colspan="{% if tem_nota_atitudinal %}4{%else%}2{%endif%}" class="text-center">N1</th>
            {% endif %}
            {% if matricula_periodo.max_qtd_avaliacoes > 1 %}
                <th colspan="{% if tem_nota_atitudinal %}4{%else%}2{%endif%}" class="text-center">N2</th>
            {% endif %}
            {% if matricula_periodo.max_qtd_avaliacoes > 2 %}
                <th colspan="{% if tem_nota_atitudinal %}4{%else%}2{%endif%}" class="text-center">N3</th>
                <th colspan="{% if tem_nota_atitudinal %}4{%else%}2{%endif%}" class="text-center">N4</th>
            {% endif %}
        {% endif %}
        <th rowspan="2" class="text-center" width="50px">MD</th>
        <th colspan="2" class="text-center" width="50px">NAF</th>
        <th rowspan="2" class="text-center" width="130px">MFD/<br/>Conceito</th>
    </tr>
    <tr>
        {% if matricula_periodo %}
            {% if matricula_periodo.max_qtd_avaliacoes > 0 %}
                {% if tem_nota_atitudinal %}
                    <th class="text-center" width="50px">P</th>
                    <th class="text-center" width="50px">A</th>
                {% endif %}
                <th class="text-center" width="50px">N</th>
                <th class="text-center" width="50px">F</th>
            {% endif %}
            {% if matricula_periodo.max_qtd_avaliacoes > 1 %}
                {% if tem_nota_atitudinal %}
                    <th class="text-center" width="50px">P</th>
                    <th class="text-center" width="50px">A</th>
                {% endif %}
                <th class="text-center" width="50px">N</th>
                <th class="text-center" width="50px">F</th>
            {% endif %}
            {% if matricula_periodo.max_qtd_avaliacoes > 2 %}
                {% if tem_nota_atitudinal %}
                    <th class="text-center" width="50px">P</th>
                    <th class="text-center" width="50px">A</th>
                {% endif %}
                <th class="text-center" width="50px">N</th>
                <th class="text-center" width="50px">F</th>
                {% if tem_nota_atitudinal %}
                    <th class="text-center" width="50px">P</th>
                    <th class="text-center" width="50px">A</th>
                {% endif %}
                <th class="text-center" width="50px">N</th>
                <th class="text-center" width="50px">F</th>
            {% endif %}
        {% endif %}
        <th class="text-center" width="50px">N</th>
        <th class="text-center" width="50px">F</th>
    </tr>
    </thead>
    <tbody>
    {% for matricula_diario in matricula_periodo.matriculas_diario %}
    	{% if matricula_diario.exibe_no_boletim %}
        <tr>
            {% if matricula_periodo %}
                <td class="text-center">
                    {% if request.GET.tab == "boletim" and pode_realizar_procedimentos %}
                        <a href='/edu/diario/{{ matricula_diario.diario.id }}/'>{{ matricula_diario.diario.id }}</a>
                    {% else %}
                        {{ matricula_diario.diario.id }}
                    {% endif %}
                </td>
                <td>{{ matricula_diario.diario.componente_curricular.componente.sigla }}
                    - {{ matricula_diario.diario.componente_curricular.componente.descricao_historico }} {{ matricula_diario.diario.get_descricao_dinamica }}</td>
                <td class="text-center">{{ matricula_diario.diario.get_carga_horaria }}</td>
                <td class="text-center">{{ matricula_diario.diario.get_carga_horaria_cumprida }}</td>
            {% else %}
                <td class="text-center">{{ forloop.counter }}</td>
                <td>{{ matricula_diario.matricula_periodo.aluno.matricula }}</td>
                <td>{{ matricula_diario.matricula_periodo.aluno.get_nome }}</td>
            {% endif %}
            <td class="text-center">{{ matricula_diario.get_numero_faltas }}</td>
            <td class="text-center">{{ matricula_diario.get_percentual_carga_horaria_frequentada|format }}%</td>
            <td class="text-center">{{ matricula_diario.get_situacao_diario_boletim.rotulo }}</td>

            {% if not matricula_diario.diario.is_semestral_segundo_semestre %}
                {% if matricula_diario.diario.componente_curricular.qtd_avaliacoes > 0 %}
                    {% if tem_nota_atitudinal %}
                        <td class="text-center">{{ matricula_diario|method:"get_nota_sem_atitudinal"|call:1|formatar_nota }}</td>
                        <td class="text-center">{{ matricula_diario|method:"get_nota_atitudinal"|call:1|formatar_nota }}</td>
                    {% endif %}
                    <td class="text-center">{{ matricula_diario.get_nota_1_boletim|format }}</td>
                    <td class="text-center">{{ matricula_diario.get_numero_faltas_primeira_etapa }}</td>
                {% endif %}
                {% if matricula_diario.diario.componente_curricular.qtd_avaliacoes > 1 %}
                    {% if tem_nota_atitudinal %}
                        <td class="text-center">{{ matricula_diario|method:"get_nota_sem_atitudinal"|call:2|formatar_nota }}</td>
                        <td class="text-center">{{ matricula_diario|method:"get_nota_atitudinal"|call:2|formatar_nota }}</td>
                    {% endif %}
                    <td class="text-center">{{ matricula_diario.get_nota_2_boletim|format }}</td>
                    <td class="text-center">{{ matricula_diario.get_numero_faltas_segunda_etapa }}</td>
                {% endif %}
            {% else %}
                <td colspan="{% if tem_nota_atitudinal %}8{%else%}4{%endif%}"></td>
                {% if tem_nota_atitudinal %}
                    <td class="text-center">{{ matricula_diario|method:"get_nota_sem_atitudinal"|call:1|formatar_nota }}</td>
                    <td class="text-center">{{ matricula_diario|method:"get_nota_atitudinal"|call:1|formatar_nota }}</td>
                {% endif %}
                <td class="text-center">{{ matricula_diario.get_nota_1_boletim|format }}</td>
                <td class="text-center">{{ matricula_diario.get_numero_faltas_primeira_etapa }}</td>
                {% if tem_nota_atitudinal %}
                    <td class="text-center">{{ matricula_diario|method:"get_nota_sem_atitudinal"|call:2|formatar_nota }}</td>
                    <td class="text-center">{{ matricula_diario|method:"get_nota_atitudinal"|call:2|formatar_nota }}</td>
                {% endif %}
                <td class="text-center">{{ matricula_diario.get_nota_2_boletim|format }}</td>
                <td class="text-center">{{ matricula_diario.get_numero_faltas_segunda_etapa }}</td>
            {% endif %}

            {% if matricula_diario.diario.componente_curricular.qtd_avaliacoes > 2 %}
                {% if tem_nota_atitudinal %}
                    <td class="text-center">{{ matricula_diario|method:"get_nota_sem_atitudinal"|call:3|formatar_nota }}</td>
                    <td class="text-center">{{ matricula_diario|method:"get_nota_atitudinal"|call:3|formatar_nota }}</td>
                {% endif %}
                <td class="text-center">{{ matricula_diario.get_nota_3_boletim|format }}</td>
                <td class="text-center">{{ matricula_diario.get_numero_faltas_terceira_etapa }}</td>
                    {% if tem_nota_atitudinal %}
                        <td class="text-center">{{ matricula_diario|method:"get_nota_sem_atitudinal"|call:4|formatar_nota }}</td>
                        <td class="text-center">{{ matricula_diario|method:"get_nota_atitudinal"|call:4|formatar_nota }}</td>
                    {% endif %}
                <td class="text-center">{{ matricula_diario.get_nota_4_boletim|format }}</td>
                <td class="text-center">{{ matricula_diario.get_numero_faltas_quarta_etapa }}</td>
            {% endif %}

            {% if matricula_diario.diario.componente_curricular.qtd_avaliacoes > 0 %}
                {% if not matricula_diario.diario.is_semestral_segundo_semestre %}
                    {% if matricula_periodo.max_qtd_avaliacoes|subtract:matricula_diario.diario.componente_curricular.qtd_avaliacoes == 3 %}
                        <td colspan="{% if tem_nota_atitudinal %}12{%else%}6{%endif%}">&nbsp;</td>
                    {% elif matricula_periodo.max_qtd_avaliacoes|subtract:matricula_diario.diario.componente_curricular.qtd_avaliacoes == 2 %}
                        <td colspan="{% if tem_nota_atitudinal %}8{%else%}4{%endif%}">&nbsp;</td>
                    {% elif matricula_periodo.max_qtd_avaliacoes|subtract:matricula_diario.diario.componente_curricular.qtd_avaliacoes == 1 %}
                        <td colspan="{% if tem_nota_atitudinal %}4{%else%}2{%endif%}">&nbsp;</td>
                    {% endif %}
                {% endif %}
                <td class="text-center">{{ matricula_diario.get_media_disciplina_boletim|format }}</td>
                <td class="text-center">{{ matricula_diario.get_nota_final_boletim|format }}</td>
                <td class="text-center">0</td>
                <td class="text-center">{{ matricula_diario.get_media_final_disciplina_boletim|format }}</td>
            {% else %}
                {% if matricula_periodo.max_qtd_avaliacoes == 3 %}
                    <td colspan="10">&nbsp;</td>
                {% elif matricula_periodo.max_qtd_avaliacoes == 2 %}
                    <td colspan="8">&nbsp;</td>
                {% elif matricula_periodo.max_qtd_avaliacoes == 1 %}
                    <td colspan="6">&nbsp;</td>
                {% endif %}
            {% endif %}
        </tr>
    	{% endif %}
    {% endfor %}
    </tbody>

    {% if matricula_periodo %}
        <tfoot>
        <tr>
            <td colspan="2">Total</td>
            <td class="text-center">{{ matricula_periodo.get_carga_horaria }} </td>
            <td class="text-center">{{ matricula_periodo.get_carga_horaria_cumprida }}</td>
            <td class="text-center">{{ matricula_periodo.get_total_faltas }}</td>
            <td colspan="{% if tem_nota_atitudinal %}22{%else%}14{%endif%}"></td>
        </tr>
        </tfoot>
    {% endif %}

</table>
