{% extends super_template %}

{% block object-status %}
{% if servidor.excluido %}<span class="status status-error">Excluído</span>{% else %}<span class="status status-success">Ativo</span>{% endif %}
{% if servidor.tem_digital %}<span class="status status-success">Tem impressão digital</span>{% else %}<span class="status status-error">Não tem impressão digital</span>{% endif %}
{% endblock %}

{% block action-bar %}
    <ul class="action-bar">
        {% if perms.rh.change_servidor or servidor.user and perms.auth.change_user or verificacao_propria or perms.rh.pode_editar_email_secundario_servidor or perms.rh.pode_cadastrar_digital %}
            <li class="has-child">
                <a href="#" class="btn primary">{% icone "edit" %} Editar</a>
                <ul>
                    {% if perms.rh.pode_editar_email_secundario_servidor or verificacao_propria %}
                        <li><a class="popup" href="/comum/atualizar_email_secundario/{{ servidor.get_vinculo.pk }}/">E-mail</a></li>
                    {% endif %}
                    {% if perms.comum.view_contatoemergencia or verificacao_propria %}
                        <li><a href="/comum/pessoa_fisica/{{ servidor.pessoa_fisica.pk }}/listar_contatos_de_emergencia">Contatos de Emergência</a></li>
                    {% endif %}
                    {% if verificacao_propria or perms.rh.change_servidor %}
                        {% if perms.rh.change_servidor %}
                            <li><a href="/admin/rh/servidor/{{ servidor.pk }}/">Empregado FESF</a></li>
                            {% if servidor.eh_docente and perms.rh.eh_rh_sistemico %}
                                <li><a class="popup" href="/edu/editar_disciplina_docente/{{ servidor.pk }}/">Dados como Professor</a></li>
                            {% endif %}
                            {% if servidor.cargo_emprego.cargoempregoarea_set.exists and perms.rh.eh_rh_sistemico %}
                                <li><a class="popup" href="{% url 'editar_servidor_cargo_emprego_area' servidor.pk %}">Área do Cargo</a></li>
                            {% endif %}
                        {% else %}
                            <li><a class="popup" href="/rh/servidor/editar_informacoes_pessoais/">Informações Pessoais</a></li>
                        {% endif %}
                    {% endif %}
                    {% if perms.rh.pode_cadastrar_digital or verificacao_propria and servidor.tem_digital_fraca %}
                        <li><a class="popup" href="/rh/editar_informacoes_digitais_fracas/{{ servidor.pk }}/">{% if perms.rh.pode_cadastrar_digital %}Informações de Digitais Fracas{% else %}Editar Senha do Ponto{% endif %}</a></li>
                    {% endif %}
                    {% if servidor.user and perms.auth.change_user %}
                        <li><a href="/admin/comum/user/{{ servidor.user.pk }}/">Usuário</a></li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}

        {% ldap_actions servidor %}

        {% if servidor.professor_set.exists %}
            <li><a href="{{ servidor.professor.get_absolute_url }}" class="btn default">{% icone "info-circle" %} Dados do Professor</a></li>
        {% endif %}

        <li class="has-child">
            <a href="#" class="btn default">{% icone "list" %} Outras Opções</a>
            <ul>
                <li><a href="/admin/rh/solicitacaoalteracaofoto/add/">Alterar Foto</a></li>
                {% if perms.rh.pode_gerar_cracha and pode_gerar_cracha %}
                    <li><a href="/rh/cracha_pessoa/{{ servidor.pk }}/">Crachá</a></li>
                {% endif %}
                <li><a href="/comum/grupos_usuario/{{ servidor.user.pk }}/" class="popup">Grupos</a></li>
                {% if servidor.user.tem_historico_grupos %}
                    <li><a class="popup" href="/comum/usuario/{{ servidor.user.pk }}/historico_grupos/">Histórico em Grupos</a></li>
                {% endif %}
            </ul>
        </li>

        {% if verificacao_propria %}
            <li><a class="btn default" href="/comum/minha_conta/">{% icone "user" %} Minha Conta</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}

    <div class="photo-circle big">
        <img src="{{ servidor.get_foto_150x200_url }}" alt="Foto de {{ servidor.nome|format }}">
    </div>
    <dl class="definition-list flex">
        <div class="list-item">
            <dt>Nome Usual</dt>
            <dd>{{ servidor.nome_usual }}</dd>
        </div>
        <div class="list-item">
            <dt>E-mail Institucional</dt>
            <dd><a href="mailto:{{ servidor.email_institucional }}">{{ servidor.email_institucional|format }}</a></dd>
        </div>
        <div class="list-item">
            <dt>E-mail Secundário para Recuperação de Senha</dt>
            <dd><a href="mailto:{{ servidor.email_secundario }}">{{ servidor.email_secundario|format }}</a></dd>
        </div>
        <div class="list-item">
            <dt>E-mail para Notificações</dt>
            <dd><a href="mailto:{{ servidor.email }}">{{ servidor.email|format }}</a></dd>
        </div>
        {% if servidor.email_academico %}
            <div class="list-item">
                <dt>E-mail Acadêmico</dt>
                <dd><a href="mailto:{{ servidor.email_academico }}">{{ servidor.email_academico|format }}</a></dd>
            </div>
        {% endif %}
        <div class="list-item">
            <dt>Telefones Institucionais</dt>
            <dd>{{ servidor.telefones_institucionais|format }}</dd>
        </div>
        {% if pode_ver_telefones_pessoais_servidor %}
            <div class="list-item">
                <dt>Telefones Pessoais</dt>
                <dd>{{ servidor.telefones_pessoais|format }}</dd>
            </div>
        {% endif %}
        {% if verificacao_propria or perms.comum.view_contatoemergencia %}
            <dd>
                <strong>CONTATOS DE EMERGÊNCIA</strong>
            </dd>
            <dd>
                <dl class="definition-list flex compact">
                {% for contato in servidor.pessoa_fisica.contatoemergencia_set.all %}
                    <div class="list-item">
                        <dt>{{ contato.nome_contato }}</dt>
                        <dd>{{ contato.telefone|format }}</dd>
                    </div>
                {% empty %}
                    <dd>
                        <p class="msg alert">Nenhum contato de emergência cadastrado.</p>
                    </dd>
                {% endfor %}
                </dl>
            </dd>
        {% endif %}
    </dl>

    <!-- tab dados gerais do servidor -->
    {% include "tab_dados_gerais.html" %}

    <!-- tab histórico funcional do servidor -->
    {% if pode_ver_historico_funcional_servidor %}
        {% include "tab_historico_funcional.html" %}
    {% endif %}




    <!-- tab de signals -->
    {% for tab in extra_tabs %}
        {{ tab }}
    {% endfor %}
{% endblock %}
