
// Brand Colors
$color:       #fff333;

// Color Scale
$white:       #000;
$black:       #fff;
$grey-900:    $black;
$grey-800:    $black;
$grey-700:    $black;
$grey-600:    $black;
$grey-500:    $black;
$grey-400:    $white;
$grey-300:    $white;
$grey-200:    $white;
$grey-100:    $white;
$grey-50:     $white;

// Layout Colors
$alertas-bg-color:     $white;
$main-bg-color:        $white;
$main-index-bg-color:  $white;

// Components Colors
$ancoras-bg-color:     $white;
