{% extends super_template %}

{% block extrahead %}
<script src="/static/djtools/graficos/highcharts.js"></script>
<script src="/static/djtools/graficos/exporting.js"></script>
<script>
{{ grafico_chamados_abertos|safe }}
{{ grafico_chamados_reabertos|safe }}
{{ grafico_chamados_fechados|safe }}
{{ grafico_nota_avaliacao|safe }}
{{ grafico_atendentes|safe }}
{{ grafico_demandantes|safe }}
{{ grafico_servicos|safe }}
{{ grafico_grupos_servicos|safe }}
{{ grafico_categorias_servicos|safe }}
{{ grafico_escalados_retornados|safe }}
{{ grafico_chamados_reclassificados|safe }}
{{ grafico_chamados_tempo_atendimento|safe }}
{{ grafico_chamados_tempo_resposta|safe }}
{{ grafico_media_tempo_atendimento_agrupado_por_ano|safe }}
{{ grafico_media_tempo_resposta_agrupado_por_ano|safe }}
</script>
{% endblock %}

{% block content %}
    <div class="search-and-filters">
        {% render_form form %}
    </div>

    {% if form.is_valid %}

        {% box 'Indicadores' %}
            <div id="grafico_chamados_abertos" class="grafico50"></div>
            <div id="grafico_chamados_reabertos" class="grafico50"></div>
            <div id="grafico_chamados_fechados" class="grafico50"></div>
            <div id="grafico_escalados_retornados" class="grafico50"></div>
            <div id="grafico_chamados_reclassificados" class="grafico100"></div>
        {% endbox %}

        {% box 'Demandantes' %}
            <div id="grafico_nota_avaliacao" class="grafico100"></div>
            <div id="grafico_demandantes" class="grafico100"></div>
        {% endbox %}

        {% box 'Serviços' %}
            <div id="grafico_servicos" class="grafico100"></div>

            <h4>Serviços mais Demandados</h4>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Serviço</th>
                        <th>Quantidade de Chamados</th>
                    </tr>
                </thead>
                <tbody>
                {% for servico in servicos_mais_demandados %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ servico.servico__nome }}</td>
                        <td>{{ servico.total_chamados }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div id="grafico_grupos_servicos" class="grafico100"></div>
            <div id="grafico_categorias_servicos" class="grafico100"></div>
        {% endbox %}

        {% box 'Atendimento' %}
            <div id="grafico_atendentes" class="grafico100"></div>
            <div id="grafico_chamados_tempo_atendimento" class="grafico50"></div>
            <div id="grafico_chamados_tempo_resposta" class="grafico50"></div>

            <div id="lista_top_10_chamados_maior_tempo_atendimento" class="grafico50">
                <h4>Top 10 Chamados com Maior Tempo de Atendimento</h4>
                <div class="flex-container boxes services">
                    {% for chamado in lista_top_10_chamados_maior_tempo_atendimento %}
                        <div class="box-item">
                            {{ chamado.get_status_display|status }}
                            <h5 class="title"><a href="/centralservicos/chamado/{{ chamado.id }}">{{ chamado.servico.tipo }} #{{ chamado.id }}</a></h5>
                            <dl>
                                <dt>Tempo de Atendimento:</dt>
                                <dd>{{ chamado.get_tempo_atendimento|format }}</dd>
                                <dt>Interessado:</dt>
                                <dd>{{ chamado.interessado|format }}</dd>
                                <dt>Aberto Em:</dt>
                                <dd>{{ chamado.aberto_em }}</dd>
                            </dl>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="lista_top_10_chamados_maior_tempo_resposta" class="grafico50">
                <h4>Top 10 Chamados com Maior Tempo de Resposta</h4>
                <div class="flex-container boxes services">
                    {% for chamado in lista_top_10_chamados_maior_tempo_resposta %}
                        <div class="box-item">
                            {{ chamado.get_status_display|status }}
                            <h5 class="title"><a href="/centralservicos/chamado/{{ chamado.id }}/">{{ chamado.servico.tipo }} #{{ chamado.id }}</a></h5>
                            <dl>
                                <dt>Tempo de Resposta:</dt>
                                <dd>{{ chamado.get_tempo_resposta|format }}</dd>
                                <dt>Interessado:</dt>
                                <dd>{{ chamado.interessado|format }}</dd>
                                <dt>Aberto Em:</dt>
                                <dd>{{ chamado.aberto_em }}</dd>
                            </dl>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="grafico_media_tempo_atendimento_agrupado_por_ano" class="grafico100"></div>
            <div id="grafico_media_tempo_resposta_agrupado_por_ano" class="grafico100"></div>
        {% endbox %}

    {% else %}
        <p class="msg alert">A busca realizada não encontrou nenhum registro.</p>
    {% endif %}

{% endblock %}
