{% extends super_template %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block favicon %}
	{% if ha_pendencias %}
		<link rel="shortcut icon" href="{% static 'comum/img/favicon-warning.png' %}" />
	{% else %}
		<link rel="shortcut icon" href="{% static 'comum/img/favicon.png' %}" />
	{% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script>
        setTimeout("location.reload(true);", 30000); //30 segundos
    </script>
{% endblock %}

{% block bodyclass %}index fullscreen{% endblock %}

{% block aside %}{% endblock %}

{% block content %}
    <div class="flex-container modulos">

        {% for item in resultado %}
            <div class="modulo-info">
                <h3><span><i class="fas fa-list" aria-hidden="true"></i> {{ item.grupo }}</span></h3>
                <div class="wrapper">
                    <div class="flex-container">
                        {% if organizar_por_tipo %}
                            {% if item.qtd_incidentes_nao_atribuidos > 0 %}
                                <div class="modulo modulo-indicador">
                                    <a href="/centralservicos/listar_chamados_suporte/?tipo=INC&atribuicoes=3&grupo_atendimento={{ item.grupo.id }}">
                                        <h4 class="false">{{ item.qtd_incidentes_nao_atribuidos }}</h4>
                                        <h5>Incidentes</h5>
                                        <p>Não Atribuídos</p>
                                    </a>
                                </div>
                            {% endif %}
                            {% if item.qtd_requisicoes_nao_atribuidas > 0 %}
                                <div class="modulo modulo-indicador">
                                    <a href="/centralservicos/listar_chamados_suporte/?tipo=REQ&atribuicoes=3&grupo_atendimento={{ item.grupo.id }}">
                                        <h4 class="false">{{ item.qtd_requisicoes_nao_atribuidas }}</h4>
                                        <h5>Requisições</h5>
                                        <p>Não Atribuídas</p>
                                    </a>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if item.qtd_nao_atribuidos > 0 %}
                                <div class="modulo modulo-indicador">
                                    <a href="/centralservicos/listar_chamados_suporte/?atribuicoes=3&grupo_atendimento={{ item.grupo.id }}">
                                        <h4 class="false">{{ item.qtd_nao_atribuidos }}</h4>
                                        <h5>Chamado{{ item.qtd_nao_atribuidos|pluralize }}</h5>
                                        <p>Não Atribuído{{ item.qtd_nao_atribuidos|pluralize }}</p>
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if item.qtd_com_sla_estourado > 0 %}
                            <div class="modulo modulo-indicador">
                                <a href="/centralservicos/listar_chamados_suporte/?atribuicoes=5&grupo_atendimento={{ item.grupo.id }}&sla_estourado=on">
                                    <h4 class="false">{{ item.qtd_com_sla_estourado }}</h4>
                                    <h5>Chamados</h5>
                                    <p>Com SLA Estourado</p>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <ul class="action-bar">
                        {% if organizar_por_tipo %}
                            <li>
                                <a href="/centralservicos/listar_chamados_suporte/?tipo=INC&atribuicoes=5&grupo_atendimento={{ item.grupo.id }}" class="btn default">
                                    <i class="fas fa-fire" aria-hidden="true"></i> <strong>{{ item.qtd_incidentes_atribuidos }}</strong> incidentes atribuídos
                                </a>
                            </li>
                            <li>
                                <a href="/centralservicos/listar_chamados_suporte/?tipo=REQ&atribuicoes=5&grupo_atendimento={{ item.grupo.id }}" class="btn default">
                                    <i class="fas fa-comments" aria-hidden="true"></i> <strong>{{ item.qtd_requisicoes_atribuidas }}</strong> requisições atribuídas
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="/centralservicos/listar_chamados_suporte/?atribuicoes=5&grupo_atendimento={{ item.grupo.id }}" class="btn default">
                                    <i class="fas fa-list" aria-hidden="true"></i> <strong>{{ item.qtd_atribuidos }}</strong> chamados atribuídos
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block mainfooter %}{% endblock %}
