{% extends super_template %}


{% block content %}

{% if bases.exists %}
	<p class="msg alert"><strong>Atenção:</strong> 
		Selecione a principal base de conhecimento. 
		As demais bases serão excluídas. 
		Os chamados que foram resolvidos usando alguma das bases excluídas serão atualizados com a selecionada.
	</p>
	<form method="POST">
	{% csrf_token %}
	<table>
		<thead>
			<tr>
				<th></th>
				<th>ID</th>
				<th>Título</th>
				<th>Resumo</th>
				<th>Atualizado Em</th>
			</tr>
		</thead>
		<tbody>
			{% for base in bases %}
				<tr>
					<td><input name="base_id" type="radio" value="{{ base.id }}"/></td>
					<td>{{ base.id }}</td>
					<td>{{ base.titulo }}</td>
					<td>{{ base.resumo|safe }}</td>
					<td>{{ base.atualizado_em }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="submit-row">
		<input value="Unificar bases de conhecimento" type="submit" class="btn sucess" />
	</div>
	</form>
{% else %}
	<p class="msg alert">Nenhuma base de conhecimento selecionada.</p>
{% endif %}


{% endblock %}