{% extends super_template %}

{% block content %}

{% for chamado in chamados %}
    <div class="general-box">
        <div class="primary-info">
            {{ chamado.get_status_display|status }}
            <h4>
                <a href="/centralservicos/chamado/{{ chamado.id }}/">{{ chamado.servico.tipo }} #{{ chamado.id }}
                    <strong>{{ chamado.servico.nome }}</strong></a>
            </h4>
            <div class="extra-info">
                <p>{{ chamado.descricao|truncatewords:100 }}</p>
            </div>
        </div>
        <dl class="secondary-info">
            <div class="list-item">
                <dt>Aberto Em:</dt>
                <dd>{{ chamado.aberto_em }}</dd>
            </div>
            <div class="list-item">
                <dt>Artigos Utilizados:</dt>
                {% for base in chamado.get_bases_de_conhecimento_aplicadas %}
                    <dd>{{ base.titulo }}</dd>
                {% endfor %}
            </div>
        </dl>
    </div>
{% empty %}
    <p class="msg alert">Nenhum chamado encontrado para este usuário.</p>
{% endfor %}

{% endblock %}


