{% extends super_template %}

{% block content %}

<h3>Serviço: {{ chamado.servico.tipo }} - {{ chamado.servico }}</h3>
{% for c in chamados %}
    <div class="general-box">
        <div class="primary-info">
            <h4><a class="popup" href="/centralservicos/chamado/{{ c.id }}/">#{{ c.id }}</a></h4>
            <div class="extra-info">
                <p>{{ c.descricao|truncatewords:100 }}</p>
            </div>
        </div>
        <dl class="secondary-info">
            <div class="list-item">
                <dt>Interessado:</dt>
                <dd>{{ c.interessado|format }} ({{ c.uo_interessado.sigla }})</dd>
            </div>
            <div class="list-item">
                <dt>Aberto Em:</dt>
                <dd>{{ c.aberto_em }}</dd>
            </div>
            <div class="list-item">
                <dt>Artigos Utilizados:</dt>
                {% for base in c.get_bases_de_conhecimento_aplicadas %}
                    <dd>{{ base.titulo }}</dd>
                {% endfor %}
            </div>
        </dl>
    </div>
{% empty %}
    <p class="msg alert">Nenhum chamado foi resolvido para este serviço.</p>
{% endfor %}

{% endblock %}


