{% extends super_template %}

{% block content %}

    <ul class="action-bar">
        {% if participacao.pode_fazer_avaliacoes and not eh_somente_leitura %}
            <li><a class="btn success" href="/projetos/adicionar_avaliacao_aluno/{{ participacao.pk }}/">Adicionar Avaliação</a></li>
        {% endif %}
        <li><a class="btn" href="/projetos/projeto/{{ participacao.projeto.pk }}/?tab=equipe">Retornar ao Projeto</a></li>
    </ul>

    {% if avaliacoes.exists %}
        <table>
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Data da Avaliação</th>
                    <th>Avaliador</th>
                    <th>Considerações do Aluno Registradas em</th>
                    <th class="no-print">Opções</th>
                </tr>
            </thead>
            <tbody>
                {%  for avaliacao in avaliacoes %}
                    <tr>
                        <td>{{ avaliacao.tipo_avaliacao }}</td>
                        <td>{{ avaliacao.data_avaliacao|format }}</td>
                        <td>{{ avaliacao.vinculo_avaliado_por.pessoa.nome }}</td>
                        <td>{{ avaliacao.data_validacao|format }}</td>
                        <td class="no-print">
                            <ul class="action-bar">
                                <li><a class="btn popup" href="/projetos/ver_avaliacao_aluno/{{ avaliacao.id }}/">Ver Avaliação</a></li>
                                {% if avaliacao.participacao.vinculo_pessoa == request.user.get_vinculo and not avaliacao.data_validacao %}
                                    <li><a class="btn success" href="/projetos/registrar_consideracoes_aluno/{{ avaliacao.id }}/">Registrar Considerações</a></li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="msg alert">Nenhuma avaliação para este aluno.</p>
    {% endif %}

{% endblock %}
