{% extends super_template %}

{% block content %}

    {% box 'Avaliar Recurso' %}
        <table class="info">
            <tr>
                <td>Edital</td>
                <td>{{ recurso.projeto.edital.titulo }}</td>
            </tr>
            <tr>
                <td>Projeto</td>
                <td><a href="/projetos/projeto/{{recurso.projeto.id }}/">{{ recurso.projeto.titulo }}</a></td>
            </tr>
            <tr>
                <td>Recurso do Coordenador do Projeto</td>
                <td>{{ recurso.justificativa }}</td>
            </tr>
            <tr>
                <td>Data da Solicitação</td>
                <td>{{ recurso.data_solicitacao }}</td>
            </tr>
        </table>

        {% render_form form %}

    {% endbox %}

{% endblock %}
