{% block extrahead %}
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        .cabecalho{

            background-color:#CCCC99;
        }

        table.resultado tr {
            height: 29px;
        }

        .true {

             color: green;
        }

        .false {

             color: red;
        }

        .negrito{
            font-weight: bold;
        }

    </style>
{% endblock %}

{% block content %}
    {% if projetos %}
        {% for key, campi in resultado.items %}
            <br><br><br>
            <table class="resultado"  cellpadding="10" width="80%">
                <thead>
                    <tr>
                        <th colspan="7" align="center">
                            {{ nome_instituicao|upper }}<br>
                            {{ nome_pro_reitoria }}<br>
                            RESULTADO
                            {% if final %}
                                FINAL
                            {% else %}
                                PARCIAL
                            {% endif %}

                            DO {{ edital.titulo }}<br>
                            <i>{{key}}</i> - {{ campi|length}} Projeto(s) aprovado(s)<br>
                        </th>
                    </tr>
                    <tr class="cabecalho">
                        <th width="20px">N°</th>
                        <th>Projeto</th>
                        <th><i>Campus</i></th>
                        <th>Coordenador(a)</th>
                        <th>Pontuação</th>
                        <th>Situação</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for projeto in campi %}
                        <tr>
                            <td align="center">{{ forloop.counter }}</td>
                            <td>{{ projeto.titulo }}</td>
                            <td align="center">{{ projeto.uo }}</td>
                            <td>{{ projeto.vinculo_coordenador.pessoa.nome }}</td>
                            <td align="right">{{ projeto.pontuacao }}</td>
                            <td>{{ projeto.get_status }}</td>
                            <td>{% if projeto.get_projeto_desistencia %}<b>Aprovado em função do cancelamento do projeto: </b>'{{ projeto.get_projeto_desistencia }}' em <b>{{ projeto.get_data_selecao_fora_do_prazo }}</b>{% else %} - {% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        <h2>Total de Projetos Aprovados: {{ total_aprovados }}</h2>


    {% else %}
        <h2>A divulgação dos resultados do {{ edital.titulo }} não está disponível.</h2>
    {% endif %}
{% endblock %}
