{% extends super_template %}

{% block content %}

    <div class="search-and-filters">
		{% render_form form %}
	</div>

    {% if editais.exists %}

        {% autopaginate editais 20 %}
        {% paginate %}
		{% for edital in editais %}
			<div class="general-box">
				<div class="primary-info">
					<h4><strong>{{ edital.titulo }}</strong></h4>
					<div class="extra-info">
						<p>{{ edital.descricao }}</p>
						{% if edital.editalanexoauxiliar_set.all %}
							<h5>Anexos</h5>
							<ul>
								{%  for anexo in edital.editalanexoauxiliar_set.all %}
									{% if anexo.arquivo %}
										<li><a href="/projetos/visualizar_arquivo/{{ anexo.arquivo.id }}/">{{ anexo.nome }}</a> - {{ anexo.descricao }}</li>
									{% endif %}
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</div>
				<dl class="secondary-info">
					<div class="list-item">
						<dt>Arquivo do Edital:</dt>
						{% if edital.arquivo %}
							<dd><a href="/projetos/visualizar_arquivo/{{ edital.arquivo.id }}/">{{ edital.arquivo.nome }}</a></dd>
						{% elif edital.tem_arquivo %}
							<dd><a href="{{ edital.arquivo_mais_recente.arquivo.url }}">{{ edital.arquivo_mais_recente.nome }}</a></dd>
						{% endif %}
					</div>
					<div class="list-item">
						<dt>Inscrições:</dt>
						<dd><span class="true">{{ edital.inicio_inscricoes|format }}</span> a <span class="false">{{ edital.fim_inscricoes|format }}</span></dd>
					</div>
                    {% if edital.eh_fomento_interno %}
                        <div class="list-item">
                            <dt>Período de Pré-seleção:</dt>
                            <dd>{{ edital.inicio_pre_selecao }} - {{ edital.inicio_selecao }}</dd>
                        </div>
                        <div class="list-item">
                            <dt>Período de Seleção:</dt>
                            <dd>{{ edital.inicio_selecao }} - {{ edital.fim_selecao }}</dd>
                        </div>
                        {% if edital.data_recurso %}
                            <div class="list-item">
                                <dt>Período de Recurso:</dt>
                                <dd>{{ edital.fim_selecao }} - {{ edital.data_recurso }}</dd>
                            </div>
                        {% endif %}
                        <div class="list-item">
                            <dt>Divulgação do Resultado:</dt>
                            <dd>{{ edital.divulgacao_selecao }}</dd>
                        </div>
                    {% endif %}
					<div class="list-item">
						<dt>Para os Campi:</dt>
						<dd>{{ edital.get_uos|join:", "|format }}</dd>
					</div>
				</dl>
			</div>
		{% endfor %}
        {% paginate %}
	{% else %}
		<p class="msg alert">Nenhum edital disponível.</p>
	{% endif %}



{% endblock %}
