


{{ projetos.count }} Projeto(s) Encontrado(s)
{% box 'Projetos' %}
    <table>
        <thead>
            <tr>
                <th>Campus</th>
                <th>Edital</th>
                <th>Projeto</th>
                <th>Nome</th>
                <th>Vínculo</th>
                <th>Titulação</th>
                <th>Curso</th>
            </tr>
        </thead>
        <tbody>
            {% for dados in dados_do_projeto %}
                {% if dados.em_duplicidade %}
                    <tr class="status status-error">
                {% else %}
                    <tr>
                {% endif %}
                    <td>{{ dados.campus }}</td>
                    <td>{{ dados.edital }}</td>
                    <td><a href="/projetos/projeto/{{ dados.idprojeto }}">{{ dados.projeto }}</a></td>
                    <td>
                        {% if dados.ehcoordenador == True %}
                            <span class="negrito">{{ dados.nome }} ({{ dados.matricula }})</span>
                        {% else %}
                            {{ dados.nome }} ({{ dados.matricula }})
                        {% endif %}
                        </br> - {{ dados.lattes }}
                    </td>
                    <td>{{ dados.vinculo }}</td>
                    <td>{{ dados.titulacao }}</td>
                    <td>{{ dados.curso }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endbox %}

