{% extends super_template %}



{% block content %}

    {% box 'Emails dos Avaliadores Externos - {{ avaliadores.count }} avaliadores'%}
        {% if avaliadores.exists %}
            {{ emails }}
        {% else %}
            <p class="msg alert">Nenhum avaliador externo cadastrado.</p>
        {% endif %}
    {% endbox %}
    {% box 'Emails dos Avaliadores Internos - {{ avaliadores_internos|length }} avaliadores'%}
        {% if avaliadores_internos %}
            {{ emails_internos }}
        {% else %}
            <p class="msg alert">Nenhum avaliador interno cadastrado.</p>
        {% endif %}
    {% endbox %}
{% endblock %}
