{#{% extends super_template %}#}


{{ projetos.count }} Projeto(s) Encontrado(s)
{% for projeto in projetos %}
    {% box '{{projeto.titulo }} ({{projeto.edital.titulo }})' %}
        <ul class="action-bar">
            <li><a class="btn" href="/projetos/projeto/{{ projeto.id }}/">Visualizar Projeto</a></li>
        </ul>

        {% if projeto.get_participacoes_servidores_ativos %}
            <table>
                <caption>Professores e/ou Técnicos Administrativos do {% get_valor_por_chave "comum" "instituicao_sigla" %}</caption>
                <thead>
                    <tr>
                        <th>Membro</th>
                        <th>Contatos</th>
                        <th>Bolsista</th>
                        <th>Ativo</th>
                        <th>Titulação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in projeto.get_participacoes_servidores %}
                        <tr>
                            <td>
                                <dl>
                                    <dt>Nome:</dt>
                                    <dd>{{ p.vinculo_pessoa.pessoa.nome }}</dd>
                                    <dt>Matrícula:</dt>
                                    <dd>{{ p.vinculo_pessoa.relacionamento.matricula }}</dd>
                                    {% if p.responsavel == True %}
                                        <dt>Situação:</dt>
                                        <dd><span class="status status-alert">Coordenador do Projeto</span></dd>
                                    {% endif %}
                                </dl>
                            </td>
                            <td>
                                <dl>
                                    <dt>E-mail:</dt>
                                    <dd>{{ p.vinculo_pessoa.pessoa.email }}</dd>
                                </dl>
                            </td>

                            <td>
                                {% if p.vinculo == "Bolsista" %}
                                    <span class="status status-success">Sim</span>
                                {% else %}
                                    <span class="status status-error">Não</span>
                                {% endif %}
                            </td>
                            <td>{% if p.ativo %}<span class="status status-success"> Sim</span> {% else %} <span class="status status-error">Não</span> {% endif %}</td>
                            <td>{{ p.vinculo_pessoa.relacionamento.titulacao|format }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if projeto.get_participacoes_alunos %}
            <table>
                <caption>Estudantes do {% get_valor_por_chave "comum" "instituicao_sigla" %}</caption>
                <thead>
                    <tr>
                        <th>Membro</th>
                        <th>Contatos</th>
                        <th>Bolsista</th>
                        <th>Ativo</th>
                        <th>Curso</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in projeto.get_participacoes_alunos %}
                        <tr>
                            <td>
                                <dl>
                                    <dt>Nome:</dt>
                                    <dd>{{ p.vinculo_pessoa.pessoa.nome }}</dd>
                                    <dt>Matrícula:</dt>
                                    <dd>{{ p.get_participante.matricula }}</dd>
                                </dl>
                            </td>
                            <td>
                                <dl>
                                    <dt>E-mail:</dt>
                                    <dd>{{ p.vinculo_pessoa.pessoa.email|format }}</dd>
                                </dl>
                            </td>
                            <td>
                                {% if p.vinculo == "Bolsista" %}
                                    <span class="status status-success">Sim</span>
                                {% else %}
                                    <span class="status status-error">Não</span>
                                {% endif %}
                            </td>
                            <td>{% if p.ativo %}<span class="status status-success"> Sim</span> {% else %} <span class="status status-error">Não</span> {% endif %}</td>
                            <td>{{ p.vinculo_pessoa.user.get_relacionamento.curso_campus.descricao_historico|format }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if projeto.edital.permite_colaborador_voluntario and projeto.get_participacoes_colaboradores %}
            <table>
                <caption>Colaboradores Externos</caption>
                <thead>
                    <tr>
                        <th>Membro</th>
                        <th>Contatos</th>
                        <th>Bolsista</th>
                        <th>Ativo</th>
                        <th>Titulação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in projeto.get_participacoes_colaboradores %}
                        <tr>
                            <td>
                                <dl>
                                    <dt>Nome:</dt>
                                    <dd>{{ p.vinculo_pessoa.pessoa.nome }}</dd>
                                    <dt>CPF:</dt>
                                    <dd>{{ p.get_identificador }}</dd>
                                </dl>
                            </td>
                            <td>
                                <dl>
                                    <dt>E-mail:</dt>
                                    <dd>{{ p.vinculo_pessoa.pessoa.email }}</dd>
                                </dl>
                            </td>

                            <td>
                                {% if p.vinculo == "Bolsista" %}
                                    <span class="status status-success">Sim</span>
                                {% else %}
                                    <span class="status status-error">Não</span>
                                {% endif %}
                            </td>
                            <td>{% if p.ativo %}<span class="status status-success"> Sim</span> {% else %} <span class="status status-error">Não</span> {% endif %}</td>
                            <td>{{ p.get_participante.titulacao|format }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}


    {% endbox %}
{% endfor %}

