{% extends super_template %}

{% block content %}

    {% box 'Dados do Recurso' %}
        <table class="info">
            <tr>
                <td>Edital</td>
                <td>{{ recurso.projeto.edital.titulo}}</td>
            </tr>
            <tr>
                <td>Projeto</td>
                <td><a href="/projetos/projeto/{{recurso.projeto.id}}">{{ recurso.projeto.titulo }}</a></td>
            </tr>
             <tr>
                <td>Coordenador do Projeto</td>
                <td>{{ recurso.projeto.get_responsavel.nome}}</td>
            </tr>
            <tr>
                <td>Recurso do Coordenador do Projeto</td>
                <td>{{ recurso.justificativa}}</td>
            </tr>
            <tr>
                <td>Data da Solicitação</td>
                <td>{{ recurso.data_solicitacao}}</td>
            </tr>
            <tr>
                <td>Avaliador</td>
                <td>{{ recurso.avaliador|format }}</td>
            </tr>
            <tr>
                <td>Parecer do Avaliador</td>
                <td>{{ recurso.parecer|format }}</td>
            </tr>
            <tr><td>Situação</td>
                <td>{% if recurso.aceito %} <span class="status status-info">Aceito</span>{% elif not recurso.aceito and not recurso.data_avaliacao %}<span class="status status-alert">Aguardando avaliação</span>{% elif not recurso.aceito  %}<span class="status status-error">Não aceito</span>{% endif %}</td>
            </tr>
        </table>


    {% endbox %}

{% endblock %}