{% extends super_template %}

{% block content %}

    <div class="search-and-filters">
        {% render_form form %}
    </div>

    {% if quantidade_projetos %}
        <form method="post" id="relatoriodimensaoextensao_form">
            {% csrf_token %}
            <ul class="action-bar">
                <li><button type="submit" class="btn" name="xls" value="1">Exportar para XLS</button></li>
            </ul>
        </form>
        {% box 'Projetos por Edital' %}
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Edital</th>
                        <th rowspan="2">Projetos Submetidos</th>
                        <th rowspan="2" class="text-end">Projetos Aprovados</th>
                    </tr>
                </thead>
                <tbody>
                    {% for opcao in quantidade_projetos %}
                        <tr>
                            <td>{{ opcao.edital }}</td>
                            <td>{{ opcao.total }}</td>
                            <td class="text-end true">{{ opcao.aprovados }}</td>
                        </tr>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td>{{ soma_total }}</td>
                            <td class="true">{{ soma_aprovados }}</td>
                        </tr>
                    </tfoot>
                </tbody>
            </table>
        {% endbox %}
        {% box 'Projetos por Área Temática' %}
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Edital</th>
                        <th colspan="2">Comunicação</th>
                        <th colspan="2">Cultura</th>
                        <th colspan="2">Direitos Humanos e Justiça</th>
                        <th colspan="2">Educação</th>
                        <th colspan="2">Meio Ambiente</th>
                        <th colspan="2">Saúde</th>
                        <th colspan="2">Tecnologia e Produção</th>
                        <th colspan="2">Trabalho</th>
                        <th colspan="2">Multidisciplinar</th>
                        <th colspan="2">Outros/Não Informado</th>
                        <th rowspan="2">Total Submetido</th>
                        <th rowspan="2">Total Aprovado</th>
                    </tr>
                    <tr>
                        <th class="text-end">Submetidos</th>
                        <th class="text-end">Aprovados</th>
                        <th class="text-end">Submetidos</th>
                        <th class="text-end">Aprovados</th>
                        <th class="text-end">Submetidos</th>
                        <th class="text-end">Aprovados</th>
                        <th class="text-end">Submetidos</th>
                        <th class="text-end">Aprovados</th>
                        <th class="text-end">Submetidos</th>
                        <th class="text-end">Aprovados</th>
                        <th class="text-end">Submetidos</th>
                        <th class="text-end">Aprovados</th>
                        <th class="text-end">Submetidos</th>
                        <th class="text-end">Aprovados</th>
                        <th class="text-end">Submetidos</th>
                        <th class="text-end">Aprovados</th>
                        <th class="text-end">Submetidos</th>
                        <th class="text-end">Aprovados</th>
                        <th class="text-end">Submetidos</th>
                        <th class="text-end">Aprovados</th>
                    </tr>
                </thead>
                <tbody>
                    {% for opcao in quantidade_projetos  %}
                        <tr>
                            <td>{{ opcao.edital }}</td>
                            <td class="text-end">{{ opcao.comunicacao_total }}</td>
                            <td class="text-end true">{{ opcao.comunicacao_aprovados }}</td>
                            <td class="text-end">{{ opcao.cultura_total }}</td>
                            <td class="text-end true">{{ opcao.cultura_aprovados }}</td>
                            <td class="text-end">{{ opcao.direito_total }}</td>
                            <td class="text-end true">{{ opcao.direito_aprovados }}</td>
                            <td class="text-end">{{ opcao.educacao_total }}</td>
                            <td class="text-end true">{{ opcao.educacao_aprovados }}</td>
                            <td class="text-end">{{ opcao.meio_ambiente_total }}</td>
                            <td class="text-end true">{{ opcao.meio_ambiente_aprovados }}</td>
                            <td class="text-end">{{ opcao.saude_total }}</td>
                            <td class="text-end true">{{ opcao.saude_aprovados }}</td>
                            <td class="text-end">{{ opcao.tecnologia_total }}</td>
                            <td class="text-end true">{{ opcao.tecnologia_aprovados }}</td>
                            <td class="text-end">{{ opcao.trabalho_total }}</td>
                            <td class="text-end true">{{ opcao.trabalho_aprovados }}</td>
                            <td class="text-end">{{ opcao.multidisciplinar_total }}</td>
                            <td class="text-end true">{{ opcao.multidisciplinar_aprovados }}</td>
                            <td class="text-end">{{ opcao.outros_total }}</td>
                            <td class="text-end true">{{ opcao.outros_aprovados }}</td>
                            <td class="text-end">{{ opcao.total|format }}</td>
                            <td class="text-end true">{{ opcao.aprovados|format }}</td>
                        </tr>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td class="text-end">{{ projetos_area_tematica_comunicacao_total }}</td>
                            <td class="text-end">{{ projetos_area_tematica_comunicacao_aprovados }}</td>
                            <td class="text-end">{{ projetos_area_tematica_cultura_total }}</td>
                            <td class="text-end">{{ projetos_area_tematica_cultura_aprovados }}</td>
                            <td class="text-end">{{ projetos_area_tematica_direito_total }}</td>
                            <td class="text-end">{{ projetos_area_tematica_direito_aprovados }}</td>
                            <td class="text-end">{{ projetos_area_tematica_educacao_total }}</td>
                            <td class="text-end">{{ projetos_area_tematica_educacao_aprovados }}</td>
                            <td class="text-end">{{ projetos_area_tematica_meio_ambiente_total }}</td>
                            <td class="text-end">{{ projetos_area_tematica_meio_ambiente_aprovados }}</td>
                            <td class="text-end">{{ projetos_area_tematica_saude_total }}</td>
                            <td class="text-end">{{ projetos_area_tematica_saude_aprovados }}</td>
                            <td class="text-end">{{ projetos_area_tematica_tecnologia_total }}</td>
                            <td class="text-end">{{ projetos_area_tematica_tecnologia_aprovados }}</td>
                            <td class="text-end">{{ projetos_area_tematica_trabalho_total }}</td>
                            <td class="text-end">{{ projetos_area_tematica_trabalho_aprovados }}</td>
                            <td class="text-end">{{ projetos_area_tematica_multidisciplinar_total }}</td>
                            <td class="text-end">{{ projetos_area_tematica_multidisciplinar_aprovados }}</td>
                            <td class="text-end">{{ projetos_area_tematica_outros_total }}</td>
                            <td class="text-end">{{ projetos_area_tematica_outros_aprovados }}</td>
                            <td class="text-end">{{ projetos_area_tematica_total }}</td>
                            <td class="text-end">{{ projetos_area_tematica_aprovados }}</td>
                        </tr>
                    </tfoot>
                </tbody>
            </table>
        {% endbox %}
        {% box 'Participantes por Edital' %}
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Edital</th>
                        <th colspan="3">Bolsistas</th>
                        <th colspan="3">Voluntários</th>
                        <th rowspan="2">Total</th>
                    </tr>
                    <tr>
                        <th rowspan="2">Docente</th>
                        <th rowspan="2">Téc. Adm.</th>
                        <th rowspan="2">Discente</th>
                        <th rowspan="2">Docente</th>
                        <th rowspan="2">Téc. Adm.</th>
                        <th rowspan="2">Discente</th>
                    </tr>

                </thead>
                <tbody>
                    {% for opcao in quantidade_participantes %}
                        <tr>
                            <td>{{ opcao.edital }}</td>
                            <td class="text-end">{{ opcao.docentes_bolsistas }}</td>
                            <td class="text-end">{{ opcao.tecnicos_adm_bolsistas }}</td>
                            <td class="text-end">{{ opcao.alunos_bolsistas }}</td>
                            <td class="text-end">{{ opcao.docentes_voluntarios }}</td>
                            <td class="text-end">{{ opcao.tecnicos_adm_voluntarios }}</td>
                            <td class="text-end">{{ opcao.alunos_voluntarios }}</td>
                            <td class="text-end">{{ opcao.total_membros_edital }}</td>
                        </tr>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td class="text-end">{{ total_membros_edital_docentes_bolsistas }}</td>
                            <td class="text-end">{{ total_membros_edital_tecnicos_adm_bolsistas }}</td>
                            <td class="text-end">{{ total_membros_edital_alunos_bolsistas }}</td>
                            <td class="text-end">{{ total_membros_edital_docentes_voluntarios }}</td>
                            <td class="text-end">{{ total_membros_edital_tecnicos_adm_voluntarios }}</td>
                            <td class="text-end">{{ total_membros_edital_alunos_voluntarios }}</td>
                            <td class="text-end">{{ total_membros_edital_geral }}</td>
                        </tr>
                    </tfoot>
                </tbody>
            </table>
        {% endbox %}
        {% box 'Participantes por Área Temática' %}
             <table>
                <thead>
                    <tr>
                        <th rowspan="2">Área Temática</th>
                        <th colspan="3">Bolsistas</th>
                        <th colspan="3">Voluntários</th>
                        <th rowspan="2">Total</th>
                    </tr>
                    <tr>
                        <th rowspan="2">Docente</th>
                        <th rowspan="2">Téc. Adm.</th>
                        <th rowspan="2">Discente</th>
                        <th rowspan="2">Docente</th>
                        <th rowspan="2">Téc. Adm.</th>
                        <th rowspan="2">Discente</th>
                    </tr>
                </thead>
                <tbody>
                    {% for opcao in participantes_por_area_tematica %}
                        <tr>
                            <td>{{ opcao.area }}</td>
                            <td class="text-end">{{ opcao.docentes_bolsistas }}</td>
                            <td class="text-end">{{ opcao.tec_adm_bolsistas }}</td>
                            <td class="text-end">{{ opcao.alunos_bolsistas }}</td>
                            <td class="text-end">{{ opcao.docentes_voluntarios }}</td>
                            <td class="text-end">{{ opcao.tec_adm_voluntarios }}</td>
                            <td class="text-end">{{ opcao.alunos_voluntarios }}</td>
                            <td class="text-end">{{ opcao.total }}</td>
                        </tr>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td class="text-end">{{ area_tematica_total_docente_bols }}</td>
                            <td class="text-end">{{ area_tematica_total_tec_adm_bols }}</td>
                            <td class="text-end">{{ area_tematica_total_aluno_bols }}</td>
                            <td class="text-end">{{ area_tematica_total_docente_vol }}</td>
                            <td class="text-end">{{ area_tematica_total_tec_adm_vol }}</td>
                            <td class="text-end">{{ area_tematica_total_aluno_vol }}</td>
                            <td class="text-end">{{ area_tematica_total_geral }}</td>
                        </tr>
                    </tfoot>
                </tbody>
            </table>
        {% endbox %}
        {% box 'Discentes x Área Temática x Modalidade de Ensino' %}
             <table>
                <thead>
                    <tr>
                        <th>Área Temática</th>
                        <th>Bolsistas</th>
                        <th>Voluntários</th>
                    </tr>
                </thead>
                <tbody>
                    {% for opcao in alunos_por_modalidade %}
                        <tr>
                            <td>{{ opcao.area }}</td>
                            <td>
                                <ul>
                                    {% for item in  opcao.bolsistas %}
                                    <li>{{ item.0 }}: <b>{{ item.1 }}</b></li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for item in  opcao.voluntarios %}
                                    <li>{{ item.0 }}: <b>{{ item.1 }}</b></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><b>Total por Modalidade</b></td>
                        <td>
                            <ul>
                                {% for chave, item in total_bolsistas_discentes.items %}
                                    {% if item.total %}
                                        <li>{{ chave }}: <b>{{ item.total }}</b></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for chave, item in total_voluntarios_discentes.items %}
                                    {% if item.total %}
                                        <li>{{ chave }}: <b>{{ item.total }}</b></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td>{{ total_geral_bolsistas_discentes }}</td>
                        <td>{{ total_geral_voluntarios_discentes }}</td>
                    </tr>
                </tfoot>
            </table>
        {% endbox %}


    {% box 'Coordenadores x Área Temática x Categoria' %}
             <table>
                <thead>
                    <tr>
                        <th>Área Temática</th>
                        <th>Bolsistas</th>
                        <th>Voluntários</th>
                    </tr>
                </thead>
                <tbody>
                    {% for opcao in coordenadores_por_categoria %}
                        <tr>
                            <td>{{ opcao.area }}</td>
                            <td>
                                <ul>
                                    {% for item in  opcao.bolsistas %}
                                    <li>{{ item.0 }}: <b>{{ item.1 }}</b></li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for item in  opcao.voluntarios %}
                                    <li>{{ item.0 }}: <b>{{ item.1 }}</b></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><b>Total por Categoria</b></td>
                        <td>
                            <ul>
                                {% for chave, item in total_bolsistas_coordenadores.items %}
                                    {% if item.total %}
                                        <li>{{chave }}: <b>{{ item.total }}</b></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for chave, item in total_voluntarios_coordenadores.items %}
                                    {% if item.total %}
                                        <li>{{chave }}: <b>{{ item.total }}</b></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td>{{ total_geral_bolsistas_coordenadores }}</td>
                        <td>{{ total_geral_voluntarios_coordenadores }}</td>
                    </tr>
                </tfoot>
            </table>
        {% endbox %}

    {% else %}        
        {% if escolheu_ano %}
            <p class="msg alert">Nenhum Edital para o ano selecionado.</p>
        {% else %}
            <p class="msg alert">Selecione um ano para visualizar o relatório.</p>
        {% endif %}
    {% endif %}
{% endblock %}
