{% if visitas_tecnicas %}
    <div class="tab-container" data-title="Visitas Técnicas" data-counter="{{ visitas_tecnicas.count }}" data-hide-tab-on-counter-zero="true" data-tab="visitas_tecnicas">
            {% box 'Visitas Técnicas' %}
                <table>
                    <thead>
                    <tr>
                        <th>Campus</th>
                        <th>Data</th>
                        <th>Instituição Visitada</th>
                        <th>Município</th>
                        <th>Objetivos</th>
                        <th>Participantes</th>
                        <th>Encaminhamentos</th>
                        <th>Dados do Contato</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for visita in visitas_tecnicas %}
                        <tr>
                            <td>{{ visita.campus }}</td>
                            <td>{{ visita.data }}</td>
                            <td>{{ visita.instituicao_visitada }}</td>
                            <td>{{ visita.municipio }}</td>
                            <td>
                                <ul>
                                    {% for objetivo in visita.objetivos.all %}
                                        <li>{{ objetivo }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for participante in visita.participantes.all %}
                                        <li>{{ participante|format }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ visita.encaminhamentos }}</td>
                            <td>
                                <dl>
                                    <dt>Nome:</dt>
                                    <dd>{{ visita.nome_contato }}</dd>
                                    <dt>Telefone:</dt>
                                    <dd>{{ visita.telefone_contato }}</dd>
                                    <dt>Email:</dt>
                                    <dd>{{ visita.email_contato }}</dd>
                                </dl>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endbox %}
        </div>
{% endif %}
{% if participacoes_extensao %}
    <div class="tab-container" data-title="Participações em Extensões" data-tab="participacoes_extensoes" data-counter="{{ participacoes_extensao.count }}" data-hide-tab-on-counter-zero="true">
    {% if request.GET.tab == "participacoes_extensoes" or not request.GET.tab %}
        {% box 'Projetos de Extensão' %}
            {% if participacoes_extensao.exists %}
                <table>
                    <thead>
                    <tr>
                        <th class="no-print">Ações</th>
                        <th>Edital</th>
                        <th>Projeto</th>
                        <th>Situação</th>
                        {% if verificacao_propria and participacao.pode_emitir_certificado_de_participacao_extensao %}
                            <th class="no-print">Opções</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for participacao in participacoes_extensao %}
                        <tr>
                            <td class="no-print">{% icon "view" "/projetos/projeto/{{ participacao.projeto.pk }}/" %}</td>
                            <td>{{ participacao.projeto.edital.titulo }}</td>
                            <td>{{ participacao.projeto.titulo }}</td>
                            <td>{{ participacao.projeto.get_status|format|status }}</td>
                            {% if verificacao_propria and participacao.pode_emitir_certificado_de_participacao_extensao %}
                                <td class="no-print">
                                    <a class="btn" href="/projetos/emitir_certificado_extensao_pdf/{{ participacao.id }}/">Certificado
                                        de Participação</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="msg alert">O servidor não participa de nenhum projeto de extensão.</p>
            {% endif %}
        {% endbox %}
    {% endif %}
    </div>
{% endif %}
