{% extends super_template %}



{% block content %}

    <div class="search-and-filters">
        {% render_form form %}
    </div>
    {% if projetos_cancelados %}
        <table>
            <thead>
                <tr>
                    <th>Edital</th>
                    <th>Projeto</th>
                    <th>Coordenador</th>
                    <th>Justificativa</th>
                    <th>Data da Solicitação</th>
                    <th>Cancelado</th>
                    <th class="no-print">Opções</th>
                </tr>
            </thead>
            <tbody>
            	{% autopaginate projetos_cancelados 20 %}
                {% paginate %}
                {% for projeto in projetos_cancelados %}
                    <tr>
                        <td>{{ projeto.projeto.edital.titulo }}</td>
                        <td><a href="/projetos/projeto/{{projeto.projeto.id}}">{{ projeto.projeto.titulo }}</a></td>
                        <td>{{ projeto.projeto.vinculo_coordenador.user|format }}</td>
                        <td>{{ projeto.justificativa_cancelamento }}</td>
                        <td>{{ projeto.data_solicitacao }}</td>
                        <td>{% if projeto.cancelado %} <span class="status status-info">Sim</span>{% elif projeto.data_avaliacao %} <span class="status status-error">Não</span>{% else %} <span class="status status-alert">Aguardando Avaliação</span>{% endif %}</td>
                        <td class="no-print">
                            <ul class="action-bar">
                                {% if not projeto.data_avaliacao %}
                                    <li><a href="/projetos/avaliar_cancelamento_projeto/{{ projeto.id}}/" class="btn success">Avaliar</a></li>
                                {% else %}
                                    <li><a href="/projetos/avaliar_cancelamento_projeto/{{ projeto.id}}/" class="btn primary">Editar Avaliação</a></li>
                                {% endif %}
                            </ul>                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% paginate %}
    {% else %}
        <p class="msg alert">Nenhum projeto foi encontrado.</p>
    {% endif %}

{% endblock %}
