{% extends super_template %}

{% block content %}

    {% box 'Alterações no Período de Execução do Projeto' %}
        <table>
            <tr>
                <th>Início da Execução</th>
                <th>Fim da Execução</th>
                <th>Justificativa</th>
                <th>Registrado Por</th>
                <th>Registrado Em</th>
            </tr>
            {% for registro in registros %}
                <tr>
                    <td>{{ registro.inicio_execucao }}</td>
                    <td>{{ registro.fim_execucao }}</td>
                    <td>{{ registro.justificativa }}</td>
                    <td>{{ registro.vinculo_registrado_por.pessoa.nome }}</td>
                    <td>{{ registro.registrado_em }}</td>
                </tr>
            {% endfor %}
        </table>

    {% endbox %}

{% endblock %}