{% extends super_template %}

{% block content %}

    {% box 'Alteração de Pontuação' %}
        <table class="info">
            <tr>
                <td>Pontuação Original</td>
                <td>{{ itemavaliacao.pontuacao_original }}</td>
            </tr>
            <tr>
                <td>Pontuação Após Recurso</td>
                <td>{{ itemavaliacao.pontuacao }}</td>
            </tr>
            <tr>
                <td>Pontuação Alterada Por</td>
                <td>{{ itemavaliacao.vinculo_responsavel_alteracao.pessoa.nome }}</td>
            </tr>
            <tr>
                <td>Pontuação Alterada Em</td>
                <td>{{ itemavaliacao.data_alteracao }}</td>
            </tr>
            {% if itemavaliacao.recurso and eh_sistemico %}
                <tr>
                    <td>Recurso Associado à Alteração</td>
                    <td><a href="/projetos/recurso_projeto/{{itemavaliacao.recurso.id}}/" class="popup">{{ itemavaliacao.recurso }}</a></td>
                </tr>
            {% endif %}

        </table>


    {% endbox %}

{% endblock %}