{% extends super_template %}

{% block content %}

	<ul class="action-bar">
		<li><a class="btn" href="/projetos/projeto/{{ projeto.pk }}/">Voltar</a></li>
	</ul>

	{%  if itens_avaliacao %}
		{% if avaliacao.tem_nota_alterada %}
			<p class="msg info">Notas com (*) foram alteradas após aceitação de recurso.</p>
		{% endif %}
		<table>
	        <thead>
				<tr>
					<th>Critério</th>
	            	<th>Pontuação</th>
	            	<th>Pontuação Máxima</th>
					{% if projeto.recursoprojeto.aceito %}
						<th class="no-print">Opções</th>
					{% endif %}
	        	</tr>
			</thead>
	        <tbody>
	            {%  for item in itens_avaliacao %}
					<tr>
						<td>{{ item.criterio_avaliacao.descricao }}</td>
						<td>
							{{ item.pontuacao }}
							{% if item.pontuacao_original %}
								*
							{% endif %}
						</td>
						<td>{{ item.criterio_avaliacao.pontuacao_maxima }}</td>
						{% if projeto.recursoprojeto.aceito %}
							<td class="no-print">
								<ul class="action-bar">
									{% if eh_sistemico %}
										<li><a href="/projetos/alterar_ficha_avaliacao/{{ item.id}}/" class="btn success popup" title="Alterar Nota">Alterar Nota</a></li>
									{% endif %}
									{% if item.pontuacao_original %}
										<li><a href="/projetos/ver_alteracao_ficha_avaliacao/{{ item.id}}/" class="btn popup" title="Ver Alteração">Ver Alteração</a></li>
									{% endif %}
								</ul>
							</td>
						{% endif %}
					</tr>
	            {% endfor %}
				<tr>
					<th>Parecer </th>
					<td colspan="3">{{ avaliacao.parecer }}</td>
				</tr>
	        </tbody>
	    </table>

	{% else %}
	    <p class="msg alert">Nenhuma avaliação disponível.</p>
	{% endif %}
{% endblock %}