<table>
    <thead>
    <tr>
        <th align="center"><input type="checkbox"
                                  onchange="var is = this.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByTagName('input');for(var i=0; i<is.length; i++) is[i].checked = this.checked"/>
        </th>
        <th>Matrícula</th>
        <th>Nome</th>
        <th>Situação</th>
        <th>Curso</th>
        <th>Turno</th>
        <th>Via Atual</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
        <tr>
            <td align="center">{{ obj.widget }}</td>
            <td align="center">{{ obj.matricula }}</td>
            <td>{{ obj.pessoa_fisica.nome|upper|format }}</td>
            <td>{{ obj.situacao|format|upper }}</td>
            <td>{{ obj.curso_campus }}</td>
            <td>{{ obj.turno|format }}</td>
            <td>{{ obj.get_ultima_via_diploma|format }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>