<table>
    <thead>
    <tr>
        <th class="text-center"><input type="checkbox"
                                        onchange="var is = this.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByTagName('input');for(var i=0; i<is.length; i++) is[i].checked = this.checked"/>
        </th>
        <th class="text-center">Matrícula</th>
        <th class="text-center">Nome</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
        <tr>
            <td class="text-center">{{ obj.widget }}</td>
            <td>{{ obj.matricula_periodo.aluno.matricula }}</td>
            <td>{{ obj.matricula_periodo.aluno.get_nome_social_composto }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>