{% if objects %}
    <table>
        <thead>
        <tr>
            <th><input type="checkbox"
                       onchange="var is = this.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByTagName('input');for(var i=0; i<is.length; i++) is[i].checked = this.checked"/>
            </th>
            <th>Período</th>
            <th>Descrição</th>
            <th>CH</th>
            <th>Tipo</th>
            <th>Optativo</th>
            <th>Qtd Avaliações</th>
            <th>Núcleo</th>
            <th>CH Teórica</th>
            <th>CH Prática</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in objects %}
            <tr>
                <td align="center">{{ obj.widget }}</td>
                <td align="center">{{ obj.periodo_letivo|format }}</td>
                <td>{{ obj.componente }}</td>
                <td>
                    <dl>
                        <dt>CH Relógio:</dt>
                        <dd>{{ obj.componente.ch_hora_relogio }}</dd>
                        <dt>CH Aula:</dt>
                        <dd>{{ obj.componente.ch_hora_aula }}</dd>
                    </dl>
                </td>
                <td>{{ obj.get_tipo_display }}</td>
                <td align="center">{{ obj.optativo|format }}</td>
                <td align="center">{{ obj.qtd_avaliacoes }}</td>
                <td>{{ obj.nucleo }}</td>
                <td align="center">{{ obj.ch_presencial }}</td>
                <td align="center">{{ obj.ch_pratica }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
