{% if objects %}
    <table>
        <thead>
        <tr>
            <th>-</th>
            <th>Sigla</th>
            <th>Descrição</th>
            <th>CH</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in objects %}
            <tr>
                <td align="center">{{ obj.widget }}</td>
                <td>{{ obj.diario.componente_curricular.componente.sigla|format }}</td>
                <td>{{ obj.diario.componente_curricular.componente.descricao }}</td>
                <td align="center">{{ obj.diario.componente_curricular.componente.ch_hora_relogio|format }} horas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
