{% extends super_template %}

{% block extracss %}
<link rel="stylesheet" href="/static/orcamento/css/orcamento.css" />
<link rel="stylesheet" href="/static/orcamento/css/relatorio.css" />
<link rel="stylesheet" href="/static/orcamento/css/relatorio_estrutura_programatica.css" />
{% endblock %}

{% block content %}

<label id="titulo_relatorio">Quadro de Detalhamento de Despesas do Orçamento</label>

<div class="cx_tabela">
	<table>
		<thead>
			<tr>
				<th width="120px">Código</th>
				<th style="text-align:center;">Programa / Ação / Natureza de Despesa</th>
				<th style="text-align:center;" width="80px">Fte. Recurso</th>
				<th style="text-align:center;" width="100px">Valor</th>
			</tr>
		</thead>
		<tbody>
			{% for programa in programas %}
			<tr>
				<td style="font-weight:bold;">{{ programa.codigo }}</td>
				<td style="font-weight:bold;">{{ programa.nome }}</td>
				<td></td>
				<td style="text-align:right;font-weight:bold;">{{ programa.get_valor_total_epf|mascara_dinheiro }}</td>
			</tr>
			{% for acao in programa.acao_set.all %}
			<tr>
				<td style="font-weight:bold;font-style:italic;">{{ programa.codigo }}.{{ acao.codigo }}</td>
				<td style="font-weight:bold;font-style:italic;text-indent:20px;">{{ acao.nome }}</td>
				<td></td>
				<td style="text-align:right;font-weight:bold;font-style:italic;">{{ acao.get_valor_total_epf|mascara_dinheiro }}</td>
			</tr>
			{% for estrutura_programatica in acao.estruturaprogramaticafinanceira_set.all %}
			<tr>
				<td>{{ programa.codigo }}.{{ acao.codigo }}.{{ estrutura_programatica.natureza_despesa.codigo_resumo }}</td>
				<td style="text-indent:50px;">{{ estrutura_programatica.natureza_despesa.descricao }}</td>
				<td style="text-align:center;">{{ estrutura_programatica.fonte_recurso.codigo }}</td>
				<td style="text-align:right;">{{ estrutura_programatica.valor|mascara_dinheiro }}</td>
			</tr>
			{% endfor %}
			{% endfor %}
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
